[2020-11-12 21:42] #40012 closed

[2020-11-12 23:42] bedo2405 opened #40015 "Crashed Unexpectedly"
Crash ID: 65355f270eeb2e87ce8d00850d759dfc996fccbc

Stack Trace

QMimeType::staticMetaObject :
QgsVectorLayer::isModified qgsvectorlayer.cpp:3624
QgsLayerTreeModel::data qgslayertreemodel.cpp:244
QModelIndex::data :
QStyledItemDelegate::initStyleOption :
QStyledItemDelegate::sizeHint :
QTreeViewPrivate::widthHintForIndex :
QTreeView::sizeHintForColumn :
QHeaderView::resizeSections :
QHeaderView::v

[2020-11-13 00:49] PedroVenancio commented on #39843
Hi @root676

Sorry for the delay in this feedback, but I'm seeing that the output of Median with an even number of input layers is still an Integer raster (Int16). For the pixel of the example above, the output is 14, instead of 14.5, because, I believe, the raster type truncates the output.

Maybe when the stackSize be even, Median should generate Float32/Float64 data types just like Mean, since

[2020-11-13 01:59] drf5n commented on #39876
The `Lat Lon Tools` plugin has some of this functionality under its `Copy/Display Coordinate` feature.

[2020-11-13 02:14] ozhamlet commented on #39876
Thanks for that.  I can see that works for 'exporting' a Lat/Lon pair from QGIS.   What I'm also needing is to go to a Lat/Lon in QGIS that I've copied into the clipboard from another app without having to copy each value separately or to copy both together and then reverse the order.

[2020-11-13 02:17] drf5n commented on #39876
Does the `Lat Lon Tools` feature `Zoom to Coordinate` work for you?

[2020-11-13 02:20] ozhamlet commented on #39876
Yes, that's it.  I didn't realise that's what it did.  Thanks for pointing it out.

[2020-11-13 02:20] #39876 closed

[2020-11-13 07:48] m-kuhn opened #40020 "Calculate aggregate values from array in expressions"
Given an array, it would be nice to be able to calculate aggregate values.
This is already possible to do over features from a layer using the `relation_aggregate` or `relation_aggregate`.

This could be done by overloading the existing `aggregate` method or by creating a new one `array_aggregate`.

[code]

[2020-11-13 07:48] m-kuhn commented on #29092
Replaced by https://github.com/qgis/QGIS/issues/40020

[2020-11-13 07:48] #29092 closed

[2020-11-13 08:24] m-kuhn commented on #40001
There are 2 possibilities:

 1. Implement the feedback check in oracle and every other potentially blocking place
 2. Add a "task has not responded in x seconds, kill it?" like operating systems do for processes

I think the two are not mutually exclusive

[2020-11-13 08:57] root676 commented on #39843
You are totally right here - thank you for the report, I didn't take that into account when I fixed the median. PR is on the way!

[2020-11-13 09:33] root676 commented on #39843
After reviewing the code, I have to correct myself. In this case I would prefer data type consistency over result precision. Currently the algorithm scans the input raster stack and assigns the output data type according to the input raster with the most potent input data type: For example a stack of 4 rasters, with one of those rasters being float32, will set the output data type to float32 - in

[2020-11-13 09:38] #39757 closed

[2020-11-13 09:59] SrNetoChan commented on #39843
I agree with @PedroVenancio the result should be accurate and honor the median formula. So, if needed, the output should be moved from integer to float.

I don't think ArcGIS is doing it correctly.

Moving the result back to integer is not a problem, but recovering the truncated values is impossible.

How about an option to "keep input format" with a warning that it might truncate the result?

[2020-11-13 10:07] PedroVenancio commented on #39843
Yeah, I tend to agree with @SrNetoChan . For a user that does not know a floor or a ceil, the output can be confusing. 14.5 rounded for an integer is 15, 14 can be confusing in their minds.

@root676  However, if you think it is better to keep the same behaviour than arcgis, or if it can be side effects in other metrics, at least the help at the right of the tool needs to be something like:

Calcu

[2020-11-13 10:23] root676 commented on #39843
@SrNetoChan @PedroVenancio Thanks for your thoughts - this is very convincing. But I think that a parameter `keep input format` is a little confusing because it would be only related to the median function. I'll update the algorithm to the new behavior and describe it in the algorithm help string/documentation.

[2020-11-13 10:33] Jean-Roc opened #40023 "Private layer feature conflicts with embedded layers/groups"
**Description**

On OSGEO4W qgis-dev 3.17.0-Master (rev ccdff23dbe), the *Private layer* feature seems to conflict with the use of embedded groups and layers, even if none of them has the private property set on in the project.

As you can see in the screencapture, the ToC doesn't display all the groups/layer while the canvas does render their content.

**QGIS and OS versions**

- fails on OSGEO4W

[2020-11-13 11:13] gioman commented on #40015
@bedo2405 too few infos, the **requested** ones are:

**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

[2020-11-13 11:52] jonnyforestGIS commented on #33755
@gioman you're right.
I did a tested with the master and change the options but the behaviour with the new options but the issue still there. Please see my comment in #39777 , I will wait for @nirvn to answer, maybe I'm doing something wrong. Cheers

[2020-11-13 12:40] sebastianoscarlopez opened #40024 "The docker container is not working"
The docker container is not working. It happens with final-3_14_14 and latest

The steps to reproduce
docker pull qgis/qgis:final-3_14_14

docker run -it qgis/qgis:final-3_14_14

It stuck with this text
INFO success: Xvfb entered RUNNING state, process has stayed up for > than 1 seconds

[2020-11-13 12:41] anitagraser commented on #39804
@gioman could you tag this issue as "Time controller" as well, please?

[2020-11-13 12:42] anitagraser commented on #39076
@gioman could you tag this issue as "Time controller" as well, please?

[2020-11-13 12:48] gioman commented on #39076
done

[2020-11-13 12:48] gioman commented on #39804
done

[2020-11-13 13:01] Forna73 commented on #39996
That's correct if you set the arrow properties as "curved" and it works well...
The "Manhattan lines" are lines angled with a 90° angle lile an 'L'

[2020-11-13 13:03] Forna73 commented on #39996
Sorry man... this is ancient aramaic to me...

[2020-11-13 13:04] roya0045 commented on #39996
@Forna73 This was not intended for you directly but anyone willing to maybe fix it.

[2020-11-13 13:10] klainkaliber opened #40025 "Add "Data defined override" capability to Vector field marker symbology"
**Feature description**

Woud be really cool & helpful if the Properties  of Vector field marker
- Length attribute
- Angle attribute
- X attribute
- Y attribute
- Height atribute
- Scale

could be modied using expressions the same way as e.g. in simple markers.

**Additional context**

like this:
![grafik](https://user-images.githubusercontent.com/3832138/99075284-82e2a100-25b9-11eb-9859-96693379

[2020-11-13 13:39] Forna73 opened #40027 "Cannot change "data source" for a layer addeded with the delimited text provider"
Hi!

I'm in Qgis 3.10.8 on Windows 10

I have a .CSV layer of points and I made a backup copy  of the file in a new folder in my system. When I opened Qgis and tried to change the data source for the layer pointing the new file position Qgis seems to work without problems, but the Layer isn't drawn on the map. Checking the table I discovered the data have been  corrupted.

I tried several other .C

[2020-11-13 13:42] gioman commented on #40027
@Forna73 duplicate of https://github.com/qgis/QGIS/issues/35144 ?

[2020-11-13 13:45] gioman commented on #40024
@sebastianoscarlopez wrong repository where to file the ticket?

[2020-11-13 13:51] grguido opened #40028 "crash on close discarding the project"
## User Feedback

When I close and discard project

## Report Details

**Crash ID**: [56f27d44bbafb5194f016810bfadc15d1d840442](https://github.com/qgis/QGIS/search?q=56f27d44bbafb5194f016810bfadc15d1d840442&type=Issues)

**Stack Trace**
<pre>
QgisApp::projectTemporalRangeChanged qgisapp.cpp:11468
QMetaObject::activate :
QgsProject::clear qgsproject.cpp:817
QgisApp::closeProject qgisapp.cpp:13386
Q

[2020-11-13 13:53] gioman commented on #40028
@grguido plesae try with a new QGIS profile.

[2020-11-13 14:00] gioman commented on #39996
@Forna73 I edit the title of this ticket, to be more clear.

[2020-11-13 14:06] GlaDal opened #40029 "Rendering quality option : could be nice if it was only on line's geometry and not for labels"
When you tick the box 'Les lignes semblent moins déchiquetées aux dépends d'une certaine vitesse d'exécution' in render's option of Qgis, could be nice to apply it only for geometries and not on labels.

[2020-11-13 15:35] multicompte4 opened #40031 "QGIS 3.16 : snapping on vertices doesn't work"
On 3.16 the snapping doesn't work anymore on vertices (it works fine on 3.10), while the preferences>options>numerisation>snapping>"activate default snapping" button is checked and the default snapping mode is on "vertices"
(tolerance is also correctly set)

screens shots :
snapping on lines OK in 3.10 : https://zupimages.net/viewer.php?id=20/46/u0cv.png
snapping on lines OK in 3.16 : https://zupi

[2020-11-13 15:43] Saijin-Naib commented on #22427
https://github.com/Saijin-Naib/QGIS-ESRI-Testfiles

Please use this data for testing/development, or let me know what data I can create for you to help you test.

[2020-11-13 17:21] Jean-Roc commented on #40023
It seems to be linked to PR #39872 which has been merged now, I'll test it monday and close this issue if it is good

[2020-11-13 17:40] roya0045 commented on #40027
Maybe related to encoding handling, but I'm not sure.

[2020-11-13 18:24] ian330 opened #40032 "Unexpected Enum Handling Postgres QGIS"
- [done] Search through existing issue reports and gis.stackexchange.com to check whether the issue already exists
- [done ] Test with a [clean new user profile]
- [done] Create a light and self-contained sample dataset and project file which demonstrates the issue

CREATE TYPE my_enum AS ENUM ('foo', 'bar');

CREATE TABLE public.test_data (
	id integer DEFAULT 1,
	enum_test my_enum NOT NULL DEFAU

[2020-11-13 18:29] Forna73 commented on #40027
Actually I can't edit a .csv file as described in that post... I can't
enable the edit mode for them.

Il ven 13 nov 2020, 18:41 Alex <notifications@github.com> ha scritto:

[2020-11-13 20:46] nicogodet commented on #40028
Fixed by https://github.com/qgis/QGIS/pull/39789

[2020-11-13 21:19] roya0045 commented on #40025
Unless I have no clue what you are talking about, this can already be done since a long time ago.

[2020-11-13 21:57] agiudiceandrea commented on #39968
The CSV import functionality **works well with qgis-dev 3.15.0-83** (QGIS 3.15.0-Master code revision 12a44c7829 - GDAL/OGR 3.2.0dev) on Windows (OSGeo4W network installer)
A debug log excerpt follows:
[code]

It **doesn't works with the latest qgis-dev 3.17.0-11** (QGIS 3.17.0-Master code revision ccdff23dbe - GDAL/OGR 3.3.0dev) on Windows (OSGeo4W network installer)

The Log Messages panel repor

[2020-11-13 22:03] nyalldawson commented on #39968
The underlying issue is an incomplete encodeUri/decodeUri implementation for this provider. It doesn't provide a lossless round trip. Also same cause for the other ticket about changing the data source of a CSV results in a broken layer.

[2020-11-13 22:09] jef-n commented on #39968
Renamed to .csv or also prefixed with CSV: the file is addable.

[2020-11-13 22:39] agiudiceandrea commented on #39968
This anyway happens with both 3.2.0dev and 3.3.0dev
[code]

[2020-11-13 23:07] agiudiceandrea commented on #39968
This only works adding the file using "Data Source Manager | Vector". It doesn't works using "Data Source Manager | Delimited Text".

[2020-11-14 01:43] agiudiceandrea commented on #39968
Hi @nyalldawson, it seems to me this issue is related to https://github.com/qgis/QGIS/issues/39847 and was introduced with https://github.com/qgis/QGIS/commit/1132494fcb679e814857d5cf7fa4f1712b52f5e1 which modified QgisApp::addVectorLayerPrivate

It seems confirmed testing the Windows MXE builds: last working build is at cfbb292bad0652057629afe31e977c1456593e4e, first non working build is at 11324

[2020-11-14 02:02] nyalldawson commented on #39968
It is -- the delimited text provider's implementation of encode/decodeuri need to be made lossless. That will fix this and other related issues.

[2020-11-14 03:06] SrNetoChan opened #40040 "Multi-edit attribute tool is very slow when using PostGIS data source"
**Describe the bug**

The ![](https://user-images.githubusercontent.com/3607161/99137218-2f0ba280-2621-11eb-8715-e22d1157e603.png) *Modify attributes of all selected features simultaneously* (AKA multi-edit attribute tool) is very slow when the data source is PostGIS, even on local databases.

**How to Reproduce**

1. Load a table from a local PostGIS database with at least a few hundred features,

[2020-11-14 05:41] nbaghm opened #40044 "Unicode is not rendered properly when placement mode is changed to "Curved""
when I want to display labels and set placement method to **Parallel**, the text is rendered without any issues,
![image](https://user-images.githubusercontent.com/4522358/99140624-6fd0df00-2654-11eb-87d2-686639a25faf.png)
 the text is rendered correctly:
![image](https://user-images.githubusercontent.com/4522358/99140635-8840f980-2654-11eb-9553-118af2cebb36.png)
 However, when I change the placem

[2020-11-14 07:38] SrNetoChan commented on #40040
As an example, in my tests:
PostGIS : 55 secs
Geopackage : 8 secs

[2020-11-14 08:48] elpaso commented on #40032
@ian330 can you please check if this issue is still valid for QGIS master builds?

[2020-11-14 10:58] gioman commented on #40040
By the way, with PostGIS layers the multi-edit tools is super slow to open  even if just **one** feature is selected.

[2020-11-14 11:11] gioman commented on #40027
@Forna73 sorry, it is unclear to me how to replicate. Correct the below steps if I got them wrong, please:

1) add to QGIS a CSV (as a point layer with the "delimited text" provider? as geometry less table adding directly to the project?)
2) make copy of this CSV (with QGIS? with the operating system file explorer?)
3) edit the original CSV in QGIS?

please clarify.

[2020-11-14 11:24] gioman commented on #40031
@multicompte4 I cannot replicate or I'm understanding how to replicate. I tested on 3.16 on Windows.
Attaching a  small sample project+data would be very useful, specifying what layer you are editing and what layer your are snapping to.

[2020-11-14 15:12] rjbaniel opened #40049 "No tooltips on QGIS 3.16.0 with Ubuntu 20.04"
Hello - I've just installed QGIS 3.16.0 on Ubuntu 20.04, using the instructions for Ubuntu at https://qgis.org/en/site/forusers/alldownloads.html#debian-ubuntu

When I open the application, I can't get tooltips to show up when hovering over any toolbar items, etc.

If I open the application by running 'qgis' from the command line, I get this error message:
`Failed to load module "appmenu-gtk-modul

[2020-11-14 15:24] gioman commented on #40049
@rjbaniel on Kubuntu 20.04 they are ok.

[2020-11-14 15:24] gioman commented on #40049
Will also try Ubuntu.

[2020-11-14 15:46] Korto19 commented on #39883
+1

[2020-11-14 17:55] borysiasty opened #40050 "Layers removed from the layer tree are not removed from the project"
Removing layers in GUI doesn't remove them from the project document any more.

Steps to reproduce:

1. Open an empty project
2. Add any layer
3. Remove it
4. QgsProject.instance().mapLayers() still contain the layer!

I'm flagging a data corruption as it makes project files inconsistent.

@elpaso, I'm assigning it to you as it may be related to the recent changes in the layer tree, doesn't it?

[2020-11-14 17:58] gioman commented on #40050
@borysiasty is this only on master?

[2020-11-14 18:16] uclaros commented on #39807
Is modifying the fields even supported by the current implementation of in place editing? Because if not, then the bug is that the algorithm is flagged as supporting in place edits while it shouldn't!

[2020-11-14 18:40] elpaso commented on #40050
Yes, a missing signal probably.

[2020-11-14 20:12] roya0045 commented on #40020
Couldn't this be done in aggregate function? Fundamentally they collect values and then perform an operation on that set of values, an arry is a filtered set of value already, no need to collect them.

Though to make things simpler a specific aggregate function in the array group might be easier. I resorted to doing such operation with custom python functions.

[2020-11-14 21:11] CoryAlbrecht opened #40054 "Ubuntu LTR repository returning wrong version"
According to the [download page](https://qgis.org/en/site/forusers/alldownloads.html#linux), If you use the repo https://qgis.org/ubuntu-ltr you should be getting  3.10LTR when you go to install QGIS on Ubuntu. However, one gets 3.16 instead..

I mentioned this on the QGIS Developers group when the website went down 6 days ago, but nobody acknowledged the problem.

[2020-11-14 21:44] jef-n commented on #40054
Because it's not reproducable.

[code]

[2020-11-14 21:52] uclaros opened #40055 "Expression widget does not list fields when Selected features only is checked"
**Describe the bug**

In processing algorithms that use a `QgsProcessingParameterExpression`, the widget has a combobox populated with the available fields. If the *Selected features only* checkbox is checked, then the expression widget no longer shows the fields in the combobox.

**How to Reproduce**
- Load a vector layer with some features
- Run an algorithm that uses a `QgsProcessingParameterEx

[2020-11-14 21:59] Angelablanco7910 opened #40056 "Wrong values using Raster Calculator"
**Describe the bug**
I need to calculate the NDVI of a four-band imagery using Raster Calculator. The output file is distorted. The output is divided in two areas. On area is black and the other area is like a reduced image of the original.

**How to Reproduce**

1. Go to Raster
2. Click on Raster Calculator
3. Type the formula: ("Valencia_crops@4" - "Valencia_crops@3")/ ("Valencia_crops@4" + "Val

[2020-11-14 22:04] jgrocha commented on #39974
## Digitizing issue
This seems to be a digitizing issue. Using PyQGIS to create and write features with curved geometries is working. It seems that the QGIS representation and `asWkb()` conversion is working.

### Digitizing with curve ![mActionDigitizeWithCurve](https://user-images.githubusercontent.com/163681/99157800-31730880-26c4-11eb-876e-f9a8c668ad96.png)

When digitizing using **Digitize wi

[2020-11-14 22:17] jgrocha commented on #39974
### The culprit: CompoundCurve

This issue is related with `CompoundCurve` generation, when digitizing.

I've created a simple CompondCurve based layer. Digitizing is producing invalid geometries, as described above (for polygons).

Invalid geometry, with an additional first point at the head of the `CompondCurve`:
[code]
Removing the first point works:
[code]

[2020-11-14 22:35] gioman commented on #40056
@Angelablanco7910 do you have GPU acceleration enabled in QGIS?

[2020-11-14 22:35] gioman commented on #40054
I also can't confirm, just downloaded to 3.10 from 3.16 on my ubuntu 20.04 machine.

[2020-11-15 00:00] jgrocha commented on #39974
### Internal representation

As far as I can check, after digitizing, the feature is represented with an additional component. `asWkb()`, `asWkt()`, etc will fail afterwards.

Digitizing the most simple curve, with just three points:
![digitized curve](https://user-images.githubusercontent.com/163681/99159062-1fe42d80-26d1-11eb-9fd8-61883e70499c.png)
will became internally a curve with 2 component

[2020-11-15 00:49] jgrocha commented on #39974
This issue might have been introduced by https://github.com/qgis/QGIS/commit/932151f33a40620f0ee4192c6b987c8df8fa30e0
I've tested with its [parent commit](https://github.com/qgis/QGIS/commit/f3a8dd792a) and the digitizing works.

What do you think @vcloarec? Can you take a look?

[2020-11-15 01:12] vcloarec commented on #39974
@jgrocha , yes, it seems that the new tool digitising with curve add this one point line string at the beginning. I look at to fix this.
Have you seen this issue using other tools?

[2020-11-15 02:39] vcloarec commented on #39974
@jgrocha , hope that it is fixed by #40059.
Thanks to report it and for the very well documented issue description!

[2020-11-15 03:23] nirvn commented on #39968
Fixed.

[2020-11-15 03:23] #39968 closed

[2020-11-15 05:02] #37319 closed

[2020-11-15 10:11] jgrocha commented on #39974
Many thanks @vcloarec for the prompt reply. I've tested your PR and it solves the issue. Please keep your good work on QGIS!

[2020-11-15 11:05] borysiasty commented on #40050
@elpaso Works fine now, thanks!
@gioman yes. Sorry I forgot to write it :)

[2020-11-15 11:28] #40050 closed

[2020-11-15 13:41] DelazJ opened #40065 "About dialog does not show commit sha in report"
Using a self-compiled 3.16 release (9e55f5e99), copying details from the About dialog doesn't seem to show the commit sha. I get

QGIS version | 3.16.0-Hannover | QGIS code branch | Release 3.16
-- | -- | -- | --
Compiled against Qt | 5.12.8 | Running against Qt | 5.12.8
Compiled against GDAL/OGR | 3.0.4 | Running against GDAL/OGR | 3.0.4
Compiled against GEOS | 3.8.0-CAPI-1.13.1 | Running against

[2020-11-15 13:43] DelazJ opened #40066 "Confusing scope of is_selected function with single feature parameter"
I don't know whether it's a bug or me misunderstanding the function help (or some missing info?)

From the help, `get_feature_by_id('streets', 1)` returns the feature with ID 1 on layer streets. And trying different expressions involving this function in different layers, it seems to return the same and unique feature, same as if I was calling `@atlas_feature` eg.

But using `is_selected(get_featu

[2020-11-15 13:45] DelazJ opened #40068 "Using Classify in Symbology dialog does not return all boolean values"
In Layer Properties, Symbology, Categorized, using an expression returning a boolean does not seem to always return all possible values, ie `0`, `1` (and `all other values`)
See classes of `gid=attribute(@atlas_feature, 'gid')`, `gid=12` and `gid='toto'` below

note:: While the expression preview shows 0 or 1 in the screencast, I get the same "bug" for expressions that previews as true/false (eg,

[2020-11-15 13:51] DelazJ opened #40069 "Atlas-related variables unavailable in select by expression dialog"
I don't know whether it has been available in the past or not, so feel free to turn it into feature request depending on the status.

It's not possible to refer to atlas feature properties when using the selection tool. But
i can imagine contexts where someone would like to select features in a layer based on whether they share (or not) common attributes or some spatial relationship with the atlas

[2020-11-15 14:06] roya0045 commented on #40068
if you use "gid"=12, does that work?

[2020-11-15 14:09] roya0045 commented on #40068
I'm pretty sure this one isn't a bug, if you want to represent a value that isn't present just add it manually. The tool doesn't see it as boolean but as integer.

[2020-11-15 14:17] SebastianKasan opened #40070 "Cannot Clip Raster with Polygon with SAGA"
Working in A Coruna, I cannot succed clipping a raster with a boundary shp-file with the Saga Clipping Tool for Raster files.

It seems like it only works with the first layer of the .tif orthomosaic. In Saga UI it is possible to perform the clipping on all layers of a raster and select individual bands.

That option is missing and this only the first layer gets clipped..

[2020-11-15 14:18] roya0045 commented on #40069
I would guess that simply doing `context.appendScope` to the context made here https://github.com/qgis/QGIS/blob/8eb1a45e219c480bb78affb3ee797f9e7b47a6bc/src/gui/qgsexpressionselectiondialog.cpp#L58
with a scope made with a nullptr like https://github.com/qgis/QGIS/blob/072222d2fd4850f1ae73a58817ccfd22b6c5dfda/src/gui/symbology/qgssymbolwidgetcontext.cpp#L97 would do the trick.

[2020-11-15 14:57] DelazJ commented on #40068
`gid = 12` as an expression is a boolean check, not an integer. It checks whether the field has value 12 or not. not checking what possible values the field should have. And for a boolean, possible values are `true` or `false` nothing more. Now if you say; it returns observed values, it explains the `gid=12` outputs (`0`) but not the toto or atlas_feature ones (empty).

[2020-11-15 15:29] roya0045 commented on #40068
As for toto the only value observed is false because gid is never = toto. the atlas feature one is a toss up depending if th atlas is active, not sure about the preview.

[2020-11-15 15:51] DelazJ commented on #40068
Yes, the 'toto' case would also be OK, for observed values. I doesn't output an empty value as I said just above.

Of course the atlas is active, otherwise the preview wouldn't evaluate to 0 or 1 and these results are correct. If inactive, I guess you'd get either 0 or Null (didn't check and this is not the point here).
If "Classify" returns the observed values, it should return what the preview s

[2020-11-15 16:00] roya0045 commented on #40068
Only the cas of the atlas feature is a valid bug to me. Evaluating an '=' can never be null, only 0 or 1.

[2020-11-15 16:21] Angelablanco7910 commented on #40056
Thank you very much Gioman.  I disable the Option: "Enable OpenCL accelareration" in Settings / Options /Acceleration. The Raster Calculator output works as expected.

[2020-11-15 16:21] #40056 closed

[2020-11-15 16:56] roya0045 commented on #40066
Does `is_selected(@atlas_feature)` even work ir you're not in the atlas? the doc iss pretty explicit and stated that the search will only be performed withing the layer unless another layer is specified. the atlas one may be an exception or used in the atlas layer itself. The doc may be slightly misleading.

[2020-11-15 17:24] DelazJ commented on #40066
By `since is_selected(@atlas_feature) checks the same unique feature regardless the layer I'm on`, I mean I have tested it in various conditions involving both the coverage layer and another layer, eg in a categorized symbology. And the features are rendered as expected, depending on the atlas_feature selection.
So that expression scope is not limited to layout context.

[2020-11-15 18:02] gioman commented on #40070
@SebastianKasan please attach the data you are using as input. Thanks.

[2020-11-15 18:17] SebastianKasan commented on #40070
I will create a small sample of the data....

[2020-11-15 19:19] giedrioks26 commented on #39967
I suspect why this happened:
1. When I first upgraded qgis to 3.10.11, qgis was running at that time.
2. After the shutdown, the restart failed.
3. I moved the Home directory to another computer with debian sid. I started QGIS. He started. I turned it off. And I returned the Home directory to the debian buster again. Now everything works.

What could have happened when qgis was updated while it wa

[2020-11-15 19:38] rduivenvoorde commented on #39994
@anitagraser I think I can tackle this. One important difference (I think) between the TimeManager (TM) and current Temporal Controller (TC), is that TimeManager's state was 'loose', that is in the time-slider, you could 'set'  the slider on random positions. While in TC the position is determined by the **start** of current timeframe.
So for example given an (hourly) dataset of 24 hours, starting

[2020-11-15 19:50] anitagraser commented on #39994
Thanks @rduivenvoorde!
Just thinking while typing here: if TM behavior is what users expect (and I'm not sure about that, we'd have to run a test), it might be possible to imitate this behavior in TC by adjusting the start of the TC time frame in a way that keeps the current slider position a valid frame start time.

[2020-11-15 20:15] agiudiceandrea commented on #40065
Hi @DelazJ,
AFAIK, on Windows by design, if QGIS is built "outside" git e.g. using the source code downloaded as zip archive from GitHub, you will see the QGIS code branch in the about dialog; if it is built in a git source tree structure versioning, then you will see the QGIS code revision with the SHA commit hash.

https://github.com/qgis/QGIS/blob/bff43e44fd19fbb7a0663ae4fee6ccfd2f78c759/cmake/

[2020-11-15 20:22] roya0045 commented on #40066
I was not talking about the layout context but the atlas layer. If no layer is provided it will check in the current layer.

Using` is_selected(@atlas_feature)` in a layer that is not the atlas will preview false but will not evaluate.

The docstring is fine just need to state that using `@atlas_feature` without providing a layer will only work for in the atlas layer/coverage layer.

[2020-11-15 20:22] aaronmcblt opened #40075 "Labeling issue"
New user, I need to label points with UTM coordinates. I know it’s simple but I’ve been at this all day. Gah!

Any help would be appreciated

[2020-11-15 20:52] agiudiceandrea commented on #38834
Hi @elpaso and @rouault, any news about this issue?

[2020-11-15 21:19] nyalldawson commented on #39994
I'm personally +1 to @rduivenvoorde's approach. (I think if a user is wanting to view an exact time frame and then adjust the duration, they should be using the time filter mode in the widget rather than the animation mode.)

[2020-11-15 22:06] anitagraser commented on #39994
I'm certainly biased and happy to give this approach a try 🙂

The usual use case for me is to browse through a dataset, and at one point realizing that I'd like to see a bit longer time frame. This is much more common for me than knowing an exact time from the beginning.

[2020-11-15 22:15] nyalldawson commented on #39994
Another option we could do is have little "lock" icons next to different settings in the widget. So if "frame start time" is locked then the overall animation start would be adjusted. If the animation start time is locked, then the frame time is adjusted...

[2020-11-15 22:46] #34868 closed

[2020-11-15 23:17] SrNetoChan commented on #40075
As stated when you first created this issue, Github Issue tracker is not the place to ask questions about how to use QGIS.

Please try one of these channels instead:

http://osgeo-org.1560.x6.nabble.com/QGIS-User-f4125267.html

https://gis.stackexchange.com/

[2020-11-15 23:20] #40075 closed

[2020-11-15 23:36] agiudiceandrea commented on #39968
The issue https://github.com/qgis/QGIS/issues/39968 is still present with QGIS 3.17.0-Master (code revision c54c2ee353) installed on Windows via OSGeo4W (qgis-dev 3.17.0-12):

`CRITICAL    Layer is not valid : The layer file:///C:/Users/[user]/Downloads/test.txt?type=csv&maxFields=10000&detectTypes=yes&geomType=none&subsetIndex=no&watchFile=no is not a valid layer and can not be added to the map.

[2020-11-16 02:02] rduivenvoorde commented on #39994
In TimeManager in my own branch, I had 2 'modes', because that is (what I think) we are talking about:
- TimeManager default approach: a 'sliding timeframe' (so no 'fixed tickes' I called the other alternative mode)
- Temporal Controller's default approach: 'fixed ticks': if starting in an uneven hour, you can (when stepping in 2 hours steps) never start a timeframe which starts with an even hour.

[2020-11-16 02:14] nyalldawson commented on #39994
@rduivenvoorde

What you describe is exactly the intention of the split between the time filter "fixed range" mode and the "animation" mode, and I completely agree that both use cases are important.

What's missing is that the fixed range mode doesn't give such as nice UI for setting the visible range. What we really need here is a "double edged" slider, where both the start and end time can be fr

[2020-11-16 02:16] nyalldawson commented on #39994
And this situation should already be nicely handled, because the WMS-T layers have support for picking the most appropriate available image, via this option:

![image](https://user-images.githubusercontent.com/1829991/99205854-7eaac380-2805-11eb-8cdc-437eae1aecf5.png)

[2020-11-16 02:22] donkeychen opened #40084 "A SHP file makes many plugins crash"
hi, I added a point vector shp file, the result of "check validity", all 666 features are valid.
But, when I analyzed it by plugins(something like topology checker)
it made the qgis crashed (every time, including QGIS 2.x and QGIS 3.x)

You can download the data from
https://drive.google.com/file/d/16B_72DbB6765cEh6MLCYmBVXDvd3dFAN/view?usp=sharing

(by export/add geometry columns, and save as csv

[2020-11-16 02:55] bellanz80 commented on #38293
The bug continues also in QGIS 3.16
Windows 10
I attach an example video

[https://www.youtube.com/watch?reload=9&v=bUpF3axHuwU&feature=youtu.be](url)

[2020-11-16 03:13] #38245 closed

[2020-11-16 07:04] koenigherford opened #40091 "Enhancement of QLR-files: Store joins (and their settings) to other layer(s) in file and try to reestablish the join during QLR-import-process"
It's a wonderful thing to have the possbility to work with QLR-files in large projects and organisations. Unexperienced users can easily add predefined addinional layers to their projects. Projects can be kept simple / small if you know that addinional layers can be imported on demand.

But if you store a layer - which has one or more join(s) to other layer(s) - as a QLR-file and reimport it in a

[2020-11-16 07:24] Shefir13 opened #40092 "QGIS 3.16 crashes when using Cell statistics tool "Ignore NoData""
Hi,

I’m trying to use the new tool in QGIS 3.16 “Cell statistics”. However, whenever I choose to tick the box “ignore NoData values” and run the tool, QGIS crashes. I have tried it with different multiband rasters in different formats (NC, tiff, GeoTIFF) but whenever I choose to ignore NoData values the program crashes. I have tried to run the tool on a clean working space and with my usual proje

[2020-11-16 07:34] Gustry commented on #40065
It's already like this for me in QGIS 3.10.

This was indeed convenient to know if the build was up to date or not.

[2020-11-16 07:39] Shefir13 commented on #40092
This is the latest crash report:

**Crash ID**: [4a80e847411ced91ce650b7f92e8ae659b890227](https://github.com/qgis/QGIS/search?q=4a80e847411ced91ce650b7f92e8ae659b890227&type=Issues)

**Stack Trace**
<pre>
QgsRasterAnalysisUtils::medianFromCellValues qgsrasteranalysisutils.cpp:335
QgsCellStatisticsAlgorithm::processAlgorithm qgsalgorithmcellstatistics.cpp:290
QgsProcessingAlgorithm::runPrepared qg

[2020-11-16 08:39] klainkaliber commented on #40025
Just to clarify:

![grafik](https://user-images.githubusercontent.com/3832138/99230145-3da7b480-27ef-11eb-82ec-7c195ac211f0.png)

The ones marked in red.

Btw: what are DD variables?

[2020-11-16 08:53] multicompte4 commented on #40031
Here is a simple data set where no snapping works (snapping line on points or snapping line on line) :
[test.zip](https://github.com/qgis/QGIS/files/5545107/test.zip)
Now that I tested with the 2 versions on several data sets, I figured it must come from my data because now no snapping works at all, in 3.16 nor 3.10 .....
Is there something corrupting my datas ?
(Sometimes QGIS is very long to und

[2020-11-16 09:17] fiedt commented on #39962
@gioman here are some data. The ndvi.vrt works in older QGIS versions, but not in the 3.16 version. The stack.vrt works in all tested QGIS versions.

[vrt_dataset.zip](https://github.com/qgis/QGIS/files/5545250/vrt_dataset.zip)

[2020-11-16 11:53] #39967 closed

[2020-11-16 12:33] #40054 closed

[2020-11-16 12:34] gioman commented on #40084
@donkeychen link is not public

too old, you must use the latest 3.10 (LTR) or the latest 3.16. Also please try with a new QGIS profile, no 3rd party plugins installed.

[2020-11-16 12:47] roya0045 commented on #40025
DD= data-defined. If you go deeper in the hierarchy you can alter the size variable. This might or might not be enough for your use case.

[2020-11-16 12:58] saberraz opened #40101 "Form edit widget for QR/bar code"
It would be good to have an edit widget tool for QR scan. This will be handy for QGIS on mobile devices.

[2020-11-16 13:27] QuentinStrappazzon commented on #39930
Thank you all for your answers !

A clean un-install and reinstall of QGIS 3.10 fixed it.

Strange that version 3.16 created these problems though. I will wait for later point release of 3.16 before installing it again.

Cheers

Téléchargez Outlook pour iOS<https://aka.ms/o0ukef>
________________________________
De : i-s-o <notifications@github.com>
Envoyé : Tuesday, November 10, 2020 1:41:17 PM
À

[2020-11-16 13:33] root676 commented on #40092
Can you provide your datasets for testing?

[2020-11-16 13:38] root676 commented on #40092
From your bug report it seems like you are using a single multiband-raster as input. Cell Statistics needs an input of multiple singleband-rasters to work properly. Have you tried splitting the multiband raster into singleband rasters?

[2020-11-16 13:42] Shefir13 commented on #40092
Hi,

As it is data from Marine Copernicus, I cannot directly share it (it is not mine to share). However, you can download the dataset from Marine Copernicus here: https://resources.marine.copernicus.eu/?option=com_csw&view=details&product_id=BALTICSEA_REANALYSIS_PHY_003_011

I used data for CHL daily mean values between 01.01.2013-31.12.2013, and the geographical coverage: 59-61 N, 18-22 E.
Each

[2020-11-16 13:43] DelazJ commented on #38293
@bellanz80 Can you try with a [new profile](https://docs.qgis.org/3.10/en/docs/user_manual/introduction/qgis_configuration.html#working-with-user-profiles)?

[2020-11-16 13:44] Shefir13 commented on #40092
Hi,

I replied before I saw your second reply.

The cell statistics tool for QGIS 3.16 has worked with multiband rasters when I choose not to check the box "Ignore NoData values". I'll test to see if splitting the data into 365 different bands will resolve the issue.

[2020-11-16 14:19] Shefir13 commented on #40092
Sadly, splitting the raster into separate bands did not resolve the issue. This happened when I split the raster layers into separate files and bands:

## Report Details

**Crash ID**: [4a80e847411ced91ce650b7f92e8ae659b890227](https://github.com/qgis/QGIS/search?q=4a80e847411ced91ce650b7f92e8ae659b890227&type=Issues)

**Stack Trace**
<pre>
QgsRasterAnalysisUtils::medianFromCellValues qgsrasterana

[2020-11-16 14:48] andreasneumann commented on #37847
Seems to be fixed an backported

[2020-11-16 14:48] #37847 closed

[2020-11-16 15:26] suricactus commented on #37847
Glad to hear @andreasneumann  :)

[2020-11-16 15:42] #39930 closed

[2020-11-16 15:51] root676 commented on #40092
Thanks for reporting this - It seems the error comes from stacks that consist purely of NoData cells which are currently not handled by the algorithm (but should be). I checked it with two rasters containing only NoData values at certain cell locations. Bugfix incoming. :wink:

[2020-11-16 15:54] AntonioPestana opened #40106 "Shapefile layers: problems exporting to PDF when using filenames containing non-ASCII characrters"
My project's geographic data is stored in two sets of shapefile format files, one set for for polygons and the other for lines. These two sets of "shapefiles" were generated using the same piece of software and both of them represent the same geographic data (all using EPSG:4326 coordinates). The only distinction between sets is the filename: for one set the characters used for the filenames are p

[2020-11-16 16:57] gioman commented on #39962
@fiedt carsh confirmed with the provided dataset and the described config.

[2020-11-16 17:01] gioman commented on #40031
@multicompte4 your project has the snapping **not** active, if you enable it, then works as expected. Please check.

[2020-11-16 17:03] roya0045 commented on #40069
I think this is more of a feature request than a bug judging from the code.

[2020-11-16 17:07] gioman commented on #40106
@AntonioPestana I have just tested your data on my testing Windows10/QGIS 3.16 installation: no problem/error exporting to GeoPDF.

Suggested to detail the detailed list of steps to replicate the issue, or even better attach a sample project.

[2020-11-16 18:20] uclaros opened #40108 "Join attributes by location (summary) count returns Null"
**Describe the bug**
When using the *Join attributes by location (summary)* processing algorithm, features that could not be joined have *Null* values for all their aggregate summaries. This makes total sense for aggregates that depend on field values, like *mean, max, range* etc, but is wrong for aggregates that do not, like *count*, which should show the total number of joined features: **0**.

[2020-11-16 18:38] AntonioPestana commented on #40106
@gioman Please try this [link](https://drive.google.com/drive/folders/115_b3FDuiUATJoQHE-0MyL37ZoETBTYJ?usp=sharing)

[2020-11-16 18:50] gioman commented on #40106
@AntonioPestana confirmed, thanks.

[2020-11-16 20:53] #39883 closed

[2020-11-16 21:04] rduivenvoorde opened #40111 "Crash when searching in Options"
QGIS crashes (even with a fresh profiles path) when you search for something (in the search/filter box) in the main settings dialog.

To reproduce:
qgis --profiles-path /tmp/crash
open settings/options
first click somewhere in the left column with tabs, then start to type fast something in the search box
repeat a couple of times
if NOT crashing
create a second profile
and try again

I can easily r

[2020-11-16 21:08] rduivenvoorde commented on #40111
![Screenshot-20201116220746-1185x1018](https://user-images.githubusercontent.com/731673/99308389-2f41b300-2858-11eb-8266-a19170b94ccd.png)

[2020-11-16 21:15] rduivenvoorde commented on #40111
Trying to reproduce in QtCreator here.
Crash seems to happen when you first search for something available (eg 'time') then select everything and start typing something else...
Other crash view:

![Screenshot-20201116221342-1387x960](https://user-images.githubusercontent.com/731673/99308975-08d04780-2859-11eb-883f-8b9d4d1def34.png)

[2020-11-16 22:07] gioman commented on #40111
after a few tries I was also bale to replicate on Windows: master, 3.16.0 but NOT on 3.10.11

[2020-11-16 22:19] lpinner commented on #40111
I was about to post the same/similar issue (QGIS 3.16.0 QT 5.12.8 Ubuntu 20.04). I found that QGIS only crashes for me when searching in settings if the core Processing plugin is enabled.

[2020-11-17 07:02] #39759 closed

[2020-11-17 07:06] tudorbarascu commented on #40055
Also noticed this!

[2020-11-17 07:36] py-qgis-user opened #40113 "Pyqgis QgsLayerTreeGroup.addLayer type check"
Not sure if this a bug or a feature request

**Describe the bug**
I want to propose to do a type check in QgsLayerTreeGroup.addLayer.
QgsLayerTreeGroup.addLayer expects a QgsMapLayer

As in the example below, a QgsVectorLayer could be passed to the function, and correctly added to the project. However, it would become invalid the next time a QgsVectorLayer is added.

**Sample**

**QGIS and OS vers

[2020-11-17 09:00] #18022 closed

[2020-11-17 09:13] agiudiceandrea commented on #39968
Fixed now also on Windows with 61c9a9d8a65ffaceb06375b7e720d2078349e7a0 (https://github.com/qgis/QGIS/pull/40089).

[2020-11-17 09:34] tudorbarascu opened #40117 "Pasting features as temporary scratch layers puts them in EPSG:4326 although the source layer + project settings are in EPSG:3844"
I would have expected that the **COPY features from attribute table and pasting them as temporary scratch layer would either respect the Project settings or the source layer settings (both EPSG:3844).**, but the created layer is EPSG:4326.

![image](https://user-images.githubusercontent.com/3179646/99371082-23410a00-28c7-11eb-9aac-50561dc0d9f7.png)

How to reproduce:

- Open Attribute table of a l

[2020-11-17 09:35] sokolic opened #40118 "Ubuntu Groovy - can't install QGIS 3.16 (no repository)"
**Describe the bug**
I can't install QGIS 3.16 on Ubuntu Groovy Gorilla 20.10 as there is no repository available. If I set the repository to _focal_ I get the following dependency errors:

<pre><font color="#26A269"><b>frank@frank-laptop</b></font>:<font color="#12488B"><b>~</b></font>$ sudo apt install qgis qgis-plugin-grass
Reading package lists... Done
Building dependency tree
Reading state in

[2020-11-17 09:59] PeddaSteam opened #40119 "Options: Changed from layout to digitalization"
## User Feedback

I'm in the layout options and changed to digitalization. Got the crash everytime at this stage.

## Report Details

**Crash ID**: [9360500b93d60fbd8a026581b6cb6fa1972a7733](https://github.com/qgis/QGIS/search?q=9360500b93d60fbd8a026581b6cb6fa1972a7733&type=Issues)

**Stack Trace**
<pre>
QCoreApplicationPrivate::sendThroughObjectEventFilters :
QApplicationPrivate::notify_helper :

[2020-11-17 10:12] ghtmtt opened #40120 "Run only selected code in python editor button"
`Control + E` allows already to select and run only a selection of the code. It would be very useful to have a button next to the `Run` one that basically does the same

[2020-11-17 10:49] Forna73 commented on #40027
Hi!
Sorry for the delay....

   1. let's create a .csv file and name it 1.csv (I use LibreOffice) with
   some data (coords for position and so on) and store where you wish.
   2. In Qgis create a layer with the .csv file
   3. Now let's create a new 2.csv file or make a simple copy of the first
   one an save it in another folder
   4. In Qgis right click on the csv layer previously created and "

[2020-11-17 11:01] gastgit commented on #39693
hi,
apologize in advance for asking here, but how do I fix this issue? can someone point to a link w/ instructions? I have qgis 3.16 on ubuntu18.04 with qt 5.9.5 and would like not to compile from source, but just use `apt-get`.
Do I need to add `deb https://qgis.org/ubuntu-nightly-release bionic main` to my sources and reinstall with
`sudo apt-get install qgis python3-qgis qgis-plugin-grass` ?

o

[2020-11-17 11:22] gioman commented on #39693
@gastgit you compile the code with the fix or you wait the next round of minor/point releases (pr also you stick with the LTR version, 3.10).

[2020-11-17 11:31] gioman commented on #40119
@PeddaSteam please try with a new QGIS profile.

[2020-11-17 11:43] kohlibri opened #40123 "Unknown geometry type: 12 - MultiSurface when using the "add part" tool"
We digitize geometries with QGIS and want to save them in a PostGIS database. The geometry is checked with a contraint in the database. The geometries are supposed to be multipolygons, but when saving we get the following error message:

Provider errors:PostGIS error while changing geometry values: FEHLER:  Unknown geometry type: 12 - MultiSurface.

We use:
Desktop-Client: Windows 10
QGIS-Version

[2020-11-17 11:45] gioman commented on #40123
@kohlibri is this a bug report or a question?

[2020-11-17 11:56] kohlibri commented on #40123
I think at first a question.
Why can't we save the geometries as multipolygons.
But I think it's a bug because in an older version (3.6) the geometry could be saved as a multipolygon in the PostGIS DB.

[2020-11-17 12:03] gioman commented on #40123
@kohlibri this is very old, can you test the latest 3.10 installer? thanks.

[2020-11-17 12:14] gastgit commented on #39693
Tnx @gioman
When I try to use the sources:
`deb https://qgis.org/ubuntu-ltr bionic main`
`deb-src https://qgis.org/ubuntu-ltr bionic main`

I have a whole host of broken dependencies.
When I add
`deb https://qgis.org/ubuntugis/ bionic main`
`deb-src https://qgis.org/ubuntugis/ bionic main`

Installation goes smoothly but it installs 3.16. How can I install 3.10 ?
Tx

[2020-11-17 12:21] kohlibri commented on #40123
I installed the last version 3.10. When saving the geometry, the same error was displayed as with version 3.16

[2020-11-17 12:28] gioman commented on #40123
@kohlibri can you post the SQL with the CREATE TABLE statement for your layer?

[2020-11-17 13:00] NyakudyaA opened #40124 "Duplicated effect types and properties when styling layers using draw effects"
# Problem

* Navigate to layer styling
* Select Draw effects under layer rendering
![default](https://user-images.githubusercontent.com/2510900/99392632-aae94180-28e4-11eb-9281-e01a91e91fc6.png)

* Change the effect type from the `Source` to something else i.e Drop Shadow. Notice that drop shadow is duplicated in the effect properties.
![drop-shadow](https://user-images.githubusercontent.com/25109

[2020-11-17 13:04] kohlibri commented on #40123
I think that for legal reasons I am not allowed to publish the Create command.
I did a little more testing.
The geometry is saved as a multipolygon when the "Add Polygon" function is used. But if the geometry is added with the "Add Part" function, then the geometry cannot be saved as a multipolygon.

[2020-11-17 13:06] gioman commented on #40123
@kohlibri you don't need to post the full statement...

[2020-11-17 13:07] gioman commented on #40124
@NyakudyaA cannot replicate/see it on 3.16 on Ubuntu 20.04

[2020-11-17 13:19] jlayt opened #40126 "QgsVectorLayer.addFeature() fails with auxiliary table join, but QgsVectorDataProvider.addFeatures() succeeds"
**Describe the bug**
We have an in-house python plugin that uses buffered editing to copy features from one layer to another. This normally works fine, but fails when the Move Label feature has created a join to the auxiliary table. It succeeds if we directly update the data provider instead.

**How to Reproduce**

Create shapefiles fromLayer and toLayer, add a labelled feature to toLayer and use

[2020-11-17 13:27] gioman commented on #40126
@jlayt have you asked also in the developers mailing list?

[2020-11-17 13:36] NyakudyaA commented on #40124
I tried with no-plugins and still could replicate even on master. I will try with a clean profile and revert

[2020-11-17 14:31] NyakudyaA commented on #40124
This might be something on my machine only. Tested on windows. Will close and reopen if I find the source of the error

[2020-11-17 14:31] #40124 closed

[2020-11-17 14:38] kohlibri commented on #40123
CREATE TABLE test.test_archiv
(
    -- Inherited from table test.all_testarchiv: verantwortlich name DEFAULT "current_user"(),
    -- Inherited from table test.all_testarchiv: id integer NOT NULL DEFAULT nextval('test.all_testarchiv_id_seq'::regclass),
    -- Inherited from table test.all_testarchiv: the_geom_point geometry,
    -- Inherited from table test.all_testarchiv: the_geom geometry,
    C

[2020-11-17 14:57] MatzFan opened #40128 "ArcGIS Feature Service data source - can't connect to Azure-hosted Feature Server"
**Description**

I am unable to connect to an ArcGIS Feature Server that is hosted (proxied) on the Azure web application platform.

**To reproduce**

- Right click on the ArcGIS Feature Service tool in the Browser window, give the connection a name and add the following URL
- https://gojdippmaps.azurewebsites.net/proxy.ashx?https://maps.gov.je/arcgis/rest/services/Historic_Buildings/Historic_Buil

[2020-11-17 15:00] koenigherford opened #40129 "QGIS-Settings: Check checkbox "Evaluate default value" does not store the "enabled" setting"
In QGIS-settings you can check Datasource-"Enable default value"-checkbox.
**After confirming** your choice and **reopening** the settings you see that the checkbox is still disabled althrough it was enabled before.
![grafik](https://user-images.githubusercontent.com/28433436/99405765-6615d880-28ed-11eb-8ad6-af26759127bb.png)

(This may produce issues when establishing new parent-/child-relations

[2020-11-17 15:02] gioman commented on #40128
@MatzFan ?
![Screenshot_20201117_150055](https://user-images.githubusercontent.com/1951107/99406538-e6d0d680-28e5-11eb-91bc-4ec4d1e82886.png)

[2020-11-17 15:29] gioman commented on #40129
It is also try on 3.10.11 on Ubuntu 20.04

[2020-11-17 15:39] MatzFan commented on #40128
You need the referer header, as I described. In a web browser I use an extension to add Referer: https://www.gov.je//citizen/Planning/Pages/HistoricEnvironmentDetail.aspx. The server also only accepts JSON requests, so in a web browser you must add `?f=json`, as I said.

![shot](https://user-images.githubusercontent.com/3764715/99410581-8c864480-28ea-11eb-9a6d-e5a9405a2d49.png)

[2020-11-17 15:41] gioman commented on #40128
@MatzFan can't you just post the URL we should test in QGIS?

[2020-11-17 15:59] gioman commented on #40123
@kohlibri can't recreate a table with the above. Also the constraints seems to refer to a point layer, while your description is about a polygon one.

[2020-11-17 16:26] MMR100 opened #40130 "Profiles for layers capabilities"
The layers capabilities are very important when we set up project before transferring to Qfield (for example to restrict the number of selectable layers to avoid a mess on the screen when on site).

It would be great to be able to set several "profile" of layer capabilities.

For example, in our case we would like to have one profile for "office" and one profile for "site visits".

Depending on th

[2020-11-17 17:25] MatzFan commented on #40128
@gioman not sure I understand. My OP describes the issue and what I am trying to achieve. I know the server and layer on it is reachable as when I try https://gojdippmaps.azurewebsites.net/proxy.ashx?https://maps.gov.je/arcgis/rest/services/Historic_Buildings/Historic_Buildings/FeatureServer?f=json with Referer: https://www.gov.je//citizen/Planning/Pages/HistoricEnvironmentDetail.aspx in a web bro

[2020-11-17 17:27] haubourg commented on #19200
It works currently using project scales. Please reopen if necessary

[2020-11-17 17:27] #19200 closed

[2020-11-17 17:38] MatzFan commented on #40128
OK, sure, if I use that URL, manually including the `?f=json` and the referer I connect, but the layer errors. It does this becuase QGIS tries to append the first layer index 0 to that URL; https://gojdippmaps.azurewebsites.net/proxy.ashx?https://maps.gov.je/arcgis/rest/services/Historic_Buildings/Historic_Buildings/FeatureServer?f=json/0. Here is the Layer Properties window:
![shot](https://user-

[2020-11-17 17:40] MatzFan commented on #40128
My guess is the fix should identify a proxied URL of the kind in this example and simply use `?` before the first parameter instead of `&` - I think it is that simple.

[2020-11-17 17:43] gioman commented on #40128
it fails also in browser:

`{"error": {"code": 403,"message":"403 - Forbidden: Access is denied.","details":["message":"Current proxy configuration settings do not allow requests which do not include a referer header."]}}`

[2020-11-17 17:45] MatzFan commented on #40128
You are setting the Referer header to https://www.gov.je//citizen/Planning/Pages/HistoricEnvironmentDetail.aspx in your web browser request?

[2020-11-17 17:49] MatzFan commented on #40128
`curl -H 'Referer: https://www.gov.je//citizen/Planning/Pages/HistoricEnvironmentDetail.aspx' https://gojdippmaps.azurewebsites.net/proxy.ashx?https://maps.gov.je/arcgis/rest/services/Historic_Buildings/Historic_Buildings/FeatureServer/0?f=json` may be easier.

[2020-11-17 18:48] Jordibadia-arc opened #40132 "Error on Raster tools: Convert map to raster"
When I use the raster tool: convert map to raster, the result of the extraction results in a huge uniform colour square, much larger than the window that I mark, and without any of the original web base features, even if it is google or open street map... Where is the error, in my settings ? Or in the QGis program ?
Thank you for your help

Please contat to:
jordibadia.arc@☻gmail.com
+55 41 997418

[2020-11-17 19:57] gioman commented on #40132
@Jordibadia-arc is this a question or a bug report?

If is a question then this is **not** the right channel, as stated here:

https://github.com/qgis/QGIS/issues/new/choose

![Screenshot_20201117_195453](https://user-images.githubusercontent.com/1951107/99440821-04fefc80-290f-11eb-8287-8466b4b02b51.png)

If is a bug report then you did it wrong, it must follow the guidelines/template shown here

[2020-11-17 20:37] tobwen opened #40134 "[Master] No transform is available between EPSG:3035 and EPSG:25832"
**Describe the bug**
I'm getting this message:
[code]

**How to Reproduce**
1. Set project CRS to `EPSG:25832`
2. Load a raster, which is in CRS `EPSG:3035`
3. run _GDAL_'s  `rgb2pct` on it (`python3 -m rgb2pct -n 6 -of GTiff input.tif output.tif`)
4. rightclick on the newly created layer
5. click `Layer CRS`
6. click`Set Project CRS from Layer`
7. QGIS statusbar says `Unknown CRS`

**QGIS and OS

[2020-11-17 20:40] gioman commented on #40134
@tobwen can you link/attach a sample?

[2020-11-17 20:44] tobwen commented on #40134
Sure, I'm currently working on it. The whole dataset is under copyright, but I can extract a sample and add output from _gdalinfo_.

[2020-11-17 21:10] tobwen commented on #40134
Here's a sample: [sample_3035.zip](https://github.com/qgis/QGIS/files/5556235/sample_3035.zip)

[2020-11-17 21:10] #40092 closed

[2020-11-17 21:15] #39974 closed

[2020-11-17 22:08] gioman commented on #40134
@tobwen cannot replicate on master on Windows and 3.16 on Ubuntu 20.04.

[2020-11-17 22:12] tobwen commented on #40134
Oh, seems like the sample file works. So maybe the problem is on the original file? Let me check,

[2020-11-17 22:27] nyalldawson commented on #40108
Confirmed -- count should return 0, but the rest are correct in returning null. (Contrary to common sense, sum should also return NULL. Check `select sum(1) from some_table where 1=0` in postgres to confirm -- the result is null, not 0)

[2020-11-17 22:45] roya0045 commented on #40119
Seems to be the style bug that has ben fixed.

[2020-11-17 22:49] nyalldawson commented on #40119
Yep this is fixed

[2020-11-17 22:49] #40119 closed

[2020-11-18 01:01] agiudiceandrea commented on #40106
I can confirm also on Windows 7: the issue is triggered by the file name (actually by the layer id which is created using the file name), not by the layer name.

[2020-11-18 04:39] #39976 closed

[2020-11-18 06:19] koenigherford opened #40147 "Add a "Fix-broken-sources-for data-defined-override-process" during QLR-import-process"
QGIS offers the ability to use data-defined overide of layer-settings in various places of the layer.
Beside the layer itself, one of the data-sources are (custom)variables. Others may be joined layers.

If the user imports a QLR-file into his project he may not check, whether this requested (custom)variables are set in his project-/qgis-settings or requested tables/fields are availible in project

[2020-11-18 06:25] donkeychen commented on #40084
@gioman
Thank for your reminding, I changed the sharing setting, please try the file again.
(the encoding is "Big5")

I saw the Long term release repository (most stable) is 3.10. :(
I tried the newest 3.16 for testing anyway.

Add the vector layer
1. check validity => # of Valid output: 666, # of Invalid output: 0
2. topology checker => topology rule settings: must not have duplicate => run
QGIS

[2020-11-18 06:39] koenigherford opened #40148 "Add a check-against-missing-data-source-for-rules/data-defined-override... -process in QGIS"
In large, long-living projects with a lot of layers and complex rules for symbology... there are high risks that a data-source for rules (rule-based symbology....) or data-defined-override gets/got lost.
One source of this risk may be the missing check of avability of data during QLR-import-process (see #40147). Another source of risks may be change or deletion of field-names them during data deve

[2020-11-18 08:08] kohlibri commented on #40123
I'm not the database specialist. The multipolygons are to be saved in the variable the_geom.

This is an excerpt from the database log:

UPDATE "test"."testarchiv" SET "the_geom"=st_multi(st_geomfromwkb($1::bytea,0)) WHERE "id"=$2
Parameter: $1 = '\001\014\000\000\000\001\000\000\000\001\003\000\000\000\001\000\000\000\005\000\000\000\224\257\251\322\026\240CA\0009\204\234\332oUA\312W\320 \037\240

[2020-11-18 08:55] rouault commented on #40134
@tobwen

This message comes from a PROJ < 7.2 binary trying to use a PROJ >= 7.2 proj.db . There's likely a mix-up of PROJ versions in your installation

[2020-11-18 09:10] EnFiore opened #40154 "Print layout - Legend items with expression return -1"
Hi,
I have print layout with legend items that have these expressions:

1) `@symbol_label || ' tot: ' ||  @symbol_count `
and this:
2) `@symbol_label || ' length: ' || round(sum($length,filter:=  "cat" = @symbol_label ),2)`

and in layout the expressions work right showing correct values.

But when I export as image, the first expression return -1.
I attach some image to show the issue and a proje

[2020-11-18 10:53] ilikeqgis opened #40157 "Translate raster in .asc format (AAIgrid) with a specific value NODATA_value=-9999 in the header is replaced by nan in the main text..."
**Describe the bug**

When you translate a raster (geotiff) file with a specified nodata value (-9999 to replace nan) to an asc file, you get an .asc file with the good header (NODATA_value -9999) but with bad main text (NODATA_value nan)

**Example : **
[Myfile_export_asc_1.zip](https://github.com/qgis/QGIS/files/5559530/Myfile_export_asc_1.zip)

ncols        10
nrows        9
xllcorner    698362

[2020-11-18 11:02] gioman commented on #40157
@ilikeqgis I guess you get the same results if your do the whole thing by just running the GDAL commands from the command line, right? If yes then you must report this to GDAL, not here.

[2020-11-18 11:02] roya0045 commented on #40069
100% feature request and potentially unstable anyway. This will never occur in a layout and this will never have a definite atlas and may cause strange behaviour in some cases. Which is not the case for rendering.

[2020-11-18 11:10] gioman commented on #40084
Crash confirmed also on Ubuntu 20.04 and QGIS 3.16

[2020-11-18 11:13] gioman commented on #40134
The reporter is on Windows so is likely to have installed QGIS master with OSGeo4W.

[2020-11-18 11:14] gioman commented on #40154
@EnFiore QGIS version? Operating system?

[2020-11-18 11:22] rouault commented on #40134
This might be some conflict between QGIS-dev and GDAL-stable+PROJ-stable being installed. When rgb2pct.py is forked by QGIS, it probably not use QGIS-dev/GDAL-dev/PROJ-dev but GDAL-stable+PROJ-stable, but the PROJ_LIB environment variable points to proj.db of PROJ-dev . Maybe a missing installation of the gdal-dev-python package of however it is called ?

[2020-11-18 11:31] gioman commented on #40154
Those expressions are not editable in your layout (the button is greyed out), is that expected?

[2020-11-18 11:34] gioman commented on #40134
@jef-n any idea?

[2020-11-18 11:35] tobwen commented on #40134
_gdal-dev-env_ is installed and works. Also, as you can see on the table, the version of _GDAL_ is `3.3.0dev`, so _QGIS_ seems to make use of it.

Let me quickly run this in QGIS:
[code]

[2020-11-18 11:40] gioman commented on #40123
@kohlibri saving to a multi-polygon table works. If there is an issue you must help us replicate the problem. But your constraints do not match the description, and you don't provide a proof of concept table structure we can test.

[2020-11-18 11:54] BergWerkGIS opened #40160 "Regression? Refactor fields: OGR driver for '' not found"
**Describe the bug**

QGIS (OGR?) fails to determine output file type (gpkg in my case) when there are several dots in the output file name.
Worked with previous versions but doesn't seem to work with 3.16.0

**How to Reproduce**

Using output file name `theoutput-v100.gpkg` works:

![image](https://user-images.githubusercontent.com/4549888/99526662-d8dd8d00-299b-11eb-91ed-61540b9ad403.png)

Using

[2020-11-18 11:56] gioman commented on #40160
@BergWerkGIS it happens only in the modeller or also if you you the standalone tool?

[2020-11-18 12:00] BergWerkGIS commented on #40160
@gioman standalone tool as well.

![image](https://user-images.githubusercontent.com/4549888/99528009-f27fd400-299d-11eb-9990-4e26631227b1.png)

[2020-11-18 12:08] jef-n commented on #40134
run ``qgis-dev --postinstall`` and/or ``qgis-dev-g7 --postinstall`` from the osgeo4w shell to update the .envs

[2020-11-18 12:12] donkeychen commented on #40084
information update
By checking the following processes
1. add the shp file. => **(layer1)**
2. set the CRS to TWD97/TM2 zone 121 (EPSG:3826)
3. run [vector]->[geometry tools] -> [add geometry attributes] for layer1 => **(layer2)**
4. export the result of step 3 (layer2), save the feature as "csv" file (same CRS, and same encoding (big5))
5. add layer from delimited text, file format: CSV; geometry

[2020-11-18 12:12] BergWerkGIS commented on #40160
@gioman my use case is a rather large model that has been exported to Python and integrated into a complex workflow driven by a plugin.
Are you by chance aware of any additional parameters I could pass in when defining the output for `Refactor fields` to force GPKG?

That's how I do it currently:
[code]

[2020-11-18 12:16] tobwen commented on #40134
I've run it - without any visual feedback.

Nothing changed:
[code]

I'll try a fresh install this evening.

[2020-11-18 12:18] gioman commented on #40084
@donkeychen geometry checker and topology checker have different code base, they were developed separately at different times independently. They really should be merged (there is a feature request for it) and return coherent results.

[2020-11-18 12:49] Gustry opened #40162 "Estimated row count from PostgresSQL might quite wrong"
**Describe the bug**

Since #32114, QGIS is using `Plan Rows` from an `EXPLAIN` query to have the estimated row count.

The `Plan Rows` makes quite different results and is not following the `VACUUM ANALYSE` that people might run on their database.

Look this example:

[code]

**QGIS and OS versions**

QGIS version | 3.10.11-A Coruña | QGIS code branch | Release 3.10
-- | -- | -- | --
Compiled aga

[2020-11-18 12:52] donkeychen commented on #40084
hi @gioman , do you mean the functions in the vector menu is **"geometry checker"**? (plugins => processing)
================
Processing
Spatial data processing framework for QGIS

Category	Analysis
More info	homepage   bug tracker   code repository
Author	Victor Olaya
Installed version	2.12.99
================
and the topology checker is another one
================
Topology Checker
A Plugin for

[2020-11-18 12:56] Antoviscomi commented on #39692
this bug was fixed in #39693 then from today update, in 3.16  there is no crashes so I close this topic
![Anonimo](https://user-images.githubusercontent.com/12639444/99533216-cff1b900-29a5-11eb-94a0-1b1530905ca4.jpg)

[2020-11-18 12:56] #39692 closed

[2020-11-18 13:29] roya0045 commented on #40154
@gioman you must select the layers for the button to be activated.
@EnFiore This is a known issue with the rendering pipeline of expressions in the legend, see #34476 which should address things in part, though I still get some strange glitch visually. I'm not sure if this is my old MXE build acting up or a resource issue. I am awaiting a first review from @nyalldawson to improve the PR and make t

[2020-11-18 13:30] gioman commented on #40154
@roya0045 I know, here it doesn't work anyway.

[2020-11-18 13:30] roya0045 commented on #40154
Just for information, currently the expressions are evaluated after the image is exported, this is why such things are broken for the time being in master and recent releases.

[2020-11-18 13:31] roya0045 commented on #40154
@gioman works fine for me, might be an issue with your build?

[2020-11-18 13:33] gioman commented on #40154
@roya0045 maybe, no custom build here. QGIS 3.16 straight out of qgis.org repos for ubuntu 20.04

[2020-11-18 13:36] gioman commented on #40084
@donkeychen as far as I can see if the wrong encoding that breaks the topology checker tool. If the encoding is set to big5 then the tool does not crash qgis. Can you confirm?

[2020-11-18 13:39] roya0045 commented on #40154
@gioman care to post a screenshot? I'm curious, my 3.16 build is fine with expressions,

[2020-11-18 14:02] jef-n commented on #39693
Install from http://qgis.org/ubuntugis-ltr, if you updated packages from ubuntugis and want to keep them or downgrade back to the vanilla ubuntu versions and use ubuntu-ltr.

[2020-11-18 14:39] rahulkgour opened #40163 "Whenever I perform any Raster extraction such as 'Clip Raster by Extent' or 'Clip Raster by Mask layer'"
Whenever I perform any Raster extraction operations such as 'Clip Raster by Extent'  or  'Clip Raster by Mask layer'

**I get the below error and doesn't get any desired output.**

Log:

QGIS version: 3.10.11-A Coruña
QGIS code revision: d2171173e4
Qt version: 5.12.3
GDAL version: 2.4.1
GEOS version: 3.7.2-CAPI-1.11.2 b55d2125
PROJ version: Rel. 5.2.0, September 15th, 2018
Processing algorithm…
Al

[2020-11-18 14:51] gastgit commented on #39693
Tnx @jef-n for your assistance
I replaced
`deb https://qgis.org/ubuntugis bionic main`
`deb-src https://qgis.org/ubuntugis bionic main`

with

`deb https://qgis.org/ubuntugis-ltr bionic main`
`deb-src https://qgis.org/ubuntugis-ltr bionic main`

and still got broken dependencies that did not show up when I was able to install the 3.16 version with http://qgis.org/ubuntugis/

[2020-11-18 15:07] donkeychen commented on #40084
hi, @gioman ,
I recorded my testing process on YT
https://youtu.be/WdGcjyF3eW4
You can check the outline for detail steps.
Thank you.

[2020-11-18 15:28] spad1991 commented on #39799
I provide two samples of the same file exported from 3.10.3 LTR and 3.16.0.
The labels are exported correctly but all the symbols are collapsed to a single point.
[SAMPLES.zip](https://github.com/qgis/QGIS/files/5561027/SAMPLES.zip)

[2020-11-18 15:42] troopa81 commented on #40162
@Gustry I will propose a fix soon.

[2020-11-18 16:08] EnFiore commented on #40154
QGIS version 3.10.11-A Coruña
Operating system: Windows 10

[2020-11-18 17:03] carolineheitz opened #40164 "macOS: Symbol not found: __cg_jpeg_resync_to_restart when reprojecting raster layer with GDAL warp on macOS"
I work with Mac OX mojave with 3.17 and have this error when trying to reproject a raster map (but I've tried already to downgrade to 3.16, 3.12, 3.10 - same result):

Symbol not found: __cg_jpeg_resync_to_restart

[code]

____

I would be very happy to get some help on this, thank you!!

[2020-11-18 17:53] roya0045 commented on #40164
https://stackoverflow.com/questions/35509731/dyld-symbol-not-found-cg-jpeg-resync-to-restart should help

[2020-11-18 18:15] snehastephenson opened #40165 "regarding the working of software"
While adding a ring its always showing that there was an unknown error occured ,so cant create /add a ring . why this happens ? whats the right way to solve this problem

[2020-11-18 18:39] gioman commented on #40165
https://github.com/qgis/QGIS/issues/new/choose

![Screenshot_20201118_183859](https://user-images.githubusercontent.com/1951107/99572971-5cfc3880-29cd-11eb-8730-a5fe6788c33d.png)

https://github.com/qgis/QGIS/issues/new?assignees=&labels=Bug&template=10_bug_report.md&title=

**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**Q

[2020-11-18 18:39] #40165 closed

[2020-11-18 18:43] gioman commented on #39799
@spad1991 you must add the **input** data also, thanks.

[2020-11-18 18:52] gioman commented on #40163
@rahulkgour are you trying to clip tile layers as inputs?

[2020-11-18 21:45] tobias-brunner opened #40167 "Trust datasource results in UNC-raster datasource not being found"
**Describe the bug**
When opening project files, which have the option "trust datasource" activated (for quicker loading speed with QGIS server), then raster datasources which point to a UNC-path cannot be found. The same project files work correctly, when this option is not activated. If these rasters reside on a local drive (e.g. D:\rasters\...) then there is no problem opening the files.

the s

[2020-11-18 22:00] #40106 closed

[2020-11-19 01:20] #39994 closed

[2020-11-19 01:52] agiudiceandrea commented on #40160
It seem the issue is in
QgsProcessingUtils::parseDestinationString
https://github.com/qgis/QGIS/blob/fb48bc92e662c31b12686862526400073d5565b2/src/core/processing/qgsprocessingutils.cpp#L672-L674
where the extension is calculated using completeSuffix(), i.e. everything after the FIRST point, so it is not correctly recognized for fi.le.name.ext e considered invalid
https://github.com/qgis/QGIS/blob/

[2020-11-19 01:54] agiudiceandrea commented on #40160
The issue didn't happen with 3.4.5. It happens with 3.4,9 and later.

[2020-11-19 05:38] rahulkgour commented on #40163
Yes @gioman.

[2020-11-19 05:45] t31060 commented on #39729
when i try to open a netcdf file qgis just closes, no message error, just close

[2020-11-19 06:19] donkeychen commented on #40084
I don't know if the wrong encoding affects the checker.
The original one, with correct encoding did make the checker crashed on my WIN10
https://www.youtube.com/watch?v=WdGcjyF3eW4&t=2m22s shows it.

[2020-11-19 09:15] BergWerkGIS commented on #40160
@agiudiceandrea thanks for your suggestion but I need full control over file name, layer name and name of the geometry column as the refactor-fields step is embedded in a larger workflow (outside of QGIS).
My workaround for now is to use a file name with just one dot when calling `processing.run('qgis.refactorfields')` and rename the result after the processing step is done.

[2020-11-19 09:34] EnFiore commented on #40154
@gioman no, in my project, the button is active and expression editables.

[2020-11-19 09:37] lukaszkruk commented on #39521
@alexbruy wondering if you could respond to my question in the last post if you have a moment? Cheers!

[2020-11-19 09:53] kohlibri commented on #40123
I have peplicate the problem.
In the column the_geom, geometries of the type polygon and multipolygon were saved.
If a new geometry is added with the "add part" function, no new geometry can be added. I created a new table for testing with the following command:

CREATE TABLE test.test
(
    id integer NOT NULL,
    the_geom_point geometry,
    the_geom geometry,
    CONSTRAINT pkey_id PRIMARY KEY

[2020-11-19 10:10] lajunek opened #40183 "extend tracing to advanced digitizing toolbar"
**I would be glad if tracing also works with advanced digitizing tools as create hole, reshape feature, add part etc**

**Additional context**

[2020-11-19 10:12] saberraz commented on #40183
This is already supported for most of those tools. Have you tried to use it?

[2020-11-19 10:35] carolineheitz commented on #40164
Thanks a lot for the hint, I had already seen the site, but I don't use the Qt-Creator (1). Furthermore I'm afraid that I might have undesired side effects by overwriting the libraries (2). Answer 3 was marked as not successful and I didn't use HomeBrew either (4). Therefore I have contacted you.

[2020-11-19 10:35] lajunek commented on #40183
for 3.10 LTR as well?

[2020-11-19 10:38] saberraz commented on #40183
It should be mostly there since we implemented it in QGIS 2.14!

[2020-11-19 10:46] lajunek commented on #40183
Ok so it depends on the usage of the tools, I have to check out. Is there a "movie" about the usage of tracing ?

[2020-11-19 10:48] saberraz commented on #40183
You need to make sure you have your tracing set properly, and the tool should just "work":
https://docs.qgis.org/3.16/en/docs/user_manual/working_with_vector/editing_geometry_attributes.html?highlight=trace#automatic-tracing

[2020-11-19 11:56] gioman commented on #40163
they are not supported inputs.

[2020-11-19 11:56] #40163 closed

[2020-11-19 11:58] gioman commented on #40084
@donkeychen it is.

[2020-11-19 12:26] gioman commented on #40123
@kohlibri why you don't cast the geometry to the proper type and srid?

i.e.

[code]

regardless... I created the table with your statement, added it as multipolygon and have no error in adding parts to polygons.

[2020-11-19 12:48] kohlibri commented on #40123
If there is a geometry in the column, then the function "Add part" works. But if 2 different geometry types (such as polygon and multipolygon) are stored in the same column but in a different row, then the problem occurs. Up to and including QGIS version 3.6 there were never any problems that polygons and multipolygons were saved in the same column.

Our philosophy does not provide for the geometr

[2020-11-19 13:07] harryplotter33 opened #40186 "importing SE (ogc symbology encoding) and/or converting to SLD (ogc style layer definition) new feature"
best regards to all !

i'd like to import in qgis *.se xml (ogc symbology encoding) file generated by Geomedia and convert them to *.sld xml (ogc style layer definition) to use them in qgis and Geoserver.

I there a way to do that ?

Thanks to all !

[2020-11-19 13:10] gioman commented on #40186
@harryplotter33 please post questions on the users or developers mailing list.

[2020-11-19 13:10] #40186 closed

[2020-11-19 13:10] saberraz commented on #40186
An extra point for  the nice username @harryplotter33 !

[2020-11-19 13:15] gioman commented on #40123
I can add both polygons and multipolygons here using QGIS 3.16

![Screenshot_20201119_131424](https://user-images.githubusercontent.com/1951107/99670942-3986cb80-2a69-11eb-843b-02e2b9b0d81e.png)

have you added the table **as** multipolygon?

[2020-11-19 13:17] gioman commented on #40123
I mean I can add parts to polygons. And this is regardless of the table being added as multi or not. If is not added as multi QGIS throws a warning

`2020-11-19T13:15:25     WARNING    Add part : Add part: Feature geom is single part and you've added more than one`

but let you anyway save the edits, creating a multipolygon geometry.

[2020-11-19 14:05] #39897 closed

[2020-11-19 15:08] spad1991 commented on #39799
Sorry but I'm not allowed to share the input data. I can tell you that the points are from a .csv file with EPSG:4326 - WGS 84 coordinates. I belive you can reproduce the error with any coordinates structure (I have tried WKT and X,Y columns).

[2020-11-19 15:15] gioman commented on #39799
@gafzgarrr can you provide/attach such sample?

[2020-11-19 18:40] koenigherford opened #40194 "Value-list in value-relation stays empty within a 1:n-relation when using current_parent_value('parent_field')"
The value-list in value-relation stays empty within a 1:n-relation when using current_parent_value('parent_field') in the first step when creating a new child-feature (which is not an expected behaviour) but is filled as expected after confirming a empty value-list.

Some sceenshots and the attached-sample-project shows more than thousand words...:
I set up a sample project with following settings

[2020-11-19 22:08] agiudiceandrea commented on #40084
Hi @donkeychen, the provided shapefile contains a "null geometry" not viewable point feature: both x and y coordinates of the feature with Feature ID ($id) = 332 (zero based) contains the double (float 64) minimum value (~ -1.7976931348623157E+308).

You can find it easily: just zoom to the layer, select all the visible feature in the map extent (665 features selected), open the attribute table, i

[2020-11-19 23:14] agiudiceandrea commented on #40084
Hi @donkeychen, the provided shapefile contains a "null geometry" not viewable point feature: both x and y coordinates of the feature with Feature ID ($id) = 332 (zero based) [OBJECTID=89163] contains the double (float 64) minimum value (~ -1.7976931348623157E+308).

You can find it easily: just zoom to the layer, select all the visible feature in the map extent (665 features selected), open the a

[2020-11-20 07:58] #39779 closed

[2020-11-20 11:45] rduivenvoorde commented on #39994
Ouch, that is nicely hidden in the Source tab of the layer. Honestly never seen it...
@Samweli @nyalldawson Would it not be better if this would be a (dynamic showing) part of the Temporal tabin the layer props?

Is 'Time slice mode' clear what it means to others?

Using http://geoservices.knmi.nl/cgi-bin/RADNL_OPER_R___25PCPRR_L3.cgi? here:

To me the word  'Range' in the 'Time slice mode' drop d

[2020-11-20 13:19] anitagraser commented on #39994
Exactly! That's why I opened https://github.com/qgis/QGIS/issues/36552

[2020-11-20 13:28] rduivenvoorde commented on #36552
see #39994. I also think those props could be better found in the temporal tab.
Also: I think the dropdown shows 'range' where 'frame' is meant.

[2020-11-20 13:30] ciseur68 commented on #27048
Same issue on 3.10.9 : "Layer 2 is set to use a value attribute, but no attribute was set"

[2020-11-20 13:32] rduivenvoorde commented on #39994
@nyalldawson this 'fixed frame mode' has never been clear to me. To me it always looked as if I wanted to only see a one time 'slice' of my data?

While in the TimeManager (and the usecase you describe with the 'double slider') is that you can still 'play/animate' (after you set an arbitrary start and an end frame (and thus size of timeframe).

[2020-11-20 13:59] ruegdeg opened #40203 "Labelling text in Layout could not be changed if rendering is changed"
**Describe the bug**

Labelling text in Layout could not be changed if rendering is changed (e.g. opacity)

**How to Reproduce**

1. Go to Layout-> Add Label
2. Click on Rendering->Opacity-> decrease the%
3. Try to change the Label text
4. See error -->Label text did not change

**QGIS and OS versions**

QGIS version | 3.16.0-Hannover | QGIS code revision | 43b64b13f3
-- | -- | -- | --
Compiled ag

[2020-11-20 14:01] Antimatter-Jar opened #40205 "pasting text not possible in text input dialog [solved]"
encountered this issue when i was trying to paste a link to google maps server in new "XYZ Connection" window. There is a pate option when you right click on input areas, but text doesn't apear, or paste option is not clickable at all.

This issue disapears magically when you type a text using keyboard. aftrerward you can copy that text you have just written and paste it in text input areas.

QGIS

[2020-11-20 15:10] devmonkey22 commented on #35649
Hey - I don't mean to inject myself into the conversation as I don't use QGIS at all, but ran across this issue while investigating an issue with an unrelated GDAL project where it was being custom compiled by postgresql.org repos, and had the same libproj extra dependency and same "free() invalid pointer" error.  I wondered if their resolution might help you guys...

https://github.com/OSGeo/gdal

[2020-11-20 15:33] pathmapper opened #40206 "Show Feature Count shows wrong numbers with rule-based classification"
**Describe the bug**

`Show Feature Count` shows wrong numbers with rule-based classification.

**How to Reproduce**

1. Open the following sample file with QGIS: [sample_layer_definition_file.zip](https://github.com/qgis/QGIS/files/5574343/sample_layer_definition_file.zip)
2. Open contextmenu of the layer and click on `Show Feature Count`.
3. See error: Feature Count for _Viersen_, _Krefeld_ and

[2020-11-20 16:45] roya0045 commented on #40203
Just hit refresh.

[2020-11-20 17:07] gioman commented on #40206
@pathmapper same as https://github.com/qgis/QGIS/issues/37799 ?

[2020-11-20 17:08] gioman commented on #40084
@agiudiceandrea thanks for the analysis, funny thing, if I set the correct encoding the topology checker tool does not crash QGIS.

[2020-11-20 17:09] gioman commented on #27048
@ciseur68 try QGIS 3.16.

[2020-11-20 17:10] gioman commented on #40205
@Antimatter-Jar can you please try QGIS 3.16? 3.14 is not maintained anymore.

[2020-11-20 17:19] roya0045 commented on #40206
@gioman I'd say yes.

[2020-11-20 18:10] donkeychen commented on #40084
Hi, @agiudiceandrea,
Thank you for your analysis very much.
I checked the file again, the feature count of SHP2CSV2SHP was 665!
(ORIGINAL: 666, valid: 666, with geometry column with -1.79769313486232e+308: 666, csv: 666)
I always used "check validity" to find the error geometry out, the error features would be shown in invalid output and the error was "Unknown geometry type 0" (including point/lin

[2020-11-20 18:29] pathmapper commented on #40206
@gioman I'd say no, because if I understood it correct #37799 is not about showing wrong numbers, instead it's about showing the total number of features even if a filter is applied. I'd say that #37799 is a duplicate of this feature request: https://github.com/qgis/QGIS/issues/29458

The issue reported in this ticket here is about showing wrong numbers. The count number **23** shown is totally wr

[2020-11-20 18:31] Antimatter-Jar commented on #40205
I tried to update my qgis as was instructed on official website. but sadly, v3.16 is not released for fedora 33.

[2020-11-20 18:35] roya0045 commented on #40206
Did you toggle the count when you had only two classes? This would indicate so.

[2020-11-20 18:51] pathmapper commented on #40206
@roya0045 no, just reproduced the issue:

![wrong_feature_count](https://user-images.githubusercontent.com/20856381/99838416-66220c80-2b69-11eb-9532-e12cd68e2907.gif)

[2020-11-20 19:34] Guyver2095 opened #40208 "The installation fails miserably."
I have been a Qgis user for years, however with the Ubuntu - Linux Mint 20, it has become impossible to install a different (Newer version) of qgis from repositories.

In fact if unstable ubuntugis repositury is installed, Qgis breaks:
  Conflicts: <uim-qt3>
  Break: qgis-common
  Break: qgis-provider-grass

 And as an additional problem the gpg key produces the following message.

gpg: key F7E06F

[2020-11-20 19:44] nyalldawson commented on #40208
Closed due to breaking code of conduct

[2020-11-20 19:44] #40208 closed

[2020-11-20 20:34] roya0045 commented on #40206
What if you use the category symbology first to get the classes and then switch to rule-based? Or used the refine selected rules button instead of doing it all one by one?

[2020-11-20 20:39] gioman commented on #40208
Thanks @nyalldawson

[2020-11-21 07:13] pathmapper commented on #40206
In this case the numbers are correct:
![use_category_first](https://user-images.githubusercontent.com/20856381/99869861-99e34d80-2bce-11eb-866c-9393343168f9.gif)

If you mean something like the following, it works also:

![refine_selected_rules](https://user-images.githubusercontent.com/20856381/99869954-6d7c0100-2bcf-11eb-976e-91bf43cee9bb.gif)

Here is another one using the `Add Rule` button:

!

[2020-11-21 09:11] agiudiceandrea commented on #38201
Hi @FelisPimeja @antzzp, could you please check if the issue is fixed for you with the latest QGIS 3.16.1 (in will be available today or in the next few days)?

[2020-11-21 10:48] rduivenvoorde opened #40213 "PyQGIS: iface.openFeatureForm() seems not to handle autofill fields?"
Coming from
https://github.com/NationalSecurityAgency/qgis-latlontools-plugin/issues/52

Where the issue is: creating a feature+geometry in PyQGIS, and then open the featureform does not init the (autocreation) fields.
OR we miss an essential step in the creation of the feature.

To see it:
- open the project in the zip:
[auto.zip](https://github.com/qgis/QGIS/files/5577443/auto.zip)
- note that t

[2020-11-21 11:26] agiudiceandrea commented on #40084
@gioman could you please test with [TEST.zip](https://github.com/qgis/QGIS/files/5577498/TEST.zip)?
It is a shapefile with the same identical geometries of the provided one and an attribute table with only ASCII chars (declared as windows-1252/cp1252/Windows ANSI/...) to avoid encoding issues.
QGIS crashes for me with this file too.

My understanding is that QGIS crashes when the Topology Checker

[2020-11-21 11:30] rduivenvoorde commented on #40213
The handling of the expressions during a normal digitize go through:

https://github.com/qgis/QGIS/blob/master/src/app/qgsfeatureaction.cpp#L168-L320

Anybody an idea how to hit this using PyQGIS?  Following is not possible:
[code]

[2020-11-21 13:14] alexbruy commented on #29504
Fixed in #38650

[2020-11-21 13:14] #29504 closed

[2020-11-21 13:15] alexbruy commented on #29067
There is a Line Density algorithm in Processing. Does it fulfils you needs?

[2020-11-21 13:46] simonmakoni opened #40214 "QGIS Crashing on closing down"
h2. User Feedback

This crash occurs when I shut down the QGIS after drawing a polygon feature using my plugin.

I cannot see any reason this happens. Any assistance you can give would be much appreciated.

h2. Report Details

*Crash ID*: 403bc0d8e36e0d574d2a471a3ae4c9b691ee6fbd

*Stack Trace*
<pre>
QgsVertexTool::~QgsVertexTool :
QgsVertexTool::~QgsVertexTool :
QgisApp::~QgisApp :
CPLStringList::

[2020-11-21 14:04] Zuzuesque commented on #40214
## User Feedback

I meant to open a new ticket, but this seems related so I will just add it here. Whenever I am done working and want to close Qgis, it crashes. It doesn't seem to matter what I did last, even just adjusting some polygon feature or label, it always closes with an error.

## Report Details

**Crash ID**: [ece7e42b38ddbef052745aa2d10e41e55b5b81bb](https://github.com/qgis/QGIS/search

[2020-11-21 14:15] roya0045 commented on #40206
Ok I think this is enough to isolate the issue.

When counting features the rulekeys for feature is used
https://github.com/qgis/QGIS/blob/213df8df2334b538a42b16b941b70fe1b2505c6e/src/core/qgsvectorlayerfeaturecounter.cpp#L75
In the rule based render the keys are generated at the start
https://github.com/qgis/QGIS/blob/842e765c49c4da9e0e28a0e3d596e7807c48bfad/src/core/symbology/qgsrulebasedrendere

[2020-11-21 16:41] jisoooh0202 opened #40215 "Vertex Tool"
Hello, there.

Vertex Tool has bug?

When I am trying to delete the points of line, it is unexpectedly ended.
I thought it was maybe because of my computer, so I tried with several other computers (laptops, macbook, desktop). it happens all the time.
Did anyone had this problem or just me?

## User Feedback

vertex tool is not working.
everytime click something, it is happening.

## Report Details

[2020-11-21 16:58] agiudiceandrea commented on #40205
@Antimatter-Jar, are you sure? It 3.16 should be available for Fedora 33 according to https://www.qgis.org/en/site/forusers/alldownloads.html#qgis-stable and https://copr.fedorainfracloud.org/coprs/dani/qgis/

[2020-11-21 17:06] gioman commented on #40215
@jisoooh0202 from

[2020-11-21 17:07] gioman commented on #40215
@jisoooh0202 from

https://github.com/qgis/QGIS/issues/new/choose

![Screenshot_20201121_170511](https://user-images.githubusercontent.com/1951107/99882958-ed2fbd00-2c1b-11eb-8428-0e4ed744a5a2.png)

If you are sure that is a bug, then report it following the template proposed in

https://github.com/qgis/QGIS/issues/new?assignees=&labels=Bug&template=10_bug_report.md&title=

**Describe the bug**

*

[2020-11-21 17:07] #40215 closed

[2020-11-21 17:12] gioman commented on #40214
@Zuzuesque try with a new QGIS profile, no 3rd party plugins installed.

[2020-11-21 17:14] gioman commented on #40214
@simonmakoni

too old, you must test with the latest 3.10 or 3.16

Also you need to test with a new QGIS profile, no 3rd party plugins installed except yours.

If the source of the problem is your plugin then you likely need to fix your code, as a misuse of the API can lead to crashes (ask in the QGIS developers mailing list).

[2020-11-21 17:24] gioman commented on #40084
@agiudiceandrea yeah... forget my comments about the encoding, now it crashes regardless, it probably was a fluke. I updated the title.

[2020-11-21 17:24] Antimatter-Jar commented on #40205
yes, i'm sure. That exact dani repository plays with me. Look at the results:

[code]

[2020-11-21 17:37] roya0045 commented on #40214
@Zuzuesque 100% unrelated

[2020-11-21 17:38] roya0045 commented on #40028
@gioman can close?

[2020-11-21 17:39] #40028 closed

[2020-11-21 17:39] roya0045 commented on #40214
@Zuzuesque there is already a tocket with your stack trace and it should be solved in the next release I think.

[2020-11-21 19:26] daniviga commented on #40205
@Antimatter-Jar could you please report the output from

```sudo dnf info qgis```

I can confirm that QGIS 3.16 is available of Fedora 33, I also use it from the same COPR repo.

[code]

[2020-11-21 19:35] Antimatter-Jar commented on #40205
@daniviga here it is:

[code]

[2020-11-21 19:52] daniviga commented on #40205
@Antimatter-Jar

```sudo dnf install qgis-3.16.0``` ?

[2020-11-22 00:15] DelazJ opened #40217 "Copy-pasting a "label settings" item turns it into a "text format" item"
In the Style Manager dialog, label settings tab, select an item
Right-click and "copy item"
Right-click and "paste item"
Fill in the form that opens and OK
Where is your new item? Check the "Text format" tab. It's there and unfortunately, with only the compatible properties

![copyLabelSettings](https://user-images.githubusercontent.com/7983394/99890475-04909980-2c60-11eb-9bed-95c235860d9c.gif)

Q

[2020-11-22 00:15] DelazJ opened #40218 ""Title case" and "Force first letter to capital" have almost no difference"
In Style Manager, open a text format properties, formatting tab
Switching the type case values, both "Title case" and "Force first letter to capital" seem to keep the existing case of all letters except the first one of **each** word to which they apply an uppercase. The only difference i can find is that one capitalizes the first letter of prepositions (which I think is an English-centric rule) a

[2020-11-22 00:47] nyalldawson commented on #40218
This is by design -- try feeding an entirely upper or entirely lower case string in to see the difference

[2020-11-22 02:58] Antimatter-Jar commented on #40205
@daniviga I have successfuly upgraded to v3.16.1 thanks to your help. But that GUI bug still exists.

[2020-11-22 09:36] donkeychen commented on #39770
I have a testing file for this crash id
===================================
how to duplicate this issue:
1. There is 1 feature in the layer (multipart, with a self-intersect error)
2. Add this layer.
3. Use vector-geometry tool-check validity tool to find out a self-intersection error point.
4. Start editing
5. Use vector tool to modify any edge connected  to the error point.
=====================

[2020-11-22 12:38] gioman commented on #39770
@donkeychen have you tried with a new QGIS profile? Also update to the latest 3.10 or 3.16.

[2020-11-22 12:41] gioman commented on #40205
works fine on Ubuntu/kde and Windows.

[2020-11-22 13:56] donkeychen commented on #39770
hi, @gioman

QGIS Info
QGIS Version: 3.16.0-Hannover
QGIS code revision: 43b64b13f3
Compiled against Qt: 5.11.2
Running against Qt: 5.11.2
Compiled against GDAL: 3.1.4
Running against GDAL: 3.1.4

System Info
CPU Type: x86_64
Kernel Type: winnt
Kernel Version: 10.0.19042

[2020-11-22 15:43] gioman commented on #39770
@donkeychen the latest is 3.16.1 and you must test with a new QGIS profile.

[2020-11-22 15:44] daniviga commented on #40205
Works for me on Fedora 33 running Gnome 3 (via X11) and QGIS 3.16.1

![paste-test](https://user-images.githubusercontent.com/1818657/99908261-e66b7d80-2ce1-11eb-90d8-120f933a798e.gif)

@Antimatter-Jar maybe, are you on Wayland?

[2020-11-22 15:54] daniviga commented on #40205
I can confirm that the issue is related to QGIS running on Wayland, at least on Fedora. But it looks to me a more general issue with Qt based apps since I was able to reproduce the behavior with at least one another Qt based application other than QGIS

Could you please see if the issue can be reproduced in a Gnome X11 session?

[2020-11-22 16:18] Antimatter-Jar commented on #40205
@dakcarto  You were right as heck. The issue doen't exist in X11 session. (I gues i should close this report.)

[2020-11-22 17:12] uclaros commented on #40084
The attached dataset does not contain any Null geometries as they are in general handled well by qgis. The geometry that is not displayed and is causing the crash is just far far away. The point's coordinates (both x and y) are roughly -1.79e+308. That's a pretty big number!

[2020-11-22 17:49] roya0045 commented on #40218
Almost no difference and no difference is not the same thing. Unsure how this is a bug.

[2020-11-22 17:50] porterdf commented on #31146
I second this request (for same reason as @kannes )

[2020-11-22 18:34] #40205 closed

[2020-11-22 18:38] gioman commented on #39768
Closing for lack of further feedback.

[2020-11-22 18:38] #39768 closed

[2020-11-22 18:38] gioman commented on #39723
Closing for lack of further feedback.

[2020-11-22 18:38] #39723 closed

[2020-11-22 18:39] gioman commented on #39675
Closing for lack of further feedback.

[2020-11-22 18:39] #39675 closed

[2020-11-22 18:40] gioman commented on #39494
Closing as upstream issue.

[2020-11-22 18:40] #39494 closed

[2020-11-22 18:41] gioman commented on #39480
Not replicable here. Closing for lack of further feedback.

[2020-11-22 18:41] #39480 closed

[2020-11-22 18:41] gioman commented on #39304
Closing for lack of further feedback.

[2020-11-22 18:41] #39304 closed

[2020-11-22 19:49] agiudiceandrea commented on #40084
Hi @uclaros, you are right: it is a "null geometry" only according to ESRI ArcMap 9.3.1 Geometry Check Tool.

Anyway, the issue is not specific to shapefiles, it also happens if you copy all the features to a memory layer and then use the Topology Checker ("must not have duplicate" constraint) with the memory layer.

It could be a libspatialindex issue: see these QGIS issue reports with similar st

[2020-11-22 19:51] kannes commented on #31146
Better add your thoughts on #20637, there is little chance anyone will read comments over here.

[2020-11-22 20:44] donkeychen commented on #39770
hi, @gioman,
I have no 3.16.1, would you help to test the attached file
[20201122.zip](https://github.com/qgis/QGIS/files/5580314/20201122.zip)

[2020-11-22 20:46] gioman commented on #39770
@donkeychen have you tried with a new QGIS profile and no 3rd party plugins installed?

[2020-11-22 21:14] donkeychen commented on #39770
I just tried. same issue on 3.16.0-Hannover

[2020-11-22 21:45] gioman commented on #39770
@donkeychen you must also try 3.16.1, this point release has received many fixes.

[2020-11-22 21:54] nyalldawson commented on #39770
This is definitely fixed in 3.16.1

[2020-11-22 22:23] jefflin1234 opened #40222 "QGIS crashing unexpectedly"
Crash ID: 15f80ad89052923f0b6e7732113e6482470996a9

Stack Trace

memcpy_repmovs memcpy.asm:114
VSICreateCachedFile :
RawRasterBand::AccessLine :
RawRasterBand::IReadBlock :
GDALRasterBand::GetLockedBlockRef :
GDALRasterBand::IRasterIO :
RawRasterBand::IRasterIO :
GDALRegister_EHdr :
GDALRasterBand::RasterIO :
QgsProcessingModelOutput::toVariant :
QgsRasterIdentifyResult::params :
QgsAbstractDataba

[2020-11-22 22:30] uclaros commented on #40084
You wont be able to check if the user pressed cancel...

What I also noticed is that while
[code]
crashes, the following works:
[code]

[2020-11-23 01:05] donkeychen commented on #39770
hi, @gioman  and @nyalldawson ,
I only found 3.16.0.2 from https://qgis.org/downloads/
However, I will try the 3.16.1 if I can get it later.

[2020-11-23 03:46] hob814 commented on #32135
i'm having the same problem on fedora 32

[2020-11-23 04:09] samath99 opened #40232 "Generate MBTiles - Some zoom levels have missing tiles"
After generating MBTiles that have a zoom of 10-22. Some of the tiles are missing in specific zoom levels.
i extract the MBtiles files using https://github.com/mapbox/mbutil and verify that some tiles are missing

[2020-11-23 04:51] chrisk8er commented on #34540
still waiting for the solution...

[2020-11-23 08:25] agiudiceandrea commented on #40084
QgsSpatialIndex has a  QgsFeedback parameter. Could it be used for the same purpose?

[2020-11-23 08:38] AndreasRabe commented on #39962
I have the same problem with VRTs using pixel functions. Crashes in QGIS 3.16 (Win10). Here is my minimal example, maybe it helps:

[code]

[2020-11-23 08:48] rduivenvoorde commented on #40222
@jefflin1234 you should realy give more information: what kind of data (preferably a small test set of you crashing data), what were you doing exactly, steps to reproduce etc etc.
Without such data it is undoable for devs to try to reproduce you crash, which is needed to investigate.
Although QGIS should never crash... often this has something to do some strange data things.

[2020-11-23 08:50] rduivenvoorde commented on #40111
Seeing this on a fresh crash, now. Not sure if it is related.

[code]

[2020-11-23 08:53] CommunyAS opened #40234 "QGIS not connecting to ODBC source anymore"
Dear all,

I have a problem connecting to ODBC data sources (particularly a FileMaker Pro database with FileMaker Pro 18 ODBC installed) in QGIS 3.10.8 LTR or QGIS 3.16.0.
Trying to connect to a database (connection specifications are correct) I get this message.

I just checked if it works with the younger versions, included the latest version (QGIS 3.14 and 3.16) - same problem.

It, however, wo

[2020-11-23 09:10] rduivenvoorde commented on #40111
@lpinner I can NOT confirm that it only crashes WITH processing enabled. Currently I get crashes when processing is enabled or not.

[2020-11-23 09:20] rduivenvoorde commented on #40111
I also have crashes in 3.16 freshly compiled.
Another (settings/options) related observation when compiling:
[code]

[2020-11-23 09:23] #40023 closed

[2020-11-23 09:26] nicogodet opened #40235 "Use GDAL settings in "Settings > options" for the Processing tools"
### **Describe the bug**

GDAL algs dialog don't load default Create Options defined in GDAL settings

**GDAL Settings:**
![image](https://user-images.githubusercontent.com/39594821/99945493-00a26b80-2d75-11eb-82c1-e17d8783d953.png)

**"Save raster layer as" dialog**
![image](https://user-images.githubusercontent.com/39594821/99945598-30517380-2d75-11eb-92d4-5a78ce04a970.png)
Everything's fine.

*

[2020-11-23 09:40] elpaso commented on #40213
@rduivenvoorde did you try to create the feature with `QgsVectorLayerUtils::createFeature` ?

[code]

[2020-11-23 09:55] rduivenvoorde commented on #40213
@elpaso Ah, thanks I was not aware of that...

https://qgis.org/pyqgis/master/core/QgsVectorLayerUtils.html?highlight=qgsvectorlayerutils#qgis.core.QgsVectorLayerUtils.createFeature

Trying now.  Only issue I have with these "' context'-based params " is where to get these from ...

[2020-11-23 10:42] #40213 closed

[2020-11-23 10:59] gioman commented on #40222
@jefflin1234

update to 3.16.1
try with a new QGIS profile
if the problem persist add the detailed steps to replicate, adding a sample project+data if necessary

[2020-11-23 11:09] gioman commented on #40232
@samath99 you miss to add most of the requested info:

QGIS version?
Operating system?
Detailed steps to replicate?

and more:

What is your input?
if you repeat the task, it is always the same tiles missing? or differ?

[2020-11-23 11:11] Dkrav-UA commented on #39628
Ubuntu 18.04 not entirely  fixed.  Open Settings\Options. Try to search parameter and your out.

[2020-11-23 11:13] gioman commented on #34540
@chrisk8er don't expect it to materialize out from thin air, especially given the general lack of interest around support for MySQL in QGIS.

[2020-11-23 11:14] gioman commented on #39628
@Dkrav-UA this is another issue, already reported in another ticket.

[2020-11-23 11:16] gioman commented on #40234
@CommunyAS please attach a sample we can use for testing.

[2020-11-23 11:17] gioman commented on #40234
Also add detailed steps to replicate the issue.

[2020-11-23 11:19] gioman commented on #40235
That set of options is not part of the Processing ones (at the bottom of "settings > options"), but it is still a good idea. Setting this as feature request.

[2020-11-23 11:50] denilsonjesus opened #40236 "QGIS crashes whenever I open the layout of my project and activate the Atlas function"
Whenever I open the layout of my project and activate the Atlas function.

Crash ID: 8fce2f3715e8712a31a117241005e6e746080b4e

Stack Trace

QgsExpression::QgsExpression qgsexpression.cpp:155
qgis::make_unique qgis.h:426
QgsVectorLayerFeatureIterator::prepareExpression qgsvectorlayerfeatureiterator.cpp:738
QgsVectorLayerFeatureIterator::prepareField qgsvectorlayerfeatureiterator.cpp:918
QgsVectorLa

[2020-11-23 11:53] gioman commented on #40236
@denilsonjesus

update to 3.16.1
try with a new QGIS profile, no 3rd party plugins installed
if the problem persist attach a sample project+data to allow us replicate the issue

[2020-11-23 12:04] CommunyAS commented on #40234
Steps:

1. Add layers > Add vector layer
2. select _Database_ as Source Type
3. Submenu _Database_
- _Type_ select _ODBC_
- press _New_ button
- enter specifications (e.g. Name, Host, Database, Authentication ...)

see screenshots

OR
3. Submenu _Database_ > select predefine connection
4. press _Add_ button
5. the following message is displayed

In QGIS 3.4.10 it both procedures work without probl

[2020-11-23 12:20] nicogodet commented on #40235
By the way, it could be nice to have those options in every algs involving raster creation.

[2020-11-23 12:29] uclaros commented on #40084
Indeed, it could! It would also speed-up the index building! But some refactoring is needed to replace the current signals and use a QgsFeedback object.
Also, this will not fix the actual problem which is handling of huge float coords, only avoid it.

[2020-11-23 12:48] gioman commented on #40234
@CommunyAS thanks. Can you attach a sample of your odbc datasource?

[2020-11-23 12:57] koenigherford opened #40237 "Changing SVG-file-setting from "local file" to "embedded file" resets color-settings of SVG-files"
I had to switch my SVG-file-settings from local-file to "embedded-SVG" (to use the project in QFIELD).

I've got several SVG's with the ability to set custom fill-colors (same svg with different color-symbology in different rules).

When changing my settings to embedded-svg-file fill-colors are reset to default-color (stored in svg), line colors are reset too.

It would be nice to maintain the rul

[2020-11-23 13:11] CommunyAS commented on #40234
The data sources are FileMaker Pro databases that I cannot share. I never had problems connecting to FileMaker DBs since early versions of QGIS 2 until QGIS 3.5

[2020-11-23 13:13] jakimowb opened #40238 "QgsExpressionContextGenerator for QgsExpressionLineEdit crashes QGIS"
**Description**

A `QgsExpressionContextGenerator::createExpressionContext()` can be used to define a `QgsExpressionContext` to be used for defining QgsExpressions in a `QgsExpressionLineEdit`. However, the following python code ends in a QGIS crash. Did I implement the Generator(QgsExpressionContextGenerator) the wrong way?

[code]

**How to Reproduce**

1. Open the QGIS python shell (CTRAL + ALT

[2020-11-23 13:33] nhofer opened #40239 "QGIS / “create grid” consumes far more memory on linux than on windows"
I am using QGIS 3.10 both on windows and on Linux (3.10.8+28bionic) with the same RAM and CPU resources. When running the tool "create grid" QGIS behaves strange on Linux: For a certain extent (~ 100x100km), when creating a grid with 20m-100m cell size, memory consuming doesn't go beyond ~2,5-3GB. With 15m cell size, the calculations seem to exponentiate a lot - and it takes up to 30GB memory (not

[2020-11-23 13:50] gioman commented on #40234
@CommunyAS the persons that may be able to fix this may have not access to such type of datasources, attaching a sample (even with fake data) will be very useful.

[2020-11-23 13:50] gioman commented on #40234
@CommunyAS can you check please if this a macOS only issue?

[2020-11-23 13:51] gioman commented on #40239
@nhofer is this a question or a bug report?

[2020-11-23 13:53] roya0045 commented on #40238
This should be asked on the dev/user mailing list rather than filling  a bug ticket outright. @gioman  Would you suggest the same?

[2020-11-23 13:55] nhofer commented on #40239
as ths behaviour is not explainable to me, its both a question and possibly a bug.

[2020-11-23 13:55] gioman commented on #40238
@roya0045 yes I agree.

[2020-11-23 13:56] roya0045 commented on #40236
Do you have expressions set in some places? You seem to have an iterator running in an iterator. The project may be needed to debug if available.

[2020-11-23 14:05] jakimowb commented on #40238
I just subscribed to the list and will ask the same there again, ok?

[2020-11-23 14:12] gioman commented on #40239
@nhofer I think I was able to replicate on Linux (but had to use grids of  10m size, and an area  much larger than 10x10km). What I see is also that the memory is not released after the operation ends, can you confirm it?

[2020-11-23 14:12] gioman commented on #40239
@nhofer never mind, it took a while but then the memory was released.

[2020-11-23 14:13] CommunyAS commented on #40234
Sorry, I have no Windows PC at hand.

I attached a sample FileMaker database containing one table _Lagetypen_ with data.

[TestDB.fmp12.zip](https://github.com/qgis/QGIS/files/5583525/TestDB.fmp12.zip)

[2020-11-23 14:19] nhofer commented on #40239
@gioman We had to kill a process which hung on the init process to free the memory - I forgot to mention that before.

[2020-11-23 14:24] gioman commented on #40239
@nhofer it was necessary here, in fact the operation itself was very fast and didn't hung QGIS (16GB or RAM here).

[2020-11-23 14:30] nhofer commented on #40239
@gioman made a mistake i my original comment. The area I am using is 100x100xkm , not 10x10km, sorry... Can you test it again?

[2020-11-23 14:40] PedroVenancio commented on #39685
This issue can be closed because it was fixed by @elpaso with https://github.com/qgis/QGIS/pull/39778

[2020-11-23 14:40] #39685 closed

[2020-11-23 15:02] JPPauly opened #40240 "QGIS help not available behind proxy - testing help URL causes proxy error"
**Describe the bug**

In our network accessing the QGIS help from anywhere in QGIS always reports 'QGIS help is currently not available.', even though the URL reported in protocol is available in a browser. We do use a proxy which is, however, correctly configured in QGIS and works for installation of extensions from plugins.qgis.org, wms/wfs-services etc.

I found this old issue https://issues.qg

[2020-11-23 15:08] pathmapper commented on #39345
https://github.com/qgis/QGIS/pull/40225 is merged.

[2020-11-23 15:08] #39345 closed

[2020-11-23 15:58] gioman commented on #40239
@nhofer I have to correct myself again: this tool leaks memory and if you kill the tool before it eats up all the RAM then the memory will not be released unless closing QGIS.

[2020-11-23 16:22] andreasneumann opened #40242 "Processing: GEOS TopologyException during clip operation"
**How to Reproduce**

1. Load the two layers "grundnutzung_dissolved" and "ueberbaut_dissolved" from the attached geopackage in a new empty QGIS project
2. Launch the "Clip" algorithmfrom the Processing toolbox
3. use "ueberbaut_dissolved" as "Input Layer" and "grundnutzung_dissolved" as "Overlay Layer"
![image](https://user-images.githubusercontent.com/884476/99986735-da4df180-2daf-11eb-8330-eb83

[2020-11-23 16:23] andreasneumann commented on #40242
[bauzonenstatistik_problematic_layers.gpkg.zip](https://github.com/qgis/QGIS/files/5584283/bauzonenstatistik_problematic_layers.gpkg.zip)

[2020-11-23 16:57] uclaros commented on #40242
Your data need a little cleanup, there are duplicate nodes and zero area holes that geos probably does not like!
Running *Delete holes* with a 0.0 area parameter on grundnutzung_dissolved makes it ok for geos.

[2020-11-23 17:16] andreasneumann commented on #40242
Thanks for having a look at it.

The attached data is the output from the "fix geometries algorithm" from QGIS. I'm surprised it still contains issues. Is the "Fix geometries" algorithm in QGIS not handling these issues?

I will try separate algorithms to clean the data instead.

[2020-11-23 17:23] andreasneumann commented on #40242
Hm - the Delete holes algorithm with 0 area significantly alters the data ... that doesn't seem reliable to me.

[2020-11-23 17:24] roya0045 commented on #40160
@agiudiceandrea in this case using suffix() instead of completeSuffix() would solve this issue. Unsure if this would also have side effects.

[2020-11-23 17:26] andreasneumann commented on #40242
Ah - I see. I can't use 0 - as this would remove all holes. I have to use a small number. Will retry to see if it works.

[2020-11-23 17:33] andreasneumann commented on #40242
@uclaros - you are right. After running the data through "remove duplicate vertices" and "delete holes", then the clipping operation will run fine. And it runs really fast!

Now the big question: the original data was clean (I checked that with ST_IsValid() queries in Postgis). After running buffers and dissolves in QGIS it seems like I got this invalid data, even when running it at the end throug

[2020-11-23 17:35] andreasneumann commented on #40242
In any way @uclaros - thanks a lot for your help!

But in general, I think QGIS needs to improve - can't we fix geometries automatically after each "problematic" algorithm. Do we really expect that the user runs cleaning algorithms as intermediate steps again and again in a complex model?

[2020-11-23 18:04] andreasneumann commented on #40242
Closing this issue here, as it seems like the input data was not clean.

[2020-11-23 18:04] #40242 closed

[2020-11-23 18:29] nyalldawson commented on #40242
Not really - the fix isn't a magic cure, but rather it's a lossy operation which can sometimes result in unwanted results itself (not to mention loss of curves, m values, etc). It's a useful tool, but has significant limitations and I think we should always leave this up to users to investigate and determine whether it's appropriate in their particular case to use this tool.

The original issue is

[2020-11-23 18:51] agiudiceandrea commented on #40160
Yes, indeed. Maybe @m-kuhn and @volaya could know a little more about it (229c617785198aa32aac2104e8f842e4b35a39ab, 13bff9620c39e110852f4623e3ad9c3ec5ba260c). See also https://github.com/qgis/QGIS/issues/36353#issuecomment-626809574.

[2020-11-23 18:56] root676 commented on #40239
@nhofer are you using the `Rectangle (Polygon)` option for the grid type?

[2020-11-23 19:00] nyalldawson commented on #40160
You'd just need to do a bit of a study into the gdal drivers to see whether any formats use . in their extensions first. (@rouault are you aware of any?) If not, should be a safe change to make!

[2020-11-23 19:12] andreasneumann commented on #40242
Thanks @nyalldawson - I was already running the latest GEOS. I agree, it improved a lot. I was able to run models that failed before and run fine now.

But it seems I still need to put extra cleaning steps in my model.

I am only a bit puzzled to what the "Fix geometries" algorithm does, if it doesn't clean duplicate vertices and remove invalid holes. I was expecting it would do this for me.

Woul

[2020-11-23 19:19] nyalldawson commented on #40242
Are you on 3.9? I'm curious if you've noticed any difference in speed here...? (Especially with labels, if you're also on qgis master)

I'd have expected the duplicate vertex removal also - but possibly they aren't exactly equal and that's why they remain. I suspect the holes aren't invalid either, just extremely tiny "noise" which breaks the geos algorithm.

So we could consider adding these two

[2020-11-23 19:20] roya0045 commented on #40160
@nyalldawson I assume this would be to ensure that filenames with . don't get converted to extensions if its the uri containing the layer string after the database name.

[2020-11-23 19:32] nhofer commented on #40239
@root676 yes, polygon type.

[2020-11-23 19:39] andreasneumann commented on #40242
Yes, I'm on GEOS 3.9. I just built it today, because my model would frequently fail with GEOS 3.8. I can already say that 3.9 seems to be more robust for my model. But I didn't know that the "fix geometry" doesn't always fix the geometries. Once I add the "remove duplicate vertices" and "delete holes" algorithms, it will also make it more stable for GEOS 3.8, I guess.

I haven't tested QGIS a lot

[2020-11-23 21:06] roya0045 opened #40244 "Crash when browsing to save file"
Crash ID: c9bf9c1fe959b2046c803d450c2a8b0d526fc2a4

Stack Trace

CThumbnailCacheDataFile::_VerifyThumbnailAtOffset :
CThumbnailCacheDataFile::GetThumbnail :
CThumbnailCache::_TryGetThumbnailFromCache :
CThumbnailCache::GetImage :
CIconCache::GetIcon :
CSparseCallback::ForceImagePresent :
CSparseImageList::_Callback_ForceImagePresent :
CSparseImageList::ForceImagePresent :
CLayerCallback::ForceImag

[2020-11-23 21:07] uclaros commented on #40242
Qgis has no precision model, all overlay functions take place with floating point accuracy leading to such tiny segments.
The problem gets worse because the qgis tools that both prevent and remedy this issue have issues themselves.
Snap geometries to layer is a good preventive measure, but it is buggy and a huge memory hog!
Topological editing is also a preventive measure but still there are many

[2020-11-23 21:18] andreasneumann commented on #40242
@uclaros - it is my understanding that GEOS 3.9 (with the OverlayNG improvement - port of JTS improvements --> see http://lin-ear-th-inking.blogspot.com/2020/06/jts-overlayng-noding-strategies.html) should improve the situation.

And I can already confirm that it is more robust than when QGIS is built against QGIS 3.8, but apparently, it doesn't solve all issues and still sometimes produces invali

[2020-11-23 21:31] uclaros commented on #40242
I am using geos master with overlay ng enabled since the call for testing on the mailing list and it has solved my cases of failing clips and differences.

Those tiny holes though are not supposed to be fixed, they are expected behavior caused by input data inconsistent topology. If you have tiny gaps between polygons and you dissolve, this is what you get! Same with dissolving polygons that do no

[2020-11-24 01:00] antzzp commented on #38201
Simplified Chinese works well both in layer name and attributes in QGIS 3.16.1.
Thanks for the efforts!
![图片](https://user-images.githubusercontent.com/33449027/100032652-740ab280-2e33-11eb-9ae9-030c81f9e0fd.png)
![图片](https://user-images.githubusercontent.com/33449027/100032661-7836d000-2e33-11eb-915e-d3ce5747760f.png)

[2020-11-24 02:00] samath99 commented on #40232
QGIS version? 3.12.2 & 3.14.0-P
Operating system? windows
Detailed steps to replicate?

1- I have 3shp files on my layer panel for building | curbs | road.
2- processing toolbox -- > Rastertools -->Generate XYZ tiles(MBTiles)
3 - on the process box
            - extent = use map canvas extent
            - min zoom = 10 or 12
            - max zoom = 22
            - DPI = 96
            - Backgro

[2020-11-24 07:48] cxcandid opened #40252 "Open projects stored in GPKG via drag&drop"
It would be really nice, if we could open QGIS projects stored inside a GPKG file via drag&drop.
An UI extension to handle this is highly appreciated, at least by me :-)

Or is it possible to give the QGIS GPKG files a separate extension, so that we could open QGIS GPKG projects by double click inside the os?

[2020-11-24 07:55] pathmapper opened #40253 "Modeller - Querying WFS vector layer input before loading it"
**Feature description.**
Modeller - Query WFS vector layer input before loading it

**Additional context**
Since `3.14` (https://github.com/qgis/QGIS/pull/35472) it's possible to use WFS layers directly for vector layer inputs without loading them in a project, which is great.

However, currently all features of a layer are loaded, so it would be nice to be able to querying a WFS layer in a model

[2020-11-24 08:49] jgrocha commented on #40252
Hi @cxcandid

Each geopackage can store as many projects as you want. Should we open the first? Should we open it if there is only one project?

What do you think, if there are many projects stored?

[2020-11-24 09:39] spad1991 commented on #39799
@gioman I found an approved project I can share to show the problem. I cannot upload the background, it's too heavy and also irrelevant to the issue (last time it was a poly shapefile, wich exported correctly, this time it is a .tif raster that is not exportable in dxf, no change in the point geometry behaviour).
[SAMPLES.zip](https://github.com/qgis/QGIS/files/5588785/SAMPLES.zip)

[2020-11-24 10:20] cxcandid commented on #40252
Hi @jgrocha ... Good question!

Here's just my opinion for the 2 different cases we face:

1) drag&drop file into QGIS => should show list of layers and a list of projects
2) open GPKG from OS => show list of projects or open project directly, if only one project is available

[2020-11-24 10:24] spatialthoughts opened #40255 "Layer variables missing from Field Calculator algorithm on QGIS 3.16.1"
The expression engine is not able to access @layer and @layer_name variables from Field Calculator. They work fine elsewhere, i.e. via field calculator, or select by expression, but not from the Processing Toolbox. This works fine on 3.10 so it's a regression.
<img width="1051" alt="layer" src="https://user-images.githubusercontent.com/5227506/100081644-43e00580-2e6d-11eb-9020-853ae23578e7.png">

[2020-11-24 11:01] dingausmwald opened #40256 "Attribute table filter freezes qgis"
Another basic gis functionality not working since versions.

Atm at windows 10, x64
qgis 3.16

opening the attribute table of a geopackage layer with 47000 points on a network drive freezes qgis and takes about 10 seconds. This is okay.
Trying to use the filter function with 2 attributes freezes qgis completely after pressing "select features".

Just filtering data guys! I have to export data to e

[2020-11-24 11:32] vpavic commented on #40118
This appears to be a duplicate of #39764.

[2020-11-24 11:51] #40118 closed

[2020-11-24 11:51] uclaros opened #40257 "Layer filter and joined fields"
**Describe the bug**
When trying to add a filter to a layer containing joined fields, a dialog spawns that says:
[code]
This dialog has the following issues:
- It does not make clear what the problem is. It should say something like *Joined fields cannot be **used in filters**, ...*
- It is pretty obtrusive. You keep getting informed that you cannot filter by joined fields even when just want to f

[2020-11-24 11:56] gioman commented on #40239
@root676 also tested with a polygon, square, grid.

[2020-11-24 11:58] gioman commented on #38201
Not sure why the merge of the PR did not auto closed this.

[2020-11-24 11:58] #38201 closed

[2020-11-24 12:12] gioman commented on #40244
@roya0045 is this replicable?

[2020-11-24 12:20] gioman commented on #40232
@samath99 they are both outdated and unsupported. You must try on 3.16.1 or use the LTR release, 3.10.

Also you must answer to:

[2020-11-24 12:40] arnaud-morvan commented on #29794
I recently has same issue, but not from sortbyexpression algorithm but default attribute table sort.
Attribute table does not seems to reflect source order.
If use sortbyexpression and add autoincrement field, this new field is correctly set.
Now I can use this field to sort attribute table.

[2020-11-24 12:44] gioman commented on #40256
Duplicate of https://github.com/qgis/QGIS/issues/27899

[2020-11-24 12:44] #40256 closed

[2020-11-24 12:50] roya0045 commented on #40244
@gioman Don't think so, I just wanted to log the trace in case some else had this issue. I doubt this will occur anytime soon.

[2020-11-24 12:52] gioman commented on #39799
@spad1991 just tested your sample on 3.10 and 3.16 and I get identical results.

[2020-11-24 12:52] root676 commented on #40239
@gioman @nhofer I had a quick chance to test it yesterday but the memory leak doesn't apper in my version (ubuntu) - memory stays pretty stable. I hit another constraint: the raster was too big to fit into a shapefile (strange OGR errors). I think I'll test this again.

[2020-11-24 12:56] gioman commented on #40242
@andreasneumann I usually use GRASS (and its fully topological vector data model) to fix this issues. Just use v.clean (even from the Processing toolbox) to fix geometry problems, and in the advanced options add some tolerance for the "snapping". This way you'll get rid of small overlaps and voids between polygons. Beware that if this topology problems are macroscopic, then using a big tolerance f

[2020-11-24 12:59] gioman commented on #40239
@root676 raster? are we speaking about the same tool?

[2020-11-24 13:00] gioman commented on #40242
totally agree. (as Nyall says) I'm also an advocate that people mus know its data and the issues they have, but there are many (many) users that would benefit from automatic cleanups, and this option would be very handy also for advanced users. Not to say that such option would put us on par with other GIS packages...

[2020-11-24 13:02] gioman commented on #40242
If the new GEOS do not speed up much intersections and the alike, can we please revive the discussion around https://github.com/qgis/QGIS/pull/33365 ?

[2020-11-24 13:07] root676 commented on #40239
@gioman sry - thats just my wrong wording. It is the Create grid algorithm that creates vector grids. :wink:

[2020-11-24 13:13] denilsonjesus commented on #40236
Yes, I have expressions. I can send the project.
Thanks

Denilson de Jesus
________________________________
De: Alex <notifications@github.com>
Enviado: segunda-feira, 23 de novembro de 2020 10:56
Para: qgis/QGIS <QGIS@noreply.github.com>
Cc: denilsonjesus <denilson.jesus@hotmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [qgis/QGIS] QGIS crashes whenever I open the layout of my proje

[2020-11-24 13:15] denilsonjesus commented on #40236
I will try.

and I will send de project too.
Thanks

Denilson de Jesus
Celular:     (11) 96361-9745
Fone:        (11) 3775-5141 (Comercial)

________________________________
De: Giovanni Manghi <notifications@github.com>
Enviado: segunda-feira, 23 de novembro de 2020 08:54
Para: qgis/QGIS <QGIS@noreply.github.com>
Cc: denilsonjesus <denilson.jesus@hotmail.com>; Mention <mention@noreply.github.com>

[2020-11-24 13:16] gioman commented on #40239
@root676

https://drive.google.com/file/d/1o3P_xP1UcQZlWeTk9q69rvfvJu0DNgEQ/view?usp=sharing

[2020-11-24 13:23] root676 commented on #40239
@gioman thanks - I'll try again.

[2020-11-24 13:50] elpaso commented on #40194
The bad new is that it wasn't designed to work like that: the "parent" form is for embedded forms only.

The good new is that using drag and drop designer and setting "Force hide form on add feature" it works as expected because in that case the embedded sub-form has a parent.

![immagine](https://user-images.githubusercontent.com/142164/100102606-20fd2380-2e64-11eb-89b2-12ece81b44d5.png)

[2020-11-24 13:51] elpaso commented on #40194
Not a bug IMO, maybe it could be better documented.

[2020-11-24 13:56] spad1991 commented on #39799
So is it because of something in my export settings?
![Cattura](https://user-images.githubusercontent.com/74669420/100102230-987e8300-2e63-11eb-80f6-46d348bf90f3.PNG)

[2020-11-24 14:05] DelazJ commented on #40235
@gioman, maybe do I misunderstand you but it's the so-called **default** profile that does not populate the widgets. Other profiles do. Looks more like a bug to me.
![image](https://user-images.githubusercontent.com/7983394/100104395-6884af00-2e66-11eb-9f7b-b998f061ce17.png)

[2020-11-24 15:01] nicogodet commented on #40235
It seems that the profil selected in Settings / GDAL as default profile does not populate GDAL algs.
![image](https://user-images.githubusercontent.com/39594821/100110246-011e2d80-2e6d-11eb-982e-65b37d0d07d5.png)
![image](https://user-images.githubusercontent.com/39594821/100110287-0f6c4980-2e6d-11eb-94e5-d1969605bc63.png)

If I switch profil, it's ok.
![image](https://user-images.githubuserconten

[2020-11-24 15:09] luipir opened #40258 "[processing] Crash closing alg/model GUI after run from history (with workaround)"
**Describe the bug**
Systematic crash every time I close the algorithm after run ONLY IF algorithm is executed from processing history

**the workaround**
to avoid the crash follow instruction as in https://github.com/qgis/QGIS/issues/40258#issuecomment-853785613

**How to Reproduce**

Here a model with a kind of alternative execution basing on expression. This execution run correctly, but cash qg

[2020-11-24 15:54] skampus opened #40260 "SAGA Reclassify values python error"
hi, I noticed that the SAGA module in Processing called "Reclassify values" doesn't work.
It can be selected one of the following reclassification methods:
[0] single;
[1] range;
[2] simple table

the method chosen excludes the others.
Instead, if I select the method [0] and I insert the related parameters, once the module is launched, it stops with an error asking for the compilation of the param

[2020-11-24 15:55] pathmapper opened #40261 ".qpt file as input for "Export print/atlas layout as ..." algorithms"
**Feature description.**

`.qpt` file as input for `Export print/atlas layout as ... ` algorithms:

<img src="https://user-images.githubusercontent.com/20856381/100116300-ddaab100-2e73-11eb-948a-f2b33e4a558a.png" width="250">

<img src="https://user-images.githubusercontent.com/20856381/100116691-5447ae80-2e74-11eb-988a-fa1c29659f60.png" width="600">

**Additional context**

Currently it's not pos

[2020-11-24 15:56] gioman commented on #40258
@luipir ok, but what algorithm is? :)

[2020-11-24 15:57] gioman commented on #40260
@skampus I used this tools recently, and it worked. I'll have a look.

[2020-11-24 15:59] gioman commented on #40194
We need either the "Bug" or "Feature request" labels. If is not a bug or a feature request this should be closed. Or eventually moved to the docs tracker.

[2020-11-24 16:17] gioman commented on #39799
you are exporting using the 32632 CRS, but your project/data is in 4326 and I don't think that this parameter allows you do any reprojection, it is supposed you to choose the correct CRS, in this case 4326.

[2020-11-24 16:20] luipir commented on #40258
custom one usign custom scripts (to override limitations), crash happen in the sip part where a triggered event try to load not available results... continue investigating

[2020-11-24 16:23] luipir commented on #40258
crash happen also stopping the alg in the middle of the model and then close the alg/model gui

[2020-11-24 16:40] luipir commented on #40258
happen in master too

[2020-11-24 17:05] luipir commented on #40258
I can't understand who's' calling QgsGraphDirector that belong to the analisys->network library that I do not use in my model

[2020-11-24 17:21] luipir commented on #40258
crash happen only when model is run from processing history! if I run it from scratch the crash do not happen!

[2020-11-24 17:56] cjackel29 opened #40262 "QGIS 3.16.1-Hannover locks up on Field Calculator in Main Window 64 bit Windows 10"
**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

[2020-11-24 17:58] cjackel29 opened #40263 "Field Calculator locks up"
## User Feedback

I'm running this in the Field Calculator directly from the Main Window, NOT the attribute table.

array_first(aggregate(
layer:= 'TexasGasTransmission_TSPmeterLocations',
aggregate:='array_agg',
expression:=LOC_NAME,
filter:=levenshtein(LOC_NAME, attribute(@parent, 'SYS_NM')) <= 12,
order_by:=levenshtein(LOC_NAME, attribute(@parent, 'SYS_NM'))
))

## Report Details

**Crash ID**:

[2020-11-24 17:58] xz310 opened #40264 "Unable to save data layers or GIS projects"
Hi, I'm in QGIS 3.10.11 (Windows). I've got some real difficulties in saving data layers and even GIS projects as a whole.

For data layers: After importing csv. files and sometimes refactoring them, I found it hard to make the refactored data layer permanent to the project. As a result, although I click "save" everytime before exiting GIS, the refactored data layer is always "unavailable" when I

[2020-11-24 17:59] cjackel29 commented on #40263
This worked in 3.10 and then started locking up Today, 11/24/2020 after installing latest version of 3.10. I thought installing 3.16 would solve, but it still locks up

[2020-11-24 18:31] bbct commented on #37177
MarvinMep: I'm not positive, but clicking the "test connection" first may put it in a bad state.  If I recall correctly, if you avoid pressing that button at all, then, if all your info is entered correct, when you click List Databases, the database list populated.

[2020-11-24 18:35] stelf commented on #33013
I have been thinking more about this recently, and there's another perspective that should be considered, maybe, generally, by the GIS community.

People seldom need the data to be correct when they see it. Actually - no one really cares, as long as the measurement tools and snapping works. And even then - one relies not on the visual aid of correct and complete data being shown, but rather on the

[2020-11-24 18:37] agiudiceandrea opened #40265 "Project metadata wrongly encoded in PDF exported from print layout on Windows"
**Describe the bug**

On Windows, if the project metadata (title, author, subject, ...) contain characters not supported or not well mapped by the system 8 bit codepage, then the metadata of the PDF file exported from the print layout (using the "Export RDF metadata" option) are wrongly encoded.

Project metadata with the string **Test Eλληνικά Русский ÀÇÑ ŞÖÜ ŁĞÇŞ**
![image](https://user-images.g

[2020-11-24 21:11] koenigherford commented on #40194
@elapso: Could not reproduce your approach: My LayerPropertiesDialog looks different in various places:

Checkboxes (from right side of your sceenshot) are missing.
![grafik](https://user-images.githubusercontent.com/28433436/100151205-23ca3980-2ea1-11eb-9722-2a91029563ad.png)

Form stays empty
![grafik](https://user-images.githubusercontent.com/28433436/100151498-81f71c80-2ea1-11eb-8248-9ba57c7cb

[2020-11-24 21:28] #40262 closed

[2020-11-24 21:30] gioman commented on #40235
@DelazJ sorry it was me that had misunderstood the report.

[2020-11-24 21:31] gioman commented on #40263
@cjackel29 please attach a sample of the data you are using with the reported expression.

[2020-11-24 21:33] gioman commented on #40264
@xz310 in your project settings are you using absolute or relative paths?

[2020-11-24 22:02] xz310 commented on #40264
@gioman Hello, I'm using the relative path. Would changing to the absolute one make a difference? Thanks for your assistance!

[2020-11-24 22:04] gioman commented on #40264
@xz310 are you creating temp layers (and not making them permanent afterward)?

[2020-11-24 22:23] gioman commented on #40260
it seems that "recently" for me meant 3.4 where it "worked".

As far as I know we don't have a way to do it in Processing. In the past we used to split the tools (in this case there would have been 3 separate, one for each method) not sure/don't remember why we don't do it anymore.

In the specific case of this tool it is then necessary to fill all the parameters even the unused ones (including th

[2020-11-24 22:24] root676 commented on #40239
So tested this again but to me there is no sign of a memory leak that is related to the `Create grid` algorithm. @gioman in your screen GIF you save the grid to a temporary output which creates a layer that is stored in memory (see data provider of the created layer). This stores the huge vector grid totally in memory and fills it up. It doesn't if you save the grid to disk.

The real bug for me i

[2020-11-24 22:28] xz310 commented on #40264
Basically, yes. The refactored data layer seems to be the big problem: I've no idea in which format I should save it, and thus I can't really make it permanent. I've tried to save it in shapefile, csv, and a lot more, but I either receive an error message or have the refactored layer messed up afterwards.

[2020-11-24 22:29] xz310 commented on #40264
@gioman sorry, please see the reply above.

[2020-11-24 22:31] gioman commented on #40264
@xz310 you must describe here a specific case (attaching sample data if necessary), but this do not seems to be related to the issue you reported here (that is not an issue: if you don't make permament temp layer is normal you loose them), so please file a new ticket.

[2020-11-24 22:31] #40264 closed

[2020-11-24 22:31] gioman commented on #40239
@root676 yes you are right (of course, silly me).

yes, this seems to be the real issue.

[2020-11-24 22:33] gioman commented on #40239
@nhofer back to the original report... I can't confirm a large memory use on Linux when saving the output to disk.

[2020-11-24 22:42] gioman commented on #40239
Another related issue: the process can be canceled if outputting to memory layer, it can't if saving to disk (QGIS must be killed).

[2020-11-24 22:44] nyalldawson commented on #40239
I'm not saying there's not a leak here , but I don't think @gioman's screencast reveals this -- all it's showing is the increasing amount of memory reserved for the qgis process, not the actual memory in use after the algorithm is canceled.

See https://stackoverflow.com/a/131346/1861260. It's considerably more tricky, but you need to use the valgrind massif tool to measure the actual memory in us

[2020-11-24 22:46] nyalldawson commented on #40260
The native reclassify algorithms should do everything this saga one does, but with the benefit that they actually work and are supported. I don't see any reason why the SAGA ones should ever be picked over the native tools here.

[2020-11-24 22:47] nyalldawson commented on #40239
That's likely a symptom of the geopackage spatial index being rebuild on every added feature (ie. it will eventually cancel, but it's just waiting for the sqlite operation to finish... which will take forever). This was fixed in QGIS 3.16 along with the massive speed boosts we got from deferring the spatial index creation till after all the features are added.

[2020-11-24 23:03] roya0045 commented on #40263
The use of @parent and a joined layer might be why? I recall some things were changed in the relation code.

[2020-11-24 23:27] gioman commented on #40260
@nyalldawson well this may be the case for this specific tool, but there are counter examples, such tools not available as native QGIS ones, or tools that are still more robust on SAGA (i.e. some vector geoprocessing operation). The bottom line is that having some redundancy/diversity is good and sometimes very handy (i.e. when the bug is in QGIS tools). Any idea why QGIS now does not finds this t

[2020-11-24 23:41] gioman commented on #40260
This seems to affect all the SAGA tools that require a look up table, which is very bad of course.

[2020-11-24 23:41] nyalldawson commented on #40260
Right, but in this case I'm pointing out that there's an ideal solution for @skampus's issue which works in all recent QGIS releases, and can be done right now without having to wait for a bug fix.

[2020-11-24 23:42] gioman commented on #40260
yes of course.

[2020-11-25 02:23] samath99 commented on #40232
Hi thanks for your reply, initially I was using 3.10, and because of the same issue I switched to 3.12.2 & 3.14.0.
As you mentioned ill try the 3.16.1 and give you and update thanks in advanced

[2020-11-25 03:13] uwer commented on #38971
I understand this is an edge case but has anybody taken the time to look at this ?

[2020-11-25 03:43] samath99 commented on #40232
Hi @gioman i used 3.16.1-Hannover and Still missing tiles occurs in some zoom level. Is this because I'm using polygons that we draw manually using qgis?

[2020-11-25 07:07] nhofer commented on #40239
hmm. Do you have any clue what else could cause that in my case more than 30GB RAM are used (and that the process doesnt finish? Is it possible to set memory parameters or something in qgis?

[2020-11-25 08:35] skampus commented on #40260
I have always used this SAGA  module for raster reclassification instead of the raster calculator which, for me, is complex for this operation.
anyway you are right: QGIS core reclassification module does its job and works fine (it also acts on no data and this is great).
However, in my opinion, the problem remains: a non-functioning third-party module should be excluded from Processing.

Thanks f

[2020-11-25 08:43] gioman commented on #40260
better fix it, as it was working as expected until recently (and as said the root problem affects many other SAGA tools).

[2020-11-25 08:54] gioman commented on #40232
@samath99 attach some data we can use to replicate the issue.

[2020-11-25 08:56] gioman commented on #40239
@root676 when saving to disk the memory usage is stable here, if saving to memory layer ram usage grows (as expected, see above comments). Are you saving to disk or outputting to memory layer?

[2020-11-25 09:32] MrChebur commented on #29402
I confirm this bug in QGIS 3.14, Windows 10. Trying to set 'LAYERS' parameter as file path leads to error.

[2020-11-25 09:57] Glurback opened #40269 "RGB feature and legend color function"
**RGB feature and legend color function**
<Hi all. Would be change my life if only I could find functions that would allow to color a set of categorized attribute based on a either a defined attribute library (may exist but couldn't find, failed using the project style manager) or R,G,B fields as the "Color_RGB" function does but that would apply to both features AND to legend. And all classes at

[2020-11-25 10:11] jimbo-jones1313 opened #40270 "crashed again"
## User Feedback

I was drinking coffee, and it crashed.
really hate having to register just to register a crash; you either want to improve your software or you don't.

## Report Details

**Crash ID**: [96cf8ca0cd80d02ecf61b1efa328f0afc85a2f88](https://github.com/qgis/QGIS/search?q=96cf8ca0cd80d02ecf61b1efa328f0afc85a2f88&type=Issues)

**Stack Trace**
<pre>
QObject::isWidgetType :
QMainWindow::tr

[2020-11-25 10:18] nhofer commented on #40239
@gioman i am saving to disk.

[2020-11-25 10:19] jimbo-jones1313 opened #40271 "reporting crashes is pointlessly complicated"
## User Feedback

just shortly after the last crash

## Report Details

**Crash ID**: [81c2cb075783f710665ba0ab21863a5ef664de16](https://github.com/qgis/QGIS/search?q=81c2cb075783f710665ba0ab21863a5ef664de16&type=Issues)

**Stack Trace**
<pre>
QWidget::style :
QMainWindow::trUtf8 :
QHeaderView::logicalIndexAt :
QWidget::setStyleSheet :
QgsCollapsibleGroupBoxBasic::updateStyle qgscollapsiblegroupbo

[2020-11-25 10:20] nyalldawson commented on #40270
Upgrade to 3.16.1 - this bug is fixed

[2020-11-25 10:20] #40270 closed

[2020-11-25 10:21] nyalldawson commented on #40271
Fixed in 3.16.1

[2020-11-25 10:21] #40271 closed

[2020-11-25 10:34] jimbo-jones1313 commented on #40270
might as well just spend my time continually upgrading...

[2020-11-25 11:44] dingausmwald opened #40272 "Sort by expression freezes qgis"
3.16
windows 10 x64
geopackage local/network drive/shapefile local

Point layer in different formats (shp, geopackage), from different sources (local, networkdrive), with about 47000 objects. When trying to sort for duplicates ( count("FieldWithDuplicates","FieldWithDuplicates") ) qgis freezes, prozessor is working. No result after 20 min.

was working on 3.4

[2020-11-25 11:45] gioman commented on #40272
@dingausmwald please attach a dataset we can use for local tests.

[2020-11-25 11:53] gioman commented on #40239
@nhofer can you post the parameters you are using (including the extent and CRS)?

[2020-11-25 12:03] denilsonjesus commented on #40236
Denilson de Jesus compartilhou um arquivo do OneDrive com você. Para exibi-lo, clique no link abaixo.
<https://1drv.ms/u/s!Ap1glRHWcuhOlTCLxc8em4Z-D008>
[https://r1.res.office365.com/owa/prem/images/dc-generic_20.png]<https://1drv.ms/u/s!Ap1glRHWcuhOlTCLxc8em4Z-D008>
toqgis.7z<https://1drv.ms/u/s!Ap1glRHWcuhOlTCLxc8em4Z-D008>

Hi ,
I sent my project with layout problem for you.
Thank you for help.

[2020-11-25 12:05] gioman commented on #40236
Crash confirmed also here on Linux.

[2020-11-25 12:05] luipir commented on #40258
I can confirm that crash happen with other models if run from history

[2020-11-25 12:10] DelazJ commented on #40269
I'm not sure whether I understand correctly but I wonder if this is not already available. Give a try to the "Match to saved symbols" option in "Advanced" menu at the bottom of the Layer Properties --> Symbology tab --> Categorized (https://docs.qgis.org/3.10/en/docs/user_manual/working_with_vector/vector_properties.html#categorized-renderer)

[2020-11-25 12:15] dingausmwald commented on #40272
Same goes for select by expression (COUNT(1, "attribute")>1)

[Adressen.zip](https://github.com/qgis/QGIS/files/5596584/Adressen.zip)

[2020-11-25 12:33] luipir commented on #40258
looking for the simplest model that run from history trigger the issue
Intuition says me that there is a ownership in python HistoryDialog not correctly repected.
Executing alg via QgsPythonRunner insgtead of exec does not change the issue.
NOTE not all models trigger the issue... looking for a usable one

[2020-11-25 13:06] gioman commented on #40272
Ok I see the freeze, but only when doing the sort within the table as from processing seems ok.

[2020-11-25 13:19] Samweli commented on #39994
Hi @rduivenvoorde, @anitagraser @nyalldawson

The WMS-T settings in source tab can be used with or without the Temporal Controller, moving these settings into the Temporal tab might confuse users who just want to fetch a WMS-T resource and do nothing about the Temporal Controller or the layer's temporal properties.

Yes, in the context of using these settings with the Temporal Controller.

[2020-11-25 13:46] arencambre opened #40274 "Icons too small and other scaling problems on high DPI monitor"
**Describe the bug**

I have an HP EliteBook with a 4K (high DPI) monitor. When I open QGIS, the icons are tiny (Chrome browser window included in screenshot for context, and it may appear to be much larger than reality due to how Github apparently uses 72 dpi for displaying images):
![image](https://user-images.githubusercontent.com/411495/100234466-c1008e80-2ef0-11eb-8ec1-1796b57e25ae.png)

This

[2020-11-25 14:14] vicpaine opened #40275 "Unable to select Date field in Temporal after selecting Single field with Date/Time"
[ORS Records01-01-2020 21-11-2020-date-only-truncated.txt](https://github.com/qgis/QGIS/files/5597086/ORS.Records01-01-2020.21-11-2020-date-only-truncated.txt)
After loading file as New Layer/Text (shortened file attached) and going to Properties/Temporal, Tick Temporal box. Configuration -Single Field with Date/Time.  Field, click drop down arrow, nothing happens and unable to select date field.

[2020-11-25 14:27] reyemtm commented on #40274
I believe this is upstream in QT - the workaround as you mentioned at least is to create a manifest file - see [this example](https://danantonielli.com/wp-content/uploads/2014/03/manifest.txt) from [this post](https://danantonielli.com/adobe-app-scaling-on-high-dpi-displays-fix/). I forget to copy my file and every time I upgrade I have to create it again. Definitely a pain and I'm not too sure on

[2020-11-25 15:12] DelazJ commented on #40218
@nyalldawson Hmm... I see! So texts need to be in single type case (mind checking https://github.com/qgis/QGIS-Documentation/pull/6293/files, please? Thanks). There's no `title()` function full equivalent.

Oh! Really? 😠

[2020-11-25 15:17] arencambre commented on #40274
Thank you. That manifest workaround appears to be superseded per Dan's April 8, 2017 comment: https://danantonielli.com/adobe-app-scaling-on-high-dpi-displays-fix/#comment-16689.

[2020-11-25 15:24] reyemtm commented on #40274
Changing the high dpi settings did not work for me. Still using the manifest file.

[2020-11-25 15:57] DelazJ opened #40276 "[Layout] Allow to apply the shape item style when clipping a layout map item"
In layout dialog, create a shape item with some (stroke) style
Create also a map item with another (stroke) style
In the map item properties, top toolbar, select "clip settings"
Select "Clip to item", using the previous shape

The map item is clipped to the shape extent, and uses the map item (stroke) style
If you select the shape item and see its properties, the style you set is still shown but i

[2020-11-25 16:10] e42mercury commented on #26416
I can reproduce this error; it's very consistent. QGIS 3.16.0, MacOS

[2020-11-25 16:16] Ellebjerg opened #40277 "Split feature does not split correctly"
Hi,

I have in QGIS 3.16 tried to split a number of line features with the split feature tool. If I snap to a node with the split feature tool, nothing happens. If I split between two nodes, the two line parts between the two nodes are made into two separate lines, but the remainder of the line is now a multiline consisting of the two separate parts on each end of the section which was split.

Bes

[2020-11-25 16:20] gioman commented on #40277
@Ellebjerg please add sample data, and in this specific case also a small screencast would be very useful to understand what you are doing and if there is really an issue. Thanks.

[2020-11-25 16:22] e42mercury opened #40278 "Crash when selecting Font after adding a label in a layout on macOS 10.13"
QGIS crashes when selecting "font" after adding a label in a layout.
This issue was [also reported for QGIS 3.0](https://github.com/qgis/QGIS/issues/26416).

1. Go to Layout Manager
2. Click on Add Item > Add Label
3. Go to Item Properties and left-click on "Font"
    3a. Right-click "Font" (or left-click the arrow) and a contextual menu appears (Font size, recent fonts, etc.)
    3b. Left-click "

[2020-11-25 16:22] gioman commented on #40277
@Ellebjerg maybe you are hitting this very old bug? https://github.com/qgis/QGIS/issues/14070

[2020-11-25 16:24] gioman commented on #40278
@e42mercury please attach a sample project (with the necessary data).

[2020-11-25 16:42] Ellebjerg commented on #40277
I have attached five screen shots showing the lines before and after the split. I will follow up with sample data. And no, the line in this example does not selfintersect. It is a road running east to west with only small bends.

However, I come to think that it may be because the original geometry is formed by a union of several geometries (one for each intersection) in PostgreSQL based on the mu

[2020-11-25 17:04] Ellebjerg commented on #40277
The data was stored as a multicurve-feature, but transforming it to multiline-feature makes no difference.

I have attached a small dump in a geopackage. I have tried the same split on these data with the exact same result.

[sample_data.zip](https://github.com/qgis/QGIS/files/5598176/sample_data.zip)

[2020-11-25 17:06] gioman commented on #40277
@Ellebjerg you have zipped the wrong file.

[2020-11-25 17:14] Ellebjerg commented on #40277
Sorry, this should be better

[sample_data.zip.zip](https://github.com/qgis/QGIS/files/5598218/sample_data.zip.zip)

[2020-11-25 17:17] gioman commented on #40277
@Ellebjerg in this sample there is the same place/area represented in the screenshots? I can't see it.

[2020-11-25 17:19] Ellebjerg commented on #40277
There is an east-west bound road about one fourth up from the southern end. This is the road which I was trying to split.

[2020-11-25 17:24] vicpaine commented on #40275
Just realised problem probably caused by date format is DD/MM/YYYY should be YYYY/MM/DD

[2020-11-25 17:34] alexbruy commented on #40260
I'd say even better to drop OTB, SAGA, and maybe GRASS, providers from core, letting interested people to maintain them as 3rd party plugins.

[2020-11-25 17:34] e42mercury commented on #40278
I attached a QGZ to the original post – will that work or do you need other data?

[2020-11-25 17:35] gioman commented on #40260
@alexbruy yes I (we?) understand this rationale, and I agree. But as far as I remember we can't do it in QGIS 3, correct?

[2020-11-25 17:37] agiudiceandrea commented on #40272
You could try with a subset of your layer of e.g. 1000 records and you will see it works in a reasonable amount of time.

I think this approach is inefficient 'cause the same calculations (group 47000 records and count the occurrences of all the groups) will be re-evaluated for each row, i.e. 47000 times.

Could be better to relies on the RDBMS functionalities of i.e. a Virtual Layer to do this jo

[2020-11-25 17:39] gioman commented on #40278
@e42mercury no crash on Linux with that empty project. I will test on macOS.

[2020-11-25 17:39] Golok commented on #35512
Hello,

Despite being listed in the [changelog for QGIS 3.14](https://www.qgis.org/en/site/forusers/visualchangelog314/index.html), I still can't output rasters with the Winkel Tripel projection.

I updated to 3.16, but the bug persists… I have no problem to output vector layers, but rasters disappear as soon as the preview reaches the end of longitudes (see screenshots below).

![Screenshot 2020-

[2020-11-25 17:44] luipir commented on #40258
Here a model with a kind of alternative execution basing on expression. This execution run correctly, but cash qgis after closing alg ONLY if alg is run from processing history!
[tests_history_crash.zip](https://github.com/qgis/QGIS/files/5598348/tests_history_crash.zip)

steps to reproduce

0) installa attached zipped model

1) create a polygon (the alg do a buffer)
2) run the model from processi

[2020-11-25 17:46] gioman commented on #40272
then shouldn't we warn the users when using some type of operators? By the way... it is really just a matter to wait a looong time, is not a complete freeze.

[2020-11-25 17:47] vicpaine commented on #40275
Correction, problem is **not** caused by date format.  I converted the date format, saved file and tried again in a new project.  Bug still there, cannot set date field.

[2020-11-25 17:47] alexbruy commented on #40260
Just tested on Linux with master (30a99ab472) and SAGA 7.3.0 from ubuntugis and can't reproduce error from [this comment](https://github.com/qgis/QGIS/issues/40260#issuecomment-733267617). For me it generates correct result.

[2020-11-25 17:49] gioman commented on #40260
@alexbruy yes, I forgot a "little" detail in my comment... seems to be a Windows only issue. Anyway before wasting your time Let me check again on a clean Windows machine. I'll get back later.

[2020-11-25 17:56] murialex commented on #35512
I confirm the issue that has not been resolved and persists in my case too. I suppose that the origin of the problem is in the PROJ library.
Environment:
Wondows 10, QGIS 3.16

[2020-11-25 18:09] gioman commented on #40277
@Ellebjerg your line is already split, the cut you describe results in the expected result to me.

![Peek 2020-11-25 18-08](https://user-images.githubusercontent.com/1951107/100266247-67787e00-2f49-11eb-9b65-b88eca5ceebc.gif)

[2020-11-25 18:16] vicpaine commented on #40275
[ORS Records01-01-2020 21-11-2020-date-only.txt](https://github.com/qgis/QGIS/files/5598523/ORS.Records01-01-2020.21-11-2020-date-only.txt)
Not working on Surface book now, tried reducing file to coordinates and date, still doesn't work.

[2020-11-25 18:52] gioman commented on #40278
@e42mercury no crash here with QGIS 3.16 on macOS Catalina.

[2020-11-25 19:03] agiudiceandrea commented on #40272
I've also tested the provided layer file using the Select by Expression (COUNT(1, "attribute")>1) tool with QGIS 2.18.23 and 3.4.9 and it seems they behave the same way of QGIS 3.10 and 3.16.

[2020-11-25 19:05] gioman commented on #40260
@alexbruy and as usual... on a clean testing env (Windows 10, 3.10 and 3.16 standalone installers)... all good... shame on me for not having did it yesterday.

[2020-11-25 19:05] #40260 closed

[2020-11-25 19:07] Ellebjerg commented on #40277
Strange. Why does it produce the result shown in my screendumps on my pc, when it obviously behaves correctly on yours?
I even tried on the gpkg before uploading it with the same result.

[2020-11-25 20:08] skampus commented on #40260
So, what do I have to tell to all users having this bug?

[2020-11-25 20:12] gioman commented on #40260
if you refer to your original description you have to tell them that **all** parameters must be filled, even the ones for the unused methods. As said in the past we used to split this tools, but at some point they were all merged together again, don't remember why.

[2020-11-25 20:16] skampus commented on #40260
Ok, thank you for your quick reply.

s.

Il mer 25 nov 2020, 21:12 Giovanni Manghi <notifications@github.com> ha
scritto:

[2020-11-25 20:30] nyalldawson commented on #40260
@skampus my recommendation would be to direct your users to the native qgis reclassify tools.

Whenever I'm teaching qgis I always recommend that users pick algorithms in this order:

1. Qgis native provider: it's the most actively maintained and will work with ALL layer sources supported by qgis, also has nice functionality like saving results directly into existing geopackages, postgres database

[2020-11-25 21:17] kevg5555 opened #40281 "SCP issue"
Issue cant connect to server/Satelite when installing Plugin

[2020-11-25 21:18] gioman commented on #40281
You must report to the plugin author.

[2020-11-25 21:18] #40281 closed

[2020-11-25 21:25] dtutic commented on #39637
I have noticed strange bahavior of expression and field based label placing. When done manually by setting all fields, it works OK, but if you copy&paste symbol (even only symbol part) the labels start to appear automatically on places which are not defined by expression/field.
![labels1](https://user-images.githubusercontent.com/16665784/100282795-8805ff80-2f6c-11eb-9992-6d5ed5dee76b.png)
On this

[2020-11-25 21:42] zippy84 commented on #34973
Please delete this issue/question.

[2020-11-25 22:56] e42mercury commented on #40278
Strange. Thanks for checking. Perhaps the bug is limited to macOS 10.13? That seems odd, though. I would guess it's not related to the plugins I have installed. I just tried it with QGIS 3.16.1 and the same thing happened.

[2020-11-25 23:07] gioman commented on #40278
@e42mercury try with a new QGIS profile anyway.

[2020-11-26 00:14] vcloarec opened #40283 "crash when extrem zoom out with mesh layer"
with extreme zoom out, this line https://github.com/qgis/QGIS/blob/74edcbed5f8d302813427206f92de662a1e3c615/src/core/mesh/qgsmeshlayerrenderer.cpp#L104 can calculate an excessive output size that lead to a extreme used of memory and eventually to a crash of QGIS when rendering.

With 3.16 and master

[2020-11-26 00:16] Golok opened #40284 "PROJ version not updated in QGIS 3.16?"
Hello,

Referring to the issue #35512 regarding the Winkel Tripel projection and the changes on PROJ 7.1, it looks like the version that QGIS 3.16 is compiled and running against is 6.3.2, and not 7.1 as expected.

![QGIS-3-16_PROJ_6-3-2](https://user-images.githubusercontent.com/278053/100293676-bb548880-2f84-11eb-8f33-4cd0aeb9426d.png)

Could this be the reason why I still cannot output raster l

[2020-11-26 06:37] alexbruy commented on #40260
Actually there are still separated simplified tools for each reclassification method, don't why issue author ignored them.

[2020-11-26 06:49] alexbruy commented on #40235
I'm pretty sure it was already reported, just can't find the ticket.

[2020-11-26 07:03] alexbruy commented on #38535
@gioman can we close this?

[2020-11-26 07:07] alexbruy commented on #36261
Closed for the lack of feedback. Please reopen if necessary.

[2020-11-26 07:07] #36261 closed

[2020-11-26 07:10] alexbruy commented on #35001
No sure this is Processing issue.

[2020-11-26 07:18] alexbruy commented on #38485
Issue with CSV imputs was already reported in #31267, so I close this.

[2020-11-26 07:18] #38485 closed

[2020-11-26 07:39] Ellebjerg commented on #40277
Have you tried selecting one of the long sections on each side of the intersecting road. When I try selecting the part on one side, Both parts are selected, as it is also displayed in my screendump, so they are stil one feature.

[2020-11-26 07:47] agiudiceandrea commented on #40260
@gioman, see https://github.com/qgis/QGIS/pull/32097: the tool is still splitted, but the unsplitted one was left in place for backguard compatibility.

[2020-11-26 07:57] skampus commented on #40260
Sorry I don't understand your note.
The point is another: if a module doesn't work, it has to be solved or removed, saying "I don't know why the issue author  didn't use other tools" is not useful for anyone..
I solved the problem in another way, but if a module does not work the first thing an user thinks is that QGIS causes the error (which is actually the case).
So I expect as answer not "Use a

[2020-11-26 08:11] #38535 closed

[2020-11-26 08:15] gioman commented on #40284
@Golok the fact that some upstream bug is fixed does not means that QGIS can immediately jump and use the library patched version.

[2020-11-26 08:26] ghtmtt opened #40291 "Enable editing only at certain scales"
A nice addition could be to add to the `Digitizing` properties of each layer the chance to activate the editing only at a certain scale(s).

[2020-11-26 08:30] gioman commented on #40260
@agiudiceandrea that sounded familiar :) And now I understand the confusion, the split tools only show in 3.16 not 3.10 (which is my daily driver for work).

[2020-11-26 08:32] gioman commented on #40260
@skampus the module **does** work. The one with all the methods together is "just" cumbersome to use, this is why it was split.

![Screenshot_20201126_083134](https://user-images.githubusercontent.com/1951107/100326409-d5608c00-2fc1-11eb-8c19-687ae4e2bf30.png)

[2020-11-26 08:32] pathmapper commented on #30397
Related SE question:
https://gis.stackexchange.com/questions/379549/qgis-use-of-a-model-output-in-the-same-model-as-a-layer-in-the-field-calculator

[2020-11-26 08:35] alexbruy commented on #37926
I'd say this is rather feature request, as it always worked this way and forcing meters as output unit was an intentional decision.

[2020-11-26 08:49] skampus commented on #40260
ok, it's clear for me now.
thank you all and sorry for the noise.

s.

[2020-11-26 08:50] gioman commented on #40260
I don't program/develop but I do my share of geoprocessing work and I do teach a lot, and while I see your general point I think it is also a bit unfair. Also for me SAGA tools are kind of last resort when they have counterparts, but the main reason in the lack of documentation, not because they are not robust or because they return wrong results. Sure there is some tool that we know return the wr

[2020-11-26 09:04] gioman commented on #40277
@Ellebjerg yes, it is a multipart geometry,

by "split" you mean separate them so to have single parts geometries instead?

[2020-11-26 09:15] Ellebjerg commented on #40277
Yes, that is exactly what I mean. That is to my understandig from the QGIS Documantation what the split feature tool is supposed to do. Otherwise I would use the Split parts.

[2020-11-26 09:20] gioman commented on #40277
@Ellebjerg my opinion: no, I don't expect the "cut" of a part of a multipart feature to result in the split of the parts in separated geometries. To do the multipart <> singlepart conversion there are other means. But let's see what others have to say about.

[2020-11-26 09:23] Ellebjerg commented on #40277
I did a single cut through the feature as shown in the second of my screendumps. This resulted in the feature being split into three parts as shown in screendumps 3, 4 and 5. I cannot in anyway se the logic in this.

[2020-11-26 09:28] gioman commented on #40277
@Ellebjerg look at my screencast: the part that has been cut become two new geometries. The rest remain as a single multipart geometry. Again, to me this seems the expected result.

[2020-11-26 09:30] nhofer commented on #40239
@gioman

grid type: rectangle polygon
grid extent: 499513, 609850, 5190269, 5300407
horizontal and vertical spacing both 10m
no overlay
crs: EPSG:32633

[2020-11-26 09:36] gioman commented on #40239
@nhofer no discernible memory spike here on Ubuntu 20.04.

[2020-11-26 09:37] Ellebjerg commented on #40277
Im my first screendump I have marked a single feature, which is the whole road. For some reason this does not seem to be the case in the data which I uploaded, so please disregard the uploaded data.
 I selected one row in my attribute table resulting in the selection shown in screendump 1. One cut through this (screendump 2) resulted in three separate features (screendump 3, 4 and 5). I have tried

[2020-11-26 09:42] nhofer commented on #40239
I just started it again 10min ago, and memory is beyond 40GB and still running. I ll wait what happens to the end.
How long did the processing take you @gioman ? And are you using QGIS 3.10? thx

[2020-11-26 09:46] nyalldawson commented on #40239
@nhofer are you able to test with 3.16? There's definitely been some substantial improvements in how outputs from algorithms are written to disk and I think they may help here.

[2020-11-26 10:00] jimbo-jones1313 opened #40295 "QGIS crashed"
## User Feedback

just another day, another crash

## Report Details

**Crash ID**: [c8dfcba9d0bae8b2a5df0265b41023463aa164b0](https://github.com/qgis/QGIS/search?q=c8dfcba9d0bae8b2a5df0265b41023463aa164b0&type=Issues)

**Stack Trace**
<pre>
QObject::thread :
</pre>

**QGIS Info**
QGIS Version: 3.16.1-Hannover
QGIS code revision: b381a90dca
Compiled against Qt: 5.11.2
Running against Qt: 5.11.2
Co

[2020-11-26 10:14] uclaros opened #40296 "Drag Identify is missing Derived info"
**Describe the bug**
When using the *identify* tool by dragging a rectangle instead of a single click, the *(Derived)* branch on the results tree is not fully populated, it only displays the Feature ID.

**How to Reproduce**
1. Add a vector layer with at least one feature
2. Use the identify tool and click on a feature
3. Expand the *(Derived)* branch on the results: it is fully populated with are

[2020-11-26 10:18] cftao opened #40297 "QGIS crashes when I open excel files using openpyxl model in Processing script"
IMPORTANT:

QGIS exit when i open excle file use openpyxl model in "Processing Script fremwork".
I just open a excle file.

My Code

    def processAlgorithm(self, parameters, context, feedback):
        """
        Here is where the processing itself takes place.
        """
            pExlFile = openpyxl.load_workbook("D:\Config.xlsx")
            pSheet = pExlFile["Sheet"]
            pStr = p

[2020-11-26 10:49] nhofer commented on #40239
Is it possible that the output is too large for a shapefile (the shp itself has more than 4gb and the dbf >3GB after computation)? It doesnt open.. Trying as geojson, geopackage,..?

@nyalldawson i will check

[2020-11-26 11:11] roya0045 commented on #40297
can you even import openpyxl in the python console?

[2020-11-26 11:12] roya0045 commented on #40295
this will need far more information to be remotely useful.

[2020-11-26 11:13] roya0045 commented on #40284
This is not a bug.

[2020-11-26 11:16] roya0045 commented on #40278
@gioman could this just be the style crash that was fixed? I suggest trying in 3.16.1

[2020-11-26 11:18] uclaros commented on #40295
Hey @jimbo-jones1313 I know crashing is frustrating, but you have to focus a little on helping the developers that can help cure the crashes!
Imagine your car's brakes fail and you crash, then call the car maker's engineering department, show them a photo of your crashed car and tell them *"Another day, another crash"* and expect those guys to understand there's a glitch on the braking system and

[2020-11-26 11:35] jimbo-jones1313 commented on #40295
well, i don't know what else to add to it; don't know which crash that was, there have been so many

[2020-11-26 11:36] gioman commented on #40295
@jimbo-jones1313 you must describe what you were doing. Also you must try if using a new QGIS profile improves things.

[2020-11-26 11:38] jimbo-jones1313 opened #40300 "artifacts from using "polygon properties""
Interesting consequence from, I assume, using "edge detection" software
(https://user-images.githubusercontent.com/63853386/100346377-0c479980-2fe4-11eb-98fa-8dac2d684055.PNG)

[2020-11-26 11:39] gioman commented on #40300
@jimbo-jones1313 you must file tickets the right way, adding the requested infos in the ticket template

**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

[2020-11-26 11:39] #40300 closed

[2020-11-26 11:40] gioman commented on #40300
If necessary also attach sample data we can use to replicate the problem.

[2020-11-26 11:40] gioman commented on #40284
agree, closing?

[2020-11-26 11:41] gioman commented on #40278
I tested with 3.16 on Catalina, so maybe it is not the same issue.

[2020-11-26 11:41] jimbo-jones1313 commented on #40295
i installed the new update (3.16.1) yesterday, if that's what you mean

[2020-11-26 11:43] gioman commented on #40295
no. Settings > User profiles > New profiles

and afterwards do not install any 3rd party plugin.

[2020-11-26 11:47] roya0045 commented on #40284
Your call Gio.

[2020-11-26 11:55] jimbo-jones1313 commented on #40295
my only "plug-ins" are GRASS, SAGA and GDAL.

[2020-11-26 11:56] gioman commented on #40295
you must try a new QGIS profile anyway, is not just a matter of plugins.

[2020-11-26 11:58] Golok commented on #40284
Does closing mean no step will be taken to fix this?

[2020-11-26 12:03] gioman commented on #40284
@Golok there is nothing to fix, you must wait a new QGIS releases that will use proj 7

[2020-11-26 12:03] gioman commented on #40284
or build yourself QGIS using the dependencies you want/need

[2020-11-26 12:05] gioman commented on #40239
I used 3.10.11, no issues.

[2020-11-26 12:06] gioman commented on #40239
The resulting gpkg is 24gb, it took quite some time, but along the process never seen any spike in ram usage. Definitely you can't use SHP as output format.

[2020-11-26 12:08] gioman commented on #40239
that is 120 million features...

[2020-11-26 12:12] gioman commented on #40277
@Ellebjerg it is the case, is a multipart geometry.

![Screenshot_20201126_121139](https://user-images.githubusercontent.com/1951107/100349594-9beb4900-2fe0-11eb-8526-498f122063d3.png)

[2020-11-26 12:14] DelazJ commented on #40284
Or check whether a [nightly build](https://qgis.org/downloads/macos/) uses that version of dependency...(eg windows nightly uses a more recent proj version)
@PeterPetrik Is it normal that the latest nightly is 2 weeks old? Or that is not the page to look at?

[2020-11-26 12:20] PeterPetrik commented on #40284
mac is proj6 too. nightlies are broken, I will try to fix tomorrow.

[2020-11-26 12:37] Samweli commented on #39476
Hi @gioman, @beedawg1985, I provided a fix for a similar issue here https://github.com/qgis/QGIS/pull/33651, it available in QGIS  3.12.0

[2020-11-26 12:47] gioman commented on #39476
@Samweli the patch was merge in January in master, this means that it should be in any release like 3.10 and above. This means that this issue is a different one(?).

[2020-11-26 12:57] Samweli commented on #39476
I think there was no backport for it, so it is only available starting on 3.12.0 onwards.

[2020-11-26 12:58] gioman commented on #39476
ok so this must be retested on 3.16, will do it.

[2020-11-26 13:18] #39326 closed

[2020-11-26 13:24] Glurback commented on #40269
Hi there! Thanks for the help!
That would partially work but to do so I would have to save set up each style, enter manually the code for each so it can recall the style for each code for the "match to save symbols” option. Idea is there but not convenient as I have hundreds of symbols to create, one by one.
Is there any way to
1) massively edit a symbol file to avoid doing it one by one? Or how t

[2020-11-26 13:25] cftao commented on #40297
I  have imported openpyxl，for example

***************************************************************************
*                                                                         *
*   This program is free software; you can redistribute it and/or modify  *
*   it under the terms of the GNU General Public License as published by  *
*   the Free Software Foundation; either version 2 of the

[2020-11-26 13:52] cftao commented on #40297
I can run the coding in python console,for example

Python Console
Use iface to access QGIS API interface or Type help(iface) for more info
Security warning: typing commands from an untrusted source can lead to data loss and/or leak
import openpyxl
pExlFile = openpyxl.load_workbook("D:\Config.xlsx")
pSheet = pExlFile["图层对应表"]
pStr = pSheet['B3'].value
print(pStr)
阀门

[2020-11-26 15:58] cftao opened #40304 "Plugin processing: This plugin is disabled because it previously crashed QGIS."
IMPORTANT:

I installed qgis3.16.
When i open qgis, "Plugin processing: This plugin is disabled because it previously crashed QGIS."
I can not open toolbox.

[2020-11-26 16:44] e42mercury commented on #40278
I tried with a new profile in 13.16.0. Same result. The 3.16.1 mac build is not available from the main download page; the link is for the 3.16.0 build ([I created a separate issue for this](https://github.com/qgis/QGIS-Mac-Packager/issues/103)).
I installed the nightly build (3.17.0) and used a new profile. Same result. My macOS version is older than Catalina; that is the only difference I can se

[2020-11-26 17:56] uclaros commented on #38812
The warning is misleading, the layer is actually appended to the existing geopackage if *Overwrite existing geopackage* is not checked.

[2020-11-26 18:06] vicpaine commented on #40275
Eventually found it was caused by QGIS loading date as text.  Something must have been changed under the bonnet because even animations that previously worked have failed.  The work around is to reduce fields to lat,lon & date and add scvt spec file.

[2020-11-26 18:07] #40275 closed

[2020-11-26 18:41] andyt69 commented on #34328
I'm experiencing the same exact issue with 3.16.1-Hannover. I resolved (maybe...) limiting the rownum of the query using "where rownum <" by specifying a number a little bit greater then the real number of records the query returns in sqldeveloper. Of course this is annoying :) but hope can give some indication to correct the code.

[2020-11-26 20:21] YenihayatN opened #40307 "QGIS sorting problem in Mac"
Hello All!

I am using QGIS 3.14 for both Windows and Mac. Even though it works perfectly in Windows, I had sorting problem in Mac. QGIS sorts as 1 10 100 instead of 1 2 3.

To fix this, I have updated to 3.16 version, and nothing changed.

Thanks for all help.

[2020-11-26 20:32] andreasneumann commented on #40307
I assume you are trying to sort in the attribute table?

What data type does your column have?

[2020-11-26 20:42] YenihayatN commented on #40307
I am trying to use Properties => Symbology => Categorized according to 3rd column which is PGA as given in below, and the first two columns are Lat Long. I have also tried to replace dot with comma, does not affected.
<img width="253" alt="Screen Shot 2020-11-26 at 23 40 43" src="https://user-images.githubusercontent.com/75095606/100390279-d8e72800-3040-11eb-86c8-b5b34b78a6ba.png">

[2020-11-26 21:00] andreasneumann commented on #40307
To me it seems like your column is of string data type (see the "abc" icon next to the PGA column.

You could use an expression instead of the column, something like "to_int(PGA)" to convert the string into a number.

And then you would use the "Graduated" renderer - which is for numbers between min/max values.

I don't think this is a bug if your data column is a string - it is expected behavior

[2020-11-26 21:22] YenihayatN commented on #40307
Dear Adreas Neumann;
It works perfectly now. Thanks a lot!

Best wishes.

[2020-11-26 21:23] YenihayatN commented on #40307
Dear Andreas Neumann;
It works perfectly now. Thanks a lot!

Best wishes.

[2020-11-26 21:24] #40307 closed

[2020-11-26 22:18] roya0045 commented on #40278
@e42mercury No stack traces and its only font specific? Is it any font selector, is it the font dialog or the font list, both?

[2020-11-27 07:53] alexxmarsh44 opened #40313 "Import CSV file plots coordinates in the middle of the ocean"
Here is me importing the CSV file into QGIS:
![csvimport](https://user-images.githubusercontent.com/59932969/100424478-83137f80-3042-11eb-8fcc-e1abfdc342ab.png)

Here is the CRS window:
![Screenshot from 2020-11-26 23-32-53](https://user-images.githubusercontent.com/59932969/100423990-c9b4aa00-3041-11eb-8597-1df029f49f4b.png)

And finally here is the plot I get out in the middle of the ocean inste

[2020-11-27 11:40] tudorbarascu opened #40316 "Filtering bug and difference on the same expression as select features using an expression"
**Describe the bug**

Having the following table (pipes) with a field called ``diameter`` as text.

ogc_fid | diameter (text)
-- | --
 1 | 500
 2 | 500
 3 | B 500
 4 | 500
 5 | 500

I wanted to get all the pipes with diameter bigger than 500 with the following expression:
``to_int(left("diameter",1)) >= 5``

The expression logic is get the first character, turn it into integer, see if it's bigger

[2020-11-27 11:57] gioman commented on #40313
@alexxmarsh44 the problem is likely to be in your data, but to be sure you must attach here your dataset, or at least a sample.

[2020-11-27 11:59] gioman commented on #40316
@tudorbarascu Hi Tudor, I cannot add the dataset: "Invalid Data Source: /tmp/features.sqlite is not a valid or recognized data source.".

[2020-11-27 12:02] pathmapper opened #40318 "WMS layer metadata - count for available CRS is not correct"
**Describe the bug**
WMS layer metadata - count for available in CRS is not correct.

**How to Reproduce**

1. Add the following WMS `https://alkisservices.krzn.de/WMS_ALKIS_viersen/FlurkarteADV`
2. Add the following layer to the legend: `Flurstuecke`
3. From the contextmenu choose _Properties... -> Information_
4. Check layer metatadata for available CRS
4. See error --> There are 10 EPSG codes l

[2020-11-27 12:27] tudorbarascu commented on #40316
Hi @gioman, redid in geojson... also pasted the geojson def just to be sure. Thanks a lot! The bug is probably of high importance as it's not yielding any error and filtering should be top notch.

[2020-11-27 12:36] HQJaTu opened #40319 "User interface language is incorrectly detected in Windows"
**Describe the bug**
When QGIS is launched, it will be displayed in different language than Windows.

**How to Reproduce**

1. Install QGIS in Windows with English language using non-US region settings
2. Start QGIS
3. Observe QGIS in incorrect user interface language

**QGIS and OS versions**

QGISin versio
3.16.1-Hannover
QGIS-koodin versio
b381a90dca
Käännetty käyttäen Qt:tä
5.11.2
Suoritetaan

[2020-11-27 12:47] gioman commented on #40316
confirmed also here on Windows and Linux.

[2020-11-27 12:50] RBA-deepbv opened #40320 "QGIS crashes when working with Vertex Editor"
## User Feedback

I am comparing two linestring layers containing one line each. Specifically I want to compare the geometry, for which I use Vertex Editor. Both compared layers are in editing mode. If swap between them to see the vertices list, QGIS crashes as soon as I want to exit editing mode on any of the layers.

To reproduce the crash:
1. Load 2 polyline layers and enter editing mode
2. vie

[2020-11-27 12:53] gioman commented on #40320
@RBA-deepbv plesae try with a new QGIS profile.

[2020-11-27 12:54] gioman commented on #40319
@HQJaTu settings > options > general > override system locale ?

[2020-11-27 13:05] RBA-deepbv commented on #40320
@gioman I've just tried with a new QGIS profile. The problem persists...

[2020-11-27 13:09] gioman commented on #40320
@RBA-deepbv attach the data, or a sample that causes the crash for you.

[2020-11-27 13:18] RBA-deepbv commented on #40320
At first I was trying it on my actual data. But it crashed on me even if I used 2 linestring scratch layers with randomly clicked lines. I attach to this post 2 layers I used last time.
[sample lines.zip](https://github.com/qgis/QGIS/files/5607979/sample.lines.zip)

[2020-11-27 13:33] elpaso commented on #40316
Agreed about the bug (it should not just stop on the error without notice), but what to you think that `to_int('B')` should return? IMO this is an invalid result.

[2020-11-27 13:36] gioman commented on #40316
it does not in the "select by expression" dialog, and returns the expected selected features.

[2020-11-27 13:39] elpaso commented on #40316
Which is? Again what logic value should be returned by `to_int('B')` ? Looks more like an `8` than a `0` to me.

IMO there is no expected results on errors: the expected result is an error message or a warning.

[2020-11-27 13:45] gioman commented on #40316
sorry I should have written "expected" with quotes. It was just to underline that the same expression dialog returns different results when opened in two different places.

[2020-11-27 13:48] elpaso commented on #40316
Got it, I was more concerned about what is the expected/correct behavior.

[2020-11-27 14:31] tudorbarascu commented on #40316
I

Hi @elpaso  Thanks for looking into this. I didn't expect an error to be thrown but I did expect that the iterator continues to check the features left if they fit the expression (like in the select feat by expression). Thanks again.

[2020-11-27 14:38] gioman commented on #40320
@RBA-deepbv tested also on Win10 and QGIS 3.16.1 and cannot replicate. Maybe attaching a screencast would help understanding the exact sequence of steps you are following.

[2020-11-27 14:41] elpaso commented on #40316
That's fair. But if the expression has an error the user must be warned in some way.

[2020-11-27 14:47] elpaso commented on #40316
How about this?

![immagine](https://user-images.githubusercontent.com/142164/100460632-d1b72d00-30c7-11eb-895f-b6db2e958580.png)

[2020-11-27 14:54] tudorbarascu commented on #40316
Looks great!

[2020-11-27 15:02] HQJaTu commented on #40319
As the app doesn't display in English ... I have no idea how to get there.

[2020-11-27 15:05] RBA-deepbv commented on #40320
@gioman

Hereby the screencast. At the end the Crash Report should appear, but it is not recorded to the video. Apparently it records only active window.
[QGIS crash when working with Vertex Editor.zip](https://github.com/qgis/QGIS/files/5608436/QGIS.crash.when.working.with.Vertex.Editor.zip)

[2020-11-27 15:22] gioman commented on #40320
@RBA-deepbv nope, cannot replicate. Are you positive you don't have any 3rd party plugin installed?

[2020-11-27 15:24] gioman commented on #40319
fifth menu item from the left > last entry (bottom) > first group in the dialog it opens > first group on the options on the right

[2020-11-27 15:32] gioman commented on #38812
I checked on 3.16.1 and seems to me too that it works as expected. Closing?

[2020-11-27 16:04] uclaros commented on #38812
No, the misleading message should be fixed first. I say change the title to
reflect current situation.

On Fri, Nov 27, 2020, 5:32 PM Giovanni Manghi <notifications@github.com>
wrote:

[2020-11-27 16:06] gioman commented on #39476
@Samweli no crash anymore for me in the above scenario on 3.16 but it still does not refresh the list of layers in the browser, unless first re-connecting to the service using "add WMS layer" dialog.

[2020-11-27 16:06] gioman commented on #39476
Closing?

[2020-11-27 16:06] RBA-deepbv commented on #40320
That's indeed weird... I've made the screencast on a fresh QGIS profile (as you advised). There are no 3rd party plugins. The newest version of QGIS was installed today, in attempt to solve this. Sample files are saved by QGIS.

I use my QGIS profiles from root of C: drive, but I've tested just now that it doesn't matter.
I've also tried it on another Windows user account, but no difference either

[2020-11-27 16:07] gioman commented on #40320
@RBA-deepbv can you check on a different machine?

[2020-11-27 16:10] gioman commented on #38812
@uclaros that message does comes from the operating system? if yes can we handle it?

[2020-11-27 16:31] Oceanologue commented on #28578
Same problem for me, is there any fix ? The High priority label has been removed even though there is no answer.

[2020-11-27 16:35] gioman commented on #28578
@Oceanologue

https://github.com/qgis/QGIS/issues/39882#issuecomment-723669783

[2020-11-27 16:40] gioman commented on #28578
So this seems a duplicate of https://github.com/qgis/QGIS/issues/19761

https://github.com/qgis/QGIS/pull/39909#issuecomment-725764426

or not

https://github.com/qgis/QGIS/pull/39909#issuecomment-726155460

[2020-11-27 17:18] roya0045 commented on #40304
@cftao deactivate and reactivate the processing plugin in the plugin manager.
@gioman can you close?

[2020-11-27 17:19] #40304 closed

[2020-11-27 17:20] gioman commented on #40304
I'm not getting all the notifications from Github...

[2020-11-27 17:22] roya0045 commented on #40313
Either the data or the projection used. Most likely not a bug but a bad projection setting or invalid data generated from the sensor. @alexxmarsh44 without the data this seems like a common error.

[2020-11-27 18:14] RBA-deepbv commented on #40320
@gioman I've checked on another Windows10 computer. QGIS 3.10.8 is installed there. I've made a new QGIS profile on that machine as well. It is also crashing... attached the crash log from this one.

I've also tested it additionally on Apple computer with Mac OS Big Sur. This was the first QGIS installation ever on this machine (3.16.1). The steps I've described resulted in unexpected exit as well

[2020-11-27 19:14] agiudiceandrea commented on #40319
@HQJaTu you could also start QGIS with a custom language, adding "--lang en" (e.g. for English) to the target property (e.g. "C:\Program Files\QGIS 3.16\bin\qgis-bin-g7.exe" --lang en) of the QGIS Desktop 3.16.1 shortcut.
See https://docs.qgis.org/3.16/en/docs/user_manual/introduction/qgis_configuration.html#lang

[2020-11-27 20:02] agiudiceandrea commented on #40320
I can replicate using QGIS 3.4, 3.16 and 3.17-master on Windows following the exact procedure showed in the provided screencast video with the provided layer or with two newly created memory layers.

[2020-11-27 20:21] e42mercury commented on #40278
it's both - anything that calls the window for text style

[2020-11-27 20:26] roya0045 opened #40324 "3D Map Canvas is black"
tested on 3.16.0 and 3.16.1 on windows 10, installed with osgeo. Two different machines no open GL.

No matter what I do the 3d canvas stays black. All the displays (tiles loading, compass) work as usual but when nothing displays, even if I use the zoom to full extent.

The measurement tool took some clicking about but works.

No opencl support is available on those machines.

![image](https://use

[2020-11-27 20:46] janbur commented on #33238
@tastrax and @andreasneumann - can you confirm that calculated fields (i.e. fields that use expressions for default values) do not need to be in the form (drag and drop designer) to still operate correctly?
Oddly, in my case this is true only for some simple expressions (e.g. calculating uuid(), geometry $x etc) but not for complex expressions (e.g. using `if` or `case` statements) that depend on

[2020-11-27 21:01] roya0045 commented on #40324
I have installed 3.10.12 through osgeo on the machine with the mentioned issue. Rendering works as intended on 3.10.12. This rules out machine issues.

[2020-11-27 21:10] roya0045 commented on #40278
Do you have particular fonts installed in your machine that could cause the crash?

[2020-11-27 21:26] janbur commented on #33238
After some tests I can confirm that calculated fields that use expressions referencing other fields will not work when creating a new feature if they are not added to the form (drag & drop designer). However, they will get updated once the feature is modified.
Tested on QGIS (3.14) Win10 using shapefiles.

[2020-11-28 02:07] e42mercury commented on #40278
I don't think so, since they haven't caused any problems in any other applications. Also, the fonts and the QGIS font dialogue work fine in other parts of the application. Even within the layout, I have no problems changing the font of the scale bar, for example, and other elements. The crash only happens when I try to change the font of a label within a layout.

[2020-11-28 03:52] Dnn2Dnn opened #40325 "Raster Layer Resampling option missing"
![image](https://user-images.githubusercontent.com/75152323/100493175-1e9e1080-3167-11eb-9ef0-6f147b78feb8.png)
Image OUT doesn't contain Pixel Aggregate (averaging) Option anymore. Image stretch changes after selecting Cubic and\or Bilinear resampling.

[2020-11-28 08:29] lbartoletti commented on #40101
I started to work on it years (ouch...) ago, but as a plugin since (and stopped, since it's required some external tools), AFAIK, there is no class to create a QR Code in Qt, we have to use a 3rdparty lib like QZXing for example. You could also use an online generator.

There was already discussion on this topic https://github.com/qgis/QGIS/issues/28997

[2020-11-28 08:32] lbartoletti commented on #39900
@arx-it please, can you attach your data?

[2020-11-28 13:23] asierrl commented on #36379
I found the same issue with r.null. When used within the graphical modeler, its output name is correctly pased to the GDAL raster calculator only if the output is not named. When I name the output the entry parameters for the GDAL:rastercalculator show an empty input A, as Input A: " ".
I'm working with a QGIS 3.16.0-1, GRASS 7.8.3-1  and GDAL library 3.1.4rc2-1, on windows 10 Education (64 bits),

[2020-11-28 14:28] jmlsiqueira opened #40327 "Grass init error"
Hi

I have the following error message when I installed QGIS 3.10.4 ltr:

Grass init error: Grass was not found in 'C: / PROGRA ~ 1 / QGIS 3.10 / apps / grass / grass78' (GISBASE), provider and plugin will not work. I use windows 10, the latest updated version.

I start QGIS using QGIS Desktop 3.10.4 with GRASS 7.8.2.

I have already uninstalled, cleaned logs, redoed installation and the same erro

[2020-11-28 15:56] vpavic commented on #39764
This seems resolved, as https://qgis.org/ubuntu/dists/ now lists `groovy`.
It would be nice if someone from the maintainers could confirm though.

[2020-11-28 18:06] donkeychen opened #40328 "Unknown operation caused crash"
hi, there is a crash report of the following data in a project.
[20201118.zip](https://github.com/qgis/QGIS/files/5610985/20201118.zip)
[20201122.zip](https://github.com/qgis/QGIS/files/5610986/20201122.zip)
(2020118= one point data with wrong geometry in #40084 , 20201122= a self-intersection polygon for testing #39770)
the testing result of #39770 is passed.

I started editing of these layers, a

[2020-11-28 19:11] pisarik commented on #37860
Same for me. I have geotiff as a raster source.
QGIS 3.10.4 on Ubuntu 20.04

I get same error if I select too big extent.

[2020-11-29 05:19] microcebus opened #40332 "Sort Feature in Atlas and Report fails if attribute column name has space"
**Describe the bug**
This doesn't appear to have been reported before as far as I can tell, but if you try to use the sort feature in either the Atlas or Report, if there is a space in the attribute column label, then the sort fails and it defaults to sorting by fid. This occurs in a geopackage file btw.

**How to Reproduce**
So 'sort_order' as an attribute table column label works but 'sort order

[2020-11-29 06:12] ozhamlet opened #40333 "Crash report"
## User Feedback

trying to do 6.4.6 on this page
https://docs.qgis.org/3.16/en/docs/training_manual/vector_analysis/spatial_statistics.html
crash occured at step 1

## Report Details

**Crash ID**: [db8a2b70acc598fff216f84778581531565fe631](https://github.com/qgis/QGIS/search?q=db8a2b70acc598fff216f84778581531565fe631&type=Issues)

**Stack Trace**
<pre>
QCoreApplicationPrivate::sendThroughObjectE

[2020-11-29 07:12] #39752 closed

[2020-11-29 10:02] gioman commented on #33238
@janbur please test on 3.16 as 3.14 is outdated, if the problem persist please file a new ticket.

[2020-11-29 10:10] gioman commented on #40327
@jmlsiqueira use the QGIS mailing lists for questions

![Screenshot_20201129_100702](https://user-images.githubusercontent.com/1951107/100538949-c6304700-322a-11eb-87d4-05ab22150aa3.png)

I just tested/used GRASS tools on Windows with the QGIS processing toolbox, and no issues whatsoever. QGIS was installed using the standalone installers or the osgeo4w, no differences. Check if there is some othe

[2020-11-29 10:10] #40327 closed

[2020-11-29 10:24] gioman commented on #36379
@asierrl attach the model

[2020-11-29 10:28] gioman commented on #40325
average was renamed "bilinear"

https://github.com/qgis/QGIS/commit/9163100cb74d61fe0dda0231b49b535e8da748bc#diff-2e7d001bc9f4a118e7a7871e0f8b1cef2b56400cbc740d30b12c17e927ac5db1

[2020-11-29 10:28] #40325 closed

[2020-11-29 11:24] gioman commented on #40328
@donkeychen without a cleat path to the crash it will be hard to understand what went wrong. As usual please try with a new QGIS profile, no 3rd party plugins installed.

[2020-11-29 11:44] gioman commented on #40333
@ozhamlet "create new project"?

update to 3.16.1, try again. Please also try with a new QGIS profile, no 3rd party plugins installed.

[2020-11-29 11:58] gioman commented on #40320
Can see it now, it affects also 3.10 and Linux.

[2020-11-29 11:59] gioman commented on #40320
This has to be a regression... I can't see how this can't possibly be.

[2020-11-29 14:42] rduivenvoorde commented on #37829
@RousseauLambertLP I'm thinking about having a look at @dminor 's pull request, but was wondering about some edge cases like:
- what if somebody chooses 30th of januari, what will be the next timestep then (given februari only has 28 days)?
- or more general 31th of a month (half of the months do not have a 31th day), what about that?
Do you have a good idea for those cases?
Like 'remember the act

[2020-11-29 15:05] #40316 closed

[2020-11-29 16:35] symbioquine commented on #37925
A (hacky) work-around for this bug seems to be putting `state=1` as an extra initial request parameter;

![image](https://user-images.githubusercontent.com/30754460/100547773-7303c780-321d-11eb-9e75-7bbb2f2ad0b1.png)

(At least when used to authorize against [Drupal's oauth2_server module](https://www.drupal.org/project/oauth2_server) - YMMV with other implementations.)

[2020-11-29 16:45] rouault commented on #37925
This has been fixed in 3.16.0 per https://github.com/qgis/QGIS/pull/39552

[2020-11-29 16:55] symbioquine commented on #37925
Actually disregard my previous comment. I'm using 3.16.0 and, as @rouault's link would suggest, the `state` parameter was correctly being (completely) omitted. The requests were failing because the `state` parameter is required by the oauth2_server module.

[2020-11-29 16:57] #37925 closed

[2020-11-29 17:41] roya0045 commented on #34418
@nirvn it didn't link the PR as a fix, will need to be closed manually.

[2020-11-29 20:33] mariottolr commented on #35649
Thanks! This resolve my problem too! =D

[2020-11-29 23:16] ozhamlet commented on #40333
Thanks, Giovanni.

On Sun, 29 Nov 2020, at 10:44 PM, Giovanni Manghi wrote:

[2020-11-30 01:15] roya0045 commented on #40333
Yeah this is fixed,

[2020-11-30 01:22] roya0045 commented on #40332
Can confirm

[2020-11-30 06:48] Mi-Kbs-gis opened #40344 "vectorlayerhistogramm with non spatial tables"
**change input data parameter type processing algorithm vectorlayerhistogramm **

**Additional context**

[2020-11-30 07:40] donkeychen commented on #40328
@gioman  Yes, new profile without 3rd party plugin involved.
I am sorry for these lacking information.

[2020-11-30 08:38] #40320 closed

[2020-11-30 08:41] RBA-deepbv commented on #40320
Awesome to see that this is solved so quick! Many thanks for quick action :)

[2020-11-30 09:00] gioman commented on #40333
here https://github.com/qgis/QGIS/pull/39935

[2020-11-30 09:00] #40333 closed

[2020-11-30 09:10] gioman commented on #40344
@Mi-Kbs-gis can you please add a better description? thanks.

[2020-11-30 09:33] KulMaster commented on #38388
Over time I tried several versions of PostgreSQL (9, 11, 12) and QGIS (3.10, 3.14), the same problem persisted. After studying logs made by the database server I have found, that the QGIS is saving the state of the layers as a SAVEPOINT in database when I start editing. During the edits, QGIS is creating various cursors (with ST_AsBinary function). I am guessing that by doing this, the QGIS gets t

[2020-11-30 09:36] Mi-Kbs-gis commented on #40344
It is not possible to use the algoritm 'vectorhistogram' with simple non spatial tables.
Instead of INPUT parameter type 'QgsProcessingParameterFeatureSource' use 'QgsProcessingParameterVectorLayer' to allow it.
![grafik](https://user-images.githubusercontent.com/25895003/100592831-ed087f00-32f7-11eb-8b75-a55e26a8347a.png)

[2020-11-30 09:45] Mi-Kbs-gis commented on #40344
This Problem is also relevant for all processing algorithms in the plots group!

[2020-11-30 10:20] Samweli commented on #39476
ok @gioman, may be we could open another issue for that so I can take a deep look at it.

[2020-11-30 10:23] janbur opened #40348 "Calculated fields that reference other fields do not get calculated if they are not added to the form"
**Describe the bug**
Calculated fields (i.e. fields that use expressions for default values) that are based on other fields do not get calculated properly if they are not added to the form (drag and drop designer).

I want to hide some fields frm the form (eventually used in QField) but still want to calculate their values when other field is modified. When they are added to the form - all works w

[2020-11-30 10:39] Samweli commented on #37829
@rduivenvoorde I think from user perceptive, the next timestep should default to the last day of the next month(for this case it ll be 28th February)

[2020-11-30 10:52] FlyingEagle commented on #38762
+1

[2020-11-30 10:59] janhec opened #40349 "Filter is not applied in duplicated layers"
When duplicating a layer with filtering active, the filtering appears to be done again.
This is imo not a logical action when duplicating a layer and it would save time when the same filtered data are used.
However, there might be another reason for the lengthy layer duplication that I am not aware of.
Priority for me: not that high...

[2020-11-30 11:08] luxenborg commented on #38417
this so cool... i'm super thankful that you fixed it :-) im working on Qgis 3.16.1 now and i have just noticed that, it seems the fix isn't working if i click "zoom to object" from the attributes table... Is that something that you could easily fix or is that a huge amount of work?

[2020-11-30 11:13] elpaso commented on #38417
@luxenborg no idea :) Please file another ticket and I'll possibly have a look during the next bugfixing round.

[2020-11-30 11:15] gioman commented on #40015
Closing for lack of feedback.

[2020-11-30 11:15] #40015 closed

[2020-11-30 11:15] gioman commented on #39951
Closing for lack of feedback.