[2020-10-29 07:48] nilsnolde opened #39688 "qgis:postgisexecuteandloadsql should handle geometryless tables"
**Describe the bug**

In between a bug and feature request: the https://github.com/qgis/QGIS/blob/master/python/plugins/processing/algs/qgis/PostGISExecuteAndLoadSQL.py can't handle geometryless tables. I consider it a bug, since it doesn't state that only spatial tables can be loaded.

The fix should be simple, by appending a `or None` to this line:
https://github.com/qgis/QGIS/blob/1132494fcb679

[2020-10-29 08:07] pathmapper opened #39689 "WMS Layer Properties "Selected Layers" / "Other Layers" links are not working"
**Describe the bug**
If the WMS Layer Properties are opened in the QGIS browser, the **Selected Layers** / **Other Layers** links are not working:

<img src="https://user-images.githubusercontent.com/20856381/97540194-91c73200-19c3-11eb-8ff1-8413cbfb164c.png" width="500">

Same is true if the metadata is shown in the properties widget:

<img src="https://user-images.githubusercontent.com/20856381/

[2020-10-29 08:15] #39682 closed

[2020-10-29 08:19] pathmapper opened #39690 "Show WMS metadata also for main entry in QGIS browser"
**Feature description.**

Show WMS metadata also for the main entry in QGIS browser:

<img src="https://user-images.githubusercontent.com/20856381/97542225-ae189e00-19c6-11eb-841c-d4b76e6b1e51.png" width="300">

Possible implementation:
- right click -> _properties_
- _properties widget_

**Additional context**

Currently it's only possible to show the WMS metadata for single layers.

[2020-10-29 08:43] Crapaud04 commented on #39370
The bug is still present in version 3.16.0.

[2020-10-29 09:45] Antoviscomi opened #39692 "Double Click on a Raster in TOC causes Crash QGIS 3.16 and Master on Windows"
to reproduce:
1 add a raster in a view;
2 double click on a raster

Crash ID: 58f30138b653894852cdf003bd4a85f35a1f3f8c

Stack Trace

QObject::isWidgetType :
QMainWindow::trUtf8 :
QHeaderView::logicalIndexAt :
QWidget::setStyleSheet :
QgsCollapsibleGroupBoxBasic::updateStyle qgscollapsiblegroupbox.cpp:386
QgsCollapsibleGroupBoxBasic::showEvent qgscollapsiblegroupbox.cpp:115
QgsCollapsibleGroupBox::

[2020-10-29 09:48] luipir opened #39693 "QGIS crash showing raster symbology in layer properties"
**Describe the bug**
QGIS crash showing raster symbology in layer properties

**How to Reproduce**

1. add a raster into the project
2. Double click on the added layer to open layer properties
3. Click on Symbology => crash

Not F7 works correctly

**QGIS and OS versions**

QGIS version | 3.16.0-Hannover | QGIS code revision | 43b64b13f3
-- | -- | -- | --
Compiled against Qt | 5.9.5 | Running agai

[2020-10-29 09:49] Antoviscomi commented on #39692
Crash ID: bcf947f63bdfb1fdcaf78c3b570f96498038e624

Stack Trace

QObject::isWidgetType :
QMainWindow::trUtf8 :
QHeaderView::logicalIndexAt :
QWidget::setStyleSheet :
QgsCollapsibleGroupBoxBasic::updateStyle qgscollapsiblegroupbox.cpp:386
QgsCollapsibleGroupBoxBasic::showEvent qgscollapsiblegroupbox.cpp:115
QgsCollapsibleGroupBox::showEvent qgscollapsiblegroupbox.cpp:561
QWidget::event :
QGroupBox:

[2020-10-29 10:20] elpaso commented on #39693
Works for me on master.

[2020-10-29 10:23] nirvn commented on #39693
Could it be a Qt 5.9 specific issue?

[2020-10-29 10:26] gioman commented on #39693
@luipir duplicate of https://github.com/qgis/QGIS/issues/39628 ?

[2020-10-29 10:33] #39672 closed

[2020-10-29 10:35] Antoviscomi commented on #39693
I have  QT5.11.2 and look at #39692

[2020-10-29 10:41] gioman commented on #39692
@Antoviscomi cannot confirm here, same QGIS versions same OS. Please try with a new QGIS profile.

[2020-10-29 10:41] gioman commented on #39693
@Antoviscomi cannot replicate that.

[2020-10-29 10:43] roya0045 commented on #39637
@nirvn Actually not at all. The good label is displaced. The issue is that I have multiple labels per feature and the properties of those label are overwritten from time to time when displacing the label that I want to displace.

Also I mean culprit as the part/function that has the capacities to overwrite that setting as I have overlooked such an innocuous function.

I am joining an example. The

[2020-10-29 10:52] Antoviscomi commented on #39692
ok @gioman  with a new clean profile it works fine, thank you

[2020-10-29 10:52] Antoviscomi commented on #39693
ok @gioman with a new clean profile it works fine, thank you

[2020-10-29 12:16] tjukanovt opened #39696 "Add layer to batch processing not working anymore"
**Describe the bug**
Adding new layers to batch processing is not working in the latest release

**How to Reproduce**

1. Open processing toolbox
2. Select a tool where batch processing is possible (e.g. Export to PostgreSQL)
3. Try to add a new layer to the batch with the green ➕ icon.
4. A new row does not appear where it is supposed to.

**QGIS and OS versions**

QGIS 3.16 on Windows 10. Fresh

[2020-10-29 12:23] gioman commented on #39696
Confirmed on Linux too.

[2020-10-29 12:32] pathmapper commented on #15241
@alexbruy just checked with QGIS 3.16, for

- WFS: https://geoservices.krzn.de/security-proxy/services/wfs_kvie_jagdbezirke
There is no `getFeatureUrl` at all.

- WMS: https://www.wms.nrw.de/geobasis/wms_nw_dop
There is a `getMapUrl`, but it's not complete - it shows: "advertised but ignored":
![grafik](https://user-images.githubusercontent.com/20856381/97573906-bd114780-19ea-11eb-9580-19e0adb3a7b

[2020-10-29 12:53] pathmapper commented on #31916
Agree that it would be good to have also the metadata for these services available.

Especially WFS constraints like `DefaultMaxFeatures` would be helpful, so that the user would be aware that there might be more features available than delivered by the WFS and rendered on the canvas.

[2020-10-29 13:03] nirvn commented on #39696
I'll look into it, I could well be the guilty soul who broke things.

[2020-10-29 13:44] pierloca commented on #39588
@gioman you are right, I checked in all four dumps and 10 and 11 give 9 digits instead 12 and 13 only the correct value.
even if with pgadmin i read the numbers of sensors as expected for every database version, and it is again strange, why pgadmin correct, as gqis 3.14, the long digits number as i expect they would be.
But i continue to say: you (the community of developers) have a version, that

[2020-10-29 14:02] rbwinst-usgs opened #39697 "QGIS crashes on shutdown"
## User Feedback

I added two adjacent GeoTIFF rasters. I converted each of them to ASCII raster (*.asc). One of them was saved in the default location. I used cut and paste to move it to the location of the original files. The other convert raster was saved in the original location. Neither converted raster was added to the project. I then closed the project without saving it.

## Report Details

[2020-10-29 14:07] nirvn commented on #39697
Download the latest LTR version, you're running on an outdated .0 release. This is most likely fixed.

[2020-10-29 14:42] garvamel opened #39698 "Rotate tool: Snapping to rotate around vertex and geometry snapping for placement."
The freehand rotate tool could use these extra features to improve the workflow when using it.

1. Snapping to rotate around a vertex is already discussed here  #26936, but I added it for context to the second feature.

2. After choosing the rotate point, another vertex of the geometry being rotated could also be selected on snap, and placed on snap to features in other layers.
The effect is simil

[2020-10-29 14:42] gioman commented on #39697
@rbwinst-usgs repen if it happens also with 3.10.11 (test also with a new QGIS profile).

[2020-10-29 14:42] #39697 closed

[2020-10-29 15:30] roya0045 commented on #39693
I put my bets on the outdated QT.

[2020-10-29 15:31] uclaros commented on #20774
I believe we can close this as implemented? Toggling snapping can be done by both the magnet icon or an assigned shortcut key.

[2020-10-29 15:34] Gustry opened #39699 "Exclude fields in WMS/WFS doesn't show anymore in 3.16"
**Describe the bug**

In QGIS 3.16/Master, fields which are hidden in WMS/WFS doesn't show in the UI.

Same project opened in QGIS 3.10 and QGIS Master

![Screenshot from 2020-10-29 16-27-28](https://user-images.githubusercontent.com/1609292/97595606-23ef2a80-1a04-11eb-9bbb-00260b5423c3.png)

**How to Reproduce**

Open the given project in QGIS 3.10 and Master :
[tests.zip](https://github.com/qgis

[2020-10-29 15:38] jef-n commented on #39654
Same as https://github.com/qgis/QGIS/issues/26891#issuecomment-495889171.  https://github.com/qgis/QGIS/issues/26891#issuecomment-495889169 for diagnostics.

[2020-10-29 15:41] gioman commented on #39699
@Gustry if you click on the "configuration" dropdown you get the options to exclude from WMS/WFS

[2020-10-29 15:44] lanecodes commented on #38310
I am also having this issue. Presumably this is linked to the (now closed) #321

[2020-10-29 15:46] PedroVenancio commented on #39693
This is happening here also, but not everytime, it's some kind of random.

Here is a crash report:

[code]

[2020-10-29 15:48] gioman commented on #39693
@PedroVenancio can you test a new QGIS profile?

[2020-10-29 15:52] PedroVenancio commented on #39693
I've just tested in a clean profile and I've got the crash after double clicking in 3 rasters.

[code]

[2020-10-29 15:54] gioman commented on #39693
@PedroVenancio so your issue is more similar to https://github.com/qgis/QGIS/issues/39692 (?).

[2020-10-29 15:54] uclaros commented on #39696
I also hit this one today! Got though it by doing *Autofill... > Select from open layers...* then pick the layers I wanted.

[2020-10-29 15:56] PedroVenancio commented on #39693
Yes, I think so, but sometimes it crashes just after 3, 4, 5 ... double clicks, not at the first.

[2020-10-29 15:58] hbvkq opened #39700 "theme management improvements"
**Feature description.**
Some theme management improvements would be useful:
- delete or rename themes  (without loading them first)
- delete multiple themes at once
- revert theme change button  (in case replace theme is later found to be a mistake or a theme is deleted by accident)
- export and import themes to project

**Additional context**
Themes and styles are such a crucial part of map maki

[2020-10-29 15:59] hbvkq commented on #39700
#33080  related to : Allow control of rendering order per map theme

[2020-10-29 16:30] PedroVenancio commented on #39692
@Antoviscomi Can you check if you double click several times, you get the crash? Sometimes it only crashes here after 12, 15 ... double clicks.

[2020-10-29 17:30] Gustry commented on #39699
@gioman As you can see in my screenshot, the "Configuration" is all white, but it should be different, the field configuration is not the same.

My screenshot shows the **same** project opened in QGIS 3.10 and 3.16.
The project is in the ZIP.

[2020-10-29 17:38] davidlgalt opened #39701 "QGIS 3.16 error using console editor / Qt5 Web Engine install error"
OSGeo4W Setup
download site: http://download.osgeo.org

I am receiving errors when I attempt to perform open and save in the python console editor. When attempting to save a file I get the python error:

'Editor' object has no attribute 'bufferMarkerLine'
![image](https://user-images.githubusercontent.com/44850852/97606290-da371d80-19cc-11eb-82eb-e21b97c0f470.png)

Coincidentally, when I was insta

[2020-10-29 17:42] gioman commented on #39699
@Gustry this is your project in my 3.16

![Screenshot_20201029_174147](https://user-images.githubusercontent.com/1951107/97611457-1f2f7400-1a0e-11eb-943c-191a318847ab.png)

[2020-10-29 17:54] Gustry commented on #39699
@gioman Look my screenshot in QGIS 3.10, on the top.
Some fields are already hidden in WMS and WFS for the last **3** fields.
So the list shouldn't be all white in QGIS 3.16, there should be already some checkbox **checked**.

Sorry if I wasn't clear, I'm not in front of QGIS ;-)

[2020-10-29 18:25] roya0045 commented on #39681
@gioman if this is a bug ticket there are already duplicates of this.

[2020-10-29 18:51] 3nids commented on #39699
I'll have a look at it tomorrow.

[2020-10-29 19:31] ainthek commented on #14070
uff, same problem here on 3.15.0-Master.
Any workaround ? another algorithm ? way to reconstruct single lines back ?
I have overlaping polylines, and I need to split them on overlap points. from 2 lines I get 2000 lines, instead of 4.
thanx ;-(

[2020-10-29 20:32] luipir commented on #39693
@PedroVenancio i've the crash in the same line

[2020-10-29 20:34] luipir commented on #39693
Aftetr a wile dscovered this issue, started also to crash just double-cliking to open properties... I didn0t check if qgis try to open the previus tab e.g. symbology => crash in the same line

[2020-10-29 20:37] luipir commented on #39692
crash in the same codeline as in https://github.com/qgis/QGIS/issues/3969

[2020-10-29 21:32] davidlgalt commented on #39701
So I discovered the source of the problem and it was not related to the install error. A plugin called "Better Editor" was causing the error. After I disabled, the editor is working fine again.

[2020-10-29 21:34] #39701 closed

[2020-10-29 21:54] gioman commented on #39699
@Gustry no, sorry me as I only got now what you meant, and it was pretty clear.

[2020-10-29 22:44] grantboxer opened #39703 "Failing to load plugins"
I have installed the latest version using the OGeo4GW installer and now when I try to open QGIS I get the following message, along with a few other similar messages.

An error occurred during execution of following code:
import console

can't import io

Python version:

QGIS version:
3.16.0-Hannover 'Hannover', 43b64b13f3

Python path:

[2020-10-29 23:08] #39069 closed

[2020-10-30 00:50] faalkao commented on #39628
Thanks. It worked for me.

[2020-10-30 01:37] hbvkq opened #39708 "Selective Theme option -- make current theme to only apply to visible layers"
**Selective theme**
Applying a regular theme (or "global" theme) sets the visibility and style of all layers.
When making a theme "selective", only the visible layers in that theme become part of the selective theme. Applying a selective theme turns on the visibility and sets the style of only the layers that are part of that theme. All other layers' visibility and style remain as they were.

**Ho

[2020-10-30 07:47] #20774 closed

[2020-10-30 08:02] jpmeijers opened #39711 "Better support for TimescaleDB"
**Feature description.**

When trying to open a table that uses TImescaleDB, I get a warning "No primary key is defined for this table!". TimescaleDB uses the time as the index, and they recommend not using other auto-incrementing primary keys.

I have the suspicion that Qgis relies on the primary key to do efficient queries, as using this table is quite slow.

**Additional context**

![Screenshot

[2020-10-30 08:12] antonellosalis commented on #38310
I solved it in Debian-GNU Linux, only thanks to the developers that fixed the QGIS version.

[2020-10-30 09:25] WencelFrohlich commented on #38388
Hi, is some progress in this bug?

Our organization need resolve this bug.

Thank you for your answer.

[2020-10-30 09:53] Antoviscomi commented on #39692
@PedroVenancio yes It Crashes sometimes after  three and sometimes two clicks

[2020-10-30 10:02] Antoviscomi commented on #39692
@luipir @PedroVenancio @gioman In addition I've noticed that if I delete C:\...AppData\Roaming\QGIS\QGIS3\profiles\default\QGIS\ QGIS3.ini, then I open a clean project with default profile, double click it works fine (I double click for about 15-20times)

[2020-10-30 11:44] roya0045 commented on #39703
Your python is broken.

[2020-10-30 12:43] gioman commented on #38388
@WencelFrohlich https://qgis.org/en/site/forusers/commercial_support.html

[2020-10-30 12:46] #39699 closed

[2020-10-30 13:31] pathmapper opened #39716 "Modeler - visual connection missing for conditional branch algorithm"
**Describe the bug**
For the `Conditional branch` algorithm there is no visual connection to an input if an input variable is used in a condition.

**How to Reproduce**

1. Open the the following model [conditional_branch.zip](https://github.com/qgis/QGIS/files/5465350/conditional_branch.zip)
2. See error: No visual connection between `Conditional branch` and the `boolean` input despite `@boolean`

[2020-10-30 13:36] roya0045 commented on #39716
I'm pretty sure you must set it in the dependencies. Parsing every expression for every variable and their source to automatically display dependencies seems like a FR.

[2020-10-30 13:47] pathmapper commented on #39716
Hi @roya0045, thanks for your response.

I got the impression this is already implemented, see this model [visual_connection_variable.zip](https://github.com/qgis/QGIS/files/5465456/visual_connection_variable.zip) where the `@vectorfield` variable is used for the `Drop Field(s)` algorithm and the dependency is displayed.

![grafik](https://user-images.githubusercontent.com/20856381/97711952-0bdbe1

[2020-10-30 13:55] pathmapper commented on #39716
Btw, it's not possible to set it in dependencies:
![grafik](https://user-images.githubusercontent.com/20856381/97713248-de903300-1abf-11eb-9afd-42041898c43c.png)

[2020-10-30 14:26] gioman commented on #39588
@pierloca I must correct my statemente. In both cases psql imports the data with only 1 decimal place, this can be seen by quering your table directly with the PSQL command line, so not QGIS or PgAdmin involved:

pg9.6:

[code]

pg12:
[code]

and of course QGIS (any version) shows the labels/data with only 1 decimal.

You must check (better done with psql cli) if your data was imported with 1 deci

[2020-10-30 15:32] Antoviscomi commented on #39693
@luipir @PedroVenancio @gioman In addition I've noticed that if I delete C:...AppData\Roaming\QGIS\QGIS3\profiles\default\QGIS\ QGIS3.ini, then I open a clean project with default profile, double click it works fine (I double click for about 15-20times)

[2020-10-30 15:36] uclaros opened #39719 "Simplify processing algorithm never removes polygon's first/last vertex"
**Describe the bug**

When using the *simplify* processing algorithm, if a polygon's first/last vertex is within the specified simplification tolerance it is not removed, resulting a non-simplified polygon. The expected behavior would be to remove the first/last vertex pair and add a new last vertex to the first available vertex.

**How to Reproduce**
- Add a polygon layer
- Digiitize a polygon so

[2020-10-30 15:47] Saijin-Naib opened #39720 "Crash when accessing Layer Properties."
## User Feedback

Attempting to access the Layer's properties. Just prior, I had created/closed a rather complex 3D View (4096px texture resolution, 4096px terrain resolution).

Data are being loaded from an exFAT-formatted USB Drive.

## Report Details

**Crash ID**: [db8a2b70acc598fff216f84778581531565fe631](https://github.com/qgis/QGIS/search?q=db8a2b70acc598fff216f84778581531565fe631&type=Issu

[2020-10-30 15:49] gioman commented on #39720
@Saijin-Naib duplicate of https://github.com/qgis/QGIS/issues/39693 and https://github.com/qgis/QGIS/issues/39692 ?

[2020-10-30 15:53] Saijin-Naib commented on #39720
It seems like similar behavior. I can't read the Stack Trace well enough to say either way.

Your call on whether to close this as dupe or not.

[2020-10-30 15:59] Saijin-Naib commented on #39720
## User Feedback

Right-clicked layer to access properties, with having had success numerous times prior in the same session.

## Report Details

**Crash ID**: [c6ea636e34135bb899f8096fa2230d55a232295c](https://github.com/qgis/QGIS/search?q=c6ea636e34135bb899f8096fa2230d55a232295c&type=Issues)

**Stack Trace**
<pre>
QObject::isWidgetType :
QMainWindow::trUtf8 :
QHeaderView::logicalIndexAt :
QWidge

[2020-10-30 17:48] tomasMizera opened #39722 "QGIS losing data when value relation column types are mismatched"
**Describe the bug**
Value relation data might get lost when referenced layer in value relation widget has key column of different data type than original layer has.

**How to Reproduce**

1. Have project with two layers:
   - Layer A is a vector layer (in screenshots called _test_) with point geometry and contains attribute of type **integer** which will be used for value relation (called _valuer

[2020-10-30 18:37] gioman commented on #39722
@tomasMizera this is too old, you must check if this confirms also on the latest 3.16.

[2020-10-30 18:43] pnrthomp opened #39723 "Silent Installation issue with postinstall batch scripts"
**Describe the bug**

- Silent installation fails during postinstall batch scripts.

From postinstall.log:
C:\PROGRA~1\QGIS3~1.10>exit /b 0
Running postinstall qgis-ltr-grass-plugin7.bat...

C:\PROGRA~1\QGIS3~1.10>textreplace -std -t bin\qgis-ltr-grass7.bat

C:\PROGRA~1\QGIS3~1.10>if "C:\Users\Public\Desktop\QGIS 3.10" == "" set OSGEO4W_DESKTOP=~$folder.common_desktop$

C:\PROGRA~1\QGIS3~1.10>copy

[2020-10-30 19:47] drf5n opened #39724 "Broken rendering after Add Mesh Layer and Tools::TemporaryFile: Cannot create temporary file name.: unspecified iostream_category error"
After attempting a `Layer/Add Mesh Layer/`  Choose  `Source: Mesh dataset {select file}` and  `Add`, an error window pops up  containing `Tools::TemporaryFile: Cannot create temporary file name.: unspecified iostream_category error`,  and afterwards the map window fails to update properly until QGIS is closed.

My sample Mesh data is available at  https://drive.google.com/file/d/1jGWe03bfsM7bjr4n0

[2020-10-30 19:53] bellanz80 opened #39725 "Settings | Options, switching between tabs crashes QGIS"
Hi. After installing QGIS 3.16 on windows, I get several crashes and processing plug errors.
Initially I thought they were the plugins of my profile (I have been using QGIS 3.14 since time without any errors, and some plugins).
But no, the error is presented with the clean, new profile.
I did several tests. I had come to the conclusion that the problem was the gray color theme of QGIS (it was the

[2020-10-30 20:03] pigreco commented on #39725
I confirm

## OSGeo4W64b  Win 10 64b → clean profile

[2020-10-30 20:16] drf5n commented on #39724
I see this particular "Tools::TemporaryFile: Cannot create temporary file name." error string in the libspatialindex library here:

https://github.com/libspatialindex/libspatialindex/blob/32ec7f99f960369b55d1eb333f2b02aab059330b/src/tools/Tools.cc#L1084

[2020-10-30 20:45] uclaros commented on #39556
The *double click on projection to accept* is super handy, I always miss it on arcmap!

The issue is actually in
https://github.com/qgis/QGIS/blob/35d62ab0d47fa309b2de8fdad3aab66836b32585/src/gui/vector/qgsvectorlayerproperties.cpp#L108
https://github.com/qgis/QGIS/blob/35d62ab0d47fa309b2de8fdad3aab66836b32585/src/gui/vector/qgsvectorlayerproperties.cpp#L898-L904

I think the signal should be disc

[2020-10-30 21:03] roya0045 commented on #39556
I think this is due to the fact that the selector is volatile, at least that's my experience with it, and this is why I have to use signals also to properly collect the crs.

In this case an option may be to keep the old crs somewhere and restore it upon cancelling.

[2020-10-30 21:12] uclaros commented on #39719
It seems like an upstream issue in GEOS, since `QgsGeometry::simplify()` calls `GEOSTopologyPreserveSimplify_r`. Or maybe this is by design in geos?

[2020-10-30 22:46] roya0045 commented on #39725
Possibly related to the other properties #39720 #39693 and #39615  as it died on the same lines

[2020-10-30 22:54] roya0045 commented on #39693
trUtf8 is tr from what I understand. was there any important changes to the translation data recently?
Ref in QObject
`[static]QString QObject::tr(const char *sourceText, const char *disambiguation = Q_NULLPTR, int n = -1)
Returns a translated version of sourceText, optionally based on a disambiguation string and value of n for strings containing plurals; otherwise returns QString::fromUtf8(source

[2020-10-30 23:07] roya0045 commented on #39693
Could someone check if the bug occurs before the latest translation at https://github.com/qgis/QGIS/commit/a759ca227176f336fde7a2c2fe340d5c3626ee4c and if it occurs after? I'm not sure what other changes might have affected the translation. I may be off the mark also.

[2020-10-31 00:48] bellanz80 commented on #39725
Thank you very much for noticing this interesting connection.

[2020-10-31 01:15] drf5n commented on #39724
Nevermind -- I figured out how to start a clean profile, (/Settings/User Profile -- easy-- I didn't have to move .qgis or whatever)

It seems to be some interaction with my default profile. I disabled all the plugins in my default profile, and then tested while re-enabling them (below), and I couldn't re-duplicate.

Wait -- if I have my new, fresh profile open, and open my old default simultaneous

[2020-10-31 01:15] #39724 closed

[2020-10-31 04:27] nirvn commented on #39637
@roya0045 , looked into this a bit -- long story short, you should have all of your rules use the same data defined X Y auxiliary field, and use offsets to relocate individual labels relative to that main X Y coordinate.

The data defined X Y property is applied to all rules in `QgsAuxiliaryLayer::createProperty`.

[2020-10-31 06:01] saberraz commented on #39722
Tested in master and works as expected.

[2020-10-31 06:01] #39722 closed

[2020-10-31 06:24] DelazJ commented on #39097
Fixed by #39389 #39413 and #39549

[2020-10-31 06:24] #39097 closed

[2020-10-31 06:58] andreyderkach opened #39727 "MySQLdb"
Не вдається завантажити плагін 'mysqlimport через помилку під час виклику методу classFactory ()

ModuleNotFoundError: No module named 'MySQLdb'
Traceback (most recent call last):
  File "C:/PROGRA~1/QGIS3~1.14/apps/qgis/./python\qgis\utils.py", line 334, in _startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "C:/Users/aderkac1/AppData/Roaming/QGIS/QGIS3\profiles\default/pyt

[2020-10-31 08:13] alexbruy commented on #39727
This is plugin issue and should be reported in the plugin bugtracker.

[2020-10-31 08:13] #39727 closed

[2020-10-31 11:05] roya0045 commented on #39637
@nirvn Thanks, would it cause breakage if the create property only updated the fields of the moved label? This is what I was mostly looking into, or simply not replacing anything once the function has been run properly once.

I'm still unsure as to why the current process must be so contraining. And using any offset gets overruled once the x y fields are define as they are the sole element control

[2020-10-31 11:22] roya0045 commented on #39637
And I'm also confused as to why https://github.com/qgis/QGIS/blob/1c7b5833204bd1d6183f42cee5855d16b47cbc33/src/app/labeling/qgsmaptoollabel.cpp#L811 is an OR instead of AND, especially since the default is true.

[2020-10-31 11:37] spengli-berlin opened #39728 "No python header files in QGIS 3.16 for MA"
The changed python module handling in QGIS 3.16 works quite well. However, when I try to install psutil module, I get the error "fatal error: 'Python.h' file not found".
Can I install the python-dev package in the QGIS for that?

[2020-10-31 11:40] spengli-berlin commented on #39728
The changed python module handling in QGIS 3.16 works quite well. However, when I try to install psutil module, I get the error  "fatal error: 'Python.h' file not found".
Can I install the python-dev package in the QGIS for that?

[2020-10-31 12:02] gioman commented on #39728
@spengli-berlin please ask questions in the users or developers mailing list, or use the QGIS irc channel. Thanks!

[2020-10-31 12:02] #39728 closed

[2020-10-31 12:05] gioman commented on #39693
This seems a pretty severe regression, is anyone having a look at?

[2020-10-31 12:34] gioman commented on #39723
@pnrthomp can't confirm here on a Windows 10 machine.

[2020-10-31 12:36] PedroVenancio commented on #39693
It is in fact. I'm seeing it reported at several local mailing lists, Facebook groups, etc.

[2020-10-31 12:59] elpaso commented on #39693
I did have a look but couldn't reproduce.

[2020-10-31 13:02] roya0045 commented on #39589
Pressing enter should work fine in the meantime.

[2020-10-31 13:37] roya0045 commented on #39725
@bellanz80 @pigreco what language is your QGIS in?

[2020-10-31 13:37] roya0045 commented on #39720
I assume your QGIS install is in english?

[2020-10-31 13:39] roya0045 commented on #39693
Is everyone using Italian or spanish translation?

[2020-10-31 13:40] Saijin-Naib commented on #39720
yes, en_us, installed via OSGeo4W upgrade from older versions

[2020-10-31 13:44] roya0045 commented on #39720
Just trying to see if its language specific or just unrelated from the tr function...

[2020-10-31 13:49] PedroVenancio commented on #39693
No, I'm using QGIS in English, but my windows OS is Portuguese

[2020-10-31 14:01] pigreco commented on #39725
Italy

[2020-10-31 14:53] bellanz80 commented on #39725
English

[2020-10-31 15:04] PedroVenancio opened #39729 "Problem (also crash) with NetCDF files"
I'm getting the problem I've reported some days ago in mailing list, now in QGIS 3.16:

http://osgeo-org.1560.x6.nabble.com/gdal-dev-QGIS-from-OSGeo4W-crashes-with-latest-update-on-NetCDF-td5448139.html

There I've reported a crash when I was trying to open some NetCDF file (for instance http://mf2.ipma.pt/downloads/?latest=arome.2m.relative_humidity&region=PT2 ) as raster file, as mesh layer or s

[2020-10-31 15:26] PedroVenancio commented on #39729
Also confirmed in 3.10.11

QGIS version
3.10.11-A Coruña
QGIS code revision
d2171173e4
Compiled against Qt
5.11.2
Running against Qt
5.11.2
Compiled against GDAL/OGR
3.1.4
Running against GDAL/OGR
3.1.4
Compiled against GEOS
3.8.1-CAPI-1.13.3
Running against GEOS
3.8.1-CAPI-1.13.3
Compiled against SQLite
3.29.0
Running against SQLite
3.29.0
PostgreSQL Client Version
11.5
SpatiaLite Version
4.3.0
Q

[2020-10-31 19:19] antoniolocandro commented on #39589
thanks, that works in the meantime

[2020-11-01 10:02] klakar opened #39731 "Raster file order is reversed when building virtual rasters"
**Describe the bug**
This affects sets of raster files that overlap, and when you want to control the order they appear in the virtual raster.
(related to #32403 ?)

![Skärmbild från 2020-11-01 10-43-24](https://user-images.githubusercontent.com/6375959/97799538-208bb700-1c2f-11eb-8dd8-12b57670e063.png)

When you select layers in the dialogue the order from the start is not necessarily in the same

[2020-11-01 13:12] kannes opened #39732 ""Create constant raster layer" has hardcoded limit for pixel size"
**Describe the bug**
If you enter a pixel size smaller than 0.01 in the "Create constant raster layer" processing tool, it will automatically change it to 0.01.

When passing a smaller pixel size to it via pyqgis, it will fail with a `QgsProcessingException`: "Incorrect parameter value for PIXEL_SIZE"

This makes it impossible to use for detailed rasters in coordinates systems with big values like

[2020-11-01 13:35] ibrahimman2 commented on #39232
Is there any News About this bug fix ?

[2020-11-01 16:15] roya0045 commented on #39732
Not sure why the default value is smaller than the minvalue https://github.com/qgis/QGIS/blob/6de9f602562d2e6bb9495b4723e63e27e0690244/src/analysis/processing/qgsalgorithmconstantraster.cpp#L69

[2020-11-01 18:02] Dizzy84 opened #39735 "Keyboard shortcuts not functional."
Hi,
The "modify the following entity in the attribute table" keyboard shortcut does not work.
As for the previous entity.

Best regards

[2020-11-01 18:11] Dizzy84 opened #39736 "shortcut to select and focus automatically on next feature"
Hi,

I'm looking for a tool/shortcut that will allow to move to next record and focus on it automatically.

This could be really useful when you edit existing features.

I've seen that ther is a aolready a shortcut thaat could maybe do what I'm looking for. But it looks like this shortcut dosn't work anymore. So I can't chek if it focus automatically on the next feature. If not, it could be really

[2020-11-01 19:15] geograz commented on #39696
ran in the same problem today

[2020-11-01 20:05] nyalldawson commented on #18477
This is fixed in 3.16

[2020-11-01 20:05] #18477 closed

[2020-11-01 21:47] #39696 closed

[2020-11-01 21:47] roya0045 commented on #39735
Did you check if the shortcut was set or if the layer is in edit mode?

[2020-11-02 00:10] SurfTimeOut commented on #35354
@trey-stafford  and @MattF-NSIDC , I am also experiencing an error with reading WFS into PyQGIS. I first created the project with a valid WFS layer, the extents of this layer in the GUI everything seems ok. Reading this project into PyQGIS the layer is invalid and the extents have changed. I have tried this with more than one WFS and get the same result.

https://services.ga.gov.au/site_1/services

[2020-11-02 00:46] jcm36 opened #39740 "QGIS 3.16 Execute as Batch Process - Can't add new row"
**Describe the bug**
In the new QGIS 3.16 release, I am no longer able to add a new row (new batch item) in the "Exectue Batch Process" window for all of the various processing tools

**How to Reproduce**

1. Right Click on any of the processing tools (tested with my own custom models, and built in processing tools)
2. Select the "Execute as Batch Process" menu item
3. Fill in the input boxes for

[2020-11-02 01:42] roya0045 commented on #39740
Already reported and fixed

[2020-11-02 02:18] jcm36 commented on #39740
Great, thanks!

[2020-11-02 02:23] #39740 closed

[2020-11-02 03:19] bellanz80 commented on #39693
I confirm
windows 10
QGIS 3.16 (standalone y OSGEO)

![image](https://user-images.githubusercontent.com/38449926/97826722-f6b2ae80-1c87-11eb-84d8-9be01b193cb0.png)

[2020-11-02 06:38] basilrabi opened #39744 "Create Points Layer From Table algorithm does not work in processing modeler"
**Describe the bug**

The algorithm `Create Points Layer From Table` works if used directly. But when using it in the processing modeler, geometries are created with `NULL` coordinates.

**How to Reproduce**
100%

1. Extract and open the [project](https://github.com/qgis/QGIS/files/5473133/project.zip).
2. In the processing toolbox, Open `Project models` > `Test` > `Test`
3. Using the layer `data`

[2020-11-02 07:18] rcoura54 opened #39745 "Qgis 3.16 crash when wanting to open Layer properties"
Hi there,

I've got an issue when opening properties of raster files (*.TIF).

Qgis crashes/closes without any message, it just stops as soon as I am opening the "Properties" of raster (like to change Symbology of the raster or anything else).

-> Left-click on the raster layer -> right-click on "Properties" -> Qgis automatically crashes/stops/disappears

Please note that :
1) No problems when thi

[2020-11-02 07:22] Gustry commented on #39745
This is not enough.
As mentioned in the bug report template, you should try with a new QGIS profile.

[2020-11-02 07:38] rcoura54 commented on #39745
@Gustry Unfortunately the same goes with a new QGIS profile.

Plus the issue appears even when I want to set the Parameters of QGIS (Menu bar -> Settings -> Options)

[2020-11-02 09:03] Faunone opened #39746 "Raster Simbology Improvement"
**Raster Simbology Settings**

**Additional context**

[2020-11-02 10:10] luipir commented on #39693
no, I'm using a compiled version with english translation

[2020-11-02 10:14] luipir commented on #39692
does not work in my case

[2020-11-02 10:29] luipir commented on #39693
passed parameters to the call QgsCollapsibleGroupBoxBasic::updateStyle() (this=0x555558a708e0) at ../src/gui/qgscollapsiblegroupbox.cpp:386 are correct
This part of code is executed variius times, from loading the layer and when opening properties... crash happen when this call belongs to a this->mColorRenderingGrpBox where probably have to be look for the issue.

[2020-11-02 10:33] luipir commented on #39693
Removing the applied style crash does not happen => something seems related with applying style
  QString ss;
  if ( QApplication::style()->objectName().contains( QLatin1String( "macintosh" ) ) )
  {
    ss += QLatin1String( "QgsCollapsibleGroupBoxBasic, QgsCollapsibleGroupBox {" );
    ss += QStringLiteral( "  margin-top: %1px;" ).arg( topBuffer + rectFrame.top() );
    ss += '}';
  }
  ss += QLa

[2020-11-02 10:39] s6hebern opened #39747 "QGIS 3.16.0 "Execute as Batch Process" not working"
For any processing algorithm:

1. Right-click --> Execute as Batch Process...
2. With the "+" and "-" buttons, lines should be added to or removed from the table. For me, nothing happens at all.

** Tried to reinstall, did not help **

**QGIS and OS versions**

QGIS version | 3.16.0-Hannover | QGIS code revision | 43b64b13f3
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.1

[2020-11-02 10:50] slarosa commented on #39693
and Qt version is 5.9.5?

[2020-11-02 10:51] slarosa commented on #39693
@bellanz80 Which Qt version?

[2020-11-02 11:13] pathmapper opened #39749 "Model is not working correctly if opened with QGIS browser on Windows"
**Describe the bug**

QGIS model is not working correctly if opened with QGIS browser on Windows, i.e. available fields in vector field input are not updated accordingly if selected layer for vector layer input is changed by the user.

**How to Reproduce**

1. Download and extract [model_and_sample_data.zip](https://github.com/qgis/QGIS/files/5474419/model_and_sample_data.zip).
2. Add both layers

[2020-11-02 11:16] andreasneumann opened #39750 "Marker Line broken for curved geometries"
The Marker Placement Options

- On Every Vertex
- On Every Curve Point

are broken in Current master for the following Geometry Types:
- MultiCurve
- CurvePolygon
- MultiSurface
- CompoundCurve

![image](https://user-images.githubusercontent.com/884476/97861760-87c76b00-1d04-11eb-8ab6-c67ae8ef1cf8.png)

It seems like the markers are drawn on segmented points (quite densely) that have nothing to do

[2020-11-02 11:20] PedroVenancio commented on #39693
@slarosa I'm with 5.11.2

QGIS version | 3.16.0-Hannover | QGIS code revision | 43b64b13f3
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.11.2
Compiled against GDAL/OGR | 3.1.4 | Running against GDAL/OGR | 3.1.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.29.0 | Running against SQLite | 3.29.0
PostgreSQL

[2020-11-02 11:23] #25392 closed

[2020-11-02 12:03] nicogodet commented on #39747
Duplicate https://github.com/qgis/QGIS/issues/39696 ?

[2020-11-02 12:05] s6hebern commented on #39747
True, did not search carefully enough. Apologies!

[2020-11-02 12:05] #39747 closed

[2020-11-02 13:24] PedroVenancio opened #39752 "Set -a_nodata parameter of GDAL Rasterize to 'Not set'"
Rasterize (vector to raster) algorithm has the -a_nodata parameter set to 0.0 by default:

https://github.com/qgis/QGIS/blob/master/python/plugins/processing/algs/gdal/rasterize.py#L102

https://docs.qgis.org/3.10/en/docs/user_manual/processing_algs/gdal/vectorconversion.html#rasterize-vector-to-raster

However, being an optional parameter, I think the default should be 'Not set', just like in gda

[2020-11-02 13:27] GlaDal opened #39753 "Copy/paste entry model in the graphical modeler keep old name even it has been changed when pasting it"
Hi,

There is a problem in graphical modeler. I copy-paste a bit of model from Model 1 to Model 2. I renamed all the model input and algorithm's algorithm in the model 2 but it's impossible to launch the model due to an error of finding an input layer corresponding of my Model 1. It ask me 'Table name Model 1' when I put 'Table name Model 2'. Exporting the model in script format, the name of the t

[2020-11-02 13:40] pathmapper opened #39754 "Not possible to set default output value to "Create Temporary Layer" for model output"
**Describe the bug**
In a QGIS model it's not possible to set the default output value to **Create Temporary Layer** for the output of _Unjoinable features from first layer_ of the `Join attributes by field value` algorithm.

**How to Reproduce**

1. Open the following model [default_output_value.zip](https://github.com/qgis/QGIS/files/5475302/default_output_value.zip)
2. Click on the `unjoinable_

[2020-11-02 14:25] PedroVenancio opened #39755 "Wrong results converting vectors to Float32 rasters - Rasterize, Rasterization, Round Raster algorithms"
Because decimal to float (IEEE754) conversion is not an exact conversion, I'm getting wrong results in reclassifications done after converting vectors to rasters.

I have a polygons layer with a "value" field that has 2 decimal places.

Converting it to raster with **gdal_rasterize** (**Rasterize (vetor to raster)**), the output is different if I choose it as Float32 or Float64.

Here is a sample

[2020-11-02 14:28] pathmapper opened #39756 "qgsXYZTilesConnections import fails with "Connection with name [name] already exists. Overwrite?""
**Describe the bug**
`qgsXYZTilesConnections` import fails with `Connection with name [name] already exists. Overwrite?` despite the names are different.

**How to Reproduce**

1. Create an XML file with the following content or take it from the zip file: [xyz_sample_connections.zip](https://github.com/qgis/QGIS/files/5475526/xyz_sample_connections.zip)

[code]
2. Clear all existing XYZ Tile conne

[2020-11-02 14:35] andreasneumann commented on #39750
This circle is made of two circular arcs, so only 4 vertices should be drawn in this marker line. But with the broken implementation we see >100 (didn't count) markers instead of just 4!

![image](https://user-images.githubusercontent.com/884476/97880093-0500d900-1d21-11eb-9337-e4d8f4dfeeed.png)

[2020-11-02 15:01] jkr-wrk opened #39757 "Raster Legend not sorting correct when edited due to decimal separation"
Version QGis 3.16.0

bug not in QGIS 3.14.15

Language settings: Dutch
Country settings: Dutch

I have a style saved in QGis 3.14.15. When using this style in QGis 3.16 it works good.
But changing the value with a decimal precision the legend items moves to the bottem.

Closing and opening the legend settings, shows the correct order again.

See attachments for explanation.
Step 1
![Knipsel 1](htt

[2020-11-02 15:04] roya0045 commented on #39757
related or duplicate of #39685

[2020-11-02 15:38] luipir commented on #39693
with valgrind crash does not happen, btw there are many report of invalid read as:
==29285== Invalid read of size 8
==29285==    at 0xB45C69B: QMetaObject::cast(QObject const*) const (in /usr/lib/x86_64-linux-gnu/libQt5Core.so.5.9.5)
==29285==    by 0xA44C132: ??? (in /usr/lib/x86_64-linux-gnu/libQt5Widgets.so.5.9.5)
==29285==    by 0xA40FA2E: ??? (in /usr/lib/x86_64-linux-gnu/libQt5Widgets.so.5.9

[2020-11-02 15:42] PedroVenancio commented on #39757
I've reported https://github.com/qgis/QGIS/issues/39685 and I can also confirm this one, that should be related.

But the problem is not only in sorting, because the definition of the class breaks becomes a mess, as it does not recognize the point as the decimal separator (like on previous versions).

@elpaso do you think this can be a side efect of https://github.com/qgis/QGIS/pull/39088 ?

[2020-11-02 15:54] elpaso commented on #39757
@PedroVenancio it might be related, let me have a look to both issue.

[2020-11-02 16:12] samillar94 commented on #35144
This issue is still here on QGIS 3.16.0. Why is it not a higher priority? To quote Gio from the old forum, "To add insult to injury if the table covers the message bar the user don't see the error and when toggling editing the unsaved values are sticking in the table giving the sensation that edits went well".

[2020-11-02 16:16] pathmapper opened #39758 "WMS/WFS connections XML import fails silently if there are two connections with the same name"
**Describe the bug**

WMS/WFS connections XML import fails silently for one connection if there are two connections with the same name.

**How to Reproduce**

1. Create XML files with the following content or take them from the zip file: [wms_wfs_test_xml_connection_files.zip](https://github.com/qgis/QGIS/files/5476257/wms_wfs_test_xml_connection_files.zip)

**WMS**
[code]

**WFS**
[code]
2. Clear

[2020-11-02 16:33] troopa81 opened #39759 "[Oracle] Cannot load any oracle layer"
**Describe the bug**

There is the following error when loading an oracle layer

[code]

**How to Reproduce**

1. Create an oracle connection
2. Double click on a table from the browser
3. the error message appears, no layer is loaded

**QGIS and OS versions**

QGIS master
Debian testing

**Additional context**

This is due to #39656. It's because not all providers implement [correctly decodeUri m

[2020-11-02 17:00] bellanz80 commented on #39693
[code]

[2020-11-02 17:05] SrNetoChan commented on #33755
I was able to replicate this. It only happens on Rule-based (maybe categorized too) Symbol, but not in single symbol, where it works just fine.

[2020-11-02 18:27] nyalldawson commented on #39759
We should implement this for Oracle -- there's other things which are broken if the provider doesn't implement this

[2020-11-02 18:34] MoonCactus commented on #35649
Idem for me, nothing else was able to sort my broken dependencies out.
Thanks for sharing your "ugly" workaround: it is still much better than no workaround at all !

[2020-11-02 18:46] elpaso commented on #39757
Looks like it is not directly related (all that shader code is of course somewhat related) but the bug has probably been there for a while (far before my latest changes).

There appear to be multiple issues here, in particular, when using "Discrete" interpolation min value gets recalculated totally wrong (after you edit some values), this messes all up (sorting etc.).

Other issues are related to

[2020-11-02 19:30] jonnyforestGIS commented on #33755
@SrNetoChan I confirm as well this behaviour when using the geometry generator and happens with categorized symbol. Cheers

[2020-11-02 21:22] vpavic opened #39764 "Provide packages for Ubuntu 20.10 (Groovy Gorilla)"
The https://qgis.org/ubuntu/dists/ doesn't provide packages for `groovy` yet.
Please consider adding this, as Ubuntu 20.10 was released on Oct 22nd.

[2020-11-02 21:25] vpavic commented on #39764
I just noticed 09d6185, which landed in `master` less than hour ago (I searched the repo before that apparently) - I assume that means this is basically resolved?

[2020-11-02 22:02] strk commented on #39490
How do I activate label debug view ?

[2020-11-02 23:01] PedroVenancio commented on #39757
Of course @elpaso I will test the patches. Just point me to the windows binaries.

[2020-11-03 00:34] WHBSpeiser opened #39767 "Will only connect to python via the app store in Pop!_OS 20.1"
Hi!

When QGIS is run in Pop!_OS 20.1 if it is opened either through the application shortcut or via terminal, an error occurs where QGIS doesn't run with python because PyQt5 isn't connecting. However, this error doesn't occur when opened directly though the app store.

[2020-11-03 00:46] jhpark16 opened #39768 "Open Data Source Manager Update issue"
Open data source manger does not show the content.

To reproduce this problem,
1. Start QGIS LTR version 3.10.11-A Coruna (3.10.11-1-setup_x86-x64.exe) and add a vector data source by clicking "open data source manager" button
2.Choose a vector layer, add and close the dialog window.
3. Click "open data source manager" button and Vector layer does not show any content (source type and source)
4. C

[2020-11-03 01:04] pjshelton commented on #37566
Hi,
This bug also happens with export to image.
@roya0045 I suspect that that it is the case that auto-resizing is on.

attached is a project with layers which demonstrates the problem.

It is also that the top of the legend is correct for the wrong page.  So in my case,

- when you look at page 1, the legend top is correct for the data on the third page,
- when you look at page 2, the legend top

[2020-11-03 01:16] pjshelton commented on #37566
A workaround that we are using at our place of work is to create each image twice, side by side..  one will have the legend in the wrong position, the other will have it correct.

[2020-11-03 01:49] roya0045 commented on #37566
If you set the data defined variables for the position x and y, does the behaviour changes?

[2020-11-03 04:35] pjshelton commented on #37566
No.
![image](https://user-images.githubusercontent.com/39154868/97950174-c97a1380-1de1-11eb-94f1-ccdacea53ec2.png)

[2020-11-03 04:36] pjshelton commented on #37566
[Layout 2pdf.pdf](https://github.com/qgis/QGIS/files/5479291/Layout.2pdf.pdf)

[2020-11-03 05:12] pathmapper commented on #26276
This issue exists also for `WMS` / `WFS` / `XYZ Tiles` connections:

![delete_connections](https://user-images.githubusercontent.com/20856381/97951753-85fcb680-1d9b-11eb-9478-3c84a7c2a3e9.gif)

[2020-11-03 05:38] JannTugas opened #39770 "QGIS 3.16 Version is keep on Crashing and Not Responding"
## User Feedback

It keeps on Crashing! Whenever I Move the Vertex point, whenever I move something, it Crashed!

## Report Details

**Crash ID**: [714cdebb4294d246220d704f0aa9214c11d910ad](https://github.com/qgis/QGIS/search?q=714cdebb4294d246220d704f0aa9214c11d910ad&type=Issues)

**Stack Trace**
<pre>
QgsGeometryValidator::checkRingIntersections qgsgeometryvalidator.cpp:69
QgsGeometryValidator::

[2020-11-03 05:47] pathmapper opened #39771 "QGIS Browser: Add option in contextmenu to delete connections"
**Feature description**

QGIS Browser: Add option in contextmenu to delete connections:

<img src="https://user-images.githubusercontent.com/20856381/97952122-9cefd880-1d9c-11eb-9bb5-d9b1ae8616f0.png" width="300">

After click on _Delete Connections..._ the same `Manage Connections` UI as used for _Load Connections..._ could be used with a _Delete_ instead of an _Import_ button:

<img src="https:/

[2020-11-03 06:54] nicogodet commented on #39770
Fixed by https://github.com/qgis/QGIS/pull/39769 ?

[2020-11-03 07:34] rduivenvoorde commented on #39759
@troopa81 my issue with oracle is that I do not have an instance available to test. Is there any Oracle provider publically available?

@jef mmm, thinking out loud now: issues.qgis.org is a big machine doing almost nothing... what about running this 'free' oracle version there? And then (we can give aacces to) people with ssh access to that machine, so they can create a tunnel (over ssh) to the Or

[2020-11-03 07:47] Jakob-Lanstorp opened #39773 "Move Plugin settings to separate tab in Settings > Options dialog"
**Feature description.**
Having multiple plugins entering their settings UI into the Settings > Options dialog will bloat the Options dialog with visual noise. It would be nice to have a new tab in the Options dialog called Plugins, where the different plugins can render their settings. This way the Options dialog will be consistent looking no matter the plugins you have installed, until you enter

[2020-11-03 08:26] gioman commented on #39745
@rcoura54 duplicate of https://github.com/qgis/QGIS/issues/39628

[2020-11-03 08:26] #39745 closed

[2020-11-03 08:28] Isaacson33 commented on #39573
So what now? We've established it's not a 'custom build', it's running against the version of QT it's built against. The bug is still asking for feedback - is there something else I need to provide. I know @gioman has mentioned before something about 'feedback' being used as a generic 'needs more info' type label, so I need to ask if it's specifically referring to some information you're expecting

[2020-11-03 08:31] gioman commented on #39770
@JannTugas try with a new QGIS profile, no 3rd party plugins installed.

[2020-11-03 08:50] gioman commented on #39755
@PedroVenancio I fully subscribe this issue (thanks Pedro for the very precise report), it is a pain work with such data in all ways: analysis, re-classification and symbology.

[2020-11-03 08:53] troopa81 commented on #39759
@rduivenvoorde

You can run an oracle instance with this command

[code]
and from the QGIS root dir to populate the base

[code]

Using docker here is IMHO the best solution because it's simple and it's the reference for QGIS CI.

[2020-11-03 09:00] berkayoruc opened #39774 "QGIS 3.16 Turkish language support missing"
QGIS 3.14 has Turkish user interface support. But, there is no Turkish language support in 3.16 for user interface.

[2020-11-03 09:12] RDMarchaeology opened #39775 "3.16 repeatedly crashing"
## User Feedback

Duplicated raster LiDAR layer; renamed duplicate layer; moved original layer below duplicate - crash!

## Report Details

**Crash ID**: [db8a2b70acc598fff216f84778581531565fe631](https://github.com/qgis/QGIS/search?q=db8a2b70acc598fff216f84778581531565fe631&type=Issues)

**Stack Trace**
<pre>
QCoreApplicationPrivate::sendThroughObjectEventFilters :
QApplicationPrivate::notify_hel

[2020-11-03 09:13] gioman commented on #39775
@RDMarchaeology Please try with a new QGIS profile, no 3rd party plugins installed.

[2020-11-03 09:16] DelazJ commented on #39774
@berkayoruc languages are automatically pulled in QGIS when they are translated at min at 35% (if I recall correctly) to avoid too many texts in English while someone was expecting using another locale.
Here are the ratio of [translations for turkish](https://www.transifex.com/qgis/QGIS/language/tr/) (you will probably need to log in to transifex to see the page). See https://qgis.org/tr/site/geti

[2020-11-03 09:18] gioman commented on #39774
@DelazJ Yeah I agree... I didn't think about the minimum amount of translated strings, thanks for catching this.

[2020-11-03 09:18] #39774 closed

[2020-11-03 09:19] berkayoruc commented on #39774
Thank you @DelazJ . I will check what did you say and translate some word for Turkish.

[2020-11-03 09:30] gioman commented on #39720
is the same as https://github.com/qgis/QGIS/issues/39692#issuecomment-718870927

[2020-11-03 09:30] #39720 closed

[2020-11-03 09:46] gioman commented on #39768
@jhpark16 cannot confirm here, tested on Windows 10.

[2020-11-03 09:53] Marius-Swart opened #39776 "QGIS unexpectedly ended"
## User Feedback

The program crashed when closing the program by clicking on the -buttonX in the top right hand corner of the window. This happens quite often when closing the program.

## Report Details

**Crash ID**: [ece7e42b38ddbef052745aa2d10e41e55b5b81bb](https://github.com/qgis/QGIS/search?q=ece7e42b38ddbef052745aa2d10e41e55b5b81bb&type=Issues)

**Stack Trace**
<pre>
QgisApp::projectTempor

[2020-11-03 09:55] gioman commented on #39776
@Marius-Swart please try with a new QGIS profile, no 3rd party plugins installed. Also try with the latest LTR release (3.10) or with 3.16 (3.14 is discontinued).

[2020-11-03 10:07] gioman commented on #39744
@basilrabi the problem seems to be the space in the columns names of your CSV, I removed it and it worked as expected.

[2020-11-03 10:38] basilrabi commented on #39744
[no_space_in_column.zip](https://github.com/qgis/QGIS/files/5480588/no_space_in_column.zip)
Tried removing the spaces in column names (csv and processing model). Also made the column names small letters. Still no luck. Geometry still has NULL coordinates. Can I see your project file that works @gioman ?

[2020-11-03 10:42] gioman commented on #39744
@basilrabi I used your project, I just removed the spaces and re-run the model.

[2020-11-03 10:49] basilrabi commented on #39744
@gioman , does [this project](https://github.com/qgis/QGIS/files/5480588/no_space_in_column.zip) work for you without any modification?

[2020-11-03 11:26] Betzebu1959 opened #39779 "QGIS crashes when adding PostGIS raster layer"
**Describe the bug**

Add Layer -> add raster layer --> select Postgis table --> add

**QGIS and OS versions**

**Additional context**

## User Feedback

Event systematically occurs when trying to add a raster layer from a Postgis raster column

## Report Details

**Crash ID**: [0febf7b9d900af49a45ae44ebd556853fdd3c708](https://github.com/qgis/QGIS/search?q=0febf7b9d900af49a45ae44ebd556853fdd3c708

[2020-11-03 11:29] elpaso commented on #39779
Can you please attach a plain SQL dump of the smallest dataset to reproduce the issue?

[2020-11-03 11:30] elpaso commented on #39779
Also required: Postgres/Postgis versions.

[2020-11-03 11:46] Betzebu1959 commented on #39779
Dear alpaso,

thanks for the quick reaction.

[browse_test_insert.txt](https://github.com/qgis/QGIS/files/5480974/browse_test_insert.txt)

1. Postgres Version is 13.0
2. Postgis version is  3.0.2
3. Please find the original Psql insert attached

Best regards

[2020-11-03 12:04] ar-jan commented on #39770
I have the same problem (same Crash ID).

[2020-11-03 12:06] strk commented on #32053
As of current master (47a08a4445b4c46483d03d68e5443081bae5c92a) I cannot reproduce the issue.
Can you, @palmerj ?

[2020-11-03 12:56] roya0045 commented on #39775
Seems to be the same or similar stack trace as the property dialog crashes

[2020-11-03 13:42] elpaso commented on #39779
There is an error in your dataset:

[code]

the extent does not look like a valid 4326 polygon, that is the root cause of the issue, that said, QGIS/GDAL shouldn't crash.

[2020-11-03 13:49] olivierRP opened #39782 "Systematic crash of QGIS while opening raster layer properties"
**describe the bug**

right-click on raster layer -> click on properties

**Report details**

Crash ID: 38c4a04d77383d702503207cd1e98a0a542debab

Stack Trace

QObject::isWidgetType :
QMainWindow::trUtf8 :
QHeaderView::logicalIndexAt :
QWidget::setStyleSheet :
QgsCollapsibleGroupBoxBasic::updateStyle qgscollapsiblegroupbox.cpp:386
QgsCollapsibleGroupBoxBasic::showEvent qgscollapsiblegroupbox.cpp:11

[2020-11-03 14:15] gioman commented on #39744
@basilrabi you must get rid of the double quotes around the column names.

[2020-11-03 14:16] jgrocha commented on #32053
Tested here, with current master. The table `foo` is displayed in the browser.

Also works pretty well if other geometry type is used:
[code]
![foo](https://user-images.githubusercontent.com/163681/97995839-f547ca00-1dde-11eb-9aeb-764173d5d84a.png)

[2020-11-03 14:22] gioman commented on #39749
@pathmapper works fine on 3.16.0 on Ubuntu 20.04

[2020-11-03 14:22] gioman commented on #39749
I overlooked this, sorry.

[2020-11-03 14:27] gioman commented on #39749
@pathmapper confirmed on windows 10 and QGIS 3.16

[2020-11-03 14:30] gioman commented on #39770
@ar-jan  try with a new QGIS profile, no 3rd party plugins installed.

[2020-11-03 14:32] gioman commented on #39775
Duplicate of https://github.com/qgis/QGIS/issues/39693

[2020-11-03 14:32] #39775 closed

[2020-11-03 14:33] jgrocha commented on #39756
Thank you @pathmapper fr reporting this.

This only happens, because you are using the **OpenStreeMap** as an identifier. If you change OpenStreetMap to **OpenSeaMap** and **OpenSeaMap (self hosting)**, for example, everything will work as expected.

OpenStreetMap identifier is used internally, as the default XYZ Tile service provided. If the user deletes it, we know that the user does not want it

[2020-11-03 14:36] gioman commented on #39782
@olivierRP duplicate of https://github.com/qgis/QGIS/issues/39628 ?

[2020-11-03 15:03] rduivenvoorde commented on #39759
Docker is fine, though you also need sqlplus to run the testdata... and it failed...

Anyway, I think the Delimited Line provider (csv) has the same problem...

[2020-11-03 15:15] pathmapper commented on #39756
Hi @jgrocha, thanks for your explanation and looking into this.

You're right, with **OpenSeaMap** and **OpenSeaMap (self hosting)** it is working as expected.

We're generating and hosting our own OSM tiles to take some traffic from the OSM servers but want to keep also the default OSM server connection.

Good to know that this limited to **OpenStreeMap** as an identifier and not a general issue

[2020-11-03 15:19] olivierRP commented on #39782
**@gioman** Oh yeah, sorry, but with Window 7 Professionnal SP1.

[2020-11-03 15:21] #39782 closed

[2020-11-03 15:22] gioman commented on #39628
See also https://github.com/qgis/QGIS/issues/39782

[2020-11-03 16:25] rduivenvoorde commented on #39759
Ok, running. It takes 10 minutes to start up on my (rather beefy) laptop...
(checking with `docker ps -a` till it shows 'healty')

After installing sqlplus I was able to run
[code]
Which seem to go fine.
Then I can connect to database XEPDB1 with user QGIS... (why XEPDB1?, thought the db was called XE? And see testdata.
Next step: compile oracle with oracle provider...

[2020-11-03 16:34] troopa81 commented on #39759
I'm no Oracle expert, but I think PDB (Pluggable Database) are *databases* and XEPDB1 is the default one. To me create a PDB is the equivalent of *createdb* in PostGres. Not sure though.

Thank you for taking care of this. Let me know if you meet some issues, maybe I can help.

[2020-11-03 16:35] rduivenvoorde commented on #39759
Via the dialogs I can load all data fine. It is only via Browser that I get an error yes?

[2020-11-03 17:18] troopa81 commented on #39759
Yes, indeed

[2020-11-03 17:55] Dizzy84 commented on #39735
Hi, thank you for your answer.
I finally understood that the shortcut only works in "form view" of the
attribute table.

So now I'm using it. But I opened another post to suggest creating a
shortcut that could work in all modes, also in the map view. I've seen that
some people start to create python functions for that, I tried them but it
didn't work for me:
https://plugins.qgis.org/plugins/go2nex

[2020-11-03 17:57] #39735 closed

[2020-11-03 18:41] rduivenvoorde commented on #39759
Ok, running db and connecting with QGIS...

[2020-11-03 19:29] rduivenvoorde commented on #39759
@nyalldawson grepping on decodeUri it seems that actually ONLY postgres is implementing that?

[code]

So you say ALL providers should have a decodeUri (and probably also a 'encodeUri') like pg provider? See
https://github.com/qgis/QGIS/blob/master/src/providers/postgres/qgspostgresprovider.cpp#L5713-L5802

In python console doing `iface.mapCanvas().currentLayer().dataProvider().uri().encodedUri()

[2020-11-03 20:24] rduivenvoorde commented on #39759
If I just copy the postgres implementatie, the browser works again.!
So I have to find out the possible uri parts and create a proper version.
But will be friday probably, because tomorrow I've other responsibilities...

[2020-11-03 20:37] nyalldawson commented on #39759
That's cos you're grepping for QgsPostgresProviderMetadata::decodeUri 😆

encodedUri is a different beast - it does something else entirely

[2020-11-03 20:40] i-s-o commented on #39490
![image](https://user-images.githubusercontent.com/1661549/98038280-dc451600-1dea-11eb-8d86-2304691287a2.png)
![image](https://user-images.githubusercontent.com/1661549/98038301-e6671480-1dea-11eb-9f93-729435c86682.png)

[2020-11-03 20:53] rduivenvoorde commented on #39759
ah, duh...  Sorry
Ok, so implement decodeUri ann encodeUri (and encodedUri is different...)

[2020-11-03 21:19] nyalldawson commented on #39759
Exactly! The crucial part is to make the round trip through decode -> encode lossless

[2020-11-03 21:55] nicogodet commented on #39776
Btw this kind on crash happens when `layer.providerType()` return an empty string (or unregistered provider ?).

[This QgsProviderMetadata](https://github.com/qgis/QGIS/blob/master/src/app/qgisapp.cpp#L11533L11534) can not be initialized and Qgis crash on [next line](https://github.com/qgis/QGIS/blob/master/src/app/qgisapp.cpp#L11536).

The IF condition could be more robust and check for `layer.pr

[2020-11-04 00:08] vegovs opened #39788 "QgsMapSettings.setLayers() does not accept list of layers."
**Describe the bug**
QgsMapSettings.setLayers()  requires list of layers but does not accept a list:

Traceback (most recent call last):
  File "/usr/lib/python3.8/code.py", line 90, in runcode
    exec(code, self.locals)
  File "<input>", line 1, in <module>
  File "<string>", line 84, in <module>
  File "<string>", line 65, in export_basedata_as_img
TypeError: index 0 has type 'list' but 'QgsMap

[2020-11-04 00:10] nyalldawson commented on #39788
settings.setLayers([QgsProject.instance().mapLayersByName(layer1), QgsProject.instance().mapLayersByName(layer2)])

mapLayersByName returns a list -- so you're passing a list of lists.

try

    settings.setLayers([QgsProject.instance().mapLayersByName(layer1)[0], QgsProject.instance().mapLayersByName(layer2)[0]])

[2020-11-04 00:11] #39788 closed

[2020-11-04 02:14] #39776 closed

[2020-11-04 02:30] #39770 closed

[2020-11-04 04:03] rahulkgour opened #39794 "QGIS is getting crashed while pre-processing using SCP plugin"
Getting below error while firing up QGIS in mac.

**Couldn't load plugin 'sentinel2_download' due to an error when calling its classFactory() method**

**ModuleNotFoundError: No module named 'ee_plugin'**
Traceback (most recent call last):
  File "/Applications/QGIS3.10.app/Contents/MacOS/../Resources/python/qgis/utils.py", line 334, in _startPlugin
    plugins[packageName] = package.classFactory(

[2020-11-04 04:04] rahulkgour commented on #39794
Same Issue while trying the things on QGIS version: 3.14

[2020-11-04 07:12] basilrabi commented on #39744
Thank you @gioman

[2020-11-04 07:12] #39744 closed

[2020-11-04 07:36] Gustry commented on #39794
The QGIS project can do nothing about third party plugin. You must report the issue in the plugin code repository.

[2020-11-04 07:36] #39794 closed

[2020-11-04 09:07] cxcandid opened #39796 "Add option to store layer paths relative to a QGIS GPKG project container"
While working a lot with QGIS projects stored inside Geopackage files, I would love to have an option to add layers with a relative path to the parent project Geopackage container. This would prevent errors in case of renaming the GPKG container file, and gives us the option to use a GPKG file as template for new projects.

As a temporary  workaround, I implemented a simple PathResolver-Plugin to

[2020-11-04 09:32] DelazJ opened #39797 "[3D] Allow to rename lights in 3D map view config dialog"
It could be nice to be able to rename the lights in the 3D map view configuration dialog to avoid "Point light 1", "Point light 2", "Directional light 1", ... that are not obvious if you have more than one light
![image](https://user-images.githubusercontent.com/7983394/98093955-eb7aa100-1e88-11eb-839a-367e04f4dc41.png)

[2020-11-04 09:43] luipir commented on #39775
hmmmm... seems the workflow followed in this issue is different "Duplicated raster LiDAR layer; renamed duplicate layer; moved original layer below duplicate - crash!" e.g. the crash happen in the same codeline of #39693, but applying to a different GUI where a collapsible stuff is used.

[2020-11-04 09:44] luipir commented on #39693
hmmmm... seems the workflow followed in issue #39775 is different! "Duplicated raster LiDAR layer; renamed duplicate layer; moved original layer below duplicate - crash!"
e.g. the crash happen in the same codeline of this issue, but applying to a different GUI where a collapsible stuff is used.

[2020-11-04 09:46] Mi-Kbs-gis opened #39798 "Identify Features ignores temporal controller filtering"
**Description**
Temporal controller filtering will be ignord while using "Identify Features"

I'm using the temporal controller to jump over coss sections.
The station along a river is used as identifer of each cross section.
Sadly the access from the temporal controller with my data works just with a pseudo date (build by an expression).

[sampleproject.zip](https://github.com/qgis/QGIS/files/548

[2020-11-04 09:51] msevilla00 commented on #39693
Same problem for my even when I try to open Settings>Options (to paste here the info of my configuration).

[2020-11-04 09:54] luipir commented on #39693
confirmed... mee too! btw configuration is from Help->about

[2020-11-04 10:02] gafzgarrr opened #39799 "dxf Export does not work Since Version 3.12"
dxf Export from QGIS 3.10 worked without Problems.
On higher Versions (Tested on 3.12 an 3.14) the dxf Export does not work.
The dxf File is Empty or only the Descriptions were exported.

[2020-11-04 10:08] MattUm opened #39800 "Dissolvence creation fails"
Goodmorning,
I have a problem with QGIS (I'm currently using version 2.14).
I have to do a dissolvence of a clip by categories, the process starts, but it stops when it reaches 100% and give me nothing. The file exists in the creation folder, but even if I load the shapefile on the program it shows me only a partial dissolvence of the territory.
I've done the same process with another clip and it

[2020-11-04 10:25] MieWinstrup commented on #17694
This would be a nice addition to QGIS! That is one of the only things I miss from ArcMap-functionality. I like the work flow suggested by @Rennie24 based on @m-kuhn's idea.

[2020-11-04 10:34] spatialthoughts opened #39801 "Proj.db not found for GDAL tools on QGIS 3.16 Mac all-in-one installer"
gdalwarp give an error on QGIS3.16 Mac because it can't find proj.db. Same operation works fine in QGIS3.10 LTR package.

"ERROR 1: PROJ: proj_create_from_database: Cannot find proj.db"

<img width="1001" alt="proj_error" src="https://user-images.githubusercontent.com/5227506/98100658-2f849a80-1eb7-11eb-9d3d-06b45a3f9d42.png">

To reproduce

1. Unzip and Load Attached SRTM raster [N27E086.hgt.zip]

[2020-11-04 10:37] nyalldawson commented on #39800
Don't use qgis 2.14 - that's severely out of date. Update to a newer supported release and retest please!

[2020-11-04 10:37] #39800 closed

[2020-11-04 11:24] Meibes commented on #30029
could anyone explain to me why it works on Buffer and not on TinInterpolation? where are code changes needed and if I can do this with very basic python knowledge, where do I need to make changes? I haven't used Modelbuilder at all because of this and would like to use it in an upcoming project

[2020-11-04 11:40] msevilla00 commented on #39693
Here I attached mi configuration
![About QGIS - 64 Bit — About_632](https://user-images.githubusercontent.com/1491985/98107469-db6bbd00-1e9a-11eb-9cb1-d746b13223bf.png)

[2020-11-04 11:42] gioman commented on #39693
Shouldn't this issue trigger a project emergency bug fix and new release?

[2020-11-04 11:44] gioman commented on #39796
@cxcandid related to https://github.com/qgis/QGIS/issues/37440 ?

[2020-11-04 11:47] gioman commented on #39799
@gafzgarrr can you be more specific? I just tried to export a vector to DXF (using project > import/export > export project to DXF) and seems to have worked.

[2020-11-04 11:48] gioman commented on #39799
Related/duplicate of https://github.com/qgis/QGIS/issues/37202 ?

[2020-11-04 11:53] gioman commented on #30029
@Meibes this tool does not allow to use layers that are not loaded in the project even when used outside of a model, so this do not seems to be a modeller bug but rather a tool bug/limitation.

[2020-11-04 12:05] Antoviscomi commented on #39693
I don'know if it help you... but on LTR with the same default profile and configuration (the same QGIS.ini, the same QT version which cause crash in 3.16 an Master for me) I dont Have crash until 35 double clicks

![Anonimo](https://user-images.githubusercontent.com/12639444/98109734-55517580-1e9e-11eb-8e3d-485b5941d53e.jpg)

[2020-11-04 12:09] Meibes commented on #30029
@gioman thanks for the info. how hard is it to remove the limitation? is this tool written in python? could some code from Buffer be used to enable model input in TinInterpolation?

[2020-11-04 12:21] cxcandid commented on #39796
@gioman of course it's related ... didn't know that there is another request.

[2020-11-04 12:25] gioman commented on #39796
Ok, closing as duplicate then.

[2020-11-04 12:25] #39796 closed

[2020-11-04 12:36] Meibes commented on #30029
is the limitation somewhere in interpolationdatawidgetbase.ui because the combobox cmbLayers has the class QgsMapLayerComboBox and is not filled like other layerComboboxes from other processing algorithms?

[2020-11-04 12:38] gioman commented on #30029
is a question for a Processing developer like @alexbruy or @nyalldawson

[2020-11-04 12:58] MattUm commented on #39800
Hi @nyalldawson
I tried also using new versions (3.12 and 3.14), but, before having the above problem, in a previous process, QGIS informed me that the geometries of a vector were not valid and I don't know how to modify them.
Could you help me?

[2020-11-04 13:00] gioman commented on #39800
@MattUm they are both outdated and unsupported. You must use the latest LTR (3.10) or the 3.16 release.

Anyway, if you have geometry errors you must fix them beforehand, use the "fix geometries" tool.

[2020-11-04 13:09] MattUm commented on #39800
Hi @gioman
Then I'll try to dowload one of these versions, but I've never fixed a geometry.
PS: are you italian? In that case, we should write about this in italian here or by private messages if something written in English is not understood

[2020-11-04 13:12] gioman commented on #39800
@MattUm

![Screenshot_20201104_131223](https://user-images.githubusercontent.com/1951107/98115907-6e0e5b00-1e9f-11eb-9ca8-e8f624ac2b5c.png)

[2020-11-04 13:50] Bernd-Vogelgesang commented on #39693
**Opening properties of WMS, XYZ leads to crash**

QGIS-Version | 3.16.0-Hannover | QGIS-Codeversion | 43b64b13f3
-- | -- | -- | --
Kompiliert gegen Qt | 5.9.5 | Laufendes Qt | 5.9.5
Kompiliert mit GDAL/OGR | 3.0.4 | Läuft mit GDAL/OGR | 3.0.4
Kompiliert mit GEOS | 3.8.0-CAPI-1.13.1 | Läuft mit GEOS | 3.8.0-CAPI-1.13.1
Kompiliert mit SQLite | 3.22.0 | Läuft mit SQLite | 3.22.0
PostgreSQL-Client-Ve

[2020-11-04 13:50] Mi-Kbs-gis opened #39804 "Temporal Controller Support for numeric fields"
**Feature description.**
Now the temporal controller works just with date or datetime Data.
But the controller is also useful to perform a synchrony filtering over several layers.
I my case I work with cross sections. They were identified by a number.
The cross section features are created with my plugin [ThToolBox](https://github.com/Mi-Kbs-gis/ThToolBox).
I'm using the temporal controller to jum

[2020-11-04 14:07] rjhale1971 commented on #39764
Just checking in - I'm actually looking for the same thing. I upgraded one test box and realized there isn't a 20.10 package yet.

[2020-11-04 14:12] alexbruy commented on #30029
Buffer algorithm uses standard parameter type. TIN interpolation tool uses custom parameter type which does not have modeler wrapper implemented. Moreover parameter type implementation also needs some love, but it can't be done without breaking API.

[2020-11-04 14:23] DrewFrance opened #39805 "Raster Layer Symbology crashing"
## User Feedback

When I go to symbology in raster files lately, this crash tends to happen 50% of the time, any raster layer.

## Report Details

**Crash ID**: [6bd3f50df79a73d6a64ae737cb5de1c114f91817](https://github.com/qgis/QGIS/search?q=6bd3f50df79a73d6a64ae737cb5de1c114f91817&type=Issues)

**Stack Trace**
<pre>
QObject::isWidgetType :
QMainWindow::trUtf8 :
QHeaderView::logicalIndexAt :
QWidg

[2020-11-04 14:25] jebins commented on #34941
Hi,

I have exactly the same issue on 4 computers running Windows 10 behind a corporate proxy. A proxy authentification error leads to a crash (either on QGIS LTR 3.10.3 or 3.10.11) when: `Help > About`.

See the attached crash reports:
[crash_report_qgis_3-10-3.txt](https://github.com/qgis/QGIS/files/5488275/crash_report_qgis_3-10-3.txt)
[crash_report_qgis_3-10-11.txt](https://github.com/qgis/QGI

[2020-11-04 14:31] gioman commented on #39805
duplicate of https://github.com/qgis/QGIS/issues/39693

[2020-11-04 14:31] #39805 closed

[2020-11-04 15:53] bellanz80 commented on #39693
Hi. I confirm. With the same equipment of my previous point, QGIS profile (new or old) and the same plugs, in QGIS 3.10.11A, I have no problem.
But, not with 3.14.0 either
it's only with 3.16.

[2020-11-04 16:00] esnyder-rve commented on #37566
@roya0045
Yes

[2020-11-04 16:38] pigreco opened #39807 "[Edit in Place] count points in the polygon does not work"
The `Count Points in Polygon` algorithm works fine, but when used with `Edit in Place`  it doesn't work, i.e. it doesn't add in the field with the count.

How to reproduce it:
1. add two layers, one polygonal and one point;
2. from the processing tools, activate Edit in place and start it;
3. insert the polygon as the first layer and the points as the second;
4. launch the algorithm;
5. when openi

[2020-11-04 16:41] bellanz80 commented on #39807
I confirm, on QGIS 3.16 and 3.14.0,
Windows 10

[2020-11-04 16:47] gioman commented on #39807
@pigreco interesting, here on 3.16 there is no such tool when activating the "edit features in place" option

![Screenshot_20201104_164522](https://user-images.githubusercontent.com/1951107/98140384-49c17700-1ebd-11eb-82e1-eb04c3edb6cf.png)

[2020-11-04 16:49] mikhailtchernychev opened #39808 "versions 3.16 and 3.17 does not handle geotiff"
I have geotiff files, including one saved from QGIS, which exhibit the following:

- add raster layer - works fine.
- double-click on the layer, QGIS crashes.

Running Ubuntu 18.04
Thank you
Mikhail

[martinez_saved.zip](https://github.com/qgis/QGIS/files/5489230/martinez_saved.zip)

[2020-11-04 16:51] pigreco commented on #39807
@gioman

have you tried to select a polygonal layer?

[2020-11-04 16:57] RNanclares commented on #39693
Hi there. I've tested in two different OS so far and i couldn't reproduce the bug.
![photo_2020-11-04_08-48-39](https://user-images.githubusercontent.com/11431207/98141595-68f3e080-1e8c-11eb-8d06-5fb57f417bd5.jpg)
![2020-11-04_10-48](https://user-images.githubusercontent.com/11431207/98141606-6d1ffe00-1e8c-11eb-8401-c00ddff47f98.png)

[2020-11-04 16:57] gioman commented on #39807
sorry you are right, I was sure i had it.

[2020-11-04 16:58] gioman commented on #39808
duplicate of https://github.com/qgis/QGIS/issues/39628 and several other recent identical reports.

[2020-11-04 16:58] #39808 closed

[2020-11-04 16:59] gioman commented on #39693
QGIS 3.16 compiled with recent dependencies on Linux seems not affected. It is if compiled with old dependencies and also seems Windows is affected.

[2020-11-04 18:45] MattUm commented on #39800
@gioman
I tried to use a new version of QGIS (3.16), but it reported me another problem: MPC didn't give me the result I expected (it looks like a buffer) and the clip of that MPC failed with the message "No spatial index in the input layer.
How could I fix this?
I attach some pictures of the problem
![Error_QGIS_1](https://user-images.githubusercontent.com/73936953/98155309-50a8b380-1ed6-11eb-8a8

[2020-11-04 18:51] gioman commented on #39800
@MattUm please attach your data. PS studying wolf mortality (or kills)? cool, I specialize(d) in small carnivores, a lot of telemetry...

[2020-11-04 19:49] DrewFrance opened #39809 "Crashing after clicking on a raster layer"
## User Feedback

I open the project, click on a few layers, then if I click on a raster layer it crashes.

## Report Details

**Crash ID**: [9f2a85428a335482798fc7e6da9da297ad85b969](https://github.com/qgis/QGIS/search?q=9f2a85428a335482798fc7e6da9da297ad85b969&type=Issues)

**Stack Trace**
<pre>
QCoreApplicationPrivate::sendThroughObjectEventFilters :
QApplicationPrivate::notify_helper :
QApplic

[2020-11-04 20:01] gioman commented on #39809
duplicate of https://github.com/qgis/QGIS/issues/39628

[2020-11-04 20:01] #39809 closed

[2020-11-04 20:13] MattUm commented on #39800
@gioman
What data are you talking about? Are you talking about shapefiles and other files obtained by various processes?
Anyway, that's a random project given me at university, I study animal behaviour.

[2020-11-04 21:26] queenaminali commented on #32913
I had the same problem with a fatal crash every time, even on newer versions
I've tried this and maybe it could work for you

- Turn on all the WFS layers
- Zoom out as much to view all the WFS objects you may have at your problematic layout
- Open your layout

Just tell me how it worked. I'm just an QGIS user and this is my first GitHub forum message. No programming idea at all

[2020-11-05 02:38] vegovs commented on #39788
Thanks! :D

[2020-11-05 07:11] gafzgarrr commented on #39799
@gioman thanks for responding.
I do it the same way (using project ....)

I get an dxf-file but there are no Lines or Points inside. The dxf File is empt or (from time to time) there are short Lines.
I use AutoCAD Map2017 for opening the dxf files.
I tried with 2 other PC´s always the same.

QGIS 3.10 has no issues, QGIS 3.12 an 3.14 has the Problems.

It always looks like the Picture
![2020-11-05

[2020-11-05 07:39] pellegoeg commented on #34868
Hi,

I have made a fix for this issue (my first pull request, so hopefully I have done the right job!).

Its adding a extra attribute to the photo table with exif orientation.

The could then be rotated in maptips by using som case when eg:

`<img src="file:///[% photo %]" width="350" height="250"
style="[% CASE
WHEN orientation = 2 THEN 'transform: scaleX(-1);'
WHEN orientation = 3 THEN 'transfor

[2020-11-05 09:23] msevilla00 commented on #39693
Well, it seems it's related with the Qt version. I run a personal docker container based on Ubuntu 20.04 (Qt 5.12) and looks that all it's Ok.

Here the configuration:

![About QGIS - 64 Bit — About_634](https://user-images.githubusercontent.com/1491985/98222034-a1f58900-1f50-11eb-9cf8-6b7341e659fa.png)

Dockerfile and some notes (in Spanish I'm afraid) in my [gitlab repository](https://gitlab.com

[2020-11-05 10:03] Forna73 opened #39813 "Object Properties Tab in Layout"
Hi!
I checked the online documentation, but can't understand if this is a bug or normal behavior...
I have several maps in a layout. I'm designing the final output for the print and I need to shift map windows here and there to adjust things. Everytime I make a shift or adjustment the map window starts rendering the impage. The problem is it takes minutes to render and I can't do nothing cause qgi

[2020-11-05 10:07] Forna73 commented on #39813
Ops.... wrong translation for the check box... it's "draw map's objects"

[2020-11-05 11:01] pigreco commented on #39807
@gioman

if you confirm it is a bug, please remove feedback

[2020-11-05 12:01] gioman commented on #39799
@gafzgarrr attach a sample of your data.

[2020-11-05 12:16] gioman commented on #39813
@Forna73 you had already opened https://github.com/qgis/QGIS/issues/34473 that was closed because the option (that was once available) was removed, by design I guess. Please raise the matter in the users and/or developers mailing list. If it turns to be a valid request (to re-introduce the functionality) please re-open this ticket as feature request.

[2020-11-05 12:17] gioman commented on #39813
@Forna73 see the QGIS user manual for the meaning of this option.

https://docs.qgis.org/3.16/en/docs/user_manual/print_composer/composer_items/composer_map.html

[2020-11-05 12:17] #39813 closed

[2020-11-05 12:18] gioman commented on #39813
@Forna73 to improve the situation you describe be sure to have parallel rendering enabled and use a preset with only a few layers enabled during the layout creation phase.

[2020-11-05 12:19] gioman commented on #39800
@MattUm the data you are using as input for the operations you are trying to do and you are reporting giving you problems.

[2020-11-05 12:46] gioman commented on #39813
@Forna73 https://gis.stackexchange.com/a/305631

[2020-11-05 13:08] roya0045 commented on #39693
This confirms that forcing QT to be at least 5.12 should improve those type of issues.

[2020-11-05 13:10] abodsalas commented on #39703
Hi. I've just installed QGIS 3.16 stand alone 64 bit and received the same error message,
However QGIS 3.12.0 doesn't show any error when its launched. It says:

An error occurred during execution of following code:
pyplugin_installer.initPluginInstaller()

can't import io

[2020-11-05 13:25] wisenmann opened #39818 "QGIS doesn't recognize KBS from MS SQL Server data Source"
When loading Data from MS SQL Server Data Base in QGIS 3.12 but also 3.16, the KBS isn't recognized and QGIS asks for it.
Nevertheless in > Layer Properties - Information the KBS is correctly mentioned. But it is not comfortable to always specify it explicitly.

[2020-11-05 14:21] gioman commented on #39801
Confirmed here too on Catalina.

[2020-11-05 18:11] Antoviscomi commented on #39693
Hi all, on Debian Buster with QT 55.11.3 this issues seems disappeared until 30 double click

![Schermata del 2020-11-05 18-52-01](https://user-images.githubusercontent.com/12639444/98279701-9333c400-1f9a-11eb-89c5-723dbdb08666.png)

[2020-11-05 20:24] m-kuhn commented on #38154
I just stumbled upon this stackoverflow question and answer which might be of interest here: https://gis.stackexchange.com/a/378482/9839

[2020-11-06 01:11] PeterReyne opened #39822 "QGIS 3.16 (and 3.12) fails to send auth header to ArcGIS Enterprise (OAuth2 and GIS Tokens)"
**Bug description**

QGIS fails to include an http authorisation header when adding a secured Map or Feature service/layer from ArcGIS Enterprise to a project, after successfully connecting to the ArcGIS Enterprise site via OAuth2 authentication configuration (also seems to affect ArcGIS GIS tokens).

- QGIS will successfully connect to the ArcGIS Portal via a correctly configured OAuth2 or GIS To

[2020-11-06 01:38] nyalldawson commented on #39822
Does it work correctly if you add them via the browser panel instead?

[2020-11-06 01:53] soraimperial opened #39823 "QGIS 3.16 crashes when clicking "intersect" in topbar vector menu"
/newb user alert

Just installed 3.16 yesterday (came from 3.14) and everytime I try to click Intersect (from the top bar), it crashes.
First time it happened it allowed me to open the Intersect menu, then crashed on running, the next 12-14 times just crashed on clicking Intersect. It also doesn't open the "QGIS crashed unexpectedly" sad face menu, I have to manually terminate the process (left it

[2020-11-06 02:06] SrNetoChan commented on #39823
@soraimperial can you please try to create a new profile and see if it works?

![image](https://user-images.githubusercontent.com/3607161/98317546-98ae0000-1fd4-11eb-993b-d8e9fdacd9aa.png)

[2020-11-06 02:10] SrNetoChan commented on #39807
Confirmed also on Ubuntu 18.04

[2020-11-06 02:12] soraimperial commented on #39823
@SrNetoChan Yop, worked (even tho took me ages to find intersect 'cause the new profile came as is half portuguese-half english for some reason and everything is in a different order).

So something in my profile is messing with the tools? Can I rebuild my profile on the new one or does this mean that the bug is appended to something in my personal settings?

[2020-11-06 02:18] SrNetoChan commented on #39823
Start by disabling all the plugins on the old profile. If that helps, activate one by one to find the culprit.

If it doesn't help, something went wrong on your configuration. Might be worthy to understand what.

[2020-11-06 02:22] soraimperial commented on #39823
Only non-standard plugins (besides grass and stuff) I have are Visualist and Crayfish.Then I changed language to english and dark mode GUI, no other stuff. So will be easy to check what the culprit is.

Thank you!

[2020-11-06 02:26] chleidersdorff commented on #39725
I can confirm this happens on my machine as well.

QGIS Info
QGIS Version: 3.16.0-Hannover
QGIS code revision: 43b64b13f3
Compiled against Qt: 5.11.2
Running against Qt: 5.11.2
Compiled against GDAL: 3.1.4
Running against GDAL: 3.1.4

System Info
CPU Type: x86_64
Kernel Type: winnt
Kernel Version: 10.0.18363

[2020-11-06 02:50] nyalldawson commented on #39822
Actually - confirmed.

[2020-11-06 03:15] PeterReyne commented on #39822
@nyalldawson I get a different error when adding the FS from the browser tree, but could be an issue with the ArcGIS server, not QGIS. Even though you confirmed the bug I'll check this out as a workaround. Thanks!

[2020-11-06 06:06] PeterReyne commented on #39822
@nyalldawson I can confirm adding the ArcGIS Feature Service layer from the browser tree correctly includes the auth header so the workaround is good - thankyou.

I encountered a separate issue where QGIS issues the request below, before loading the layer which I may raise as a separate issue. Leaving here for completeness more than anything. This request can be slow to respond and QGIS may time o

[2020-11-06 07:56] ThoStaKa opened #39828 "Allow search in expression string builder to show results from allowable arguments, not only function name"
**Feature description.**
In expression string builder, when I enter a search term, I would appreciate if any allowable arguments could be included in the results. For example when I search for "extent", the expression "layer_property" which has an argument named "extent" should be shown as a result.

A suggestion / mock-up of how a search result might look is attached as picture

![image](https://

[2020-11-06 08:52] luipir commented on #39693
FYI I tried to compile 3.14.15 version  in the same library ecosystem and does not generate the issue => seems some side effect of some commit I'm looking for.

[2020-11-06 08:56] nyalldawson commented on #39693
@luipir when you get the crash under gdb, are you able to determine the object name of the group box instance which is causing the crash?

[2020-11-06 09:47] rduivenvoorde opened #39830 "Protocol Vector data is NOT being requested/refreshed when using "Refresh layer at interval (seconds)""
Using "Refresh layer at interval (seconds)" in the layerproperties, does NOT actually retrieve the data. Or at least not for a http service layer.
NOTE: if you use view/refresh F5 the data in a geojson layer IS refreshed..

See also:
https://lists.osgeo.org/pipermail/qgis-developer/2020-April/060938.html
and more recent
https://lists.osgeo.org/pipermail/qgis-user/2020-November/046997.html

I creat

[2020-11-06 09:59] Denis4l commented on #35383
Same problem on fedora 32 execpt that QGIs 3.12 starts normally until I zoom, unzoom or change anything in the map window. Then QGIS freeze, and the map window with a grey screen that's it.

Launching QGIS from a terminal, I get :
`Warning 4: Failed to open /usr/share/qgis/resources/data/world_map.gpkg: S’ha denegat el permís.
Warning 4: Failed to open /usr/share/qgis/resources/data/world_map.gpkg

[2020-11-06 10:06] rduivenvoorde commented on #39830
Important observation:

IF F5 is working, depends on if you opened the geojson url as a File or as a Protocol in the Add Vector dialog. Both work lo load the data but only the 'File'-loaded one actually refreshes the data by going to the web again (I can check in my apache logs).

If you want the little flask python application yourself, let me know.

[2020-11-06 10:19] rduivenvoorde opened #39831 "Two identical layers swap styles (when layer refresh is enabled)"
See also #39830

Loading a dynamic layer twice in a project, AND set the automatic refresh to 3 seconds in the layer properties. It seems like the layers are swapping styles every 3 seconds.
In this project:  [stylefixissue.zip](https://github.com/qgis/QGIS/files/5500637/stylefixissue.zip) there are 3 layers.
2 of them are of a service (loaded as File!) which returns a random point on earth on eve

[2020-11-06 10:43] jelreyes opened #39832 "QGIS 3.10 LTR closes/crashes when opening new project using Windows OS"
I am currently using Windows 10 and I've been trying to install and reinstall the long-term release of QGIS 3.10 Acoruna but it still crashes when opening a new project or any existing project. No error message appears, it only closes suddenly. I've been trying to look for answers in previous bug reports but nothing solves my problem. Please help. I also tried installing the latest version (not th

[2020-11-06 11:12] Bernd-Vogelgesang opened #39835 "Topological editing does not work"
**Describe the bug**
When I split a feature with "Split features" and then try to adjust a shared vertex, even with "Topological editing" enabled, the vertex tool only changes one polygon and produces overlapping polygons.

**How to Reproduce**

1. Create a new polygon layer (here geopackage)
2. Digitize a polygon
3. use "Split features" tool to split the polygon
4. Enable topological editing in t

[2020-11-06 11:25] luipir commented on #39693
yes, I aready wrote in this tread... and seems happen in different object, so I suppose it does not (strictly?) depend on this...

[2020-11-06 11:26] luipir commented on #39693
crash happen applying some commit between ad6254a7b2 and 8a8fd55611 ... looking for it

[2020-11-06 11:47] sanzoghenzo commented on #34535
Same here with 3.14

[2020-11-06 12:13] gioman commented on #39832
@jelreyes try with a new QGIS profile, no 3rd party plugins installed.

Settings > user profiles > new profile

[2020-11-06 12:14] #39823 closed

[2020-11-06 12:15] gioman commented on #39830
There was an identical report on the old tracker that now I can't find on the new one. Just to leave here a note that when this is fixed we must hunt the other report and also close it.

[2020-11-06 12:17] gioman commented on #39835
@Bernd-Vogelgesang maybe you are hitting this? https://github.com/qgis/QGIS/issues/29648

[2020-11-06 12:35] jelreyes commented on #39832
Hi, thank you for your reply. I found out that i can open other files except .nc files. Whenever i open a netcdf file or a project containing netcdf file, it crashes. I tried looking for answers but the issues are usually in ubuntu and I am a windows os user. I also tried installing the latest version in qgis master but it also has the same issue.

[2020-11-06 12:37] gioman commented on #39832
@jelreyes is this one? https://github.com/qgis/QGIS/issues/39729

[2020-11-06 12:45] jelreyes commented on #39729
I am having the same problem with QGIS LTR, QGIS master/weekly (QGIS 3.15) in Windows OS.

[2020-11-06 12:54] SrNetoChan commented on #39823
@gioman Wouldn't it make sense to try to hunt down this? If the same profile was working for 3.14, maybe there will be more users facing issues due to legacy configuration.

[2020-11-06 13:02] PedroVenancio opened #39838 "Add Row and Remove Row(s) of Batch Processing does not work"
Add Row and Remove Row(s) buttons of Batch Processing interface does not work in 3.16, both on Windows and Linux

![imagem](https://user-images.githubusercontent.com/1331581/98369085-4e5a6c80-2030-11eb-80ed-27668cafeacc.png)

[2020-11-06 13:03] gioman commented on #39838
@PedroVenancio already reported and fixed.

[2020-11-06 13:03] #39838 closed

[2020-11-06 13:04] #39832 closed

[2020-11-06 13:08] MattUm commented on #39800
@gioman
How could I attach my data? Files are too big and this chat gives me the message that it supports only smaller than 10MB.
Sorry for being late, but yesterday I was pretty busy.

[2020-11-06 13:24] roya0045 commented on #39693
Is the standalone installer coming with the outdated QT or is this only the osgeo install? I assume its only the osgeo one.

[2020-11-06 14:01] luipir commented on #39693
definetively I need a processing farm where to do parallel compilation... crash happen applying some commit between 7854c61 and b2517cf614

[2020-11-06 14:04] imanhn opened #39842 "Identify plugin UI enhancement by moving "Help" button to top toolbar and merging QHBoxLayouts of "View" and "Mode""
I believe "Identify plugin" is one of the most useful plugins and so every tiny change to it would be reasonable.

In order to have more space in QTreeWidget's (feature list), I would like to suggest to merge "View" and "Mode" QHBoxLayouts into one QHBoxLayout (See the the following Picture).

I think it is also better to move that ugly "Help" button (bottom right) to the top toolbar.

If others t

[2020-11-06 14:06] m-kuhn commented on #39842
Looks like a good suggestion to me, a pull request will be welcome !

[2020-11-06 14:09] imanhn commented on #39842
Thanks.
I will send it ASAP.

[2020-11-06 14:10] PedroVenancio opened #39843 "Cell Statistics - Median giving wrong results"
The new Cell Statistics algorithm is giving wrong median results.

By default, functions like Mean, Standard deviation and Variance will always generate Float32/Float64 data types, depending on input float type. Count and Variety will always generate Int32 data types.

In the case of Median, "If the number of input layers is even, the median will be calculated as the arithmetic mean of the two mid

[2020-11-06 14:12] PedroVenancio commented on #39693
No, I have the standalone and the crash

QGIS version | 3.16.0-Hannover | QGIS code revision | 43b64b13f3
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.11.2
Compiled against GDAL/OGR | 3.1.4 | Running against GDAL/OGR | 3.1.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.29.0 | Running against SQLite | 3.2

[2020-11-06 14:19] PedroVenancio opened #39844 "Percentile and Percentrank functions in Cell Statistics"
The idea was to get something like the LibreOffice Calc / MS Excel functions:

  - **PERCENTILE**: https://help.libreoffice.org/latest/en-US/text/scalc/01/04060184.html?DbPAR=CALC#bm_id3153100

![imagem](https://user-images.githubusercontent.com/1331581/98375899-abf3b680-203a-11eb-9c21-55a759989d7a.png)

The output is, for each cell, the value of the given percentile. The reference layer would be

[2020-11-06 14:33] PedroVenancio opened #39845 "Create random raster layer (uniform distribution) does not create pixels with decimal values"
@root676

I'm not sure if this is a bug report or a feature request, but I can't create a random raster layer, for instance, with values from 0.0 to 1.0, even choosing Float32 or Float64 data types.

Also, following the default behaviour (By default, the values will range between the minimum and maximum value of the specified output raster type), if I choose Byte and keep min and max bounds as zer

[2020-11-06 14:33] gioman commented on #39800
@MattUm create a zip. If is too big link it, using google drive. dropbox or similar services.

[2020-11-06 15:11] root676 commented on #39844
Thanks for opening the ticket - this should be easy to implement. :wink:

[2020-11-06 15:12] root676 commented on #39845
Thanks for reporting - I'll have a look.

[2020-11-06 15:13] root676 commented on #39843
I already identified the issue here - Bugfix-PR is on the way. 😄

[2020-11-06 15:25] rduivenvoorde commented on #39842
Interesting, eager to see this.
The actual results is still a tree?
I do miss the 'settings' toolbutton ( in which I just added something recently :-) ) in your picture (mockup?)

[2020-11-06 15:30] rduivenvoorde opened #39847 "Adding WFS layers broken in master"
In 3.16 I could add one of the layers (pick 'provincies' = smallest) from the following service via the WFS dialog, using the following service url:
[code]

In master this fails.

Trying the same via iface.addRasterLayer idem dito:
The following works in 3.16 and fails in master using the Python console:
[code]

[2020-11-06 15:44] elpaso commented on #39847
https://geodata.nationaalgeoregister.nl/bestuurlijkegrenzen/wfs?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.0.0&TYPENAME=bestuurlijkegrenzen:provincies&SRSNAME=EPSG:28992&OUTPUTFORMAT=GML3

error | "Service Unavailable"
-- | --
timestamp | 1604677451077
status | 503

[2020-11-06 15:53] imanhn commented on #39842
@rduivenvoorde
Richard,
Thanks,
Yes I saw your changes, and they are still there. (the right picture is taken from Qt designer).

I did not change the tree part. It is what it was. I have just merged the QHBoxLayout at the bottom of the form into one and moved "Help" to the top.

No new feature has been added and the the Tree is still there with those three options applicable to raster layers.

I

[2020-11-06 15:59] luipir commented on #39693
seems this is the commit affecting the crash... there is a before and after this one 35d62ab0d47fa309b2de8fdad3aab66836b32585

[2020-11-06 16:00] rduivenvoorde commented on #39847
That was a hickup in our national WFS service I think at THIS moment that url returns our 12 provinces.

But *that* is indeed the case that QGIS is creating 'wrong'(?) url's
In the network monitor after registring the service I see url's like: ?SERVICE=WFS&REQUEST=GetCapabilities&ACCEPTVERSIONS=2.0.0,1.1.0,1.0.0 without host part...

As said: service is now available:

https://geodata.nationaalgeo

[2020-11-06 16:11] gioman commented on #39693
@luipir can you ping the author explaining your findings? @DelazJ

[2020-11-06 16:14] nirvn commented on #39693
@luipir , thanks for having taken the time and CPU cycles to narrow it down to this commit. Seeing daily reports on this has been alarming.

[2020-11-06 16:14] robintw opened #39848 "Add advanced text formatting options to Text Box in Print Composer"
**Feature description.**
When formatting labels in QGIS you have access to all sorts of advanced text formatting options such as buffers, backgrounds, shadows, and so on. These don't appear to be available for formatting text added as a text box in the Print Composer. It would be awesome if these text boxes could have the same formatting options.

**Additional context**
For reference, here are the

[2020-11-06 16:32] robintw opened #39849 "Allow legend patch shapes with non-matching geometry"
**Feature description.**
At present, when selecting the legend patch shape for a point layer, you can only select legend patches that are composed of points. This also applies when manually typing a WKT string into the text box. It would be useful in some situations to be able to select (for example) a line legend patch shape for a point layer. I can understand this may confuse some users, and so

[2020-11-06 16:55] luipir commented on #39693
@DelazJ I hadn't time to do a revert and check side effect... btw not yet investigated what is the cause of the issue

[2020-11-06 17:23] #39822 closed

[2020-11-06 17:24] CoryAlbrecht opened #39850 "QGIS no longer loads styles from PostGIS"
QGIS no longer loads styles from PostGIS due to SQL requesting nonexistent column.

With a PostGIS 2.5 set up that has previous had styles saved to it by QGIS, open the properties dialog for a layer, go to the "Symbology" tab, open the "Style" dropdown, select "Load Style…" and then change to "From Database (postgres)". It will be empty.

![image](https://user-images.githubusercontent.com/8172909/

[2020-11-06 17:45] ItaloCunhaBueno opened #39855 "[ORACLE] Can't import vector layer to oracle database"
Using DB Manager to import a vector layer to a oracle database gives the following error:

[code]

My config:

[code]

Any help are welcome. Thanks.

[2020-11-06 18:16] CoryAlbrecht opened #39856 "When in Temporal Controller mode, the Identify Features tool selects too many items"
**Describe the bug**
When you have a layer with temporal data in it and you have turned on the temporal controller so you only see the features relevant to your timeframe, the Identify Features tool still selects all features at that point, including the ones not shown by by the temporal controller that are outside the specified timeframe.

**How to Reproduce**
1. Open a layer with temporal data,

[2020-11-06 19:05] robintw opened #39858 "Large blocky artefacts appearing when Outer Glow with non-Normal blending mode is used with lots of points"
**Describe the bug**
When an Outer Glow draw effect is used on a Single Symbol point renderer, with the feature blending mode set to pretty-much anything apart from Normal, areas with a high density of points produce large blocky artefacts:

<img width="203" alt="Screen Shot 2020-11-06 at 19 02 57" src="https://user-images.githubusercontent.com/296686/98404549-b45fe780-2062-11eb-9e94-97ec195e0c09.

[2020-11-06 21:44] uclaros commented on #39856
Same as #39798 ?

[2020-11-06 22:51] lemosnatasha opened #39860 "erro python"
**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

O Qgis versão 3.10.11 esta apresentando a seguinte mensagem de erro ao tentar realizar o pré-processamento de imagens L8 para cálculo dos índices espectrais. Necessito de ajuda, pois já desinstalei e reinstalei o Qgis e o erro persiste.

Um erro ocorreu enquanto executava o código Python:
ValueError: coul

[2020-11-06 23:52] #39843 closed

[2020-11-06 23:52] #39845 closed

[2020-11-07 00:18] roya0045 commented on #39115
@nyalldawson I'm thinking about filtering the values from createProcessingParameters that are passed in stdesignerparametervalues here https://github.com/qgis/QGIS/blob/2e7bebcf201d095b74b47c7f56406dab640d27e5/python/plugins/processing/modeler/ModelerDialog.py#L146

though I'm not sure if there is any easy way to check for default values that were not changed.

Or maybe I should add a button to si

[2020-11-07 07:40] Gustry commented on #39860
The QGIS project can't do anything about a third party plugin. You must report the issue in the plugin code repository.

[2020-11-07 07:40] #39860 closed

[2020-11-07 09:02] BerginJay opened #39866 "IAU CRSs are missing"
**Describe the bug**

In Version 3.14-pi, there are several IAU CRSs, like *IAU2000:30100 Moon_2000* and *IAU2000:30120 Moon_south_pole_stereographic*, etc. But after updating to version 3.16 I can't find those IAU CRSs in the predefined CRS list.

**How to Reproduce**

1. Update to version 3.16 and open qgis
2. Open project properties --> CRS --> use filter to search any IAU CRS

**QGIS and OS ve

[2020-11-07 10:56] MattUm commented on #39800
@gioman
Here's the link. Tell me if I shared it correctly, please
https://drive.google.com/drive/folders/1bNVf5ffqkjEvxAxesI6zMgP0m5s0NBxC?usp=sharing

[2020-11-07 10:58] gioman commented on #39800
@MattUm link is not public

[2020-11-07 11:06] nyalldawson commented on #39866
Qgis completely relies on the proj library for its crs database now. This issues needs to be filed with the proj project (that said, they are already aware of it and trying to get it resolved. If you have knowledge in this field they would very much appreciate extra assistance!)

[2020-11-07 11:06] #39866 closed

[2020-11-07 11:15] MattUm commented on #39800
@gioman How can I do that? I never used this kind of sites

[2020-11-07 11:20] gioman commented on #39800
@MattUm it s a google drive option when you create the share (to make the link public).

[2020-11-07 11:22] gioman commented on #39855
@ItaloCunhaBueno you sure is not an issue with your data/tables?

[2020-11-07 11:22] MattUm commented on #39800
https://drive.google.com/drive/folders/1O0wsuQyFGCZqbctZCi3WSEekTiLKcf31?usp=sharing
Ok, this one should work, let me know as soon as you can

[2020-11-07 11:29] gioman commented on #39800
@MattUm ok the data is downloadable, now what? there are two polygon layers, none of them seems to be the input in the screenshots in https://github.com/qgis/QGIS/issues/39800#issue-735983339

also to test what you show in the screenshot in https://github.com/qgis/QGIS/issues/39800#issuecomment-721907535 is needed the layer "MPC_cuneo".

[2020-11-07 11:30] gioman commented on #39800
@MattUm so please add all the necessary data and detail what operations are you trying to do describing expected results VS obtained results (or errors).

[2020-11-07 11:38] gioman commented on #39850
Confirmed on Windows too, 3.10.11 is OK.

[2020-11-07 11:41] MattUm commented on #39800
Because that file is in the older version of the program (2.14), but everyone told me to download a new one.
There are **all** the files of the project made by the version 2.14 and there is the file named "MPC_Cuneo":
https://drive.google.com/drive/folders/1JsRqeNbVPlPolsmHBleFAB0ERCJYHu_O?usp=sharing

[2020-11-07 11:46] gioman commented on #39800
@MattUm data being used is not related with the software (or software version) you are using. Moreover in recent qgis releases you can open projects created with older releases.

[2020-11-07 12:01] gioman commented on #39800
@MattUm as already answered in https://github.com/qgis/QGIS/issues/39800#issuecomment-721718014 your input layer "basso piemonte" has invalid geometries, that must be fixed with the "fix geometries" tool. After that you can clip with "mcp_cuneo" without issues and the following dissolve of the clipped layer also works without issues.

https://drive.google.com/file/d/1ac7ZAWtqIDxL3BRtOTiuQ9LHBZNckl

[2020-11-07 12:25] MattUm commented on #39800
@gioman but I can't obtain the file because of the error of the last photo I attached in a previous comment.
I can leave in this link all the files of the project crated with the new version, that one that gives me an error for wrong geometries:
https://drive.google.com/drive/folders/1v1BkXpoG7giuBJJTCub8JmuEbY2TZ58i?usp=sharing

[2020-11-07 13:28] MattUm commented on #39800
@gioman Thank you so much!
And now I only need to put that file in my project? Because I see is a .gpkg file and I always added shapefile to start new project. Does it works same even if  it's in a different format?

[2020-11-07 15:05] imanhn commented on #39842
Guys I have sent a pull request so I am closing this one. Thank you all for your feedbacks.

[2020-11-07 15:05] #39842 closed

[2020-11-07 17:33] ItaloCunhaBueno commented on #39855
That's a system table, created automatically by oracle, if it's expecting SDO_DIM_ARRAY and QGIS try to passCHAR, I think it's a QGIS problem.

[2020-11-07 19:24] gioman commented on #39855
@ItaloCunhaBueno can ypu check also on QGIS 3.16 and master?

[2020-11-07 20:14] ItaloCunhaBueno commented on #39855
Tested on 3.16, same error. Can't test on master as is too much trouble to build from source.

Aditional information:
The table that QGIS is having trouble inserting is described in this page:

https://docs.oracle.com/database/121/SPATL/geometry-metadata-views.htm#SPATL545

the particularly value that QGIS is doing wrong is described in section "2.8.3 DIMINFO".

[2020-11-07 20:21] ItaloCunhaBueno commented on #39855
Here's an example of a valid row in this table:

[code]

[2020-11-07 20:25] gioman commented on #39855
@ItaloCunhaBueno you find qgis master in the osgeo4w installer.

[2020-11-07 20:37] rduivenvoorde commented on #39855
I know what the problem is,

This lines https://github.com/qgis/QGIS/blob/master/src/providers/oracle/qgsoracleprovider.cpp#L3096-L3097 fail because the mdsys.sdo_dim_array is inserted as a string instead of an object because of the use of the bind variables...

will do PR soon

[2020-11-07 20:56] ItaloCunhaBueno commented on #39855
Thank you very much!

And thank you @gioman for your time!

[2020-11-07 21:20] roya0045 opened #39874 "[Processing][Modeler] Rename layer does nothing/error out"
I've been trying with some setup and can never get the algorithm to do anything on permanent or temporary layer outputs in my models.

The only thing that the tool provide is the following error

On a created layer it works fine. I suspect this is caused by the fact that layers are added only aftr a model is executed, thus if the layer doesn't exist it cannot be renamed.

If this is not a mistake

[2020-11-07 21:57] imanhn opened #39875 "Add "Delete Selected" feature to Identifyplugin"
Deleting a feature is to some extent hard, However in most of GIS systems there is a delete where ever the user can view the attributes. Our customers asked us to put delete there and I couldn't agree more that it is a SHOULD. So I added a new button to the top toolbar of the Identify plugin for this purpose.

It does not ask for confirmation because the user can still commit/rollback or even undo

[2020-11-07 22:02] #39847 closed

[2020-11-07 22:08] imanhn commented on #39849
This is great suggestion and I think it is applicable to the "Symbology" part and if it could be implemented there, the Legend will be corrected as a side-effect by itself.

But here it is a problem : there is not a unique solution to the problem of connecting all the points via mutual line. This information is lies implicitly in a linear geometry by which you are telling the application, here it

[2020-11-08 06:42] nirvn commented on #39693
@luipir , @DelazJ , we need to fix this prior 3.16.1 release (in ~9 days). It seems the short term solution here would be to revert https://github.com/qgis/QGIS/commit/35d62ab0d47fa309b2de8fdad3aab66836b32585 for 3.16.1 and revisit whenever someone has free time to diagnose what went wrong to begin with.

( ping @nyalldawson )

[2020-11-08 06:54] ozhamlet opened #39876 "Option to Display/Enter in Lat/Lon Format in the Status Bar Coordinate Field"
**Feature description.**
Provide an option in the 'General | Coordinate and Bearing Display' section of  'Project Properties' to allow a choice in the coordinates order between Lat/Lon or Lon/Lat.

**Additional context**
This would allow the user to more easily copy and paste between other systems that use the more common Lat/Lon order.

[2020-11-08 09:15] Komzpa opened #39880 "[Packaging] debian sid build needs base image refresh"
Installing qgis on debian sid using the manual from https://www.qgis.org/en/site/forusers/alldownloads.html#debian-ubuntu.

repos:
[code]

recently Debian upgraded qt from 5.14.2 to 5.15.1 and qgis still depends on the former, so not installable with new KDE.
please refresh base packages for sid on build machine.

![image](https://user-images.githubusercontent.com/810638/98461287-ffd9d900-21bb-11e

[2020-11-08 09:30] DelazJ commented on #39693
Hi,
I couldn't get the crash locally (I'm on focal) on master and 3.16 compiling is underway. But since I'm unable to understand half of the log messages above, I just revert the changes, only the ones related to the raster layer properties, to begin with. See #39879
The suspected commit was supposed to address only visual issues so I'm surprised it generated such a mess. Sorry!

I also revert ras

[2020-11-08 10:13] angelika-concirrus opened #39881 "QGIS app would not open for MacBook Pro"
<img width="424" alt="Screenshot 2020-11-08 at 09 59 51" src="https://user-images.githubusercontent.com/50147274/98462240-b6cd5900-21aa-11eb-9fd0-6b5aa837eb67.png">

After installing QGIC Version 3.16 for MacOS, the app would not run. Error message:

"QGIS" can’t be opened because Apple cannot check it for malicious software. This software needs to be updated. Contact the developer for more inform

[2020-11-08 10:25] robintw commented on #39849
Yeah I'm aware that it wouldn't be possible to actually do a line symbology for a set of points without knowing which order to connect them in.

However, given that you can customise the legend patches, and they can be specified as a separate WKT string, I'd have thought it might be possible to allow legend patches to be any sort of geometry, regardless of the geometry of the actual layer.

[2020-11-08 10:58] Bernd-Vogelgesang commented on #39835
I confirm, this is the same as  #29648
Didn't find this in the issues list cause I did not browse that far in the past. (April 2019!)
How should I explain this to a beginner when even I step into this trap?

[2020-11-08 11:01] roya0045 commented on #39881
https://github.com/qgis/QGIS/issues/34018#issuecomment-578186707

[2020-11-08 11:03] roya0045 commented on #39693
@DelazJ try to compile with qt 5.11, this seems to be important as qt5.12 seems fine. @nirvn could it be possibly to simply update qt version or is this a thing only for more important release?

[2020-11-08 11:59] 9ls1 opened #39882 "Symbols from multivariate analysis not visible in legend in Layout"
**Describe the bug**
Symbols from multivariate analysis not visible in legend in Layout.

**How to Reproduce**
I have followed the steps for creating proportional symbol and multivariate analysis ([QGIS docs](https://gis.stackexchange.com/questions/378556/how-to-make-symbols-visible-in-legend-in-layout)). It looks like expected in the canvas and in the Legend Items-window in "Item properties"-tab

[2020-11-08 12:10] ValPinnaSardinia opened #39883 "Missing Language Information on QGIS Settings and on Help->About Menu"
**Describe the bug**

In the last weeks, the Sardinian Translation was added in all the current versions (3.10.11, 3.16.0-11 and 3.17.0).

Unfortunately, in all of the version, the language information (flag and language name) are missing and in the  Settings->Options->Override System Locale->User Interface Translation drop-down menu the language is shown as empty space.

Also, in the Help->About-

[2020-11-08 12:54] roya0045 commented on #39882
Could not replicate on win 10 QGIS 3.14.16 using either categorised or graduated symbology
![image](https://user-images.githubusercontent.com/12854129/98465500-68628f00-2197-11eb-8b98-f1e9451973b7.png)

[2020-11-08 13:01] 9ls1 commented on #39882
OK, so for now, I have to reinstall the previous version of QGIS to get the desired legend. Thanks.

[2020-11-08 13:08] roya0045 commented on #39882
Maybe not, can you post your full specs, I have installed through osgeo
QGIS version
3.14.16-Pi
QGIS code revision
df27394552
Compiled against Qt
5.11.2
Running against Qt
5.11.2
Compiled against GDAL/OGR
3.0.4
Running against GDAL/OGR
3.0.4
Compiled against GEOS
3.8.1-CAPI-1.13.3
Running against GEOS
3.8.1-CAPI-1.13.3
Compiled against SQLite
3.29.0
Running against SQLite
3.29.0
PostgreSQL Client

[2020-11-08 13:24] skampus commented on #39883
+1

[2020-11-08 13:28] 9ls1 commented on #39882
![image](https://user-images.githubusercontent.com/10632163/98466120-c5793780-21cd-11eb-9ec6-b2ce67d5b4d1.png)
Here is a small sample of the data set (zipped gpkg-file):
[multivariate_analysis_legend.zip](https://github.com/qgis/QGIS/files/5506391/multivariate_analysis_legend.zip)

[2020-11-08 15:16] agiudiceandrea commented on #39881
https://qgis.org/en/site/forusers/download.html#mac

[2020-11-08 15:23] #39881 closed

[2020-11-08 15:42] gioman commented on #39849
Using the rule based symbology won't get you a very close thing compared to what you ask? @robintw

[2020-11-08 16:29] robintw commented on #39849
I don't know - can the rule-based symbology put lines in the legend for a point layer?

I think this is getting a bit confused: I'm not trying to change the symbology for my layer, just the legend patch that is displayed for it. Given that legend patches are already configurable, I was just asking if we can make them slightly more configurable.

[2020-11-08 19:40] CoryAlbrecht commented on #37338
Regression, #39850 .

[2020-11-08 20:02] gioman commented on #39835
@Bernd-Vogelgesang I feel your pain, I also don't clearly understand how this regression has been overlooked in the last year and half rounds of bug fixing. Closing as duplicate.

[2020-11-08 20:02] #39835 closed

[2020-11-08 20:18] gioman commented on #39882
@9ls1 it does not work on 3.16 and also 3.10, in fact this seems duplicate of https://github.com/qgis/QGIS/issues/32710

[2020-11-08 20:20] jgrocha commented on #39850
Thank you for reporting this @CoryAlbrecht

The code (since #32138 ) will try to create the column `type`, if it doesn't exist.
From you report, we can assume that QGIS failed to add the column to the `layer_styles` table. It should have added the column before querying the table.

Can you help us to find the problem?

- If you manage the postgresql instance, can you check the logs and see why QGI

[2020-11-08 20:23] gioman commented on #39850
@jgrocha same user, same db backend, different QGIS version, different outcome > on QGIS 3.16 the GUI does not show the styles.

[2020-11-08 20:29] imanhn commented on #39856
@CoryAlbrecht do you have any simple dataset and a project file(.qgz). I would take care of it.

[2020-11-08 20:31] gioman commented on #39501
Closing for lack of feedback.

[2020-11-08 20:31] #39501 closed

[2020-11-08 20:32] gioman commented on #39494
@rduivenvoorde so this is ultimately an upstream issue?

[2020-11-08 20:33] gioman commented on #39483
Closing for lack of feedback.

[2020-11-08 20:33] #39483 closed

[2020-11-08 20:33] gioman commented on #39377
Closing for lack of feedback.

[2020-11-08 20:33] #39377 closed

[2020-11-08 20:33] gioman commented on #39365
Closing for lack of feedback.

[2020-11-08 20:33] #39365 closed

[2020-11-08 20:36] gioman commented on #39358
@Ren-Chang changed this to feature request.

[2020-11-08 20:41] jgrocha commented on #39850
Thanks @gioman

I was able to reproduce the problem.  Accessing the `layer_styles` table before any writing operation will cause this issue.

QGIS will update the table on the first write operation to `layer_styles`.

Workaround

If you save another style to the database, the `layer_styles` table will be updated and then you can recover the existing styles.

It is a workaround, but not solves the

[2020-11-08 20:57] roya0045 commented on #39882
Tested on master on linux, the points are there in the legend, just quite smaller. If you increase the default size of the points, does that changes things?

[2020-11-08 20:59] rduivenvoorde commented on #39494
That is what I read in the stackoverflow message yes: Windows trying to create a bitmap in memory which it cannot hold.
But I hope others, more technical then me can confirm.

[2020-11-08 21:40] gioman commented on #39882
Actually they are invisible, because they are of size 0.

The parameters that **must** be changed in order to see them is

![Screenshot_20201108_213837](https://user-images.githubusercontent.com/1951107/98484956-dc8a4a80-220a-11eb-9488-d953cab43910.png)

that by default is "0". Not sure if is by design or not, but does not seems intuitive that this must be changed in order to see the symbols in a

[2020-11-08 21:58] roya0045 commented on #39882
Even on the version that I tried, I set it to two but the symbols in the layout were quite smaller than the layer tree and the layout legend item 'preview, since they were present on the issuer's preview I am assuming that the value was set since we could see them.

[2020-11-08 22:35] uclaros commented on #39875
I don't think this is a good idea. The identify tool is supposed to be read only and IMHO it should remain that way. You described workflow could be simulated with an attribute tabe in form view set to display only selected features instead.

[2020-11-08 22:50] nyalldawson commented on #39875
My personal view is the same as @uclaros  -- there's already a range of ways to delete specific features and I don't think it's a good idea to bring this functionality into QGIS.

But please note that this could be addressed by a plugin or custom map layer action -- it doesn't have to be in the out of the box QGIS install! So if your customers need this functionality then you're able to address th

[2020-11-08 22:50] #39875 closed

[2020-11-08 23:31] CoryAlbrecht commented on #39850
The PG login I use in QGIS is my personal one for the PG cluster, which is my own. The account is a superuser on the cluster and is the same one I use with PGAdmin4. Logs for the past  few days show no attempt to run an ALTER command on the layer_styles table, only the SELECT. Is the ALTER statement something I should expect to see each time I try to load styles from the database, or does QGIS cac

[2020-11-08 23:49] jgrocha commented on #39850
Hi @CoryAlbrecht

With the above `ALTER TABLE` you solve the problem manually. You should be able to work with styles without issues.

I've already identified the problem. Soon as possible, I will submit a fix.

[2020-11-09 00:28] Ren-Chang commented on #39358
Sounds good to me. Thank you all for the help and efforts.

[2020-11-09 01:36] jake9wi opened #39890 "QGIS is Slow when Vertex Editor is Active"
**Describe the bug**

1.  When vertex editor tool is active all actions in qgis become sluggish.
2.  Deleting vertexes is slow.
    - A few vertexes take a few seconds; more takes longer.
    - Longest I've waited is a half hour; average is a few minutes.

**How to Reproduce**

1. Load a line type dataset (I am using elevation contours stored in a gpkg).
2. Enter vertex editor mode.
3. Highlight s

[2020-11-09 01:54] CoryAlbrecht commented on #39856
I note that the attributes table also shows *all* features in the layer, not just the ones that the temporal controller lets show on the canvas. That is confusing. Could that and the Identify Features issue presented here have the same root problem?

[2020-11-09 01:54] CoryAlbrecht commented on #39798
I note that the attributes table also shows *all* features in the layer, not just the ones that the temporal controller lets show on the canvas. That is confusing. Could that and the Identify Features issue presented here have the same root problem?

[2020-11-09 01:56] CoryAlbrecht commented on #39856
related to #39798 ?

[2020-11-09 01:56] CoryAlbrecht commented on #39798
Related to #39856 ?

[2020-11-09 03:14] imanhn commented on #39875
Thanks Richard(@nyalldawson) and @uclaros for your comment on this.

I have to admit, in environmental GIS we don't have such huge usage of delete feature. Yet in utility GIS, there is a great deal of change in their network (layers) and for that sake, an easy access to a delete feature -- as well as some other functionalities of course which I had hope that I could implement here -- is needed. Wi

[2020-11-09 06:10] #39798 closed

[2020-11-09 07:32] tomtor opened #39897 "Viewing table fields in PostGIS browser shows hourglass for 15 minutes"
**Describe the bug**
I have various PostgreSQL databases with many millions of objects and with QGIS 3.16 when using the PostGIS dataprovider for inspecting tables/fields it takes over 15 minutes for each table to open.

The reason is that the whole table is read to determine the geometry types.

"Don't resolve type of unrestricted colums" or "use estimated metadata" makes no difference.

**How to

[2020-11-09 08:28] kk-qgis opened #39898 "Selecting features is not possible"
It is not possible to selcet features

[2020-11-09 08:41] Gustry commented on #39898
Please fill a ticket with the Bug Report template, providing dataset and exact steps to follow to replicate the issue.

[2020-11-09 08:41] #39898 closed

[2020-11-09 08:49] pathmapper commented on #33684
This issue is not reproducible anymore with `3.16.0` :tada:

[2020-11-09 08:49] #33684 closed

[2020-11-09 08:56] pathmapper commented on #34406
Additionally, once the feature count is _lost_ in the legend after dragging a layer, it's not possible to make it appear again using PyQGIS:

![show_feature_count](https://user-images.githubusercontent.com/20856381/98519961-c06dc400-2271-11eb-8cb9-339a223a0e56.gif)

[2020-11-09 09:29] uclaros commented on #39890
How many are a few?
Is it sluggish without selecting any vertices?

[2020-11-09 09:34] arx-it opened #39900 "Bug QGIS .combine() - Output with NULL Geometry"
Hello,

I have a problem with .combine() QGIS algorithm.

Steps (how to reproduce) :
- 1. Layer "initGeo " selection and then `initGeo = [f for f in iface.activeLayer().getFeatures()][0].geometry()`
- 2. Layer "modifGeo" selection and then `modifGeo = [f for f in iface.activeLayer().getFeatures()][0].geometry()`
- 3. `initGeo.combine(modifGeo)`

Result :
_<QgsGeometry: null>_

Is there a solution

[2020-11-09 09:46] gioman commented on #39890
@jake9wi also try with a new QGIS profile.

[2020-11-09 09:47] gioman commented on #39900
@arx-it is this a question or a bug report?

[2020-11-09 09:49] luipir commented on #39693
first test cherry-piking your two commits 634d8bf2c652894e398bac22989e94b3ef5838fd and e3e2577097e4507344c39e455ea52a09d4fb44e6 applied on fd9b11d (upstream/release-3_16) does not solve the issue... I'll try to do a complete revert of that commit

[2020-11-09 09:57] arx-it commented on #39900
For me, it is a bug ( I need to combine these two geometries into 1 ), I have written a question to give possible directions

[2020-11-09 10:05] luipir commented on #39693
a compete revert of 35d62ab on fcafb2716bb4afebccb7f2db93eb9aac00fe120f (upstream/release-3_16) solve the crash :|

[2020-11-09 10:05] gioman commented on #39900
Can you check please by asking in the developers mailing list?

[2020-11-09 10:08] luipir commented on #39693
The problem to do a revert without knowing the origin of the problem and to implement a relative test is that:
1) we do not know if happen in other installation and qt combination
2) we can face the issue later
So a revert would be just an emergency (and under observation) measure

[2020-11-09 10:09] nirvn commented on #39693
Revert the cause of a known crasher that's reported near-daily -> +1 :)

[2020-11-09 10:15] luipir commented on #39693
I leave next step to you

[2020-11-09 10:33] 9ls1 commented on #39882
Thanks a lot! That did the trick for me. Here I have set a minimum size of 2.2.
I agree, it doesn't seem too intuitive to set a size when null. Or did I miss something in the docs, hm.
![image](https://user-images.githubusercontent.com/10632163/98530384-1e54d880-227f-11eb-8246-694b2659fdd6.png)

[2020-11-09 10:45] mocmichal opened #39903 "Keyboard shortcut for "Save As..." (project) and "Save As..." (export layer) keeps overwriting themselves"
I would like to set keyboard shortcut for **"Save As..."** in Project menu and in Layer menu differently !
Currently they keep overwriting themselvs (after restart).
![bug_qgis_saveas_keyboardshortcut_overwriting](https://user-images.githubusercontent.com/5244956/98531750-16963380-2281-11eb-8ca0-2e607ec97db9.JPG)

[2020-11-09 11:09] #39882 closed

[2020-11-09 11:37] arx-it commented on #39900
Yes, done

[2020-11-09 11:37] roya0045 commented on #39882
@gioman should we set a default value of 2 to prevent confusion? It's just adding a default value to https://github.com/qgis/QGIS/blob/b3d2619976a69d7fb67b884492da491dfaba287c/src/ui/qgspropertysizeassistantwidget.ui#L49

[2020-11-09 11:51] Bernd-Vogelgesang opened #39908 "Header row of spreadsheet data ignored on import (.xlsx/.ods/...)"
**Describe the bug**
While importing any kind of spreadsheets like .xlsx, .ods etc, no matter which way (as vector data through Data Source Manager or drag-and-drop), the table headers get ignored, so there are only Field1, Field2, Field3 ... and the order of the rows seems to be completely random.

**How to Reproduce**

Open the attached table either by drag-and-drop or through the Data Manager

[2020-11-09 12:42] kadarivan opened #39911 "QGIS 3.10.11 can't load user scripts if MetaSearch Catalog Client is disabled"
**Describe the bug**
If I disable MetaSearch Catalog Client plugin, QGIS can't load user scripts
Log messages for all scripts:
CRITICAL    Could not import script algorithm '[script name]' from 'C:\Users\[user]\AppData\Roaming\QGIS\QGIS3\profiles\[profile]\processing\scripts\[script].py'
             module 'importlib' has no attribute 'util'

**How to Reproduce**
1, create a new profile
2, 'Creat

[2020-11-09 12:48] larsks opened #39912 "qgis (3.16) flatpak is missing "pip3" command"
**Describe the bug**

According to [the documentation](https://qgis.org/en/site/forusers/alldownloads.html#flatpak), one can install additional Python modules into the QGIS flatpak environment like this:

[code]

But this command fails; it appears that neither `pip` nor `pip3` are available in the flatpak environment.

**How to Reproduce**

1. Install the QGIS flatpak  as described in https://qgis

[2020-11-09 12:57] jef-n commented on #39912
The flatpak releases aren't supported by the QGIS project -- they are a downstream community effort. You'll need to file this bug at flathub against the QGIS package there instead.

[2020-11-09 12:57] #39912 closed

[2020-11-09 12:59] ItaloCunhaBueno commented on #39855
Just to be sure, in wich version should I expect this fix to be included?

[2020-11-09 13:19] roya0045 commented on #39890
@gioman 3.10.11 is the current LTR?

[2020-11-09 13:55] rduivenvoorde commented on #39855
@ItaloCunhaBueno I'm busy in this Pull Request: https://github.com/qgis/QGIS/pull/39846
It turned out there were more things not happy in the Oracle Provider.
And even after fixing the error which generated you messages, I'm still not able to actually import data.
After the fixes in the pull, I can at least use drag/drop in the browser.
This will probably land in 3.18 and before that it will be av

[2020-11-09 14:05] PedroVenancio commented on #39729
@jef-n Can you check if this issue is related to the rebuild of netCDF lib against the new HDF5 lib?

[2020-11-09 14:09] ItaloCunhaBueno commented on #39855
That's really awesome that one can do that. Thanks for all your help.

[2020-11-09 14:20] soraimperial opened #39917 "Qgis 3.16 keeps crashing randomly: intersect and zoom factor"
After reporting issue #39823, although a new blank profile seemed to be working, eventually QGIS 3.16 keeps crashing at random. No plugins now, blank profile with american english language.

When clicking intersect, I have about 50% chance of it crashing. Reload, doesn't crash again. Then decides crashing again.
Same happens with Dissolve. Other tools do not seem to crash at random. Always working

[2020-11-09 15:02] ItaloCunhaBueno commented on #39855
Saddly, this artifact don't come with oracle provider, so, I'm not even able to connect from de browser.

[2020-11-09 15:34] rduivenvoorde commented on #39855
If your really have to load some data, you can try to do it via ogr2ogr, which is in the osgeo4w (and I think also in the QGIS) distribution. See https://gdal.org/drivers/vector/oci.html For what I know it has Oracle compiled into gdal.

[2020-11-09 15:55] roya0045 commented on #39917
similar as #39693 possible duplicate

[2020-11-09 15:56] roya0045 commented on #39903
What if you use any other shortcut? Do they also reset or only the standard shortcuts?

[2020-11-09 15:59] gioman commented on #39890
it is

[2020-11-09 16:01] mocmichal commented on #39903
Any shortcut I assign to those two "save as..." menus become one after opening qgis again.
I guess it cannot distinguish between the two, when loading.

[2020-11-09 16:01] gioman commented on #39882
@roya0045 ok for me, but the point is... should not the symbols also show even of that option is set to 0?

[2020-11-09 16:01] #39275 closed

[2020-11-09 16:03] larsks commented on #39912
@jef-n how about the docker image (which looks like it's built automatically via github actions)? I'm seeing some issues there as well.

[2020-11-09 16:03] gioman commented on #39911
@kadarivan cannot confirm here on 3.16 on Linux. Does it work on 3.16 on Windows?

[2020-11-09 16:07] onplot opened #39918 "QGIS crashes when accessing layer properties"
Opened QGIS, opened a saved project containing one geotiff DTM file (381Mb).  Went to open layer property and QGIS hung and then crashed.  The dtm in question is a merge of four UK Environment Agency 1m LIDAR files.  No issues carrying out the merge but any attempt at opening layer properties results in the crash.

I have enclosed the dtm - [https://drive.google.com/drive/folders/1b8VPkU4f3kQD9AsZ

[2020-11-09 16:08] roya0045 commented on #39882
The legend is populated from existing symbols, if the reference symbol doesn't have any value to set the size (which should be the case as its a reference symbol) then the size is 0. From what I can understand.

[2020-11-09 16:10] soraimperial commented on #39693
Experiencing similar problems, as mentioned, #39917 and #39823. Single click on some menus (docked processing toolbox , intersect, dissolve, Map Tools, Merge Layers) and double click sometimes on proprieties and symbology (less common, but I'm not working raster atm anyway).

I wonder if somehow a translation could impact it? Clean profile, tested it and apparently stopped crashing. Apply american

[2020-11-09 16:18] gioman commented on #39918
Already reported, already being taken care of.

[2020-11-09 16:18] #39918 closed

[2020-11-09 16:40] gioman commented on #39908
@Bernd-Vogelgesang does it work as expected on 3.10?

[2020-11-09 16:44] gioman commented on #39917
@soraimperial is QGis crashing or are you talking about errors while running those geoprocessing tools? Regadless can you please attach the data that is causing you troubles?

please report it in a new ticket. Also please attach a sample project+data that we ca use to replicate the problem.

[2020-11-09 16:47] bjornharrtell commented on #39574
I've decided to implement in GDAL anyway and it does seem to work fine on *nix machines but due to file locking issues that can also affect CSV format (see https://github.com/qgis/QGIS/issues/35144) it cannot persist and can crash on Windows.

[2020-11-09 17:02] uclaros commented on #39908
I think that defining the header row is only supported on delimited text layers.
The messed order, which also happens on delimited text layers, can be fixed with a custom sort to `$id`

[2020-11-09 17:17] gioman commented on #39908
@uclaros no, it worked also for XLS and CSV layers added directly to the project.

[2020-11-09 18:46] Bernd-Vogelgesang commented on #39908
@gioman Nope. Just reverted to 3.10 and both the xlsx and ods have the same behaviour. Surprisingly a file that I saved "accidently" as xls works fine. Confusing.

[2020-11-09 19:07] gioman commented on #39908
@Bernd-Vogelgesang as soon as you clear formatting and change the column name that is named "30" it works as expected.

And this seems to be an OGR issue.

your table with no formatting and column "30" renamed to something that has only letters:

[code]

your table with no formatting and column called "30":

[code]

your table with formatting and column "30" renamed to something that has only lett

[2020-11-09 19:15] Bernd-Vogelgesang commented on #39908
my bad. didn't see the 30. Actually it meant §30 and I thought this might cause problems. haha.
The formatting seems not to have an influence. Renaming the 30 clumn did the trick. Sorry for the noise, sometimes you can't see the forest ...

[2020-11-09 19:16] #39908 closed

[2020-11-09 20:03] roya0045 commented on #39911
3.16 on win 10, no issues with import. What are the dependencies of your script?

[2020-11-09 21:25] jake9wi commented on #39890
It is sluggish with out selecting any vertices. Selecting four or six vertices takes a five or ten seconds.

**Do note** that this was with data set and project in different CRS's. After I posted this issue I noticed the CRS's where different and tried re-projecting data set to be same as project and this improved the deleting speed; it also improved speed  when no vertices where selected.

[2020-11-09 21:27] soraimperial commented on #39917
@gioman Qgis is actually crashing: 80% of the times requires me to close the process, 20% of the times shows the sad face crash screen.

I cannot attach the specific data, as it is to my best knowledge confidential (government agency data), but is has happened with other datasets since then. But one of the layers that I was trying to intersect with my own data is this:
http://mapas.dgterritorio.pt

[2020-11-09 21:38] gioman commented on #39917
@soraimperial I'm from Portugal I know well this dataset. But I need to understand what type of layer you are using to intersect against the COS, so I can try to replicate the issue.

Also note that the COS is notoriously to have a lot of geometry errors, you must clean it before using in a whatever geoprocessing operation. The COS is also a very large dataset, if you are using it whole as a input

[2020-11-09 21:39] gioman commented on #39890
@jake9wi have you tried a new QGIS profile?

[2020-11-09 21:58] soraimperial commented on #39917
@gioman Okay, I'll try to be more clear. I'm a huge newb on QGIS (less than a year and self-taught), so sorry if I'm not explaining properly.

1) I was working with a clean, small version of this dataset (only Alentejo Litoral). V.clean and zero buffer. No geometry problems remaining, as far as QGIS showed. I was intersecting it with a hand drawn polygon layer, without any geometry problems and a

[2020-11-09 22:10] gioman commented on #39917
@soraimperial so if your input are a subset of the COS and a hand drawn polygon... can't you share them? The COS is free/open and the hand drawn polygon should not be sensitive info :)

By the way...  now in QGIS you have the "fix geometries" tool, which simplifies a lot the operation of cleaning geometries.

For the rest... thanks, is a lot of information. Would you like to try explain the issue

[2020-11-09 22:23] soraimperial commented on #39917
The hand drawn polygons will be part of a strategic document from a government agency, impending release and under discussion in the Conselho de Ministros and several other national institutions. Proooobably it is okay, but the full contents of the document that will include our cartographic products are currently under "reserved/confidential" classification, so I rather not risk without permissio

[2020-11-09 22:51] jef-n commented on #39729
Fixed in OSGeo4W

[2020-11-09 22:51] #39729 closed

[2020-11-09 23:45] jake9wi commented on #39890
No I have not yet.

[2020-11-09 23:55] jef-n commented on #39880
See note in the repository section on that very page - support for unstable is unstable.

[2020-11-09 23:55] #39880 closed

[2020-11-09 23:59] RHARCSURVEYS opened #39925 "DXF Export Crash"
**### When trying to export project to dxf, the dialog noes not appear and the program Crashes.**

**QGIS and OS versions**

QGIS version | 3.8.1-Zanzibar | QGIS code revision | dcd95cc648
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.11.2
Compiled against GDAL/OGR | 2.4.1 | Running against GDAL/OGR | 2.4.1
Compiled against GEOS | 3.7.2-CAPI-1.11.0 | Running against GEOS

[2020-11-10 00:54] roya0045 commented on #39874
A way to address this would be to set the output name to be something else than the destination parameter name and have the name of the parameter as a fallback. This would allow setting up an alias or simply using the renamer by pushing the new name when the layer has not been made.

I'm slowly looking into this but I'm not sure if I can find an elegant way to have the info go into the destination

[2020-11-10 00:59] PedroVenancio opened #39926 "Native Raster Calculator does not deal correctly with no data pixels when GPU acceleration is enabled"
It seems that native Processing Raster Calculator (https://docs.qgis.org/3.16/en/docs/user_manual/working_with_raster/raster_analysis.html#raster-calculator) does not deal well with no data pixels as any other raster calculator (gdal_calc, r.mapcalc.simple, SAGA Raster Calculator), that just keep the no data in the output layer. Please see in the following screenshot, where all give no data (the o

[2020-11-10 03:53] SrNetoChan commented on #39926
Can't confirm on QGIS 3.10.11 LTR (ubuntu 18.04 and xubuntu 20.04), neither on QGIS 3.16.0 (xubuntu 20.04).

Couldn't use QGIS raster calculator on a self-compiled QGIS 3.16.0 on ubuntu 18.04, it always says that expression is empty.

[2020-11-10 04:18] SrNetoChan commented on #39926
Couldn't confirm in Windows 10 both 3.10.11 and 3.16.0 either. Seems like some local issue.

[2020-11-10 04:23] SrNetoChan commented on #39925
@RHARCSURVEYS Can you please try using a more recent version of QGIS, either 3.10.11 (current long term release) or 3.16.0 (most recent stable release)?

3.8 more than 1.5 years old and it's no longer supported.

[2020-11-10 06:51] nicogodet commented on #39926
I can confirm on 3.16 windows.
I will provide a sample.

[2020-11-10 06:54] kadarivan commented on #39911
3.16 affected too. Both installed from osgeo4w.
I don't have any extra dependencies. This is the built-in template script:
[test1.zip](https://github.com/qgis/QGIS/files/5515369/test1.zip)

2020-11-10T07:49:25     CRITICAL    Could not import script algorithm 'test1' from 'C:\Users\kadari\AppData\Roaming\QGIS\QGIS3\profiles\test\processing\scripts\test1.py'
             module 'importlib' has no a

[2020-11-10 07:28] MrChebur opened #39928 "Add option to set default input feature layers in Modeler"
**Feature description.**
Currently, you cannot set the incoming feature layer as the default in the modeler. It would be convenient to have this possibility in custom models.

**Additional context**
More info here:
https://gis.stackexchange.com/questions/371426/set-default-input-vector-features-in-model

[2020-11-10 08:39] gioman commented on #39917
@soraimperial what is left do here? we don't have any project/dataset we can use to replicate the issues you describe, and with our own data we cannot replicate. I suggest closing this. Then contact me directly when you can, if there is  an issue we can reopen this.

[2020-11-10 08:42] gioman commented on #39925
Also try with a new QGIS profile (on 3.10 or 3.16).

[2020-11-10 08:46] gioman commented on #39928
@MrChebur you can, at least you can on 3.16.

When adding an tool in a model you can elect to have as input one specific layer loaded in a project. The on model run you won't have any input asked.

![Screenshot_20201110_084453](https://user-images.githubusercontent.com/1951107/98650734-35ec9980-2331-11eb-9294-5d17f7a2f6ab.png)

![Screenshot_20201110_084515](https://user-images.githubusercontent.co

[2020-11-10 09:09] gioman commented on #39926
@PedroVenancio can't confirm here, tested on 3.10 on Windows and 3.16 on Ubuntu 20.04.

[2020-11-10 09:16] gioman commented on #39911
@kadarivan tested on osgeo4w, can't confirm.

[2020-11-10 09:18] gioman commented on #39595
Closing for lack of feedback.

[2020-11-10 09:18] #39595 closed

[2020-11-10 09:19] gioman commented on #39598
Closing for lack of feedback.

[2020-11-10 09:19] #39598 closed

[2020-11-10 09:20] gioman commented on #39607
Closing for lack of feedback.

[2020-11-10 09:20] #39607 closed

[2020-11-10 09:20] gioman commented on #39627
Closing for lack of feedback.

[2020-11-10 09:20] #39627 closed

[2020-11-10 09:20] gioman commented on #39639
Closing for lack of feedback.

[2020-11-10 09:20] #39639 closed

[2020-11-10 09:21] gioman commented on #39342
Closing for lack of feedback.

[2020-11-10 09:21] #39342 closed

[2020-11-10 09:40] luipir commented on #39693
BINGO! we probably have a fix! @nirvn found the QT issue that probably is the base of the issue https://bugreports.qt.io/browse/QTBUG-69204 and basin on readin the qt patch here: https://codereview.qt-project.org/c/qt/qtbase/+/242929/7/src/widgets/styles/qstylesheetstyle.cpp#2913 I had the idea to invalidate styleSheet cache just before applying the new styel... just doung setStyleSheet("") before

[2020-11-10 09:43] lomasz opened #39929 "QGIS 3.14.16 not showing spatialite's timestamp values in Attribute Table"
**Description**
I opened in QGIS (3.14.16) spatialite's table which has timestamp type field, but values in this field are not visible (NULL) in Attribute Table.

In DB Manager's table tab these values are visible correctly, but in Attribute Table they are NULL.

**Steps to reproduce:**
1. Add layer: spatialite with `timestamp` type field.
[![Table structure][1]][1]
2. Go to DB Manager - choose '`

[2020-11-10 09:46] nirvn commented on #39929
@lomasz , can you open the information panel of that layer properties and take a screenshot? I'm looking to confirm whether your layer is opened via the OGR provider of QGIS' native spatialite provider.

[2020-11-10 09:55] luipir commented on #39693
The moain problem now is do it only in QgsCollapsibleGroupBox.cpp and specifically only inside void QgsCollapsibleGroupBoxBasic::updateStyle() or do it in every play where setStyleSheet is applied (145 times in qgis code)?

[2020-11-10 09:56] QuentinStrappazzon opened #39930 "3.16 Windows install slows down all QGIS version"
Hello Qgis folks! I have dealt with issues to open QGIS on my laptop since I install the last 3.16. Opening QGIS is very slow (up to 20 min) no response and all. Never had this pb before. Seems to begin with 3.16 (confirmed on 3 laptops in my company) . Is it the same for you ? It put mess in all QGIS versions opening.
Window install by the way

[2020-11-10 09:57] nirvn commented on #39693
I say go conservative, only fix what cause crashes on 5.9.

[2020-11-10 09:58] lomasz commented on #39929
![image](https://user-images.githubusercontent.com/14858816/98658678-9ab0ef80-2343-11eb-9cc3-4ef8ae931938.png)

[2020-11-10 10:00] luipir commented on #39693
QT patch is applied to 5.12.4

IMHO should be:
#if QT_VERSION < QT_VERSION_CHECK(5, 12, 4)
      setStyleSheet( "" );
#endif
we had report of crash with qt 5.11 in this thread

[2020-11-10 10:00] luipir commented on #39693
sorry close button too near to comment ;)

[2020-11-10 10:06] nirvn commented on #39693
@luipir , sounds good -- go for it.

[2020-11-10 10:08] nirvn commented on #39929
@lomasz , thanks -- can you share your dataset (or a sample of it) here?

[2020-11-10 10:14] PedroVenancio commented on #39926
Ok, in a clean profile, it does not happen.

But happens even starting QGIS with --noplugins, so I believe that is not a plugin conflict issue.

Any hint about a setting that can be causing this behaviour?

[2020-11-10 10:36] lomasz commented on #39929
https://drive.google.com/file/d/1NvGkO66Rp7Gftk_kk7xRAa1PEsDe_JhL/view

[2020-11-10 10:37] PedroVenancio commented on #39926
Ok, I think I've found the source of the issue.

With the OpenCL acceleration enabled, I've the issue.

Without OpenCL acceleration, the output is correct.

![imagem](https://user-images.githubusercontent.com/1331581/98663041-7acbfc80-2340-11eb-920a-e65a90e72284.png)

This makes sense to you @elpaso ?

[2020-11-10 10:48] nirvn commented on #39929
PR #39931 fixes your issue:
![image](https://user-images.githubusercontent.com/1728657/98664363-de741b00-237c-11eb-8b68-7a2c11d28a5f.png)

It'll be available in the next 3.16.1 release (in ~1 week). Thanks for reporting the issue & providing a sample dataset.

[2020-11-10 10:50] lomasz commented on #39929
Nice, thanks! 👍

[2020-11-10 11:03] SrNetoChan commented on #39930
@QuentinStrappazzon can you try creating a new profile and see how it goes?

If it fixes, the next step would be to run QGIS with NOPLUGINS option.

[2020-11-10 11:28] gioman commented on #39930
@QuentinStrappazzon as @SrNetoChan said, please try with a new QGIS profile. Anyway your report sounds more like a question. Questions must be addressed to the users or developers mailing lists. If you are making a bug report this must be done using the template that is presented here https://github.com/qgis/QGIS/issues/new?assignees=&labels=Bug&template=10_bug_report.md&title=

**Describe the bug

[2020-11-10 11:48] kadarivan commented on #39911
I installed QGIS LTR (3.10.11-1) from osgeo4w to another PC (Win10 Pro 2004), but the result is the same for me.
The original computer is Win10 Enterprise 1809.

[2020-11-10 12:02] MrChebur commented on #39928
@gioman Thanks, but this is not exactly what I would like to see. The user will not be able to select another vector layer, except for the one specified in the model. And I'd like to leave this opportunity to the user.

The choice should be given to the users of the model - leave the default value or select your own vector layer.

[2020-11-10 12:02] Isaacson33 commented on #39573
Just updated, my specifications now are

QGIS version
3.16.0-Hannover
QGIS code branch
Release 3.16
Compiled against Qt
5.15.1
Running against Qt
5.15.1
Compiled against GDAL/OGR
3.0.4
Running against GDAL/OGR
3.0.4
Compiled against GEOS
3.8.0-CAPI-1.13.1
Running against GEOS
3.8.0-CAPI-1.13.1
Compiled against SQLite
3.33.0
Running against SQLite
3.33.0
PostgreSQL Client Version
12.4
SpatiaLite Ve

[2020-11-10 12:40] Meibes opened #39938 "arrow line type displays lines wrong"
hey, arrow lines are displaying incorrectly on my QGIS 3.10.11 and if I zoom in, it gets even worse. The data is from a FileGDB, Line (MultiLineString). If I use simple line, everything is displayed correctly.

![arrow_options](https://user-images.githubusercontent.com/26258451/98674830-ab6c6000-2359-11eb-8d70-7625e8d66211.png)
options
![arrow_small_error_upper_left](https://user-images.githubuser

[2020-11-10 12:41] i-s-o commented on #39930
A shot in the dark: have you tried uninstalling 3.16 and installing 3.14 [again]? I am suggesting this to rule out any changes that might have occurred outside of QGIS (i.e. Windows or other software updates or network configuration at your company).

I am suggesting this because my situation is the exact opposite: until 3.16 came out, QGIS startup would take very long time. The culprit in my case

[2020-11-10 12:47] gioman commented on #39938
@Meibes can you please share a sample project+sample data? Thanks.

[2020-11-10 12:49] kadarivan commented on #39911
I installed QGIS LTR from osgeo4w again, but this time I used the qgis-ltr-full meta package, instead of qgis-ltr package.
In this case the bug disappeared.

[2020-11-10 12:57] roya0045 commented on #39911
Possible python dependencies issues?

[2020-11-10 12:58] gioman commented on #39911
I agree.

[2020-11-10 13:00] roya0045 commented on #39693
@luipir @nirvn Great work guys!

[2020-11-10 13:28] SrNetoChan commented on #39926
Confirmed that at least in 3.10 on Linux with OpenCL acceleration enabled will replicate the problem.

[2020-11-10 13:29] elpaso commented on #39926
@SrNetoChan and with OpenCL disabled?

[2020-11-10 13:37] SrNetoChan commented on #39926
@elpaso if the acceleration is disable I wasn't able to replicate the problem.

[2020-11-10 13:42] PedroVenancio commented on #39926
Yes, same behaviour on Windows with 3.16.

[2020-11-10 13:53] cacostam opened #39941 "Error in "zone histogram" tool"
The "zone histogram" tool calculates values when the output is executed as temporary, different from when the output is executed as a file.

If you run the "zone histogram" tool with "temporary file" as the output, the tool will give you a value as a solution. If you try to save the temporary file to a shp file on your computer, the values of the attribute table calculated with the tool will chang

[2020-11-10 14:46] elpaso commented on #39926
@PedroVenancio can you please attach a small sample? Just to make sure I'm testing the same scenario.

[2020-11-10 14:49] gioman commented on #39926
@PedroVenancio link above.

[2020-11-10 14:53] PedroVenancio commented on #39926
Yes @elpaso simply open that project and try to do a sum or any other simple operation between two included rasters with and without OpenCL acceleration enabled, and check what happens to the no data values in the output.

[2020-11-10 15:04] #39929 closed

[2020-11-10 15:08] orkutmuratyilmaz commented on #31169
With QGIS 3.16.0, the error message comes back.

I use Pop!_OS (Ubuntu 20.04 Derivative). The complete error message is below:

[code]

[2020-11-10 15:08] jonnyforestGIS commented on #39941
Hi, @cacostam do you mean the algorithm Zonal Histogram from Raster Analysis?
Please provide Operating System and QGIS Version.

Regards

[2020-11-10 15:22] gioman commented on #31169
@orkutmuratyilmaz please try with a new QGIS profile.

[2020-11-10 15:24] orkutmuratyilmaz commented on #39703
I use Pop!_OS (Ubuntu 20.04 Derivative) and QGIS 3.16.0 Hannover. Full error message is below:

[code]

[2020-11-10 15:25] PedroVenancio commented on #39941
@cacostam I cannot confirm here, on QGIS 3.16.

Can you provide some test dataset?

[2020-11-10 15:48] jkr-wrk opened #39945 "SAGA Random Terrain generation - Bug"
When running the Random Terrain Generation from the Toolbox with all settings to default, there is one setting you have to pick.
The only option I have for 'Target Dimensions' is [0] User defined.

So the settings are:
grid_calculus "Random Terrain Generation" -RADIUS 10 -ITERATIONS 10 -TARGET_TYPE 0 -USER_CELL_SIZE 1.0 -USER_COLS 100 -USER_ROWS 100 -TARGET_GRID "%userprofile%/Temp/processing_GIBB

[2020-11-10 15:50] gioman commented on #39945
@jkr-wrk what operating system?

[2020-11-10 15:55] jkr-wrk commented on #39945
Edited my original post "QGIS on Windows 7".

[2020-11-10 16:30] gioman commented on #39945
@jkr-wrk standalone installer or osgeo4w?

[2020-11-10 16:37] vpicavet commented on #32754
A note on what ArcGIS does with this matter. This [item in the FAQ dating back to 2016](https://support.esri.com/en/technical-article/000009120) adds a note concerning RGB / CMYK :

From what I understand, it means that ArcGIS internally handles colors as RGB, but they keep a correspondence table when you input a CMYK value, allowing for CMYK colors exported correctly with the above limitations.

[2020-11-10 16:55] agiudiceandrea commented on #39911
Hi @gioman and @roya0045,
I don't know what relationship there is between the MetaSearch Catalog Client plugin or the additional packages installed by qgis-ltr-full and the issue, anyway it seems to me the issue is related to how ScriptUtils.py imports and use the importlib util module
https://github.com/qgis/QGIS/blob/21908f09f5e6beef0224e19cc3308a8cafe2ab0d/python/plugins/processing/script/Scrip

[2020-11-10 17:40] orkutmuratyilmaz commented on #31169
thanks for your quick response. I've tried a new profile too, but it didn't work at all. rolled back to 3.10.10 release.

[2020-11-10 18:37] spatialthoughts commented on #39801
@PeterPetrik This is a pretty serious regression and would be good to fix this for the next point release.

[2020-11-10 18:40] kadarivan commented on #39911
@agiudiceandrea yes, this patch fixed the bug. Thanks!

[2020-11-10 19:01] nawt12 commented on #39774
shocked when install 3,16 and can't find the Türkçe Language.  SO we need to translate too much word.

[2020-11-10 19:25] cacostam commented on #39941
The tool is: Zonal Histogram from Raster Analysis
The operating system of the computers on which the tests were carried out was Windows 10
Tests were made in QGIS 3.10.11 to Coruña.

Attached are the test data.

[2020-11-10 20:00] PeterPetrik commented on #39801
@spatialthoughts . where do you have your application installed?  have you relocated  it?

[2020-11-10 20:12] spatialthoughts commented on #39801
Installed in Applications. Haven't renamed or moved it. Screenshot attached.
<img width="558" alt="qgis" src="https://user-images.githubusercontent.com/5227506/98728207-2e73d180-23bf-11eb-9fbd-b0e4a8e81458.png">

[2020-11-10 20:26] bjornharrtell commented on #35144
As far as I've been able to verify fix done in https://github.com/qgis/QGIS/pull/39919 is effective.

[2020-11-10 20:28] davidafuller01 commented on #38939
I can confirm this happens regularly on macOS (just now in fact using QGIS 3.10.11).

1. Right click on a layer and select Export Save Features As...
2. In the next dialog, click the 3 dot button to switch to the macOS native file navigator / select dialog
3. Try a cmd+v into that dialog... I regularly get a crash here... work around is right mouse click+paste

[2020-11-11 01:56] RHARCSURVEYS commented on #39925
Sorry if this is a dumb question… How do you create a new profile???

Kind Regards,

Rowan Hunt
Survey Draftsman
rowanh@arcsurveys.com.au<mailto:rowanh@arcsurveys.com.au>
Phone: (07) 54 955 977
www.arcsurveys.com.au

[Title: Facebook - Description: Facebook icon]<https://www.facebook.com/ArcSurveys/> [Title: LinkedIn - Description: LinkedIn icon] <https://au.linkedin.com/company/arc-surveys-pty-lt

[2020-11-11 03:01] adssonandre opened #39951 "Qgis crash whem import srtm from Topodata INPE"
**Describe the bug**
Qgis crash and close his window, when a try to import some SRTM image from Topodata INPE (http://www.webmapit.com.br/inpe/topodata/)

**How to Reproduce**
Just importing some SRTM image from Topodata INPE anyway

**QGIS and OS versions**
I am using Qgis 3.10.11 LTR on Ubuntu 20.04 LTS

[2020-11-11 06:00] PeterPetrik commented on #39801
@spatialthoughts as a workaround, can you please open qgis python console and type

[code]

and retry to run the algorithm?

[2020-11-11 07:26] SrNetoChan commented on #39925
Settings > User profiles > New profile...

https://docs.qgis.org/3.10/en/docs/user_manual/introduction/qgis_configuration.html#working-with-user-profiles

[2020-11-11 07:43] zoner72 commented on #39330
This seems to work for me (using Pi), just had to enable macros on my colleagues computer but all showed up and worked. I agree its not ideal but at least we are keeping project specific code in the project it was written for.

thanks @nyalldawson

[2020-11-11 08:08] #39926 closed

[2020-11-11 08:11] jkr-wrk commented on #39945
Stand alone installer

[2020-11-11 08:11] spatialthoughts commented on #39801
Thanks. That Works. Will use the workaround for now. Hopefully, it's an easy fix for the next release.

[2020-11-11 09:38] Meibes commented on #39938
[sample_data.gdb.zip](https://github.com/qgis/QGIS/files/5523076/sample_data.gdb.zip)
@gioman here the sample data, project is not needed.

- add layer "lines" from "sample_data.gdb"
- change the line symbol to arrow with default values (see picture in original post)
- zoom in and out on the data (errors seem to occur more often on scale 1:1 - 1:2000)

[2020-11-11 10:39] agiudiceandrea commented on #39945
The Saga tool "[Random Terrain Generation](http://www.saga-gis.org/saga_tool_doc/2.1.3/grid_calculus_6.html)" was renamed to "[Random Terrain](http://www.saga-gis.org/saga_tool_doc/2.3.0/grid_calculus_6.html)" in SAGA 2.3.2 which is installed by OSGeo4W.
Moreover, the parameters have also been renamed.

[2020-11-11 10:54] gioman commented on #39945
I'll patch it.

[2020-11-11 10:54] jonnyforestGIS commented on #39941
I tested with your DATA in Windows 10:
QGIS 3.10.10 - OK values are equal with temporary and saved into a file.
QGIS 3.10.11 - OK values are equal with temporary and saved into a file.

[2020-11-11 10:56] gioman commented on #35144
@bjornharrtell so I guess we can close this?

[2020-11-11 11:02] RomSonic opened #39957 "Crash quand suppression d'éléments dans le Composeur."
## User Feedback

Crash quasi systématique quand on supprime d'un coup un groupe d'élément (une dizaine par exemple) dans le Composeur d'Impression. Peut aussi arriver quand on supprime plusieurs éléments un par un dans un court laps de temps. Bug présent depuis les débuts de la version 3.

Désolé, je ne suis pas bon en anglais et pas le temps de traduire.

## Report Details

**Crash ID**: [7585f5

[2020-11-11 11:02] samillar94 commented on #35144
Thanks all for your hard work, much appreciated

[2020-11-11 11:04] gioman commented on #39957
@RomSonic Hi, sorry but tickets must be filed in English. Also add the required infos

**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

[2020-11-11 11:04] #39957 closed

[2020-11-11 11:07] gioman commented on #38939
@davidafuller01 can you please test the nightly build?

[2020-11-11 11:13] gioman commented on #39951
@adssonandre cannot confirm, also o Ubuntu 20.04. I tried http://www.dsr.inpe.br/topodata/data/geotiff/05S585ZN.zip

By the way that data does not seems to have a valid CRS, I think

[code]

[2020-11-11 11:15] gioman commented on #39951
ok, if you manually give that layer the 4326 CRS it goes in the right place, but in origin is not well defined in the datasource.

![Uploading Screenshot_20201111_111443.png…]()

[2020-11-11 11:24] krvrd opened #39958 "To filter layer on load csv step"
**Feature description.**
Would be useful for a huge dataset to have the ability to filter data on the step of the load CSV file.

[2020-11-11 12:03] PeterPetrik commented on #39801
i can think of two ways... do you use these algorithms directly (without qgis/processing)? one solution would allow it too, other one will not...

[2020-11-11 12:29] spatialthoughts commented on #39801
By directly, you mean running gdalwarp on the command line? I do that occasionally, but if that doesn't work there are ways to install those tools via other means or set an environment variable like here. Making it work via processing toolbox without any workarounds would be the top priority for me.

[2020-11-11 13:32] bjornharrtell commented on #35144
@gioman as far as I'm concerned yes, but as disclaimer I will say that I have not been able to reproduce this issue even before the fix.

[2020-11-11 13:39] roya0045 commented on #35144
Just let someone test the MXE to see if it truly solves the issue in this case.

[2020-11-11 14:02] stev-0 commented on #35144
I did experience the problem and it seems to be fixed by this issue. However this is only when loading via drag and drop.

When using the Delimited Text widget, I no longer seem to be able to load CSVs at all. Not sure if this is related to this or something else. Can anyone else confirm?

Message is `Layer is not valid : The layer file:///C:/Users/Stephen.Knox/Documents/test.csv?type=csv&maxField

[2020-11-11 14:05] fiedt opened #39962 "QGIS crash when using vrt with python pixel function"
Hi,
i have the following problem and couldn't find a solution:

**Describe the bug**
QGIS crash when accessing a vrt-file with python pixel function.

**How to Reproduce**
1. set GDAL_VRT_ENABLE_PYTHON=YES in the QGIS settings
2. reload QGIS
3. add vrt to project
4. QGIS crashes

**QGIS and OS versions**

QGIS-Version | 3.16.0-Hannover | QGIS-Codeversion | 43b64b13f3
-- | -- | -- | --
Kompiliert g

[2020-11-11 14:10] stev-0 commented on #35144
Actually, it isn't present in 3.16, so it could be this that the PR to fix this issue has introduced the problem as the PR I linked above is pre-3.16

[2020-11-11 14:12] gioman commented on #35144
@stev-0 qgis version? sample data?

[2020-11-11 14:18] bjornharrtell commented on #35144
@stev-0 I also noticed the problem you describe on *some* CSV content however AFAIK completely unrelated to *this* issue.

[2020-11-11 14:21] stev-0 commented on #35144
@gioman I am using the master (fe05aad7e1) osgeo4w build which has the bugfix for this issue in.

To be more precise, with the attached file, it loads fine in both master and 3.16

However, when loading via Add Layer -> Delimited Text, with the defaults it loads correctly in 3.16 but not in master
[test.txt](https://github.com/qgis/QGIS/files/5524518/test.txt)

@bjornharrtell - guess I should open

[2020-11-11 14:22] MattUm opened #39963 "Double dissolvence fails"
Goodmorning,
I have an issue with a QGIS project: I tried to make a second dissolvence on a file using QGIS 3.16, the process has reached 100%, but it doesn't give me the resulting file. The file I want was created in the right folder, but, even if added on the map, it seems to be wrong (it's as if it wasn't there).
I used the same process with another file and it worked, so I think the starting f

[2020-11-11 14:31] Alvin-igobwa opened #39964 "Some of the menu toolbars aren't showing all their components"
The raster icon on the tool bar is not showing several options like conversion, extraction etc. It is just showing raster calculator. Help

[2020-11-11 14:41] gioman commented on #39964
@Alvin-igobwa do you have the "Processing" plugin active?

[2020-11-11 14:50] jonnyforestGIS commented on #33755
@gioman having this #39777 as a possible resolution for this issue, this ticket can be close?

[2020-11-11 15:10] gioman commented on #39945
See https://github.com/qgis/QGIS/pull/39965

[2020-11-11 16:11] Alvin-igobwa commented on #39964
how do i confirm that?

On Wed, Nov 11, 2020 at 5:41 PM Giovanni Manghi <notifications@github.com>
wrote:

--

*Note: *All emails sent from Strathmore University are subject to
Strathmore’s Email Terms & Conditions. Please click here
<http://www.strathmore.edu/en/email-policy> to read the policy.
*
*

"Visit
our Facebook  <https://www.facebook.com/StrathmoreUniversity>Page and
Twitter  <https://tw

[2020-11-11 16:12] bjornharrtell commented on #35144
@stev-0 please do, and please be more careful when wording the description - I can't make sense where it works and fails for you with what you write above ("loads correctly in 3.16 but not in master" vs "loads fine in both master and 3.16").

[2020-11-11 16:13] Alvin-igobwa commented on #39964
The attached image is what I see upon starting qgis

On Wed, Nov 11, 2020 at 7:11 PM Alvin Igobwa <alvin.igobwa@strathmore.edu>
wrote:

--

*Note: *All emails sent from Strathmore University are subject to
Strathmore’s Email Terms & Conditions. Please click here
<http://www.strathmore.edu/en/email-policy> to read the policy.
*
*

"Visit
our Facebook  <https://www.facebook.com/StrathmoreUniversity>

[2020-11-11 16:15] Alvin-igobwa commented on #39964
Disregard the other emails I have been able to enable the processing
plugin. Thanks

On Wed, Nov 11, 2020 at 7:13 PM Alvin Igobwa <alvin.igobwa@strathmore.edu>
wrote:

--

*Note: *All emails sent from Strathmore University are subject to
Strathmore’s Email Terms & Conditions. Please click here
<http://www.strathmore.edu/en/email-policy> to read the policy.
*
*

"Visit
our Facebook  <https://www.fa

[2020-11-11 16:20] #39964 closed

[2020-11-11 16:35] giedrioks26 opened #39967 "QGIS 3.10.11 crash after install in Debian Buster"
when i run qgis the terminal shows an error:
:~$ qgis
QGIS died on signal 11 (aborted)

[2020-11-11 16:54] stev-0 commented on #35144
whoops - yes added that in to the reply

[2020-11-11 16:54] gioman commented on #39963
@MattUm there is no "dissolve_clip_mpc_torino" (as seen in your screenshot) in the provided zip. Anyway the probable source of your problem is that your input has geometry problems, you must clean it, using the "fix geometries" tool as already pointed to you in https://github.com/qgis/QGIS/issues/39800#issuecomment-721723639

[2020-11-11 16:55] gioman commented on #39967
@giedrioks26 installed how?

[2020-11-11 16:56] gioman commented on #33755
@jonnyforestGIS have you tested the fix using the scenario described in this ticket?

[2020-11-11 17:01] giedrioks26 commented on #39967
Yes. Half an hour ago

[2020-11-11 17:03] gioman commented on #39967
@giedrioks26 self compiled? using repositories? if using repositories, what repositories?

[2020-11-11 17:06] giedrioks26 commented on #39967
I always use this https://qgis.org/debian-ltr

[2020-11-11 17:24] gioman commented on #35144
@stev-0 confirmed, please file a new ticket.

[2020-11-11 17:39] gioman commented on #35144
@roya0045 I tested https://github.com/qgis/QGIS/suites/1486274517/artifacts/25792318 and works ok while on master/ccdff23dbe is not, but the latter probably does not have the fix. Closing?

[2020-11-11 17:41] gioman opened #39968 "Cannot add delimited text layers on master"
Try adding https://github.com/qgis/QGIS/files/5524518/test.txt

works fine on 3.16. Tested on Windows.
`
2020-11-11T09:40:57     CRITICAL    Layer is not valid : The layer file:///C:/Users/qgis/Desktop/test.csv?type=csv&maxFields=10000&detectTypes=yes&geomType=none&subsetIndex=no&watchFile=no is not a valid layer and can not be added to the map. Reason: `

[2020-11-11 17:41] gioman commented on #35144
@stev-0 I did it https://github.com/qgis/QGIS/issues/39968

[2020-11-11 17:48] giedrioks26 commented on #39967
same with 3.16.0 from https://qgis.org/debian and 3.17 from https://qgis.org/debian-nightly
After install 3.17 terminal shows:

`:~$ qgis
../../src/app/main.cpp:510 : (main) [0ms] Starting qgis main
../../src/core/qgsmessagelog.cpp:29 : (logMessage) [47ms] 2020-11-11T19:40:59 [1] Successfully loaded globalsettingsfile path: /usr/share/qgis/resources/qgis_global_settings.ini
../../src/core/qgsprovi

[2020-11-11 18:13] rouault opened #39971 "MacOSX builds on GitHub workflows broken (related to PDAL)"
See https://github.com/qgis/QGIS/runs/1384622146
[code]

[2020-11-11 18:13] gioman commented on #39962
@gioman in settings > system > environment, correct?

If yes then I cannot confirm (win 10 and Linux).

[2020-11-11 18:22] MattUm commented on #39963
Hi @gioman !
I use QGIS in italian and I tried to search that funcion, but I find only this window (in the photo) that controls my geometries.
Is it near the function I reported in this comment? I tried also searching on Google, but the only tutorials I found includes active script editing
![Validità geometrie](https://user-images.githubusercontent.com/73936953/98849228-2feed980-2453-11eb-8391-32c

[2020-11-11 18:23] gioman commented on #39963
@gioman it is in the processing toolbox and you can search it with its English name "fix geometries" even if your system is in another language. Please attach the required input layer.

[2020-11-11 18:43] gioman commented on #39060
Closing for lack of further feedback.

[2020-11-11 18:43] #39060 closed

[2020-11-11 18:44] gioman commented on #39045
Closing for lack of further feedback and as likely duplicate.

[2020-11-11 18:44] #39045 closed

[2020-11-11 18:45] gioman commented on #39028
Closing for lack of further feedback.

[2020-11-11 18:45] #39028 closed

[2020-11-11 18:46] gioman commented on #38800
Closing for lack of further feedback.

[2020-11-11 18:46] #38800 closed

[2020-11-11 18:50] gioman commented on #39588
Closing for lack of further feedback.

[2020-11-11 18:50] #39588 closed

[2020-11-11 18:51] gioman commented on #39679
Closing as duplicate.

[2020-11-11 18:51] #39679 closed

[2020-11-11 18:51] imanhn commented on #39725
@luipir @nyalldawson
I can confirm this fixes the crash.

Ran against Qt 5.11.2

[2020-11-11 19:13] roya0045 commented on #35144
@gioman Since the commits reference this issue it should close when merged.

[2020-11-11 19:15] gioman commented on #39967
@giedrioks26 just tried on a clean Debian buster machine, all ok here.

[2020-11-11 19:24] giedrioks26 commented on #39967
Got it. This will probably be my debian problem. Thanks for your time.

[2020-11-11 19:29] a17r opened #39973 "3.16.0 build fails with -DWITH_BINDINGS=no && WITH_QGIS_PROCESS=yes in target `qgis_process`"
Even though there is a conditional to be found inside `src/process/CMakeLists.txt`...
[code]

...this doesn't build as `main.cpp` and `qgsprocess.cpp` unconditionally include `qgsprocess.h` which then unconditionally includes `qgspythonrunner.h` and `qgspythonutils.h`.

Used build options:
[code]
Error snippet:
[code]

[2020-11-11 20:06] jgrocha opened #39974 "Unable to save created curved geometries"
### Support for CurvePolygon, CompoundCurve and CircularString

To test the support for these primitive geometry types, I have used the wedge buffer tool. I've created a point and then a wedge buffer around it (in memory). The geometry (wkt) created is:
[code]
The following print screen show this setup.
![wedge buffer](https://user-images.githubusercontent.com/163681/98855398-d4711b80-2453-11eb-91

[2020-11-11 20:17] PeterPetrik commented on #39801
because I can either set PROJ_LIB in qgis environment (works only from QGIS) or create a wrapper bash script for every GDAL binary (will work from command line too)

[2020-11-11 20:24] drf5n opened #39975 "Geopackages saved from scratch files do not save relative to project."
**Describe the bug**

Saving a scratch layer as a geopackage with a relative filename does not produce a geopackage in the project home directory.

**How to Reproduce**

1) Create a new project with a fresh profile
2) Create a Scratch layer
3) Click on the DIP-icon to open the menu for saving the scratch layer
4) enter a plain filename (screenshot below)
5) save. (Note the saved file message with

[2020-11-11 20:34] isaomatsunami opened #39976 "Tessellation crushes with a triangle"
**Describe the bug**
tessellation crushes QGIS when one of the target features is a triangle.

**How to Reproduce**

1. Create a new Project and create a shape file with a single feature of triangle
2. Apply tessellation
3. QGIS crushes

**QGIS and OS versions**

QGISバージョン | 3.16.0-Hannover | QGISコードリビジョン | 4af1cbfb97
-- | -- | -- | --
コンパイル時のQtバージョン | 5.14.2 | 実行中のQtバージョン | 5.14.2
コンパイル時のGDAL/OGR

[2020-11-11 20:50] uclaros commented on #39976
That's strange, I've added a test to cover this specific case while fixing  #36024

[2020-11-11 20:53] MattUm commented on #39963
Ok, I probably fixed it.
Thank you so much, @gioman ! You are a QGIS hero!

[2020-11-11 21:40] isaomatsunami commented on #39976
MultiPolygon of which one of the parts is a triangle also make QGIS crush.

Temporally I can avoid it by making triangles into triangle-looking polygons.

[2020-11-11 22:01] uclaros commented on #39976
This is a regression, it seems the test was modified and broken by #36981.
Until this gets fixed, you can avoid the crash by using Z enabled polygon layers.

[2020-11-11 22:20] giedrioks26 commented on #39967
I reinstalled debian on two difference pc, but the problem is still there. From debian back-ports also remains. Only works QGIS 2.18 version from the debian repository. This happened after yesterday's QGIS 3.10.11 updates.
Has anyone yet faced that?

[2020-11-11 22:25] RHARCSURVEYS commented on #39925
Tried the new profile and got the same crash:

Crash ID: e3ef196493fa88043ba3392945696f96e8c1fc1b<https://github.com/qgis/QGIS/search?q=e3ef196493fa88043ba3392945696f96e8c1fc1b&type=Issues>

Stack Trace

QgsMarkerSymbolLayer::scaleMethod qgsarrowsymbollayer.h:57
QgsDiscoverRelationsDialog::relations :
QgsDiscoverRelationsDialog::relations :
QgisApp::dxfExport :
QMetaObject::activate :
QAction::act

[2020-11-11 22:29] isaomatsunami commented on #39976
Thank you. I will.

[2020-11-11 22:34] SrNetoChan commented on #39925
I am not able to replicate using 3.16 on a fresh Windows installation.

@RHARCSURVEYS could you share the project you are using that is causing the crash?

[2020-11-11 22:48] RHARCSURVEYS commented on #39925
Should be everything needed to replicate
[PLP0561_ARC_PROJECT_2.zip](https://github.com/qgis/QGIS/files/5527179/PLP0561_ARC_PROJECT_2.zip)
[ARC_PLP_BDY_28-09-2017.zip](https://github.com/qgis/QGIS/files/5527181/ARC_PLP_BDY_28-09-2017.zip)
[DCDB_MGA 28-09-17 Cadastral_data_QLD_CADASTRE_DCDB any_PARCEL_TYP__Lot Type Parcel.zip](https://github.com/qgis/QGIS/files/5527182/DCDB_MGA.28-09-17.Cadastral_d

[2020-11-11 22:50] RHARCSURVEYS commented on #39925
Oh and this one
[QSC_Extracted_Data_20201106_143747490000-9156.zip](https://github.com/qgis/QGIS/files/5527195/QSC_Extracted_Data_20201106_143747490000-9156.zip)

[2020-11-11 23:11] roya0045 commented on #39975
same issue as #35651,but in linux

[2020-11-11 23:16] roya0045 commented on #39968
Does it work ok with gdal/ogr on its own?

[2020-11-11 23:20] SrNetoChan commented on #39925
Sorry @RHARCSURVEYS but there are lots of missing layers. Can you please send on single zip file with both the project and the data in their relative path so that opening the project is automatic?

[2020-11-11 23:21] RHARCSURVEYS commented on #39925
I think I found it... Layers CRS was GDA94/MGA Zone 56.
Australia Recently Shifted to the new coord sys GDA 2020. Threw a spanner in the works. Made the data do a harold holt and left me up shit creek.
Sorry for the dodgy upload, first time having to raise an issue.

[2020-11-11 23:27] nyalldawson commented on #39925
@RHARCSURVEYS I understand you perfectly, but i suspect 99.9% of the readers here have no clue what you just said 😂

[2020-11-11 23:36] RHARCSURVEYS commented on #39925
Ken oath, Cobber! Those other Flamin' Gallahs might think I've got a few kangaroos loose in the top paddock.

[2020-11-12 00:00] roya0045 commented on #35651
somehow it seems to reach this line https://github.com/qgis/QGIS/blob/b00d6fa61a7a0fa9e664a85e654756eaa071fe34/src/gui/qgsfilewidget.cpp#L298 judging by behaviour, would have to validate with debug.

[2020-11-12 00:04] nyalldawson commented on #39925
In any case, the CRS diff shouldn't result in a crash! Can you answer @SrNetoChan's question and send an updated project so that we can fix?

[2020-11-12 00:18] #39911 closed

[2020-11-12 01:14] #39693 closed

[2020-11-12 01:17] nyalldawson commented on #32710
Duplicate of https://github.com/qgis/QGIS/issues/19761

[2020-11-12 01:17] #32710 closed

[2020-11-12 01:51] adssonandre commented on #39951
I opened Qgis through the Ubuntu terminal and when i try to import the SRTM, the terminal showed that:

**Fatal Python error: PyThreadState_Get: no current thread
Python runtime state: initialized

Current thread 0x00007f2bba439f80 (most recent call first):
<no Python frame>
Aborted (core dumped)**

I could not define CRS, because the software crash.

[2020-11-12 05:06] drf5n commented on #39975
I found my files using the Python Console:

[code]

![image](https://user-images.githubusercontent.com/2236516/98896908-1c099e80-2478-11eb-8614-f1f1bc1ae0eb.png)

On OSX, this initial working directory could be `/` if you start QGIS by opening a file in Finder, or from the command line with "open project.qgz".  If I open a fresh profile, the initial working directory is `/Applications/QGIS.app/Con

[2020-11-12 06:35] DelazJ commented on #39725
Fixed in #39935

[2020-11-12 06:51] sk-dataocean-online opened #39990 "Python was broken after upgrade from 3.14 to 3.16"
I had no problems with version 3.14 Pi but after upgrade to 3.16 the app throws errors on loading installed plugins (the same error for each plugin at startup):

[code]

Attempt to invoke python console throws the same error.

OS: Linux Mint 18.3 (based on Ubuntu 16.04)
I don't have python 3.8 installed:
[code]

[2020-11-12 06:57] fiedt commented on #39962
Yes, set up in settings > system > environment with the option 'if defined' in the drop-down menu.

[2020-11-12 07:02] nyalldawson commented on #39990
You're missing a required dependancy -- the QScintilla python library

[2020-11-12 07:02] #39990 closed

[2020-11-12 07:19] sk-dataocean-online commented on #39990
How could I install that into QGIS's python? "pip3 install QScintilla" installs it into system's python. What I am missing?
BTW I didn't compile QGIS but rather downloaded it as an available flatpak version from OS standard repository.

[2020-11-12 07:22] spatialthoughts commented on #39801
It would be awesome to get it working properly everywhere. Is it possible to roll out the simple fix (proj_lib in qgis) for 3.16.1 and work towards the global fix for a later release?

[2020-11-12 07:27] Gusarovmax opened #39991 "Extra vertex on polygon"
An extra vertex is added (the first point is duplicated) when creating a polygon

[2020-11-12 07:34] uclaros commented on #39991
The last vertex of a polygon should always be the same as the first. So a triangle has 4 vertices by design, two of which are the same.

[2020-11-12 07:41] sk-dataocean-online commented on #39990
It seems that QScintilla is installed:

QGIS version | 3.16.0-Hannover | QGIS code revision | 43b64b13
-- | -- | -- | --
Compiled against Qt | 5.15.1 | Running against Qt | 5.15.1
Compiled against GDAL/OGR | 3.0.4 | Running against GDAL/OGR | 3.0.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.32.1 | Running against SQLite | 3.32.1

[2020-11-12 07:47] nyalldawson commented on #39990
QScintilla is, but the python bindings for it are missing. Try installing the "python3-pyqt5.qsci" package

[2020-11-12 07:53] Gusarovmax commented on #39991
But at the same time, incorrect geometry is created, which is checked by standard means, and errors of the object geometry are displayed. Versions earlier than 3.14 did not have this problem.

[2020-11-12 07:53] sk-dataocean-online commented on #39990
I've made "apt install python3-pyqt5.qsci" but the errors remain.
BTW, the same issue was opened at flatpak: https://github.com/flathub/org.qgis.qgis/issues/79

[2020-11-12 07:56] uclaros commented on #39991
Can you please add the exact steps to replicate the issue?

On Thu, Nov 12, 2020, 9:53 AM Gusarovmax <notifications@github.com> wrote:

[2020-11-12 08:03] Gusarovmax commented on #39991
1. Create a polygon layer in any of the projections
2. Editing a layer
3. Add Polygon Tool
4. Create object on the map
5. Save layer edits
6. Click on the object with the "edit nodes" tool (the extra node is highlighted in green)
7. Make sure there is a front node (drag nodes)
8. Check with the "Check geometry" tool)
9. Make sure that every polygonal object created has extra nodes

[2020-11-12 08:15] luipir commented on #39962
not confirmed in master (if it can be useful)

QGIS version | 3.17.0-Master | QGIS code revision | 6711edbd7c
-- | -- | -- | --
Compiled against Qt | 5.9.5 | Running against Qt | 5.9.5
Compiled against GDAL/OGR | 2.2.3 | Running against GDAL/OGR | 2.2.3
Compiled against GEOS | 3.7.1-CAPI-1.11.1 | Running against GEOS | 3.7.1-CAPI-1.11.1 27a5e771
Compiled against SQLite | 3.22.0 | Running against S

[2020-11-12 08:39] Gusarovmax commented on #39991
Update:
Sorry, version 3.16. No 3.14

[2020-11-12 08:52] anitagraser opened #39993 "Time-aware identify tool"
**Feature description.**
Currently, the identify tool is not time-aware. This makes it very hard to use it on large time-enabled layers.
Making the identify tool time-aware would enable users to make them only list features within the current time period.

**Additional context**
Since TimeManager used to apply a subset string on the layer data provider, time-awareness of identify was the default/o

[2020-11-12 08:53] anitagraser commented on #39076
Thank you @nyalldawson ! I've split this issue on two now.

[2020-11-12 08:54] nirvn commented on #39993
@anitagraser , already fixed :)

[2020-11-12 08:54] #39993 closed

[2020-11-12 08:55] nirvn commented on #39076
@anitagraser , as of now on master (and soon on 3.16.X), the attribute table will only show features within the current temporal range (and canvas extent) when setting the filter to "show only visible features".

[2020-11-12 08:55] anitagraser commented on #39993
@nirvn thanks, then #39856 should probably be closed too

[2020-11-12 08:57] nirvn commented on #39856
Fixed on master.

[2020-11-12 08:57] #39856 closed

[2020-11-12 09:09] anitagraser opened #39994 "Temporal controller time frame is reset when changing step size"
In Master, changing the step size in Temporal Controller resets the current time frame. The user therefore always loses the current temporal "position" and it's hard to get back since there is no way to jump to a specific timestamp (#39107)

![tempcontroller_issue_stepchange](https://user-images.githubusercontent.com/590385/98919174-cca28d00-24ce-11eb-94cd-e740d0f50df7.gif)

[2020-11-12 09:18] luipir commented on #39725
closing

[2020-11-12 09:18] #39725 closed

[2020-11-12 09:19] anitagraser commented on #36552
@timlinux I just stumbled over this issue again and - since I had completely forgotten about the hidden settings - I was worried that WMS-T support is broken. Is anyone working on Temporal Controller currently?

[2020-11-12 09:20] luipir commented on #39615
fixed in #39935 please reopen in crash sill there. Thanks for the detailed report

[2020-11-12 09:20] #39615 closed

[2020-11-12 09:24] PeterPetrik commented on #39971
should be fixed now , uploaded fixed qgis-deps-0.6.0

[2020-11-12 09:24] #39971 closed

[2020-11-12 09:30] jgrocha commented on #39968
It works on Linux. It continues to be just a Windows related problem, right?

[2020-11-12 09:37] uclaros commented on #39991
Can you also try with a clean profile - no plugins?
Maybe it's relevant to #39680

[2020-11-12 10:10] #39801 closed

[2020-11-12 10:13] PeterPetrik commented on #39801
@spatialthoughts can you try in tomorrow's nightly build? should be fixed "correctly" so it should work from command line too

[2020-11-12 10:15] PeterPetrik commented on #39975
is this macos only?

[2020-11-12 10:22] Gusarovmax commented on #39991
If plugins are disabled, the problem does not appear. I confirm.
#39680 has an identical problem but with line features.
I can't work without plugins. What could be the problem with an extra node?

[2020-11-12 10:23] gioman commented on #39991
@Gusarovmax you must find what plugin is the culprit and warn the author/s.

[2020-11-12 10:23] #39991 closed

[2020-11-12 10:24] gioman commented on #39680
@esnyder-rve likely a plugin issue as in https://github.com/qgis/QGIS/issues/39991#issuecomment-725986427

[2020-11-12 10:26] Gusarovmax commented on #39991
The problem disappeared after restarting plugins.
Thanks!

[2020-11-12 10:28] Gusarovmax commented on #39991
The culprit is the module Processing

[2020-11-12 10:30] gioman commented on #39991
@Gusarovmax that is a core plugin, are you sure?

[2020-11-12 10:31] Gusarovmax commented on #39991
Yes, I personally restarted only it and the problem disappeared

[2020-11-12 10:33] Forna73 opened #39996 "label call out lines"
On Qgis 3.10.8 on Windos 10...

...creating a label and selecting the call out line, if I select  "Manhattan lines" style and Arrow as "kind of vector symbol" un-checking the box "repeat arrow on each segment" the final line is a normal line without the angle. If I leave the box checked the line is represented correctly with the arrow on each segment.

It could be recreated with any new layer.

I

[2020-11-12 10:34] Gusarovmax commented on #39991
Can I open a new thread on this issue?

[2020-11-12 10:34] gioman commented on #39991
@Gusarovmax so you have it active now and no issue?

[2020-11-12 10:34] gioman commented on #39991
@Gusarovmax no wait, I would like to confirm it here before opening a new ticket.

[2020-11-12 10:38] Gusarovmax commented on #39991
@gioman How else can I help?

[2020-11-12 10:40] Gusarovmax commented on #39991
@gioman after restarting the processing module in one session, the problem does not appear

[2020-11-12 11:13] Gusarovmax commented on #39991
The problem went deeper. Disconnected absolutely all modules. Created 5 polygon objects. 3 out of 5 have an extra node created. 2 out of 5 have no problems with geometry, there is no extra node.

[2020-11-12 11:49] gioman commented on #39975
Closing as duplicate then.

[2020-11-12 11:49] #39975 closed

[2020-11-12 11:49] gioman commented on #39975
@PeterPetrik no, seems to be true an all platforms.

[2020-11-12 11:50] gioman commented on #39962
@fiedt please attach data we can use to try replicate.

[2020-11-12 11:51] gioman commented on #39925
is this some kind of (AU?) slang?

[2020-11-12 11:52] #39963 closed

[2020-11-12 11:53] gioman commented on #39967
@giedrioks26 from scratch? and still got the issue? this is weird, it is the same I did yesterday to check this ticket.

[2020-11-12 11:55] gioman commented on #39951
@adssonandre this do not seems to be a general QGIS issue, is more likely a local one. Please try on a different machine. You may want to try also on a new QGIS profile, to check if it makes any difference.

[2020-11-12 11:59] gioman commented on #39991
@Gusarovmax disabling plugins without restarting QGIS may not be enough. Try restart QGIS after having disabled all the 3rd party plugins. Even better if you can uninstall them, or more easily... use a new QGIS profile.

[2020-11-12 11:59] giedrioks26 commented on #39967
@gioman after installation you upgraded with apt dist-upgrade?

[2020-11-12 12:14] 9ls1 commented on #30988
Any news/development regarding this?
The legends in the documentation are all "simple" (only one word or one line), but I can't be the only one that need larger/ more advanced legends with a lot of text and the wish of e.g. italic or bold font within the legend?

[2020-11-12 12:24] gioman commented on #39967
@giedrioks26 yes

[2020-11-12 12:28] Gusarovmax commented on #39991
@gioman Created a new profile and repeated the creation of the polygon - there is an extra node.
Then I disabled all modules and reloaded the program. Created a polygon - no extra nodes.
I turned on all the modules again, created a polygon. There are no extra nodes, but the "Advanced digitize tool (Orange triangle)" button failed - it is no longer active.
The problem remains in the old profile.

[2020-11-12 12:29] gioman commented on #39968
it does.

[2020-11-12 12:30] gioman commented on #39968
maybe, I can't test master on Linux right now, if you say it works then is a platform specific issue.

[2020-11-12 12:45] jgrocha commented on #39968
Import without issues on Linux, current master, gdal 3.3.0dev.

The layer is valid, according to PyQGIS. The console print screen is attached.

![cvs layer test](https://user-images.githubusercontent.com/163681/98941491-9839cb80-24e4-11eb-8739-e8f8c1eb5bcf.png)

I think it is a platform specific problem, but more tests should confirm this.

[2020-11-12 12:45] giedrioks26 commented on #39967
very strange ... I had no other choice, I had to upgrade debian from buster to unstable. Now it works.

[2020-11-12 13:02] gioman commented on #39996
@Forna73 this is what I see here, isn't correct?

![Screenshot_20201112_130128](https://user-images.githubusercontent.com/1951107/98943375-49d9fc00-24e7-11eb-9970-4fd1110ce7be.png)

![Screenshot_20201112_130144](https://user-images.githubusercontent.com/1951107/98943384-4cd4ec80-24e7-11eb-94a0-a7cf4916b147.png)

[2020-11-12 13:08] roya0045 commented on #39996
Relevant code section starts from https://github.com/qgis/QGIS/blob/746ee315bd0a4140f6e84617d547cc89103f79aa/src/core/symbology/qgsarrowsymbollayer.cpp#L700

[2020-11-12 13:20] gioman commented on #39991
@Gusarovmax I can't replicate this. meaning that in both scenarios the first and last vertexes are always repeated. This is coherent with WKT definition of geometries https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry For good measure I also checked on polygons that were created on other GIS software, is the same.

[2020-11-12 13:32] gioman commented on #39968
Confirmed, it works on master on Linux.

[2020-11-12 14:13] stev-0 commented on #35144
@roya0045 it should have closed but hasn't so I think someone needs to close it manually. It's fixed from my point of view.

[2020-11-12 14:14] #35144 closed

[2020-11-12 14:19] rduivenvoorde commented on #39994
See: https://github.com/qgis/QGIS/blob/master/src/core/qgstemporalnavigationobject.h#L132
"Calling this (setFrameDuration) will reset the currentFrameNumber() to the first frame."
and
https://github.com/qgis/QGIS/blob/master/src/core/qgstemporalnavigationobject.cpp#L196

So not a  'bug' but more like a feature request :-) ?

So you would want QGIS to calculate the new frames, and then choose the n

[2020-11-12 14:28] fiedt commented on #39962
Yes, set up in settings > system > environment with the option 'if defined' in the drop-down menu.

I'm trying to generate some test data

[2020-11-12 14:40] anitagraser commented on #39994
Nice, so it's a well documented bug :-)

TimeManager behavior was to keep the map start time stable and adjust the map end time according to the new settings.

[2020-11-12 14:42] roya0045 commented on #35144
@stev-0 you're right, when I gave a quick look I saw that the backport was not merged and though it was still pending...

[2020-11-12 14:56] nicogodet commented on #31023
I start to experience the same issue.

[code]

Full reinstall of Qgis 3.16 with OsGeo4W.
Tried on clean profile.

universal_newlines=False do not fix the issue : TypeError: QgsProcessingFeedback.pushConsoleInfo(): argument 1 has unexpected type 'bytes'

[2020-11-12 14:58] gioman commented on #31023
@nicogodet does the input file name/path or output filename/path have special chars in it?

[2020-11-12 15:01] svaccari opened #40000 "QGIS crash when adding labels"
## User Feedback

Added labels to an existing layer.
Some labels have a "newline" character.
Crash is reproducible.

## Report Details

**Crash ID**: [fac08c4d641b5df30e1800c11464ff2011bcfb9a](https://github.com/qgis/QGIS/search?q=fac08c4d641b5df30e1800c11464ff2011bcfb9a&type=Issues)

**Stack Trace**
<pre>
QFontMetrics::horizontalAdvance :
QgsFontMarkerSymbolLayer::characterToRender :
QgsFontMarke

[2020-11-12 15:02] nicogodet commented on #31023
@gioman
`gdalwarp -of GTiff -cutline E:/D/DONNEES_SIG/__ETUDES/16F135/DOSSIER_Modeles_hydrauliques/1_Modeles/TELEMAC2D/ISAKA/lm_isaka.shp -cl lm_isaka -crop_to_cutline E:/D/DONNEES_SIG/__ETUDES/16F135/DOSSIER_Modeles_hydrauliques/1_Modeles/TELEMAC2D/ISAKA/T2D_ISAKA_Q100_VivesEaux/IsakaQ100.tif C:/Users/godet/AppData/Local/Temp/processing_vnbUDu/8f42145ac57e4f7f9cd9a9b6d8f7a6a6/OUTPUT.tif`

No.

[2020-11-12 15:03] gioman commented on #40000
@svaccari try with a new QGIS profile, if problem persist attach sample project+data.

[2020-11-12 15:03] rduivenvoorde opened #40001 "Running (connection) Task makes it impossible to Quit QGIS"
I'm playing with Oracle, sometimes running the Oslandia Oracle db in Docker.
If the db is NOT started, and I try to open the connection node in Browser, I get asked for the credentials (which are fine, but there is just no listener running...). So if I cancel that, there is still a task being started 'Scanning tables for...' (see screenshot.

But if I try to quit QGIS then, I'm presented the 'do y

[2020-11-12 15:05] gioman commented on #40001
@rduivenvoorde I don't think so. It is a nagging issue affecting also network folders for example.

[2020-11-12 15:06] gioman commented on #40001
By the way... it also happens with certain Processing processes... the process is in the QGIS task bar, is unkillable and the only option it is to xkill QGIS.

[2020-11-12 15:08] gioman commented on #31023
@nicogodet I guess that the above works fine when run from the CLI, right?

[2020-11-12 15:11] elpaso commented on #39974
I can confirm that there is something wrong in `asWkb`, the failing tests are wkb related:

[code]

Since Travis is using GDAL 2 I guess nobody noticed.

[2020-11-12 15:18] svaccari commented on #40000
@gioman a new profile didn't help. Crash occurs also on Mac.
I created a new project importing the same layer from scratch and it didn't crash.
At the moment I cannot upload the original project with data (both for size and privacy reasons).

[2020-11-12 15:18] nicogodet commented on #31023
@gioman

Qgis:
[code]
CLI:
[code]

So we have some errors.

[2020-11-12 15:20] gioman commented on #40000
@svaccari reopen if /when you find a way to replicate it in a consistent manner.

[2020-11-12 15:20] #40000 closed

[2020-11-12 15:27] anitagraser opened #40003 "Master fails to load CSV files"
Master (at least on Windows) fails to load CSV files. This issue can be reproduced with the elevp.csv in QGIS sample data.
No reason is given:

[code]

![image](https://user-images.githubusercontent.com/590385/98959620-bfec5c00-2503-11eb-9ab2-8a7b107f8646.png)

[2020-11-12 15:28] anitagraser commented on #40003
Duplicate of #39968

[2020-11-12 15:28] #40003 closed

[2020-11-12 15:36] roya0045 commented on #40001
The process can only be cancelled if a feedback cancel check is reached. This is why it can be finnicky. Either more check would need to be added or a more 'violent' way to stop the thread should be implemented if possible.

[2020-11-12 15:55] elpaso commented on #39974
wait, I'm not yet sure about that: it might well be a digitizing issue after all, it seems like the created CurvePolygon is wrong, even `asWkt` returns a wierd output (see the first element in the curve):

[code]

[2020-11-12 17:04] drf5n commented on #35651
CWD is not sane on MacOS either, per https://github.com/qgis/QGIS/issues/39975#issuecomment-725840125

On MacOS, CWD could be the un-writable root directory `/` in some cases, causing file creation errors, or with a fresh profile, it could be the installation directory `/Applications/QGIS.app/Contents/MacOS/` which is writable, but not normally discoverable with normal MacOS search tools such as `

[2020-11-12 17:08] drf5n commented on #39975
Yes: Windows, MacOS, and apparently Linux.

[2020-11-12 17:50] luipir commented on #39628
fixed with https://github.com/qgis/QGIS/pull/39935

[2020-11-12 17:50] #39628 closed

[2020-11-12 19:53] #39945 closed

[2020-11-12 21:10] uclaros commented on #40001
Not being able to cancel is one issue, but a task stuck at 'Scanning tables for...' while no listener exists is another! The later could be related to #35855

[2020-11-12 21:17] caseyprv opened #40012 "Trying to open QGIS on my MacBook Pro and it bounces and then fails"
This is the first time QGIS has given me an issue.  I am trying to open the application and the application says "Application not responding". I deleted my current application and redownloaded it and it is still doing the same thing.  Has this happened to anyone else or does anyone have a solution for this problem?  I have been using QGIS3.10. Thanks in advance!

**Describe the bug**

**How to Rep