[2020-01-20 11:51] gioman commented on #30726
![Screenshot_20200120_115130](https://user-images.githubusercontent.com/1951107/72724450-3be37500-3b7b-11ea-8cdd-320c57ac2edb.png)

[2020-01-20 11:53] gioman commented on #28394
can you test master? just to be sure that there is not a fix in the latest code.

[2020-01-20 12:02] Robinlovelace commented on #30643
Great, thanks for the tip. Let's hope the cause of this behaviour can be identified by following the reproducible example in #33916. 🤞  it's an easy fix that can come online before the next LTR!

[2020-01-20 12:10] SteveLowman commented on #33916
Is this a duplicate of #33154 ?

[2020-01-20 12:15] Robinlovelace commented on #33916
I think so. It's also a duplicate of #30643.

[2020-01-20 12:17] Robinlovelace commented on #33916
@SteveLowman can you reproduce the behaviour?

[2020-01-20 12:26] SteveLowman commented on #33916
In #33154, @david-laverty 10 days ago reproduced the problem in 3.10.1 with proj 7.0.0 and GDAL 3.1.0. I think we need to try again with 3.10.2 and the latest dev versions of proj and gdal libraries. I will try this when I get time.

[2020-01-20 12:28] Robinlovelace commented on #33916
Many thanks. Apologies for duplicating an issue. Did so because it didn't seem anyone was going to re-open the previous issues despite evidence of the bug in recent QGIS issues.

[2020-01-20 12:30] david-laverty commented on #33916
I have tested this with 3.10.2 (OSGeo4W download) this morning and still having the issue with the thin strip of western Scotland only being displayed. I added the images of what I did to https://github.com/qgis/QGIS/issues/33154

[2020-01-20 12:34] #27162 closed

[2020-01-20 12:34] #27822 closed

[2020-01-20 12:38] gioman commented on #33881
@Griffonaus it really seems a local issue, not a general one. You should try on a different machine (even a virtual machine) and check it.

[2020-01-20 12:39] gioman commented on #30408
works fine on 3.10.2

[2020-01-20 12:41] gioman commented on #33838
@nickrsan no need, I have noticed what you describe also on master.

[2020-01-20 12:42] gioman commented on #33914
@denchat please ask questions in the users or developers mailing lists.

[2020-01-20 12:42] #33914 closed

[2020-01-20 12:44] gioman commented on #33851
@partas1982 I would say we can change this to a feature/improvement request, agree?

[2020-01-20 12:47] gioman commented on #33902
3.10.2 on Linux, no crash when zooming in/out like crazy the project "qgis_crash".
Please try with a new QGIS profile (no 3rd party plugins installed).

[2020-01-20 12:55] roya0045 commented on #33824
Only the expression builder has validation mechanism, I doubt anyone wants to add scopes and expression validation to an input box. It could be done, but this is more stuff and that stuff is a feature.

[2020-01-20 13:00] roya0045 commented on #33915
In the meantime if the label is still straight and the feature is a line, you could use the orientation of the line set the orientation of the label as move it. This is what I tend to do.

[2020-01-20 13:01] gioman commented on #26721
Works fine on 3.10.1 on Catalina.

[2020-01-20 13:01] #26721 closed

[2020-01-20 13:06] SteveLowman commented on #33154
@david-laverty There you have used proj 6.2.1 and gdal 3.0.2. I think we need to test 3.10.2 with the latest dev versions of the two libraries. I will try this when I get time.

[2020-01-20 13:17] gioman commented on #33916
@Robinlovelace so let's close this one. I understand that https://github.com/qgis/QGIS/issues/33154 is closed, but is not ignored. Let's try to figure what is going on and continue comment there.

[2020-01-20 13:17] #33916 closed

[2020-01-20 13:17] fgianoli opened #33919 "crash using proxy connection (proxy.pac)"
**the  plugin manager causes the crash of QGIS under proxy connection**

QGIS crash when I open the plugin manager under proxy (using proxy.pac).
Once configured the proxy under the tab QGIS option, if I try to install a plugin,  QGIS crash.
This error appears only on QGIS 3.10.x.  Versions 3.4.x and 3.8.x are not affected.

**Stack Trace**
[code]

[2020-01-20 13:21] Robinlovelace commented on #33916
Sounds like a constructive approach, but if other people can reproduce the issue should it not be re-opened? Happy to provide further input/tests to help figure it out, let me know if I can be of further help it at least flagging work-arounds, if not debugging, this issue.

[2020-01-20 13:32] gioman commented on #33154
So let's try to clear things:

the ticket is/was about the error message "Cannot normalize transform between EPSG:3857 and EPSG:27700" when reprojecting to 27700 using OSTN15_NTv2_OSGBtoETRS.gsb.

What I am seeing here, on a clean 3.10.2 installation (with OSgeo4W) on a clean Windows system, is that the message does not show anymore.

Steps I follow:

I add the following layer (that has CRS 3857)

[2020-01-20 13:48] Labros89 opened #33920 "Errors for DEM terrain analysis"
Hi I am trying to do some pre-processing operations. However I use some tools and usually I cannot execute the commands. For example, I use Fill nodata from GDAL and I got the following error:
 INFO    GDAL execution console output

             gdal_fillnodata [-q] [-md max_distance] [-si smooth_iterations]

              [-o name=value] [-b band]

              srcfile [-nomask] [-mask filename]

[2020-01-20 14:07] danzig666 commented on #33902
Well it does crash on Windows. Tried it on three different PCs without any plugins.

[2020-01-20 14:16] SteveLowman commented on #33154
@gioman Which proj and gdal versions have you installed with 3.10.2?

[2020-01-20 14:29] david-laverty commented on #33154
@SteveLowman I have now tried using GDAL 3.1.0dev and PROJ 7.0.0 on 3.10.2 Still producing the same "strip" output for me.
![image](https://user-images.githubusercontent.com/48278498/72734205-2711dc00-3b91-11ea-98b0-8a488f75716b.png)

[2020-01-20 14:44] gioman commented on #33154
@david-laverty this is a separate issue. This ticket is about the "Cannot normalize transform between EPSG:3857 and EPSG:27700" message. The datum transformation using the NTv2 grid now works without error messages, and it works ok for vectors and rasters in general (as far as I can see, I do not work with UK data). There is this issue while reprojecting WMS layers, true, but please file it in a n

[2020-01-20 14:46] mankoff commented on #30726
@gioman what do you mean by "isn't a proper CRS for any kind of measurements"? And do you mean the same thing for EPSG:4326? I disagree. I note that Google Maps does have a scale bar and does change appropriately as the map is panned. I don't think that Google Maps is the standard that QGIS should strive for, but 4326 can have a scalebar, as can 3857, but it just takes a bit more work - the locati

[2020-01-20 14:46] gioman commented on #33154
@SteveLowman

![Screenshot_20200120_144606](https://user-images.githubusercontent.com/1951107/72735368-9983bb80-3b93-11ea-81d9-cfa5943449a7.png)

[2020-01-20 14:47] SteveLowman commented on #33154
Yes, I agree. In 3.10.2 with gdal 3.1.0 dev and proj 7.0.0, the problem is the there with the OSTN15_NTv2_OSGBtoETRS.gsb, but the same issue is not occurring now with the less precise transformation files.

So, the issue seems to be specific to OSTN15_NTv2_OSGBtoETRS.gsb, and we should open a new ticket for this. We should also test with EPSG:3857 layers that are not WMS to ascertain whether other

[2020-01-20 14:49] gioman commented on #33902
@danzig666 true, on Windows is easy to replicate.

[2020-01-20 14:58] david-laverty commented on #33154
I never had any issue with the less precise transformation files, only the 1m accuracy one which required the gsb file. Did you have the issue when the gsb file was removed from your system using the lower accuracy transformation? My work around was to use the 2m accuracy transformation with the gsb file removed from my PROJ folder and it worked ok. Do you have a EPSG:3857 layer that's not a WMS /

[2020-01-20 15:02] gioman commented on #33920
@Labros89 this sounds familiar :)

![Peek 2020-01-20 14-59](https://user-images.githubusercontent.com/1951107/72736550-d486ee80-3b95-11ea-84f6-b11f183635cc.gif)

![Peek 2020-01-20 15-01](https://user-images.githubusercontent.com/1951107/72736574-dd77c000-3b95-11ea-890a-0dabb581406e.gif)

The above is on 3.10.2, installed using the OSGeo4W installer.

[2020-01-20 15:04] gioman commented on #33154
https://github.com/qgis/QGIS/files/4086362/test.zip

[2020-01-20 15:15] elpaso commented on #33200
@rduivenvoorde you mention WFS3, but does it work with plain WMS/WFS? In other words is this specific to WFS3?

Regarding your question about cgi self-awareness, I think that it does not matter: the (relative) paths are all calculated relatively to the project path.

[2020-01-20 15:22] Labros89 commented on #33920
I am having the same problems.

Do you know how can I solve it?

[2020-01-20 15:24] gioman commented on #33920
@Labros89 you may have misunderstand my answer with the screencasts: there are no problems. The outputs are created, ignore the message at the end of the SAGA processing.

[2020-01-20 15:30] Labros89 commented on #33920
You are right, however I would like ask you, In the parameter "validity mask" you do not use a layer. However when I run the tool the parameter has as a default the DEM and I cannot remove it. Do you know how can I do remove? and do you believe that this is the problem?

[2020-01-20 15:33] gioman commented on #33920
please update to 3.10.2 with the osgeo4w installer and check if it makes any difference.

[2020-01-20 15:36] faridcher commented on #30408
Thanks for the response. By the way, 3.4 is LTR and this is a serious bug!

[2020-01-20 15:37] Labros89 commented on #33920
How can I update to 3.10.2? Sorry about this but I am a new user of QGIS and in general of GIS

[2020-01-20 15:38] gioman commented on #33920
Run the osgeo4w (network) installer, follow the "advanced" option, choose the "qgis" and "saga-ltr" packages, next next finish.

[2020-01-20 15:42] Beckinboots opened #33923 "Issue with creating features within new layers in QGIS 3.4.4"
I am having sporadic issues when creating features within new layers in QGIS 3.4.4.  Sometimes they save properly and are editable, other times they vanish and don't show in the attribute table.  Files are usually saved to a server which is when I'm having the issue but they seem to work properly if they're saved to my desktop.  This has never been a problem with previous issues of QGIS and has on

[2020-01-20 15:44] gioman commented on #33923
@Beckinboots give a try to a much more recent release as 3.4.15 or 3.10.2 then report back if you still hit the same. If yes we would need detailed steps/data to allow us try replicate. Thanks!

[2020-01-20 15:50] rouault commented on #33878
@giohappy Side remark: my proposed modified title for the issue was more specific I think that "WFS". The layer pointed is a OAFeat (OGC API Feature) one, not a WFS one.

[2020-01-20 15:50] Labros89 commented on #33920
Dear gioman, I updated and it works.
Thanks a lot really!!

[2020-01-20 15:51] rouault commented on #33878
oops above remark was meant for @gioman

[2020-01-20 15:52] gioman commented on #33878
@rouault correct, thanks!

[2020-01-20 15:53] #33920 closed

[2020-01-20 15:59] neteler opened #33924 "PyQt/QtWebKitWidgets.py uses deprecated QtWebKitWidgets"
**Describe the bug**

In PyQt5 "QtWebKitWidgets" is no longer available. Instead it is replaced with "QtWebEngineWidgets". QtWebKit got deprecated upstream in Qt 5.5 and removed in 5.6, see https://wiki.qt.io/New_Features_in_Qt_5.6#Removed_Modules

This has become an issue in Fedora 31+ (and likely other distros offering Qt5.6+), probably requiring a QGIS update in:

https://github.com/qgis/QGIS/b

[2020-01-20 16:29] Houska1 commented on #33902
On Windows, could this be GDAL/proj-related? I noticed the OSGeo4W 3.10.2 build comes with GDAL 3.0.2 and proj 6.2.1 (dated Nov 1 2019), and I thought a number of bugs were going to be fixed in 3.10.2 through associated fixes in GDAL and proj. I think GDAL is now up to 3.0.3 and proj to 6.3 but don't seem to have made the OSGeo4W build.

I'm thinking about this since for me the crash is with zoom

[2020-01-20 16:36] david-laverty commented on #33154
No problems with that tif file using EPSG:3857. That's with both GDAL 3.0.2 / PROJ 6.2.1 & GDAL 3.1.0dev and PROJ 7.0.0 running on QGIS 3.10.2. Windows 10

[2020-01-20 17:12] Spartacus1 commented on #31576
Hi Peter

Until the problem with GDAL is not solved, could it be possible to pack QGIS with the system’s libiconv.2.dylib.
This trick you suggested work perfectly for now and, this way, users can download the packed version and use it almost fully functional.
You can make this “bricolage” in advance in the provided version in qgis.org <http://qgis.org/>
Best Regards

[2020-01-20 17:13] gioman commented on #31576
@Spartacus1 is this a thing with the latest installers? I tested them on Catalina and had no issues in testing several tools in processing (gdal, grass, saga, qgis).

[2020-01-20 17:28] m-kuhn opened #33928 "WMS doesn't render layer with duplicate names"
When several layers with equal names are added in a project, only one of them is rendered, the other ones are silently discarded by QGIS Server.

This often happens when adding the same layer multiple times with different geometries because the underlying table is of type GeometryCollection.

[2020-01-20 17:37] SteveLowman opened #33929 "Allow "fallback" non-preferred transforms if the preferred coordinate operation fails"
**Describe the bug**

In QGIS 3.8 and 3.10, with the high-precision transformation file 'OSTN15_NTv2_OSGBtoETRS.gsb' installed into the OSGeo4W64\share\proj folder, the transformation is not working correctly, and the behaviour is very different to the older, less precise transformations available for EPSG:27700

**How to Reproduce**

1. Use QGIS 3.10.2, including proj 7.0.0 and gdal 3.1.0dev, and

[2020-01-20 17:40] gioman commented on #33929
@SteveLowman for QGIS 3.8 it does not really matter, is EOLed. The onlly one that matters is QGIS 3.10 and in particular only 3.10.2 and future releases.

[2020-01-20 17:43] SteveLowman commented on #33929
Okay, thanks @gioman. I am happy with your title change. Is there any further feedback required for now?

[2020-01-20 17:45] gioman commented on #33929
@SteveLowman this report is super detailed, I don't think is possible to improve it :) There is clearly something going on here, not sure if is QGIS, one of the underlying libraries or the NTV2 grid.

[2020-01-20 17:45] Spartacus1 commented on #31576
Hi Giovanni

The problem still exists in the latest oficial version compiled by Peter. A simple Hillshade generation from the raster menu will not work, returning a libiconv.2.dylib related error. If we install via homebrew or use the WK compilation the problem is absent. However, most users just download the main link from qgis.org and will suffer from this bug. Peter gave a workaround that works

[2020-01-20 17:47] gioman commented on #31576
@Spartacus1 isn't this the one linked in the Download page on qgis.org site? if yes I have no issues with it. But maybe I tested the wrong tool.

GDAL's?

[2020-01-20 17:47] gioman commented on #33928
@m-kuhn a long standing issue as far as I remember.

[2020-01-20 17:51] Spartacus1 commented on #31576
Yes, GDAL’s one from the Raster Menu -> Hillshade and let it generate a temporary file.
The problem exists with the very latest oficial version. Just tested an hour ago. I have already made Peter’s suggested medicine to solve the problem and it works now.

[2020-01-20 18:31] nyalldawson commented on #33924
It was later undeprecated by qt. The web engine widgets aren't a full replacement, and qgis requires functionality that isn't available in the web engine versions. This is a won't fix.

[2020-01-20 18:31] #33924 closed

[2020-01-20 18:32] gioman commented on #31576
@Spartacus1 just tested on a clean Catalina machine: no issues and no tricks applied.

[2020-01-20 19:03] Xeenych commented on #28394
Looks like I am supposed to build It, but I can't.  Is there a compiled version of master?

[2020-01-20 19:04] gioman commented on #28394
@Xeenych on what platform you are?

[2020-01-20 19:06] Xeenych commented on #28394
Windows 7 x64

[2020-01-20 19:08] gioman commented on #28394
https://qgis.org/downloads/weekly/?C=M;O=D

[2020-01-20 19:14] uclaros commented on #33902
On linux, 3.10.2 built with gdal 2.4.3, proj 6.3.0, new clean profile it crashes pretty fast.
On 3.10.1 same gdal/proj it works fine.

I also had 2 crashes on my project with 3.10.2 while zooming but had work to do and could not investigate so I switched to 3.10.1 .

[2020-01-20 19:17] gioman commented on #33902
here

QGIS version | 3.10.2-A Coruña | QGIS code revision | 616ad4531b
-- | -- | -- | --
Compiled against Qt | 5.9.5 | Running against Qt | 5.9.5
Compiled against GDAL/OGR | 2.2.3 | Running against GDAL/OGR | 2.2.3
Compiled against GEOS | 3.6.2-CAPI-1.10.2 | Running against GEOS | 3.7.1-CAPI-1.11.1 27a5e771
Compiled against SQLite | 3.22.0 | Running against SQLite | 3.22.0
PostgreSQL Client Versio

[2020-01-20 19:21] uclaros commented on #33902
crash:

QGIS version | 3.10.2-A Coruña | QGIS code revision | 274c723567
-- | -- | -- | --
Compiled against Qt | 5.12.5 | Running against Qt | 5.12.5
Compiled against GDAL/OGR | 2.4.3 | Running against GDAL/OGR | 2.4.3
Compiled against GEOS | 3.8.0-CAPI-1.13.1 | Running against GEOS | 3.8.0-CAPI-1.13.1
Compiled against SQLite | 3.31.0 | Running against SQLite | 3.31.0
PostgreSQL Client Version | 1

[2020-01-20 19:22] Xeenych commented on #28394
The jags are still there
![1111](https://user-images.githubusercontent.com/11345848/72752445-45003080-3bd3-11ea-859f-8b79d8d7bd03.jpg)

Tested with QGIS-OSGeo4W-3.11.0-2-Setup-x86_64.exe

[2020-01-20 19:42] nyalldawson commented on #33902
You shouldn't be using gdal < 3 with a proj 6 build -- that's not supported. Use a gdal 3.0.3 and proj 6.3 instead.

[2020-01-20 19:45] saberraz commented on #33902
I can replicate the issue under QGIS master, latest Proj and GDAL:
![image](https://user-images.githubusercontent.com/2649047/72753670-6b1ad600-3bbd-11ea-8cfd-ed887e73032c.png)

[2020-01-20 20:11] uclaros commented on #33902
GDAL 2.4.3 and PROJ 6.3.0 are the versions supplied by the Debian testing repository.

[2020-01-20 20:17] nyalldawson commented on #33902
That's a bug in debian then -- it's not a stable combination, and is incompatible with qgis.

[2020-01-20 20:24] danzig666 commented on #33902
Ok, but why did you close the issue? The bug I submitted occurs in the official 10.3.2 release and is reproducible.

[2020-01-20 20:25] denchat opened #33931 "[QGIS 3.11-Master] Qt keeps complaining "WARNING GEOS exception: UnsupportedOperationException: getX called on empty Point""
**Describe the bug**

Qt keeps issuing messages about

often when there are some labels get rendered.

**How to Reproduce**

1. set labels to show
2. try zoom in/out or pan your maps
3. notice that the Qt messages keep piling up

or download this sample then try to pan map around
[labeling_bug_perhaps.zip](https://github.com/qgis/QGIS/files/4087696/labeling_bug_perhaps.zip)

**QGIS and OS versions

[2020-01-20 20:28] denchat commented on #33914
@gioman After further investigation. I'm certained that this is probably some kind of mild regression of label renderer.

I just filed some details about it with a sample project at #33931 . Please re-consider keep that open.

[2020-01-20 20:30] saberraz commented on #33902
I can confirm the bug is reproducilble with the latest: QGIS, GDAL, Proj and GEOS. I cannot even get a meaningful output from trace:

[code]

[2020-01-20 20:30] nyalldawson commented on #33902
Because it's an upstream issue -- we can't fix that in QGIS

[2020-01-20 20:36] saberraz commented on #33902
Probably related to this https://github.com/qgis/QGIS/issues/33709
@danzig666 could you reproduce the issue with the project I included in https://github.com/qgis/QGIS/issues/33709 so that I can close that?

[2020-01-20 20:50] danzig666 commented on #33902
Yes! I can't even properly open your project, QGIS just closes while rendering the map.

[2020-01-20 20:53] saberraz commented on #33902
Thanks for checking. I am closing the other one, because I believe they are the same issue. I have some debug info there which might help anyone who wants to dive into the issue.

[2020-01-20 20:54] saberraz commented on #33709
Duplicate of #33902

[2020-01-20 21:13] corx28 opened #33932 "No funciona el terrain profile con ruta de GPS en 3.10.1 ni 3.10.2"
Lo he probado en varios ordenadores. Estamos dando un curso y nos ha pasado a todos los que usamos estas versiones y he venido a casa y pasaba lo mismo.
Cuando voy a hacer un perfil de terreno de una ruta gpx al seleccionar la ruta se queda "en espera" hasta que se cuelga.

Gracias

[2020-01-20 21:30] espinafre opened #33933 "Building on Debian Sid: dh_install: warning: Cannot find (any matches for) "usr/share/sip/qgis" (tried in ., debian/tmp)"
When trying to build QGIS (commit 1bf50cf0409e9bf5465d75eab870f5a0c9531434) on Debian Sid, current as of 2020-01-20 15:20 UTC, after pulling from master, with the following command:

DEB_BUILD_OPTIONS="nocheck parallel=3" dpkg-buildpackage -us -uc -b --jobs=3

the final step of actually making the Debian package fails. The last few lines spewed by the build system are:

[code]

**Describe the bug*

[2020-01-20 21:39] luipir commented on #33932
ES: Titulo y descripcion hay que hacerla en ingles ya que la comunidad es internacional.
EN: title and description have to be in english due the fact that this is a international community

please provide a test procedure and eventually test data set and much more details about platform, OS version and qgis about snapshot. Please before to report, test with a clean qgis profile.

I'm closing the i

[2020-01-20 21:39] #33932 closed

[2020-01-20 21:52] ar-siddiqui opened #33934 "Flash the Feature When it is Found through Search Menu in the Status Bar"
**Feature description.**
QGIS would rock even more if it would Flash the Feature When it is Found through Search Menu in the Status Bar. It gets difficult to figure out which feature was found if there are multiple features in the canvas extent.

**Additional context**
See here it is difficult to figure out which pipe it found.
![image](https://user-images.githubusercontent.com/53625184/72759919-1

[2020-01-20 21:59] someone191 opened #33935 "Ignore Spaces and Tabs in Search In the Status Bar"
Feature description.
QGIS would rock even more if it would ignore spaces in the search bar in the Status Bar. When you copy something from an excel cell and paste it in the search bar, QGIS would put a space at the end and would not find anything. It would be cool if it doesn't do that and/or ignore all spaces or atleast leading and trailing spaces.

Additional context
See here it did not find any

[2020-01-20 22:05] someone191 opened #33936 "Flash Feature Option Should Pan to the Feature First Before Flashing It"
**Feature description.**
QGIS would rock even more if Flash Feature Option from Attribute Table Pan to the Feature First Before Flashing It. Currently, you have to first pan/zoom to feature first and then flash the feature in order to get the advantage of this feature.

**Additional context**
![image](https://user-images.githubusercontent.com/53625184/72760520-06548100-3ba7-11ea-892f-ed6192db0b4a.

[2020-01-20 22:10] someone191 opened #33937 "Allow Selecting Single/Multiple Columns, Selecting Multiple Cells, and Pasting Multiple Values in the Attribute Table"
**Feature description.**
QGIS would rock even more if it Allow Selecting Single/Multiple Columns, Selecting Multiple Cells, and Pasting Multiple Values in the Attribute Table. ArcMap and almost every other program allow that. Currently, if you click on a column to paste values, there is no way to select it and there is no option to paste values.

[2020-01-20 22:43] nyalldawson commented on #33812
This is an upstream gdal issue - fixed in the gdal project already

[2020-01-20 22:43] #33812 closed

[2020-01-20 22:49] nyalldawson commented on #33902
Sorry - my mistake -- I got confused which thread this comment related to!

[2020-01-21 01:19] nickrsan commented on #33838
OK, it occurs in 3.10.2 as well, just tested - same system as above, only changes were to restore original profile and upgrade to 3.10.2. I'm attaching a zipped shapefile that should reproduce the behavior - nothing special about it except that it's in NAD83 GCS - happens with other formats and data as well. Thanks!
[navarro_streams.zip](https://github.com/qgis/QGIS/files/4088748/navarro_streams.z

[2020-01-21 01:19] nickrsan commented on #33838
Oh, just saw your comment about having seen the same thing in master. Well, now we have one more data point anyway :) - thanks!

[2020-01-21 01:37] #33878 closed

[2020-01-21 01:38] #33791 closed

[2020-01-21 01:41] #30161 closed

[2020-01-21 02:42] jef-n commented on #33933
should be fixed in 0a9c9e6696a85

[2020-01-21 02:42] #33933 closed

[2020-01-21 03:11] #33883 closed

[2020-01-21 04:47] nyalldawson commented on #33929
This issue is very complex -- QGIS isn't completely at fault here.

The vertices of the polygons in the attached file fall outside of the valid bounds for the grid shift file. Proj reports these as:

[code]

Here we have vertices at:
 -11.3, 59.36
5.36, 59.83
-11.70, 49.7
5.46, 49.43

So all four coordinates are outside of the bounds of the grid shift file. When the coordinates are reprojected, th

[2020-01-21 04:48] nyalldawson commented on #33929
For now, the take away is not to use the grid shift file in these circumstances. That's a workable solution in existing QGIS versions. I'm tagging the other enhancements as a feature request for potential future work.

[2020-01-21 06:50] NealKrautz opened #33947 "Vertex Tool cache not refreshing after changes to line features"
**Vertex Tool cache not refreshing after changes to line features**

The environment for this bug is editing line features in a (PostGIS) database layer.  The Vertex Tool initially shows all the vertices on hover, and allows editing for all line features existing when the QGIS session was started, or when the layer is opened.  The Vertex Tool also correctly shows vertices on hover for line feature

[2020-01-21 06:59] lbartoletti commented on #33947
I think it's already fixed in the latest version.
Ping @troopa81

[2020-01-21 07:45] m-kuhn commented on #33928
@gioman any duplicate issue reports I didn't discover?

[2020-01-21 07:54] troopa81 commented on #33947
@NealKrautz You have to set up data dependencies so QGIS will be aware of the database trigger modifications and will refresh the cache. In your scenario, you have to setup your layer as a dependency of itself.

More informations [here](https://oslandia.com/en/2020/01/10/en-qgis-snapping-improvements/)  (circular dependencies)

[2020-01-21 07:54] #33947 closed

[2020-01-21 08:11] Gustry commented on #33928
You need to use the last section in Project Properties -> QGIS Server tab. It's checking for duplicated names.

[2020-01-21 08:21] m-kuhn commented on #33928
@Gustry are you referring to "use layer ids as names"?
Is this a workaround or are you saying it's a "wontfix"?

[2020-01-21 08:34] andywicht commented on #29560
In QGIS 3.10.2 it is still not possible to create a new feature in a table with a PK column defined like that. The field is marked as NOT NULL, therefore QGIS expects a value, but it is impossible to add a value because one can not type in that field.

![identity](https://user-images.githubusercontent.com/21099522/72787923-23359680-3c31-11ea-8453-9e559ae94edd.png)

[2020-01-21 08:48] rldhont commented on #33928
@m-kuhn it's a wontfix, the OGC services do not have to provide multiple layer with the same name.

In the GetCapabilities, each layer has to have a different name because the name are the identifier. Layers can have the same title. To avoid duplicate name you can use: layer ids or shortname.

@Gustry mentionned the tools in Project Properties -> QGIS Server tab that help you to check your project

[2020-01-21 09:04] m-kuhn commented on #33928
I still think something needs to be done. The current situation doesn't seem very helpful, it's very puzzling to just get a partial output with no control over which layer.

I think the most understandable one for users would be exposing 1 layer in GetCapabilities (as done now) but rendering n layers in GetMap requests. GetFeatureInfo and GetLegend requests could also visit all layers transparentl

[2020-01-21 09:18] elpaso commented on #33928
I agree that the current situation is not ideal, perhaps the most user friendly solution would be to issue a warning when there are duplicated names and also automatically/transparently make them unique by appending an incremental suffix.

[2020-01-21 10:10] SteveLowman commented on #33929
@nyalldawson Thanks, complex indeed. I had not noticed that my polygon vertices were outside of the bounds, so thanks for pointing this out. I now digitised a polygon within the bounds, and it renders for all three CRS layers (27700, 3857, and 4326).

I am a little worried that I might have caused a distraction with this attempt to test with vector layers, although it does show us something perhap

[2020-01-21 10:44] danzig666 commented on #33902
Could someone please test the attached project? Zooming in and out (quite a few more times than the one in my OP, zooming in more) hangs all QGIS versions I have installed (3.4.14, 3.8.3, 3.10.1).
Can anyone confirm? Maybe the same bug?
[Uploading qgis_crash2.zip…]()

[2020-01-21 10:47] elpaso commented on #33928
@jef-n I'm not proposing another naming option, I'm proposing a transparent and automatic way to generate unique names for WMS/WFS typenames just in case there are name clashes.

About using layer ids, I think it's not ideal either: they are supposed to be internal identifiers, they are not user friendly at all, hard to type and hard to remember, and they are not stable: they can change if you rec

[2020-01-21 10:48] m-kuhn commented on #33928
Did you read the second and third paragraphs here https://github.com/qgis/QGIS/issues/33928#issuecomment-576584578 ?

[2020-01-21 11:17] elpaso commented on #33884
More a feature than a bug though.

[2020-01-21 11:23] saberraz commented on #33902
Works fine for me on master and no crash.

[2020-01-21 11:41] elpaso commented on #33928
Yes, I did. But I'm not sure it's always good idea, it is in in case of multiple wkb types from a single source, but in case of different sources it might lead to unexpected results.

[2020-01-21 11:44] m-kuhn commented on #33928
That is true, but is this a reason to dismiss the concept as a whole?
What I can see as issues are:
 - colliding feature ids (project admin responsibility)
 - different CRS (reproject or raise exception)
 - anything else that is a showstopper?

[2020-01-21 11:47] DelazJ opened #33954 "Harmonize 3D map view widget with 2D ones to display the map theme drop-down menu"
Afaict, the map theme selection in a 3D map view settings has no effects on the other settings so, maybe for consistency with other map views and allow quick interaction, the map theme selection menu can be placed over the 3D map canvas dock widget instead of within the settings dialog
Current state in 3.10
 ![image](https://user-images.githubusercontent.com/7983394/72801952-f4c4b500-3c4a-11ea-872

[2020-01-21 11:49] danzig666 commented on #33902
Thanks saberraz for trying!
For me it looks like this:
![XBImc7As9I](https://user-images.githubusercontent.com/5346511/72802533-4e79af00-3c4c-11ea-9270-787374abd96a.gif)

[2020-01-21 11:56] saberraz commented on #33902
I spoke too soon. In fact it does crash my QGIS too.

[2020-01-21 12:10] NealKrautz commented on #33947
Thanks. This solves the problem.  I never realized that dependencies does what we were looking for.  Searching the web didn't reveal this.  Thanks again.

[2020-01-21 12:14] elpaso commented on #33862
@nyalldawson what's the reason for cutting CRS definition at 50 chars?

[2020-01-21 12:21] jef-n commented on #33928
Different sets of attributes for GetFeatureInfo.

[2020-01-21 12:27] m-kuhn commented on #33928
Good point, return attributes found, merged attributes or raise exception?

[2020-01-21 13:20] elpaso commented on #33862
@i-s-o I've made a few small adjustments to the look and feel only, mind giving them a test run when the build is done?

[2020-01-21 15:47] alexbruy commented on #33466
Duplicates #23397

[2020-01-21 15:47] #33466 closed

[2020-01-21 16:22] gioman commented on #33884
yes you are right.

[2020-01-21 16:27] alexbruy commented on #32997
What do you mean by "user cannot make manual changes to the extent from the Extent form element"?
Just tested and if I reduce extent manually these values are used to create output.

[2020-01-21 17:12] glaroc commented on #32997
I mean that if you start by selecting an area on the canvas to give you an approximate extent, and then you try to play with the numbers for extent, rows, columns and resolution to try to obtain an EXACT resolution of your choice, you won't be able to do it, as the ouput rasters' properties won't match the ones that you specify.

[2020-01-21 17:12] gioman commented on #29560
@andywicht can you elaborate? I'm on 3.10.2 and I can add feature to a table that as PK like the following:

![Screenshot_20200121_171048](https://user-images.githubusercontent.com/1951107/72826618-18025b00-3c71-11ea-99ea-41abffa6f480.png)

The gid has the NOT NULL constraint, but also is SERIAL so it gets autofilled. If you don't have the serial property is up to you to add a proper value for the

[2020-01-21 17:13] gioman commented on #32997
So this would be a feature request, I guess.

[2020-01-21 17:15] alexbruy commented on #32997
Well then it is not about "cannot make manual changes to the extent". Looks like duplicate of #31970.

[2020-01-21 17:19] espinafre opened #33960 "Debian build: dh_missing: warning: usr/lib/qgis/plugins/libpostgresrasterprovider.so exists in debian/tmp but is not installed to anywhere"
When trying to build QGIS commit 07b64aaa188cd2c47f8bf5b04fb868a6d7984aff (which already includes the fix for #33933 ) on Debian Sid current as of 2020-01-21 11:00 UTC, the last phase fails with the following:

[code]

[2020-01-21 17:21] glaroc commented on #32997
Technically you can make manual changes to the extent, but they won't be matched in the output, so that's one and the same.

[2020-01-21 17:23] #32997 closed

[2020-01-21 17:59] elpaso commented on #33859
I cannot reproduce with current master.

[2020-01-21 19:41] riccardoklinger opened #33962 "QGIS crashes on "open project""
Tried to open a client project (sorry, can't shre) which was created in 3.4.4 version. Now trying to load it in a new install of 3.4.15 on MacOS crashes QGIS right on start with attached dump.
COuld be connected with issue #33330
project is stored as qgs file with following header:
[code]
QGIS loads until the splash show "project ready" and then closes the application.
I deinstalled all additional

[2020-01-21 19:44] riccardoklinger commented on #33330
hi @raphaelorg , can you open QGIS without a project? My qgis install runs smoothly but when I try to open this 3.4.10 project in #33962 I get a similar report as you receieved it.

[2020-01-21 20:14] raphaelorg commented on #33330
Hi,

Yes I can. I managed to solve the problem, but I wonder if I can remember... It had something to do with the preferences and plugins installed. I think I erased the  user spec folder.

All best,
Raphael

[2020-01-21 21:56] nrimbeau opened #33964 "QGIS crashes when closing or creating new project"
h2. User Feedback

Crashed when clicking on New Project. This also happens when closing the software after saving a project, using the cross button at the top right of the window. I think the software is trying to clear layers from the project I'm working on, and it just fails to and crashes.

I have point layers and rasters, mostly, nothing too exotic.

h2. Report Details

*Crash ID*: 2a6c51fed35

[2020-01-21 22:14] NealKrautz commented on #33947
Most appreciated.  Thanks

Neal Krautz

On 21/1/20 5:54 pm, Julien Cabieces wrote:

[2020-01-21 22:32] #26710 closed

[2020-01-21 22:40] sarcanon opened #33966 "QGIS 3.10.1 Crashes on Startup"
**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

[2020-01-21 23:04] sarcanon commented on #33966
More information:

The following environment variables had previously been set:

PYTHONHOME: C:\Users\(user_name)\AppData\Local\Programs\Python\Python38

PYTHONPATH: C:\Users\(user_name)\AppData\Local\Programs\Python\Python38\Lib;C:\Users\(user_name)\AppData\Local\Programs\Python\Python38\Lib\site-packages

I then deleted these two environmental variables and attempted to restart QGIS, which then

[2020-01-21 23:17] roya0045 commented on #33964
Please update to the latest version to see if this error still occurs.

[2020-01-21 23:42] NathanW2 commented on #33966
This seems odd.  The variables that QGIS sets on startup are found in .emv
next to the .exe file in the bin folder.

It should look something like this for a osgeo4w install:

[image: image.png]

It should be overriding them using those.

On Wed, Jan 22, 2020 at 9:04 AM sarcanon <notifications@github.com> wrote:

[2020-01-21 23:45] NathanW2 commented on #33966
Odd, but also confirmed. Thanks for the find.

On Wed, Jan 22, 2020 at 9:42 AM Nathan Woodrow <madmanwoo@gmail.com> wrote:

[2020-01-22 01:31] #33960 closed

[2020-01-22 01:56] nyalldawson opened #33969 ""Set style for layer" algorithms should allow choice of QML components to apply"
Just like the copy/paste style feature now allows users to set a subset of layer styling to apply (e.g. labelling only), the Processing "Set style for ... layer" algorithms should expose this as an optional choice so that models can apply just a subset of the styling options.

[2020-01-22 05:38] denchat commented on #32507
[QGIS 3.10.2 Release] In my machine now works fine with go2streetview.

[QGIS 3.11.0-61 4a7ea580e9 ] Plugin go2streetview somehow triggers a critical message here

[2020-01-22 05:39] nyalldawson commented on #32507
That's a plugin bug, in the go2streetview plugin. You **can't** use Qt webengine from qgis python plugins, it's just not possible.

[2020-01-22 05:39] #32507 closed

[2020-01-22 07:47] saberraz commented on #32654
Implemented through https://github.com/qgis/QGIS/pull/33679

[2020-01-22 07:47] #32654 closed

[2020-01-22 08:14] enricofer commented on #32507
Reviewing the code I can't find any reference to QtWebEngine (the plugin widget works on QWebView)
and I can't figure where and how the reported critical message raises.
Please @nyalldawson can you point me where investigate to correct the issue?

[2020-01-22 08:35] saberraz commented on #33902
@nyalldawson your PR has fixed the issue for this ticket, thanks. But it appears, my ticket (#33709) is a separate issue.

[2020-01-22 08:35] #33902 closed

[2020-01-22 09:15] AlisterH commented on #29406
Yes, at least in recent 3.8.x and 3.10.x

[2020-01-22 09:16] #29406 closed

[2020-01-22 09:31] saberraz opened #33975 "Improve mesh groups tree"
Currently, mesh group looks like this:

![image](https://user-images.githubusercontent.com/2649047/72875702-be3f7680-3cec-11ea-8835-10f860e5db82.png)

It would be harmonise it with QGIS legend tree (or using radio buttons):
![revamped](https://user-images.githubusercontent.com/2649047/72882105-eaadbf80-3cf9-11ea-9e0f-9a2d660e2c01.png)

[2020-01-22 09:56] elpaso commented on #33859
@benjaminh can you share a test project that shows the issue?

[2020-01-22 10:45] FERRATON opened #33977 "copy / paste feature does not work correctly for MultilinestringZ"
QGIS 3.10.1
See attachments.
copy 'la Sarthe' from 'cours_eau_base' layer.
paste to 'cours_eau_ajout'

the copy creates 321 features
(one for each part of the multiline entity)
[test.zip](https://github.com/qgis/QGIS/files/4096656/test.zip)

[2020-01-22 11:16] saberraz opened #33978 "Support for colour gradient for mesh vectors"
It would be great to have an option to colour the velocity vectors (traces) in mesh according to a colour ramp. Similar to:
https://i.stack.imgur.com/H9yvY.png

[2020-01-22 11:22] #33931 closed

[2020-01-22 11:23] saberraz opened #33979 "Memory layer for mesh"
Currently processing tools (e.g. mesh calculator) writes the output as a file. It would be great to have mesh layer memory type.

[2020-01-22 11:33] gioman commented on #33977
Also on 3.10.2

[2020-01-22 11:36] gioman commented on #33977
@FERRATON this seems limited to the case where the involved vectors have the "Z". Just tested with copies without Z and it works as expected.

[2020-01-22 11:39] #33330 closed

[2020-01-22 11:39] gioman commented on #33962
so the issue is limited only to this specific project?

[2020-01-22 11:44] elpaso commented on #33823
Yes, it hit me too a few times. Can we do anything now or is it too risky?

[2020-01-22 12:11] gioman commented on #33859
@elpaso here it goes

[sample.zip](https://github.com/qgis/QGIS/files/4097131/sample.zip)

Also see this: in the cast is not possible to appreciate the fact that trying to use the "." as separator does not work. But you can see that you can use the "," but that causes the min/max values to automatically revert both to 0

![Peek 2020-01-22 12-09](https://user-images.githubusercontent.com/1951107/72

[2020-01-22 12:15] benjaminh commented on #33859
Exactly what I also get, thank you for providing a data sample !

[2020-01-22 12:34] alexbruy commented on #32995
@Jakob-Lanstorp may I ask you to retest with latest master?

[2020-01-22 12:35] alexbruy commented on #32916
Looks like fixed. Can we close this?

[2020-01-22 12:40] alexbruy commented on #29694
Please test with latest master.

[2020-01-22 12:44] alexbruy commented on #28365
Probably the same as #29765.

[2020-01-22 12:49] alexbruy commented on #26478
What should we do with this?

IMHO both actions should be kept, as Copy/Paste can work between different instances of QGIS, and Duplicate saves couple of mouse clicks.

[2020-01-22 12:51] FERRATON commented on #33977
I confirm.

[2020-01-22 12:51] alexbruy commented on #26200
Is this still an issue with latest master? For me menu expands into two columns and all items are accessible.

[2020-01-22 12:57] alexbruy commented on #26483
Duplicates #22450.

[2020-01-22 12:57] #26483 closed

[2020-01-22 13:10] NathanW2 commented on #33966
@jef-n do you have any thoughts on this one? It sasys `_putenv` should update the variable for the process or is it because it's set outside of the process so _putenv has no effect?

[2020-01-22 13:17] nirvn commented on #32916
Yep.

[2020-01-22 13:17] #32916 closed

[2020-01-22 13:29] DelazJ commented on #26478
Hi @alexbruy

Yep! I did not get the scope of the copy/paste feature when I reported and I think there are different issues/features reported here:
* allow duplicate to duplicate group(s),
* make copy/paste place the new layer above the active layer instead of at the bottom of the layers panel.

We better close this report and i will try to open separate ones.

[2020-01-22 13:30] Livava1 commented on #32404
Same problem here: 3.10.2 QGIS/QGIS Server on Windows Server 2016 / Apache24 uses only default font in WMS. When project files from earlier versions have points symbolised with Font marker this is a show-stopper. The correct fonts are displayed in QGIS Desktop on the same server.

Another example: Setting _ITEMFONTFAMILY=Courier_ in GetLegendGraphic-requests has no effect.

[2020-01-22 13:36] alexbruy commented on #26478
Ok, closing.

[2020-01-22 13:36] #26478 closed

[2020-01-22 13:43] elpaso commented on #33859
@gioman thanks for sharing, unfortunately I still cannot reproduce, I tried with and without locale overrides and with different locales.

I must say that locales are not even taken into consideration in that particular widget so it shouldn't really matter.

The only difference I can think of is that I'm building with a different (and far newer) QT version: 5.13.2.

[2020-01-22 13:48] roya0045 commented on #33962
@gioman From the stacktrace I would assume that the microsoft sql connections to some data on the users side are critical (maybe they have macros other things set up) and those cannot be handled well when the project is transferred?

[2020-01-22 13:56] benjaminh commented on #33859
I don't know if that helps, but I'm not building my QGis version from sources. I installed the LTS version from the official ppa (according to QGis doc) : `https://qgis.org/ubuntu-ltr bionic main`.

[2020-01-22 13:58] Redoute opened #33981 "Map Tips usability"
I thought @nyalldawson did solve #28337 last year, but I see the same problem in QGIS 3.10.1 on Windows. Here a screenshot:

![QGISMapTip](https://user-images.githubusercontent.com/1494624/72898986-696c2200-3d25-11ea-8576-739e6bc6a82d.jpg)

1. can't read first letters of the tooltip
1. can't click/select the feature

Thank you very much for all support.

[2020-01-22 14:11] andy-harney opened #33982 "Prevent Overlapping Label Callouts"
**Feature description.**

When labelling features, and enabling callouts, sometimes the callout lines cross or overlap if the features are close or the label offset is too low or high.
![image](https://user-images.githubusercontent.com/47160505/72900391-b1884600-3d1f-11ea-8aa5-b09d9f3f7245.png)

Given the complexity in working out the optimal callout direction and/or label offset length to prevent

[2020-01-22 14:22] obrix commented on #33488
I can reproduce this bug on 3.11 master. The issue appears right after the editing button is toggled after the renaming. The fields data structure of QgsVectorLayer seems to become corrupted, it keep some of the old names in its nameToIndex HashMap.

[2020-01-22 14:30] denchat commented on #32507
From this [**answer**](https://stackoverflow.com/q/56159475/6370128) from stackoverflow

I guess this is because the `Qt::AA_ShareOpenGLContexts` is suppose to be set before launching a Qt app as shown in this [**answer**](https://bugreports.qt.io/browse/QTBUG-51379?focusedCommentId=309052&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-309052) from qt dev website

[2020-01-22 14:43] neteler commented on #33924
@nyalldawson: I see - in which version? I don't find any reference...

Sure, np. I would, knowing the right Qt version, open a Fedora packaging bugticket.

[2020-01-22 14:46] gioman commented on #33962
@riccardoklinger could you try edit the project file and remove the SQL server layers and see if it make qgis stop crashing?

[2020-01-22 14:46] gioman commented on #33981
@Redoute is this a regression?

[2020-01-22 14:52] SrNetoChan commented on #33981
With the help of Nyall, I have tried to address the problem of having the cursor blocking the map tip. but the solution caused even more problems because as soon as you moved the cursos the tooltip would disappear, making it impossible to, for example click in links inside of it. For that reason, we revert the change and now it is working as it always did.

IIRC, the workaround was to had some pad

[2020-01-22 14:54] gioman commented on #33859
@elpaso yeah... Windows uses 5.11.something and works as expected... closing?

[2020-01-22 14:57] alexbruy commented on #32376
Actually plugin **is installed** and message is correct in this case. It **can not be loaded** because of error and this is completely different.

To verify you can restart QGIS and you will see same error message saying that plugin can not be loaded because of error in the code.

IMHO this can be closed.

[2020-01-22 15:18] riccardoklinger commented on #33962
Will try asap

Von meinem iPhone gesendet

[2020-01-22 15:28] elpaso commented on #33859
@gioman I'd say yes, but I'm not 100% sure QT is to blame.

I cannot test QT 5.9.5 here, sorry, the oldest I have is 5.11.0 but a full rebuild will waste me ~30 minutes.

[2020-01-22 15:29] i-s-o commented on #33862
Sorry for responding late, I didn't have access to my dev-VM: I was only able to compile overnight.

The dialog looks much better now:
![image](https://user-images.githubusercontent.com/1661549/72904198-7e808b00-3cfc-11ea-955a-2fbb26e1553e.png)

Using 80% for the font size and a few more tweaks shown below make it even better in my opinion :). I haven't tested how these tweaks work on other platfo

[2020-01-22 15:32] Labros89 opened #33986 "Grass tools do not work"
Hi, I am trying to use some Grass tools. Actually I tried to use r.reclass and r.flow but both cannot execute the command. They give the same error:

Traceback (most recent call last):
File "C:/OSGEO4~1/apps/qgis/./python/plugins\processing\algs\grass7\Grass7Algorithm.py", line 431, in processAlgorithm
Grass7Utils.executeGrass(self.commands, feedback, self.outputCommands)
File "C:/OSGEO4~1/apps/qg

[2020-01-22 15:35] Gantweb commented on #32311
I also wanted to give the same suggestion

[2020-01-22 15:38] alexbruy commented on #33986
Duplicates #29845

[2020-01-22 15:38] #33986 closed

[2020-01-22 15:50] elpaso commented on #33862
@i-s-o you version also looks nice, can you make a PR?
Going to "actions" on your branch (top menu) you will also find a windows build that you can use for windows testing.

[2020-01-22 15:50] Labros89 commented on #33986
I so that the solution is to change from Grass to Processing/grass, right? But how can I do it?

[2020-01-22 15:52] gioman commented on #33986
GRASS support in QGIS/Processing comes out of the box. Just open the Processing toolbox and use any of the provided GRASS tools (no need to know anything about  GRASS locations/mapsets, but you'll get always simple features vectors as outputs).

[2020-01-22 15:56] TriformDaniel commented on #21266
Copy of https://github.com/qgis/QGIS/issues/20294 right?

[2020-01-22 15:56] Labros89 commented on #33986
I did it but I cannot run any tool...Again I got the same message:
Traceback (most recent call last):
File "C:/OSGEO4~1/apps/qgis/./python/plugins\processing\algs\grass7\Grass7Algorithm.py", line 431, in processAlgorithm
Grass7Utils.executeGrass(self.commands, feedback, self.outputCommands)
File "C:/OSGEO4~1/apps/qgis/./python/plugins\processing\algs\grass7\Grass7Utils.py", line 389, in executeGra

[2020-01-22 16:02] elpaso commented on #33840
@Djedouas thank you for the test script: it was very helpful to identify the source of the issue.

[2020-01-22 16:05] elpaso commented on #33816
What is that `fn_rd_partition` it's not part of QGIS nor postgis.

[2020-01-22 16:06] rjhale1971 opened #33988 "Geotiff Issue on 3.10.1 on Windows"
This was mentioned first on https://lists.osgeo.org/pipermail/qgis-user/2020-January/044693.html

The data is located  ftp://rockyftp.cr.usgs.gov/vdelivery/Datasets/Staged/Maps/HistoricalTopo/GeoTIFF/GA/ and is the GA_Hightower Bald_245924_1988_24000_geo.tif

If you do a gdalinfo on the tiff the first thing you will notice is:
Files: GA_Hightower Bald_245924_1988_24000_geo.tif
Size is 6600, 8050
C

[2020-01-22 16:07] #33817 closed

[2020-01-22 16:09] roya0045 commented on #33981
@SrNetoChan would it have been possible to set the box to anchor at the middle or the bottom of the left border instead of the top? With a little padding this might prevent the cursor from obstructing the text when it first appear.

[2020-01-22 16:14] Redoute commented on #33981
@gioman @SrNetoChan So it seems the fix I have seen never made it to a release version.

[2020-01-22 16:17] SrNetoChan commented on #33981
No idea, what I did was to move the tooltip away from the cursor, but, because it was not below the cursor as soon as the mouse moved the map tip would disappear. At that time it did not seem oto have a simple solution. But I am a noobie developer :-)

[2020-01-22 16:18] SrNetoChan commented on #33981
It kinda did, but it was reverted on the next patch release.

[2020-01-22 16:26] alexbruy commented on #29765
Works fine in master. Please reopen if necessary.

[2020-01-22 16:26] #29765 closed

[2020-01-22 16:27] alexbruy commented on #28365
Please test with latest master. I can not reproduce on Linux and Windows.

[2020-01-22 16:28] alexbruy commented on #29881
Is this still an issue with master?

[2020-01-22 16:30] alexbruy commented on #28347
Works fine with master on Windows and Linux. Please reopen if necessary.

[2020-01-22 16:30] #28347 closed

[2020-01-22 16:31] alexbruy commented on #24384
Looks like already fixed.

[2020-01-22 16:32] elpaso commented on #33586
what is it?

... and what is a "geotab" ?

[2020-01-22 16:36] gioman commented on #33586
@elpaso he means a table with geometries, a layer. I followed the described steps and replicated the issue here.

[2020-01-22 16:37] DelazJ commented on #24384
I confirm I can't reproduce.

[2020-01-22 16:40] #24384 closed

[2020-01-22 16:45] Caligraf21 opened #33991 "QGIS freezing and crashing when I launch it /open projects"
Hello,

I'm new to github/qgis for information...

I have a big issue with the launching of any QGIS version since yesterday and I can't find a solution. Each time I'm trying to launch 3.4, 3.8 and even the newest 3.10 I've installed to fix the problem, QGIS keep freezing when I try to open a project. The launching itself take much more time than usual and it's freezing a lot.
I have not tried to

[2020-01-22 16:50] gioman commented on #33991
@Caligraf21 if you are able to start QGIS a good starting point to try figure where the problem can be is anyway try with a new QGIS profile (settings > user profiles > new profile).

[2020-01-22 16:52] elpaso commented on #33585
@reald how exactly did you add the layer?
Can you paste the provider information?

[2020-01-22 16:57] neteler commented on #29427
The bug is still present in 3.10.1

[2020-01-22 17:01] elpaso commented on #33585
@reald nevermind, found the issue (it works with OGR provider btw, the issue is in spatialite provider).

[2020-01-22 17:04] Labros89 commented on #33986
Still does not work, can you give me more details please?

[2020-01-22 17:16] gioman commented on #33986
[Recording #1.zip](https://github.com/qgis/QGIS/files/4098726/Recording.1.zip)

[2020-01-22 17:25] alexbruy commented on #33986
@Labros89 they does work. In your case there are non-ASCII characters in the path, I already pointed you to the exactly the same issue.

[2020-01-22 17:26] gioman commented on #33988
@rjhale1971 I just tried it on my Windows VM with QGIS master (so the latest and greatest GDAL and PROJ) and I think is ok. I don't think that at this point is worth of testing with anything less than that.

[2020-01-22 17:39] elpaso commented on #29427
I can reproduce: it's seriously broken!

[2020-01-22 17:41] alexbruy commented on #29189
Same as #23675?

[2020-01-22 17:41] gioman commented on #29427
tagged as regression since March 2019 :(

[2020-01-22 17:43] #33200 closed

[2020-01-22 18:05] roya0045 commented on #33981
@SrNetoChan since the map tip is a qwidget and the widget has size attributes, my guess would be that we could simply add half or the full height to the y value in the move() function to simply offset the map tip.

[2020-01-22 18:12] SrNetoChan commented on #33981
@roya0045 I think that's what I have tried, but go ahead and try.

[2020-01-22 18:51] pigreco commented on #33586
@elpaso
I corrected,
geo-table = table with geometry field

@gioman
thanks for the help and confirmation of the bug

[2020-01-22 19:27] Saijin-Naib commented on #33981
It should be doable, because the Advanced Digitizing Tooltip doesn't run under the cursor anymore.
How is that handling the offset?
![image](https://user-images.githubusercontent.com/19295950/72926941-46407300-3d23-11ea-8f19-ab3da0fe9a4c.png)

However, the maptip WILL draw over the Advanced Digitizing Tooltip, which is frustrating.
![image](https://user-images.githubusercontent.com/19295950/729268

[2020-01-22 20:20] i-s-o commented on #33862
Ok, I will submit a PR later tonight.

[2020-01-22 20:34] rjhale1971 commented on #33988
Excellent - I wasn't sure if I should have worried since it worked in master - but - I appreciate your time looking at it.

[2020-01-22 20:57] gioman commented on #33988
Anyway better leave the last word to a developer.

[2020-01-23 00:08] Spartacus1 commented on #29427
We still can use it perfectly by replacing the QGIS libiconv.2.dylib extension by the system's one, as suggested by Peter. However it's an undesirable "bricolage".

[2020-01-23 02:55] nrimbeau commented on #33964
Hi Alex,

Updated to the latest version. It doesn't crash like before, but I'm still
getting the following:

## User Feedback

Happened after having saved the project, and when trying to close.

## Report Details

**Crash ID**: [c2a7b6a256a8cd7a30b6d3b55b07a618c4808f60]('
https://github.com/qgis/QGIS/search?q=c2a7b6a256a8cd7a30b6d3b55b07a618c4808f60&type=Issues
')

**Stack Trace**

QSortFilterProx

[2020-01-23 07:52] Redoute commented on #33981
I think a tool tip (like the one in advanced digitizing) does not take mouse clicks by design. But we decided to allow clickable links in map tips (a design error IMO), so we have to deal with it.

For "1. can't read first letters of the tooltip" I can live with the workaround adding spaces to the text, but sure this is not pretty. Would it be reasonable to add blank space inside the tooltip left

[2020-01-23 07:58] #33585 closed

[2020-01-23 08:34] Caligraf21 commented on #33991
Hi @gioman I tried to set a new profile but it did'nt worked. QGIS is still super slow and keep freezing a lot.

[2020-01-23 08:46] Dkrav-UA opened #33994 "Coordinate transformation is broken for non EPSG CRSs"
**Describe the bug**
QgsCoordinateTransform doesn't work with non-standard (non-EPSG) coordinate systems.
Everything was working on qgis 3.10.1. The problem occurred after an upgrade to 3.10.2.
**How to Reproduce**
src = QgsCoordinateReferenceSystem()
            src.createFromProj4('+proj=tmerc +lat_0=0 +lon_0=25.875 '
                                '+k=1.00003628 +x_0=39903.694 '

[2020-01-23 08:53] danielAtLINZ commented on #31476
Sorry @strk , had to find a postgres/postGIS+topology setup to re-test against 3.4.15-Madeira.

Okay, so I can confirm it no longer crashes for the specific test case.

Closing issue.

[2020-01-23 08:53] #31476 closed

[2020-01-23 08:59] #33709 closed

[2020-01-23 09:38] luipir commented on #33991
I suspect you have some data source is freezing you or some remote mounted directory is parsed by the browser panel.
I would check the project content... a way to do can be to duplicate the project and removing porting of the project to see if the problem is in some layer (or styling a layer).

Obviously would help a lot if you share the project and data  or to have a teswt project that replicate

[2020-01-23 09:40] madhums commented on #33228
So then how can I convert this mbtiles which is in TMS format to XYZ?

I am having the same issue here ([post on gist.stackexchange](https://gis.stackexchange.com/questions/348254/qgis-mbtiles-vs-xyz-tiles-export-inconsistency))

[2020-01-23 09:43] elpaso commented on #29427
I've investigated the issue with the ESACCI-LCMapsColorLegend.qml style and the problem is in the style file itself: it was created with QGIS 2.10 and the `classificationMinMaxOrigin="CumulativeCutFullExtentEstimated"` value is wrong.

The following style was created with QGIS 3 and it works perfectly:

[ESACCI-LCMapsColorLegend_3.x.zip](https://github.com/qgis/QGIS/files/4102247/ESACCI-LCMapsColo

[2020-01-23 09:59] partas1982 commented on #33851
Yes I do agree, we can change this one to a feature/improvement request. thanks for contributing.

[2020-01-23 10:00] Dkrav-UA opened #33996 "DB Manager import to PostGIS fails if target SRID is not stangard EPSG"
**Describe the bug**
Import To Database fails with error:

`Error 7
Loading of the layer "data_cv"."address_point_new" failed`

when "Target SRID" is non-standard EPSG (user-defined CRS is not working).
When "Source SRID" (user-defined) and "Target SRID" (EPSG:4326)  Import succeeds.

**How to Reproduce**

1. Go to DB Manager
2. Start importing table with user-defined SRID to PostGIS
3. Error 7 oc

[2020-01-23 10:05] troopa81 commented on #32377
@gioman Like you said it was already fixed in master, I can backporting it in LTR if possible

I'm not sure about this. If you choose to make the sum for instance, you don't want the default value to be set, you want the sum. It would be maybe better to have an option "reset default value"

[2020-01-23 10:06] Dkrav-UA commented on #33458
In 3.10.1 version everything was fine. It was broken in 3.10.2 version.

[2020-01-23 10:15] elpaso commented on #29427
The other sample https://files.isric.org/soilgrids/legends/ORCDRC.qml is missing a lot of information and I've no data to test it with.

I'm inclined to close this issue unless there are other test cases with QML actually exported by (a supported version of) QGIS.

[2020-01-23 10:23] madhums commented on #33228
Ok so I followed this [gist](https://gist.github.com/tmcw/4954720) and simply converted the y value to `pow(2, z) - y - 1` and it seems to convert properly!

I think xyz is a very standard approach, so I guess QGIS should export it in xyz scheme by default instead of tms. OR an option must be provided for the user to choose which scheme they prefer.

[2020-01-23 10:30] iona5 commented on #29427
i agree with removing high priority if this is related to the qml file created by older versions which are unsupported.

the current behavior however is rather odd - seemingly applying the correct style and then reverting it back without any information. imo at least there should be a warning clearly stating an unsupported or broken file - bonus points for stating that it comes from an unsupported

[2020-01-23 10:32] wonder-sk commented on #33228
MBTiles requires the TMS convention. So if we exported MBTiles file using XYZ convention, all client software supporting MBTiles would display the tiles incorrectly. I am not sure if that would be really helpful...?

[2020-01-23 10:45] elpaso commented on #29427
@iona5 I cannot say I have a clear picture, the code is 12 years old and pretty complicated, but I've spent a few hours now trying to understand what's going on, by importing old/incomplete QMLs (like the test cases here) the style is first applied to the layer, then the layer properties widget is updated **from** the layer's renderer instance.

The fact is that in both sample cases, the ramp info

[2020-01-23 10:54] madhums commented on #33228
Ah ok makes sense. May be we can provide a note in the UI to the user that the tiles exported won't be in xyz and that they would have to make the conversion if intended to be used in xyz scheme.

For GIS people this might be a no-brainer but might help beginners / web developers.

[2020-01-23 10:55] Caligraf21 commented on #33991
Hi @luipir , I've been trying to delete the QGIS project files and I also removed all extensions in case it'd have caused the problem. QGIS still slow as a turtle. Is there any way to clear the 'recent project' or browser panel cache ?
I've also been thinking to remove all the QGIS versions installed and do a fresh and clean QGIS installation not linked to any existing projects on the PC. I'm sorr

[2020-01-23 11:11] gioman commented on #33991
@Caligraf21 if you have really created a new profile you should not see any trace of recent projects and also all your connections to databases, services, etc. would be reset to a clean state. If you did and still you see this issue is likely to be some kind of local issue, this is not of course a general one. You can of course uninstall QGIS, remove any trace of it by removing the QGIS folder wit

[2020-01-23 11:15] Labros89 opened #33997 "Error with GRASS tools in processing"
Hi, I faced some problems with the GRASS toolbox yesterday. I followed some instructions from people who had similar problems. I changed the language in regional settings of Windows. So, I run again some tools from GRASS toolbox and it seems that somehow the problem have solved but still I cannot have an output. I got the following error:

Execution completed in 2.34 seconds
Results:
{'flowaccumul

[2020-01-23 11:17] gioman commented on #33458
"was" or "is"?

[2020-01-23 11:17] amelierfl opened #33998 "Paage Blanche"

[2020-01-23 11:19] gioman commented on #33964
@nrimbeau plesae try with a new QGIS profile, no 3rd party plugins installed.

[2020-01-23 11:20] amelierfl opened #33999 "No more maps"
Hello,
No more maps appear in my QGIS project I tried everything but nothing works to make them reappear.

[2020-01-23 11:21] #33998 closed

[2020-01-23 11:22] #33840 closed

[2020-01-23 11:23] #33885 closed

[2020-01-23 11:23] gioman commented on #33999
@amelierfl Hi, please ask questions in the users or developers mailing lists, the QGIS channel on IRC or gis.stackexchange, this place is only to report bugs and for feature requests, thanks!

[2020-01-23 11:23] #33999 closed

[2020-01-23 11:28] gioman commented on #33996
@Dkrav-UA @elpaso I think it will always fail if that SRID definition is not present in the spatial_ref_sys on the server.

[2020-01-23 11:37] gioman commented on #32377
@troopa81 Hi, I'm a bit lost about backports to 3.4. If is ok on 3.10.2 and master I would say that as the next major releases is near we could close this.

I see your point, I agree that the option  "reset default value" would be good to have.

[2020-01-23 11:42] Dkrav-UA commented on #33996
It was working just fine two minor releases ago. Coordinates passed to geometry without coordinate system specifications.
PostGIS has nothing to coordinate system. It matters only when visualizing data and geospatial operations.
I need to have original coordinates in database.
By the way, I have SRID definition in spatial_ref_sys.  But User-defined coordinates have different SRID on different mach

[2020-01-23 11:43] gioman commented on #33997
@Labros89
seems really duplicate of https://github.com/qgis/QGIS/issues/29845 ...

anyway

could you please check if your inputs (and output) point to files that do *not* have spaces of special chars in their path?

[2020-01-23 11:44] gioman commented on #33996
ok, mine was just a guess.

[2020-01-23 11:47] Dkrav-UA commented on #33458
3.10.1 - ok
3.10.2 - broken

[2020-01-23 11:54] Labros89 commented on #33997
I check it, I tried to store files without spaces or special chars as well as I change "Advance GIS" to "AdvanceGIS" but again the same I having the same issue.

[2020-01-23 11:55] gioman commented on #33997
ok sorry it didn't helped. I'm closing this anyway as is duplicate of https://github.com/qgis/QGIS/issues/29845 add your comment there, thanks.

[2020-01-23 11:55] #33997 closed

[2020-01-23 12:05] mudomau commented on #33338
Sorry @volaya, that was my mistake - Re-Attached the test model:
[Slope_Exclusions.zip](https://github.com/qgis/QGIS/files/4102974/Slope_Exclusions.zip)

[2020-01-23 12:10] Labros89 commented on #29845
I faced similar problems, I changed the language from regional settings in Windows but still I cannot run the tools from GRASS toolbox. Actually, I got the following message:
INFO    GRASS GIS 7 execution console output
             Traceback (most recent call last):

              File "C:\OSGEO4~1\apps\grass\grass78\etc\grass78.py", line 2216, in

              main()

              File "C:\OSG

[2020-01-23 12:46] #33439 closed

[2020-01-23 12:54] elpaso commented on #33977
@FERRATON I cannot reproduce on current master/linux, can you try latest master?

[2020-01-23 13:00] elpaso commented on #33731
Please share a test project.

[2020-01-23 13:06] elpaso commented on #33682
@alexbruy do you want to take this?
If not, I can have a look, doesn't sound trivial though.

[2020-01-23 13:09] elpaso commented on #33583
@obrix please assign to yourself the bugs you're working on, this will spare some time to other developers.

[2020-01-23 13:13] elpaso commented on #33524
duplicated by #33885

[2020-01-23 13:13] #33524 closed

[2020-01-23 13:18] FERRATON commented on #33977
it's strange

I've just tried with QGIS 3.11.0-master révision 4a7ea580e9  ( windows 10)
and I'm reproducing the issue.

[2020-01-23 13:21] elpaso commented on #33518
I cannot reproduce on current master/linux

[2020-01-23 13:21] gioman commented on #33977
me too on Linux (from the repo for Ubuntu, so with slightly old dependencies).

[2020-01-23 13:27] elpaso commented on #33393
Can you please share a test project to reproduce the issue?

[2020-01-23 13:42] obrix commented on #33583
I am not able to assign the bugs to myself right now, I'll see if someone can assign them to me.

[2020-01-23 14:02] elpaso commented on #33977
maybe a different way to copy-paste? Can you attach a short video?

[2020-01-23 14:04] elpaso commented on #33977
@gioman I don't think dependencies matter in this case, it should all be QGIS core code.

[2020-01-23 14:10] Marcus-Vitruvius opened #34000 "QGIS3 doesn't import the "extended entity" data (code 1000 in dxf file format)"
**Describe the bug**

QGIS 2 could import the "extended entity" data as a field in the attribute table (code 1000 in the DXF file format) if you just drag the ascii dxf file into QGIS2
QGIS3 doesn't import that data (no field in the attribute table)
importing the DXF file trough project -> import doesn't import it either.

**How to Reproduce**

Open QGIS 2 (2.18), drag and drop the attached file (

[2020-01-23 14:20] #33758 closed

[2020-01-23 14:30] #29085 closed

[2020-01-23 14:48] FERRATON commented on #33977
see attachment
![copy_paste_issue](https://user-images.githubusercontent.com/2129643/72994664-d05a0b80-3df7-11ea-8c41-84b87a54b83a.gif)

[2020-01-23 14:59] Livava1 commented on #32404
I upgraded from QGIS server 3.10.0? with correct fonts to 3.10.2-2 and the fonts are now default. It doesn't seem like QT_QPA_FONTDIR is used. Fonts are also ok if I use qgis-ltr-server 3.4.15-1, but this lack other fixes so I can't use it either.

[2020-01-23 15:01] elpaso commented on #33383
Just to clarify: the fact that the form shows the default value clauses is the expected behavior, the bug is that when the layer is saved to the backend, the default values are stored verbatim instead of running the functions server side.

Also, the bug affects (at least) two different providers: OGR and spatialite.

[2020-01-23 15:20] MrZombie69232 opened #34001 "QGIS 3.10.1 gdal_merge module missing"
I tried merging two shapefiles but I got error as following

**GDAL command output:
C:\PROGRA~1\QGIS3~1.10\bin\python3.exe: No module named gdal_merge
**
Earlier it was working fine but as I upgraded to 3.10.1 the problem started

_I re-installed it twice but still facing this issue_

[2020-01-23 15:25] gioman commented on #34001
@MrZombie69232 upgrade to 3.10.2

[2020-01-23 15:32] Caligraf21 commented on #33991
@gioman I followed your instructions then I re-installed QGIS 3.10 and the browser panel and the 'recent projects' disapeared BUT QGIS is still slow and freezing. My computer used to run it very fast like instant start and good processing performances so it's very strange...

[2020-01-23 16:00] alexbruy commented on #33682
@elpaso unfortunately I don't have much time — need to do other work and also preparing to 5 day workshop.

[2020-01-23 16:09] elpaso commented on #33977
@FERRATON thank you, it's the same I was doing, I'll give it another try.

[2020-01-23 16:13] roya0045 commented on #33977
@elpaso are you using master with the attribute table fix? Since it might be related to the attribute table, could this explain why?

[2020-01-23 16:36] Caligraf21 commented on #33991
Problem found, it was an external source... a disfonctuntional burned cd caused the freezing ! I forgot about that cd and would never have though it d be the source of the problem. Once we removed the cd, QGIS worked like a charm like before. Many thanks to you guys for trying to help me

[2020-01-23 16:36] #33991 closed

[2020-01-23 16:38] elpaso commented on #33977
@roya0045 it's not related: I also tried with selecting on canvas.

[2020-01-23 16:44] #29361 closed

[2020-01-23 17:19] Gustry commented on #34001
It has already been fixed according to the number of closed tickets given by a search :
https://github.com/qgis/QGIS/search?q=gdal_merge&type=Issues

[2020-01-23 17:58] luipir commented on #33991
many problems comes from browser panel that trying to scan slow (for some reason) devices... this is another case!

[2020-01-23 18:26] troopa81 commented on #32377
That's the [case indeed](https://github.com/qgis/QGIS/pull/30185#issuecomment-577765420), so I close this ticket.

[2020-01-23 18:26] #32377 closed

[2020-01-23 18:41] #34001 closed

[2020-01-23 18:42] gioman commented on #33977
@elpaso I'm copy/pasting from the map canvas and the result is the same.

[2020-01-23 19:02] rouault commented on #32913
Thanks for the reproducer @nirvn

[2020-01-23 19:19] rouault commented on #33588
Assuming this was due to a WFS layer, and thus closing as a duplicate of #32913

[2020-01-23 19:19] #33588 closed

[2020-01-23 19:19] rouault commented on #32254
Assuming this was due to a WFS layer, and thus closing as a duplicate of #32913

[2020-01-23 19:19] #32254 closed

[2020-01-23 19:20] rouault commented on #27736
Assuming this was due to a WFS layer, and thus closing as a duplicate of #32913

[2020-01-23 19:20] #27736 closed

[2020-01-23 19:20] rouault commented on #30226
Assuming this was due to a WFS layer, and thus closing as a duplicate of #32913

[2020-01-23 19:20] #30226 closed

[2020-01-23 19:37] joehumpert commented on #33577
can you explain the workaround to me? i'm experiencing the same issue.

[2020-01-23 19:55] EricMcKeen opened #34005 "Strange crash"
Hi all.

I'm fairly new to QGIS but have been experiencing a strange repeated crash today.

Basically, everything seems to run fine, but occasionally when I attempt to save a layer/output, as I'm typing the name in the windows explorer window QGIS will instantly close. Then, all shortcuts to reopen QGIS will produce the error "The item 'qgis-bin.exe' that this shortcut refers to has been changed o

[2020-01-23 20:14] luipir commented on #34005
Hi @EricMcKeen do you have WFS layers? are you able to test master version (e.g. qgis-dev)? if so, please wait one or two days waiting for merge of latest fixes that would face these "strange" issues.

[2020-01-23 23:55] NathanW2 commented on #34005
@EricMcKeen Can you also include the QGIS version inside any bug reports as the issue might have been fixed in a new version.

[2020-01-24 02:49] nirvn commented on #33711
Confirmed to crash on both my windows (osgeo4w build) and linux (self-built) OSes.

[2020-01-24 03:52] bellanz80 commented on #23859
Hi, i have a DEM.
DEM visualized with Hillshade style. Resampling: "Bilineal"
In QGIS 3.8 and 3.10, when changing the Resamplig to "bilinear", it stays the same as "nearest", where the pixels are visible. Meanwhile, in QGIS 2.18 and 3.4 it works correctly.

![Presentación1](https://user-images.githubusercontent.com/38449926/73043319-424b4880-3e2a-11ea-8f1c-f75c87d10cbc.png)

[clip_dem.zip](https:/

[2020-01-24 04:05] bellanz80 commented on #23859
Important update. He tested with QGIS 3.10.2 and a clean profile, no problem ... everything worked perfect ... will the plugins be? impossible now to know, I have many installed ..

[2020-01-24 05:53] si-kov opened #34007 "Change in CRS format in .prj for the same projection"
The format of the text describing the geographic project as output in the .prj file associated with shapefiles appears to have changed since version 3.10.0. I noticed this issue in v3.10.1 and have just checked with v3.10.2 and the problem persists.

I've not tested for other projections, but here are the contents of the .prj file before and after for GDA94 / MGA Zone 55:

Before:
PROJCS["GDA94_MG

[2020-01-24 06:34] AlisterH commented on #23859
I guess it is easy enough to try copying all the plugins into the clean profile, enabling them all and seeing if it is OK.
Presumably you did confirm it was a problem in fresh empty projects, not just in your existing projects?

[2020-01-24 08:11] ghtmtt opened #34008 "[Label] Capitalize first letter not working properly"
The "Capitalize first letter" in the "Formatting" tab is not working when the cell content is already all capitalized:

![immagine](https://user-images.githubusercontent.com/2884884/73053928-65591500-3e89-11ea-83b7-a565b302489f.png)

No problems if the cell contain mixed lower can upper strings

**QGIS and OS versions**

QGIS 3.10 and QGIS 3.11 on Linux Debian

[2020-01-24 08:42] nyalldawson commented on #34007
This would be coming from the gdal library, not qgis

[2020-01-24 08:50] ashish4ll opened #34010 "CRASH"
Crash ID: cd240faef663603de24a8089d32bb225f5d5dfaf

Stack Trace

QMetaObject::disconnect :
QObject::disconnectImpl :
QgsVertexTool::setHighlightedVertices :
QgsVertexTool::deactivate :
QgsMapCanvas::setMapTool :
QMetaObject::activate :
QAction::triggered :
QAction::activate :
QAbstractButton::click :
QAbstractButton::mouseReleaseEvent :
QToolButton::mouseReleaseEvent :
QWidget::event :
QApplicatio

[2020-01-24 09:05] kannes opened #34011 "Support for comments in filter expressions"
**Feature description.**
Please add support for comments in filter expressions.

Filtering features on a layer is useful for many things. For documenting the reason why or to document a complex expression it would be great if we could add comments (like in other expressions, e.g. for field calculations or overrides) to the filter expressions.

Status quo:
`"field" = 'value'`

Filter expression wit

[2020-01-24 09:11] luipir commented on #34010
Thank you @ashish4ll for you help. Please test with latest qgis 3.10.2-2 and if carsh is still there, then also with master.
If it persists, please try to setup a procedure and data to replicate the crash.

[2020-01-24 09:18] gioman commented on #34010
@ashish4ll also try with a new QGIS profile (no 3rd party plugins installed). Also a more meaningful subject helps.

[2020-01-24 09:27] gioman commented on #34005
@EricMcKeen also try is using a new QGIS profile helps (do not install any 3rd party plugin).

[2020-01-24 09:40] troopa81 commented on #33454
@Infiziert90 I failed to reproduce with QGIS 3.10 and master. I have the same kind of filter with NULL values on a PostGres database and I get exactly the same number of feature with both ways.

Could you provide data and project so I can reproduce?

[2020-01-24 09:40] iona5 commented on #29427
@elpaso yeah, i understand and thanks for the explanations. tried to have a brief look at the situation and honestly gave up a few hours in.

i really would love to find a nice solution here myself, but the code path is so convoluted and my skills are clearly lacking.

i do not insist on dragging this issue along, which is probably a very edge-y case (and a workaround exists). (i might work on thi

[2020-01-24 09:44] anthony-cooper commented on #27532
We're also experiencing the same issues - however struggingly to find reasoning - some machines seem predisposed to it - clean installs on identical machines result in 1 machine suspending, the other not!

[2020-01-24 09:55] Isaacson33 commented on #33731
[qgis test.zip](https://github.com/qgis/QGIS/files/4107711/qgis.test.zip)

[2020-01-24 10:00] elpaso commented on #29427
@iona5 a hand here would be very welcome. Closing for now.

[2020-01-24 10:00] #29427 closed

[2020-01-24 10:07] Isaacson33 commented on #33581
This issue is still saying that more feedback is needed. I'm not sure what more we can provide.

The QgsExpressionBuilderWidget doesn't kern properly on the latest version of KDE Plasma. I'd be happy to play around with the widget itself, but I don't know where it would be in the Qgis source code (not that I'd know what I was looking for, but in the absence of anyone more knowledgeable, I'd give i

[2020-01-24 11:00] SteveLowman commented on #33929
I am quite surprised and pleased to see that on doing the upgrade to 3.10.2-2 with the default libraries, the reprojection is actually working with OSTN15_NTv2_OSGBtoETRS.gsb. I am a bit worried that it may not work with proj 7, but it is working great with proj 6.3 and gdal 3.0.3.

QGIS version
3.10.2-A Coruña
QGIS code revision
d4cd3cfe5a
Compiled against Qt
5.11.2
Running against Qt
5.11.2
Comp

[2020-01-24 11:23] elpaso commented on #34008
Sometimes they are back https://github.com/qgis/QGIS/issues/29889

[2020-01-24 11:23] #34008 closed

[2020-01-24 11:27] pigreco commented on #34008
CONFIRM

OSGeo4W64  3.10.2-2 e master -  WIN 10

![image](https://user-images.githubusercontent.com/7631137/73065836-d1954200-3ea4-11ea-933d-3eb885f0cc1e.png)

[2020-01-24 11:52] davwis opened #34013 "freezecrash when zooming out rasterlayers"
## User Feedback

zooming rasterlayers with quadro card activated..

## Report Details

**Crash ID**: [8f5d13fa3efd1d2720c7edf15577a64b3e660500]('https://github.com/qgis/QGIS/search?q=8f5d13fa3efd1d2720c7edf15577a64b3e660500&type=Issues')

**Stack Trace**
<pre>
MoveSmall memcpy.asm:235
QgsGdalProvider::readBlock qgsgdalprovider.cpp:944
QgsGdalProvider::block qgsgdalprovider.cpp:672
QgsSingleBandPs

[2020-01-24 11:53] wrass opened #34014 "DB Manager using deprecated signature ST_Estimated_Extent for PostGIS 2.1+"
**Describe the bug**

Deprecation warnings are logged by PostGIS whenever users select tables in the QGIS DB Manager.

**How to Reproduce**

1. Open DB Manager
2. Select a PostGIS database and schema
3. Select a database table to view info
4. See warnings in PostgreSQL log: ```"ST_Estimated_Extent signature was deprecated in 2.1.0. Please use ST_EstimatedExtent"```

**QGIS and OS versions**

QGIS

[2020-01-24 12:09] luipir commented on #34013
do you have installed latest 3.10.2 build? e.g. 3.10.2-2?

[2020-01-24 12:17] davwis commented on #34013
yes 3.10.2 but it started in 3.10.1 so its the same problem

[2020-01-24 12:19] davwis commented on #34013
its the version found here: https://qgis.org/downloads/QGIS-OSGeo4W-3.10.2-2-Setup-x86_64.exe

[2020-01-24 12:23] ghtmtt commented on #34008
@elpaso I totally forgot the discussion,. By searching for similar issues I forget to uncheck the "is open" option. Thanks

[2020-01-24 12:24] andywicht commented on #29560
@gioman I have to correct my statement.
If a table is defined as follows:
[code]
Then QGIS does not understand that the DB will autogenerate a value and one would see the window as it can be seen in the previous screenshot.

You can actually put in an ID manually, which defeats the purpose of an autogenerated ID.
There is a sequence present when the table is defined like that. But QGIS does not ac

[2020-01-24 12:25] davwis commented on #34013
one wms-service and one geotiff.. maybe it has to do with overlay feature of the wms service.. but im guessing..

[2020-01-24 12:27] luipir commented on #34013
ok, sorry mine was a unuseful question I can deduce from "QGIS code revision: d4cd3cf"

[2020-01-24 12:30] luipir commented on #34013
as usual... try before with:
clean install and/or clean qgis profile

then prepare a test project to replicate (do not send your cuadro card ;) )

[2020-01-24 12:32] elpaso commented on #33977
Tested again with latest master: cannot reproduce.

[2020-01-24 12:32] plovett opened #34016 "Crashing when changing layers"
## User Feedback

I was trying to move between layers via the panel on the left of the screen, when it froze then crashed. It is quite common. The layer i was moving from was open for edits and i had right clicked on it to look at node data. I then clicked on to a different layer that was not open for edits, and it crashed.

## Report Details

*Crash ID*: 31cacd143ad750aedcb433e6f1bc4a692e8a72e0

[2020-01-24 12:32] gioman commented on #34013
but actually I have a quadro graphic card (although I am on Linux and will not install windows on this machine), so I would be keen to receive all the details and data to try replicate.

[2020-01-24 12:35] gioman commented on #34016
@plovett please try with 3.4.15 or 3.10.2

also try with a new QGIS profile (no 3rd party plugins installed)

if problem continue add/attach/link a project with data we can use to replicate.

[2020-01-24 12:38] gioman commented on #33977
weird, for me is replicable in a consistent way.

[2020-01-24 12:41] roya0045 commented on #33977
@gioman with the latest master or slightly outdated master?

[2020-01-24 12:44] roya0045 commented on #27532
@anthony-cooper do all the machines have the same OS and specs or is there a pattern?

[2020-01-24 12:45] davwis commented on #34013
still does not work. removed profile and reinstalled. want the .qgz file?

[2020-01-24 12:46] davwis commented on #34013
i cant send the data im working on.. not open source

[2020-01-24 12:49] roya0045 commented on #33581
The issue seem to be related to manjaro KDE, somewhat similar to https://github.com/qgis/QGIS/issues/33817#issuecomment-575611941 I guess.

@nyalldawson in the test that you provided the text was added by the python command, but could it be possible that text entered by user input is treated distinctly in that distro?

[2020-01-24 12:53] roya0045 commented on #34013
@davwis is it the combination that make things crash or only one of the two?

[2020-01-24 12:56] roya0045 commented on #34011
This seems like a minefield as this could break parsing in so many ways.

[2020-01-24 12:56] davwis commented on #34013
its a combination. they work fine alone in empty project. but in the project im working on there are also a hillshade of the geotiff and some shapefiles with gradiant coloring.. so there is quite alot going on.

[2020-01-24 12:59] davwis commented on #34013
![image](https://user-images.githubusercontent.com/60259053/73070869-b7159580-3eb1-11ea-87bc-0a6499280874.png)

[2020-01-24 14:05] elpaso commented on #34013
Maybe related to #33711 , how are your resampling settings?

[2020-01-24 14:18] davwis commented on #34013
biliniar and cubic.. so yes maybe i will try to change and see

[2020-01-24 14:20] davwis commented on #34013
nope. still crashed.

[2020-01-24 14:25] gioman commented on #34013
@davwis yeah ok... can't you just clip your data to an extent that is enough to replicate the problem? or even prepare/use fake data.

[2020-01-24 14:28] Isaacson33 commented on #33581
I tried entering text too. It showed up without error. It seems confined to the expression builder widget.

[2020-01-24 14:35] mikenbrenda opened #34018 "“QGIS3.10” can’t be opened because Apple cannot check it for malicious software."
This is on the latest Mac Catalina

[2020-01-24 14:41] elpaso commented on #34013
@davwis the options are in redering settings, there is no bilinear or cubic, just average and nearest-neighbours.

[2020-01-24 14:50] elpaso commented on #30817
Can someone please attach a test project and data?

[2020-01-24 15:26] Saijin-Naib opened #34019 "QGIS Plugin Repository - Improper Parsing of 0 after period"
**Describe the bug**
Currently two plugins show a mis-match between installed/available versions, despite actually being the latest available versions.

**How to Reproduce**
Hard to reproduce, but currently visible in the Plugin Manager. There have been other plugins hit by this same parsing issue, but I can't recall what ones, nor do I have screenshots at current.

It seems to be a parsing issue

[2020-01-24 15:50] gioman commented on #34018
@mikenbrenda don't believe in anything Apple throws at you:

![Screenshot 2020-01-24 at 15 46 41](https://user-images.githubusercontent.com/1951107/73082297-1f1fa800-3ec1-11ea-96bd-445de4ddc898.png)

![Screenshot 2020-01-24 at 15 46 50](https://user-images.githubusercontent.com/1951107/73082310-25ae1f80-3ec1-11ea-93dd-4521f5a2d104.png)

![Screenshot 2020-01-24 at 15 47 03](https://user-images.gith

[2020-01-24 15:50] #34018 closed

[2020-01-24 16:14] bellanz80 commented on #23859
thanks. But in reality it is not easy to copy the plug from one profile to another. Only a majority is included in the profile folder.
And yes, they were new projects. It became clear that something subsequently installed stopped working the resampling.

[2020-01-24 16:19] bellanz80 commented on #23859
Update: I managed to copy all the plug of my profile, normal, to a clean profile (I had not seen the python folder inside the profile).
And as expected, the problem continues to appear ... confirmed are the plug ... a day that has a few hours off, I will do a test.
I also reviewed the OPENCL, and it does NOT change the result, activating it or not.
Thank you!!

[2020-01-24 16:19] rouault commented on #34018
@jef-n mentionned that the OSGeo certificate used for signing Windows builds had expired. Maybe this is the same root cause here ?

[2020-01-24 16:22] pigreco commented on #34008
IMHO anything confusing the user is bug.

m2c

[2020-01-24 16:44] bellanz80 commented on #23859
Last update: I confirm that the problem is NOT the version of QGIS, but the plugs.
I opened the profile with plug in QGIS 3.4, and the error was generated. Thank you

[2020-01-24 17:08] #33854 closed

[2020-01-24 17:33] anthony-cooper commented on #27532
Same OS and spec - I didn't know it was happening until one user said about it, then discovered others had the same issue! Away from my office for the next week, but on return will investigate a bit more to try and find cause, as we have about 10 users on identical/very similar hardware/os, and 3 affected!

[2020-01-24 17:36] gioman commented on #33977
@elpaso @roya0045 I have tested now master on Windows (in opposition to my previous tests on Linux) and it works as expected.

[2020-01-24 17:38] gioman commented on #23859
Should we close this?

[2020-01-24 17:39] roya0045 commented on #23859
I guess it would be nice to isolate the plugin that causes this in order to have a future reference or allow the author to fix it.

[2020-01-24 17:42] roya0045 commented on #27532
@anthony-cooper and I assume that it occurs with any project open even an empty one?

[2020-01-24 17:43] roya0045 commented on #33977
@FERRATON please test with the latest master to confirm it is fixed.

[2020-01-24 18:14] andreasneumann commented on #34018
I would also suspect that is the expired OSGeo certificates fault. As far as I know we use the same certificate also for MacOS.

[2020-01-24 19:02] roya0045 commented on #33577
@joehumpert  see if https://github.com/qgis/QGIS/issues/34018#issuecomment-578186707 helps

[2020-01-24 19:09] roya0045 commented on #33991
@luipir a timeout should be added for unresponsive/invalid drives on the browser scan, there is already a function to handle bad drive but it might be bjorked if so many users are having issues lately. :/

[2020-01-24 19:59] gioman commented on #23859
yes, but if is a plugin to blame this ticket does not belong here anyway.

[2020-01-24 23:28] Normko opened #34020 "QGIS unexpectedly ended v3.10"
Everytime I quite the application I get this message.

## User Feedback

everytime i X out of QGIS

## Report Details

**Crash ID**: [b7976a07d3a82072753bf9b772d69ee3a5e24f16]('https://github.com/qgis/QGIS/search?q=b7976a07d3a82072753bf9b772d69ee3a5e24f16&type=Issues')

**Stack Trace**
<pre>
RtlFreeHeap :
clGetExtensionFunctionAddress :
clGetExtensionFunctionAddress :
clGetExtensionFunctionAddress

[2020-01-25 02:46] NathanW2 commented on #34020
Can you install the latest 3.10.2 and see if you have the same issue there.

On Sat, Jan 25, 2020 at 9:28 AM Normko <notifications@github.com> wrote:

[2020-01-25 03:04] bellanz80 commented on #23859
hi. After 3 hours of testing, I found the problem and the solution ...
I don't know if it's a bug, or if it's completely normal, but the "render resamplig" stopped working because the CRS of the layer is UTM (EPSG 32615), but the CRS of the project was Geographic (EPSG 4326).
By putting the two systems the same, the resample works without problem.
With your great experience, is it a bug, or is it

[2020-01-25 04:07] nirvn commented on #23859
It's a known limitation. We can safely close this as the limitation is well known.

[2020-01-25 09:04] gioman commented on #34020
@Normko Also try with a new QGIS profile, no 3rd party plugins installed.

[2020-01-25 10:55] earthcli opened #34022 ""Points Along Geometry" not creating points if geometry is multipart"
I found the result of qgis:pointsalonglines with v3.10 and 3.2.2 are different, exactly the new version gives a wrong result. see the screenshot attatched.

![Uploading floodchain with QGIS3.10 version.png…]()

[2020-01-25 10:56] earthcli commented on #34022
![flood chain with  QGIS3 2 2 version](https://user-images.githubusercontent.com/5924370/73120039-6fbc0180-3fa4-11ea-8c9d-e42548c10fd9.png)

[2020-01-25 10:57] earthcli commented on #34022
![floodchain with QGIS3 10 version](https://user-images.githubusercontent.com/5924370/73120057-895d4900-3fa4-11ea-8bc6-d1b0989acd6a.png)

[2020-01-25 11:40] #34010 closed

[2020-01-25 12:16] gioman commented on #34022
@earthcli can you attach sample data?

[2020-01-25 12:38] earthcli commented on #34022
@gioman Thanks for your quick response, the sample data is located here:
https://github.com/pcoddo/CambodiaFloods/tree/master/1_Depth_Estimation/Layers

the input is the 'flood_lines.shp'

[2020-01-25 12:52] gioman commented on #34022
the lines where the point are not created are multi-part geometries, if you first use "multipart to singleparts" the result is the expected one, but apparently is still a regression anyway.

[2020-01-25 12:56] krvrd opened #34023 "Strange symbols in field calculator"
QGIS 3.10.1
MacOS 10.15.2
There is strange symbols when I input some expression in field calculator. Strange symbols is too small and underline brackets, too small quotation marks and others.
![image](https://user-images.githubusercontent.com/36080079/73121242-4f327e00-3f89-11ea-958b-187f6ea13f69.png)

QGIS 2
![image](https://user-images.githubusercontent.com/36080079/73121399-b43aa380-3f8a-11ea-8

[2020-01-25 15:25] ValPinnaSardinia opened #34024 "Atlas Export as GeoPdf doesn't create selectable layers in pdf"
Hi,

I and some more colleagues have noticed that in the last QGIS release there is a problem with the export of Atlas as GeoPDFs.

While the export of a simple layout or of a single page of the Atlas as Pdf create a GeoPdf with layers that are possible to select or hide (using the Menu Layout - Export as Pdf...), then the export as GeoPdf of the complete atlas (using the Menu Atlas - Export Atlas

[2020-01-25 16:04] agiudiceandrea commented on #28134
@alexbruy, it's still present in QGIS 3.10.1 standalone installer on W7 64 bit with a fresh new profile.

Unlike previously reported, it seems directly related to the "Meta Search Catalog Client" default plugin, that imports some python modules in which there are some invalid escape sequences:

- [requests](https://pypi.org/project/requests/) (status_codes.py)
- [pygments](https://pypi.org/project

[2020-01-25 16:24] jef-n commented on #28134
done.

[2020-01-25 16:43] agiudiceandrea commented on #28134
Thanks @jef-n, this finally solves the problem!

[2020-01-25 16:45] jgrocha opened #34025 "DB Manager no longer works with pqlib services"
**Describe the bug**

**How to Reproduce**

1. Go to DB Manager
2. Click on PostGIS connections
3. Scroll down to one connection defined using services
4. Open it
5. You will be prompted with a dialogue to enter credentials

![Screenshot from 2020-01-25 16-42-23](https://user-images.githubusercontent.com/163681/73124298-bfdd9880-3f91-11ea-9afc-536df7659ee5.png)

**QGIS and OS versions**

This happ

[2020-01-25 17:39] #28134 closed

[2020-01-25 19:24] MPN-stack opened #34028 "QGIS 3.102 Full Release"
**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

I am providing this for helpul advice on installing 3.10.2
Has 3.10.2 running now  I had to delete my root directory  c:/OSGeo4W64 again before I got an install. The first couple of install attempts did not provide the text for licence agreements I found that this was from the first server i chose.  I am

[2020-01-25 19:32] joehumpert commented on #33577
@roya0045 that did it, thank you!

[2020-01-25 20:08] gioman commented on #34028
@MPN-stack Is this a bug report?

[2020-01-25 21:34] smcarter687 opened #34029 "QGIS Unexpectedly Ended"
## User Feedback

Closing project without saving any work.

## Report Details

**Crash ID**: [211062d6228cfb4a52f06b0fa98b3f10887209f6]('https://github.com/qgis/QGIS/search?q=211062d6228cfb4a52f06b0fa98b3f10887209f6&type=Issues')

**Stack Trace**
<pre>
QList<QItemSelectionRange>::size :
QHeaderView::initializeSections :
QHeaderView::doItemsLayout :
QHeaderView::sizeHint :
QTableView::updateGeometr

[2020-01-25 21:51] gioman commented on #34029
@smcarter687 please update to 3.10.2

if the issue continue please try with a new QGIS profile, no 3rd party plugins installed.

[2020-01-25 21:54] #33488 closed

[2020-01-25 21:58] luipir commented on #34025
ping @strk

[2020-01-25 22:46] smcarter687 opened #34030 "Grass Plugins Not Loading after upgrade to QGIS version 3.10.2-A Coruña"
**Describe the bug**

Grass Plugins not Loading after upgrade to 3.10.2
**How to Reproduce**
Error occurs when starting QGIS

**Additional context**

Message Log:
[code]

The files QGIS is looking for appear to be in the directories:

![image](https://user-images.githubusercontent.com/60302549/73128269-9b39ee80-3f9a-11ea-9744-98c6f5e41d41.png)

[2020-01-25 22:47] gioman commented on #34030
@smcarter687 are you running QGIS by clicking on the "with GRASS" shortcut?

[2020-01-25 23:05] jef-n commented on #34030
Because otherwise it's normal that the grass plugins are not loaded.

[2020-01-26 00:32] earthcli commented on #34022
I see, many thanks.

[2020-01-26 07:18] pathmapper opened #34031 ""Save as..." for raster layer gives different result compared to canvas rendering"
**Describe the bug**

"Save as..." for raster layer gives different result compared to canvas rendering.

**How to Reproduce**

1. Start QGIS and load `SR_50M_alaska_nad.tif` from "Alaska dataset":
http://qgis.org/downloads/data/qgis_sample_data.zip
2. Make sure the Canvas CRS is set to EPSG:2964 (same as the raster layer from the tif file)
3. Zoom in to custom area
4. From layer context menu choo

[2020-01-26 07:41] kosnick opened #34032 "Menu icons in wrong position due to checked - not checked status"
Some of the menu icons are not positioned correctly. I believe it has to do with the 'checked' / 'not checked' status of them.
For example, in the 'View' menu the 3rd option is 'Pan Map'. The icon (the hand) is on top of the letter P and on the left is the usual icon for checked (tick or V). When i deselect the 'Pan Map' , actually select some other option, let's say 'Zoom In' , the tick symbol mo

[2020-01-26 08:01] kosnick commented on #34032
Also in the Layer Styling panel, here are some screenshots:

![QGIS - Layer Styling panel](https://user-images.githubusercontent.com/6617863/73132366-d08a1f00-4022-11ea-8a8c-9aafa9bf4688.png)
![QGIS - Layer Styling panel - Syngle symbol](https://user-images.githubusercontent.com/6617863/73132367-d122b580-4022-11ea-9975-9add908dbb9a.png)

[2020-01-26 08:47] agiudiceandrea commented on #34022
@earthcli, with QGIS 3.10 are you using **gdal**:pointsalonglines or **native**:pointsalonglines?

**qgis**:pointsalonglines is no longer in QGIS 3.10.

If you are using **native**:pointsalonglines while in QGIS 3.2 you used **qgis**:pointsalonglines, the problem could be related to the algorithm port to c++ https://github.com/qgis/QGIS/pull/30175.

[2020-01-26 08:53] Gustry commented on #34032
It looks like a duplicate of https://github.com/qgis/QGIS/issues/32248 ?

Upgrade or wait for Qt 5.12.5.

[2020-01-26 09:00] earthcli commented on #34022
@agiudiceandrea I use qgis:pointsalonglines in the plugin python console, it does works,
I have also tried run it with the processing box GUI (module: points along geometry) , I get the identical result as in python console.

[2020-01-26 09:38] agiudiceandrea commented on #34022
In QGIS 3.10.1 (on my Windows 7 system) hovering the pointer on the algorithm name "Points along geometry" in the processing toolbox I see "Algorithm ID: 'native:pointsalonglines'".

In the python console, executing `QgsApplication.processingRegistry().algorithmById("qgis:pointsalonglines").id()` I see "'native:pointsalonglines'".
So, in QGIS 3.10, qgis:pointsalonglines (the name of the old python

[2020-01-26 10:38] gioman commented on #34031
@pathmapper by choosing an extent that is different from the input (and a slightly different pixel size, the original is 7181.354110795283304) you are asking QGIS to do a resampling, so is normal you get a slightly different result compared to the original. If you use the layer extent and the same exactly pixel size you get an identical copy.

[2020-01-26 10:39] kosnick commented on #34032
Ok, thanks for the update.

[2020-01-26 10:39] #34032 closed

[2020-01-26 11:09] pathmapper commented on #34031
@gioman thanks, but I don't want to save the whole extent as image (because I want to do this also for WMS layers, where I would like to save what I'm seeing on the canvas as an image).

I think the main problem is that the resolution in the setting window doesn't fit to the canvas extent so that resampling happens.

Is there a way to use "Map Canvas Extent" as Extent in the settings window for "S

[2020-01-26 11:33] gioman commented on #34031
yeah it seems that make some rounding, but that is not the main issue (as you can manually change that). The main point is that by choosing manually an extent is very unlikely you are setting one that fill perfectly fit the pixels in the original raster > as you cannot have fractions of pixels in a raster you are asking for a resampling...

I would say that there is really no issue here...

Please

[2020-01-26 11:45] sebastic opened #34034 "Fails to build with Python 3.8"
As reported by Gianfranco Costamagna in [Debian Bug #949864](https://bugs.debian.org/949864):

To make the suggested patch work with older Python as well, the following change was applied to the Debian package:
[code]

[2020-01-26 12:24] roya0045 commented on #34028
@gioman from the last line I would say no.

[2020-01-26 12:25] baumsicht opened #34035 "Expression for previous value in a child layer"
Is it possible to show not the newest but the previous value in a child layer with an expression? (Many child layers are joined to one parent.)

![example](https://user-images.githubusercontent.com/54360394/73135121-1c4ac180-403f-11ea-8e53-3df7643445c4.png)
)

[2020-01-26 12:27] roya0045 commented on #34023
I feel like this is just something in your (customized?) display parameters that affects QT.

[2020-01-26 12:30] roya0045 commented on #34024
@nyalldawson from what I recall the geopdf option was set in the export dialog but when it comes to atlas export is uses the atlas export options. If that did not change, was there a way to set that in that tab? (haven't tested that yet)

[2020-01-26 12:31] krvrd commented on #34023
Where I can reset it to default?

[2020-01-26 12:34] gioman commented on #34035
@baumsicht is this a question or a bug report?

[2020-01-26 12:39] roya0045 commented on #34023
I don't think there is an explicit reset button, but you could take a screenshot of your settings-general-application setup to see if those settings alone can replicate this.

[2020-01-26 12:40] roya0045 commented on #34035
For questions please use stack exchange or the qgis mailing lists.

[2020-01-26 12:41] gioman commented on #34023
@krvrd try a new QGIS profile

settings > users profiles > new profile

[2020-01-26 12:45] krvrd commented on #34023
Just try create and change profile.

![image](https://user-images.githubusercontent.com/36080079/73135425-c253f700-4052-11ea-8474-632532b4d0ac.png)

[2020-01-26 12:47] krvrd commented on #34023
![image](https://user-images.githubusercontent.com/36080079/73135449-30002300-4053-11ea-8a4b-af63b5b2d272.png)

[2020-01-26 12:47] baumsicht commented on #34035
Sorry, is a question.

[2020-01-26 12:48] #34035 closed

[2020-01-26 12:54] rhurlin opened #34036 "Error on FreeBSD 'use of undeclared identifier proj_assign_context' since #e60d0ac"
**Describe the bug**

On FreeBSD 13.0-CURRENT with clang-9.0.1 I get the following breakage since [#e60d0ac](https://github.com/qgis/QGIS/commit/e60d0ac2687417fedcced9cb6b98235b3ef662a5)

`[..snip..] Building CXX object src/core/CMakeFiles/qgis_core.dir/qgscoordinatereferencesystem.cpp.o
cd /usr/ports/graphics/qgis-devel/work/.build/src/core && /usr/bin/c++  -DPROJ_VERSION_MAJOR=6 -DQT_CONCURRENT_

[2020-01-26 13:02] PauloEduardoCardoso opened #34037 "Crash when using advanced digitizing tools"
## User Feedback

exploring advanced digitizing tools to split a layer.

## Report Details

**Crash ID**: [03364e9e53adf4eabab9cb4afbfb527b314295a3]('https://github.com/qgis/QGIS/search?q=03364e9e53adf4eabab9cb4afbfb527b314295a3&type=Issues')

**Stack Trace**
<pre>
QgsLocatorResultsView::selectNextResult :
QgsLocatorWidget::eventFilter :
QCoreApplicationPrivate::sendThroughObjectEventFilters :
QAp

[2020-01-26 13:04] gioman commented on #34037
@PauloEduardoCardoso please update to 3.10.2

if the problem persist try with a new QGIS profile, no 3rd party plugins installed.

[2020-01-26 13:31] rouault commented on #34036
Updating to proj 6.3.0 will fix it, and will fix other runtime issues

[2020-01-26 14:45] rhurlin commented on #34036
I just updated PROJ from 6.1.1 to 6.3.0 and now QGIS builds again :)
Fortunately, the official update of the FreeBSD port of PROJ 6.3.0 is coming soon.

Many thanks for the fast and helpful response.

[2020-01-26 15:30] pathmapper commented on #34031
Well, I expected it would be possible to save the area which is visible on the canvas without resampling because what is shown on the canvas is also not resampled.

But sure, on the other hand there is a need for resampling if you don't allow the saved image to be up to one pixel in x and y dimension overlapping the canvas extent.

Closing here because it seems that the current behavior of _"Save

[2020-01-26 15:30] #34031 closed

[2020-01-26 15:38] FlyingEagle opened #34039 "Crash on saving actual layers data"
## User Feedback

I wanted to save the actual Layer - it is not reproduceable all the time but it happens from time to time.

## Report Details

**Crash ID**: [608547bebf1f28febe6672b3c64e642ee6c24562]('https://github.com/qgis/QGIS/search?q=608547bebf1f28febe6672b3c64e642ee6c24562&type=Issues')

**Stack Trace**
<pre>
RtlpFreeHeapInternal :
RtlFreeHeap :
_free_base :
QgsLabelFeature::~QgsLabelFeatu

[2020-01-26 15:38] gacarrillor commented on #33977
Tested with master (revision f82932e39a, build today) on a Linux machine.
I confirm this issue was fixed.

[2020-01-26 15:43] Gustry commented on #34039
Upgrade to 3.10.2
http://blog.qgis.org/2020/01/24/public-service-announcement-update-to-the-latest-point-release-now/

[2020-01-26 15:51] pcav commented on #23859
Sorry, I don't agree: even if known, this is a real issue for the user. Apparently it should be easily overcome by activating resampling.

[2020-01-26 15:51] #34036 closed

[2020-01-26 17:40] jfbourdon commented on #23859
If I may add my voice, I'm glad to have came across this issue as it was a real bummer for me to see that the hillshade renderer was not usable due to the cells being visible. Only now, after 3 years of using QGIS, I learn that:

1. The CRS of the layer needs to be the same of the one of the project to minimize artifacts;
2. The sampling method must be changed from the default *nearest* to *biline

[2020-01-26 21:57] alasarr commented on #25569
Hello,

I'm having the same issue on QGIS3.6 and QGIS3.10, both of them on OSX.

It looks QGIS is not able to send the root certificate. I reported it too at [gis.stackexchange.com](https://gis.stackexchange.com/questions/348037/qgis-connection-to-postgis-via-ssl)

[2020-01-26 22:42] alasarr commented on #25569
I've just realized there is a tab in Preferences->Authentication->Manage Certificates->Authorities to add the authority.

Once I added the authority it works.

BTW, I'll create a feature request to try to improve the UI. I think it would be better to ask for all the connection parameters at the connetion interface (client.crt, client.key and root.crt).

[2020-01-27 01:38] GeoEugeneK opened #34042 "Window turns blue when moving another window over it"
The problem occured when Python console window was being moved over Layer Styling Panel and persist if I switch the panel back and forth.

More specifically, I moved undocked Python console over the panel but did not finally dock it. For some reason, QGIS produced this kind of bug because of how I moved Python console, as when I tried to reproduce the bug, it did not work out.

Image 1: QGIS scree

[2020-01-27 05:34] scottshambaugh opened #34044 "QGIS 3.10.2 crashes when committing changes to a layer after editing geometry in python console"
**Describe the bug**
When I attempt to modify my layer's geometry using the Python Console, QGIS crashes when I call the commitChanges() method.

Using a fresh installation of QGIS 3.10.2 on Windows 10. I believe I ran into this issue on previous versions as well.

**How to Reproduce**

The following code snippet (doesn't do anything useful, I tried to edit down to the bare essentials) triggers th

[2020-01-27 07:42] FERRATON commented on #33977
I confirm that the working is correct in the last QGIS master.
is it possible to port the patch to QGIS 3.10 LTR ?

[2020-01-27 07:52] nirvn commented on #33711
Some more debugging information output (debug output from the QgsGdalProvider::block(...) function):

[code]

[2020-01-27 08:00] nirvn commented on #33711
Here's the same debug info when loading a raster with nearest neighbor resampling (i.e. not leading to a crash):

[code]

Here, width == tmpWidth (835) whereas width != tmpWidth in the debug info from the scenario that crashes QGIS. @nyalldawson , is width != tmpWidth normal?

[2020-01-27 08:25] elpaso commented on #34044
The problem is:
[code]

QgsGeometry gets garbage-collected. Store it in a python variable.

[2020-01-27 08:28] elpaso commented on #33977
Which patch exactly?

[2020-01-27 08:48] FERRATON commented on #33977
Sorry, I don't know exactly !
Isn't it possible to identify the modification that allowed the problem to disappear in the QGIS master ?

[2020-01-27 09:00] elpaso commented on #33711
I can reproduce the crash on current master/linux.

[2020-01-27 09:01] nirvn commented on #33711
I just checked against 3.10.2 on windows, it crashes there too.

[2020-01-27 10:04] guenterhack commented on #33789
I'm not sure whether this is a related issue. I am using the official shapefiles from the Austrian statistics bureau _a lot_ and QGIS is handling them in an inconsistent manner.
Example File: https://data.statistik.gv.at/data/OGDEXT_GEM_1_STATISTIK_AUSTRIA_20200101.zip

I start a new project in QGIS.
I use an xyz Tilemap of OSM as a basemap.
Then I open the Statistik Austria file in 3.10.2 on Wind

[2020-01-27 10:44] simonwright-jbarisk opened #34054 "Environment variables are overwritten rather than appended"
**Describe the bug**

In QGIS 3.4.15 it is possible to update current environment variables using different options including overwrite, append, prepend, etc.

However, in both QGIS 3.10.1 and 3.10.2, the different options don't work - the selected environment variable is just overwritten.

**How to Reproduce**

QGIS version
3.10.2-A Coruña
QGIS code revision
d4cd3cfe5a
Compiled against Qt
5.11.2

[2020-01-27 11:09] zanzi77 commented on #33919
Dear All,
I'm experiencing the same issue as reported above when we try to install plugins. (just selecting the name of the plugin)

![crash](https://user-images.githubusercontent.com/37799124/73170061-c426c480-40fd-11ea-8304-4b2680ab7d7d.JPG)

with QGIS 3.10.2.2 on Windows. No issue with 3.8 or 3.4.x versions

[2020-01-27 11:26] gioman commented on #34044
Closing?

[2020-01-27 11:28] gioman commented on #34039
@FlyingEagle and if the problem persist plesae try with a new QGIS profile, no 3rd party plugins installed.

[2020-01-27 11:29] gioman commented on #34042
@GeoEugeneK not sure if I really understand what the issue is. A screencast would be better than a still image.

[2020-01-27 12:55] roya0045 commented on #34042
I feel like this would be on the QT side if it shows the possibility of docking but is then unable to do it due to size constrains or something else. I may be wrong though.

[2020-01-27 12:59] roya0045 commented on #33977
@elpaso I know that my fix was not backported and it affects the copy paste function and other things related to the attribute table. I am guessing that if someone builds master right before it was merged we could see if this is the root cause and backport it at the same time.

[2020-01-27 13:08] elpaso commented on #33977
@roya0045 I think you should backport that PR in any case.

[2020-01-27 13:11] roya0045 commented on #33977
@elpaso agreed, I'm just not too sure how to backport properly without breaking things, I'll give it a try when I have some time today. Should I backport for both 3.10 and 3.4 or only one?

[2020-01-27 13:17] danzig666 opened #34056 "Crash changing font marker size on Windows"
**Describe the bug**
QGIS 3.10.2 hangs for minutes and sometimes crashes to desktop without showing the crash report screen when zooming/panning with the attached project. Layer symbology is the most likely culprit.

**How to Reproduce**

Load the attached project zoom in and out a few times.

**QGIS and OS versions**

Windows 10 (1909 x64)

QGIS version
3.10.2-A Coruña
QGIS code revision
d4cd3cfe

[2020-01-27 13:32] saberraz commented on #34056
Seems like duplicate of https://github.com/qgis/QGIS/issues/33902

Could you try QGIS master/nightly?

[2020-01-27 13:55] gioman commented on #33789
@guenterhack on 3.10.2 and master (on Windows) the linked layer CRS is not recognized exactly as EPSG:31287 so the transformation dialog does not pop up and it gets placed in a slightly wrong position. No issues on 3.14.15. Temporary solution: open the vector properties and change manually its CRS to EPSG:31287. @nyalldawson

[2020-01-27 13:58] roya0045 commented on #34056
Does it only occur with a specific layer or combination of layers ?

[2020-01-27 14:02] gioman commented on #34023
@krvrd this is QGIS 3.10.1 on Catalina here:

![Screenshot 2020-01-27 at 13 49 18](https://user-images.githubusercontent.com/1951107/73180636-9f3a4d80-410d-11ea-9bc5-09ecb3d1ac5a.png)

Also it does not crash when creating new QGIS profiles.

[2020-01-27 14:02] danzig666 commented on #34056
I just did try the latest nightly, same outcome.

[2020-01-27 14:02] guenterhack commented on #33789
@gioman Thank you very much for your swift reply and your help! Manually assigning EPSG:31287 did the job and I was able to choose the correct transformation from the dialog.

[2020-01-27 14:04] danzig666 commented on #34056
Only with the attached layer and another one with similar symbology (containing font markers)

[2020-01-27 14:05] thbaumann commented on #29816
In the insert statement of the update function the "user_role" column is not included. I would just write the OLD."user_role" into this column::

`CREATE OR REPLACE FUNCTION "gis"."polygons_update"()
RETURNS TRIGGER AS
$$
BEGIN
IF OLD."time_end" IS NOT NULL THEN
RETURN NULL;
END IF;
IF NEW."time_end" IS NULL THEN
INSERT INTO "gis"."polygons"
("id_0","geom","id","name","area","centroid", "time_star

[2020-01-27 14:49] scottshambaugh commented on #34044
The crash still occurs if I do that:
[code]

[2020-01-27 15:25] roya0045 commented on #33977
Could someone test #34057 and see if that fixes this?

[2020-01-27 15:29] stewahn-cb commented on #33727
as @roya0045 said, I updated QGIS from 3.4.7 to 3.4.15. The **problem is still existing**. See the screenshot. Issue again: points as decimal separator instead of commas, and no thousands separator in **QGIS 3.4.15** layout composer (but in the "map-canvas" everything is fine -> see attachement please).

![MADeira](https://user-images.githubusercontent.com/59733721/73187495-c7cc4280-4121-11ea-86f7

[2020-01-27 15:35] Gustry commented on #33977
3.4 is EOL and these last few weeks only crash/data corruption were backported to 3.4 anyway.

[2020-01-27 15:47] elpaso commented on #33727
This was never implemented.

I could work on it, but I'm not sure if @nyalldawson has plans.

Additionally, something that we might want to add is to optionally add the language information to the layout, so that when opened on QGIS instance with a different language setting (think about the server context where we want prints with a certain language configuration).

[2020-01-27 16:01] stewahn-cb commented on #33727
So if I understand you right, the language information of content in the layout-composer is a individual one, free and independent? All Information after your third comma I do not understand.

[2020-01-27 16:24] elpaso commented on #33727
It was never implemented: there is no locale support in layout composer tables.

Sorry for not being clear, what I meant is that when (and if) it will be implemented, we will need to keep in mind that we might want to allow a different behavior than the most part of QGIS: instead of always getting locale information form user profile settings, we might want to be able to override the locale settin

[2020-01-27 16:51] elpaso commented on #34044
This works for me:

[code]

or just don't use `get()` (that if I'm not wrong returns a raw pointer to the geometry without incrementing the reference counter).

[code]

[2020-01-27 16:51] #34044 closed

[2020-01-27 17:08] #33977 closed

[2020-01-27 17:17] #29560 closed

[2020-01-27 17:41] #34028 closed

[2020-01-27 19:50] Derrick-Wells opened #34060 "QGIS does not load embedded layers when opening projects"
**Describe the bug**

I am having an issue with vs 3.10.n with handling embeded layers particularly on reopening - seems to save embed layers added in a session but when reopening a second time the link is dropped.

**How to Reproduce**
Follow the following procedure:
Open a new or existing project;
Add embed layers and save project;
Close the project;
Reopen the project - the embed layers will sh

[2020-01-27 21:55] danzig666 commented on #34056
It's not a duplicate, #33902 is fixed in 3.10.2

[2020-01-27 23:41] #32913 closed

[2020-01-28 00:11] sggreener commented on #26911
We have the same issue so we second this request.

The individual qGIS log messages windows simply keep growing with no ability to clear them except by restarting qGIS.  We use the PostGIS message log a lot to read the results of RAISE NOTICE messages from triggers.

In order to clear the message log we have to restart which is OK once or twice but not when messages are written many times.

We not

[2020-01-28 00:23] nyalldawson commented on #33924
@neteler

See

https://lists.qt-project.org/pipermail/development/2016-June/026156.html

https://lists.qt-project.org/pipermail/development/2016-June/026282.html

and  (more importantly), all the activity flowing into https://code.qt.io/cgit/qt/qtwebkit.git

[2020-01-28 00:32] jef-n commented on #26911
No, you can clear each tab by closing it - it will reopen on a new message.   You can also right click an close all except the one you clicked. Trying to close the last tab, will only clear it.

[2020-01-28 00:56] sggreener commented on #26911
Yes, I can confirm that closing and re-opening works.
Thanks
Simon

[2020-01-28 01:02] nyalldawson commented on #33789
@guenterhack
There's no qgis issue. The PRJ file from the included data file differs from the definition of EPSG:31287.

PRJ file:

[code]

EPSG:31287 definition:

[code]

Note the differences -- e.g. "PARAMETER["standard_parallel_1", 48.99999999999999]" vs "PARAMETER["Standard_Parallel_1",49.0]" and "UNIT["degree", 0.017453292519943295]" vs "UNIT["Degree",0.0174532925199433]]"

Using the tools fr

[2020-01-28 01:04] nyalldawson commented on #34056
I can't reproduce. Do you have a crash report handy?

[2020-01-28 01:08] cgi2099 commented on #33789
Nyall Dawson,

@guenterhack<https://github.com/guenterhack> issues are not related to the original issue I posted. My problems are still occurring

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Nyall Dawson <notifications@github.com>
Sent: Monday, January 27, 2020, 7:02 PM
To: qgis/QGIS
Cc: cgi2099; Mention
Subject: Re: [qgis/QGIS] Problem with datums (#337

[2020-01-28 01:21] nyalldawson commented on #33789
@cgi2099 can you provide a self-contained sample project? The one you attached earlier links to a bunch of local data and https://wwwgisp.rrc.texas.gov/ (which just times out for me)

[2020-01-28 01:25] nyalldawson commented on #33988
This isn't a QGIS issue. It's either a dataset issue or something in GDAL.

Using gdalinfo to identify the CRS for the dataset gives:

[code]

Plugging this CRS info `projinfo --identify` does not match any known EPSG codes. Do you know what the expected CRS for these layers is?

[2020-01-28 01:32] cgi2099 commented on #33789
@nyalldawson it will be sometime tomorrow before I can get a new data set for you. Most of my data are linked from wms services or rest services

[2020-01-28 01:47] rjhale1971 commented on #33988
Should be UTM Zone 17 North NAD27 which is EPSG:26717

[2020-01-28 01:51] nyalldawson commented on #33988
Thanks.

projinfo reports EPSG:26717 as:

[code]

whereas the included dataset uses:

[code]

The definition is quite different (e.g. central meridian is -81 officially, -83.56299999999918 in the dataset)

[2020-01-28 01:54] rjhale1971 commented on #33988
Welp - let me do some digging and see. It may be NAD27 Georgia West - I'll report back with the correct projection.

[2020-01-28 01:57] si-kov commented on #34007
Hi Nyall

Thanks for the reply - I'll admit I'm not fully across all elements and components being used in the background but your reply enabled me to do some digging... from what I can tell, I think ESRI have created a new WKT for GDA94 Zone XX which differs from the EPSG WKT. Appears that ESRI adopted a new projection engine database v10.8.0 a couple of months back which probably coincided with

[2020-01-28 01:59] nyalldawson commented on #33988
Great, thanks Randal! if this is a bug it's in either GDAL or PROJ, but I'm happy to coordinate between the projects...

[2020-01-28 02:00] scottshambaugh commented on #34044
Thank you! Your snippets work for me.

[2020-01-28 02:02] rjhale1971 commented on #33988
No Problem - someone just popped up on the users list with the same problem. These files are so old (I worked for the original map agency unit these came from) which in part makes me old. Sigh. I feel compelled to get it fixed.

[2020-01-28 02:03] nyalldawson commented on #34007
What I mean is that QGIS uses GDAL to write outputs like this, and it's the GDAL library itself which is creating the prj output file. You'll need to open a bug with the gdal project: https://github.com/OSGeo/gdal

[2020-01-28 02:32] si-kov commented on #34007
Got it. Thanks again

[2020-01-28 05:31] AlisterH commented on #23859
Wow, I never realised this, but haven't you have described it backwards?  Testing here it seems "The resample works without problem" when the layer is reprojected i.e. when the layer CRS and project CRS are DIFFERENT.

[2020-01-28 05:49] AlisterH commented on #23859
I avoid this annoyance by setting these as default in Settings>Options>Rendering>Rasters.  But it probably isn't a great idea for layers that aren't hillshaded.

[2020-01-28 05:52] AlisterH commented on #23859
Sorry, I don't agree: even if known, this is a real issue for the user. Apparently it should be easily overcome by activating resampling.

What do you mean?  Changing the default setting as per my last comment?  Always resampling hillshaded layers regardless of the layer's setting?  Automatically changing the layer's setting when hillshading is enabled?

[2020-01-28 07:23] m-kuhn commented on #34060
Confirmed.

Following warning shown in the message log:

[code]

[2020-01-28 07:51] danzig666 commented on #34056
There's no crash report:
![TMv6bV5PMa](https://user-images.githubusercontent.com/5346511/73244822-21c51a80-41ab-11ea-90be-71676225bf09.gif)

[2020-01-28 08:02] Lutz-Sonnabend opened #34075 "Print-Layout, PDF-Export conflicting Setup options."
Hello,
there are tow Options in the Export Setup and Layout-Setup, that conflict each other, but no warning or something like that is shown.

 If "Print as Raster" is set in the layout-options, the option "Always print as vector" in the export-dialog has no effect at all.
Took me quite some time to find that. Please disable "Export as vector" in the Export dialog if "Raster export" is set or make

[2020-01-28 08:22] stewahn-cb commented on #33727
Thank you for your answer. I still not understand. The setting is in the canvas perfect and works fine with decimal commas and thousand separators. I assume, that the canvas setting shows the locale setting. This locale setting is not consider by the composer. The composer setting is not clear in my opinion. It should get the "locale canvas setting" too.

[2020-01-28 08:23] lennertdefeyter opened #34077 "QGIS casts bigint Primary key field to a text field"
Using version of QGIS:
3.10.2-A Coruña
Postgres version 9.6

Although also tested on QGIS 3.4, Qgis 2.18 and postgresql 11

Steps to reproduce:
1) Engage the detailed logging on your postgres instance
2) create a table using a bigint as primary key:
[code]
3) Load this table into QGIS
4) Create some points in the table
5) Identify a point using the identify tool
6) Check your postgresql logging an

[2020-01-28 08:28] elpaso commented on #33727
I agree. But the piece of code that does that was never written: **it was never implemented**, so technically it's not a bug.

[2020-01-28 08:31] stewahn-cb commented on #33727
Okay chrystal clear. How can I go on?

[2020-01-28 08:36] elpaso commented on #33727
The usual way, you have a few options:
- fix it yourself if you can
- wait and hope that someone fixes it for you
- launch a crowdfunding campaign to get it financed
- contact a QGIS core developer and fund the development

[2020-01-28 09:22] stewahn-cb commented on #33727
The checkbox "System-Locale überschreiben (override)" is not activated (top of the pic). (But) All numbers are beautiful in the attribute table (the end of the pic). The default of "System-Locale" has access to the right settings. What are these settings? Is it a lot of work to implement that default setting in the composer? Where can I start?

[2020-01-28 09:23] stewahn-cb commented on #33727
![1](https://user-images.githubusercontent.com/59733721/73250918-280dc380-41b8-11ea-9dcf-2f47889c8cd9.PNG)

[2020-01-28 09:37] agiudiceandrea commented on #34022
Both QGIS 3.4.5 (which uses the python version of the algorithm) and QGIS 3.10.1 (which uses the c++ version) seem to behave the same way when a multi part geometry feature is processed by "Points along geometry" alg:

1) points are generated only on the basis of the first part of a multi-part (line/polygn) geometry

This seems more likely related to a change in QgsGeometry::interpolate (c6a91dab0

[2020-01-28 09:52] rouault commented on #34007
I don't see this is as a GDAL (or in that instance a PROJ) bug.
What GDAL/PROJ writes is the official WKT representation for EPSG:28355 from ESRI.
From https://raw.githubusercontent.com/Esri/projection-engine-db-doc/master/csv/pe_list_projcs.csv :
[code]

[2020-01-28 11:16] #33711 closed

[2020-01-28 11:27] gioman commented on #34056
@danzig666 I also can't confirm on 3.10.2 and master on Windows. Have you tried with a new QGIS profile?

[2020-01-28 11:34] elpaso opened #34085 "Spatialite provider does not recognize autoincrement PKs when table definition uses backticks"
Table:

[code]

[2020-01-28 11:50] danzig666 commented on #34056
Yes, I created the video above with a clean profile.
I tried it on multiple PCs too, all with the same result. Sometimes it just hangs for 10-15 seconds, sometimes it crashes.

[2020-01-28 11:51] Henrik-P opened #34086 "'Count' field not shown when using 'Show statistical summary' button"
I am following the QGIS Training manual - thanks a lot for this excellent resource.

In the [QGIS Training manual 7.4.2. basic Follow Along: Basic Statistics](https://docs.qgis.org/3.4/en/docs/training_manual/vector_analysis/spatial_statistics.html#basic-fa-basic-statistics), the first field in the Statistics Panel is 'Count' (see pt. 4). However, when try exactly the same procedure, the 'Count' f

[2020-01-28 12:14] Houska1 opened #34089 "Draw effects units setting doesn't persist"
(Vector, line) Symbology / Simple Line / Draw effects / Inner or outer glow unit selection for blur radius doesn't persist.

Example - create an outer glow for the line, set the spread to ... pixels and blur radius to ... pixels. This means changing the units for each from mm to pixels.

![image](https://user-images.githubusercontent.com/48919900/73262878-44503700-419d-11ea-8d4e-81782183cb33.png)

[2020-01-28 12:16] Houska1 commented on #34089
Update also happens if you choose the blur radius units to something else (e.g. inches), not just pixels. Using 3.10.2 code revision d4cd3cfe5a (latest full not dev OSGeo4W release).

[2020-01-28 12:40] uclaros commented on #33295
I met this today on linux latest master. Also happens on clean profile, no plugins.

QGIS version | 3.11.0-Master | QGIS code revision | 41c847136e
-- | -- | -- | --
Compiled against Qt | 5.12.5 | Running against Qt | 5.12.5
Compiled against GDAL/OGR | 3.0.3 | Running against GDAL/OGR | 3.0.3
Compiled against GEOS | 3.8.0-CAPI-1.13.1 | Running against GEOS | 3.8.0-CAPI-1.13.1
Compiled against SQLi

[2020-01-28 13:01] roya0045 commented on #34086
Strange, its fine on master for me.

[2020-01-28 14:17] Saijin-Naib commented on #34077
Please see GIS.SE issue here:
https://gis.stackexchange.com/questions/348536/qgis-form-performance

[2020-01-28 14:42] Beckinboots commented on #33923
@gioman  - a couple of us have updated to version 3.4.15 but the issue persists.  When saving the new layer it seems to go well but then, when trying to edit we get a "commit error" stating that it "cannot reopen datasource XXXXXX.shp layername=New boundary test in update mode".  We are saving to a server and when I look in the folder where the shapefiles are being saved there are still tmp. files

[2020-01-28 14:56] Saijin-Naib opened #34091 "Corrupted QGZ Project"
**Describe the bug**
QGZ project was corrupted during work, seemingly after making a virtual layer, yielding a project that shows all layers as unknown in the Browser panel, and which will never load when opened directly in QGIS, simply processing in the background Loading "Snow Plow Routes".

**How to Reproduce**
1) Attempt to load the project SnowPlowRoutes_CORRUPTED
2) See that it never loads
3

[2020-01-28 14:59] gioman commented on #33923
@Beckinboots my guess is that you just don't have full write permissions where your data/files are. If your data is on a local disk or a server folder, where you have full write permissions, it works as expected?

[2020-01-28 15:00] Beckinboots commented on #33923
Yes, if it's on a local disk it's absolutely fine.

[2020-01-28 15:01] gioman commented on #33923
@Beckinboots there it is, check the write permissions on your network share.

[2020-01-28 15:02] Beckinboots commented on #33923
@gioman - thank you.  You've confirmed what I suspected but it's not necessarily the answer I wanted.  I'll go bother IT now.  Thanks again for your help.

[2020-01-28 15:02] gioman commented on #34091
@Saijin-Naib have you tried to remove this manually from the project file?

[2020-01-28 15:05] gioman commented on #33923
Reopen of necessary.

[2020-01-28 15:05] #33923 closed

[2020-01-28 15:10] Saijin-Naib commented on #34091
The last I tried to modify the project file, it wouldn't actually save out.

[2020-01-28 15:46] pigreco commented on #34086
I took a test and can't confirm

## OSGeo4W64 win 10 QGIS 3.10.2-2

![image](https://user-images.githubusercontent.com/7631137/73279568-a59ff680-41ed-11ea-87b4-c70288822dd1.png)

try a new profile

[2020-01-28 15:54] pigreco commented on #34024
I confirm

## OSGeo4W64 win 10 QGIS 3.10.2-2

[2020-01-28 16:21] Saijin-Naib opened #34092 "Dependencies cannot be applied to non-spatial data"
**Describe the bug**
Dependencies do not seem to allow for the selection of tabular (non-spatial) data, even if the data is inside of an OGR format (table in a GPKG, as pictured below).

My database does not have triggers (yet), but I was hoping that by setting dependencies on the tables joined to my spatial data (Inventory Segments), that updates would propoagate across the tables/geometries when

[2020-01-28 16:46] gioman commented on #34091
I guess the important point/step is this one, can you consistently replicate it?

[2020-01-28 16:49] Saijin-Naib commented on #34091
I was able to yesterday, but I've not succeeded in such today yet. I'm going to see if IT can pull a backup of the corrupted file from before the corruption so that I can use that as a basis to re-generate the Virtual Layer and see if that breaks again.

[2020-01-28 17:07] TodoInTX commented on #30817
Here is a project and data that generates the error shown above.

"15:45:41 CRITICAL Server[10244]: An error occurred during the Atlas print
15:45:41 WARNING [10244]: finish() called twice"

[PrecinctGroups30817.zip](https://github.com/qgis/QGIS/files/4123638/PrecinctGroups30817.zip)

[2020-01-28 19:18] Hutch07 opened #34094 "QGIS 3.10.2 Error 'QgsMultiLineString' object has no attribute 'xAt'"
Python code is attempting to get the "X" value of the first node in a QgsMultiLineString feature.  This works fine from 3.4 to 3.10.1.   I have loaded 3.10.2 on 3 separate machines and all fail with the same error.   I made a slim dataset with just a few lines and it also errored out.

It is coming from my plugin so I will also try just a short chunk of code.

An error has occurred while executing

[2020-01-28 19:45] Hutch07 commented on #34094
[line_getX.zip](https://github.com/qgis/QGIS/files/4124273/line_getX.zip)
This small bit of code also will recreate the error inside the python console.

[2020-01-28 21:32] i-s-o commented on #34056
I think @danzig666 got it right. The root cause of the problem isn't zooming in and out. It is just that while zooming, the font becomes too large for Windows (or Qt5) to handle. To reliably crash QGIS:
* Open the example project
* `Configure Symbol...` for one of the categories
* Click on symbol layer `Font marker`
* Highlight the value in the `Size` box and type over a large number e.g. `2000`.

[2020-01-28 21:43] #33295 closed

[2020-01-28 21:45] paddleman opened #34097 "Minimize/Maximize/Close buttons do not appear on top menu bar - QGIS3.10.2/Win10Enterprise"
Minimize/Maximize/Close buttons do not appear. No ability to move the QGIS window around the desktop.

QGIS 3.10.2; Windows 10 enterprise.

[2020-01-28 22:37] Ylannl opened #34100 "3D Map view and Add MSSQL layer both mapped to shift-command-M keyboard shortcut (macOS)"
**Describe the bug**
The functions `View > 3D Map View` and `Layer > Add Layer > Add MSSQL Spatial Layer` are **both** mapped to the *shift-command-M keyboard* shortcut. Now I always get the Add MSSQL layer dialog instead of the 3D Map View that I want when I use this shortcut.

I suggest changing one of them.

**QGIS and OS versions**
QGIS version | 3.6.0-Noosa | QGIS code revision | 58734527ab
m

[2020-01-28 22:45] nyalldawson commented on #34100
This is fixed in newer releases - please upgrade

[2020-01-28 22:45] #34100 closed

[2020-01-28 22:46] roya0045 commented on #34056
@i-s-o thanks for looking into this!

[2020-01-28 22:48] nyalldawson commented on #34097
This is almost certainly a local issue.

[2020-01-28 22:52] nyalldawson commented on #34094
QgsMultiLineString has never had an xAt method. Can you double check the geometry type you receive when you run the script on the earlier version?

[2020-01-28 23:32] si-kov commented on #34007
Yes, and from what I can tell this is from ESRI's recently updated projection database, which is being used to create the .prj file when creating a new shapefile from within QGIS.

I should add that late yesterday I discovered that I get a different result (i.e. different content in the .prj file) if using the "Define layer projection" routine (algorithm ID 'qgis.definecurrentprojection') to creat

[2020-01-28 23:40] rouault commented on #34007
Yes, when QGIS itself writes a .prj, it must uses the WKT1(-OGC/-GDAL) style.
When GDAL/OGR writes a .prj for a Shapefile, it uses the WKT1-ESRI style (which is what is supposed to be written for Shapefiles)

Ah ah, there are at least 4 different standards/variants: WKT1-ESRI, WKT1(-OGC/-GDAL), WKT2:2015, WKT2:2019 . Each with different variations how software understand & implement them :-). For

[2020-01-28 23:41] davidlgalt commented on #32098
In my use case, I am labeling cities from a point layer. The two parts of the multi-line label come from 2 different fields: name and population, with name on top in bold and population underneath with the standard font and reduced size from the name. These label pairs are further split into 4 classes based on size with major cities having a larger font size and small towns being the smallest. If

[2020-01-29 02:56] davidlgalt commented on #34030
I have not been able to use grass either since installing 3.10.1. Now running 3.10.2.

I looked and the exe isn't in the bin directory. I installed both 3.10.2 and the LTR using the OSGeo4W64 installer. I only have:

qgis-bin.exe
qgis-ltr-bin.exe
qgis-ltr-bin-g7.exe

I have installed a few times using the OSGeo4W installer and I don't think I did anything different.

[2020-01-29 06:59] #33383 closed

[2020-01-29 06:59] #34085 closed

[2020-01-29 07:51] partas1982 opened #34109 "Zonal statistics; calculate mean aspect for polygons"
**Feature description.**

QGIS zonal statistics is great - but since angular data have special characteristics, it does not work properly for them. It would be very nice to have a checkbox to specify wether the input raster layer includes angular data like aspect values. In this case, the calculation for example of the mean aspect in a zone does not work.

May this python script (user cbeyerhelm)

[2020-01-29 08:44] nirvn commented on #34016
I'm pretty sure this is fixed already.

[2020-01-29 10:06] Ylannl commented on #34100
Right! Sorry, I had forgotten to remove 3.6 when I installed to 3.10 last week. And now I was accidentally running the old QGIS, while thinking I had just upgraded... Thanks for the quick response!

[2020-01-29 10:53] pblottiere commented on #30408
QGIS 3.10 will become the new LTR the 21/02/2020, meaning that 3.4 is eol.

Considering that it works well on 3.10, I propose to close this issue.

Do you agree @lbartoletti?

[2020-01-29 11:05] gioman commented on #34097
@paddleman I also cannot replicate on any Windows (7,10) installation.

[2020-01-29 11:09] gioman commented on #34030
@smcarter687 are you sure you are launching QGIS with the "with GRASS" shortcut?

GRASS .exe are not in "bin", are in "apps".

[2020-01-29 11:23] davidlgalt commented on #34030
These are the shortcuts that were installed:
![image](https://user-images.githubusercontent.com/44850852/73352449-fa6f5b80-4245-11ea-924a-b03cd24b8a03.png)

If I right-click on the QGIS shortcuts, and select "open file location", it takes me to C:\OSGeo4W64\bin and the g7 version of QGIS 3.10.2 is missing.
![image](https://user-images.githubusercontent.com/44850852/73352751-a44ee800-4246-11ea-8362

[2020-01-29 11:26] gioman commented on #34030
yes, and to get GRASS support you must use the "with GRASS" ones.

GRASS (and SAGA) files are not there are in C:\OSGeo4W64\apps

[2020-01-29 11:33] davidlgalt commented on #34030
The LTR has the "with Grass" option, but the version I use (3.10) doesn't.

The stand-alone versions of grass and saga are in C:\OSGeo4W64\apps, but I'm trying to use grass within QGIS.

[2020-01-29 11:37] gioman commented on #34030
QGIS uses what you find in that folder.

may be for some reason the installer has not created the shortcuts, but anyway that is necessary to get GRASS support in QGIS.

[2020-01-29 12:25] davidlgalt commented on #34030
I think I found the culprit. When I opened OSGeo4W installer and looked under Lib, the plugin for 3.10 was skipped. I recently started installing both 3.10 and 3.4, so maybe there's an issue when you install both it only installs the plugin for one of them by default.

[2020-01-29 12:31] lluisvicens opened #34111 "Wrong results when executing r.patch on ms-windows"
**Describe the bug**
The algorithm **r.patch** offers wrong results when using r.patch in an MS Windows environment. While r.patch operates as is expected in a GNU/Linux environment, in windows does not. The algorithm does not preserve the original minimum value (0) of the first input layer (A), in the output layer (patched).

**How to Reproduce**

1. Load raster layers ([layers_2_patch.zip](https

[2020-01-29 12:34] gioman commented on #34111
@lluisvicens do you get the same results if you use directly GRASS (not through QGIS)?

[2020-01-29 12:36] gioman commented on #34030
maybe, if you are able to confirm it please file a ticket here https://trac.osgeo.org/osgeo4w/report/1?sort=ticket&asc=0&page=1

[2020-01-29 12:36] #34030 closed

[2020-01-29 12:40] lluisvicens commented on #34111
If I execute r.patch directly on GRASS GIS (Windows environment), the result is **completely correct**, as in Linux. The problem is in executing r.patch from QGIS on Windows. Thanks for your quick reply @gioman !

[2020-01-29 12:41] lbartoletti commented on #30408
good for me.

[2020-01-29 12:42] #30408 closed

[2020-01-29 13:04] moebi74 opened #34112 "QGIS 3.10.x Bug with QuickMapservices"
Since QGis 3.10.1 (including actual release 3.10.2) the online images, added with quickmapservices, of saved projects are not shown in the view - one has to add the images again to be able to view them

Since QGis 3.10.1 (including actual release 3.10.2) the added online images (with quickmapservices) are not shown in the layouts and therefor not printable - no matter what you do

[2020-01-29 13:12] nirvn commented on #34112
@moebi74 , you've already identified the right plugin repository to report this issue a few days ago https://github.com/nextgis/quickmapservices/issues/203 , please wait for feedback from the plugin author there.

Thanks.

[2020-01-29 13:12] #34112 closed

[2020-01-29 13:13] elpaso opened #34113 "Server W*S getCapabilites (and getProjectSettings) do not return layer metadata keywords"
**How to Reproduce**

1. Create a project with at least one layer
2. Set keywords in project metadata
3. Set keywords in layer metadata
4. Publish as WMS
5. getCapabilites or/and getProjectSettings from WMS
4. the keywords in the layer entry are taken from the project's keyword and not from the layer's keywords

**QGIS and OS versions**

Master

[2020-01-29 13:33] NicolaiThomassen opened #34114 "Script-temp-file bug"
Hi there,

I have a problem with the creation of a new script. I have made a minimum requirement of showing the issue, stated below.

[code]

The script reprojects a raster and a vector-layer. It works as intented, but I keep on getting an error when the **results are stored in a tempoary** file. The error looks like this:

![image](https://user-images.githubusercontent.com/49398380/73360509-5ddba

[2020-01-29 13:40] duka97 commented on #27159
can someone explain how in detail?

[2020-01-29 13:40] jmonticolo commented on #30726
I've try to add a Scale Bar Decorator in [EPSG: 2154](https://spatialreference.org/ref/epsg/2154/) for France and it works perfectly. If I change the SCR to 4326 or 3857, the Scale Bar displays wrong distances. I think it's a trap actually for those who don't check the values, because QGIS display the Decorator without warning.

[2020-01-29 13:53] PedroVenancio commented on #27159
![imagem](https://user-images.githubusercontent.com/1331581/73362427-ba889280-429e-11ea-96a7-2c11c40efac9.png)

[2020-01-29 13:56] JBambers commented on #33929
Hello, I've been having the same issue (e.g. osm only rendering strip of tiles near scotland) with the standalone windows installer, remains problematic with the present 3.10.2 version (Compiled against PROJ 6.3.0, GDAL 3.0.3).

Is this OSTN15 transformation 'built-in' since 3.10? It shows up in the list of choices (and fails to render properly) regardless of whether the 'OSTN15_NTv2_ETRStoOSGB.gs

[2020-01-29 14:10] elpaso commented on #34113
ok, closing, because there is no bridge between the new metadata system and the server metadata. It would be nice to have though.

[2020-01-29 14:10] #34113 closed

[2020-01-29 14:24] vitorcsm opened #34115 "PostGIS layer cannot enable toggle editing"
Sometimes, when I open a project, and click on a layer, the toggle editing buton is
disabled (grey).
I have tried to run the script below:

[code]

But I received this message in : `Failed to start editing: Provider cannot be opened for editing`

The solution I found was reconnecting to the PostGIS and adding the layer again.
1. Go to Menu bar
2. Click Layer > Add layer > Add PostGIS layer
3. In P

[2020-01-29 14:30] gioman commented on #34111
@lluisvicens

linux:

[code]

Windows:

[code]

The difference being how the raster is imported, r.external on Windows here (3.10) and with r.in.gdal on Linux (master).

if you test master on Windows you get also the option to use or not r.external, if you don't use you get the expected results.

So if there is an issue it is in how GRASS imports rasters with r.external (or eventually in how we us

[2020-01-29 14:32] gioman commented on #34114
@NicolaiThomassen if is a question please ask it in the users or developers mailing lists. If it results that there is really a bug then just ask to reopen this ticket.

[2020-01-29 14:32] #34114 closed

[2020-01-29 14:38] pblottiere commented on #30376
I just tested on master branch and it works well.

QGIS 3.4 is EOL but I'm going to test on 3.10.

[2020-01-29 14:46] FlyingEagle opened #34116 "Python Error Message"
QGIS 3.10.2

I got this message/error, which plugin is it?
How can I fix it?

2020-01-29T15:35:31     WARNING    Traceback (most recent call last):
              File "C:/.../AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\ale\advanced_line_editor.py", line 299, in currentLayerChanged
              self.currentlayer.editingStarted.disconnect(self.curLayerIsEditable)
             Runtime

[2020-01-29 14:48] elpaso commented on #34116
The plugin name seems to be something like "advanced line editor" but this is not the place to ask for help about plugins sorry.

[2020-01-29 14:48] #34116 closed

[2020-01-29 14:58] pblottiere commented on #28544
Actually the `Draw text buffer` checkbox have to be checked, then everything is working correctly (tested on master):

![aaa](https://user-images.githubusercontent.com/9266424/73367592-07289980-42b0-11ea-9b26-b86fce61ee37.png)

I'm going to check on 3.10 before closing this issue.

[2020-01-29 15:20] gioman commented on #34115
if it does not happen always it is hard to say where the issue could be, does not seems a general QGIS issue.

[2020-01-29 15:28] vitorcsm commented on #34115
@gioman
In this case, what is your recommendation?

[2020-01-29 15:35] gioman commented on #34115
@vitorcsm have you tried a different endpoint?

[2020-01-29 15:35] kadarivan opened #34118 "QGIS 3.10.2 replace 0 to NULL"
I have a PostGIS table with numeric(9,0) field.
In QGIS 3.10.2 in Feature attributes window NULL appears instead of 0.
The attribute table show the correct value, but when I edit a record, and place 0 to the field it saves NULL to the database.

QGIS 3.10.1 and 3.4.15 are working fine.

client:
QGIS 3.10.2 Windows 10

server:
PostgreSQL 9.6.5, compiled by Visual C++ build 1800, 64-bit
PostGIS 2.4

[2020-01-29 15:41] vitorcsm commented on #34115
@gioman  what do you mean with "endpoint"? if endpoint==workstation, yes I have tried differents workstations and the problem persist

[2020-01-29 15:42] gioman commented on #34115
@vitorcsm no, the endpoint is the other end, the PostGIS server.

[2020-01-29 15:53] vitorcsm commented on #34115
@gioman  ok, I am going to verify, thanks :)

[2020-01-29 15:58] elpaso commented on #34118
@kadarivan can you please share a test project and a minimal DB SQL dump to reproduce the issue?

[2020-01-29 15:58] lluisvicens commented on #34111
Excellent @gioman . Thanks for your explanation and clarification. Then, should I proceed to close this issue?

[2020-01-29 16:01] gioman commented on #34111
@lluisvicens it depends, do you get the same results if you use r.external in native GRASS? it may be  bug in GRASS (unlikely I would say) or it is just a matter of a flag/parameter in r.external that we use (or not) in QGIS.

[2020-01-29 16:07] pigreco commented on #33156
Does not work:
1. I created a temporary linear layer;
2. I started the algorithm

here is the result:
![image](https://user-images.githubusercontent.com/7631137/73373835-88385e80-42b9-11ea-97d1-381c518d4161.png)

[2020-01-29 16:26] lluisvicens commented on #34111
Yes, if I run r.patch in windows native GRASS, using **_r.external_** instead of **_r.in.gdal_**, I get the same result as in QGIS: **Wrong**, because I miss all the original zero values as the minimum values in layer A.

Otherwise, If I do exactly the same operation in linux using **_r.external_**, the result is **correct**. The output layer keeps all the zeros.

So, I guess that the problem is h

[2020-01-29 16:32] gioman commented on #34111
ummm... from what you say it seems to me that there is a difference on how r.external runs  on Windows and Linux (no QGIS involved). It a flag used/not used? or the commands are identical on both platforms?

[2020-01-29 16:43] pigreco commented on #33156
Does not work:

I created a temporary linear layer;
I started the algorithm
here is the result:

![image](https://user-images.githubusercontent.com/7631137/73377108-cedc8780-42be-11ea-94b8-83e6e7bef378.png)

[2020-01-29 16:45] lluisvicens commented on #34111
Yes! That's what I wanted to say. Sorry. The problem is on how Windows and Linux are running r.external. The commands for r.external are identical in both platforms.

[2020-01-29 16:45] gioman commented on #34111
so it is a GRASS issue on Windows, not a QGIS one...

[2020-01-29 16:48] lluisvicens commented on #34111
Yes, sorry. I'm going to open an issue on the GRASS project side. Thanks for your kindness and sorry for bothering you with this issue.

[2020-01-29 16:49] gioman commented on #34111
@lluisvicens no problem!

[2020-01-29 16:49] #34111 closed

[2020-01-29 18:36] bertrand44 opened #34121 ""SCR" window bug on Mageia"
Bonjour,

Ma distribution est Linux Mageia.
Depuis la récente mise à jour de Mageia 6 en Mageia 7,
La version proposée de QGIS n'est plus 2.14.7.Essen mais Madera 3.4.15.

Hors, si l'ancienne version de QGIS fonctionnait très bien,
Il y a un bug dans la version Madera :
Lorsque je veux "définir le SCR de cette couche",
la fenêtre qui s'ouvre ne se ferme plus, même si je clique sur "ok" ou "annuler

[2020-01-29 18:43] gioman commented on #34121
@bertrand44 hi, can you please edit the title and description in order to be in English? Thanks!

[2020-01-29 18:47] bertrand44 commented on #34121
TITLE : "SCR" window bug

Hello,

My distribution is Linux Mageia.
Since the recent update from Mageia 6 to Mageia 7,
The proposed version of QGIS is no longer 2.14.7.Essen but Madera 3.4.15.

Except, if the old version of QGIS worked very well,
There is a bug in the Madera version:
When I want to "define the SCR for this layer",
the window that opens no longer closes, even if I click on "ok" or "

[2020-01-29 18:50] uclaros opened #34122 "Full row conditional formatting formats wrong full rows"
**Describe the bug**
In the attribute table, full row conditional formatting formats wrong rows when the attribute table is sorted and then refreshed. Some rows that should be formatted are not, and some that should not be, they are.

**How to Reproduce**
Open the attribute table from the attached project, sort by some column and hit refresh.
The highlight condition is `"top" % 10 = 0 and "right"

[2020-01-29 18:50] gioman commented on #34121
It is not a general QGIS bug.

[2020-01-29 18:58] bertrand44 commented on #34121
Thank you for that answer,
I will post a message on the mageia forum ...

Thank you

[2020-01-29 19:02] uclaros commented on #33690
For non-database formats where triggers are not available, you can use `QFileSystemWatcher`
I use the following as a workaround for the broken watch file functionality on csv layers.

[code]

[2020-01-29 19:21] roya0045 opened #34123 "To_dms positive values only"
**Feature description.**
Could there be an option to force the output to be between 0 and 360 instead of -90 and 90 or -180 and 180.

[2020-01-29 20:09] MicheleTobias opened #34125 "Preview Mode Toolbar"
**Feature description.**
Create a toolbar that lets users toggle the different modes in Preview Mode (from the View menu) with buttons or a drop-down menu.

**Additional context**
Having to go through the menu to turn on and off the different Preview Modes is cumbersome when I'm trying to make changes to colors and check quickly if the changes work for various color perceptions or for grayscale pr

[2020-01-29 21:06] luipir commented on #26911
closing... please reopen it if you find necessary some different behaviour.

[2020-01-29 21:06] #26911 closed

[2020-01-29 21:23] jef-n commented on #34030
I you just install `qgis` you don't get the grass plugin - either install it explicitly or `qgis-full`.

[2020-01-29 23:04] #29688 closed

[2020-01-29 23:47] rjhale1971 opened #34131 "QGIS Master Crashing on editing PostGIS"
postgresql -> 12
PostGIS -> 3
QGIS -> 3.11 Rev: 50514b9577
Ubuntu Linux 19.10

I connect to a database - edit the table. I draw any size polygon and on right clicking one of two things happen:
*Attribute form pop-up opens and is blank (as in no canvas) and then QGIS Crashes
*QGIS Crashes upon right clicking.

I captured this output from the last crash (crashed on right click) after starting QGIS i

[2020-01-30 00:01] rjhale1971 opened #34132 "DB Manager in 3.11 Master can't connect to PostGIS Enabled database"
postgresql -> 12
PostGIS -> 3
QGIS -> 3.11 Rev: 50514b9
Ubuntu Linux 19.10

If I use the Data Source Manager I can successfully connect to any of my Postgresql/postgis connections.

I can't connect through DB Manager on any of the databases. No Crashing results.

Connecting through dbmanager results in this:
![Screenshot from 2020-01-29 18-56-58](https://user-images.githubusercontent.com/389868/73

[2020-01-30 00:09] Geojim opened #34133 "Concat function tolerant of null values"
When labeling with multiple fields, concat won't label if any field is null. Current workaround is to combine with coalesce function, but seems needless complcated.

[2020-01-30 00:41] uclaros opened #34134 "Duplicating a scratch layer ignores added fields"
**Describe the bug**
When duplicating a temporary scratch layer the copy does not have any fields that have been added manually to the original.

**How to Reproduce**
1. Create a temporary scratch layer, either by create layer menu or as a geoprocessing result.
2. Start editing, add a field, save edits, stop editing.
3. Right click on the layer and select duplicate layer
The copy layer that's crea

[2020-01-30 01:21] gubuntu opened #34136 "Save QML to overwrite existing qml does not do anything"
**Describe the bug**
Saving a QML style (from the layer properties dialogue of a vector layer) over an existing one does not actually write anything. Choose 'replace file', OK etc. No errors but the original file remains.

Saving the same style somewhere else works, then I used the file manager to copy the style over the previous one.

**How to Reproduce**

**QGIS and OS versions**

3.4.14
Mac OSX

[2020-01-30 06:15] Andrey-VI commented on #28643
For me this issue first appeared in version 3.10.2 (64-bit).

Sample dataset and qgis project file to reproduce the behavior: [testcase.zip](https://github.com/qgis/QGIS/files/4132468/testcase.zip)

Attribute table:
![Attribute_table](https://user-images.githubusercontent.com/1121499/73424409-c8422480-433f-11ea-9b26-c75cc1a016a8.PNG)
![Identify](https://user-images.githubusercontent.com/1121499/73

[2020-01-30 06:49] #34089 closed

[2020-01-30 07:41] kadarivan commented on #34118
[pkod_dump.zip](https://github.com/qgis/QGIS/files/4132735/pkod_dump.zip)

[2020-01-30 08:42] Andrey-VI commented on #28643
Add new feature to the testcase and open 'Edit feature form…':
![Edit_feature](https://user-images.githubusercontent.com/1121499/73433254-7a381b80-4355-11ea-95bd-a5d43177d974.PNG)

[2020-01-30 08:48] pblottiere commented on #30376
It works on QGIS 3.10 too on GNU/Linux on my side.

@bstroebl can you take a look with QGIS 3.10 please?

[2020-01-30 08:51] pblottiere commented on #28544
It seems to work fine on QGIS 3.10 too (GNU/Linux).

@DelazJ Can you test with QGIS 3.10 please?

[2020-01-30 09:10] lifa-lin opened #34147 "QGIS doesn't use/respect timeout setting for WFS transactions"
** Concise description **
WFS transactions time out after max. 100 seconds. The timeout setting isn't used or respected.

**How to Reproduce**
Open any vector layer via WFS, and update a single field value in e.g. 5000 records.
We're using Geoserver, and the described operation takes circa 20 minutes, but QGIS times out after 100 seconds.
The timeout setting has been set in QGIS to 1800000 msec, i

[2020-01-30 09:16] DelazJ commented on #28544
Hi @pblottiere

OK I get the same behavior (3.4 and 3.10 windows 10) but I don't think people should have to manually check that box. Given that you get results for the other properties, it's weird to get nothing with the buffer ones. and nothing makes you aware that you should check the box.
IMHO That should be transparent to users since the option is available as an auxiliary data and changing a

[2020-01-30 09:18] pblottiere commented on #28544
@DelazJ Ok, it sounds fair. I take a look to do that. Thanks for your input :+1:

[2020-01-30 09:20] DelazJ commented on #34136
@gubuntu can you check on 3.10 because 3.4.15 was the last release of that version?

[2020-01-30 09:24] DelazJ commented on #34133
I can't confirm on 3.10
@Geojim can you provide the version, OS you are using and probably expression and dataset you are using? Thanks.

[2020-01-30 09:27] DelazJ commented on #28544
Thanks @pblottiere

[2020-01-30 09:28] lifa-lin opened #34148 "QGIS doesn't respect OGC guidelines for KVP parameters"
**Describe the bug**

QGIS makes unwarranted case sensitive comparisons of KVP keys

**How to Reproduce**

In the latest WFS 2.0 specification (and all previous specifications):
"09-025r1_OGC_Web_Feature_Service_WFS_2.0_ISOFDIS_19142_Geographic_information_-_Web_Feature_Service.pdf"

it clearly states in section "6.2.5.2 Parameter ordering and case" (my emphasis of NOT):

"Parameter names shall NO

[2020-01-30 11:03] elpaso commented on #30817
@TodoInTX thank you for the test case, I tested it with latest master and I've found no issues, these are my test calls:

PDF:
[code]

JPG:
[code]

Would you be able to test the latest master builds?

[2020-01-30 11:22] gioman commented on #34136
@gubuntu just tried on QGIS 3.10.1 on macOS Catalina, works as expected.

[2020-01-30 11:34] Mickeler opened #34149 "QGIS crashed using old workspace (3.10 suitable)"
Error message below

Crash ID: 74c7a85cf14cd725655f9ce1d194f0c476f34f7a

Stack Trace

memcpy_repmovs memcpy.asm:115
VSICreateCachedFile :
OGRPGCommonAppendFieldValue :
OGRPGCommonAppendFieldValue :
OGRPGCommonAppendFieldValue :
QgsOgrProviderUtils::expandAuthConfig :
QgsVectorLayer::extent :
QgsMapSettings::fullExtent :
QgsMapCanvas::fullExtent :
QgsMapOverviewCanvas::setLayers :
QgsLayerTreeMapCa

[2020-01-30 11:40] gioman commented on #34149
@Mickeler please update to 3.10.2

Also please add detailed steps to replicate and a sample project with data if necessary.

[2020-01-30 11:49] gioman commented on #34122
Confirmed also here. This is bad as it could lead to wrong and potentially dangerous decisions made by looking at color codes...

[2020-01-30 12:03] luipir commented on #34122
FYI @NathanW2

[2020-01-30 12:04] NathanW2 commented on #34122
Ouch. yeah, that isn't good.  I don't recall that being the case when I
built it but it has been a while.

On Thu, Jan 30, 2020 at 10:03 PM Luigi Pirelli <notifications@github.com>
wrote:

[2020-01-30 12:07] Geojim commented on #34133
Using 3.10 on w10 x64.

Issue arises for multi-field labels, where one attribute is null meaning no other attributes are labelled. ie for a label
concat("column1",'\n',"column2")won't work if any column is null, whereas
coalesce("column1",'') || '\n'  ||  coalesce("column2",'') would.

Same thing here [https://gis.stackexchange.com/questions/122199/displaying-multiple-fields-as-labels-if-one-field

[2020-01-30 12:07] elpaso commented on #28643
Broken by https://github.com/qgis/QGIS/pull/33660

Fun facts:
[code]

[2020-01-30 12:12] gioman commented on #34132
Confirmed also here with older PostgreSQL endpoints (don't think it matters).

[2020-01-30 12:15] gioman commented on #34131
I can't confirm this (QGIS master on Ubuntu 18.04) with an older PostgreSQL endpoint (not sure if it matters).

[2020-01-30 12:26] elpaso commented on #34118
Broken by #33660

Fun facts:
[code]

[2020-01-30 12:28] gioman commented on #28643
@troopa81 fyi

[2020-01-30 12:28] gioman commented on #34118
@troopa81 fyi

[2020-01-30 12:29] elpaso commented on #34118
@troopa81 don't worry, I've found a fix and I am currently working on a test.

[2020-01-30 12:41] uclaros commented on #34122
It's easy to miss it since everything works perfectly until you need to refresh.

[2020-01-30 12:44] elpaso commented on #28643
May be fixed by https://github.com/qgis/QGIS/pull/34152 but I still need to check if that's the case.

[2020-01-30 13:12] Mickeler commented on #34149
I got Python error message, when using 3.10.2

Ei voida ladata PyQGISia.
Python-tuki ei ole käytettävissä.

Traceback (most recent call last):
  File "", line 1, in
  File "C:/PROGRA~1/QGIS3~1.10/apps/qgis/./python\qgis\core\__init__.py", line 84, in
    QgsDxfExport.ExportResult.Success.__doc__ = "Successful export"
AttributeError: type object 'QgsDxfExport' has no attribute 'ExportResult'

Pytho

[2020-01-30 13:14] gioman commented on #34149
@Mickeler doing what?

seems it is still 3.10.0

[2020-01-30 13:29] Mickeler commented on #34149
OK, I try to reinstall 3.10.2

[2020-01-30 13:34] troopa81 commented on #34118
Thanks!

[2020-01-30 14:43] mapman1980 opened #34154 "Scale bar defaulting to ellipsoid"
**Describe the bug**
Version 3.10.2
Data layers are using EPSG:27700, project is set to EPSG:27700
When adding a scale bar to a layout, the scale is incorrect. It appears to match the ellipsoid distance measurements rather than the cartesian measurement. I can't make the scale bar switch to cartesian mode like I can the measurement tool.

**How to Reproduce**

1) Open a data layer in EPSG:27700 (e

[2020-01-30 14:47] brendan35 opened #34155 "Issue with datum when exporting SHP EPSG:2260"
**QGIS and OS versions**
3.10 and prior versions

**Additional context**

Exporting SHPs to EPSG:2260 exports successfully. When importing SHPs into autocad, autocad recognizes the SHP as EPSG:3432, but when imported into an EPSG:2260 drawing appears to be geolocated correctly.

[2020-01-30 15:03] DelazJ commented on #34133
I Still can not reproduce on 3.10 windows 10: `concat("column1",'\n',"column2")` result is not null if any of the fields is null.
The discussion you are linking to is 5 years old and five years are like decades in QGIS dev life 😄 . Meanwhile you got #2118 (and #1947) so I'm afraid your issue is local.

[2020-01-30 15:04] gioman commented on #34155
Can you attach a sample of your exported SHP in EPSG 2260?

[2020-01-30 15:09] gioman commented on #34154
@mapman1980 can you add a sample project (with sample data and the layout), thanks!

[2020-01-30 15:56] basilrabi opened #34156 "[DXF Export] attributes are not exported"
**Describe the bug**

Layer attributes are not exported in dxf (even if they are valid dxf attributes). In the attached [project file](https://github.com/qgis/QGIS/files/4134760/dxf_bug.zip), the layer has 2 fields:

1. Layer and
2. Text

but neither are exported in dxf. Also, when Exporting Labels as MTEXT elements in exporting project as dxf, no labels seem to be exported.

**How to Reproduce**

[2020-01-30 16:01] rjhale1971 commented on #34131
Thanks for the comment - if I connect outside of my QGZ file (start a new project) it doesn't crash. So I'm going to work my way through that project file and start a new profile and see it's a plugin. Thanks much for the help. I'll let you know what I find out.

[2020-01-30 16:26] CristoFacundoP commented on #29936
Hi community,
I am experiencing the same issue (QGIS V.3.4) when calculating the standard deviation by r.series application form GRASS and was warned with the same message. I already uninstalled the version 3.4 and reinstalled it along with the 3.10. But the problem continues, whenever I activate the plugin the GUI is closed. In Options/Advaced/processing indicates that the last directory is locat

[2020-01-30 18:16] #34118 closed

[2020-01-30 18:26] roya0045 commented on #29936
Do you have any custom script or any broken thing that could cause a crash upon loading?

[2020-01-30 19:16] nmtoken commented on #34113
Note that 'getCapabilites' should **NOT** strictly return a response.

ref for example: https://github.com/qgis/QGIS/issues/34148

The  required spelling is 'GetCapabilities`

[2020-01-30 19:46] nyalldawson commented on #34155
This sounds like an autocad issue, not qgis...

[2020-01-30 22:11] raymondnijssen commented on #34125
Hi Michele, good idea! This could be python plugin. Could you make the svg icons for the buttons in the toolbar? I can make the toolbar itself.

One little thing, it will work but I don't think I can set the check marks in the View menu from the plugin (python) code, so that could look a bit ugly...

[2020-01-30 22:12] jfbourdon commented on #23859
As you correctly pointed out, changing the global default value isn't a great solution because if you have a classified raster, you wouldn't want a bilinear resampling, so it's just replacing a annoyance by another.

Could the current state of resampling be saved when choosing the hillshade renderer so that when the user switch back to *Singleband pseudocolor* for example, it automatically revert

[2020-01-30 22:26] nyalldawson commented on #34125
Raymond - you could find the actions from the main menu (by object name) and then make your toolbar actions sync with these...

[2020-01-30 23:40] rjhale1971 commented on #33988
Contacted the USGS. Nothing currently makes sense with the projection of this file. The tfw is wrong in my opinion. The Definition of the file looks to be a very old ESRI WKT definition.

[2020-01-30 23:45] Houska1 opened #34160 "Can't add layer to 2nd project opened in session"
3.10.2-2 (OSGeo4W), code revision `d4cd3cfe5a`

Work on project A, then in same session (without shutting down QGIS) open different project B.
Attempt to add a layer. Does not appear in canvas or layer tree (legend), no error message given; seems just not to have been added at all.

This is regardless of whether I drag'n'drop from browser, right click in browser and say Add to project.., or go thr

[2020-01-30 23:59] nyalldawson commented on #32098
@davidlgalt Send me an email to nyall@north-road.com. I've previously specced out the changes required here and can fill you in on funding requirements.

[2020-01-31 04:07] takurkowski opened #34163 "enable exports as geopdf on mac operating systems"
**Feature description.**
I think it's clear. When will this likely happen?

**Additional context**

[2020-01-31 04:25] nyalldawson commented on #34163
Duplicate of https://github.com/qgis/QGIS-Mac-Packager/issues/12

[2020-01-31 04:25] #34163 closed

[2020-01-31 04:46] #34022 closed

[2020-01-31 06:44] elpaso commented on #34113
Typos.

[2020-01-31 07:16] lochkalyan opened #34166 "In-consistence between legend in map layout and legend item"
**In-consistence between legend in map layout and legend item**
I am curious why it was difference between legend item and legend in map layout. Anyone can help to fix this issue (QGIS version 3.10)? Thank in advance.
![image](https://user-images.githubusercontent.com/7929651/73519583-0fa9dd00-4434-11ea-9b17-4a9bc7cc0d3d.png)

[2020-01-31 08:03] kadarivan opened #34167 "QGIS 3.10 can't find pkey of postgres views"
Since QGIS 3.10 the program randomly select a 'key' field for postgres views, so can't open them from Browser Panel, only from the Data Source Manager, after I manually select the **Feature id**
Previous versions respect field order from definition of views, but 3.10 sort them randomly in the Feature id selection list.

QGIS 2.18 and 3.4 are working fine. I only use LTR versions, so don't know whe

[2020-01-31 08:05] agiudiceandrea commented on #33156
The algorithm always works correctly with shapefile or gml layers but not with e.g. spatialite, geojson, gpkg or memory layers.
It's due to the fact that firsts have the first feature with fid=0, while the latters have the first feature with fid=1 so https://github.com/qgis/QGIS/blob/c89b511f8c72656115df75e4b160d4082a8ee0d6/python/plugins/processing/algs/qgis/RandomPointsAlongLines.py#L125 fails t

[2020-01-31 08:10] nyalldawson commented on #33156
Hmm this algorithm has some issues -- we really shouldn't be picking a totally random feature each time, but rather weighting so that longer features are more likely to be selected..

[2020-01-31 08:14] agiudiceandrea commented on #33156
A very simple patch https://github.com/agiudiceandrea/QGIS/commit/4d8059d68a5ed5ac6b76fe6a57a46072de330364

[2020-01-31 08:23] elpaso commented on #34167
please share a db SQL dump and a project to reproduce.

[2020-01-31 08:48] elpaso commented on #34148
Sorry, but I don't understand: is this an issue on QGIS Desktop WFS provider or in QGIS Server?

Can you please explain step-by-step how to reproduce the issue? (I understand that the server might not be public)

[2020-01-31 08:50] mapman1980 commented on #34154
Hi - apologies, I've sorted the issue:

1) Downloaded and installed OSTN15_NTv2_OSGBtoETRS.gsb
2) Restarted **computer system**, not just QGIS and the issue resolved

Hope this helps anyone who comes across this issue with EPSG:27700 and the scale bar using Ordnance Survey data. Looks like it was an issue previously (https://forum.manjaro.org/t/latest-qgis-update-3-8-is-missing-has-error-with-datu

[2020-01-31 08:50] elpaso commented on #34166
Please share a test project and data where a developer can reproduce the issue.

[2020-01-31 09:07] lifa-lin commented on #34148
Hi elpaso.

When I open a WFS connection in QGIS, it looks something like this:

https://myserver/myhandler?Login=MyCustomer&Password=123456789&

The "Login" and "Password" parameters are needed to validate my requests thru "myhandler", but because they're non-standard, I provide them in the stub url (no other way).

The application "myhandler" recognizes and processes the non-standard parameters,

[2020-01-31 09:24] pigreco commented on #33156
I just tested, on the master, the @agiudiceandrea patch,
works well with temporary layer

[2020-01-31 09:25] FelisPimeja opened #34169 "Local drive root path can not be opened in browser panel on Windows in qgis-dev"
This happens with the current qgis-dev version on Windows with new clean profile and no third plugins installed. In browser panel I can not expand any local drive to see it's root folders. Instead, I get an error in Messages tab of log panel:

`2020-01-31T12:04:08     CRITICAL    Qt : QFileSystemWatcher::addPath: path is empty`

And the folders listed in browser panel located not in the root folde

[2020-01-31 09:27] saberraz commented on #34169
Also confirmed in Linux on master.

[2020-01-31 09:30] FelisPimeja commented on #34132
Can also confirm on Windows with different Postgresql versions (9.5, 9.6, 10, 12)

[2020-01-31 09:31] Guillaume54 opened #34170 "Display mysql data"
Hello,

I connected a MySQL table containing points with QGIS. Adding new records from QGIS works well. The problem is this: QGIS does not display the points on the map. However QGIS manages to interpret the coordinates because it zooms on the area containing the points. The attribute table in QGIS looks correct. I work with QGIS desktop 3.4.14.1 in French. I also tried in English I have the same

[2020-01-31 09:50] elpaso commented on #34132
@FelisPimeja @gioman @rjhale1971

Can you please test this PR? https://github.com/qgis/QGIS/pull/34171/files

You can manually patch python code on your installation to test it, it's just a few lines of code.

[2020-01-31 10:07] FelisPimeja commented on #34132
@elpaso
It works - all is Ok for me now! Good job. Thank you.

[2020-01-31 10:27] kadarivan commented on #34167
[pkey.zip](https://github.com/qgis/QGIS/files/4138825/pkey.zip)

[2020-01-31 10:28] RolfBerlin opened #34173 "CityGML-Import LoD1 (official source) - objects are missing (QGIS 3.10.2)"
**Describe the bug**
Result of importing  LoD1-files (and of the corresponding LoD2-files as well) is that several buildings are missing. In the jpg attached you can see - 3 of them signed with a circle.
The missing buildings are included in "LoD1_419915-5737900_geb.gml" as a friend saw in  Sketchup !
The corresponding file "LoD1_419915-5737900_geb.txt" says 321 buildings.
The Attribute table in Q

[2020-01-31 10:44] strk commented on #34025
I just tested opening, with DBManager, the connection called "qgis_test". The connection was made only filing the "service" field. DBManager opens it fine.

Does your problem also show up outside of DBManager @jgrocha ?

[2020-01-31 10:51] strk commented on #34025
My test was with commit 5b4e581d03538b6f97d2fab41d28ef81aaf218ba (top commit from PR #33225)

[2020-01-31 11:15] geoang opened #34174 "WMS on QGIS Server 3.10.2 ignoring layers with scaledenominator"
publishing a wms containing layers with scale dependent visibility in qgis server 3.10.2 (on windows server!) does not work as expected. the getmap returns an image without the layer even tough the image has been requested within the visibility range of the layer.

getcapabilities lists the layer correctly.

bug?

[2020-01-31 11:18] gioman commented on #33988
so what to do with this ticket?

[2020-01-31 11:24] gioman commented on #34170
@Guillaume54 not saying that mysql layers should not work, but consider that there is very little interest in mysql considered that postgresql/postgis is far superior and better supported (in fact postgis is supported natively in QGIS rather than using a generic driver).

[2020-01-31 11:32] gioman commented on #34174
seems so but right now I can't check, will do it asap.

[2020-01-31 11:34] gioman commented on #34167
I also noticed this issue. If the provided sample is not enough let me know, i should be able to provide a sample of my own.

[2020-01-31 11:39] ghost opened #34176 "QGIS 3.102 crashing repeatedly this morning"
**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**
## User Feedback

i was moving a layer in the window . It has been locking up all morning on the full time release with a cursor spinning the crashes

## Report Details

**Crash ID**: [019e7c4b02c464431071767a7a3f1b0e15e2b96a]('https://github.com/qgis/QGIS/search?q=019e7c4b02c464431071767a7a3f1b0e15e2b96a&

[2020-01-31 11:44] gioman commented on #34176
@MPN-stack the drill is always the same:

1) try if a new QGIS profile helps (do not install any 3rd party plugin)

2) if 1) does not help then attach a sample project with data that can help us find the source of the issue

[2020-01-31 11:53] gioman commented on #34160
@Houska1 just to be sure about the steps to follow:

1) open project A (already existing? blank?)

2) add a layer in the project

3) save(?)

4) open project B (already existing? blank?)

5) add the same layer added in step 2

correct?

[2020-01-31 12:00] gioman commented on #34173
@RolfBerlin sorry I can't figure how to download the dataset from that web viewer in german, can you just attach the zip file? thanks.

[2020-01-31 12:11] Houska1 commented on #34160
@gioman
1. Launch QGIS which opens existing project A. Optionally do anything in project A, but not required.
2. Project / Open recent... another existing project B
3. Attempt to add layer to project B by dragging from browser, right clicking in browser, or Layer / Add layer.... Nothing happens.

In contrast, if try to add the same layer to Project A, as "step 1.5" in the above list, it works at t

[2020-01-31 12:11] RolfBerlin commented on #34173
Hi, you can find the ZIP at the end of my report.
Thx in advance!
Rolf

[2020-01-31 12:12] gioman commented on #34173
sorry I missed it.

[2020-01-31 12:17] Houska1 commented on #34160
I did write above I had only tried adding a vector layer from a gpkg. I have now verified that I can't add *any* layer to Project B (if it was opened as above). Have just checked that I can't add a tif raster or a ArcGisFeatureServer browser tree entry either.

[2020-01-31 12:31] RolfBerlin commented on #34173
I pushed the ZIP a bit higher ...

[2020-01-31 12:36] Houska1 commented on #34160
I'm going to close this for now, and reopen after some more exploration if needed.

It turns out the projects I've tried this on have openProject() and closeProject() macros. This problem isn't happening if I run in a profile *in which I've disabled macros*. It's still weird it worked in 3.8 and not 3.10 but I'll do a bit more exploration myself to figure out if (and how) in the macros are related

[2020-01-31 12:36] #34160 closed

[2020-01-31 12:51] mstuyts commented on #33420
I have a similar problem in QGIS 3.10.2 (d4cd3cde5a) on Windows (OSGeo4W).

Here is a project file that contains the problem:
[testcrs.zip](https://github.com/qgis/QGIS/files/4139236/testcrs.zip)

---
How to reproduce:
- Set the default CRS in QGIS to EPSG:31370
- Create a new project file (this gets the CRS from the default settings, so it's EPSG:31370)
- Add a layer (in my test I added a WMS lay

[2020-01-31 12:54] roya0045 commented on #33420
The first thing would be to update and see if the problem still occurs. Since @mstuyts said that it did not occur in the latest LTR for him the bug might be fixed already.

[2020-01-31 12:58] rjhale1971 commented on #33988
I'll close it - I'm working back through the QGZ file and I can't figure out an exact cause of it crashing. If I figure it out I'll re-open and provide a better report.

[2020-01-31 13:04] gioman commented on #33988
Maybe you can attach the TIF+TFW?

[2020-01-31 13:09] rjhale1971 commented on #33988
I don't know. I'm not sure if QGIS reads the tfw file first or the Tiff. Right now it appears to be reading the tfw file - of course I'm assuming the tfw file is wrong based off looks. I'm going to plot the corner as a point and see where it falls. The Tiff itself is still "undefined" but whatever has happened from 3.6 to now has some users complaining QGIS (proj/gdal) is wrong - which I'm startin

[2020-01-31 13:21] #28643 closed

[2020-01-31 13:23] MrXsquared opened #34177 "Enabling opacity / alphachannel as diagram fill color"
**Feature description**

It would be a nice and very useful feature if it was possible to enable opacity (alpha channel) for use within fill colors of diagram charts:

![1](https://user-images.githubusercontent.com/44526431/73542094-441d9900-4434-11ea-9a1f-0c4943704150.JPG)

Like it is possible in symbology:

![2](https://user-images.githubusercontent.com/44526431/73542126-53044b80-4434-11ea-8c96-

[2020-01-31 13:53] jgrocha opened #34178 "QGIS Server GetPrint: HIGHLIGHT_GEOM is not printed if map layers are configured to follow a map theme"
**Describe the bug**

The `HIGHLIGHT_GEOM` is handy to print some additional geometry on top of an existing layout.

If the user chooses to "follow a map theme", in the map properties, the additional geometry is not printed. The layers printed are the ones on the theme, as expected, but not the `HIGHLIGHT_GEOM`.

![follow map theme](https://user-images.githubusercontent.com/163681/73544385-f653618

[2020-01-31 14:04] NathanW2 commented on #34176
This looks like a possible plugin issue due to the Py** stack frames and
sip lines. Which plugins do you have installed currently

On Fri., 31 Jan. 2020, 9:44 pm Giovanni Manghi, <notifications@github.com>
wrote:

[2020-01-31 14:37] jgrocha commented on #34025
Thanks @strk for looking into this.

If I try to open a service based connection, I get this error:

![error connecting using db manager](https://user-images.githubusercontent.com/163681/73547181-57316880-4436-11ea-9571-561e3bc9805b.png)

The error makes sense. **I don't have any connection named `qgis_test`.**

The DB Manager is not using the service name I have configured. This is my list of con

[2020-01-31 14:46] jgrocha commented on #34025
@strk If I add a service called `qgis_test`, everything works fine. I mean, the other services starts to work again.

My .pg_services.conf now has:

[code]

With this dummy `qgis_test` service, the DB Manager is working.

[2020-01-31 14:58] strk commented on #34025
Wow, puzzling. The only hard-coded "qgis_test" I find in the QGIS codebase (outside of testsuite) is in python/plugins/db_manager/db_plugins/postgis/plugin_test.py -- could it be python loads all files in a dir rather than just the given one ? (just shooting in the dark here)

[2020-01-31 15:00] #34148 closed

[2020-01-31 15:09] gioman commented on #34173
@RolfBerlin here is the problem... it's complicated :)

Disclaimer: I personally do not grap/understand fully the whole matter, so consider the following just as vague explanation.

There are GML datasources that encode inside a complex data model (i.e. Inspire, citygml), to read this data correctly a specific driver was added to GDAL/OGR, is called GMLAS:

https://gdal.org/drivers/vector/gmlas.ht

[2020-01-31 15:13] elpaso commented on #34178
please attach a project and data to reproduce.

[2020-01-31 15:16] #34132 closed

[2020-01-31 15:24] gioman commented on #34173
There should not be any issue here, it is at best a feature request (in order to allow QGIS handle this datasets via GDAL/OGR, but I think there are other tickets about it).

[2020-01-31 15:34] strk commented on #34025
@jgrocha besides, the error you show now is different from the one you showed in your original report, I even tried removing the `[qgis_test]` block from my `.pg_services.conf` and things still worked for me (other than connecting to the `qgis_test` named connection of course).

Do you build QGIS yourself ? If so, could you bisect ?

[2020-01-31 15:36] elpaso commented on #34025
@jgrocha also, test latest master: I've done a couple of PG/DB-manager fixes a few hours ago.

[2020-01-31 16:01] Houska1 opened #34180 "Possible bug: QgsProject.instance() not re-initialized when 2nd project opened?"
(Pardon any cluelessness - I used to be a developer decades ago, but now merely dabble.)

I have Project A with macros:
[code]

Up to 3.8, this worked. Now, in 3.10.2, if I open *another* project (e.g. existing Project B) after this one, without restarting QGIS in between, I am unable to add any layers (https://github.com/qgis/QGIS/issues/34160 - closed in favour of this one). The cause seems to b

[2020-01-31 16:03] elpaso commented on #34134
It's almost impossible to implement without a major rewrite of QGIS core classes given the current design of the vector layer and data provider classes.

[2020-01-31 16:04] gioman commented on #34180
@Houska1 if this is a question you should make it in the users or developers mailing lists. If it turns out to be a bug then file a ticket here.

[2020-01-31 16:16] Houska1 commented on #34180
@gioman, OK will do. On another project I'm in, the attitude is "if it's a potential bug, open an issue and it will be evaluated, closed if determined not to be one, or once fixed. Don't clutter up the mailing list, which is for news and discussions, with specific issues which will just scroll by". But I see your point, esp. in a pre-3.12 bug sprint, and will do so next week.

[2020-01-31 16:57] roya0045 commented on #34180
Do you even need to disconnect when closing the project? I assume that if you do nothing it should be fine?

[2020-01-31 17:12] Saijin-Naib commented on #34169
The same behavior applies for mapped network drives under Windows, as well.

[2020-01-31 18:47] jgrocha commented on #34178
### Test project

I've created a very simple project with two layers and two layouts. The project is inside the same geopackage.

[severdovouga.gpkg.zip](https://github.com/qgis/QGIS/files/4140870/severdovouga.gpkg.zip)

#### Capabilities

The geopackage should be stored some where on the server, where QGIS Server can have access.

http://qgis.demo/cgi-bin/qgis_mapserv.fcgi?MAP=geopackage:/home/qg

[2020-01-31 20:50] RolfBerlin commented on #34173
Thanks a lot Giovanni for your analytics!!!
Many things you explain I haven't heard of before, e.g. "GMLAS driver" or "GDAL/OGR". I have no idea how to translate my GML like you did ...
The screenshot looks great! The best would be a plugin that functions this way ... So far I couldn't find one ... Does anybody know ?

[2020-01-31 21:00] rouault commented on #34173
--> https://plugins.qgis.org/plugins/gml_application_schema_toolbox/

[2020-01-31 21:37] RolfBerlin commented on #34173
@roualt: Thanks for the link. I found this plugin some days ago but it seems for specialists !? To try all options as a non-expert on GML I need one week of try and error.
What I need is Import -> convert -> export, Or a step by step explanation for "GML Application Schema toolbox QGIS" plugin. Then i would give it a try.

[2020-02-01 00:52] jgrocha commented on #34025
Thanks @elpaso and @strk
Everything is working perfectly right now on latest master.

[2020-02-01 00:53] #34025 closed

[2020-02-01 01:07] jgrocha commented on #34123
The `to_dms` output (in `x` axis) goes from -180 to 180, right?

Example: `to_dms(182.5432, 'x', 3) = -177°27′24.480″`

[2020-02-01 01:56] baswein opened #34183 "XYZ tiles do not load in certain CRS's"
**Description**

In QGIS 3.10.2 XYZ maps from the Quickmap Services and Open Street Maps XYZ tiles are not visible when working with certain CRS's. These CRS's loaded fine in 3.8. I am not sure if they where also not loading in QGIS 3.10.1. I have tried this on multiple computers with a clean profile.
**How to Reproduce**
Open up QGIS and load Open Street Map from the XYZ tiles section of the brow

[2020-02-01 09:16] RolfBerlin commented on #34173
I found a workflow here:
https://github.com/INSPIRE-MIF/caniuse/issues/3
But although I am a little bit firm with DOS-commands I can't find a way to change in OSGeo4W from C: to my folder on D:  as explained in Step 2.
Sorry, but isn't there an easier way ?

[2020-02-01 09:52] strk opened #34185 "Runs of testsuite leaves hundreds of directories in ~/.local/share"
Every test run via ctest ends up creating a directory under `~/.local/share` (on my Unix setup, not sure where else on other setups). Such directory contains a `profiles` subdir with a `default` subdir and a bunch of files. Example:
[code]

This was reported to be expected but UNDESIRED, which I agree with.
This ticket is to keep track of the problem.

\cc @m-kuhn

[2020-02-01 10:05] sonoso77 opened #34188 "Grass Plugin Crashing"
Crash ID: f700d94ec6f7239f82e7b89f1029975f10a95e9c

Stack Trace

longjmp :
DrawFrameControl :
_C_specific_handler :
_chkstk :
RtlUnwindEx :
_C_specific_handler :
_chkstk :
RtlInitializeResource :
RtlRaiseStatus :
longjmp :
longjmp :
G_fatal_error :
G_getenv :
read_datum_table :
GPJ_osr_to_grass :
GPJ_wkt_to_grass :
version :
version :
QMetaObject::activate :
QWizard::subTitleFormat :
QWizard::next

[2020-02-01 10:06] gioman commented on #34188
@sonoso77 way too old. Please update to the latest release. If the problem persist, reopen. Thanks!

[2020-02-01 10:06] #34188 closed

[2020-02-01 10:35] gioman commented on #34173
@RolfBerlin you don't need much workflow, it is just one command (example):

ogr2ogr -f GPKG c:\path\to\your\ouput.gpkg GMLAS:c:\path\to\your\input.gml -oo REMOVE_UNUSED_FIELDS=YES

just use the OSGeo4W command line shell you get with any QGIS installation.

the command to change drive/directory is "cd", i.e.

cd d:\myfolder

but if you use the command as above  you won't need it.

Anyway, having

[2020-02-01 10:35] #34173 closed

[2020-02-01 10:49] gioman commented on #34183
@baswein cannot confirm here

![Peek 2020-02-01 10-47](https://user-images.githubusercontent.com/1951107/73590936-6ff65880-44e0-11ea-972a-7afb8f1532c2.gif)

[2020-02-01 10:54] m-kuhn commented on #34180
Calling `disconnect()` on a core signal is dangerous. It will disconnect everything and is almost guaranteed to break core stuff and other plugins.

Keep a copy of the connection that is returned by the call to `connect()` and use it as parameter when disconnecting.

[2020-02-01 10:54] #34180 closed

[2020-02-01 11:33] RolfBerlin commented on #34173
**PERFECT !! I got all the missing buildings !!**
Thank you !!!

To summarize:
In the screenshot you can see the command I used.
![command](https://user-images.githubusercontent.com/47972999/73591444-bd79c200-44ee-11ea-895c-066e5d4ac3be.jpg)
As result I got a gpkg-file that I imported in QGIS. I had to choose between dozends of layers.
I chosed Layer-ID Nr. 0 "building" (all the buildings I had be

[2020-02-01 13:25] baswein commented on #34183
Thanks for testing it out. Can always count you to triage these things!  The only difference I see is that you choose a transformation other then the top one. Here is a GIF of me doing the same thing using the first transformation.
![qgi_xyz_switch-back](https://user-images.githubusercontent.com/15817745/73592812-3b78a180-44cc-11ea-9b94-6d018f4e8a60.gif)

But if I use the second transformation opt

[2020-02-01 14:24] roya0045 commented on #34123
Using y I get -90 to 270, in order to coerce it to 0-360 I must do some annoying things to check for a -, offset it by 90, parse the data, invert it from negative to positive and some other stuff. This is quite silly.

[2020-02-01 18:53] uclaros commented on #34134
@elpaso maybe I'm missing something, but I have a pretty simple solution.
On memory layers, `QgsMemoryProvider.uri()` returns a uri with the fields that the layer had when created, ignoring any fields added later. On the other hand, `QgsMemoryProvider.dataSourceUri()` rebuilds the uri string upon request by iterating through fields, layer type, crs etc.

When duplicating a vector layer via `QgsVec

[2020-02-01 19:17] AndrewAnnex opened #34191 "DB Manager: "is an invalid layer - not loaded" when double clicking on virtual layer"
Checklist before submitting

- [✔️] Search through existing issue reports and gis.stackexchange.com to check whether the issue already exists
- [✔️] Test with a [clean new user profile](https://docs.qgis.org/testing/en/docs/user_manual/introduction/qgis_configuration.html?highlight=profile#working-with-user-profiles).
- [✔️] Create a light and self-contained sample dataset and project file which d

[2020-02-01 20:14] elpaso commented on #34134
Ok, thank you for the idea, let me have another look if your solution is safe.

[2020-02-01 20:45] agiudiceandrea commented on #33470
@nyalldawson @m-kuhn It could be due to https://github.com/qgis/QGIS/blob/73f707e02d8a634a91bfdb577b43733044bd1fe8/src/analysis/processing/qgsalgorithmdensifygeometriesbyinterval.cpp#L94-L99 where `modifiedFeature.setGeometry( feature.geometry().densifyByDistance( mInterval ) );` should be `modifiedFeature.setGeometry( feature.geometry().densifyByDistance( interval ) );`

[2020-02-01 22:33] uclaros commented on #34134
Some more things I noticed:
- The clone layer has 2 `uid=` on it's `dataProvider().uri().uri()`. Further cloning the clone, appends more `uid=`
- Cloning a layer with added fields results in a layer without the extra fields. Manually adding the field to the clone also brings the data it had on the original layer!
- Changing the crs has no effect on either Uris and subsequently no effect on the clo

[2020-02-01 23:25] nyalldawson commented on #33470
Right - good solving! Can you open a pr?

[2020-02-02 00:59] betrio61 commented on #33745
It seems this was **not** a qgis specific issue since it resolved itself after updating my system. I believe it is from Qt 15.14.0 and resolved in Qt 15.14.1. Perhaps this also fixes poor mr. flying spaghetti monster in #33731 as well.

![image](https://user-images.githubusercontent.com/59808482/73601287-b376b400-452c-11ea-88a5-14d2bd27e268.png)

[2020-02-02 00:59] #33745 closed

[2020-02-02 02:21] #33470 closed

[2020-02-02 05:25] rafaaaltamiranda opened #34195 "QGis Crash"
Crash ID: f74f6418021ce0696dbcc0141a62af7efdbf27a7

Stack Trace

QGraphicsScene::wheelEvent :
QGraphicsScene::wheelEvent :
QGraphicsScene::wheelEvent :
QGraphicsScene::wheelEvent :
QGraphicsScene::wheelEvent :
QGraphicsScene::wheelEvent :
QGraphicsScene::wheelEvent :
QGraphicsScene::drawItems :
QGraphicsView::paintEvent :
QgsLayoutView::paintEvent qgslayoutview.cpp:1147
QWidget::event :
QFrame::ev

[2020-02-02 06:40] gabriel-de-luca opened #34196 "unit "m" not handled in custom WKT string"
**Describe the bug**

When loading the attached shapefile to QGIS 3.10.2 (tested with 3.10.2-2, also with master branch release), the layer has Unknown CRS.
QGIS 3.4.15 assigns _EPSG:31287_ CRS to the same shapefile when loaded.

The _.prj_ file has a WKT1 string (I don't know if WKT1-ESRI or WKT1(-OGC/-GDAL)), describing the _EPSG:31287_ projected CRS, but with the _MGI to WGS 84 (8) - EPSG:1194_

[2020-02-02 09:24] gioman commented on #34195
@rafaaaltamiranda

upgrade to 3.4.15 or 3.10.2

test with a new QGIS profile (no 3rd party plugins installed)

if the problem persist please add detailed steps (and sample project + data) about how replicate the problem.

[2020-02-02 09:24] gioman commented on #34195
@rafaaaltamiranda also please edit the title with a more descriptive one.

[2020-02-02 10:05] gioman commented on #34196
@gabriel-de-luca if you use the PRJ file from https://spatialreference.org/ref/epsg/31287/ the CRS is recognized as expected, but I guess the real issue here is QGIS not making some assumptions when it does not happens.

[2020-02-02 10:08] agiudiceandrea commented on #34123
@roya0045 The `to_dms` function is intended to be used for the formatting of geographic coordinates values, so it should _wrap around_ the values for x (longitude) in the range -180 to 180 and for y (latitude) in the range -90 to 90.

In QGIS 3.10.1 I didn't experience the  "-90 to 270" behaviour. Could you please provide an example?

A new function or the modification of the existing function is

[2020-02-02 10:12] gioman commented on #34173
@RolfBerlin there can be bureaucratic (i.e. INSPIRE) or technical reasons to ship data in this complex data models, after all citygml is standard format from OGC. In general I don't understand why in some cases the underlying data is not shipped also in a more user/gis friendly format.

[2020-02-02 10:16] gioman commented on #34191
Confirmed also on 3.10.2 and 3.4.15.

[2020-02-02 10:44] gioman commented on #34183
@baswein seems to me is the very same case as described here: https://github.com/qgis/QGIS/issues/33929#issuecomment-576516324

[2020-02-02 11:14] roya0045 commented on #34123
@agiudiceandrea I agree that the floor substring method is better, if values are don't get warped to -90.

I only tested on 3.4 for the -90 270, I'll try on master when I have the time.

[2020-02-02 11:32] agiudiceandrea commented on #34123
That is strange. I've also tested on 3.4.5 and 3.4.9, but I cannot reproduce the reported behaviour.

[2020-02-02 12:17] rouault commented on #34173
You may also add ``-oo REMOVE_UNUSED_LAYERS=YES``

[2020-02-02 12:23] Elia1959 opened #34197 "qgis crash"
Crash ID: f53c022538b98c179981f3efb9b4894a728a297a

Stack Trace

QCoreApplication::postEvent :
::operator() qgsgeonoderequest.cpp:68
QMetaObject::activate :
QgsGeoNodeRequest::replyFinished qgsgeonoderequest.cpp:258
QMetaObject::activate :
QSslKey::operator!= :
QObject::event :
QApplicationPrivate::notify_helper :
QApplication::notify :
QgsApplication::notify qgsapplication.cpp:418
QCoreApplicatio

[2020-02-02 12:47] gioman commented on #34197
@Elia1959 please add detailed steps to replicate.

Try a new QGIS profile (no 3rd party plugins installed). if the problem persist attach a sample project + data.

[2020-02-02 13:15] RolfBerlin commented on #34173
@rouault  Many thanks for your addition.

@gioman  Many thanks for your explaining. I'll try to get in contact with the official provider (state). Not so easy for me via mail (maybe phone) without any experience in CityGML. It's a big topic for me now cause in Brandenburg state of Germany its now opendata since 2 weeks !!!

There is a new problem! Thats why the issue isn't really closed for me, I'

[2020-02-02 14:02] i-s-o commented on #34191
Also confirmed on QGIS 2.18! :)

I guess this action was *not in the feature set* because the virtual layers were designed to be used in queries, and not simply added back as new layers (for that we have *Duplicate Layer* right-click action in the Layers Panel).

For UX consistency, I think it is better to link the double-click action on the layer name in Virtual Layers tree to the Duplicate Layer

[2020-02-02 14:54] baswein commented on #34183
Thanks- It does seem to be a transformation issue. Here is some more evidence using the "world" map. With the world map it leaves weird shapes.
![QGIS_transform_world](https://user-images.githubusercontent.com/15817745/73610046-74cf1100-45a1-11ea-98ef-ed65e9613294.gif)

[2020-02-02 15:11] baswein commented on #34183
I just tried exporting a clipped 3857 geotif of the ma OSM (stylized in gray-scale to show the difference) and adding that and it did not have the same issues.
![qgis_clip_xyz](https://user-images.githubusercontent.com/15817745/73610291-b5c82500-45a3-11ea-94f7-08ef1aa9034b.gif)

[2020-02-02 15:29] AndrewAnnex commented on #34191
Okay good to know,

This might be a feature request but is there a way to have a sql REPL panel in QGIS? I want to quickly iterate with developing sql queries and see the results on the main canvas (provided the geometry is included in the result I suppose). I think this is the intended use of the DB manager but I recall that the map preview is another panel in the manager and the sql command pane

[2020-02-02 15:51] gabriel-de-luca commented on #34196
@gioman , Probably because this definition includes a datum transformation that is not the same as preferred by default for its datum?

The particular combination of Settings: _"CRS for Projects: Use CRS from first layer added"_, _"CRS for Layers : Leave as an unknown CRS (take no action)"_  and _"Default datum transformation: Don't ask for datum transformation if several are available"_, might pr