[2020-09-27 04:22] HerrCraziDev opened #39054 "Absolute values for the color ramp classification tool"
**Feature description.**
Aloha,
I recently came to edit a custom color ramp for a raster heightmap, and found quite difficult to get the right values for precise color stops, like sea level, with the little knobs on the ramp. More specifically, the ramp is only graduated in percentages (relatively), and one can only input a relative stop value (in percents) in the input widget below. It would be u

[2020-09-27 04:51] matosang commented on #38978
One thing I've noticed is that after a new layer is added to layer tree, and when QGIS freeze on canvas refresh, if I leave the application to grind away, it can eventually become functional, but it can take 10-20 or more minutes. Not sure why it takes so long...

[2020-09-27 08:00] gioman commented on #39045
@matosang this seems duplicate of https://github.com/qgis/QGIS/issues/38978

[2020-09-27 08:44] Cebrian007 commented on #39049
By the way Gioman, I forgot to mention that the weirdest thing is that the cumulative cost tool works fine in the module r.cost. The issue is only with the cost allocation tool

[2020-09-27 09:09] pigreco commented on #35016
Excuse my reflection, but the problem is not to be found in GDAL or PROJ but in windows, as shown by the various tests.

regards

[2020-09-27 09:39] Jean-Roc commented on #38979
The contrary : forcing to specify the host conflicts with tnsname.ora, I'm able to connect if I leave the host field blank (in 3.10 and earlier).

[2020-09-27 13:36] PedroVenancio commented on #35465
Hi @elpaso and @gioman

It keeps failing with some rasters. See this one:

![Raster_Quantiles](https://user-images.githubusercontent.com/1331581/94366205-67d1d580-00ce-11eb-9bce-9ce8e63e1135.jpg)

Here is the project with the sample raster:

[Raster_Quantiles.zip](https://github.com/qgis/QGIS/files/5288345/Raster_Quantiles.zip)

Quantiles calculated from Vector Symbology are always correct, just l

[2020-09-27 13:46] PedroVenancio opened #39057 "QGIS does not show no data correctly in Arc/Info Binary Grids with overviews"
Please see this screencast:

https://cld.pt/dl/download/d31eba1a-c6cf-446d-b151-10d8764cf909/no_data_transparency.mp4

"No data value" change from transparent to coloured, just with zoom in/out. Removing the .ovr file, this does not happen anymore, so it seems that the problem come from transparency in overviews.

Here is a sample dataset:
[AIG.zip](https://github.com/qgis/QGIS/files/5288356/AIG.z

[2020-09-27 19:01] slarosa commented on #37574
fixed in #38768

[2020-09-27 19:01] #37574 closed

[2020-09-27 19:10] ntrip6 commented on #35051
It is wonderful to hear that there are plans to work on the UI of Georeferencer. Did a lot of work in Arcmap 10.x years ago and have recently been doing quite a bit of work in QGIS3 so I thought based on my experience with both i would type up some of the aspects of QGIS Georeferencer I that think could be modified for easier flow. Some of these are pretty basic (more basic than what is proposed a

[2020-09-27 19:27] jdugge commented on #32028
This is possible in QGIS 3.14 (and probably earlier) using the "Embed file..." option:

![embed_image_in_layout](https://user-images.githubusercontent.com/2399255/94373822-3970ec00-0108-11eb-82ec-a86496f111f7.png)

[2020-09-27 19:29] agiudiceandrea commented on #35016
Yes, the different GDAL/PROJ (mostly GDAL) version was an initial hypotheses.
Testing various combination of QGIS/GDAL version on both Windows and Linux was a way of trying to rule out this hypothesis: in fact, it seems now very unlikely, since all the combination of QGIS/GDAL on Windows fail and all those on Linux succeed.

[2020-09-27 19:30] ntrip6 commented on #35051
I went through and took a few more screenshots to include here I hope you don't mind. This isn't meant to suggest copying them just to foster discussion of pros/cons of different UI approaches because many people don't have access to esri licensed software for comparison.
Good aspects of Arcmap process (visible in screencap I include below)
- As the original post suggests this work is occurring in

[2020-09-27 21:54] jef-n commented on #37384
sure.

[2020-09-27 23:03] PedroVenancio opened #39058 "Wrong assignments of raster values to symbology Paletted/Unique values or Singleband Pseudocolor"
I'm seeing some inconsistencies when styling raster layers.

Here is a sample raster (Float32) that has pixels with 4 different values:

[prob0115_sample.zip](https://github.com/qgis/QGIS/files/5289216/prob0115_sample.zip)

[code]

Loading it to QGIS, the default Singleband Gray render type shows the 4 values with different levels of gray.

- If I try to apply a Paletted/Unique Values render style

[2020-09-27 23:33] PedroVenancio opened #39059 "Function to convert a date to julian day and vice-versa"
It would be good to have a function to convert a date (or datetime) field to julian days and vice-versa.

`day("date_field" - make_date(year("date_field"),1,1))+1 `

should give the pretended output, but a native function to use in expressions (to and from julian days notation), would be great.

[2020-09-27 23:57] GISstudentJeremy opened #39060 "GRASS r.stream.extract crash"
Hello everyone,

I've been having an issue with the r.stream.extract crashing QGIS. Everything is in the correct CRS and the plugin is enabled. The elevation layer I'm using is a .tif file. I'm not sure how to access the crash reports to see what the problem is.

Any troubleshooting advice or questions would be helpful for this issue. You guys are my only hope, thank you

[2020-09-28 00:00] petercornelissen commented on #38978
I have a problem that is probably related to this. I've tried new profiles, rebuilding the project etc. and it all works fine for a while then eventually it freezes when trying to add a new lay, pan a raster, move a layer etc. for 5 or 10 minutes. If you save the project, exit and restart it all works fine again until you add something else. I'm now using GeoPackages, but I had the same problem wi

[2020-09-28 03:40] nirvn opened #39061 "WGS84 vector tiles fail to reproject properly"
Since QGIS' vector tiles assume pseudo-mercador CRS, any vector tiles not matching this hard-coded assumption fails.

For eg, this WGS84 CRS vector tile: https://basemaps.arcgis.com/arcgis/rest/services/OpenStreetMap_GCS_v2/VectorTileServer

[2020-09-28 07:16] DanielHorst commented on #39030
No, I have also tried it with different coordinate systems.. not methodologically though. These are just the coordinate systems I am working on for the projects.

[2020-09-28 07:28] elpaso commented on #35016
I don't know if they qualify for `clear` and YMMV but here they are https://github.com/qgis/QGIS/blob/master/INSTALL.md#4-building-on-windows

Note that it took me several years and an endless combination of black magic, sorcery, blood & tears, payers & blasphemies to have a kind-of-working windows toolchain. As a friend, I strongly advise you to go that route and I'm wondering what will you gain

[2020-09-28 07:31] elpaso commented on #35016
@pigreco just to be clear, I absolutely trust you and all the other users that are experiencing the issue and that the issue does exist, I'm sorry I cannot do anything about it because I cannot even reproduce it **on my machine**, and that is the prerequisite for me to even try to debug it.

[2020-09-28 07:34] elpaso commented on #38978
Unless someone can provide a test project with data that developers can use to reliably reproduce the issue on theirs machine I don't see how we can even try to fix this issue. Any volunteer?

[2020-09-28 07:35] siglou opened #39062 "QGis crash"
**Describe the bug**
I have been looking for solutions in a few forums but it hasn't been helping me.
Qgis keeps crashing and I don't have any plug-in installed. It usually happens when I close the application but sometimes it happens while working on something that I havent necessarely saved.
this is my crash report

Crash ID: 52de3a676d0b7c3c5cf4f0a1745ceffa69bddca0

Stack Trace

QGraphicsItem::

[2020-09-28 07:36] elpaso commented on #35016
@pigreco out of curiosity, did you try if the MXE builds are also affected from this issue? They use slightly different versions of the libraries.

[2020-09-28 07:46] nirvn commented on #38978
This _sounds like_ it could have been addressed by @m-kuhn 's recent work speeding up large layer trees.

Otherwise, as @elpaso said just now, it's unlikely it'll be fixed unless someone provides a test project. For people who are reporting this: try to attach a "slow" project's .qgs / .qgz file here without the datasets, if the problem has to do with a large layer tree, it can be diagnosed withou

[2020-09-28 07:54] gioman commented on #39062
@siglou too old, please update to the latest 3.10 or 3.14 release. If the problem persist please try with a new QGIS profile.

[2020-09-28 08:10] gioman commented on #35016
@elpaso I read this 5 minutes ago and still laughing! :)

[2020-09-28 08:13] elpaso commented on #35465
Maybe related to https://github.com/qgis/QGIS/issues/39058

[2020-09-28 08:16] gioman commented on #39060
@GISstudentJeremy are you referring to the tool in the Processing toolbox or the GRASS plugin?

What QGIS version do you use? On what operating system? Can you attach sample data?

[2020-09-28 08:26] elpaso commented on #35465
@PedroVenancio what QGIS version are you testing?

[2020-09-28 08:34] nirvn commented on #39061
OpenLayers' WGS84 vector tiles example: https://openlayers.org/en/latest/examples/vector-tiles-4326.html

[2020-09-28 08:42] GISstudentJeremy commented on #39060
Hi gioman,

I am referring to the grass plugin I think. The version I'm using is the QGIS Desktop 3.12.3 with GRASS 7.8.3. The data I'm using is a clipped .tif file from the National Hydrography dataset here-- https://datagateway.nrcs.usda.gov/GDGOrder.aspx  Is there any other info you would need to help me troubleshoot the issue?? Thank you so much, I really appreciate it

[2020-09-28 09:06] PedroVenancio commented on #35465
@elpaso I'm testing with

QGIS version | 3.15.0-Master | QGIS code revision | 8d2a0d1ebb
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.11.2
Compiled against GDAL/OGR | 3.2.0dev | Running against GDAL/OGR | 3.2.0dev
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.29.0 | Running against SQLite | 3.29.0
Postgre

[2020-09-28 09:19] elpaso commented on #39058
@PedroVenancio the problem comes from a combination of facts:
1. the paletted raster renderer works on integers, the values of the classes use integer precision so I guess it won't work on floats by design
2. the paletted raster renderer uses the histogram to determine its values and (since it assumes integers) the histogram uses a bin count calculated by `std::ceil( max - min ) + 1`, so in this t

[2020-09-28 09:22] Gustry commented on #39045
In the LayerBoard plugin can you check the ghost column?

And indeed, try with a new QGIS user profile

[2020-09-28 09:36] narrowtux commented on #31274
I have a similar issue with 3.14.16-2 as well. On the 5th try, I was able to install.

Check if there is really enough space on your disk, I suspect that this was the problem for me, the installer just gives you a weird error message because it doesn't check for disk space errors when writing the file, but it will try to read the files later. (my assumption).

[2020-09-28 09:36] gioman commented on #39060
@GISstudentJeremy can you please attach the dataset (as zip) here? the link you posted do not point directly to a specific dataset?

[2020-09-28 09:49] gioman commented on #39058
should we raise this on the developers mailing list and see what others think?

[2020-09-28 09:52] elpaso commented on #39058
@gioman it seems a good idea, but given the low answer/question rate on that list I wouldn't count too much on that.

[2020-09-28 10:01] agiudiceandrea commented on #35016
Hi  @elpaso, great suggestion!
Latest qgis-dev 3.15.0-64 (8d2a0d1ebb) fails to correctly load the VRT layer,

![image](https://user-images.githubusercontent.com/16253859/94418150-4847b500-0181-11eb-944c-25eb8ba8994f.png)

while the latest MXE at the same commit (8d2a0d1ebb) succeeds!

![image](https://user-images.githubusercontent.com/16253859/94418633-f05d7e00-0181-11eb-813b-86b9ac5ba2c5.png)

[2020-09-28 10:07] elpaso commented on #35016
@agiudiceandrea unfortunately that doesn't help much, MXE is using old GDAL and PROJ.

[2020-09-28 10:39] jjk0giap commented on #38978
OK, on this project problem presists without any dataset:
[test2.zip](https://github.com/qgis/QGIS/files/5291629/test2.zip)

[2020-09-28 10:42] gioman commented on #39049
@Cebrian007 I get identical results in QGIS and using native GRASS. So please test in native GRASS, if the results are the same them please file a ticket on the GRASS bug tracker.

[2020-09-28 10:47] GISstudentJeremy commented on #39060
https://drive.google.com/file/d/19F6IukNsMJ-ozr0FNRwTs-Tc7DUcTUk4/view?usp=sharing

Sorry about that, here is a google drive link since the zipped files is too large

[2020-09-28 10:48] BoswachterMarc opened #39063 "QGIS 3.10.8 and 3.14 crashes when opening attribute table after setting up a photo field and using lay-out form with attachment widget"
When adding a field for photos (text string length 150 caracters) in a point layer and indicating that the attribute form must use a attachment widget (setting the path to 'relative paths' + relative to project path) QGIS crashes when I try to open the attribute table. The problem persists when using another user profile and running the project on QGIS 3.14 'pi' within Ubuntu/Mint).

Remarks
1/ **

[2020-09-28 10:49] mercergeoinfo opened #39064 "Data Source Manager crashes QGIS with long pathnames"
**Describe the bug**

Pointing Data Source Manager - Raster at a folder with a long name causes it and QGIS to crash. This was not instant the first time.
All subsequent attempts to open a raster caused the crash as the Data Source Manager was still looking in the folder with the long name.

Problem avoided by changing folder name.

**QGIS and OS versions**

3.10.5 on Windows 10

[2020-09-28 10:51] gioman commented on #39064
@mercergeoinfo can you define "long"?

[2020-09-28 10:55] nirvn commented on #38978
@jjk0giap , testing on my linux machine, I can't see any noticeable freeze. What 3.15 did you try? (i.e., commit revision string in the about dialog)

[2020-09-28 10:55] denchat opened #39065 "[3.15dev] Activating browser panel sometimes uses up the ui thread for a while."
**Describe the bug**

QGIS Window stops responding when activating browser panel the 1st time and from time to time.

**How to Reproduce**

1. After QGIS starts, click browser panel.
2. QGIS Window seems freezes for a while.
3. Click other panels, do your stuff
4. Click browser panel, it will freezes again.

**QGIS and OS versions**
3.15.64dev 64-bit on Window 10

![qgis_about](https://user-images

[2020-09-28 10:58] elpaso commented on #39058
@PedroVenancio for the pseudocolor, there are different issues, again related to precision and rounding, for now I identified the problem in the min/max rounded values.

But, in this particular case there is something that I don't get: the raster is `Float32` which has room for maximum seven decimal significant digits but GDAL reports max `10.35000038147` which has far more precision than what a `

[2020-09-28 11:00] nirvn commented on #38978
@jjk0giap , the commit @m-kuhn authored which I think might fix the issue reported here is https://github.com/qgis/QGIS/commit/673d6727ee0b99ea2ff0bd8df498134706341a00 , it was committed 8 days ago. If you haven't tried 3.15 in the last week or so, give it a try again (via osgeo4w installer).

[2020-09-28 11:05] nirvn commented on #38978
There is however a 5-10 sec freeze when the canvas scale is changed (i.e. when zooming in/out).

Hotspot graph of 5-10 sec freeze:
![image](https://user-images.githubusercontent.com/1728657/94424910-3122ba80-01b5-11eb-9b92-68b50f976478.png)

[2020-09-28 11:09] elpaso commented on #39058
@PedroVenancio I would like to create some tests for this kind of issue, would you be able to help by providing the smallest possible raster that I can use to reproduce the issue and create a test with?

[2020-09-28 11:17] nirvn commented on #38978
For the freeze to occur, the layer tree items must all be expanded. The reason for the freeze is, as hotspot hints at, the cost of re-drawing hundreds of layer tree item names.

[2020-09-28 11:23] Cebrian007 commented on #39049
Yes, I am pretty sure this is due to a bug. I will later test it in native GRASS

[2020-09-28 11:26] PedroVenancio commented on #39058
@elpaso Do you think this one with 63KB is small enough?

[sample_raster.zip](https://github.com/qgis/QGIS/files/5291853/sample_raster.zip)

[2020-09-28 11:38] gioman commented on #39049
@Cebrian007 if the results (in QGIS and native GRASS) are the same and one result is botched then the bug is in GRASS, not QGIS.

[2020-09-28 11:56] MaxDragonheart commented on #39028
OK, maybe is a problem on my PC

[2020-09-28 12:12] gioman commented on #39060
@GISstudentJeremy works for me on both on Linux and Windows. It is a quite heavy analysis, maybe you are missing some RAM do be able to run the analysis to the end?

[2020-09-28 12:14] mercergeoinfo commented on #39064
For example:
Ortofoto_4_band_0_16_m_2019_tif_Expect_slow_processing_and_large_output__267054e0-e132-453e-833b-c852a02f03cd_

On Mon, 28 Sep 2020 at 12:51, Giovanni Manghi <notifications@github.com>
wrote:

--

Andrew, PhD att döda

[2020-09-28 12:22] elpaso commented on #39058
@PedroVenancio yes, thank you.

[2020-09-28 12:26] strk commented on #39029
Was upstream ticket filed ?

[2020-09-28 12:27] gioman commented on #39029
@strk I don't follow the GEOS tracker.

[2020-09-28 12:40] strk commented on #39029
The bug is confirmed with GEOS-3.9.0dev:
[code]

RE following GEOS tracker, what's the policy about upstream issues ? I'd say before closing a ticket here a link to an upstream ticket should be filed ?

[2020-09-28 12:48] strk commented on #39029
I've filed https://trac.osgeo.org/geos/ticket/1051 for OverlayNG results

[2020-09-28 12:51] gioman commented on #39029
yes,

thanks for the upstream ticket.

[2020-09-28 12:51] #39029 closed

[2020-09-28 12:56] jjk0giap commented on #38978
previous test was on 3.15.0-60, also today 3.15.0-64 seems affected:
![image](https://user-images.githubusercontent.com/17615745/94434850-ab921100-019a-11eb-8685-b7d7c27785c2.png)

[2020-09-28 12:56] elpaso commented on #39058
@PedroVenancio regarding the issue

that is the expected behavior: you selected `Exact` interpolation, that means "match the raster values with the ramp break exactly", but the color ramp has `Equal interval` (I deduce from the next screenshot because the first one does not show the mode combo) so you won't get the exact values of the raster and only one (0) matches exactly.

[2020-09-28 13:03] nirvn commented on #38978
1/ disable your plugins
2/ by "seems affected", what do you mean? With plugin disabled, is it still freezing when you add a layer or only when you pan/zoom?

[2020-09-28 13:18] jjk0giap commented on #38978
1. Plugins disabled
2. Layer tree collapsed, freezing 1-2 minutes when I click "Add" button, First resresh is laggy, Pan works normally. But every zoom in/out take more time than normally, after zoom - pan still OK.

[2020-09-28 13:41] Cebrian007 commented on #39049
Yes, the bug probably is in GRASS

[2020-09-28 14:22] arx-it commented on #39029
Thank you for your replies.
Ok for GRASS and SAGA tools !

[2020-09-28 14:36] GISstudentJeremy commented on #39060
Should I give it more memory before running? My computer has been able to
do it before is the thing. Now anytime I run r.stream.extract it stops
responding

On Mon, Sep 28, 2020, 8:12 AM Giovanni Manghi <notifications@github.com>
wrote:

[2020-09-28 14:39] arnaudDup commented on #38366
It worked on my current version, thanks !

[2020-09-28 14:50] DelazJ opened #39068 "Wrong limit parameter behavior for geometry_overlay_intersects function"
If I use `limit:=2`, then I get the expected value (a single feature)
![image](https://user-images.githubusercontent.com/7983394/94442109-d92f8800-01a3-11eb-990b-6c3daf9f9717.png)
If I use `limit:=1`,it's expected to return that same value but it instead returns an empty list (and not coherent wit the docs in the third panel (the limit is supposed to be included)
![image](https://user-images.githu

[2020-09-28 14:55] petercornelissen commented on #38978
The problem for me is that it is all fine for a while with a new profile and starts after a few layers added. The problem goes away on a restart until again another layer is added. Once the problem starts it continues thereafter unless I create another new profile. I've tried disabling all plug-ins. It seems that it is using memory and then not releasing it, so if I could something like a refresh?

[2020-09-28 15:11] DelazJ commented on #39068
Testing a bit more, I found out that `limit` (with geometry_overlay_intersects for what i checked) does not represent the number of results to return but the max of the features ID to return. IOW if limit is >= the resulting features $id, then they are returned
![image](https://user-images.githubusercontent.com/7983394/94450284-5ca1a700-01ad-11eb-81e0-361a2db58ea0.png)
If I understood correctly, t

[2020-09-28 15:15] pblottiere commented on #38613
Hi @gioman,

Are you talking about this one v?

![qs](https://user-images.githubusercontent.com/9266424/94450910-20bb1180-01ae-11eb-85d9-2c560c238756.png)

[2020-09-28 15:17] DelazJ opened #39069 "Document that limit:=-1 is possible for geometry_overlay_* functions?"
According to doc, `limit` expects an integer but using `limit:=-1` works and returns all the resulting features
![image](https://user-images.githubusercontent.com/7983394/94448245-f74cb680-01aa-11eb-9c6b-6aef3af2430c.png)

Either fix the doc accordingly or constrain the value to integer. The value not being set already returns the whole results so IMHO -1 is not necessary.

[2020-09-28 15:50] PedroVenancio commented on #39058
Hi @elpaso

So, if I understand well, it only use the `Exact` interpolation to find the breaks, that should be the exact raster values.
But what mode should be choosed, to apply some colors to each raster value? `Equal interval` is the unique that permit to change the number of classes (quantile does not fit here), and in this case, choosing 4 classes it put the correct pixel values in each class,

[2020-09-28 16:12] matosang commented on #38978
My project that has this same issue also repeats the use of many layers (lines) with different styles applied to the layers. Not sure if that is relevant or not.

[2020-09-28 16:16] m-kuhn commented on #38978
I tested the project from https://github.com/qgis/QGIS/issues/38978#issuecomment-699927579 . I could reproduce the freeze on add layer problem with a nightly build from 2 weeks ago but not any more with a new build. So it seems it's fixed for 3.16. We can discuss a backport to 3.10.

[2020-09-28 16:23] elpaso commented on #39058
No, it uses "Exact" to match the raster values against the calculated breaks (and it fails to do so because the breaks are approximated).

I'm sorry to say that applying precise colors to distinct values on a continuous variable (like a float) makes little sense to me. You should really use integers here (where "Paletted/unique" should work).

The only option you have is to manually set the values

[2020-09-28 17:18] #38366 closed

[2020-09-28 17:19] #39049 closed

[2020-09-28 19:45] gioman commented on #38613
@pblottiere yes, but I can't replicate anymoe on the latest 3.10.

[2020-09-28 19:45] #38613 closed

[2020-09-28 19:47] gioman commented on #39060
@GISstudentJeremy with the same dataset? Can you try on a different machine?

[2020-09-28 19:50] elitonfilho opened #39072 "Saturation values are not updated after loading a .qml style"
**Describe the bug**
Hello guys! I didn't find any mentions to the following issue, so i decided to create this one.
When applying a style from a .qml file on a raster, i noticed that the saturation bar did not change. Curiously, the color rendering settings are applied to the image, but the bar itself did not change.

**How to Reproduce**

For reproducing this bug, i used an ecw raster (https://w

[2020-09-28 19:51] strk commented on #39029
for the record: this is now fixed in GEOS master (to be released as 3.9.0)

[2020-09-28 21:42] m-kuhn commented on #39068
Could you run the same test with another data source (gpkg, shp, ...) I have an assumption that this might be scratch layer related rather than geometry_overlay related...

[2020-09-28 21:58] DelazJ commented on #39068
Not sure "scratch layer" is the culprit. I tried on my ubuntu20.04 build and could not reproduce, using either shapefile or scratch layer of the same data. The report above was with win10 osgeo4w.
Maybe something to do with geos version (ref. a recent report with intersection)? Here's my Ubuntu about, I'll post the Windows one tomorrow

QGIS version | 3.15.0-Master | QGIS code revision | 8d2a0d1eb

[2020-09-28 22:04] PedroVenancio commented on #39058
@elpaso It seems that raster need some kind of revamp. Do you think that would be feasible still in QGIS 3.x series, or that it is something to QGIS 4.x?

I will split this issue. The Paletted/Unique Values is not really an issue and can be leave behind , right? Where do you think I should split the issue? The one for Singleband Pseudocolor that you're already working on and should be fixed.

[2020-09-28 22:58] roya0045 commented on #39060
If ressource limitation is an issue maybe there are other memory heavy programs that uses too much ressources and make it fails when those programs are active?

[2020-09-29 00:45] RNanclares opened #39074 "QGIS Master crashes when expanding PostgreSQL database in DB Manager"
**Describe the bug**
QGIS crashes when expanding a postgresql database in the Database Manager.
**How to Reproduce**
Open QGIS. > Go to DB Manager > Expand database in PostGIS section > results in "QGIS died on signal 11Aborted (core dumped)"

**QGIS and OS versions**
QGIS Master 3.15 QGIS code revision | 138762146e
Postgresql 12 + Postgis 3.0.2 (POSTGIS="3.0.2 2fb2a18" [EXTENSION] PGSQL="120" GEO

[2020-09-29 05:57] anitagraser opened #39076 "Time-aware attribute table"
**Feature description.**
Making the attribute table time-aware would enable users to make them only list features within the current time period.

**Additional context**
Since TimeManager used to apply a subset string on the layer data provider, time-awareness of attribute table was the default/only behavior when working with TimeManager.

Related to #39993

[2020-09-29 06:01] agiudiceandrea commented on #35016
@elapso, If it fails on Windows with an OSGeo4W QGIS version, while it works with an MXE QGIS version and with Ubuntu versions, the issue could be related to OSGeo4W.

In fact, I found the culprit!

In OSGeo4W the environmental variable VSI_CACHE (GDAL related) is set to TRUE. In the MXE build this env var is no set (so the default FALSE is assumed by GDAL). Setting VSI_CACHE to TRUE before launch

[2020-09-29 06:20] agiudiceandrea commented on #35016
@pigreco, could you please check if the following procedure fixes the issue for you?

In QGIS, go to Settings->Options->System, in the "Environment" box check "Use custom variables", then add a new row with `Overwrite` in the "Apply" column, `VSI_CACHE` in the "Variable" column and FALSE in the "Value" column.

Restart QGIS and try to add you VRT layer.

[2020-09-29 06:34] jjk0giap commented on #38978
@m-kuhn how many new files You added at once? More layers You add at once makes qgis slower. I tested on yesterday nightly build (revision on screenshot ^^), problem is still there. If I save project and reopen it - no zoom issue.

[2020-09-29 06:57] elpaso commented on #39058
Yes, I think the paletted/unique for floats is not a huge priority, but it isn't hard to fix and I know how to fix it so we could maybe do it right now while it's fresh in my mind.

The hardest/biggest issue is probably the quantile/histogram. But there is already a ticket for it.

[2020-09-29 06:59] pigreco commented on #35016
@agiudiceandrea @elpaso bingo

![image](https://user-images.githubusercontent.com/7631137/94523790-fdd24100-0231-11eb-9509-e3ee235904b4.png)

[2020-09-29 07:22] lajunek opened #39077 "in QGIS 3.10.10 project related spatial bookmarks also appear in other projects"
**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

[2020-09-29 07:28] elpaso commented on #35016
@agiudiceandrea congratulations! We have a very good team of investigators here :smiley:

[2020-09-29 07:39] Vonisoa opened #39078 "Adding annotations colors the points in red"
Hi all, I'm using QGIS 3.4.4 on Windows 10 system. My trouble is that after adding programmatically annotations to my layers, they all become red so I can't make difference between them. Here is the code I used:
[code]

[2020-09-29 07:48] pblottiere commented on #38242
Hi @S0sh0rt,

I'm willing to take a look but I'm not familiar with CentOS and I'd like to reproduce your compilation environment. First, how did you install GCC 9 on your Cent OS 7?

[2020-09-29 09:05] DelazJ commented on #39068
I updated the report with the version info and tested with shapefile. I also got incomplete results when the limit is not greater than the feature $id. Then I delete some features and the function returns the missing results once their $id becomes lower than the set limit.

[2020-09-29 09:11] CRTejaswi commented on #37783
I had the same problem. I use __pip__ package manager. I got over this issue by removing all PyQt5 packages (I don't use them anyway). On Windows, this came in handy:
[code]

[2020-09-29 09:19] petercornelissen commented on #38978
When the issue is there, I only need to add a single layer and it freezes up.

[2020-09-29 09:29] gioman commented on #39077
@lajunek can you please fill the necessary info?

Describe the bug

How to Reproduce

QGIS and OS versions

Additional context

[2020-09-29 09:37] gioman commented on #39074
@RNanclares duplicate of https://github.com/qgis/QGIS/issues/38393 ?

[2020-09-29 09:38] gioman commented on #39078
@Vonisoa This seems more likely a question for the developers mailing list rather than a bug report.

[2020-09-29 09:38] #39078 closed

[2020-09-29 10:04] ianturton opened #39080 "GetLegendImage URL should respect the ignore GetMap value in GetCapabilities check box with WMS & WMTS requests"
**Describe the bug**

If a WMTS reports an incorrect URL in it's capabilities document QGis allows users to ignore them but getLegend requests don't ignore the capabilities value. Until #21425 is implemented then make the legend graphic url dependent on if the getMap URL is being ignored.

**How to Reproduce**

1. Install a local GeoServer and break the capabilities file by adding a non existent u

[2020-09-29 13:11] pklampros commented on #37629
Backport for this failed, so it's not in 3.10.10 or 3.14.16:
Master PR: https://github.com/qgis/QGIS/pull/37667
3:10 PR backport: https://github.com/qgis/QGIS/pull/37673
3:14 PR backport: https://github.com/qgis/QGIS/pull/37674

[2020-09-29 13:32] m-kuhn commented on #39068
CC @olivierdalang

[2020-09-29 14:30] pathmapper opened #39081 "WFS - some features are missing"
**Describe the bug**
For a given WFS some features are missing despite they are included in the WFS GML response which works flawlessly in QGIS.
The bug might be related to circular arcs and exists on Linux and Windows.

**How to Reproduce**
1. Add the following WFS: https://geoservices.krzn.de/security-proxy/services/wfs_kvie_jagdbezirke with layer **gis:kvie_jagdbezirke**
4. See error: Some feat

[2020-09-29 14:32] NyakudyaA opened #39082 "Add compression option for native raster calculator"
# Problem

The raster calculator lacks gdal compression options. It produces outputs which are very very big.
![raster-calc](https://user-images.githubusercontent.com/2510900/94572341-31808b80-0271-11eb-94c9-88c4dc36745f.png)

# Solution
Add the compression option available for other rasters processing algorithms

[2020-09-29 15:31] PeterPetrik commented on #35026
tested with docker container

[code]
and gis database created
[code]

Now I can open the connection in QGIS and use it
![Screenshot 2020-09-29 at 17 23 09](https://user-images.githubusercontent.com/804608/94579939-9d66f200-0279-11eb-9e2d-0d665b358cf4.png)

![Screenshot 2020-09-29 at 17 21 45](https://user-images.githubusercontent.com/804608/94579960-a5269680-0279-11eb-8240-1cc587b37284.png)

[2020-09-29 15:43] RNanclares commented on #39074
sorry!

[2020-09-29 15:43] #39074 closed

[2020-09-29 15:43] borysiasty opened #39086 "Export report to PDF crashes QGIS if no layout is in edit mode"
![crashing_report_export](https://user-images.githubusercontent.com/1000043/94579272-e9656700-0278-11eb-9e02-b7ba48601232.png)

Otherwise you'll get crash as soon as the PDF is (successfully!) saved. Maybe it has something to do with empty canvas vs the green confirmation QgsMessageBar that should pop up now?

Steps to reproduce:
--------------------------

 - Create any report (just the header wi

[2020-09-29 15:47] RNanclares commented on #38393
Same problem here with Pop_OS! 20.04 and master.
QGIS Master 3.15 QGIS code revision | [1387621](https://github.com/qgis/QGIS/commit/138762146ee2f038a5b5217e5194a6f4ecc55474)

[2020-09-29 16:21] agiudiceandrea commented on #35016
The investigation is not over... :-)

It seems the `VSI_CACHE=TRUE` custom setting in OSGeo4W (along with `VSI_CACHE_SIZE=1000000`) **was introduced 8 years ago** https://github.com/qgis/QGIS/commit/9222f152b30948a3a9d9f66dffd162548022f7fd by @blazek to workaround a reported performance issue about shapefile reading over network on Windows. See https://github.com/qgis/QGIS/issues/15688 (https://is

[2020-09-29 16:27] martinwachutka commented on #37799
Hello Alex!

Do you know whether the functionality has been put on feature request list?

Kr
Martin

.......................................................................................
​
DI Martin Wachutka
Geschäftsführer
Fiber Service OÖ GmbH
Rainerstraße 6-8
4020 Linz
​
Tel: +43-732-257257-8001
Email:
martin.wachutka@fiberservice.at
Web: www.fiberservice.at

​Terminanfragen und -vereinbarung

[2020-09-29 17:08] yotamgi opened #39087 "OGR Error when editing a kml file"
**Bug Description**
When using qgis desktop to load a kml/kmz layer, the layer seem to be editable, where the "Toggle Edits" and "Save Layer Edits" buttons are *not* grayed out. However, when trying to save the edits, qgis fails with "OGR error seeting feature" and the changes are lost. The error message is neither indicative of the specific failure, nor constant, where it seems like it just write

[2020-09-29 17:18] kgjenkins commented on #39076
Could we also include "Select Features by Area", etc. with this?

Currently, if you have an animation paused at some point in time, and you select features by dragging a rectangle on the map, it selects even hidden features.

[2020-09-29 17:24] #39087 closed

[2020-09-29 19:15] roya0045 commented on #37799
You could make a feature request to this effect.

[2020-09-29 22:01] stev-0 commented on #34496
I think this has now been fixed, so assume can be closed

[2020-09-29 22:21] lhilarides commented on #33778
I have the exact same issue, i.e. the browser freezes for minutes and startup is very slow, and I don't have any network drives connected as described in #33164 . I do have 3 SSDs , 1 HDD and a USB hub connected so will try to see what happens when I remove those. Nevertheless I feel this is something that should probably be fixed in the QGIS browser, not on all users systems.

[2020-09-29 22:55] MGIHelen opened #39092 "QGIS3.10.10 Crashing on opening project"
## User Feedback

Opening project and progress bar stuck on loading a layer called Full Climate stations

## Report Details

**Crash ID**: [d6e7bb83cfa876f3a1602283e32067f0c4e65f72](https://github.com/qgis/QGIS/search?q=d6e7bb83cfa876f3a1602283e32067f0c4e65f72&type=Issues)

**Stack Trace**
<pre>
QgsGeometryCheckerSetupTab::updateLayers qgsgeometrycheckersetuptab.cpp:132
QMetaObject::activate :
Qgs

[2020-09-29 23:25] valtterilap opened #39093 "Failure with identifier sequence when adding feature"
**Describe the bug**

When trying to add a new feature to a layer that uses generate identity always on the primary key, I get a failure when opening the attribute window when qgis tries to get the next value from the database. This is caused because qgis doesn't understand to use the right schema and tries to get the value without a search path.

**How to Reproduce**
Create a layer that uses GENE

[2020-09-30 00:21] #39092 closed

[2020-09-30 04:57] #34496 closed

[2020-09-30 05:44] rduivenvoorde opened #39094 "Layer Properties pop up (unusable) behind the DataSource Manager/Browser dialog"
The new context menu's in the Browser work great, both in the Browser widgets as in the DataSource Manager/Browser dialog where the Browser is an integral part of.

But if you select 'Layer Properties' in the Browser dialog for a db, those Layer Properties (with me) popup *behind* the modal 'DataSource Manager -- Browser' window. So then you cannot use/close it, only AFTER you close the DataSource

[2020-09-30 06:37] #37659 closed

[2020-09-30 07:25] #37781 closed

[2020-09-30 07:28] #37772 closed

[2020-09-30 08:06] johtoblan commented on #38074
Had same problem with fresh install from https://qgis.org/en/site/forusers/alldownloads.html#debian-ubuntu on Ubuntu 18.

[code]

Fixed with manual pip3 installation of owslib to override.

[2020-09-30 08:16] elpaso commented on #39093
@valtterilap I'm testing this issue right now with current QGIS master but I cannot reproduce the error.

Would you be able to test current master build and check if the issue can be reproduced?

You can find a recent self-contained build for windows here: https://github.com/qgis/QGIS/suites/1265428175/artifacts/19438278

You download and unzip the package (twice) in a temporary directory and run

[2020-09-30 09:21] arx-it commented on #39029
Ok thank you, we will wait QGIS next version

[2020-09-30 09:36] timlinux opened #39095 "Ability to delete multiple database layers in a single operation"
**Feature description.**

Currently when I select more than one layer in the browser in the PostGIS browser (I guess it is the same for other data sources) I get prompted for each layer individually. Could we add a 'yes to all' so that all the layers can be deleted in one operation?

![deleting-multiple-tables-in-qgis](https://user-images.githubusercontent.com/178003/94668540-14e36280-0308-11eb-83

[2020-09-30 09:46] uclaros commented on #39095
Preferably with a message stating the total number of tables / views that are about to be dropped.

[2020-09-30 10:44] DelazJ opened #39097 "Add more contextualized and meaningful examples to geometry_overlay_* functions"
Currently, the examples are all the same (copy-paste?)
[code]
leading to:
- `geometry_overlay_disjoint ('regions', name) → ['South Africa', 'Africa', 'World']`: how could something be disjoint to World in GIS context (assuming World is a feature)?
- `geometry_overlay_equals('regions', name) → ['South Africa', 'Africa', 'World']`: these results are not equal
- It's quite _unusual_ to have a layer i

[2020-09-30 10:50] elpaso commented on #39095
I agree that it would be nice to have, I also though about it in the past.

Unfortunately this is not trivial and requires an API change (or a new method), the logic that actually deletes the layer is buried inside the provider's dataitem `QgsDataItemGuiProvider` (or the legacy `QgsLayerItem`) subclass and the confirmation dialog as well as all other checks are performed inside the `deleteLayer` m

[2020-09-30 10:54] nirvn commented on #39095
@elpaso , one possible quick and dirty short term implementation: [x] do not ask for confirmation for the next minute :)

[2020-09-30 11:16] timlinux commented on #39095
Yes acknowledged thanks - I have run into the issue in the past but never got to writing a feature request. I CC'd you because this kind of stuff seems to be on your radar :-) In my case I have thousands of temporary views I want to delete, probably better done with a bit of SQL anyway but I figured I would try in QGIS....

[2020-09-30 11:31] elpaso commented on #39095
Yeah, the browser is definitely on my radar!  I'll see what I can do.

[2020-09-30 11:54] roya0045 opened #39098 "Double rendering with rule based symbology"
Sometimes rule based symbology can render the same feature twice.

I'm not sure if we want exclusive rendering or possibly multiple renders except for the ELSE clause.
[rule-based-prj.zip](https://github.com/qgis/QGIS/files/5305192/rule-based-prj.zip)

Tested on Win 10 QGIS 3.14.16 while trying to reproduce another bug(unable to edit some rule based feature geometry, quite inconsistent).

[2020-09-30 12:08] elpaso commented on #35465
This always the same issue: quantile for rasters is calculated on an histogram, which uses a sample of values and not the whole raster and a limited number of bins.

Unless we re-implement it completely using an exact approach similar to the one used by vector layers and GRASS (and like I've done with unique/paletted) you will always get approximated results, that might lead to a wrong classificat

[2020-09-30 13:18] gacarrillor commented on #39025
Because of those warnings that don't show a dependency layer's name, I think https://github.com/qgis/QGIS/pull/39090 might help here (at least to get the warnings right :) ).

@beerockxs, could you give current master a try?

[2020-09-30 13:51] hamalpat opened #39102 "QGIS keeps crashing when trying to show selected features in the attribute table"
## User Feedback

QGIS keeps crashing when I have features (shapefile, polygons) selected and I try to show the selected features in the attribute table. Even with 10 or so features selected this occurs. Just bringing this to your attention, haven´t checked (yet) if similar problem and thus solution exists.

## Report Details

**Crash ID**: [d5ef1418722eaa93bbd0a2c07776cf6cff4df2c3]('https://githu

[2020-09-30 14:25] olivierdalang commented on #38676
@andreasneumann
Here's the PR, please have a look to see if it's ok for you : https://github.com/qgis/QGIS/pull/39103

[2020-09-30 16:44] PeterPetrik commented on #39044
Hi @baditaflorin can you try
1. Start the new profile (clean) and restart QGIS
2. Install https://qgis.org/downloads/macos/nightly/qgis_nightly_master_20200930_033402.dmg. It has completely reworked packaging mechanism than LTR and will be next QGIS 3.16.

[2020-09-30 16:49] PeterPetrik commented on #38774
which OS?

[2020-09-30 16:54] PeterPetrik commented on #24641
On MacOS I believe it is duplicate of https://github.com/qgis/QGIS/issues/29702, which is fixed by https://github.com/qgis/QGIS/pull/39096

[2020-09-30 17:09] PeterPetrik commented on #30549
Isn't this fixed by @vcloarec PR? Should be still open?

[2020-09-30 17:28] gioman commented on #39102
@hamalpat too old, please upgrade to the latest point release. If the problem persist try with a new QGIS profile.

[2020-09-30 17:32] gioman commented on #30549
@PeterPetrik I will test this again.

[2020-09-30 18:29] uclaros commented on #39095
A safer quick and dirty hack would be to have the focus default to the *Yes* button. That way you can spam space to get past the confirmation dialogs!

[2020-09-30 20:18] CoryAlbrecht opened #39106 "QGIS tries to save array fields to PostGIS incorrectly"
**Description**
When trying to update an existing feature to PostGIS that has a field of type UUID[] and that field is empty, it tries to use the SQL text `predecessor=E'{""}'`, but `""`, an empty string, is an illegal value for type UUID.

QGIS should be using `predecessor=E'{}'` to save an empty array of UUID values.

**Steps to recreate**
1. PostgreSQL database with PostGIS and UUID-OSSP extens

[2020-09-30 20:54] CoryAlbrecht opened #39107 "New Temporal Controller panel needs easier way to set current date"
The Temporal Controller panel (TCP) offers a way to step through time-based data while showing only a desired subset, but it does not easily allow you to jump an arbitrary time frame to view or edit data.

For example, if this is my layer:
![image](https://user-images.githubusercontent.com/8172909/94736093-b2a35580-0339-11eb-9eeb-d9824293ac02.png)

them my map canvas view looks like this:
![image]

[2020-09-30 23:41] stev-0 commented on #39106
Can you close your last duplicate issue #29277, if you are going to open this new one (albeit easier to reproduce)

[2020-10-01 01:40] stev-0 commented on #39106
Workaround is to make sure that the `uuid[]` fields use the List widget rather than the default Text Edit widget.

Not sure why it should default to Text Edit given the field is an array - that probably needs looking into.

[2020-10-01 02:12] MarkOHealey opened #39108 "Tabbed Groups in Layers Panel"
**Feature description.**
It would be awesome (a game-changer?) to have a vertically tabbed Layers panel to better categorise and visually separate groups of layers in large projects.

**Additional context**
Existing groups are great, but in large projects with many layers and groups it becomes difficult to quickly find the group or layer you are after because at a glance they all look much the sam

[2020-10-01 07:14] rduivenvoorde commented on #38942
ping @slarosa (as you are deep into the console code :-) can you reproduce this?
Or do you have a clue where to look?
I hesitate to keep it in in this state, although Windows (our biggest user base probably) do not have the issue...

[2020-10-01 07:30] 3nids opened #39111 "Cannot use relative paths for images in layouts"
**Describe the bug**

In layout, SVG symbol relative path are not working.
I would expect this to respect the project properties for path (absolute vs relative).

**QGIS and OS versions**

master

[2020-10-01 07:38] rduivenvoorde commented on #39076
And... and... and... yes I know always over-asking :-)
But can we make this optional? So enabled by default, but a checkbox in the main Timecontroller settings (saved in the project) to disable this?
For small dataset I sometimes like to have the overview of ALL records in the table.
Selection off course preferebly only over the features in current time frame.

[2020-10-01 07:55] slarosa commented on #38942
@rduivenvoorde very odd, I cannot reproduce the issue on my machine (MacOS) following the steps in https://github.com/qgis/QGIS/issues/38942#issuecomment-697235924 and I don't remember having ever saw such an issue :-(

reading previous comments, is it only occurring on Linux??

[2020-10-01 08:00] rduivenvoorde commented on #38942
@slarosa yes, I think so, both Nyall and me are on Linux (even a whole fresh envronment/profile). The nightly osgeo4w builds on Windows do not have this issue. I do not have master builds on other linux machines/distro's...

[2020-10-01 08:15] slarosa commented on #38942
The only interaction with the text that I can see is at line  https://github.com/qgis/QGIS/blob/55ee2935a21bb1bddbeaee51f0186c40ad943ced/python/console/console_base.py#L160

@rduivenvoorde  Could you comment out the line and test it only inside the shell or editor pane?

(if it works then it is black magic :-))))

[2020-10-01 08:17] rduivenvoorde commented on #39107
FYI, in the 'old' TimeManager plugin this was possible by making 'current time frame start' an time input:

![Screenshot-20201001101111-675x145](https://user-images.githubusercontent.com/731673/94784527-930a3c80-03ce-11eb-8c29-01ae4ddbfe68.png)

So you were able to fiddle your time in there....
This can be a first step, maybe even doable for me.

Next Feature Request (from me) then would be to hav

[2020-10-01 08:37] rduivenvoorde commented on #39095
What about, currently the 'View deleted succesfully' is a popup you have to click away, but if we make this a message in the messagebar? That takes away one click? :-)

[2020-10-01 08:41] nyalldawson commented on #39076
I think this should be split into two separate requests - one for identify and one for attribute table. The identify request I'd say is more of a bug, since the identify tool is supposed to only identify visible features. The attribute table is a bit more of a request since it definitely should be opt-in.

[2020-10-01 08:42] nyalldawson commented on #39107
Setting an exact time range is what the second mode (filter mode) in the temporal controller was designed for. Is there any reason you can't use that mode instead?

[2020-10-01 08:43] nyalldawson commented on #39098
This is by design. It's permitted, and left to the user to create suitable rules to either show one or many symbols depending on their needs.

[2020-10-01 08:43] #39098 closed

[2020-10-01 08:44] nyalldawson commented on #39095
@rduivenvoorde we should definitely do that!

[2020-10-01 08:55] elpaso commented on #39095
I must have missed that one, because I've recently been through most of the notifications and moved to the new `notify()` function that does exactly that: https://github.com/qgis/QGIS/pull/39006/files

[2020-10-01 08:55] agiudiceandrea commented on #38834
Hi @elpaso and @rouault, any news about this issue?

[2020-10-01 08:57] elpaso commented on #39095
@rduivenvoorde @nyalldawson actually I didn't miss that one: https://github.com/qgis/QGIS/pull/39006/files#diff-5a28d4100aa4174bdbc911376ee16be7R135

[2020-10-01 09:12] rduivenvoorde commented on #39107
Ah duh, well, speaking for myself here... I never used that second little button...

@CoryAlbrecht is that what you are looking for?

Note that in the old Time Manager there was indeed the concept of 'Time frame start', which in combi with the 'Time frame size' made it possible to set your time slider to a certain time, or even make the timeslider 'move' by using your arrow-keys and select one of

[2020-10-01 09:22] uclaros commented on #39095
Nice! That means that now one can spam *Y* to have the equivalent of *yes to all*.
However, selecting *No* misleadingly notifies that `Delete Layer : Item Layer xxx cannot be deleted.`

[2020-10-01 09:27] rduivenvoorde commented on #38942
@slarosa found that earlier too, and tried it. Also copied the string by adding something in front of it...
But still deleting the selection.

[2020-10-01 09:51] rduivenvoorde commented on #39081
@pathmapper I think this is because the WFS Dataprovider creates a spatialite database file to 'cache' the features (and be able to do paging etc). And I think(! and did some googling) that spatialite just does not do circular arcs.
So you see them in your GML because then there is no spatialite cache.

Maybe @rouault could give an answer to the question *if* there is a workaround for this? Or if

[2020-10-01 10:06] hrralph opened #39112 "Provider Settings for GRASS avoid to active OTB"
Bug description:
OTB cannot be activated on MacOS because GRASS reports a wrong path when trying to confirm the setting.

How to Reproduce the issue:
1. Open QGIS > Preferences > Processing
2. In the Providers tab, open the OTB section
3. Check activate and set the path to the OTB folder
4. Click OK

<img width="861" alt="Bildschirmfoto 2020-10-01 um 11 47 15" src="https://user-images.githubuserco

[2020-10-01 10:12] g8sqh commented on #30054
Still present in 3.14, workaround also still works in hdf5-1.12.0

In the HDF5 configure script, insert
--enable-threadsafe
--enable-unsupported

Build and install, then qgis will successfully read UKHO .bag files (the format used for all the modern bathymetry)

[2020-10-01 11:08] rouault commented on #39081
Fix in https://github.com/qgis/QGIS/pull/39113

The Spatialite WFS cache stores geometries as an opaque blob, so it can deal with circular ones.

[2020-10-01 11:16] rduivenvoorde commented on #39081
@rouault super cool! THAT is service :-) Building now to test it!

[2020-10-01 11:28] PeterPetrik commented on #39112
Hi hrralph. We have reworked the packaging system from ground and the QGIS 3.16 will be released with the new way. I cannot replicate your issue with the current nightly build https://qgis.org/downloads/macos/nightly/qgis_nightly_master_20200930_122919.dmg . Can you please try to install it and let me know if it has the same problem? Thanks!

[2020-10-01 11:49] hamalpat commented on #39102
Okay I will update to the latest version, thanks!

[2020-10-01 11:52] roya0045 commented on #39098
@nyalldawson Excellent, just wanted to make sure this was intentional!

[2020-10-01 11:55] rduivenvoorde commented on #39081
Works!!

![Screenshot-20201001135452-1033x413](https://user-images.githubusercontent.com/731673/94806082-b09ace80-03ed-11eb-942f-ad3518b94df2.png)

@pathmapper you have to test it either in a compiled version of yourself, or wait till this Pull Request ends up in one of the nightly (windows) builds. But: THANKS Even!

[2020-10-01 12:20] roya0045 opened #39115 "Default values do not change when running model from modeler"
Maybe there is a way to do this but I'm not sure how in 3.14.16.

Basically I would like a way to removed cached values or simply not save them for some fields.

Here is my current use case. I have a model using expressions, the expressions are exposed in the input in case I need to tweak them at run time but most of the time the changes that I make are in the default values of the model.

Now sin

[2020-10-01 12:34] hrralph commented on #39112
Hi PeterPetrik!
Thank you for the quick response.
Well the GRASS folder issue seems to be gone now, but I still can't activate OTB because of another path issue.

This is what I set in the preferences of QGIS:
<img width="506" alt="Bildschirmfoto 2020-10-01 um 14 18 51" src="https://user-images.githubusercontent.com/29124423/94808412-674c7e00-03f1-11eb-8f46-8e7b3ea3f0b5.png">

This is the response

[2020-10-01 12:45] Fxztam opened #39116 "Test connection Oracle DB ready - OK greyed out !"
Hi,

I try to define a new Oracle Remote connection in QGis 3.14.16 and the **Test check works fine**.

Then I want to save this connection, but the <OK> button is grayed out !

I cannot set the server name - that does not work - it's a remote Cloud connection.

What is wrong ??

Thanks Friedhold

[2020-10-01 12:48] PeterPetrik commented on #39112
You have double "bin" in Path, folder should be without bin I assume in settings

[2020-10-01 12:56] pathmapper commented on #39081
@rduivenvoorde @rouault thanks a lot for the fast response and the fix!

I've tried the fix with the windows build artifact from the PR (https://github.com/qgis/QGIS/suites/1272556715/artifacts/19625244) and can confirm that the bug reported here is fixed for this WFS.

[2020-10-01 13:22] hrralph commented on #39112
Thats a good point, I tried this first but forgot to report. When I use /Applications/OTB-7.1.0-Darwin64 I receive the following message:
<img width="420" alt="Bildschirmfoto 2020-10-01 um 15 19 56" src="https://user-images.githubusercontent.com/29124423/94814641-e6de4b00-03f9-11eb-92c8-aa16362e458c.png">

That's why I tried with /bin then...

[2020-10-01 13:25] PeterPetrik commented on #33919
cannot replicate on MacOS

[2020-10-01 13:27] rduivenvoorde commented on #39081
@pathmapper huh? That is clever? I did not know that!! Supercool to give average Windows users the possibility to test a PR!! Thanks for letting us know!
So you just downloaded the artifact from: https://github.com/qgis/QGIS/pull/39113/checks?check_run_id=1192973785 ?
Or can you describ how you came to the actual artifact?
I think we should put that in our documentation!

[2020-10-01 13:32] sebastic opened #39117 "ValueError: PyCapsule_GetPointer called with incorrect name"
As reported by Félix Sipma in [Debian Bug #971538](https://bugs.debian.org/971538):

**QGIS and OS versions**

Confirmed with qgis (3.10.10+dfsg-1) on Debian unstable.

QGIS version | 3.10.10-A Coruña | QGIS code branch | Release 3.10
-- | -- | -- | --
Compiled against Qt | 5.14.2 | Running against Qt | 5.14.2
Compiled against GDAL/OGR | 3.1.3 | Running against GDAL/OGR | 3.1.3
Compiled against GE

[2020-10-01 13:43] gioman commented on #39116
@Fxztam duplicate of https://github.com/qgis/QGIS/issues/38979 ?

[2020-10-01 13:48] PeterPetrik commented on #39112
I can run it OK.

![Screenshot 2020-10-01 at 15 47 48](https://user-images.githubusercontent.com/804608/94817644-851fe000-03fd-11eb-9922-f5f7fea56c3d.png)

[2020-10-01 13:48] pathmapper commented on #39081
@rduivenvoorde yep, very cool feature. To show the download link for the artifact, in the PR just click on _Show all checks_ , then _Details_ of `Windows cross build with MXE` and finally on _Artifacts_ (top right corner).

I think this works only if you are logged in to GitHub.

<img src="https://user-images.githubusercontent.com/20856381/94816796-9a483f00-03fc-11eb-8615-31050b1770f0.png" width="

[2020-10-01 13:56] hrralph commented on #39112
Great, it works now. I didn`t found that hint with /lib/otb/applications and was blended by the message with the otbApplicationLauncherCommandLine file.

Thank you!

[2020-10-01 14:10] m-kuhn opened #39118 "Node tool snapping to invisible layers"
We have two polygon layers.
We set the advanced snapping configuration to snap to both layers. Then we set the snapping configuration to only the active layer.
Then we use the node tool with only the active layer.
When the second (not edited) layer is invisible, the node tool also tries to edit features from that layer (unexpected).
When the second (not edited) layer is visible, the node tool does

[2020-10-01 14:12] PeterPetrik commented on #30392
@giohappy is this already fixed by @elpaso PR?

[2020-10-01 14:14] troopa81 commented on #38979
It's related to #35838 but the main issue is that there is no *service* field in oracle new connection dialog like there is in Postgres. For now, if you didn't set a host the database name was considered as a service name. But since #35838 the check prevents from setting database name without an host, which is quite normal.

I'll propose a PR to fix this.

[2020-10-01 14:14] gioman commented on #30392
@PeterPetrik wrong Giovanni :) Let me check if this works as expected now.

[2020-10-01 14:14] #39112 closed

[2020-10-01 14:30] m-kuhn commented on #39025
Just had the same issue with 9cf95ff49a which is newer than the commit mentioned by @gacarrillor

[2020-10-01 15:55] roya0045 commented on #39115
Related to #34895 , @nyalldawson  I think I'm proposing an improvement but I'm not too sure how easy this is to do and if it doesn't go against the spirit of your PR (though I doubt that maintaining unwanted default values was intended).

[2020-10-01 16:06] luipir opened #39119 "[processing] Unconsistent expression evaluation in modeler (conditional branch alg)"
**Describe the bug**
I'm looking a way to execute a model depending if input is set or not (e.g. using conditional branch). But seems that expression is not correctly evaluated and is evaluated in a differ way respect expression condition in e.g.  raise exception algorithm

[tests_conditiona_branch_issues.zip](https://github.com/qgis/QGIS/files/5313392/tests_conditiona_branch_issues.zip)

**How to

[2020-10-01 16:07] luipir commented on #39119
FYI @andreasneumann this is one of features you financed to @nyalldawson

[2020-10-01 16:12] rouault commented on #30054
This is not a QGIS bug. This is a libhdf5 issue: the library should be thread-safe by default. Hard to believe that in 2020 it is not the case by default.
I see Ubuntu builds of libhdf5 turn --enable-threadsafe, which avoids that issue.

@jef-n Looking in http://download.osgeo.org/osgeo4w/x86_64/release/hdf5/hdf5-1.10.5-1-src.tar.bz2 , I don't see ``-D HDF5_ENABLE_THREADSAFE=ON`` in the package.sh

[2020-10-01 16:21] #30054 closed

[2020-10-01 16:54] roya0045 commented on #39115
Or this could be considered a bug to be fixed...

[2020-10-01 18:02] pigreco opened #39120 "SpatiaLite 5.0.0 in QGIS"
The stable version of `SpatiaLite` is 5.0.0 starting from 23/08/2020 it was announced here [0], in the official website [1] we find the sources.

QGIS currently has SpatiaLite 4.3 which is another 5 years old.

Here [2] all the news.

It would be nice to see SpatiaLite 5.0 in QGIS 3.16 Hannover

[0] https://www.gaia-gis.it/fossil/libspatialite/index
[1] https://groups.google.com/g/spatialite-users

[2020-10-01 19:11] rduivenvoorde commented on #38073
@DelazJ had a short look into this, the interval is an QGIS only class: QgsInterval
https://qgis.org/api/classQgsInterval.html which internal data is seconds (I think).

The output preview indeed is not as in the Examples, but always shown in days. But the logic is ok, as:

```make_interval(hours:=3,days:=1)``` shows ```<interval: 1.125 days>```

which is 'right'. I cannot find where the 'toString

[2020-10-01 19:18] rduivenvoorde commented on #38073
Ah found it:
https://github.com/qgis/QGIS/blob/master/src/core/expression/qgsexpression.cpp#L979
So looks like it is hardcode in 'days'..
Note: https://github.com/qgis/QGIS/blob/master/src/core/expression/qgsexpression.cpp#L977 I think is copy/paste issue

So I think easiest would be to change the 'Examples' text.

Another option would be to maybe add (comples?) formatting logic which substract fu

[2020-10-01 19:31] rmarzocchi84 commented on #39120
Nice idea. I like cooperation between GFOSS

[2020-10-01 19:34] nyalldawson commented on #39120
This is a packaging request, not qgis. You should file it on the osgeo4w tracker.

[2020-10-01 19:34] #39120 closed

[2020-10-01 20:33] uclaros commented on #39118
Fixed in master by #39027

[2020-10-01 20:35] #39118 closed

[2020-10-01 20:55] #39036 closed

[2020-10-01 21:04] #39081 closed

[2020-10-01 21:09] #29702 closed

[2020-10-01 21:11] #35026 closed

[2020-10-01 22:31] TLDuhamel opened #39127 "'Control feature rendering order' does not work when using field from a Join"
**Describe the bug**

Control Feature Rendering Order does not appear to work as expected, when using a field which is coming from a joined CSV layer.

**How to Reproduce**

QGIS project and resources, created on a clean new profile: [QGIS bug report - Control Feature Rendering Order with join field.zip](https://github.com/qgis/QGIS/files/5315124/QGIS.bug.report.-.Control.Feature.Rendering.Order.w

[2020-10-01 22:38] davidafuller01 commented on #21342
+1. This issue makes it impossible to share projects with photos unless you are literally on an old school "LAN shared drive."

[2020-10-01 23:05] stev-0 commented on #29277
Duplicate of #39106

[2020-10-01 23:08] stev-0 commented on #39106
See [this comment ](https://github.com/qgis/QGIS/blob/869e148f6946579ec053e4cd72ffe4746fc97e90/src/gui/editorwidgets/core/qgseditorwidgetautoconf.cpp#L100)in the code to see why this doesn't work. Given this fact, seems like a bad idea to change anything, so looks like you will have to change the field manually to get this to work the way you want it to.

[2020-10-01 23:24] PedroVenancio commented on #35465
Great @elpaso , thank you very much for your effort!

[2020-10-02 05:53] elpaso commented on #39025
@m-kuhn can you check if https://github.com/qgis/QGIS/pull/39043 fixes your issue? If that's not the case I'm happy to have a look if you can provide a failing test case.

[2020-10-02 07:16] m-kuhn commented on #39025
same issue with current master. Project is sent :mailbox:

[2020-10-02 07:48] troopa81 commented on #38979
@alexbruy Could you review this PR since its related to #35838

[2020-10-02 07:58] troopa81 commented on #39116
Yes, it is. I close the issue. @Fxztam please re-open it if you think otherwise

[2020-10-02 07:58] #39116 closed

[2020-10-02 09:35] heike-0815 opened #39132 "qgis doesnt start after win 10 2004 update"
after update to win 10 2004 qgis doesn't start:
see pictures below

![fmeldung-qgis](https://user-images.githubusercontent.com/72252970/94909201-201ec580-04a3-11eb-947b-29377ff97b75.JPG)
![Pfad](https://user-images.githubusercontent.com/72252970/94909215-2614a680-04a3-11eb-91ad-d50b384e82c5.JPG)
![qgis-bin env](https://user-images.githubusercontent.com/72252970/94909228-29a82d80-04a3-11eb-97dc-7b2

[2020-10-02 09:45] gioman commented on #39132
@heike-0815 please post questions on the users/developers mailing lists, if it turns to be really a QGIS bug then file a ticket here, thanks!

[2020-10-02 09:45] #39132 closed

[2020-10-02 09:58] bhollinshead commented on #33778
I've just experienced the same problem. In my case it was because my BENQ PD3200U monitor (which has an SD slot was registering a removable media drive with windows but I didn't have a card in it so it wasn't showing up in explorer). Putting a card in it made the browser panel work again. Seems like it should definitely not stop if it can't find a drive.

[2020-10-02 10:25] gioman commented on #21342
@davidafuller01

![Screenshot_20201002_112351](https://user-images.githubusercontent.com/1951107/94913890-f44f1000-04a1-11eb-916f-1dfc6fd325d1.png)

[2020-10-02 10:25] gioman commented on #21342
I think this should be closed.

[2020-10-02 10:27] PeterPetrik commented on #37107
For MacOS nightly builds (=>QGIS 3.16) should be fixed by https://github.com/qgis/QGIS-Mac-Packager/commit/d06bc3ac933c75071f36937aaf8189920dccc503

problem is that the packaged root certificates were taken from openssl installation. If (python/mozilla) certifi root certificates are used, the request is finished OK.

not sure if that is the same problem on Windows, but if yes, the certificates pro

[2020-10-02 10:40] tjukanovt opened #39134 "Layer reprojection works differently between profiles"
**Describe the bug**
Layer reprojection works differently between in my "normal" profile and a fresh profile where I tried to debug it. The reprojected layer (3857 --> 4326) disappears. It does seem to be in "the right place" as if I click zoom to layer in the temp layer, it does zoom to the same extent as the original layer.

**How to Reproduce**
1. Add layer to project
2. Reproject to 4326 as a

[2020-10-02 10:48] gioman commented on #39134
@tjukanovt can you try to "clean" your normal profile? i.e. removing manually 3rd party plugins folders,  then see if it makes any difference.

[2020-10-02 11:16] luipir commented on #39119
temporally used a workaround using "Set Project Variable" where I can use an expression where setting a project variable depending if a input is set or not.
Then I've a custom funcion that get the value of the project variable  and use this function in the conditional branch expression where it works.
Note for me: Would be better use scoped variables

[2020-10-02 11:43] gioman commented on #30392
@PeterPetrik @elpaso there are good and bad news:

1) it seems to work fine on 3.10.10 on Windows

2) it does not work ok on 3.10.10 on Linux (Ubuntu 20.04, QGIS installed from repo). PostGIS rasters do not show and associated with them I see the messages

[code]

and
`
"PostGISRasterRasterBand::IRasterIO(): invalid socket"`

3) on master on Windows the PostGIS rasters are loaded, but NULL data is

[2020-10-02 11:46] nicogodet opened #39136 "Trouble ordering elements in layout's composer"
**Describe the bug**

Ordering elements in layout doesn't give expected results.

**How to Reproduce**

1. Create a new composer
2. Create a bunch of element (type does not matter)
3. Try to order element as desired

**Try to insert an element "insert" between elements 1 and 2**
![image](https://user-images.githubusercontent.com/39594821/94919298-91b33f80-04b4-11eb-9d66-984376e3cec8.png)

_Expecte

[2020-10-02 11:47] PeterPetrik commented on #30392
@gioman what about MacOS? maybe you have typo there since 1 and 3 points are both windows?

[2020-10-02 11:51] roya0045 opened #39137 "[Modeler] Missing variables in modeler expression when used in default expression"
Another modeler Bug or improvement.

The expression builder dialogs display the available variables when initiated from a processing window (IE an expression parameter in a tool in the model or when setting an expression parameter in the model dialog itself).

But the variables of the model are not available when using the expression builder to set a default value for an expression, even though th

[2020-10-02 12:06] roya0045 commented on #39115
@gioman would you feel this is more fit to be a bug rather than a feature? I can reword things if needed.

[2020-10-02 12:28] PeterPetrik commented on #26509
unable to replicate, please reopen if still the case with LTR release and give the exact instructions/project to test

![node_zoom](https://user-images.githubusercontent.com/804608/94922987-6da72c80-04bb-11eb-938d-96b27c807bd1.gif)

[2020-10-02 12:28] #26509 closed

[2020-10-02 12:35] PeterPetrik commented on #26993
@DelazJ I am unable to replicate on MacOS nightly build... Can you confirm it is still the issue in current releases?

![switch_profiles](https://user-images.githubusercontent.com/804608/94923570-5b79be00-04bc-11eb-9762-dd4095351e7c.gif)

[2020-10-02 12:39] PeterPetrik commented on #27201
link to docs changed to https://docs.qgis.org/testing/en/docs/pyqgis_developer_cookbook/plugins/ide_debugging.html#debugging-using-pdb

[2020-10-02 12:40] uclaros commented on #35051
Check #38884 , it will probably be a feature in 3.18!

This is a bug in my book, I've stumbled upon it a couple of times but did not report it. `input.tif.points` should be the norm.

This is probably because there is a `input.tif.points` and GCPs are re-loaded.

This is nice and easy to read on white background. Trying to read a label without a buffer over an orthophoto can be no fun though.

Thi

[2020-10-02 12:41] gioman commented on #39115
I'm not really the right person to decide if is a feature request or a bug, let's wait the answer of a developer.

[2020-10-02 12:42] PeterPetrik commented on #27201
I suggest to use FirstAid Plugin as suggested in the help https://docs.qgis.org/testing/en/docs/pyqgis_developer_cookbook/plugins/ide_debugging.html#useful-plugins-for-writing-python-plugins

@gioman I suggest to close this issue from redmine as it is hardly possible to replicate and definitely not worth since the FirstAid plugin debugging is recommended.

[2020-10-02 12:44] gioman commented on #30392
@PeterPetrik

I tested your latest nightly build, and it is even different, and wrong:

![Screenshot 2020-10-02 at 13 30 45](https://user-images.githubusercontent.com/1951107/94924283-21f18480-04b5-11eb-851a-c6b862dbaa11.png)

funny thing, those two pg rasters are identical, just imported in pgsql with different names, but they are loaded with different min/max values. Rendering is of course all w

[2020-10-02 12:45] #27201 closed

[2020-10-02 12:50] yotamgi commented on #39087
Thank you very much for fixing this so quickly!

Is there an ETA for when will it be backported to GDAL 3.0.4?

[2020-10-02 12:54] roya0045 commented on #39115
I was just curious from a user perspective, I assume that most people would think its a bug that their default value never changes when executing their model..

[2020-10-02 12:56] gioman commented on #39115
yes, I feel the same.

[2020-10-02 13:12] elpaso commented on #30392
I'll have a look on linux and eventually windows.

[2020-10-02 13:13] elpaso commented on #30392
@gioman I need the exact command you used to import the raster in PG.

[2020-10-02 13:14] NyakudyaA opened #39138 "Better support for SQL and virtual layers as inputs in Processing"
# Problem

* Open DB Manager SQL console and run SQL to get a polygon and geometry. ie
  `select id, "index", geom from foo` where "index" column is a `double-precision` data type.
* Load the resultant layer into QGIS.
* Navigate to the Raster Menu > Conversion and choose to Rasterize.
* Fill in the dialog and select the burn column to be "index"
* Run the processing and you get the following
![er

[2020-10-02 13:20] gioman commented on #30392
@elpaso here they are

`raster2pgsql -s 3061 -I -M -C tinras_sma.tif schemaname.mdt1 > mdt.sql`

`psql -U user -f mdt.sql -d databasename -h host`

The receiving postgresql DB is version 10.

[2020-10-02 14:43] StudioLaFauci opened #39139 "QGIS unexpectedly error"
Crash ID: a7ac41b4b88fc23dc7319d405431d5756e42b68a

Stack Trace

QgsMultiBandColorRenderer::block :
QgsBrightnessContrastFilter::block :
QgsHueSaturationFilter::block :
QgsRasterResampleFilter::block :
RtlAnsiStringToUnicodeString :
PyInit__multiarray_umath :

QGIS Info
QGIS Version: 3.12.3-Bucure?ti
QGIS code revision: 8234261527
Compiled against Qt: 5.11.2
Running against Qt: 5.11.2
Compiled aga

[2020-10-02 14:52] gioman commented on #39139
@StudioLaFauci too old, update to the latest 3.14. Re-try with a new QGIS profile. If the problem persist add ALL the requested info:

**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

[2020-10-02 15:13] rmarzocchi84 opened #39140 "GDAL Vector to Raster (gdal_rasterize) fail to produce ESRI ASCII as output"
The following command do not works using ESRI Ascii grid as output. Perhaps is a limit of gdal_rasterize, but I suggest ot limit output format list.

![image](https://user-images.githubusercontent.com/4061154/94939419-693a3e00-04d2-11eb-9f0d-b3ba8b57d35a.png)

Here the syntax of gdal command

[code]
Here the input file:
[area.zip](https://github.com/qgis/QGIS/files/5318781/area.zip)

OS: Windows 1

[2020-10-02 15:16] rmarzocchi84 commented on #39140
Sorry, I add the error message obtained also from OsGeo Shell:

Output driver `AAIGrid' not recognised or does not support direct output file creation.
The following format drivers are configured and support direct output:
  -> `GeoRaster'
  -> `VRT'
  -> `GTiff'
  -> `NITF'
  -> `HFA'
  -> `ELAS'
  -> `MEM'
  -> `BMP'
  -> `PCIDSK'
  -> `PCRaster'
  -> `ILWIS'
  -> `SGI'
  -> `Leveller'
  -> `Ter

[2020-10-02 15:18] elpaso commented on #38796
@troopa81 I'm sorry but this was wrong. You changed the xml tag names (for no reason) and now we have this https://github.com/qgis/QGIS/issues/39025 (which has also another cause). I'm reverting this commit and please leave it to me.

[2020-10-02 15:19] gioman commented on #39140
@rmarzocchi84 this should be changed to feature request (also editing the title) and ask to hide the formats that GDAL cannot create.

[2020-10-02 15:28] elpaso commented on #38796
@troopa81 forget about that, I'm testing with a project created where relations were stored with old tag names. Sorry for the noise.

[2020-10-02 16:26] elpaso opened #39142 "PG raster: float rasters do not show nodata values correctly in master/3.14"
Rounding error: investigating.

[2020-10-02 16:26] elpaso commented on #30392
I've filed a separate issue for the nodata problem https://github.com/qgis/QGIS/issues/39142

[2020-10-02 16:47] uclaros commented on #39134
...or try to install same plugins to new profile and see what happens!

[2020-10-02 17:01] olszewskimac opened #39143 "Uncaught FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\macie\\AppData\\Roaming\\QGIS\\QGIS3\\profiles\\default\\processing\\scripts\\DlgFieldsCalculator.ui'"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.14.15-Pi on Windows 10

[2020-10-02 19:19] CoryAlbrecht commented on #39106
@stev-0 Ah, yes, thanks for finding that one. I was unable to. Also, I cannot close things here.

[2020-10-02 19:40] SabanSequen opened #39145 "Error al abrir el programa."
Hace algunos días, me ha mostrado el error al abrir el programa, cosa que no me había pasado desde la última actualización.

Crash ID: 828110b4dc6e839b56b87cbe22ebe39763e5ff77

Stack Trace

PyErr_NoMemory :
PyObject_SetAttrId :
PyMethodDef_RawFastCallDict :
PyException_SetTraceback :
PyEval_EvalFrameDefault :
PyEval_EvalCodeWithName :
PyMethodDef_RawFastCallKeywords :
PyEval_EvalFrameDefault :
PyM

[2020-10-02 19:46] stev-0 commented on #39106
@CoryAlbrecht - pretty sure anyone can close issues they started - the close button to the left of the comment button appears if you have admin rights or are the issue owner

[2020-10-02 19:50] davidafuller01 commented on #21342
@gioman - I have toggled the Attributes Form settings as you've shown above for Photo -> Widget Type = Attachment, but the photo does not display for the Map Tip using a very simple bit of HTML:
`<img src="file:///[% photo %]">`

Does the src syntax need to change?

My test for this is very simple:
- The .qgz file is in a folder at the same level as a folder (with subfolders) containing photos
- P

[2020-10-02 19:54] nyalldawson commented on #39143
This is a local issue -- you have a script "FieldsCalculatorDialog1.py" which is importing a ui file which no longer exists. You'll need to remove that script or find a copy of the missing file from an older qgis version and distribute it alongside your script.

[2020-10-02 19:54] #39143 closed

[2020-10-02 20:26] CoryAlbrecht opened #39146 "Cleared feature attributes not acting like they have been cleared, and preventing saving of layer"
On clearing a value from a PostGIS field with the clear button in the Feature Attributes form, QGIS later tries to save the text of the SQL default clause for that field, with the following errors on the console:

[code]

If you open up the attribute table, you can see that the field you cleared now has the SQL default clause in non-italic dark text, just like other entered variables, unlike featu

[2020-10-02 20:32] #39142 closed

[2020-10-02 20:57] pierre-ligen commented on #38918
If this error is correctly related to this,
still not working for a Raster -> Extraction -> Clip Raster by Mask Layer under macOS 10.15.7

[2020-10-02 21:06] CoryAlbrecht commented on #39107
@nyalldawson Sorry if I wasn't clear, but I am not talking about setting a specific range  down to the second. Like I said, I need to get to an arbitrary time displayed on the canvas so I can add a new feature which exists at that time. The range may be 1387-08-03 to 2099-12-31 as shown in the screencap, but I need to jump to 1421-04-21 to add a new feature. Or to stime time in 1433, or 1477, and

[2020-10-02 21:29] #39032 closed

[2020-10-02 21:43] CoryAlbrecht commented on #39106
@stev-0 I did not create 29277, the redmine importer did, thus I cannot close it.

[2020-10-02 21:45] stev-0 commented on #39106
Oh right, I thought you were talking about this issue. You can close this one right?

[2020-10-02 22:03] roya0045 commented on #39137
Note for myself or anyone that might be able to fix this, the context scope generator is passed [here](https://github.com/qgis/QGIS/blob/740be229cb64b0538b735f6e21e9560ffc1e3f41/src/gui/processing/qgsprocessingmodelerparameterwidget.cpp#L89) and checked/used [here ](https://github.com/qgis/QGIS/blob/61a71a417d8ca385729a7552de780f56303c5491/src/gui/qgsexpressionlineedit.cpp#L165) I don't recall if

[2020-10-02 22:07] davidafuller01 commented on #34868
+1

[2020-10-02 23:03] Sutts99 opened #39148 "Simple merge of 4 LIDAR tif tiles changes elevations"
QGIS 3.6.0-Noosa

A very simple operation - merging 4 unmodified National LIDAR Programme DTM tiles (tif format) into a single tif.

1. Load the 4 tif tiles into QGIS using Layer->Add Layer->Add Raster Layer

2. The four tiles display their minimum and maximum elevations (see attached).  The lowest and highest elevations are 43.42m and 106.69m.

![OfficialTileHeights](https://user-images.githubuse

[2020-10-03 06:42] elpaso commented on #30392
I fixed the nodata issue in master. Please keep always in mind that PG rasters use a completely different data provider implementation in QGIS 3.10 and in master:

- QGIS 3.10: GDAL
- QGIS >= 3.14: QGIS native postgresraster provider

Issues **must** be opened separately for the two implementaions because they are completely unrelated.

[2020-10-03 07:05] elpaso opened #39151 "Python API call QgsAbstractDatabaseProviderConnection::TableProperty exceptions not converted to QgsProviderConnectionException"

[2020-10-03 08:45] DelazJ opened #39155 "Harmonize the use of file selector widget as part of export dialog"
In many dialogs to create or export a layer/file, there's a file selector widget allowing to select the target location along with the file settings. But there are some contexts where the target location is not selected with other parameters:
- Project --> save map as pdf/image (you select location after you applied settings)
- Layout --> export layout/(atlas?) as image/svg/pdf (you select locatio

[2020-10-03 08:49] Gustry commented on #39148
3.6.0 is too old, especially a `.0` which is not very stable. Please upgrade to a maintained version of QGIS. 3.14.X or 3.10.X

[2020-10-03 09:06] #39151 closed

[2020-10-03 09:53] Sutts99 commented on #39148
Will try that Gustry, thank you!

[2020-10-03 09:58] gioman commented on #39148
@Sutts99 also you have to check the properties of the resulting raster, in the symbology tab, as QGIS by default uses an estimate strategy to compute min/max values,  you can can change that to "actual (slower)" and you'll get what you expect. Reopen if necessary.

[2020-10-03 09:58] #39148 closed

[2020-10-03 09:59] #37666 closed

[2020-10-03 10:00] gioman commented on #39145
@SabanSequen

1) update to the latest point release

2) try with a new QGIS profile

3) If problem persist please add ALL the requested info

**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

4) file tickets in English, thanks!

[2020-10-03 10:00] #39145 closed

[2020-10-03 10:02] #29277 closed

[2020-10-03 10:05] gioman commented on #30392
@elpaso Thanks Alessandro, I'll keep that in mind. Is there any point of further investigate why on 3.10 they open fine on Windows but not Linux? Maybe is not worth considered that soon we will move on with new releases.

[2020-10-03 11:39] johnfix opened #39158 "Move Feature or Edit Vertex crashes while building index"
QGIS v3.18 crashes often when I use the "Move Feature(s)" and/or the "Vertex Tool" while it builds the temporary indexes. Sometimes the indexes are build successfully and I am able to use the tools, but often QGIS crashes.

When building the indexes is successful, it takes about 30 seconds to a minute + to complete. I try to do nothing during that period so it may complete.

My layers are a mix of

[2020-10-03 11:48] gioman commented on #39158
@johnfix Try with a new QGIS profile, no 3rd party plugins installed.

[2020-10-03 11:57] gioman commented on #21342
@davidafuller01

this ticket is about the form view, not map tips.

For the form view you have to do as I shown up here, moving the project file and the folder containing the photos (keeping the same relative position) is NOT breaking things, at least here on Linux and Windows. I can test also on macOS but really should not make any difference.

For map tips only absolute paths seems to be support

[2020-10-03 11:57] #21342 closed

[2020-10-03 13:33] ludovico85 opened #39159 "Shape Items (Layout) and geometry generator"
The shape items tool in the print layout window allows to customize the style of the selected shape also with the geometry generator. However, it seems that this function in actually disabled.

1. Create a layout
2. Add a shape item such as a rectangle
3. Style the rectangle with the geometry generator. Trying to create the centroid of the rectangle with the expression: centroid($geometry)
4. Noth

[2020-10-03 14:10] klakar opened #39160 "Feedback: QgsTextRenderer for drawing map grid text in layouts not HTML compatible"
**Describe the bug**
Not really a bug, more like feedback on a new feature in Master.

Using QgsTextRenderer for grid labels in layout is great, but the option to render the text as html has limited value, since the text seems to be "placed" before it is rendered.

This means that if you have html tags in your label string they will occupy space creating an open distance from the actual rendered t

[2020-10-03 14:11] rduivenvoorde commented on #38073
@DelazJ with a simple if/else chain
[code]

it is easy to get something like this:

[code]

wouldn't that be 'good enough'?

Then fix the examples and done?
Happy to do this pr

[2020-10-03 14:16] rduivenvoorde commented on #38942
@nyalldawson Just found out that I have the same issue when I copy text (with ctrl-c) from the expression dialog:

![Screenshot-20201003161527-874x540](https://user-images.githubusercontent.com/731673/94993793-af0b0b00-0593-11eb-8ab2-32d85ec1f7b1.png)

not always, but if I copy and then click in another window, the expression text is actually removed/cut.

[2020-10-03 14:32] gioman commented on #39159
@ludovico85

QGIS version?

Operating System?

[2020-10-03 14:32] klakar opened #39161 "Feedback: Tab order with "Gamma correction filter for raster layers""
**Feedback**
The tab order is out of order since the introduction of the gamma correction slider/texbox introduction in QGIS Master.

After "Contrast" it jumps to "Grayscale" skipping gamma, and returns via "Reset" to "Gamma" when the resampling box is done.

It's probably just a question of reordering the tab order in the raster styling panel so the tab order makes sense.

**QGIS Version**

QGIS

[2020-10-03 14:35] ludovico85 commented on #39159
QGIS 3.10.10 and 3.14.16
Windows 10

[2020-10-03 15:50] slarosa commented on #38942
@rduivenvoorde Could execute the following code in console and then doing the same steps from the widget displayed?
[code]
and if this works then replacing QsciScintilla instance with QgsCodeEditor in Shell class?

Maybe a qscintilla bug? I am using 2.11.4 version.

[2020-10-03 16:51] GISstudentJeremy commented on #39060
I don't think resource limitations are the issue since I was able to fully run the application and tools before. Could there be the possibility of GRASS tools not installing correctly??

[2020-10-03 16:53] gioman commented on #39060
@GISstudentJeremy see https://github.com/qgis/QGIS/issues/39060#issuecomment-700244453 and also please try run the same analysis on native GRASS to see if it makes any difference.

[2020-10-03 17:12] GISstudentJeremy commented on #39060
I just ran it on a remote desktop computer from the school and the crash occurred again. I clipped the raster down to a more manageable size as well.  Currently I'm importing the same Raster on Native GRASS but it's taking a bit. What settings should I have to be running the GRASS tools on QGIS?

[2020-10-03 17:17] gioman commented on #39060
none particular, is auto-configuring if you use the standalone installer. Anyway please also update your QGIS, 3.12 is too old.

[2020-10-03 17:24] pigreco commented on #39159
I confirm, the geometry generator seems disabled even if I used a geometry in the form wkt: `geom_from_wkt ('Polygon ((0 5, 10 5, 10 0, 0 0, 0 5))')`

## Osgeo4W64 Win 10 QGIS 3.10, 3.14, master

[2020-10-03 17:34] GISstudentJeremy commented on #39060
On the remote desktop it is using 3.14 and the crash still occurs in the same manner. If you're willing to talk over skype, teams or over the phone we might be able to solve the issue faster and make a forum post showing the fix. I understand you're not personal support on GIS issues but you've been a great help so far and I greatly appreciate it Gioman

![Capture](https://user-images.githubuserco

[2020-10-03 19:02] nyalldawson commented on #39160
@olivierdalang can you investigate this please? It was working correctly before your recent grid annotations work.

[2020-10-03 21:06] #39025 closed

[2020-10-03 21:06] #39086 closed

[2020-10-04 02:49] Dopilar opened #39164 "Cannot add any type of layer in 3.10"
**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

[2020-10-04 05:40] faridcher opened #39166 "qgis snapping feature is flawed if "Snapping to Common Angles" is ON"
**Describe the bug**

The snapping is on for a layer and the snapping markers (pink square marker for vertex and pink hourglass marker for segment) are shown when digitizing. However, dangles get created which means the snapping does not function right. Increasing the Tolerance in "Advanced Config Dialog" does not help

**How to Reproduce**
create a simple linear layer in a Geopackage and try to d

[2020-10-04 07:54] pigreco commented on #39120
https://trac.osgeo.org/osgeo4w/ticket/643#ticket

[2020-10-04 07:55] DelazJ commented on #38073
Hi @rduivenvoorde
Thanks for looking into this.
TBH I'm not a time-related feature users and was mainly reporting an inconsistency I found while reviewing docs.
I think something to consider is how easy the output could be reused, eg to create a date using existing functions, or to compare them. I don't know if it's currently the case but, not make it a dead end result could be good.
The last sugg

[2020-10-04 07:58] klakar opened #39167 "Zoom level in maps url not working with new "Add a goto locator" feature"
**Describe the bug**
When copying a Google maps url it may have decimals in the "z" value.
This will generate exaggerated scale in QGIS.
Removing the decimals will fix the issue.

**How to Reproduce**
Add Google maps url to the locator of the type:

https://www.google.se/maps/@57.6630623,14.9742081,15z

The url above will work fine (scale 1:22569), but including decimals in the z-value will genera

[2020-10-04 08:27] agiudiceandrea commented on #35016
The handle of data hosted on data.world server if VSI_CACHE=TRUE was fixed upstream in GDAL/OGR. See https://github.com/OSGeo/gdal/pull/3007.

So I think this issue report could be closed now.

[2020-10-04 08:54] klakar opened #39168 "Label placement settings temporarily show wrong fields when hide/show settings."
**Describe the bug**
In the placement settings for labels (tested with lines) you get the settings for lines to start with. But if you minimize the general settings and then expand the settings, it will show a lot more settings.

The extra settings will disapear as soon as you try to make any changes.

![Skärmbild från 2020-10-04 10-48-39](https://user-images.githubusercontent.com/6375959/95011190

[2020-10-04 09:16] #35016 closed

[2020-10-04 09:17] gioman commented on #38874
Closing for lack of feedback.

[2020-10-04 09:17] #38874 closed

[2020-10-04 09:18] gioman commented on #38723
Closing for lack of feedback.

[2020-10-04 09:18] #38723 closed

[2020-10-04 09:18] gioman commented on #38645
Closing for lack of feedback.

[2020-10-04 09:18] #38645 closed

[2020-10-04 09:18] gioman commented on #38626
Closing for lack of feedback.

[2020-10-04 09:18] #38626 closed

[2020-10-04 09:19] #38857 closed

[2020-10-04 09:20] gioman commented on #38554
Closing as not replicable.

[2020-10-04 09:20] #38554 closed

[2020-10-04 09:21] gioman commented on #39164
Missing all the necessary info.

[2020-10-04 09:21] #39164 closed

[2020-10-04 09:38] pigreco commented on #35016
@agiudiceandrea @elpaso grazie mille!

[2020-10-04 09:57] DelazJ opened #39169 "Allow table resizing in transformations Options dialog"
It could be nice if we can resize the table in this widget so that the last column is not by default hidden. Or make the operation column multiline, or not resized based on its contents
![image](https://user-images.githubusercontent.com/7983394/95012380-55a8e780-0638-11eb-9030-a451b7ecbe9f.png)

[2020-10-04 10:30] rduivenvoorde commented on #38942
@slarosa yep, same issue, even if I make the code even more QGIS agostic like:

[code]

QGIS about box shows:

QScintilla2 Version | 2.11.5
-- | --
Compiled against Qt | 5.14.2

I tried to install just PyQt 5.14.2 and your version QScintilla 2.11.4 ( now I see the when I issues this, I had 2.11.2 ):
[code]
but it showed all the same issue...

Maybe a Qt / Gnome thingie?

[2020-10-04 11:12] gioman commented on #39060
@GISstudentJeremy in your screenshot I don't see any crash. I see a Windows message "not responding" that it can mean that a program really is stuck, but frequently just means "I'm thinking hard". Have you tried leaving the process run for enough time?

[2020-10-04 13:18] rduivenvoorde opened #39171 "Log Messages panel does not show when Temporal Controller Panel is visible in same dock"
Opening messages with the little text balloon button does NOT show the messages panel when both temporal controller and log messages panel are docked in the same dock.

In a fresh profile, if you open the Log Messages panel it will show in the south dock
If you open the Temporal Controller Panel it will show in the north dock

As soon as you drag one of the two to the other dock so they are togeth

[2020-10-04 14:45] NicoIGN commented on #38961
same problem with me /  QGIS.14.16 on MacOS 10.13.6

[2020-10-04 15:48] rduivenvoorde opened #39173 "Python Console colors not changable via settings"
Changing the colors of elements in the Scintilla panes (like Python console and editor) are not reflected in the actual console and editor.
Checked in current master on Linux and Windows build nightly:
- open QGIS
- open the python console
- open the settings (via the little tool button in the Python Console)
- change an obvious color, like 'default' or 'background' to pure red for example
- close

[2020-10-04 16:00] slarosa commented on #39173
Yes, I confirm, this is related to @nyalldawson's  work in progress. Introduced in #39157 and I think will be fixed in #39165 :-)

[2020-10-04 16:04] rduivenvoorde commented on #39173
Ah :-)
Apparently I'm always a little behind ;-)
Close this one then?

[2020-10-04 16:11] slarosa commented on #39173
better to keep it open for the moment.

[2020-10-04 18:54] #39161 closed

[2020-10-05 00:40] faridcher opened #39177 ""explode lines" processing tool removes features if more than one feature are selected when "Automatic Creation of Transaction Group" is enabled"
**Describe the bug**
"Explode Lines" tool successfully explodes a single Linestring feature. But if more than one features are selected, it deletes some of them.

**How to Reproduce**
create a linear layer in a Geopackage. Digitize at least two Linestring (with more than one segment) feature. Select them and run "explode lines" processing algorithm on the selected features.
![image](https://user-i

[2020-10-05 01:19] faridcher opened #39178 "setting a field to NULL via field calculator freezes qgis when "Automatic Creation of Transaction Group" is enabled"
**How to Reproduce**
Try to set the tsize field of labs layer to NULL via field calculator .

related:
https://issues.qgis.org/issues/11422
[subdiv.zip](https://github.com/qgis/QGIS/files/5330575/subdiv.zip)

[2020-10-05 01:57] #38979 closed

[2020-10-05 02:23] #39031 closed

[2020-10-05 03:25] nyalldawson commented on #39173
Fixed in master

[2020-10-05 03:25] #39173 closed

[2020-10-05 04:05] faridcher opened #39179 "make a field with "Value Map" widget editable and searchable in "Edit Attribute" dialog"
**Feature description.**
A field with "value map" is only selectable through a combo box. When the number of items increases (e.g. 20+), finding a particular item is cumbersome because it is not searchable. Furthermore, it would be great to enable the user to enter arbitrary text into a "Value Map" field or simply clear the text value to set the field to NULL. Now, I select a feature and use "fiel

[2020-10-05 05:57] #38918 closed

[2020-10-05 06:36] PeterPetrik commented on #38447
Let me fix this
[code]

[2020-10-05 06:37] tjukanovt commented on #39134
So I uninstalled all plugins from my profile. and it worked for a while. But now it's there again. The issue seems to be with layers and project mixed with EPSG:3857 and EPSG:4326 and temporary layers.

But not sure anymore if this is about reprojection. Somehow the layers are not just drawn on canvas. As you can see from the screen capture, the data seems to be in the right place, if I click zoom

[2020-10-05 06:46] rduivenvoorde opened #39181 "Python console/editor: Line numbers appear double in editor and console?"
After the recent beautifull work to move all 'editor' color settings to the main settings, currently in the python console and editor there is something going wrong with the line numbers in the QScintilla panels.

These are the panel with a clean start

![Screenshot-20201005082942-888x367](https://user-images.githubusercontent.com/731673/95046698-f81ea480-06e4-11eb-8b06-3741947e79a4.png)

This whe

[2020-10-05 06:53] PeterPetrik commented on #38447
Hi, I will add to next nightly build a startup script for qgis process to use (QGIS.app/Contents/MacOS/bin/qgis_process).
Alternatively you can run it even now with
`QGIS_PREFIX_PATH=/Applications/QGIS.app/Contents/MacOS/ /Applications/QGIS.app/Contents/MacOS/qgis_process.app/Contents/MacOS/qgis_process list`

[2020-10-05 07:01] nyalldawson commented on #39181
My most recent PR (#39180) fixes this

[2020-10-05 09:01] #38447 closed

[2020-10-05 09:27] beerockxs commented on #39036
I still get this with QGIS Master 7f8c0365b1:

WITH foreign_keys AS ( SELECT c.conname, c.conrelid, c.confrelid, unnest(c.conkey) AS conkey, unnest(c.confkey) AS confkey, (SELECT relname FROM pg_catalog.pg_class WHERE oid = c.conrelid) as referencing_table, (SELECT relname FROM pg_catalog.pg_class WHERE oid = c.confrelid) as referenced_table, (SELECT relnamespace::regnamespace::text FROM pg_catalo

[2020-10-05 09:55] mjb62 commented on #30549
I have been trying to create DEMs from ASCII xyz files. When generating TINs some of the files appear to hang during their first pass in processing. I've left some running over night to find in the morning a processing failure or that QGIS crashed. Using QGIS 3.14.15 then 3.14.16.
I tried to find if there was something obvious inside the data. I picked one of the xyz files (covering 2km x 2km with

[2020-10-05 09:57] gioman commented on #39177
@faridcher cannot confirm on QGIS 3.10.10, Ubuntu 20.04.

[2020-10-05 09:58] elpaso commented on #39036
@beerockxs still cannot reproduce, can you at least share the project without data?

[2020-10-05 10:00] gioman commented on #39178
@faridcher cannot confirm on 3.10.10 on Ubuntu 20.04-

[2020-10-05 10:01] gioman commented on #39134
@tjukanovt can you provide a precise set of steps (and data) that can be used to replicate the issue?

[2020-10-05 10:23] tjukanovt commented on #39134
@gioman 👇🏼

1. Add the sample data GeoPackage (provided in the original post) to an empty project
2. Reproject it to to EPSG:4326 with _Reprojet layer_ processing tool and save the results to a temporary file (not on disk). So basically run the tool and don't change any parameters.
3. If a new layer **does** appear on the canvas in the right place, remove the temporary layer from the project, mini

[2020-10-05 10:35] gioman commented on #30549
@PeterPetrik @vcloarec tested on master the dataset of the original issuer, and QGIS crashes at trying create a TIN with 1m resolution.

[2020-10-05 10:51] SebastienPeillet commented on #39146
Hello,

you need to activate the default values evaluation on provider side in your project configuration. From Qgis menu:

Project > Properties... > DataSources > Evaluate default values on provider side

Instead of `NULL::character varying`, postgres will evaluate it as `Null` value and it will work.

[2020-10-05 10:53] gioman commented on #39134
@tjukanovt nope, cannot replicate.

[2020-10-05 11:39] Meibes opened #39187 "crash while editing data"
## User Feedback

unfortunatly I can't say much about this crash because it happend to a colleague some time ago, she just kept the report

## Report Details

**Crash ID**: [acd228819760d9d9c6a13879e96e573c47d1d64e](https://github.com/qgis/QGIS/search?q=acd228819760d9d9c6a13879e96e573c47d1d64e&type=Issues)

**Stack Trace**

<pre>

memcpy_repmovs memcpy.asm:114

QgsVectorLayerFeatureIterator::updat

[2020-10-05 11:42] Meibes commented on #38546
## User Feedback
now with the full log

## Report Details

**Crash ID**: [46816175573d857be55e121fa69917979fdd7d7c](https://github.com/qgis/QGIS/search?q=46816175573d857be55e121fa69917979fdd7d7c&type=Issues)

**Stack Trace**

<pre>

memcpy_repmovs memcpy.asm:114

VSICreateCachedFile :

GDALRegister_Terragen :

GDALRegister_Terragen :

GDALRegister_Terragen :

GDALRegister_Terragen :

GDALRegister_

[2020-10-05 11:44] gioman commented on #39187
@Meibes it is replicable? if yes, can she try with a new QGIS profile?

[2020-10-05 11:44] gioman commented on #38546
@Meibes this is still unanswered.

[2020-10-05 11:50] PeterPetrik commented on #38961
stacktrace
[code]

[2020-10-05 12:36] Meibes commented on #38546
and another one, slightly different

Crash ID: 9ae998b60ae54de33b08223740e71bdaff65fc30

**Stack Trace**

<pre>
memcpy_repmovs memcpy.asm:114
VSICreateCachedFile :
GDALRegister_Terragen :
GDALRegister_Terragen :
GDALRegister_Terragen :
GDALRegister_Terragen :
GDALRegister_GTiff :
GDALRasterBand::GetLockedBlockRef :
GDALRasterBand::IRasterIO :
GDALRegister_GTiff :
GDALProxyRasterBand::IRasterIO :
G

[2020-10-05 12:37] Meibes commented on #38546
I will ask the user to copy the data to a local drive

[2020-10-05 12:50] PeterPetrik commented on #39063
can replicate on MacOS latest master

[2020-10-05 14:42] claurita commented on #39117
exactly the same problem here (as the original report by Félix Sipma)
Claudio Laurita

[2020-10-05 15:47] elpaso commented on #39036
A query layer was my main suspect too, that's why I asked for the project. I think we can silence the warning by checking if tableName and schemaName are availble for a particular layer.

[2020-10-05 16:14] dkav commented on #38961
@PeterPetrik should the crash be a separate issue from the console not working?

[2020-10-05 16:21] uclaros commented on #39166
Snapping most probably works fine, I've snapped a few gazillion vertices myself. It's the Topology checker's definition of dangle that is flawed, as it seems to report a dangle when a start/end point is snapped on a vertex that is not a start/end point.
The *Geometry Checker* core plugin works better and does not falsely report dangles.

[2020-10-05 16:39] uclaros commented on #39158
Can you also check if it is reproducible without the MS SQL layers?

[2020-10-05 16:56] uclaros commented on #39179
The combobox is searchable. You can start typing when it has focus and the matching entry is selected as you type. You don't have visual feedback of what you type though, just like when browsing files on the windows explorer.

You can use the *Add "NULL" value* button when defining your mappings so that you can select null from the combobox.
If you want arbitrary values though, then the value map

[2020-10-05 17:58] #39181 closed

[2020-10-05 18:02] nyalldawson commented on #34393
Closing due to lack of feedback (also likely not a qgis issue)

[2020-10-05 18:02] #34393 closed

[2020-10-05 18:04] nyalldawson commented on #34094
This is as expected - shp now always open as multi* geometry types

[2020-10-05 18:04] #34094 closed

[2020-10-05 18:08] nyalldawson commented on #26065
This is related to the sip version used on the different platforms - it's not a qgis bug but requires updated sip library in osgeo4w

[2020-10-05 18:08] #26065 closed

[2020-10-05 18:09] nyalldawson commented on #14006
Unfortunately this patch is severely out of sync with the current codebase and can no longer be used

[2020-10-05 18:09] #14006 closed

[2020-10-05 18:16] nyalldawson commented on #26332
Fixed in recent versions

[2020-10-05 18:16] #26332 closed

[2020-10-05 18:17] #21698 closed

[2020-10-05 18:18] nyalldawson commented on #18835
This is possible using data defined overrides for the parameters now

[2020-10-05 18:18] #18835 closed

[2020-10-05 18:22] nyalldawson commented on #13678
Patch is severely out of sync with current code base

[2020-10-05 18:22] #13678 closed

[2020-10-05 18:23] nyalldawson commented on #12118
Many fixes have been made regarding this issue. If any remaining issues are encountered with locale decimal handling then please open specific tickets for each of these.

[2020-10-05 18:23] #12118 closed

[2020-10-05 18:51] pierre-ligen commented on #38918
@PeterPetrik even with qgis_nightly2_master_20200922_013400 I can't clip a raster correctly. My current workaround is to use SAGA wich sometimes works (but not for all).
So for me it's not a "closed" topic.
Best regards and thank you for your involvement in QGIS development 👍

[2020-10-05 19:05] PeterPetrik commented on #38918
@pierre-ligen can you try with the last qgis nighty (not nightly2)?

[2020-10-05 19:21] gioman commented on #39166
I also think is the topology checker, not the snapping. At some point we should really merge the topology and geometry checker, the current situation is really confusing for users.

[2020-10-05 20:27] juancobravo commented on #37008
I get this problem often as well

[2020-10-05 21:03] johnfix commented on #39158
@gioman Just to confirm, by a "new profile" do you mean creating a new file and disable all 3rd party plug-ins and then load the data layer?

Or is there another process for a "new QGIS profile"? Thanks.

[2020-10-05 21:05] gioman commented on #39158
@johnfix settings > user profiles > new profile

[2020-10-05 21:15] gioman commented on #37008
@juancobravo provide the data and exact steps to allow us replicate.

[2020-10-05 21:21] johnfix commented on #39158
I loaded only Shapefiles of buildings, roads, and address points for a county in Pennsylvania and an XYZ from Google. I can start editing and moving address points without problem. When I switch editing to building polygons, I can move some vertices, but other highlight and fail to move. I move the entire polygon and then I can move individual vertices.

I did load the Microsoft Geopackage with bu

[2020-10-05 22:39] #39058 closed

[2020-10-05 22:40] #39072 closed

[2020-10-05 22:41] #37417 closed

[2020-10-05 23:06] faridcher commented on #39178
upgraded to 3.10.10 and the problem persists. Ubuntu is Debian derivative so I don't think it's OS specific. I can record a video if that helps.

[2020-10-05 23:16] faridcher commented on #39178
upgraded to 3.10.10 and the problem persists. Please try with attached gpkg file in the original post. Try to set the tsize field of labs label to NULL.

thanks

[2020-10-05 23:22] thommo17 opened #39189 "Crash when exporting to image too large"
**Describe the bug**

When trying to export to image if you have the pixel dimensions over ~25,000 in the X or Y axis the program will crash.

**How to Reproduce**

Simply try to export any map to image over 25,000 pixels.

**QGIS and OS versions**

QGIS 3.12.3

Windows 10 64bit

**Additional context**

This issue has been happening for quite while for me and I have just used Photoshop as a work a

[2020-10-05 23:27] faridcher commented on #39179
@uclaros thank you for your response. I had already tested Unique Values. I want the behavior of Unique Values widget but with predefined values as in Value Map. Now Unique Values only search through the values already set in a field.

Searching the Value Map is by the initial letter which is slow when the fields has many items that start with a letter (e.g. in my case).

Thanks for the pointer to

[2020-10-05 23:30] faridcher commented on #39177
upgraded to 3.10.10 and the problem persists. Ubuntu is Debian derivative and I don't think it is OS specific. I can record a video if that helps.

thanks

[2020-10-05 23:37] faridcher commented on #39166
@uclaros Both have problems. You mentioned the Topology Checker problem. In order to ensure the snapping flaw, I will provide more examples shortly.

[2020-10-05 23:50] rensa commented on #35081
I'm also having this issue in 3.14: "Expected input" is int, but "Valid input types" is string. Like David, I've set the data-defined Quadrant to the expression `to_string("label_quadrant")` (where `label_quadrant` is the column as an integer), but this definitely seems like a workaround.

[2020-10-05 23:51] nyalldawson commented on #39189
This is an upstream Qt bug -- it will be fixed when the QGIS windows package updates the included Qt version (hopefully for 3.16)

[2020-10-05 23:51] #39189 closed

[2020-10-06 00:49] johnfix commented on #39158
@gioman  and @uclaros I have done several test in several different scenarios. Here is what I think it causing the problem...if I have snapping enabled when I enabling editing for a layer (address point layer with millions of records) QGIS crashes.

If I disable snapping before enabling editing for the layer, QGIS does not crash and functions as expected. I can enable editing once the temporary in

[2020-10-06 01:05] vcloarec commented on #30549
confirmed with the original dataset of this post, I missed it... I look at and try to fix it.

[2020-10-06 02:04] nyalldawson commented on #17014
This was added in 3.16

[2020-10-06 02:04] #17014 closed

[2020-10-06 02:57] Saijin-Naib commented on #36403
GIS.SE Question concerning pretty much exactly what I've discussed here.
https://gis.stackexchange.com/questions/375847/is-there-a-qgis-version-or-plug-in-for-distributing-a-qgz-project-with-a-simpl

[2020-10-06 06:16] nyalldawson commented on #38942
A weird way I can always reproduce this:

1. Open python console, open script editor, open a script
2. Open pycharm
3. Focus pycharm window
4. Select text in qgis script editor
5. Press "ctrl" -- text is removed instantly!!

[2020-10-06 06:46] nicogodet opened #39197 "Spatial join summary processing alg report a TypeError (feedback) if no spatial index in batch process"
**Describe the bug**

Spatial join summary report a type Error if no spatial index in batch process but not in single process.

Batch process

Single process

**QGIS and OS versions**
Qgis 3.14.16-2 Windows 10

**Additional context**

[2020-10-06 06:49] nyalldawson commented on #39119
Actually not a bug, well, not a bug in processing at least! The "input()" function used here only retrieves the direct parameter values for each child algorithm, NOT for the model inputs. To access those you'd use the direct "@...." variables, in this case: "@input" (gets confusing here cos of the parameter name!!)

But in this case @input is a QgsMapLayer value, and the expression ` ( @input <> '

[2020-10-06 07:03] #31955 closed

[2020-10-06 07:03] #27868 closed

[2020-10-06 07:03] #39171 closed

[2020-10-06 07:04] #38529 closed

[2020-10-06 07:20] uclaros commented on #39179
You're welcome!
Value map, as its name implies, is a map of key-value pairs. If it was dynamic, like the unique values widget, then you would also need a way to provide a value for the key you typed, making it more complicated.
For your use case, I would go with the unique values widget, then I would add a geometryless feature for each predefined value as a populated index. Maybe we could implemen

[2020-10-06 07:25] uclaros commented on #39166
I totally agree! Repairing and maintaining topology is a weak spot of qgis IMHO.

To ensure that snapping worked, you can enable topological editing and try to move a node with the vertex tool. If both vertices move together then snapping worked, and I'm pretty sure that will be the case!

[2020-10-06 07:27] elpaso commented on #39178
No issues here on QGIS master/linux

[2020-10-06 07:28] uclaros commented on #39158
I would export the mssql features to a geopackage and try to replicate and see if it is provider related.

[2020-10-06 07:34] luipir commented on #39119
I understand... the use case a way  to check mutual exclusive parameters that have polymorphic nature (from the user point of view)
e.g. an extent is can be get from a layer, from an extent as from a wkt
e.g. a layer can be a name string, a id string, a source string, a real map layer

not clear to me what would be the solution... a new operator, extend accepted types of current operator and compa

[2020-10-06 08:29] gioman commented on #39177
@faridcher try with a new QGIS profile.

[2020-10-06 08:30] gioman commented on #39178
@faridcher try with a new QGIS profile.

[2020-10-06 08:31] FilatovAV opened #39201 "Thickness of the dotted line"
**The thickness of the dotted line changes the distance between the strokes. If the thickness is set manually and not by a field from the database, the line display does not change. (The field in the database is checked.)**

**QGIS Version - 3.14.16-P**
![1-0](https://user-images.githubusercontent.com/38399107/95177882-6a67b580-07c7-11eb-903a-01133f93d493.png)
![1-1](https://user-images.githubuser

[2020-10-06 08:46] drewh1988 opened #39202 "Expression Variables Panel"
**Feature description.**
Add a panel to allow live editing of expression variables while viewing the map. This can already be done for some objects (e.g., objects in print composers), but not for project variables in the main map view.

**Additional context**
Expression variables are powerful tools for rapidly changing the way data is displayed (e.g., I often incorporate them into filters, display

[2020-10-06 08:46] GratefulGIS opened #39203 "QGIS 3.12 can save in qgz-format but won't open saved qgz-files"
Hello,

I hope this is the right place to post, I was confused about this phenomenon. Qgis 3.12 on Mac won't let me open qgz-files. They are greyed out during Open file-selection process.

[2020-10-06 08:48] #39203 closed

[2020-10-06 08:49] GratefulGIS opened #39204 "QGIS on macOS can save file in qgz-format, but won't open files in qgz format"
Hello,

I hope this is the right place to post, I was confused about this phenomenon. Qgis 3.12 on Mac won't let me open qgz-files. They are greyed out during Open file-selection process.

[2020-10-06 09:03] andreasneumann commented on #39201
This actually not a bug - but you need to set the "Cap Style" to Flat to avoid that behavior:

![image](https://user-images.githubusercontent.com/884476/95181298-646fd580-07c3-11eb-9c1d-57eae8009c6c.png)

That setting also influences the individual strokes in a dashed line, not only the line ends. Setting it to flat avoids that the gaps are getting smaller

[2020-10-06 09:06] andreasneumann commented on #39201
hm - maybe there is a different issue, then what I mentioned above.

You say that it works fine, unless you set it from a field or expression?

[2020-10-06 09:08] jdugge commented on #37417
@abodsalas, @baswein: Thanks for the thorough diagnosis, that saved a lot of time in fixing the bug!

[2020-10-06 09:08] FilatovAV commented on #39201
Yes, if I set the thickness with my hands, everything is OK

[2020-10-06 09:22] gioman commented on #39204
@GratefulGIS QGIS 3.12 is obsolete and unsupported. Please try 3.10 LTR or 3.14, is the problem persist reopen the issue.

[2020-10-06 09:48] CGMossa opened #39206 "QGIS stuck on `QGIS Ready!` splash screen on Windows"
**Describe the bug**

Upon clicking on QGis, the loading screen tells that it is setting up gui, reloading plugins, etc., but then at `QGis Ready!`, it just stops. Then it takes an excruciating amount of time before showing a blank window.
And nothing happens.

![image](https://user-images.githubusercontent.com/1063624/95185799-7c4a5800-07c9-11eb-8281-05be8d4dad76.png)

**How to Reproduce**

**QGI

[2020-10-06 09:51] faridcher commented on #39166
thanks. In addition to zooming maximally, that's how I have been checking connectivity.

[2020-10-06 09:55] 3nids opened #39208 "SVG symbols do not scale with map magnifier"
100%:
![Screenshot 2020-10-06 at 11 54 57](https://user-images.githubusercontent.com/127259/95186875-c4b64580-07ca-11eb-9df0-fe50586ed639.png)

800%:
![image](https://user-images.githubusercontent.com/127259/95186928-d3046180-07ca-11eb-8ce8-2fd4c6772482.png)

[2020-10-06 09:57] nirvn commented on #39208
@3nids , are you sure the SVG marker size unit type isn't set to pixel?

[2020-10-06 09:58] nirvn commented on #39208
@3nids , are you sure the SVG marker size unit type isn't set to pixel?

[2020-10-06 09:58] olivierdalang commented on #39160
Ok, it seems I had missed some lines when merging my changes, sorry for that !

Just opened a PR, I hope I won't have to battle against QgsRenderChecker this time :-)

Thanks for the very clear report @klakar

[2020-10-06 10:05] 3nids commented on #39208
yes it is....thanks a lot.
Although, I would still expect to see it scaled no?

[2020-10-06 10:11] gioman commented on #39206
@CGMossa unfortunately it seems you have clearly a local issue, as this is not a general QGIS issue as it is happily installed on many computers. You may want to write in the users mailing list, and look for feedback from someone who may have had your same issue.

[2020-10-06 10:11] #39206 closed

[2020-10-06 10:49] uclaros commented on #39166
If you don't find any issues with snapping and the problem is indeed on the Topology Checker side, could you please adjust the title accordingly?

[2020-10-06 10:54] faridcher commented on #39178
A new profile did not help. However, the problem relates to the qgis project file and it occurs when "Automatic Creation of Transaction Group" is enabled in the "Project Properties > Data Sources". Un-checking that option solves it.

[2020-10-06 10:56] faridcher commented on #39177
A new profile did not help. However, the problem relates to the qgis project file and it occurs when "Automatic Creation of Transaction Group" is enabled in the "Project Properties > Data Sources". Un-checking that option solves it.

[2020-10-06 10:58] GratefulGIS commented on #39204
Thanks for response, however the issue remains on 3.14

[2020-10-06 10:58] faridcher commented on #39166
@uclaros The snapping has problem indeed. I will provide more info on when exactly it does not work alright. please be patient. thanks

[2020-10-06 11:09] lbartoletti commented on #36850
@SrNetoChan The more I think about it, the more I think it's a bug. I'll add a new round about topological and Z issues after #39194

[2020-10-06 11:42] SrNetoChan commented on #36850
Thanks @lbartoletti for the great work. Not sure it's a bug, but it's definitely unexpected for the user.

[2020-10-06 11:48] pierre-ligen commented on #38918
@PeterPetrik I tried and I'm still getting the following error:
`The following layers were not correctly generated.
• /private/var/folders/wh/8qv9_tf907xctr_sl2tqvbsc0000gp/T/processing_EHwoAD/c6ddf489d0d94d1fb9dc842fe5b2672c/OUTPUT.tif
You can check the 'Log Messages Panel' in QGIS main window to find more information about the execution of the algorithm.`

[2020-10-06 11:57] PeterPetrik commented on #22967
cc @DelazJ

[2020-10-06 12:07] PeterPetrik commented on #39204
Hi @GratefulGIS, I cannot replicate the issue from official packages for QGIS 3.14, I can open the qgz projects from browser,
"open project" in menu and also double clicking on project in the operating system.

Which MacOS version do you have? Can you post a screenshot?

[2020-10-06 12:08] PeterPetrik commented on #38961
I think it is ok to continue here...

[2020-10-06 12:16] PeterPetrik commented on #32947
@oskarlin can you please give me exact how to reproduce steps for the problem (or better screencast)? In QGIS, various tools have different cursors associated, so the users know that they have different tools active (e.g. cursor with "i" for identify, cross cursor for digitizing, ...), so I think it could be well the feature and not the bug.

[2020-10-06 12:41] PeterPetrik commented on #32932
Cannot replicate with the latest master anymore https://qgis.org/downloads/macos/nightly/qgis_nightly_master_20201005_122844.dmg

![Screenshot 2020-10-06 at 14 39 44](https://user-images.githubusercontent.com/804608/95202626-dce58f00-07e1-11eb-956d-e96b6faf6064.png)

![Screenshot 2020-10-06 at 14 40 12](https://user-images.githubusercontent.com/804608/95202642-e1aa4300-07e1-11eb-984e-b1f746219b14.

[2020-10-06 12:47] elpaso commented on #39178
This is indeed a big bad voracious :bug:

[2020-10-06 12:55] PeterPetrik commented on #29750
unable to replicate on master from https://qgis.org/downloads/macos/nightly/qgis_nightly_master_20201005_122844.dmg
on MacOS.

![clear_filter_crash](https://user-images.githubusercontent.com/804608/95204077-e1ab4280-07e3-11eb-8b4e-4baa22c56410.gif)

[2020-10-06 13:03] PeterPetrik commented on #29751
Looks like already fixed...

![Screenshot 2020-10-06 at 15 02 25](https://user-images.githubusercontent.com/804608/95204906-fb995500-07e4-11eb-8e7c-cfbd2f1ad74e.png)

[2020-10-06 13:03] #29751 closed

[2020-10-06 13:05] oskarlin commented on #32947
I made a recording and put it on YT:
https://www.youtube.com/watch?v=rp50OkVS70A

[2020-10-06 13:08] nirvn commented on #29751
Yep, fixed this a few weeks ago.

[2020-10-06 13:28] PeterPetrik commented on #38918
@pierre-ligen ok, I can try to fix it , but it is not relevant to this ticket, which is about missing _iconv. Can you please create new ticket, with the reproduce steps, example project? thanks  a lot.

[2020-10-06 13:29] PeterPetrik commented on #32947
i cannot watch the YT video, it is private

[2020-10-06 13:41] Saijin-Naib commented on #39134
QGIS version | 3.14.16-Pi | QGIS code revision | df27394552
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.11.2
Compiled against GDAL/OGR | 3.0.4 | Running against GDAL/OGR | 3.0.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.29.0 | Running against SQLite | 3.29.0
PostgreSQL Client Version | 11.5 | SpatiaL

[2020-10-06 13:45] Saijin-Naib commented on #34735
Behavior still present, even with OpenCL Disabled:

QGIS version | 3.14.16-Pi | QGIS code revision | df27394552
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.11.2
Compiled against GDAL/OGR | 3.0.4 | Running against GDAL/OGR | 3.0.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.29.0 | Running against SQLite

[2020-10-06 15:10] roya0045 commented on #39208
Pixels are relative to your screen, not the map.

[2020-10-06 15:15] #39208 closed

[2020-10-06 15:32] oskarlin commented on #32947
Sorry @PeterPetrik, now it's public.

[2020-10-06 17:55] gioman commented on #39178
@elpaso
same origin as https://github.com/qgis/QGIS/issues/39177 ?

[2020-10-06 17:55] Vstorm911 opened #39210 "Issue with postgis layer and relation widget"
Hi everybody.

I'm having an issue when using postgis databases to make gis diagrams. The issue is that when i configure some relations on my db, and then applying this relation in qgis, sometimes the relation widget shows only "NULL". This issue is happening somewhat randomly. The issue is depicted in the following image:

![image](https://user-images.githubusercontent.com/72465028/95240791-4ade8

[2020-10-06 17:58] gioman commented on #39210
@Vstorm911 QGIS version? Operating system?

[2020-10-06 18:07] Vstorm911 commented on #39210
Oh sorry, i'm using version 3.10.6 in Windows 10x64

[2020-10-06 18:10] gioman commented on #39210
@Vstorm911 too old, update to the latest point release.

[2020-10-06 18:13] elpaso commented on #39178
Definitely related.

[2020-10-06 18:14] elpaso commented on #39178
I now know the source of the bug but the fix isn't trivial.

[2020-10-06 18:26] Vstorm911 commented on #39210
i see, i'll try and come back with the results.

Thanks!

[2020-10-06 19:35] Vstorm911 commented on #39210
I confirm that the issue is solved using the version 3.14. Thanks for your answers.

[2020-10-06 19:58] #39053 closed

[2020-10-06 19:59] #39197 closed

[2020-10-06 19:59] #39168 closed

[2020-10-06 20:08] #39210 closed

[2020-10-06 21:43] nyalldawson commented on #39201
Can you please test with a nightly release of 3.16? I believe this is already fixed.

[2020-10-06 21:46] nyalldawson commented on #38987
@nirvn can we close?

[2020-10-06 21:48] #38850 closed

[2020-10-06 22:11] aspidoscelis opened #39213 "Merge raster fails in macOS"
Attempting to merge rasters gives the following error message:
[code]
I first encountered this problem in the standalone 3.8 installer. I then tried the standlone 3.14, the standalone 3.10, and the kyngchaos 3.10 (which is what I am using now); all give the same 'gdal_merge.py: command not found' error. I'm running macOS 10.14.6. I tried deleting everything QGIS-related between trying the standalo

[2020-10-06 22:22] aspidoscelis commented on #39213
I just tried deleting all the GDAL.frameworks and reinstalling 3.1 from the kyngchaos installer. That hasn't changed anything, either.

[2020-10-06 22:43] #22967 closed

[2020-10-07 00:05] nirvn commented on #38987
Yep

[2020-10-07 00:05] #38987 closed

[2020-10-07 01:15] sanku2009 opened #39215 "Windows 8.1 - QGis desktop software closing with issue"
**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

[2020-10-07 01:17] sanku2009 commented on #39215
When I tried to add a layer from Layer tab and trying to select file from local my folder it showing error and stopped the application. Attached the screen shot.
![QGIS-Issue](https://user-images.githubusercontent.com/49359440/95276514-5f3d7580-0819-11eb-8af3-938841f49ce3.JPG)

[2020-10-07 03:38] vcloarec commented on #30549
Now seems to be fix by #39218

![image](https://user-images.githubusercontent.com/7416892/95284753-f8c25280-082c-11eb-8d18-5ecb6b0e7198.png)

[2020-10-07 06:15] FilatovAV commented on #39201
Please tell me where can I download the nightly build installer?

[2020-10-07 06:18] PeterPetrik commented on #39213
It works with the standalone nightly build becoming 3.16 release soon: https://qgis.org/downloads/macos/nightly/qgis_nightly_master_20201005_122844.dmg

![Screenshot 2020-10-07 at 08 17 54](https://user-images.githubusercontent.com/804608/95294488-aa857180-0875-11eb-9ffe-4cce3e6edd28.png)

[2020-10-07 06:22] PeterPetrik commented on #32947
do you press any keys, or just mouse clicks?
can you try with https://qgis.org/downloads/macos/nightly/qgis_nightly_master_20201005_122844.dmg ?

[2020-10-07 07:10] rhurlin opened #39221 "Build broken on FreeBSD after 'move QgsCodeEditor classes to their own folder'"
**Describe the bug**

On FreeBSD, I was able to build QGIS master, until [Code shuffle: move QgsCodeEditor classes to their own folder](https://github.com/qgis/QGIS/commit/1bafa2f66f7c8c5770b2250cd41f9592817a4d6f) was committed.

After the commit, the build breaks with the following error message:

[code]

**How to Reproduce**

It is likely that this breakage is only on FreeBSD, please read furthe

[2020-10-07 07:13] andreasneumann commented on #39201
@FilatovAV - what OS are you on?

For Windows there are weekly builds at https://qgis.org/downloads/weekly/ - and we recently discovered that the Travis CI builds can also be used for testing - they are linked at Github - see https://github.com/qgis/QGIS/issues/39081#issuecomment-702148377

Hope this helps.

[2020-10-07 07:19] lbartoletti commented on #39221
Hi Rainer,

I'll take a look.

[2020-10-07 07:22] pellegoeg opened #39223 "Can't get info on WFS feature in MacOS nightly build"
Hi,

Testing nightly build on mac os x, qgis_nightly_master_20201005_122844.dmg

**How to Reproduce**

1. Open project attached in nightly build 20201005_122844, [projectfiles.zip](https://github.com/qgis/QGIS/files/5338833/projectfiles.zip)
2. Zoom to "strategisk vejnet"
3. Identify a feature
4. See error on screenshot

Notice nothing in attribute tables and not posible to select a feature in wfs

[2020-10-07 07:34] PeterPetrik commented on #39223
@pellegoeg anything suspicious in the MessageLog dialog?
@gioman would it be possible to test on win/linux is it is only macos issue?  thanks

[2020-10-07 07:36] FilatovAV commented on #39201
@andreasneumann
I have Windows, thank you I will try.

[2020-10-07 07:41] pellegoeg commented on #39223
Messagelog for WFS is saying:
2020-10-07T09:39:46     WARNING    Cannot create temporary SpatiaLite cache.: GDALCreate() failed: OGR was built without libspatialite support
             ... sorry, creating/writing any SpatiaLite DB is unsupported

[2020-10-07 07:54] FilatovAV commented on #39201
the program works the same as in the previous version. when you change the line thickness, the stroke length also changes. At the same time, I tried different "style caps"
![2-1](https://user-images.githubusercontent.com/38399107/95303125-7e74eb00-088b-11eb-8766-53246ed88733.png)

[2020-10-07 07:56] lbartoletti commented on #39221
Confirmed. cc @nyalldawson FI

[2020-10-07 09:12] jakobgager opened #39226 "In-memory Layer Metadata gets lost when making permanent"
**Describe the bug**
I create some in-memory vector layers with defined metadata keywords. If I now make these layers permanent (e.g. as GeoPackage) the metadata is replaced with more or less empty values (the type is set to dataset). So to keep my original metadata I have to first store it as qmd file and restore it after the make permanent step. This is a bit tedious and really unexpected.

**Ho

[2020-10-07 09:27] gioman commented on #39215
@sanku2009 please try with a new QGIS profile. Also please say what QGIS version are you using.

[2020-10-07 09:28] gioman commented on #30549
@vcloarec thanks!

[2020-10-07 09:45] lbartoletti commented on #39221
@rhurlin I have the same error with sip 5.3.0 (and SIP_VERSION=0x050300)

[2020-10-07 09:48] gioman commented on #39223
Works fine on master/windows.

[2020-10-07 09:52] rhurlin commented on #39221
@lbartoletti Thanks for the info. So it is likely that there is a problem with newer SIP versions?

[2020-10-07 09:59] lbartoletti commented on #39221
No. With old version of PyQt and SIP I can't build master with customwidgets

[2020-10-07 10:04] rhurlin commented on #39221
Ok, that was the missing part on my side. And sorry, that I did not test with old PyQt and SIP before I opened the issue.

Thanks for clarification.

[2020-10-07 10:10] lbartoletti commented on #39221
mmm seems to be simply a missing include in `src/gui/customwdigets/CMakeLists.txt`

[2020-10-07 10:11] slarosa commented on #39221
Yep, that was a trivial missing. :-)

[2020-10-07 10:14] slarosa commented on #39221
Apparently we all were on the air to the same moment! :-)

[2020-10-07 11:13] mlennert commented on #39117
I just wanted to add to this that even though QGIS starts, the vector and raster menus are more or less empty and the entire processing framework unavailable, so for me this makes QGIS more or less unusable in its current state.

[2020-10-07 11:14] aspidoscelis commented on #39213
It does indeed work with that build. Thanks!

[2020-10-07 11:14] #39213 closed

[2020-10-07 11:34] roya0045 commented on #39215
It just seems to be the windows explorer bug. This is a duplicate if that's the case.

[2020-10-07 11:37] PeterPetrik commented on #39223
fixed GDAL's [SQLite / Spatialite RDBMS](https://gdal.org/drivers/vector/sqlite.html) driver by https://github.com/qgis/QGIS-Mac-Packager/commit/54872e06a43ef61bf6dae8242e121bd5cec8be11

should be fixed in tomorrow's nightly build

[2020-10-07 11:38] roya0045 commented on #39115
@gioman could you change the tag to Bug? Thanks

[2020-10-07 11:41] PeterPetrik commented on #35483
can replicate on MacOS master

[code]

[2020-10-07 11:44] #39221 closed

[2020-10-07 12:59] elpaso commented on #39146
@SebastienPeillet setting that option looks more like a workaround to me.  Do we all (@gioman) agree that this is still a bug?

[2020-10-07 13:00] pellegoeg commented on #39223
I will do

[2020-10-07 13:15] PeterPetrik commented on #39223
should be this one qgis_nightly_master_20201007_075531.dmg

[2020-10-07 13:43] faridcher commented on #39179
@uclaros geometryless feature workaround seems nasty; the statistical report on the layer would be wrong; it messes up with other analyses like join queries.

"Unique Values" with predefined index mode is the way to go. Can this be implemented somehow?

[2020-10-07 13:55] faridcher opened #39230 "Layer X: Feature has too many attributes (expecting 5, received 7) when "Automatic Creation of Transaction Group" is enabled"
This error has the same origin as #39177 and #39178 .  It happens when I start digitizing a layer with a derived field.

![image](https://user-images.githubusercontent.com/9982519/95339409-e560c700-08c0-11eb-9ca6-9aac3f2bac27.png)

qgis 3.10.10 on debian unstable

[test.zip](https://github.com/qgis/QGIS/files/5348327/test.zip)

[2020-10-07 13:59] elpaso commented on #39230
The same origin? This issue doesn't seem related to the other two.

[2020-10-07 14:17] faridcher commented on #39166
@uclaros

I found the root of the bug. It happens with "Snapping to Common Angles" is on (e.g. 90, 180, ..) in "Advanced Digitizing" panel.
try these steps to replicate: digitize a rectangle with 4 features; one feature per side. The last side won't snap even though the pink rectangle marker of vertex snapping is shown. If "Snapping to Common Angles" is off, it works fine.
This bug has killed me i

[2020-10-07 14:18] faridcher commented on #39230
It is related. When I turn that option off, this message disappears.

[2020-10-07 14:29] oskarlin commented on #32947
No keys pressed. And yes, it's gone in that build! Thanks!

[2020-10-07 14:30] faridcher opened #39232 "BIDI (Bi Directional) support for QGIS input text areas"
Field calculator, select by expression, etc. input text area do not show bi-directional (BIDI) text (e.g. Persian) correctly and editing BIDI python code is a pain. If only Persian text is input, it is completely invisible. If English and Persian text are intermixed (BIDI), the characters overlap as in the screenshot.

![qgis-expr-bidi](https://user-images.githubusercontent.com/9982519/95344785-e1

[2020-10-07 14:31] PeterPetrik commented on #32947
If you do not mind, i close it in that case, the 3.10,3.14 are packaged completely differently, so I am not able to fix it there

[2020-10-07 14:31] #32947 closed

[2020-10-07 14:40] faridcher opened #39233 "provide an option to make database or file connections project-wide with relative paths instead of application-wide with absolute path"
Database (DB) or file connections are stored in GUI customization file. It would be great to store them relative to the project home. So when we copy/move a project file and a referenced Geopackage file for another project, the connections properly reference the relative Geopackage file. Now, Qgis stores connections absolute path in the QGISCUSTOMIZATION3.ini .

Qgis 3.10.10 on Debian unstable

th

[2020-10-07 14:48] faridcher opened #39234 "enable absolute distance to be input in the "Advanced Digitizing Pane" when editing a vertex of a segment with "Vertex tool""
Right now (qgis 3.10.10)  only relative distance could be input when d key is pressed. Please Provide a triangle toggle on the left side of the distance input field like other fields (angle and x,y coordinates) for an absolute value. I miss this AutoCAD feature in QGIS when, let's say, I want to change a line of length 4.234 to a line of 5.983. Now, I have to compute the difference in my mind and

[2020-10-07 15:05] oskarlin commented on #32947
@PeterPetrik ok but the problem still exists in my 3.14 version.

[2020-10-07 15:06] faridcher opened #39236 "Topology Checker Tool: removing a rule does not persist once the project is saved"
In Topology Checker Tool (TCT), removing a rule from the **Topology rule settings** does not persist once the project is saved.
It will show up again when the QGIS project is re-opened. To reproduce, add at least two rules to TCT and then save the project. Then remove a rule, save, close and open the project. The removed rule is back!

thanks

[2020-10-07 15:14] faridcher opened #39237 "non-persistent "Statistical summary" pane's widget settings"
For example the selected table and field will be lost once a project is re-opened. I have to select a layer and a field and check "Selected features only" every time I open the project file.

Qgis 3.10.10 on Debian

[2020-10-07 15:56] uclaros commented on #39166
That's what I thought when I first saw your screenshot! I've been bitten by it too and disable the feature on first occurence.
This is not a bug, since *Advanced Digitizing* has greater precedence than normal snapping. And it should have greater precedence to be able to do cool stuff like d,a,x,y locking etc.
However, having *Snap to common angles* set to right angles by default **is** a bug. *Sna

[2020-10-07 16:09] antoniolocandro opened #39240 "OSGEO4W installer Win10 error - date October 7, 2020"
Once installation is finished I get the following error

![image](https://user-images.githubusercontent.com/4627073/95357386-0b687600-0885-11eb-8eba-a066f0f0d1cb.png)

After clicking OK I get the next error

![image](https://user-images.githubusercontent.com/4627073/95357492-2804ae00-0885-11eb-8c85-944de28956fc.png)

[2020-10-07 16:12] roya0045 commented on #39240
Dependencies conflict, duplicate ticket.

[2020-10-07 16:15] antoniolocandro commented on #39240
Ok how do I resolve it? Or I need to wait?

[2020-10-07 16:19] roya0045 commented on #39240
You can try with the dedicated installer (not osgeo) to see if it works fine.

[2020-10-07 16:31] SebastienPeillet commented on #39136
@nicogodet thanks for the well described bug ! I proposed a PR #39241 to fix it

[2020-10-07 16:45] antoniolocandro commented on #39240
Alternative solution provided by Jef on Freenode: reinstall opencl fixed the problem

I think this issue should be left open until fixed in the installer probably

[2020-10-07 17:17] SebastienPeillet commented on #39146
If it's still a bug this [change](https://github.com/SebastienPeillet/QGIS/commit/bd6151966de659783b814fd9d7dc9cf10206970f#) can fix the error without activate `default values evaluation`. But for some reason the cell is still written in black instead of grey. Attribute table needs to be reloaded to appear in grey.

[2020-10-07 17:34] uclaros commented on #39234
The concept of *absolute distance* would make no sense if moving anything else but a single end point of a single line.
Construction mode (`c` shortcut) is your friend here, witch allows to redefine the axis of anything *relative*.
Also, you can have advanced digitizing do the computations for you, eg. in distance type `42/2.54` and press enter to automatically convert between imperial and metric!

[2020-10-07 17:51] gioman commented on #39240
@antoniolocandro but must be filed in the osgeo4w tracker, not here.

[2020-10-07 17:51] #39240 closed

[2020-10-07 18:10] captaincoordinates opened #39243 "Passwords are URL-encoded before base64 encoding for HTTP Basic auth"
**Describe the bug**

QGIS supports HTTP Basic authentication when adding a WMS source if the user provides a username and password. The format for an HTTP Basic auth header is "Authorization: Basic _base64-encoded-user:pass_". When the password includes a reserved URL character e.g. % QGIS is URL-encoding the character before base64 encoding. This results in the wrong password being provided to t

[2020-10-07 18:13] gioman commented on #39146
pretty much.

[2020-10-07 19:40] #39166 closed

[2020-10-07 20:19] valtterilap commented on #39093
Didn't work with that. This time I got error:
[code]
I have the option checked to get defaults from the database.

[2020-10-07 23:37] #39160 closed

[2020-10-08 00:18] nyalldawson commented on #38808
I can't reproduce -- this works fine for me.

[2020-10-08 01:20] agiudiceandrea commented on #39243
I can confirm the wrong behavior for WMS with HTTP Basic authentication.
The issue doesn't happen with WCS or WFS connections.

[2020-10-08 02:50] #39136 closed

[2020-10-08 03:41] faridcher commented on #39166
The vertex/segment snapping marker is misleading. Once it is shown, the user expect the snapping and I think it should take precedence. This is how AutoCAD works as well. As soon as you see the snapping marker, it guarantees the segment/vertex snapping even though angular snapping is on. Any if the precedence won't change in future, please provide a keybinding to toggle Angular Snapping. It should

[2020-10-08 04:37] i-s-o opened #39250 "Clicking OK button and pressing Enter key in Edit Attribute Values Dialog gives different results"
**Describe the bug**
Clicking OK button and pressing Enter key in Edit Attribute Values Dialog gives different results (for default values). There are also multiple quirks about the handling of the default values.

**How to Reproduce**
1. Create a new temporary scratch layer with date, time, and datetime fields:
2. Click on Add Point Feature tool
3. Click on the map to add a feature, which will br

[2020-10-08 04:39] #39169 closed

[2020-10-08 04:40] #39201 closed

[2020-10-08 05:27] faridcher commented on #39234
@uclaros  thank you for your valuable feedback. I have a few use-cases for the absolute distance input and for those use-cases it makes sense to move a common vertex of a few connected segments with Topological Editing Mode.

Never thought of Construction Mode this way.  However, It takes 4 steps: press c, click the beginning of the segment, press c and enter the absolute distance. Compare with th

[2020-10-08 06:34] PeterDrexel commented on #38808
Hi Nyall,
thanks for looking into this issue!

It is not working here on Windows 10 64 bit, I tried also in 3.15. Master.
You can find a screencast and some sampledata in the zip.
Just run the following in the Python-console:

_inshapefile = 'd:/in.shp'
tempvlayer = QgsVectorLayer(inshapefile, "in", "ogr")
QgsProject.instance().addMapLayer(tempvlayer)
processing.run("qgis:selectbyattribute", {'INP

[2020-10-08 06:39] uclaros commented on #39234
I don't think I've understood completely what you mean by absolute distance.
When moving the first or last vertex of a line, then absolute distance would be the length of the first / last segment, right?
What would it be when moving a node connected to multiple segments? Or on polygons? Or points?

[2020-10-08 07:13] nyalldawson commented on #38808
Confirmed -- thanks for the feedback!

[2020-10-08 07:22] ismailsunni commented on #38018
Hi, @gioman or @signedavis, has this fix merged to QGIS 3.10.x release? If so, which one? 3.10.10?
Thanks!

[2020-10-08 07:26] rmarzocchi84 commented on #39140
The solutions can be:
- add a transalte command after the gdal_rasterize to export also the format not supported from gdal_rasterize
- hide formats

The first solution is more complicated but is better for end user.

IMHO the first solution is a feature request, the second one is a bug correction because actually QGIS do not works correctly

[2020-10-08 07:30] signedav commented on #38018
Backported here #38170
It reverted the commit leading to this issue here. And reintroduced the minor bug that the counter of features is not always updated.

[2020-10-08 07:42] ismailsunni commented on #38018
Thanks, @signedav!

[2020-10-08 08:05] faridcher commented on #39234
@uclaros

Good question. It depends on how you approach and click on the node. See below. If you first hover over the 1.83 segment (when the segment renders in red color) and then click the node, it changes the length of that segment by the value you enter in the distance field (I want the value of this field set the absolute length of the segment). If you first hover over, say, 1.35 segment and c

[2020-10-08 08:29] jef-n commented on #39240
The dependencies are fine - you probably did a windows updates inbetween that touched opencl.  The opencl package was previously installed and didn't meanwhile change - but reinstalling aligned it with your current setup.

[2020-10-08 08:47] faridcher opened #39254 "SVG symbol with modifiable fill and stroke color"
I have parameterized the stroke color of the  attached SVG file (search for 'param' string) to be used as a SVG marker in the Symbology definition of a layer. I change the color of this SVG marker to magenta via the interface, however, the color is not restored in the symbol definition dialog when I re-open it for further adjustment and it defaults to black again. This makes the stroke color (mage

[2020-10-08 08:50] nyalldawson commented on #39254
This is fixed for 3.16

[2020-10-08 08:50] #39254 closed

[2020-10-08 08:59] faridcher opened #39255 "Keybindings issues"
- when attribute table is docked as a panel, shortcut keys with ctrl key modifier like ctrl+e don't work. They work fine when the panel is undocked (still as a pane) once the maximize button at the top-right corner is pressed.

- shortcut key to activate **Vertex Tool** does not work if its parent toolbar is not visible. Shortcut keys to activate other tools on the toolbar, e.g. **Add feature tool

[2020-10-08 09:08] faridcher commented on #39254
@nyalldawson great. thanks.

[2020-10-08 09:36] faridcher opened #39256 "a relation widget (e.g. one to many) doesn't show up in the "Edit feature's attributes dialog" if it is activated by "Edit > Modify attributes of selected features" menu"
Qgis 3.10.10

Relations (e.g. one to many) widget doesn't show up in the **Edit feature's attributes dialog** if it is activated by **Edit > Modify attributes of selected features** menu. It shows fine if activated from **Identify dialog edit feature** button. To reproduce, use the attached Geopackage and qgis project file. 'labs' layer has a many-to-many relation with 'owners' attribute table and

[2020-10-08 09:39] elpaso commented on #39178
See also: https://github.com/qgis/QGIS/pull/39244

[2020-10-08 09:43] elpaso commented on #39178
Reproducing test case:

[code]

[2020-10-08 10:55] damateos commented on #28963
Hi,
I didn't know if publish this here or in #15322, but I think the title of this issue is more accurate with the problem.
Nowadays the WCS layers are valid layer inputs for native tools as  "Raster Surface Volume", "Reclassify by table" or "Export" but not for the GDAL processing tools.

[2020-10-08 11:38] faridcher opened #39258 "Provide a keybinding to toggle angular snapping (snapping to common angles)"
Following #39166, please export this as an qgis Action and bind it to a key to streamline the switching between vertex/segment snapping and angular snapping during digitization.

Qgis 3.10.10

thanks

[2020-10-08 11:54] antonellosalis opened #39259 "Debian Testing Installation from Reporsitories: Could'n t load SIP Module"
**Error Message on Python at start and no Python support in QGIS**
I found the same problems in the past but no ways to solve it unless wait for a new SIP release or QGIS bugfix., this is the message when i Start QGIS:
Couldn't load SIP module.
Python support will be disabled.

Traceback (most recent call last):
  File "", line 1, in
  File "/usr/lib/python3/dist-packages/qgis/__init__.py", line 7

[2020-10-08 11:58] antonellosalis commented on #38310
I already tryied. It did not work on Debian Testing

`Not uninstalling pyqt5 at /usr/lib/python3/dist-packages, outside environment /usr
Can't uninstall 'PyQt5'. No files were found to uninstall.
`

[2020-10-08 12:09] elpaso commented on #39230
Can you attach a sample project and data?

[2020-10-08 12:17] MrChebur opened #39260 "Graphics modeler crashes after editing child model."
## User Feedback

The following steps will crash QGIS 3:
1. Open the Graphical modeller.
2. Create your custom model (parent) and save it.
3. Create another custom model (submodel) and save it.
4. Insert the submodel into the parent model and save it.
5. Modify the submodel and save it.
6. Edit the parent model (an infinite loop will appear leading to a failure).

## Report Details

**Crash ID**:

[2020-10-08 12:24] pellegoeg commented on #39223
Working in lastnightly:

QGIS version | 3.15.0-Master | QGIS code revision | cfba539e0c
-- | -- | -- | --
Compiled against Qt | 5.14.2 | Running against Qt | 5.14.2
Compiled against GDAL/OGR | 3.1.2 | Running against GDAL/OGR | 3.1.2
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.31.1 | Running against SQLite | 3.31.1
PostgreSQL Cli

[2020-10-08 12:24] #39223 closed

[2020-10-08 13:00] GlenRice-NOAA commented on #22427
I am looking for information regarding the status of this feature request.  While it appears this feature was recently assigned to the [Future Release - High Priority](https://github.com/qgis/QGIS/milestone/55) milestone, it looks like that milestone was closed.  Does that mean this feature is recognized as high priority but has not been assigned to a release?

[2020-10-08 13:13] PeterPetrik commented on #29473
Unable to replicate on MacOS (Qt 5.14.2)

[2020-10-08 13:14] Mickeler opened #39261 "Atlas crashed"
I try to publish atlas in layout view, it crashed, why?

Crash ID: 58af41f0bed030b22110d0434dec6f238c29dea2

Stack Trace

QTextOption::wrapMode :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QRasterPaintEngine::rasterBuffer :
QRasterPaintEngine::rasterBuffer :
QRas

[2020-10-08 13:15] elpaso commented on #22427
@GlenRice-NOAA feature requests are usually implemented either by volunteers or (more often these days) by a developer that is being paid by a customer. Even if we had a formal/official milestone for feature requests, that would not be of much use if nobody will actually work on that feature request.

There are a few ways you can help and they have been very well summarized by Nyall Dawson in this

[2020-10-08 13:28] PeterPetrik commented on #31304
does not crashes (fixed) on 3.10/3.16, closing

[2020-10-08 13:28] #31304 closed

[2020-10-08 13:32] kartoffelfee commented on #37525
Hi, same problem and less ideas on debian. Has anyone of you a solution or some more hints?

[2020-10-08 13:36] PeterPetrik commented on #34056
Unable to reproduce on MacOS/nightly

[2020-10-08 13:45] Octansf opened #39262 "Crash QGIS"
## User Feedback

I create a new script from template and when click on save as, search for folder to put my file and click on save button QGIS explode

## Report Details

**Crash ID**: [db167c9365fe5cd4e60710d9d5cd5fe7040bdb3d](https://github.com/qgis/QGIS/search?q=db167c9365fe5cd4e60710d9d5cd5fe7040bdb3d&type=Issues)

**Stack Trace**
<pre>
UserCallWinProcCheckWow :
DispatchClientMessage :
_fnDWO

[2020-10-08 13:55] elpaso commented on #37525
@kartoffelfee on debian you should be able to see the loaded providers in the server logs (I don't know about windows, sorry), in any event the debian issue probably deserves a separate ticket.

[2020-10-08 13:57] faridcher commented on #39230
Sure. see the original post.

[2020-10-08 13:58] elpaso commented on #39177
This may be fixed by https://github.com/qgis/QGIS/pull/39257 with GDAL >= 2.3.0.

[2020-10-08 13:59] klainkaliber opened #39263 "Hatching / Labelling of LRS/Calibrated Routes"
**Feature description.**

QGIS is missing a way to label calibrated routes, i.e. "hatches" in ESRI terminology. Hatches are dashes/points/markers combined with numbers along routes that usually show the chainage of a calibrated route (in shape files: "has m-values").

This is a basic visualisation functionality needed for everyone working with road networks.

Below an example of a hatched calibrat

[2020-10-08 14:02] kartoffelfee commented on #37525
the only information in the server log is 'Invalid data provider oracle' and I don' know what qgis wants to tell me / what might be missing.
Seems to me to be more a genreal qgis_server problem than an OS-depending issue?

[2020-10-08 14:02] PeterPetrik commented on #37508
crashes on MacOS too

[2020-10-08 14:15] elpaso commented on #37525
That message means that QGIS (server or desktop is the same) was asked to load a layer using a provider named "oracle" but that provider was not found, 99% of the times it means that QGIS was not built with oracle provider support.

I'm pretty sure that this is a packaging/building issue and that it is not related to the server but to QGIS core libraries (well, technically the provider plugins), p

[2020-10-08 14:17] elpaso commented on #39230
I can reproduce on linux using branch https://github.com/qgis/QGIS/pull/39257 (which means that this issue has a different root cause).

[2020-10-08 14:27] Davyg50 opened #39264 "Printing downscaled contours"
The new interactive contouring feature for raster images works fine on screen but then fails to print the downscaled contours with the contours reverting to the original scale.
![Watton Contours A3 Example 10](https://user-images.githubusercontent.com/72563209/95472266-b9a21780-097a-11eb-9f68-2e8dd80a8dd9.jpeg)
![Screenshot 2020-10-08 at 15 20 19](https://user-images.githubusercontent.com/72563209

[2020-10-08 14:29] PeterPetrik commented on #37508
looks like `QgsGrassProvider::textEncoding()` returns 0x0 and I cannot find a place where it is ever set.

[2020-10-08 14:40] elpaso opened #39265 "Crash digitizing a feature when transaction group is on (after save)"
To reproduce: use the project and data from in https://github.com/qgis/QGIS/files/5348327/test.zip

1. Start editing
2. Digitize a feature (you get the error from https://github.com/qgis/QGIS/issues/39230 but that's completely unrelated and the feature is saved)
3. Save the layer (but keep it in editing state) (under the hood the transaction is closed and set to nullptr)
4. digitize another featur

[2020-10-08 14:41] kartoffelfee commented on #37525
While you where writing the last comment I talked with @jef-n. To experts with one solution should make it, much better than talking to lawers :)

Thanks!

[2020-10-08 15:03] jef-n commented on #37525
With our debian packages we don't ship the oracle providers as it requires extra dependencies not found in the base distribution (ie. the oracle instantclient).
In OSGeo4W we ship the instant client and the oracle provider, but as optional component.  So the windows users experiencing this just need to install the packages and users trying to build the debian packages need to build themselves (the

[2020-10-08 16:14] roya0045 commented on #39262
Error in code, not qgis.

[2020-10-08 16:15] roya0045 commented on #39261
More info needed on the expected output (size, dpi,etc).

[2020-10-08 18:30] gioman commented on #39262
@Octansf Post the code to get some support. Will reopen if it turns out to be a QGIS issue.

[2020-10-08 18:30] #39262 closed

[2020-10-08 19:17] #38808 closed

[2020-10-08 19:24] jdugge opened #39268 "Advanced digitizing: Self-snapping does not work with layers using geographic CRS / only works with first edited layer"
In QGIS 3.14, when creating a new feature using advanced digitizing on a layer with a geographic CRS (such as EPSG:4326), self-snapping does not work: vertices of the feature currently being digitized do not snap.

Snapping to existing features of the same layer works fine. So does editing an existing feature: the current state of the feature is correctly used for snapping. The problem only occurs

[2020-10-08 21:04] marcscama commented on #39259
Hi, i confirm thé bug under à fresh debian testing.
Under linuxmint everithing works ok. Some python lib must bé update i Will try to replace some library...
Thanks

[2020-10-08 23:19] #30549 closed

[2020-10-08 23:21] nyalldawson commented on #39261
This is an upstream Qt issue -- it was fixed in Qt 5.12, so is waiting for the Windows build to update to a more recent Qt version

[2020-10-08 23:21] #39261 closed

[2020-10-08 23:24] nyalldawson commented on #39260
Can you share your models please?

[2020-10-08 23:25] nyalldawson commented on #39263
I would like to look into this, but do not have access to the ESRI licenses required to generate calibrated routes. Are you able to share some data + an MXD or LYR file containing this symbology option? Screenshots of the ArcMap configuration for the hatches would be appreciated also!!

[2020-10-09 00:07] magman2 opened #39271 "gdal_translate"
GQIS version 3.10
Raster | Extraction | Clip Raster by Extent
text in windows says
'Clipping extent(xmin,xmax,ymin,ymax)' is incorrect should be
'Clipping extent(xmin,ymax,xmax,ymin)
also the delimiter of these parameters changes from comma (lat,long) so space (UTM)

Despite this QGIS still works well ! for this operation at least on ERMapper ERS files I am using.

Problem is when I am calling gda

[2020-10-09 00:37] magman2 commented on #39271
Clarification
QGIS swaps these parameters before calling gdal_translate hence my confusion.
These parameters are entered in QGIS as comma separated but gdal_translate uses space delimited - always.
Would be more robust to check that xMin < x_max and y_min < y_max

Suggestion
'Clipping extent(xmin,xmax,ymin,ymax)' is changed to
'Clipping extent(xmin,xmax,ymin,ymax) comma separated here - parameters

[2020-10-09 02:20] #39230 closed

[2020-10-09 03:39] longhuan2018 opened #39275 "build failed with Python 3.8.3"
OS : Microsoft Windows 10 Pro (Chinese Version)
Compiler: MSVC 2017
Python Version : 3.8.3
SIP Version :  4.19.24
QT Version : 5.15.0

The following error is prompted during compilation
[code]

[2020-10-09 04:10] longhuan2018 commented on #39275
I found that adding "explicit QgsAuthManager();" in the "python\core\auto_generated\auth\qgsauthmanager.sip.in" file can solve the bug.

[code]

[2020-10-09 04:48] MrChebur commented on #39260
@nyalldawson
Here it is: [models.zip](https://github.com/qgis/QGIS/files/5352562/models.zip)
Reproducing the error: [Crash video.zip](https://github.com/qgis/QGIS/files/5352565/Crash.video.zip)

[2020-10-09 06:46] alechamizo opened #39277 "ImportError: cannot import name 'ScriptUtils' from 'processing.script"
Hi,

My QGIS Versión de QGIS: 3.14.16-Pi Pi, df27394552  generates an error when it starts. I installed QGIS 3.14.16 in a new computer and copied the folder of user from other computer (AppData\Roaming\QGIS\QGIS3\profiles\)
May be the reason for errors?
Thanks

ImportError: cannot import name 'ScriptUtils' from 'processing.script' (C:/PROGRA~1/QGIS3~1.14/apps/qgis/./python/plugins\processing\scrip

[2020-10-09 07:22] gioman commented on #39268
@jdugge it does not work also on a layer with a projected crs here, but why that would work? doing that you would create a duplicate node, which is a geometry error.

[2020-10-09 07:26] gioman commented on #39277
@alechamizo please ask questions on the users or developers mailing lists. Thanks!

[2020-10-09 07:26] #39277 closed

[2020-10-09 07:28] gioman commented on #39271
@magman2 where is the issue here? The widget that defines the clipping extent write it in the GUI as xmin,xmax,ymin,ymax, and then this is rearranged as necessary when running the tool, so what?

[2020-10-09 07:33] jdugge commented on #39268
@gioman: Self-snapping is a new feature that was introduced in QGIS 3.14. The main use case is not for creating duplicate nodes, but rather for snapping to existing nodes in construction mode or while other constraints are active. This is useful for digitizing rectangular features, for example. See https://github.com/qgis/QGIS/pull/36200 for an explanation.

I'm surprised that it doesn't work for

[2020-10-09 07:35] gioman commented on #39268
@jdugge let me check if I have done everything right.

[2020-10-09 07:50] klainkaliber commented on #39263
Great!
I attach a MXD containing:
- a calibrated Route (data source is OSM); calibration was actually done in QGIS/LRS
       [OSM_Bayern_motorway_route_calibrated5QGIS.shp]
- the chainage points that were used for the calibration [A93_RouteCalibration.shp]
- Route Events [A93_Route_Events.xlsx]

The route is hatched, hatches shoud be visisble on opening of MXD.

Below some screenshots from the Ha

[2020-10-09 09:08] elpaso commented on #39265
Reproucible on PG and GPKG.

[2020-10-09 09:10] mapperfr opened #39279 "Export or "Save as" a layer into current working directory instead of user directory"
"Export" or "Save As..." a layer currently in the layer selector opens the user directory (/home/user on Linux) and not the working directory. Would be nice to be able set the behaviour in the preferences: user directory or working directory.

QGIS 3.14.16 under Ubuntu 20.04.

[2020-10-09 09:15] elpaso commented on #39265
Test case to reproduce the issue:

[code]

[2020-10-09 09:52] gioman commented on #39279
I believe there are already other tickets asking the same.

[2020-10-09 10:01] GlenRice-NOAA commented on #22427
Thank you for the help and perspective.

I would be interested in the ability to at least visualize the raster attribute table in QGIS, primarily in support of attributed bathymetry.  As described in a [proposal](https://github.com/OpenNavigationSurface/BAG/issues/2) to update the BAG format, being able to describe the quality metrics and source information on a cell by cell basis is valuable (if

[2020-10-09 10:09] JeremyG commented on #39279
Yeah there must be indeed but I couldn't find them yet! I'll keep looking and report here if I find anything.

[2020-10-09 11:40] #39178 closed

[2020-10-09 12:20] tristenbarrett opened #39280 "Points Along Geometry: Geodetic"
Whilst using QGIS for data management in a long distance cable lay project I have come across the issue of generating new KP points along the as-laid path.  While QGIS can do this with the Points Along Geometry, it unfortunately can only do so on Projected Layers, meaning we've had to utilise external products to do this in Geodetic (Global Mapper and AutoChart both have this facility).

Ideal fun

[2020-10-09 12:25] tristenbarrett opened #39281 "Points Along Geometry: Final Point"
**Feature description.**
Add a toggled option to force Points Along Geometry to always generate the final point of a line, regardless of spacing.

**Additional context**
Usually when using this feature I would be generating points every X meters along a line to generate listings for export, but would still require the final point of the line for completion.  This is notably a feature in the QChain

[2020-10-09 12:28] tristenbarrett commented on #39280
Edited to correct structure for post (apologies, the link that took me in here did not have the preferred format).

[2020-10-09 13:03] elpaso opened #39282 "Transaction groups: not-current layers a set to not editable after save"
1. create a project with transaction group option switched on
2. add two layers A and B (GPKG, PG or other supporting transactions) from the same connection
3. switch editing on on one layer (the other is set editable as well, so far so good)
4. make layer A the current one by clicking on its legend entry
5. digitize something on A and accept the form
6. click on save button
7. layer A is still ed

[2020-10-09 13:47] lhilarides commented on #33778
I tried disabling the browser in QGIS, which kind of improved things a bit in terms of responsiveness but I've just now disconnected my USB hub (card-reader) and this completely 100% fixed the problem.

[2020-10-09 14:09] EzVal opened #39285 "QGIS 3.14.16 crash on opening project"
After installing the new release QGIS desktop does not open project files that contains joins on MS ACCESS tables. The problem does non appear on version 3.14.0 - 32 bit
OS: Win 10 pro 64 bit
QGIS Versione: 3.14.16 32 bit
MS ACCESS version: 16 - 32bit
[Example.zip](https://github.com/qgis/QGIS/files/5355454/Example.zip)

[2020-10-09 14:28] landryb commented on #35383
duplicate of #25876 which is older - probably affects all unix distributions, seeing it on OpenBSD too.

[2020-10-09 14:34] landryb commented on #25876
what additional work ? i've look at the aforementioned commit and it makes sense, fixing the two locations that try to open the geopackage..

sure there might be more work if one wants to add a checkbox to allow users to specifically open or mark datasets as readonly, or even detecting them (say, ogc services, db services with only select rights, files not belonging to the user..) but in the meant

[2020-10-09 15:21] gioman commented on #39285
@EzVal Try with a new QGIS profile

[2020-10-09 15:40] CoryAlbrecht commented on #39146
@SebastienPeillet Are you sure? As the console log shows, th SQL is

`SET "stripe_rgb"='NULL::character varying'`

rather than

`SET "stripe_rgb"=NULL::character varying`

which are two vet different things.

[2020-10-09 15:47] PeterPetrik commented on #37163
duplicate of https://github.com/qgis/QGIS/issues/35483

[2020-10-09 15:47] #37163 closed

[2020-10-09 16:16] roya0045 opened #39288 "[Browser] Renaming only accepts characters and behaviour issue with unaccepted character in name"
**Describe the bug**
When renaming a geopackage layer, using the rename function only allows the user to provide characters, not symbols (other than _ ) or numbers.

If the name of the layer already contain number or special characters those cannot be interacted with other than by deleting part of the text containing them in one action.

**How to Reproduce**

In the browser with a geopackage conta

[2020-10-09 16:20] CoryAlbrecht commented on #39106
@stev-0 I have the close button on this issue, yes, but I don't want to close it. I want it fixed.

[2020-10-09 16:24] PeterPetrik commented on #38889
could be related to https://github.com/qgis/QGIS/pull/39287, can you please provide minimal example that can be used to reproduce the issue?

[2020-10-09 16:39] PeterPetrik commented on #34790
@saberraz can you please specify which polygon you change and to switch style?

[2020-10-09 16:40] CoryAlbrecht commented on #34933
So I rechecked this and it still happens on Ubuntu 20.04 with an updated QGIS, unlike what you say.

![image](https://user-images.githubusercontent.com/8172909/95608415-0f35fd00-0a2b-11eb-8d72-76bea8450d2b.png)

QGIS version | 3.15.0-Master | QGIS code revision | 9efa05b1e2
-- | -- | -- | --
Compiled against Qt | 5.12.8 | Running against Qt | 5.12.8
Compiled against GDAL/OGR | 3.0.4 | Running agai

[2020-10-09 16:43] PeterPetrik commented on #29116
It is impossible to replicate without project and exact steps. Please provider reproducible example data and step

[2020-10-09 16:47] marcscama commented on #39259
No solutions for thé moment.  Debian déveloper must update thé packages and thé python dependecies

[2020-10-09 16:47] gioman commented on #34933
@CoryAlbrecht if you still see it is fine. I just meant that it didn't made sense to report it using a qgis build that didn't made use of recent dependencies.

[2020-10-09 16:48] gioman commented on #34933
@CoryAlbrecht can you attach a sample project + sample data?

[2020-10-09 17:19] PeterPetrik commented on #37881
Hi @saberraz,

- which version of QGIS?
- which OS?
- can you try to use tools to find features with invalid geometry?
thanks

[2020-10-09 17:25] roya0045 commented on #39288
I'm not sure if there are constraints with geopackage but could we replace the regex with `([A-Za-z_0-9\-][A-Za-z0-9_\s\-]+)`??

[2020-10-09 21:36] #35483 closed

[2020-10-10 02:17] #39288 closed

[2020-10-10 04:39] nirvn opened #39296 "Digitizing broken when reprojecting from EPSG:32648 (project CRS) to EPSG:3148 (layer CRS)"
When digitizing a feature on a layer (CRS EPGS:3148) within a project having a CRS set to EPGS:32648, the resulting feature vertices are a/ no located where the clicks occured on the canvas (i.e. coordinates are misreprojected) and more worryingly b/ the whole feature goes 'corrupt', extra vertices are added/modified as you digitize additional vertices.

GIF time:
![UdtnpP4FXQ](https://user-images

[2020-10-10 07:06] #39282 closed

[2020-10-10 07:09] #39002 closed

[2020-10-10 07:16] gioman commented on #39296
@nirvn which QGIS version? seems ok on 3.10.

[2020-10-10 07:41] nirvn commented on #39296
Issue is on master (I assume it's a proj >= 6 issue)

[2020-10-10 08:18] grantboxer opened #39298 "QGIS 3.14.16 crash on export from map window"
## User Feedback

QGIS crashes on creating export jpg from image

## Report Details

**Crash ID**: [1d5ed672dc1b64fc24118b59e560969ad8cbd8bb](https://github.com/qgis/QGIS/search?q=1d5ed672dc1b64fc24118b59e560969ad8cbd8bb&type=Issues)

**Stack Trace**
<pre>
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :

[2020-10-10 09:46] Gustry commented on #39298
Clicking on the crash ID link, it leads to #39189, duplicate @grantboxer ?

[2020-10-10 13:16] gioman commented on #39296
confirmed.

[2020-10-10 13:44] mankoff opened #39301 "QGIS 3.10.10 no longer supports browsing GRASS repositories"
**Describe the bug**

Yesterday, using 3.10.9, I could brows GRASS repositories in the Browser. My "G" folders (my GRASS locations) appeared both as a folder, and again with the GRASS icon which exposed the mapsets and rasters and vectors therein.  That special icon and view of the GRASS folder is gone.

This page on GRASS integration https://docs.qgis.org/3.10/en/docs/user_manual/grass_integratio

[2020-10-10 13:45] mankoff opened #39302 "QGIS 3.10.10: Can't browse GRASS locations"
**Describe the bug**

Yesterday, using 3.10.9, I could brows GRASS repositories in the Browser. My "G" folders (my GRASS locations) appeared both as a folder, and again with the GRASS icon which exposed the mapsets and rasters and vectors therein.  That special icon and view of the GRASS folder is gone.

This page on GRASS integration https://docs.qgis.org/3.10/en/docs/user_manual/grass_integratio

[2020-10-10 14:04] #39301 closed

[2020-10-10 14:08] gioman commented on #39302
@mankoff I'm on Kubuntu 20.04 and QGIS 3.10.10, all fine here:

![Screenshot_20201010_150716](https://user-images.githubusercontent.com/1951107/95657064-6068ee00-0b0a-11eb-8c6e-4add5c898266.png)

[2020-10-10 14:30] mankoff commented on #39302
I've tried a clean install. I removed everything related to `QGIS` and `GRASS`:

[code]
New install:

[code]

When I launch `QGIS` I get this in the Log Messages:

`2020-10-10T07:28:31     WARNING    GRASS init error : Problem in GRASS initialization, GRASS provider and plugin will not work : Module built against version 2020-10-05T18:11:37+00:00 but trying to use version 2020-10-05T19:53:30+00:00

[2020-10-10 15:56] roya0045 commented on #39115
@nyalldawson would simply removing elements force the default to appear when exporting the settings or would that simply break things?

[2020-10-10 15:59] nicogodet commented on #39302
@mankoff Recently grass was updated from 7.8.3 to 7.8.4 and I noticed the same warning on 3.10.10 and 3.12.16 on Windows10 with osgeo4w install
Restoring 7.8.3 solved the warning.

[2020-10-10 16:21] mankoff commented on #39302
I no longer have access to that version, and I'm hesitant to downgrade to 7.8.2. I think there were 7.8.3 features that I needed when that upgrade came out.

[code]

[2020-10-10 18:30] jdugge commented on #39268
Strangely, it seems like the behavior has changed between QGIS 3.14 and current Master (1258afe635). Here is a [test project](https://github.com/qgis/QGIS/files/5359658/Self_snapping_issue_39268.zip) using EPSG:3857 and two layers.

* On QGIS 3.14, self-snapping only works for the layer using the geographic CRS EPSG:4326.
* On Master, self-snapping only works for the layer using the projected CRS

[2020-10-10 18:32] nofast opened #39303 "crash "-/sysdeps/unix/sysv/linux/wait4.c: No file or folder""
Hi,

When I run in QGIS Python's console geopandas command .to_file() or try to save data by use ogr/gdal
I have error caused qgis crash "-/sysdeps/unix/sysv/linux/wait4.c: No file or folder"

When i execute the same code outside qgis console I haven't any problems.
I don't have wait4.c file on my hard drive.

Linux Mint 20
Python 3.8.2 (the same version in both case)
QGIS 3.10 Coruna LTR

Error D

[2020-10-10 20:14] Konstantinos-Sk opened #39304 "QGIS 3.10.10: Generate XYZ tiles (Directory) - Execution failed"
[ImageAndPoints.zip](https://github.com/qgis/QGIS/files/5359953/ImageAndPoints.zip)

**Describe the bug**

The execution of the tool `Generate XYZ tiles (Directory)` fails after clicking `Run` button.

**How to Reproduce**

I will write down all the steps I did.

1. Run QGIS program and Click on `Raster tab > georeferencer` (if the plugin is not installed, click on `Plugins tab > Manage and Instal

[2020-10-11 08:44] klakar opened #39309 "QGIS layout crash when re-ordering items"
**Describe the bug**
Trying to reorder the items in a layout with drag-and-drop will (eventually) crash QGIS.

**How to Reproduce**
1. Start a layout (no need to add any data)
2. Add **three** shapes to the layout.
![Skärmbild från 2020-10-11 10-37-34](https://user-images.githubusercontent.com/6375959/95674028-d2deda00-0bad-11eb-87f9-461d82e723d9.png)
3. Try to reorder the items in the Items panel

[2020-10-11 08:57] nyalldawson commented on #39309
This is already fixed in a newer build

[2020-10-11 08:57] #39309 closed

[2020-10-11 09:02] ecodiv opened #39310 "qgis-bin-q7.exe access point not found"
**Describe the bug**
After installing QGIS (v3.14.16-2) with GRASS GIS (v7.8.1-4) and the qgis-grass-plugin 7 (tried v3.14.16-3 and 16-2) using the osgeo4w installer, opening the QGIS with GRASS results in an error message

![csrss_EtslgpcKZ5](https://user-images.githubusercontent.com/7816789/95674518-0bcc7e00-0bb1-11eb-918b-3fbb4e4000d4.png)

In English: Can not find the access point procedure ?g

[2020-10-11 09:56] Emmanuel-Duguey opened #39311 "Add icone in the panel layers"
Can we add icone in the panel layers ? it would be very helpfull  to help users to organise properly all the layers, as it is done in the 3D software
![icone_](https://user-images.githubusercontent.com/66991820/95675584-9f557d00-0bb8-11eb-8797-effae045d420.png)

[2020-10-11 11:20] nicogodet commented on #39311
https://github.com/YoannQDQ/qgis-layer-tree-icons

[2020-10-11 13:52] Emmanuel-Duguey commented on #39311
thank you for the plugin, it woudl be great also to change the color and the font to the group item

[2020-10-11 15:18] nicogodet commented on #39311
You can try to open an issue for a feature request on plugin repo.

[2020-10-11 18:45] #39311 closed

[2020-10-11 20:38] roya0045 commented on #39304
`'EXTENT' : '-3002.4051096826083,3000.8280953125172,-3000.255191098833,3000.7554173746357 [EPSG:4326]'`
Seriously? how is that even a bug if you can't make a valid layer.

[2020-10-11 20:57] roya0045 opened #39314 "[Georeferencer] Make georeferencer less strict with CRS"
Currently the georeferencer and the canvas point selector need to be in the same projection to work properly.

I am proposing to add an attribute to the point indicating the original projection of the point. When the point are manually entrered we can assume that they are of the projected source if within boundary.

These could be added to the QgsGeorefDataPoint by rigging somethiing qgsmapcoordsd

[2020-10-11 21:18] nyalldawson commented on #39314
Good idea. The current situation is far from perfect!!

[2020-10-11 23:29] stev-0 commented on #39106
Hi @CoryAlbrecht - I've explained why this issue exists and the workaround - if you or anyone else can think of a way to deal with the issue you have whilst at the same time preventing any other unintended consequences caused by the interplay with QGIS field defaults and Postgres field defaults as per the [code comments](https://github.com/qgis/QGIS/blob/869e148f6946579ec053e4cd72ffe4746fc97e90/sr

[2020-10-12 01:21] mirouml opened #39318 "Show Feature Count shows wrong numbers with Rule based classification"
Show Feature Count shows wrong numbers with Rule based classification.

![number_of_features_wrong](https://user-images.githubusercontent.com/8064130/95695856-27e92180-0c7c-11eb-8455-5cbcd5de8512.png)

1. Load vector (postrges) layer into QGIS.
2. Right click on layer to "Show Feature Count"
3. In properties change Symbology to Rule-based
4. Create your rules based filter on attribute values
5. Cl

[2020-10-12 02:01] nyalldawson commented on #39263
Thanks @klainkaliber !

[2020-10-12 04:19] kuazhangxiaoai opened #39320 "initfsencoding problem when compiling qgis source code"
![image](https://user-images.githubusercontent.com/54108453/95704955-1bb59200-0c85-11eb-92f7-23073b4fedef.png)

Thanks!!!

[2020-10-12 05:11] magman2 commented on #39271
Thanks for the follow up.

The widget works fine. Just the swapping of parameter is a bit confusing at first.

From: Giovanni Manghi <notifications@github.com>
Sent: Friday, 9 October 2020 6:29 PM
To: qgis/QGIS <QGIS@noreply.github.com>
Cc: Philip McClelland <phil@ultramag.com>; Mention <mention@noreply.github.com>
Subject: Re: [qgis/QGIS] gdal_translate (#39271)

@magman2<https://github.com/magma

[2020-10-12 05:29] kuazhangxiaoai opened #39322 "some problems for qgis project compiling"
I have 8 problems for qgis project compiling ,as following :

![error_list](https://user-images.githubusercontent.com/54108453/95708802-c337c200-0c8f-11eb-9f24-9cc031f4236a.PNG)

![error_list](https://user-images.githubusercontent.com/54108453/95708831-dd71a000-0c8f-11eb-8fe5-9f4ebe6d57c1.PNG)

Thanks for your answers of one or more of all errors.

[2020-10-12 06:03] kuazhangxiaoai opened #39323 "No OSGeo4W-dev.bat"
Why there is no OSGeo4W.bat batch file afer runing msvc-env.bat or configonly.bat ?
What can I do for it?
Thanks

[2020-10-12 06:58] antonellosalis commented on #39259
A bug fix has been released.
A simple:
[code]
Solved everythink.

Thank you guys.
A.

[2020-10-12 07:23] lbartoletti commented on #37821
Yes, it seems it's because python (sip) can not have same method with different type.

BTW, the order matter, if in `qgsgeometry.h` order of the methods is:

[code]

you have to pass QVector<QgsPointXY>

but it requires `QVector<QgsPoint>` aka `QgsPointSequece` with this order:

[code]

But, Is this solution acceptable? (only one of the two methods is always proposed in python)

[2020-10-12 08:36] Konstantinos-Sk commented on #39304
The map has the center of the image as x, y = 0.0, 0.0

bottom left corner:
minx = -3000.0
miny = -3000.0

top right corner:
maxx = 3000
maxy = 3000

I use these two corners as latLngBounds in LeafLet and everything works as expected.

[2020-10-12 08:38] gioman commented on #39304
@Konstantinos-Sk those bound in WGS84 do not make any sense.

[2020-10-12 08:40] gioman commented on #39302
@mankoff On Focal GRASS is 7.2

https://packages.ubuntu.com/search?keywords=grass-core&searchon=names&suite=focal&section=all

and if you use the qgis.org that uses normal focal repositories for dependencies then I guess you have to stick to 7.2

[2020-10-12 08:41] gioman commented on #39303
@nofast please add the code you are using.

[2020-10-12 08:42] #39320 closed

[2020-10-12 08:43] gioman commented on #39320
@kuazhangxiaoai please file tickets are requested by the guidelines/template.

[2020-10-12 08:44] #39271 closed

[2020-10-12 08:44] gioman commented on #39323
@kuazhangxiaoai please ask questions in the developers mailing list, thanks!

[2020-10-12 08:44] #39323 closed

[2020-10-12 08:45] #39259 closed

[2020-10-12 08:47] gioman commented on #39314
@roya0045 in the past it used to work as expected: you could pick point over a project with CRS "a" and in georef configuration choose CRS "b" and the result would have been transformed on the the fly.

[2020-10-12 08:51] gioman commented on #39318
@mirouml related/duplicate of https://github.com/qgis/QGIS/issues/27893 ?

[2020-10-12 08:52] gioman commented on #39322
@kuazhangxiaoai please ask questions on the developers mailing list. Or file tickets following the guidelines/instructions.

[2020-10-12 08:52] #39322 closed

[2020-10-12 09:34] FelisPimeja opened #39326 "Batch processing -> Save batch -> Invalid row number in error notification."
When trying to save batch processing list  and there are some problems with it the error notification pops up pointing to problematic row. But it's actually point to a row previous to the actual problematic one (sorry, my English isn't fluent).

Steps to reproduce with sample project included
1. Create a simple batch processing list with "Join by lines (hub lines)" algorithm. It has to connect 2 s

[2020-10-12 09:37] gioman commented on #39310
@ecodiv

On a clean Windows 10 machine I can't replicate what you describe, but on activating the GRASS plugin I get

_2020-10-12T10:32:43     WARNING    GRASS init error : Problem in GRASS initialization, GRASS provider and plugin will not work : Module built against version 8bcecc9a6 but trying to use version d8fbd49af. You need to rebuild GRASS GIS or untangle multiple installations._

that I g

[2020-10-12 10:05] tschmetzer opened #39327 "[Georeferencer] Improve usability of image raster maps"
When opening a map raster image file to be georeferenced by longitute and latitude grid lines and its intersections you need to create and place the Ground Control Points (GCP) yourself. This is especially tricky to do if the image to georeference is rotated and if the labelling line is only on the margins (see e.g. https://www.geodaten.bayern.de/histTopoKarten/01_Positionsblatt/01_693_F_1933.pdf)

[2020-10-12 10:05] engingem commented on #38393
I have same issue on latest nightly master build with MacOS Catalina.

QGIS version: 3.15.0  (qgis_nightly_master_20201008_122909.dmg | 08-Oct-2020 19:35)
QGIS code revision: 29f657ddf2
OS Version: macOS 10.15.7

**Apple crash log**
Process:               QGIS [72464]
Path:                  /Applications/QGIS.app/Contents/MacOS/QGIS
Identifier:            org.qgis.qgis3
Version:               3.15

[2020-10-12 10:47] #39265 closed

[2020-10-12 11:40] mirouml commented on #39318
It might be related. But in my case funnily enough the ELSE value actually gives correct number - same as I obtain via sql query directly on database. So it is randomly some of the other rules - sometimes it is correct, sometimes it is more, never seen less, than what test returns - and test returns the same numbers as direct sql query.

[2020-10-12 11:47] martinwachutka commented on #37799
Hello Alex!

How can I move it over to a feature request. Any things to consider as company on mebership level medium?

KR
Martin

[2020-10-12 11:53] mankoff commented on #39302
OK that is clearly the source of the problem. Thank you. I'm not using LTS then, but am using the `UbuntuGIS` repository here https://launchpad.net/~ubuntugis/+archive/ubuntu/ubuntugis-unstable?field.series_filter=focal which did provide working versions of QGIS (3.10.9) built against GRASS 7.8.3 and GRASS 7.8.4. Perhaps I need to move this issue to there?

[2020-10-12 11:59] lbartoletti commented on #39117
PyQt5 is 5.15.1 but Qt is 5.14, is it right? AFAIK, PyQt should be <= Qt ver isn't it?

[2020-10-12 11:59] roya0045 commented on #39314
I'm thinking about adding the crs selector to the qgsmapcoordsdialog that default to the project selection. This should help prevent ambiguity in regards to manual inputs.

[2020-10-12 12:00] lbartoletti commented on #39117
What is the version of sip?

[2020-10-12 12:03] roya0045 commented on #37799
I'm just a contributor that try to improve things for my own uses. I'm sure that @gioman  can change the request type and possibly a core dev could be more helpful than me regarding this as I already have a good amount of things that I want to improve and that I will try to do on top of my real work.

[2020-10-12 12:13] gioman commented on #39302
@mankoff there is a qgis.org repo specific to be used if you use also ubuntugis.

[2020-10-12 12:13] #39302 closed

[2020-10-12 12:32] sebastic commented on #39117
Qt is 5.14.2, SIP is 4.19.24.

[2020-10-12 12:35] lbartoletti commented on #37773
+1 with @jgrocha

BTW, the help could indicates that this function returns a 2D point

[2020-10-12 12:36] sebastic commented on #39117
Looks like the recent rebuilt of the qgis package in Debian unstable for grass 7.8.4 no longer has this issue.

Perhaps qgis needs to be rebuilt when PyQt is upgraded to have the SIP bits rebuilt with that version?

[2020-10-12 12:39] mankoff commented on #39302
Yes thank you! In case anyone else finds this, setting up QGIS to use the qgis.org repo, with ubuntu-ltr (https://qgis.org/ubuntu-ltr) provides the latest LTR QGIS combined with the latest GRASS and a working plugin.

[2020-10-12 12:41] captaincoordinates opened #39330 "Associate custom Python functions with a project instead of a user profile"
**Feature description.**

Associate custom Python functions with a project instead of a user profile so that sharing a project automatically shares any custom functionality required for the proper functioning of that project.

**Additional context**

QGIS [documentation](https://docs.qgis.org/testing/en/docs/user_manual/working_with_vector/expression.html) states the following:

This is problemati

[2020-10-12 12:45] andreasneumann commented on #39330
I agree - that would be useful to have. Custom functions are often specific to a certain project (not always, but probably more often than not). Ideally one could choose whether to store custom functions in the profile or the project.

[2020-10-12 12:56] geomenke commented on #22427
It is good to see this request getting some attention!
This is the [link ](https://docs.google.com/document/d/12uNCONsO0EjzAuFud2HlogfdSl-6qm0buGV1wz6yVc8/edit?usp=sharing)to the online document where we were discussing potential use cases.

[2020-10-12 12:56] ar-siddiqui opened #39331 "Can't Copy Columns from Attribute Table in QGIS 3.14"
**Describe the bug**
I want to copy only visible columns from Attribute Table into Excel, this used to work in previous QGIS versions but is not working in 3.14.

**How to Reproduce**

1. Go to 'Attribute Table of any layer'
2. Right-click any column heading and click organize columns, turn off few columns.
3. Now do Ctrl C and paste in Excel, it will not work
4. If you go to canvas and ctrl C the

[2020-10-12 12:58] gioman commented on #39331
@ar-siddiqui 3.10? earlier?

[2020-10-12 12:59] lbartoletti commented on #39117
it makes sense imho

[2020-10-12 13:00] ar-siddiqui commented on #39331
Yes it used to work in 3.10 and earlier

On Mon, Oct 12, 2020, 8:59 AM Giovanni Manghi <notifications@github.com>
wrote:

[2020-10-12 13:10] pathmapper commented on #39330
It would be useful to be able to specify a path other than or additional to the path of the user profile (e.g. a path to a shared network folder) where custom functions would be stored - like it is currently already possible for models and python scripts:

<img src="https://user-images.githubusercontent.com/20856381/95749592-16177680-0c9c-11eb-8d1e-9cef790d8657.png" width="200">

[2020-10-12 13:46] lbartoletti commented on #34729
@JaviBecerra According to the OGC standard, QgsPoint() should returns an Empty Point. Before Qgis 3.10, it returns QgsPoint(0,0) which was a bug.

Sees https://github.com/qgis/QGIS/pull/9645 and (all) PRs/issues related.

BTW, the documentation must be updated.

[2020-10-12 13:49] lbartoletti commented on #34729
![image](https://user-images.githubusercontent.com/7521540/95753873-87f2be80-0ca2-11eb-9806-84f1b3a4812d.png)
It's "fixed"

[2020-10-12 13:49] #34729 closed

[2020-10-12 14:51] roya0045 commented on #39137
Made a draft branch, will need to test.

[2020-10-12 14:56] nicogodet commented on #38849
Any update on this issue ?

[2020-10-12 19:04] roya0045 commented on #39304
I don't think the proposed use case is valid. Who in their right mind would georeference something that wraps around the earth 16 times? I think that failing the execution is perfectly valid in this case.

[2020-10-12 21:37] roya0045 commented on #39318
are they wrong or assigned to the wrong symbol?

[2020-10-13 00:15] mirouml commented on #39318
Definitely wrong. I have tested it now with similar data, and everything looks correct there. So it might be something very specific about these attributes or features. Will do more testing, and provide more feedback later.

[2020-10-13 01:29] johnfix commented on #39158
@gioman and @uclaros I have continued to test. I can use the vertex tool without crashing if I disable snapping first. I can enable snapping AFTER I select the vertex tool and it has completed the indexing.

I will try again with snapping enable, but will keep my mouse OFF the map while the indexes are building. Perhaps it is trying to find snapping candidates while the indexes are being built and

[2020-10-13 02:31] nyalldawson commented on #39330
It's not ideal but you CAN do this in current QGIS versions -- you just move the custom function code into the project's startup macro section

[2020-10-13 05:11] m-kuhn commented on #37821
Options:

1. Nice solution: provide `%MethodCode`, inspect the argument type and call the appropriate method
2. Provide `SIP_PYNAME` for the alternative

[2020-10-13 05:30] lbartoletti commented on #39275
Can not reproduce it (on FreeBSD). Can you open a PR with your patch?

[2020-10-13 06:18] Gustry commented on #28853
#39325 has been merged.

Still not possible to use the constructor, but at least there is a setter for it.

[2020-10-13 06:18] #28853 closed

[2020-10-13 06:31] domlysz opened #39338 "[Processing] Aggregate crash QGIS when trying to set a custom expression for a field"
**Describe the bug**

QGIS crash when the user try to define a custom expression for a field in the aggregate toolbox dialog

**How to Reproduce**

QGIS 3.14 both Windows and Linux

[2020-10-13 07:22] domlysz commented on #39338
oh ok many thanks for the information and sorry for the inconvenience

[2020-10-13 07:25] JaviBecerra commented on #34729
Thanks @lbartoletti!

[2020-10-13 08:15] elpaso commented on #39243
I'm having trouble to reproduce this issue on master, can you try master?

I wrote a test for this issue and I cannot reproduce it, also I don't see any place in the authentication methods code where this url percent encoding could happen, I wonder if it's an artifact from the QGIS Network Logger plugin, are you sure that what you observed in the logger is what gets down into the wire?

This is my

[2020-10-13 08:49] lbartoletti commented on #37821
For me, this is the best solution. But, for now, I don't know how to do it with SIP. If you or @3nids had the time, go ahead.If not, I'll try to see how to do that; hopefully I'll be able to do it before the end of this bugfix (not sure :/).

[2020-10-13 08:54] 3nids commented on #37821
you can have a look for sipCanConvertToType (for instance in QgsPoint constructor).

[2020-10-13 08:58] pathmapper opened #39340 "Dissolve - Add option to keep only dissolve field(s) / no fields"
**Feature description**

Add option to keep only dissolve field(s) / no fields.

Implementation could be an additional checkbox "**Keep only dissolve field(s)**".

- checkbox unchecked (default) -> behaviour like it is now (all fields are kept with values of the first input feature processed)
- checkbox checked -> Only dissolve field(s) are kept, all other fileds are dropped. If there is no dissol

[2020-10-13 09:19] ashad9alif opened #39342 "QGIS Crush Report"
Crash ID: d97456f631def58a7eff35af71a8835671df8824

Stack Trace

QUndoStack::setIndex :
QUndoView::setStack :
QMetaObject::activate :
QItemSelectionModel::setCurrentIndex :
QAbstractItemView::mousePressEvent :
QWidget::event :
QFrame::event :
QAbstractItemView::viewportEvent :
QCoreApplicationPrivate::sendThroughObjectEventFilters :
QApplicationPrivate::notify_helper :
QApplication::notify :
QgsAp

[2020-10-13 09:25] Coakwell commented on #39118
Has this been released as a fix yet

[2020-10-13 09:29] agiudiceandrea commented on #39243
@elpaso, tested with QGIS 3.15.0-Master QGIS code revision 5c8013df61 on Windows 7 64 bit (OSGeoW)
traffic captured using Wireshark

same user=`user` and password=`pa%%word` for WMS, WFS and WCS connections

* WMS
[code]
WMS -> `Authorization: Basic dXNlcjpwYSUyNSUyNXdvcmQ=` -> decoded (base64) -> `user:pa%25%25word`

* WFS
[code]
WFS -> `Authorization: Basic dXNlcjpwYSUld29yZA==` -> decoded (base

[2020-10-13 09:34] agiudiceandrea commented on #39243
@elpaso, tested with QGIS 3.15.0-Master QGIS code revision 5c8013df61 on Windows 7 64 bit (OSGeoW)
traffic captured using Wireshark

same user=`user` and password=`pa%%word` for WMS, WFS and WCS connections

* WMS
[code]
WMS -> `Authorization: Basic dXNlcjpwYSUyNSUyNXdvcmQ=` -> decoded (base64) -> `user:pa%25%25word`

* WFS
[code]
WFS -> `Authorization: Basic dXNlcjpwYSUld29yZA==` -> decoded (base

[2020-10-13 09:37] gioman commented on #39342
@ashad9alif please

1) add all the requested info
2) try with a new QGIS profile

**Describe the bug**

**How to Reproduce**

**QGIS and OS versions**

**Additional context**

[2020-10-13 09:40] elpaso commented on #39243
aahhh, I see: you are NOT using the QGIS authentication manager but the plaintext unencrypted project-level storage for credentials, I'll check that.

[2020-10-13 10:05] pathmapper opened #39345 "Drop field(s) - add option to drop all fields except selected field(s)"
**Feature description**

`Drop field(s)` - add option to drop all fields except selected field(s).

Implementation could be a dropdown for the same input with

- Field(s) to drop (default - to keep compatibility with existing models)
- Field(s) to keep

**Additional context**

This would be especially useful when using `Drop field(s)` in models where one vector field input would be used for severa

[2020-10-13 10:43] uclaros commented on #39118
At the moment it should only exist in the nightlies.
It should be released with 3.16 in a couple of weeks. Not sure if ltr 3.10
is affected.

On Tue, 13 Oct 2020 at 12:25, Coakwell <notifications@github.com> wrote:

[2020-10-13 13:35] root676 commented on #39345
You might comment on this open PR: #39114

It implements your feature request (at least partially).

[2020-10-13 13:57] pathmapper commented on #39345
Thanks for pointing me to the PR @root676, I've searched for related issues only.

Don't know if this issue should remain open until the PR is merged, please feel free to close here.

[2020-10-13 14:57] m-kuhn commented on #33234
Seems to be related to curved layers

[2020-10-13 15:46] m-kuhn commented on #33234
More precisely, if a geometry is of a type that supports curves but does not contain curves.

[2020-10-13 17:41] uclaros opened #39351 "Selected field is not cleared when changing layer on processing algorithms"
**Describe the bug**
When preparing to run a processing algorithm that includes a fields selection widget, like *dissolve* for example, if the user selects a field and then changes the layer, then the field stays selected even if it does not exist on the newly selected layer.

**How to Reproduce**
- Load two polygon layers that have at least one non common field, ie layer1 has fields f1, f2, f3, a

[2020-10-13 17:44] gioman commented on #39062
Closing for lack of feedback.

[2020-10-13 17:44] #39062 closed

[2020-10-13 17:45] gioman commented on #39035
Closing for lack of feedback.

[2020-10-13 17:45] #39035 closed

[2020-10-13 17:45] gioman commented on #38967
Closing for lack of feedback.

[2020-10-13 17:46] gioman commented on #38910
Closing for lack of feedback.

[2020-10-13 17:46] #38910 closed

[2020-10-13 17:48] gioman commented on #38978
@m-kuhn closing?

[2020-10-13 17:49] gioman commented on #38501
Closing for lack of feedback.

[2020-10-13 17:49] #38501 closed

[2020-10-13 17:50] gioman commented on #39077
Closing for lack of feedback.

[2020-10-13 17:50] #39077 closed

[2020-10-13 17:57] m-kuhn commented on #38978
I think so.
If someone still has the issue with an up to date nightly build, let's open a new, clean issue where we can target that one in a focused manner.

[2020-10-13 18:45] #38894 closed

[2020-10-13 19:46] #37989 closed

[2020-10-13 20:22] paalmiso commented on #14070
I've just spent debugging this problem whole day until I've found this open issue. Is there any data I can offer to help diagnose this problem?

[2020-10-14 02:01] Ren-Chang opened #39358 "Incomplete OSM XML import"
**Describe the bug**

Larger OpenStreetMap XML data file (for my case, it was ~100MB and contained streets and referred nodes from Overpass Turbo) cannot be loaded completely. Only part of the streets were shown, plus most of the features were not shown in attribute table (only showing 99 rows). Exporting the layer yielded only those ways with largest ~10k IDs.

**How to Reproduce**

1. Go to 'Lay

[2020-10-14 03:47] #38849 closed

[2020-10-14 05:26] MrChebur opened #39361 "Add the ability to open a project file from its shortcut (*.lnk)."
**Feature description.**
Currently, you cannot drag and drop project file shortcuts (*.lnk) into the QGIS window. Adding this capability will eliminate the need to search for the location of the original project file.

Windows 10 behavior:

![mEVcYfyxZ0](https://user-images.githubusercontent.com/20655102/95947007-2861f380-0e07-11eb-85ab-a385939db0b2.gif)

[2020-10-14 05:49] #39243 closed

[2020-10-14 07:29] jjk0giap commented on #38978
I can confirm refresh problem after adding is resolved, but "AddLayer" window is still unresponsible for some time after click "Add" button. Compared to 2.18 where add is almost insant. Drag&drop vector files - OK

[2020-10-14 08:51] #33234 closed

[2020-10-14 08:52] m-kuhn commented on #38978
@jjk0giap thanks for the feedback. Can you open a new issue with a description of this problem, steps to reproduce, sample project if applicable...

[2020-10-14 09:11] jjk0giap commented on #38978
This is main subject of this issue, could be re-open. Backport of current solutions to LTR is possible?

[2020-10-14 09:25] gioman commented on #39358
I get nothing when loading this datasource in QGIS 3.10/3.14 on both Windows and Linux.

[2020-10-14 10:01] Ren-Chang commented on #39358
Yes, it seems like you got nothing, but the incomplete features are actually there if you zoom to areas around Beijing (116.4, 39.9). The empty view may be related to the empty extent and unknown feature count as shown in the layer properties, which prevented QGIS from zooming to the proper extent.

[2020-10-14 10:44] rouault commented on #39358
Using directly a large OSM XML file is impractical for performance reasons and the underlying OGR OSM driver has limitations (https://gdal.org/drivers/vector/osm.html#interleaved-reading) when using directly such files in the way a traditional driver is used by QGIS. Typically you can't get more than 100 000 features from each layer.
The most reasonable option is to use the ogr2ogr tool, which wil

[2020-10-14 12:51] nndick opened #39365 "Processing Toolbar Bug: QGIS 3.14.16-Pi; QGIS code revision: df27394552"
Hello

I receive "general" error messages after the Processing Toolbar crashes. Whenever I reload QGIS, it has me enable the plugin. It has an issue my codeblock that includes "QgsProcessingFeatureSource(" and reports a "NameError: name 'QgsProcessingFeatureSource' is not defined".

I re-installed QGIS 3.14.16 and continue to get the errors:

**General window:**
2020-10-14T08:45:38     INFO    App

[2020-10-14 13:06] 3nids opened #39366 "Freeze when using aggregate in a virtual field"
Using a layer with 1 feature, the following expression: `aggregate('test','sum',"HECTARES","TYPE"=attribute(@parent,'TYPE'))``

using this as a label causes no issue
using it in virtual field leads to a freeze (see at the end the stack trace)

example project and data:
[issue-aggregate-virtual.zip](https://github.com/qgis/QGIS/files/5378323/issue-aggregate-virtual.zip)
see the expression used in l

[2020-10-14 14:53] baswein commented on #32101
A couple of mockups of language change based on this [twitter thread](https://twitter.com/Geo__Don/status/1316129706962550786?s=20). Both of these seem like simple fixes to me (non-coder) is  the long one better than the short one? .
![image](https://user-images.githubusercontent.com/15817745/96004594-98717900-0e09-11eb-91ad-716a7122702f.png)
![image](https://user-images.githubusercontent.com/1581