[2021-03-28 08:53] gioman commented on #42525
@Hinlavic like "merge vector layer" in the Processing toolbox?

[2021-03-28 09:10] gioman commented on #42400
@nyalldawson yes.

[2021-03-28 09:10] #42400 closed

[2021-03-28 16:31] jgrocha commented on #42525
This is already supported. You can export as many layers as you want to the same kml file. You have to export one by one to the same kml file.

If you want to export many layers to kml at once, you can develop a simple processing algorithm based on the existent 'Package layers' tool, for example. That would solve your use case.

It could be your contribution to the project. Are you able to accept

[2021-03-28 18:20] berniejconnors commented on #42462
@kelvinjenkins I suggest you speak to the agency that is publishing the map services that you are consuming.  It is very bad practice for the layer numbers to change in a map service and it can be prevented:

Bernie.

[2021-03-28 19:02] berniejconnors opened #42535 "ArcGIS REST Servers - Connection failed: Parsing error"
**Describe the bug**
In QGIS 3.18.1 I cannot connect to ArcGIS Server REST services (also tested in QGIS 3.16.5 with the same results).  I have tried several different servers including:

- https://geonb.snb.ca/arcgis/rest/services
- https://geoappext.nrcan.gc.ca/arcgis/rest/services
- http://sampleserver1.arcgisonline.com/ArcGIS/rest/services

The following messages were displayed in the Log:

An

[2021-03-28 23:03] nyalldawson commented on #42535
These all work fine for me. Can you test another workstation on a different internet connection to verify that it's not a local networking/firewall/proxy issue?

[2021-03-28 23:05] nyalldawson commented on #34075
@ShieldsUpRedAlert can you share a sample project? I can't reproduce.

[2021-03-28 23:06] nyalldawson commented on #42324
@nirvn can you take a look at the supplied icons?

[2021-03-28 23:07] francismmiranda commented on #42510
Hi, jgrocha.

Its not related to #42505.

Actually, ArcMap has introduced this procedure of past columns i've mentioned. Works like following:

1 - Create a field (column) in the attribute table;
2 - Enable editing mode;
3 - Copy a column of data in a spreadsheet (excel, for example);
4 - Back to GIS, click on head of the new column in the attribute table (or even already existed);
5 - Past copied

[2021-03-29 02:29] nirvn commented on #42324
@jmonticolo , looked at the icons, few comments:
- The icon would need improvements on outline widths. First, you should stick to round numbers (1 and 2)
- The arrow line is larger than its head, that should be harmonized
- I think I would remove the visual reference to the "cock", i.e. the middle part, and stick to the arrow alone (like GIMP does)

We'd also need an "automatic" icon, which could

[2021-03-29 04:59] ShieldsUpRedAlert commented on #34075
@nyalldawson here is a sample project and a pdf export. The layer "polygon" is set to render as raster as above and "Force render as vectors" is not selected in the layout export settings.
[Sample.zip](https://github.com/qgis/QGIS/files/6219267/Sample.zip)

[2021-03-29 05:31] Matesanz commented on #38329
That fixed my issue.
to those wondering what @florisvdh means by using ubuntugis:

:stop_sign:  instead of

[code]

:heavy_check_mark: use:

[code]

[2021-03-29 09:11] mbernasocchi commented on #32247
FWIW, Sophos also complains about NirCmd

[2021-03-29 09:30] gioman commented on #42535
They work fine here too.

![Screenshot_20210329_102948](https://user-images.githubusercontent.com/1951107/112816823-b65e2d80-9079-11eb-8103-93aacfa679f6.png)

[2021-03-29 09:31] gioman commented on #42510
@francismmiranda interesting feature, maybe your organization could consider supporting (code, hire a developer) its development.

[2021-03-29 09:31] benjaminh opened #42545 "InputID field in distance matrix output behaves as string while displayed as integer if used as temporary layer"
**Describe the bug**
When using distance matrix algorithm with an integer field as input ID, one can't make a join between the created InputID in the Distance matrix algorithm output and the input layer. Indeed, the InputID field is displayed as integer in layer properties, but it behaves as a string.

**How to Reproduce**

1. Create two layers A and B with an ID field of integer type for each lay

[2021-03-29 09:57] DelazJ commented on #42545
@benjaminh Can you try with a more recent QGIS version? 3.10.8 is a bit old, and unmaintained.

[2021-03-29 10:47] jef-n commented on #32247
FWIW, osgeo4w testing doesn't have nircmd

[2021-03-29 12:43] Saijin-Naib commented on #32247
Sophos hasn't removed anything from the new OSGeo4W-NG installs, so that's been pleasant

[2021-03-29 13:19] uclaros commented on #25551
Don't stale/close this, it is still the case in 3.18.
This is caused by the fact that instead of directly manipulating the camera's position and rotations, those values are computed based on the center of the scene instead, leading to various rounding errors like this, especially when zoomed out.
The 3d api needs a rework to allow direct camera translation and rotation which is hopefully in the co

[2021-03-29 14:01] strk opened #42551 "Tables with TopoGeometry columns are shown twice in `Add PostGIS Layer`"
When a table has a TopoGeometry column, the `Add PostGIS Layer` dialog shows it twice,
one time the column is reported as having type `TopoGeometry` (correct) and the second time the column is reported as having type `Geometry` (bogus). I've verified that the layer adds correctly when picking the `TopoGeometry` typed one, did not try what happens if you pick the `Geometry` typed one.

This is happ

[2021-03-29 14:14] raphaeljolivet opened #42552 "Import of NetCDF fails upon order of variables"
Qgis version : 3.18.0-Zürich

I struggled to import a NetCDF file as a **mesh layer**.
I found that Qgis has strange and undocumented requirements for it.

The file in question :
- Is fully compliant with [CF conventions ](http://cfconventions.org/) (checked with [CF-checker](https://github.com/cedadev/cf-checker))
- Has one time dimension
- Has bidimensional lat, lon variables
- Has CRS / project

[2021-03-29 14:20] roya0045 commented on #42552
@PeterPetrik Would you know if such issues are related to MDAL or QGIS-specific?

[2021-03-29 14:29] PeterPetrik commented on #42552
Hi, this is definitely MDAL issue please let discuss there.

[2021-03-29 14:29] francismmiranda commented on #42510
Hi, gioman.

How can I have a idea of how much costs hire a developer to implement it? Could you indicate one? I can try raise funds. If theres an expert reading it, please coment.

[2021-03-29 15:17] gioman commented on #42510
@francismmiranda Viva, we don't usually suggest a specific developer or company, but rather point to this page https://qgis.org/en/site/forusers/commercial_support.html then it is up to the interested party to make contacts. Cumprimentos.

[2021-03-29 15:33] nilsnolde opened #42554 "QgsNetworkAccessManager.finished signal does not emit"
**Describe the bug**

I wanted to add a regression test for #42553 to [testqgsnetworkaccessmanager.cpp](https://github.com/QGIS/QGIS/blob/master/tests/src/core/testqgsnetworkaccessmanager.cpp) and discovered that most of its tests are failing.

There's smth going wrong with the `finished` signal of `QgsNetworkAccessManager`, e.g. in this block the `reply` has no request URL set and it's `error()`

[2021-03-29 15:58] Hinlavic commented on #42525
I would like to, but I am not familiar with coding.

[2021-03-29 16:06] Hinlavic commented on #42525
No, I mean the similar function like the "Package Layers" tool that the QGIS already have; However, it only support package into GeoPackage.

[2021-03-29 17:03] benjaminh commented on #42545
@DelazJ Oh right, when I started QGIS, the banner of 3.10 kept displaying "LTR" so I didn't notice there was a new LTR version.
Yet, I just upgraded to 3.16 (see version and OS table below), and the issue still occurs

QGIS version | 3.16.5-Hannover | QGIS code revision | 58ba7c1ed6
-- | -- | -- | --
Compiled against Qt | 5.9.5 | Running against Qt | 5.9.5
Compiled against GDAL/OGR | 2.2.3 | Runni

[2021-03-29 17:44] gioman commented on #42525
@Hinlavic I think you are making some confusion: KML is not a multi layered datasource (as far as I know, but I may be wrong), so the "package layers" tool won't help you (as its objective is to put several separated layers into one single GPKG). On the other hand if you want to merge multiple layers into a single KML file/layer then "merge vector layer" works ok.

[2021-03-29 18:58] jgrocha commented on #42525
@gioman KML is multi layer. It is supported by QGIS. You can export as many layers as you want to the same KML file. All layers (and styles) will be included in the same KML file.

This feature request makes sense. We can improve the "Package layers" tool to select the target provider type, for all providers supporting multi layers, like Geopackage, PostgreSQL, KML, etc.

[2021-03-29 19:17] #42442 closed

[2021-03-29 19:44] esnyder-rve opened #42557 ""Ignore invalid input features" processing setting location is misleading"
**Describe the bug**
This is not really a bug, but not really a feature request either. It's more or less a quality of life improvement.

I was trying to clip FEMA flood areas to an area of interest, and there's self-intersecting polygons causing **native:clip** to fail with `CRITICAL    Feature (343) from “FEMA Flood Zones” has invalid geometry. Please fix the geometry or change the Processing se

[2021-03-29 23:12] strk commented on #42551
Current release-3-16 branch is also affected (as of commit 3066a747c17a3e18962ff6f32ee8e88afd83cc5b)

[2021-03-29 23:18] strk commented on #42551
If I configure the connection to "Only show layers in the layer registries" then I only see the entry with type "Geometry".

[2021-03-29 23:18] nyalldawson commented on #42554
@nilsnolde

The httpbin service kept going down, so the test would randomly fail for unrelated PRs. And now it looks like the service has changed how it operates which is preventing the existing tests from passing... argh!

The original idea was to run the httpbin service on the CI itself, so that we wouldn't be dependant on the external service. But I never got the chance to set that up....

[2021-03-30 00:36] ngodber opened #42567 "Automatically update Spatial Index if layer is edited"
**Feature description.**
When a layer that already has a spatial index created is edited the spatial index should automatically be recreated.

**Additional context**
Currently, there is a non-obvious issue when the spatial index no longer matches (ie after the layer has been edited) the layer where points will disappear/reappear depending on zoom level. New points that have been copied to the laye

[2021-03-30 03:09] berniejconnors commented on #42535
Thanks for the feedback @nyalldawson and @gioman.  I'll try to install QGIS on another computer and re-test this issue.

[2021-03-30 04:34] grantboxer opened #42568 "QGIS 3.18 Crash"
QGIS crashes on opening the layer properties for a temporary layer. Same problem does not appear to happen with 3.16.

## User Feedback

Crashes on opening Layer Properties.

## Report Details

**Crash ID**: [b0f4fb2661d5cc6c00b8a904bcdf30bdae3d9d27](https://github.com/qgis/QGIS/search?q=b0f4fb2661d5cc6c00b8a904bcdf30bdae3d9d27&type=Issues)

**Stack Trace**
<pre>
QObject::parent :
QLayout::addChil

[2021-03-30 04:40] Gustry commented on #42568
@grantboxer, please have a look to comment we made to you, you reported the same crash report a few days ago already #42463

Same Crash ID if you click on it https://github.com/qgis/QGIS/search?q=b0f4fb2661d5cc6c00b8a904bcdf30bdae3d9d27&type=Issues

[2021-03-30 04:40] #42568 closed

[2021-03-30 06:08] inedecubber commented on #32247
i just had the same remark from Sophos, about nircmdc.exe...
three minutes later, I received a message that the threads were cleaned up... and now Qgis won't start up anymore.
I get a message that the qgis-ltr-bin.exe can't be found anymore.
I see in the program files that a lot of folders and files were changed.
how can I fix this?
AV = sophos
Qgis=3.16 (64b)
OS=windows 10 business

[2021-03-30 06:48] nilsnolde commented on #42554
I think it’s buggy rather than a httpbin change (in the context of the issue).

@nyalldawson I can look into standing up httpbin on GH actions for one of my projects and PR the step. If you have a clue what’s going wrong on the finished signal we might get those tests working again too.

[2021-03-30 06:59] adrianbrosz commented on #41788
The issue persists when using new profile without any plugins.

Steps to reproduce:
1) Add new text layer from txt file
2) Choose style for this layer
3) Use snapping:
![obraz](https://user-images.githubusercontent.com/29169682/112946615-0ac6e300-9136-11eb-869f-d467a2be58eb.png)
4) Insert new line objects
5) Cut existing line objects at connection points with new objects
![obraz](https://user-imag

[2021-03-30 07:01] adrianbrosz commented on #41788
QGis 3.10, Windows 10 20H2

[2021-03-30 08:11] DelazJ commented on #42557
@esnyder-rve If you want to give it a try, here's afaict the place where the sentence(s) need to be fixed
https://github.com/qgis/QGIS/blob/master/src/core/processing/qgsprocessingcontext.cpp#L86

[2021-03-30 08:25] nyalldawson commented on #42554
@nilsnolde  that would be fantastic! Even if you can just get some of tests working on the CI it would be a big step forward...

[2021-03-30 09:22] DelazJ opened #42570 "Bad rendering of the ProcessingAlgFactory input/output definition lists in the pyqgis documentation"
Better format the list below and the one after in the source file https://github.com/qgis/QGIS/blob/2d1aa68f0d044f2aced7ebeca8d2fa6b754ac970/python/processing/algfactory.py#L392-L408
to avoid an unreadable list like [this one](https://qgis.org/pyqgis/master/processing/ProcessingAlgFactory.html#qgis.processing.ProcessingAlgFactory.output)

![image](https://user-images.githubusercontent.com/7983394/

[2021-03-30 09:23] sokolic opened #42571 "Spelling mistake in Geometry Checker"
**Describe the bug**

There is a small typo in the **Check Geometries** dialog box. The string "_Multipart objects must consist of more **that** one part_" should read "_Multipart objects must consist of more **than** one part_".

**QGIS and OS versions**

QGIS version | 3.19.0-Master | QGIS code revision | cb24fe48e1
-- | -- | -- | --
Compiled against Qt | 5.14.2 | Running against Qt | 5.14.2
Com

[2021-03-30 09:30] gioman commented on #41788
@adrianbrosz please attach a sample project + data.

[2021-03-30 09:32] gioman commented on #42525
Sorry my bad, I wasn't able to create a multilayer KMl with ogr2ogr so I assumed it was not a thing.

[2021-03-30 10:38] adrianbrosz commented on #41788
OK, but the database is over 1GB - provide a link to GDrive?

[2021-03-30 10:54] pkparchure opened #42573 "Processing Plugin Error"
IMPORTANT:

If the issue concerns a third party plugin (downloaded with the plugin manager) then it can't be fixed by the QGIS team.
Please raise your issue in the dedicated bug tracker for that specific plugin (as listed in the plugin's description)

Tickets created here will be closed.

[2021-03-30 10:59] pkparchure commented on #42573
I have Qgis instilled on my windows 10 system. The Processing Plugin of QGIS  started giving trouble after I installed Thonny IDE along with python 37. The error was.

"Couldn't load plugin 'processing' due to an error when calling its classFactory() method
OSError: [WinError 193] %1 is not a valid Win32 application."

Since I had recently installed Thonny and installed several packages, I started

[2021-03-30 10:59] #42573 closed

[2021-03-30 11:00] gioman commented on #42573
@pkparchure you musy ask in the users or developers mailing lists?

[2021-03-30 11:01] gioman commented on #41788
is ok, but may you want to try find is the same problem is replicable also on a smaller datataset.

[2021-03-30 11:24] pkparchure commented on #42573
OK Thanks.

[2021-03-30 11:56] roya0045 commented on #42557
I recall that his option was also exposed in the algorithm dialog, or some of them.

[2021-03-30 12:18] Saijin-Naib commented on #32247
The OSGeo4W-NG install no longer uses nircmd, it uses bgspawn, which Sophos no longer removes.

[2021-03-30 12:28] Virvis commented on #42439
Comment one mone thing.
If someone opens project with wrong authid, person is asked to fill credentials (username + password) without possibility to save these credentials.
If person fills these, he will be able to connect db and get the layers.
Still he got banned due to also connected with "user_account_name".

[2021-03-30 13:18] pnrthomp opened #42574 "3.18.1-1 MSI installer and start menu shortcuts"
Hello,

When I performed a silent installation with the .MSI file, the installer had left out the start menu icons for a few executables, but had added Grass GIS 7.8.5 and OsGEo4W Shell.

Any assistance is appreciated.

Thanks,

Paul T.

[2021-03-30 13:43] berniejconnors commented on #42535
I installed QGIS on my personal laptop and the ArcGIS Map Service connection worked perfectly and it was fast.  I tried again on my work laptop and I discovered the ArcGIS Map Service connection will only work while my VPN connection is active.

[2021-03-30 13:43] #42535 closed

[2021-03-30 13:55] dr1542 opened #42575 "Project DXF export does not allow to use attribute as DXF layer name"
This error began from version 3.18.0
In project DXF export dialog the drop down list of attributes for exported layers is frozen

QGIS version | 3.18.1-Zürich | QGIS code revision | 202f1bf7e5
-- | -- | -- | --
Compiled against Qt | 5.11.2 | Running against Qt | 5.11.2
Compiled against GDAL/OGR | 3.1.4 | Running against GDAL/OGR | 3.1.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against G

[2021-03-30 14:11] ItaloCunhaBueno opened #42576 "New Script From Template Error"
When clicking 'Create script from template' from processing tools window, the following error is presented:

[code]

[2021-03-30 14:14] #42576 closed

[2021-03-30 14:14] ItaloCunhaBueno commented on #42576
Closed, I realized the problem was caused by faulty plugin.

[2021-03-30 14:43] agiudiceandrea opened #42577 "QGIS 3.16.5 LTR do advertise to install QGIS 3.18.1 while it should not"
**Describe the bug**

At the bottom of the main panel of QGIS 3.16.5 LTR incorrectly appears the following line:
`New QGIS version available: Visit https://download.qgis.org to get your copy of version 3.18.1`

Moreover, using the "Check QGIS Version" command from the About menu the following incorrect info are displayed:

[code]

These info should be displayed only using a non LTR version of QGIS

[2021-03-30 14:55] agiudiceandrea opened #42578 "QGIS crashes adding a record to a memory ("scratch") layer table in some circumstances"
**Describe the bug**

Adding a record to a memory ("scratch") layer table in some circumstances makes QGIS crash.

**How to Reproduce**

1. create a "New Temporary Scratch Layer" (e.g. Geometry type: No Geometry) with 2 fields named `test1` and `test2` of type Text  and Length 10
2. open the Attribute Table
3. click on the "Add feature" icon
4. click on an empty part of the Attribute Table
5. clic

[2021-03-30 15:34] rduivenvoorde opened #42579 "Crash master/3.18 on Report/Add Item/Add Dynamic Text"
To reproduce:
- start QGIS in a fresh profile (no plugins nothing)
- without loading a data or project
- choose Project/New Report, hit enter when asked fro unique report title
- without adding/doing anything, choose menu 'Add Item', in which with me only(!) 'Add Dynamic Text' is enabled, and then 'Add Dynamic Text'
- immediate crash

Anybody can reproduce?
With me both Master and 3.18 have the  '

[2021-03-30 16:31] marcp1999 opened #42580 "More info when "Ballpark Transformation" warning is thrown"
I have numerous projects that display the dreaded "Ballpark transform" warning upon opening.  Unfortunately they contain over 50 layers, so determining which layers are causing the problem is painful. My suggestion is simply to include the layer name in the message log.

For example this:
`2021-03-30T10:28:03     WARNING    Used a ballpark transform from EPSG:4326 to EPSG:26913`
would be logged as

[2021-03-30 20:32] ATL-Flaneur commented on #42402
QGIS is also crashing for me when I open a 3D view.

I load a project with a GeoTIFF that has elevation info and do "View" -> "New 3D Map View". The 3D view window briefly appears, then QGIS crashes before anything renders in it.

I'm running 3.19.0-Master from https://qgis.org/ubuntugis-nightly on Ubuntu 20.04.

[2021-03-30 20:43] ATL-Flaneur commented on #42402
Stack trace:

[code]

[2021-03-30 23:00] #42325 closed

[2021-03-31 01:47] tombrennan06 commented on #41719
I've had the same problem using GRASS (grass:) and WhiteBox Tools (wbt:) processing algorithms via PyQGIS (Windows 10, QGIS 3.12). If the 'output' parameter is set to 'TEMPORARY_OUTPUT', the output variable does not get set to a file path. It is set instead to the string 'TEMPORARY_OUTPUT'

eg a GRASS algorithm
` >>> resultThin = processing.run("grass7:r.thin",{ 'GRASS_RASTER_FORMAT_META' : '', 'G

[2021-03-31 06:46] dr1542 commented on #42575
@gioman yes, it is in "Project->Import/Export->Export Project to DXF..."

[2021-03-31 07:27] agiudiceandrea commented on #42575
I can confirm the issue on Windows with QGIS 3.18.1, while the issue doesn't occur with QGIS 3.16.5.

[2021-03-31 07:42] gioman commented on #42402
@ATL-Flaneur  can you attach/link the data?

[2021-03-31 07:47] andremano opened #42593 "Processing tool to extract a numeric value from a table"
**Feature description.**
Apparently there is no straightforward way to extract a value from a table and use it as input/parameter in another tool in the context of a **Processing** model. This would be very useful and would add more flexibility to the modeler. I can imagine for example extracting values from demographic data tables and use them as treshold/parameter of subsequent tools or using it

[2021-03-31 09:50] LucySaluki opened #42595 "Avoid Overlap not working in certain instance of Reshape feature 3.16.5 and 3.10.11"
Avoid Overlap is not working as I am expecting in certain circumstance when I use reshape feature.  I have three polygons (capture 1) and wish to reshape the blue one.  If I reshape it but do not touch the other neighbouring polygon (capture 2 and 3) the it all works as expected.  If however I snap to another neighbouring polygon (green) then the avoid overlap doesnt work (capture 4 and 5). As I h

[2021-03-31 10:04] lbartoletti commented on #42595
Should be fixed in https://github.com/qgis/QGIS/pull/41658

[2021-03-31 10:39] MrChebur opened #42596 "The same image added to the "Layers" table becomes either a collapsed layer or an expanded layer."
**Describe the bug**
The same image added to the "Layers" table becomes either a collapsed layer or an expanded layer.
The odd numbers are collapsed and the even numbers are expanded.

**How to Reproduce**

1. Add any images to the project.

**Expected result: all raster layers must be collapsed (not expanded).**

![FYMYoM5zJw](https://user-images.githubusercontent.com/20655102/113131627-e272dd80-

[2021-03-31 11:53] agiudiceandrea commented on #42557
@roya0045 it is an Advanced option available in the processing tools that use vector layer as input

![image](https://user-images.githubusercontent.com/16253859/113139817-e3e8d980-9227-11eb-8372-b8036ec7a24b.png)

![image](https://user-images.githubusercontent.com/16253859/113139704-c1ef5700-9227-11eb-914f-bb1d7b842f93.png)

[2021-03-31 12:08] roya0045 commented on #42557
@agiudiceandrea Yes this is what I had in mind, the version I had on hand was too old to have that, so I couldn't' validate if it was only for the feature input or on layer input too. Thanks for the screenshot.

[2021-03-31 12:30] esnyder-rve commented on #42557
@agiudiceandrea I never knew that was there. So, how about this:

`CRITICAL Feature (n) from layer “fooBar” has invalid geometry. Please fix the geometry or change the "Invalid feature filtering" advanced option for this input layer (the wrench icon in processing parameters), or the global setting found in Settings -> Options -> Processing -> General.`

Is this too verbose? I would like the error

[2021-03-31 12:55] ATL-Flaneur commented on #42402
Data attached. I'm not sure how nc.qgz stores paths and whether the project will open as it's saved on my system. All the files are in the same directory. I have pdal_output.tiff set as the display layer with a color ramp for band 3, mean. I do "View" -> "New 3D Map View" and QGIS crashes.

[nc.zip](https://github.com/qgis/QGIS/files/6236633/nc.zip)

[2021-03-31 13:12] dr1542 commented on #42575
@agiudiceandrea

sorry. i can't check it now. When i trying open this dialog qgsi3.18.0 crashes.

[2021-03-31 13:13] nirvn commented on #29794
The order by expression algorithm works fine, it's the attribute table that doesn't respect default dataset/provider ordering.

[2021-03-31 13:27] agiudiceandrea commented on #42575
Indeed, with QGIS 3.18.0 opening the Project to DXF export dialog make QGIS crash.

It seems the crash in QGIS 3.18.0 was a side effect of https://github.com/qgis/QGIS/pull/39577 (see https://github.com/qgis/QGIS/pull/41900#issue-581360624)

The Project to DXF dialog crashing issue was then fixed in 3.18.1 with https://github.com/qgis/QGIS/pull/41918 (https://github.com/qgis/QGIS/pull/41925) by @e

[2021-03-31 14:00] uclaros commented on #42595
@lbartoletti

No, it should not, this is about the reshape tool, not the vertex tool.

@LucySaluki What you experience here has nothing to do with *Avoid overlaps*, you may disable it as well. The *Reshape tool* tries to reshape all the features intersecting your digitized line, so in your first case both the red and blue polygons get reshaped.
On your second case though, the resulting geometry fr

[2021-03-31 14:39] nicogodet commented on #42579
Same on Win10 OsGeo4w Testing

<details>
  <summary>Report Details</summary>

[code]

</details>

[2021-03-31 14:45] Jakob-Lanstorp commented on #30457
This problem, a table name starting with a number, used in a virtual layer query, also exists in QGIS 3.18.1

[2021-03-31 17:55] samuelVJrobinson commented on #35649
I encountered this problem because I use both QGIS and the `sf` library in R, both of which require `libproj-dev`. This occurred because I was using the ubuntugis-unstable PPA for the `sf` packages, and got libproj.so.19 from the unstable PPA and libproj.so.15 from the stable QGIS releases.

I fixed this problem by dropping the ubuntugis-unstable PPA, re-installing stable `sf` packages (see [here]

[2021-03-31 18:26] ThomasG77 commented on #30327
You may use the recipe using pyscreenshot https://gis.stackexchange.com/a/392667/638 to do what you want. Native solution with Python would be better but at least not stuck.

[2021-03-31 19:53] kannes commented on #42567
I've seen this issue being mentioned quite a few times by random people on the internet(tm).

[2021-03-31 19:57] nyalldawson commented on #42567
This should already be done by the underlying backend (ie ogr, postgres, etc). Can you describe a situation where it's not working correctly?

[2021-03-31 21:56] fabiomalf commented on #42526
Hello, thanks for the answer.
I was checking for possible solutions.
I reinstalled Qgis ver 3.18.1 using the Osgeo network installer and still 3D windows crash. But I had a stand alone 3.16 installed version. So I uninstalled the 3.16 and I added 3.16.5 version with  Osgeo network installer and Reproyected all layers from EPSG:3003 (geographic CRS ) to EPSG:32632 (projected CRS)  cleaned the proje

[2021-03-31 23:30] #42571 closed

[2021-03-31 23:34] #26936 closed

[2021-03-31 23:34] #33353 closed

[2021-03-31 23:34] #39698 closed

[2021-03-31 23:37] #41294 closed

[2021-04-01 01:18] ngodber commented on #42567
Hi Nyall,

So I did some additional testing to see if I could trigger the behavior explicitly. So it appears the issue arises when I _add_ features, not delete them. The spatial index seems to automatically be updated when features are deleted, but not when they are added.

So to reproduce I created a new layer in QGIS and randomly added some points. I think ran 'create spatial index'. I then adde

[2021-04-01 01:19] ngodber commented on #42567
FWIW, this has been something I've run across intermittently for years and indeed figured out I needed to update the spatial index from a forum post somewhere on the webs.

[2021-04-01 01:29] nyalldawson commented on #42567
@ngodber what underlying data type are you using here? Is it a shp/gpkg/postgres db?

Do you ONLY see this issue if you run the "create spatial index" tool mid-way through an edit session?

Hey down there... and thanks for ruining our Easter! :rofl: :mask: (joking!)

[2021-04-01 01:42] ngodber commented on #42567
The underlying data class is a shp. Ah sorry, just clarifying, I closed the edit session before creating the spatial index. Just for completeness, I tested 'create spatial index' from layer > properties, and via the toolbox (though I imagine they are probably the same) and the behavior popped up for both. So create spatial index > start editing session > add points > end editing session/save > app

[2021-04-01 01:47] ngodber commented on #42567
Also lockdown is over in 13 minutes, so you are welcome xD

[2021-04-01 02:09] erzhanhongxingjiao opened #42606 "Is it necessary to build 3D modules to use the QGIS Console"
Hello, I built QGIS from source without WITH_3D checked, and then when I ran the Python console in QGIS Desktop Edition, there was an error where I couldn't find the 'QGIS._3d' module.
Do I have to build a 3D module to use the console
QGSI Version：3.16.3
![捕获](https://user-images.githubusercontent.com/30744116/113233668-56ae8f00-92d2-11eb-831b-a7380a0774da.PNG)

[2021-04-01 11:09] gioman commented on #42595
@uclaros so better chamge the title to something along the lines of "missing warning message in reshape tool"?

[2021-04-01 11:23] jfoucher opened #42611 "Downgrade to QGIS 3.10"
**Describe the bug**

QGIS-server 3.10 is not available on the ubuntu-ltr channel making it impossible to downgrade qgis-server

**How to Reproduce**

Install qgis-server 3.16 on Ubuntu 18.04 from https://qgis.org/ubuntu-ltr
Realize one plugin does not work with this version
try to downgrade by running apt-remove qgis-server && apt install qgis-server3.10
no 3.10 version is available

1. Go to '..

[2021-04-01 11:24] agiudiceandrea commented on #42606
For more details and workaround see my previous report https://github.com/qgis/QGIS/issues/41855

[2021-04-01 11:26] gioman commented on #42611
@jfoucher why this is a bug? it is normal that on the Ubuntu repos a EOL version stops to be available. The new LTR is 3.16.

[2021-04-01 11:27] gioman commented on #42606
@agiudiceandrea so this a duplicate, correct?

[2021-04-01 11:38] gioman commented on #42578
Cannot replicate on 3.18.1 on Ubuntu 20.04.

[2021-04-01 11:39] tombrennan06 opened #42612 "Crash accessing QgsMultiLineString object using PyQGIS"
This may be the same issue as #41612, but I've distilled it to a very simple use case, so hopefully it is easier to trace.

In PyQGIS, I am trying to load and then do subsequent operations on a MultiLineString geometry. When I try to access the geometry, QGIS crashes reliably.

I've attached a Geopackage with just about the simplest MultiLineString possible ((0 0, 1 1)), and the following Python s

[2021-04-01 11:40] gioman commented on #42612
@tombrennan06 3.12 is EOL and unsupported, you must try on the latest 3.16 or 3.18

[2021-04-01 11:44] agiudiceandrea commented on #42606
@gioman I think so. I spotted the issue in 3.19-master MingW build, but it supposedly occurs with any build of QGIS >= 3.14.0 compiled without 3d support: this seems due to the import of the 3d python library by default in the console (https://github.com/qgis/QGIS/commit/601a71717407af3a1f6a544c65a9244074824662).

[2021-04-01 11:45] #42606 closed

[2021-04-01 11:46] jfoucher commented on #42611
Sorry, you're right it's not really a bug but neither is it a feature request and I only had those two options. However I still think old versions should be easily accessible, and especially for longer than a few months after the next LTR release...
Anyway would you happen to know where I could get a .deb of qgis-server 3.10?

[2021-04-01 11:48] gioman commented on #42611
@jfoucher make sense, but please raise the matter in the developers mailing list. In the meantime I change this to feature request.

[2021-04-01 11:54] agiudiceandrea commented on #42578
Did you follow the very same steps?

I can confirm also with QGIS 3.18.1 OSGeo4W

QGIS version
3.18.1-Zürich
QGIS code revision
202f1bf7e5
Compiled against Qt
5.11.2
Running against Qt
5.11.2
OS Version
Windows 7 SP 1 (6.1)
Active python plugins
db_manager;
MetaSearch;
processing

and with QGIS 3.18.1 OSGeo4W testing

QGIS version
3.18.1-Zürich
QGIS code revision
202f1bf7e5
Compiled against Qt
5.1

[2021-04-01 12:19] aroche opened #42615 "Freeze when opening WFS attribute table from HTTPS server with SSL exception"
**Describe the bug**
When opening the attribute table of a WFS layer, nothing happens and QGIS freezes, with no other possibility than having to kill the program.

It seems to happen when the server is SSL secured (HTTPS) but the certificate is not recognized and an exception is defined.

It happens only when  "Only request features overlapping the view extent" is checked when adding the layer.

I

[2021-04-01 12:38] gioman commented on #42578
@agiudiceandrea yes, identical steps.

[2021-04-01 12:44] gioman commented on #42615
@aroche at least could share details like what server is being used, the type of data, the size of data, etc...

[2021-04-01 12:52] Jean-Roc commented on #41828
@wonder-sk this dataset is now available over [https](https://webimaging.lillemetropole.fr/externe/lidar/2020_scot/ept/) with the original ept.json and the updated ept_stats.json

[2021-04-01 13:56] gioman commented on #42402
@ATL-Flaneur no crash here on 3.18.1 on Ubuntu 20.04

[2021-04-01 14:01] ATL-Flaneur commented on #42402
Running ```sudo apt update && sudo apt upgrade -y``` this morning pulled a new QGIS 3.19.0-master package. Code revision is https://github.com/qgis/QGIS/commit/348bf863ec

It crashes when switched into 3D view.

[2021-04-01 14:02] gioman commented on #42402
@ATL-Flaneur try on a new QGIS profile.

[2021-04-01 14:12] aroche commented on #42615
It's a Geoserver instance, proxied by Apache. I have tried with many types of vector layers with the same result. Even a one-feature layer fails. The download and display of features work fine, it's just when attempting to open the attribute table. A freeze also occurs when using the identify tool while the rendering is not finished.

[2021-04-01 15:01] 3nids commented on #41233
A possible solution would be:
1. display a red banner saying that leaving the form in its current state (with failing constraints) will lead to losing the pending changes
2. in `QgsAttributeForm::save`, we add a boolean option to discard saving if the constraints are not respected.

@m-kuhn what do you think?

[2021-04-01 15:19] ATL-Flaneur commented on #42402
Same crash on a new QGIS profile.

[2021-04-01 15:31] ATL-Flaneur commented on #42402
I'm also getting a crash with 3.18.1, code revision https://github.com/qgis/QGIS/commit/c0eb58d4b4

[2021-04-01 18:00] fiddlersfan opened #42619 "Custom function in expression builder displays parser error in layouts"
**Describe the bug**
![Screenshot](https://user-images.githubusercontent.com/18557959/113334289-d44ebb00-9323-11eb-9960-aa97b81557bd.jpg)

**How to Reproduce**

1. Create new project
2. Create new layout
3. Add a label
4. Add a data defined override for e.g. elements width
5. Use a custom function in the expression string builder (e.g. the example custom function my_sum)
6. After the correct input

[2021-04-01 18:28] fiddlersfan commented on #37460
Also confirmed on Windows 10 in the last LTR Version 3.16.5.

The issue occurs in both .qgs and .qgz project files. The cause is probably that nan is returned and stored in the projectfile:

`<LayoutItem uuid="{435ed10e-d0f8-436b-abc5-bcfc130a9981}" frameJoinStyle="miter" positionLock="false" outlineWidthM="0.3,mm" zValue="1" itemRotation="0" svgBorderWidth="0" referencePoint="0" positionOnPage="n

[2021-04-01 19:33] tsmcgrath opened #42621 ""QGIS Unexpectedly Ended""
Copied report:
## User Feedback

Just panning and zooming around with two layers on the map. The OSM default plus a polygon geometry of US Wilderness areas. Specifically zoomed into Rock Creek Wilderness on the Oregon Coast.

## Report Details

**Crash ID**: [8b5b7babe92e243e37d2cc03b8967801fbc1e592](https://github.com/qgis/QGIS/search?q=8b5b7babe92e243e37d2cc03b8967801fbc1e592&type=Issues)

**Sta

[2021-04-01 22:09] tombrennan06 commented on #42612
Here is the version info and stack trace from a different machine running 3.18

**Version Info**
QGIS version
3.18.1-Zürich
QGIS code revision
202f1bf7e5
Compiled against Qt
5.11.2
Running against Qt
5.11.2
Compiled against GDAL/OGR
3.1.4
Running against GDAL/OGR
3.1.4
Compiled against GEOS
3.8.1-CAPI-1.13.3
Running against GEOS
3.8.1-CAPI-1.13.3
Compiled against SQLite
3.29.0
Running against SQLi

[2021-04-01 22:11] roya0045 commented on #42619
what is your function?

[2021-04-02 08:36] fiddlersfan commented on #42619
I have used the example function that QGIS provides by default:
[code]

Important notice: If I use the same function outside the layout cotext the error is not displayed. An example of this is the data defined override for the symbol size of a vector layer.

![Screenshot 2021-04-02 103433](https://user-images.githubusercontent.com/18557959/113398553-123cf500-939f-11eb-9e70-320f16f5b3cf.png)

[2021-04-02 11:42] roya0045 commented on #42619
...the test function requires a feature as input, in the dialogs you showed it has access to a feature but in the layout dialog it does not. This is clearly not a bug.

[2021-04-02 11:53] joeberkovitz commented on #39393
I have been working on a plugin project which requires the display of local times at tide observation stations around the world. To get this going in concert with the temporal controller I have had to drive all the tidal predictions to UTC, plus create a few custom expression functions that determine time zones from coordinates (using a hidden vector layer loaded from a PD timezone data set), adju

[2021-04-02 11:58] haytastan opened #42623 "InaSAFE 5.0.1 crashes QGIS"
Report details:

**Crash ID**: c3b1c8a927ee97ba273e9b1098e1eb7bbd9e1cba

**Stack Trace**

QgsField::QgsField qgsfield.cpp:54
QgsFields::operator[] qgsfields.cpp:186
QgsMemoryProvider::changeAttributeValues qgsmemoryprovider.cpp:626
QgsVectorLayerEditBuffer::commitChanges qgsvectorlayereditbuffer.cpp:545
QgsVectorLayer::commitChanges qgsvectorlayer.cpp:3412
meth_QgsVectorLayer_commitChanges sip_cor

[2021-04-02 12:06] fiddlersfan commented on #42619
I can see the point but correct me if I'm wrong: a custom expression always gets the variables feature and parent passed to it. If you omit them in the code you get an argument parse error (...wrong number of arguments. Expected 0 but got 2.).

But this means in the end that no custom expressions can be used in the layout context or?

I chose the function my_sum to keep the example simple. The cus

[2021-04-02 12:10] #42623 closed

[2021-04-02 12:11] gioman commented on #42623
Must be reported to the plugin author/s.

[2021-04-02 12:15] gioman commented on #42621
@tsmcgrath please try with a new QGIS profile, no 3rd party plugins installed.

[2021-04-02 12:16] haytastan commented on #42623
OK, I'll do that.

[2021-04-02 12:37] roya0045 commented on #42619
I don't have access to a version to try this, but what if you just use the *args, **kwargs way to catch anything in the declaration and just have the minimal number of arguments /keyword arguments otherwise? Does that work?

[2021-04-02 12:44] Mickeler opened #42625 "QGIS crashes when exporting layout as atlas with a geometry generator expression"
My QGIS version crash when try to create pdf using layout. Is that only memory issue in my PC?

Crash ID: 3c2db2e64ac601962aba9c96a4ad262dc65f110c

Stack Trace

QTextOption::wrapMode :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :

[2021-04-02 12:53] roya0045 commented on #42625
More details needed on the settings used.

[2021-04-02 14:08] sigmoe opened #42626 "Impossible to create a arc-line polygon in QGIS 3.16"
**Describe the bug**
In QGIS 3.16.5, when creating a new polygonal object, it's impossible to draw a polygon with an arc, a line, an arc and a line.
This is a regression, because we could do that in QGIS 3.10.9

**How to Reproduce**
See my video attached to reproduce the same manipulations

**QGIS and OS versions**
Version de QGIS
3.16.5-Hannover
Révision du code
58ba7c1ed6
Compilé avec Qt
5.11.2

[2021-04-02 14:46] fiddlersfan commented on #42619
I can adjust the function declaration as suggested, but the error is still displayed....
For testing I have reinstalled the old LTR (3.10.14). The error is not displayed there for the indentical custom function. The output preview shows the right value without any errors.

![Screenshot 2021-04-02 163714](https://user-images.githubusercontent.com/18557959/113425414-1c2c1b80-93d2-11eb-9789-83e7ffa41

[2021-04-02 14:54] roya0045 commented on #42619
partly, true, though the issue is that this check goes through https://github.com/qgis/QGIS/blob/2d1aa68f0d044f2aced7ebeca8d2fa6b754ac970/src/gui/qgsexpressionpreviewwidget.cpp#L85

Though something else is causing the parsing error of your function, and that is what may be triggering this error. Without the actual problematic function its hard to guess. If you can provide it would be helpful, or

[2021-04-02 15:38] ar-siddiqui commented on #42505
This is how I am doing it through pyQGIS ... thought this might be useful

[code]

[2021-04-02 15:55] gioman commented on #42625
@Mickeler are you using the "print as raster" option?

[2021-04-02 16:00] Mickeler commented on #42625
I tried also in older version but still crashing

Crash ID: 86668c6e33a44c1fd086449d3a6bfe956d277378

Stack Trace

QTextOption::wrapMode :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QVectorPath::convertToPainterPath :
QRasterPaintEngine::rasterBuffer :
QRasterPaintEngine::rasterBuffer :
QRasterPain

[2021-04-02 16:00] gioman commented on #42615
@aroche without an endpoint that we can use to test it would be very useful if you can add details about this setup, at least we can try replicate it (unless is too complicated).

[2021-04-02 16:01] Mickeler commented on #42625
Export as pdf

[2021-04-02 16:01] gioman commented on #42625
@Mickeler please attach a project + sample data (and the offending layout).

[2021-04-02 16:01] gioman commented on #42625
@Mickeler yes sure, but is the "print as raster" option active?

[2021-04-02 16:02] gioman commented on #42402
@ATL-Flaneur on ubuntu 20.04 I'm using

QGIS version | 3.18.1-Zürich | QGIS code revision | 202f1bf7e5
-- | -- | -- | --

and no crahs.

[2021-04-02 16:03] Mickeler commented on #42625
Unfortunately too big to attach, vector map which has several map layers. I can export sigle page but using atlas will crash after some pages

[2021-04-02 16:05] gioman commented on #42625
@Mickeler so it crashes **only** when exporting an atlas? if yes, does it crash always at the same page?

[2021-04-02 16:10] Mickeler commented on #42625
I dont know yet is it same page. After crashing need to restart project again...

[2021-04-02 16:11] gioman commented on #42625
@Mickeler so it crashes only when exporting an atlas?

[2021-04-02 16:14] gioman commented on #42625
@Mickeler can you create a smaller project where the problem still presents itself?

[2021-04-02 17:12] gioman opened #42627 "WFS client shows wrong CRS"
QGIS 3.18.1 on Ubuntu 20.04, Windows

1) Connect to a WFS endpoint, you get a list of the layers like

![Screenshot_20210402_180126](https://user-images.githubusercontent.com/1951107/113436897-7bdbf400-93dd-11eb-8c31-94b97a89ea6f.png)

the first 4 layers are published in 32629, the last one in 3763.

2) Select one of the layers, say the last, and click on "change" in the "coordinate reference syst

[2021-04-02 17:17] ATL-Flaneur commented on #42402
@gioman How are you installing QGIS? Is there a particular repository you're using? Compiling form source?

[2021-04-02 17:19] gioman commented on #42402
@ATL-Flaneur QGIS's org repos (not the one that needs ubuntugis).

[2021-04-02 17:19] Mickeler commented on #42625
I suppose crash will occured when using geometry generator. I have nature reserve-areas which border line has created using next formula: difference($geometry, buffer($geometry, -20))

[2021-04-02 17:24] gioman commented on #42625
@Mickeler so if you remove the geometry generator from the equation, no crash?

[2021-04-02 17:27] Mickeler commented on #42625
yes

![image](https://user-images.githubusercontent.com/56861661/113438755-e39c3a00-93f1-11eb-8cc1-5401e24da3a6.png)

[2021-04-02 17:43] Mickeler commented on #42625
I changed formula using only -1 metre buffer: difference($geometry, buffer($geometry, -1))
Still crashing...

[2021-04-02 18:00] gioman commented on #42625
@Mickeler the size of the buffer probably does not matter, it is the generator that seems to create the issue.

[2021-04-02 18:47] Andres-GM96 commented on #38329
This works for me :dancing_men:

[2021-04-02 19:02] eroldan01 opened #42628 "QGIS crashed when creating a new geopackage"
Was saving creating a new Geopackage in portable SSD.

## Report Details

**Crash ID**: [f7bff7071a0b6032d0a75fc5ec31072a3b7be898](https://github.com/qgis/QGIS/search?q=f7bff7071a0b6032d0a75fc5ec31072a3b7be898&type=Issues)

**Stack Trace**
<pre>
memcpy_repmovs memcpy.asm:114
VSICreateCachedFile :
GDALGeorefPamDataset::GetSpatialRef :
GDALGeorefPamDataset::GetSpatialRef :
GDALGeorefPamDataset::GetS

[2021-04-02 19:07] gioman commented on #42628
@eroldan01 can you please add detailed steps to replicate? If the problem is data dependent also attach sample data.

[2021-04-02 21:37] gioman opened #42632 "Geopackage: Parts can be added to a fetaure even if layer is not "MULTI""
QGIS 3.18.1 on Ubuntu 20.04

1) create a GPKG and a POLYGON layer (not MULTI)

2) create a new feature, save it

3) select the feature, use the "add part" tool to add a part > QGIS show a warning "Add part: Add part: Feature geom is single part and you've added more than one"

4) save edits > NO ERROR

If the same steps are done using a Spatialite (or PostGIS of course) layer instead of a GPKG the

[2021-04-02 21:39] nyalldawson commented on #42632
I think this was fixed on master this week - are you able to test? (https://github.com/qgis/QGIS/pull/41391)

[2021-04-02 21:53] gioman commented on #42632
@nyalldawson thanks for the heads up! I will test as soon the nightly build for Ubuntu will contain that commit

[2021-04-03 01:55] nyalldawson commented on #42612
There's a bug in your code. Try:

[code]

OR

[code]

[2021-04-03 01:55] #42612 closed

[2021-04-03 01:59] nyalldawson commented on #42625
Duplicate of 41971

[2021-04-03 01:59] #42625 closed

[2021-04-03 06:07] #27127 closed

[2021-04-03 06:07] #29794 closed

[2021-04-03 09:06] agiudiceandrea commented on #41785
It seems fixed in 3.16.5

![image](https://user-images.githubusercontent.com/16253859/113473884-9c9f5a80-946c-11eb-97f9-aa19c337501e.png)

[2021-04-03 09:32] kannes commented on #42310
Still happening in 3.18.1.

[2021-04-03 09:33] jgrocha commented on #42578
Can not reproduce on current master, Ubuntu 20.04, Qt 5.12.8.

I have no clue, but it seems more UI related than an issue on memory provider.

@agiudiceandrea Can you try to replicate it as a PyQGIS test, like the ones in [tests/src/python/test_qgsmaplayermodel.py](https://github.com/qgis/QGIS/blob/f0aafd2081b10fe3aad939d55251f5e13a95b6b2/tests/src/python/test_qgsmaplayermodel.py)?

[code]

[2021-04-03 11:25] agiudiceandrea commented on #42578
Executing the above commands, then
1. click on the "Toggle editing mode" icon
2. click on the "Add feature" icon
3. click on an empty part of the Attribute Table
4. click on the "Toggle editing mode" icon
5. click on the "Save" button

QGIS freezes and crashes.

The same occurs with 3 fields:

Instead with 1 field
[code]
or with 4 or more fields
[code]
QGIS doesn't crash

So it seems a Windows onl

[2021-04-03 11:45] jaspermowatt opened #42643 "QGIS crashing when python console launched"
Fresh install (no third party plugins activated yet) and QGIS opens with an error: "Plugin processing: This plugin is disabled because it previously crashed QGIS."

QGIS crashed immediate it the button in the error message: "Enable Plugin" is clicked.
Trial and error identified the crash can be prompted by going to Plugins --> Python Console. Crashes immediately. The error log is attached below.

[2021-04-03 11:45] jaspermowatt commented on #42643
Process:               QGIS [1217]
Path:                  /Applications/QGIS3.16.app/Contents/MacOS/QGIS
Identifier:            org.qgis.qgis3
Version:               3.16.5 (3.16.5 [exported])
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           QGIS [1217]
User ID:               504

Date/Time:             2021-04-03 12:06:24.058 +0100
OS Version:

[2021-04-03 13:29] agiudiceandrea commented on #41857
@manisandro
### Spatialite
It seems the **Spatialite** issues is partially fixed now:
a Spatialite connection made through the Browser panel is also available in the DB Manager core plugin and it is possible to "open" the connection in the DB Manager without errors and it is possible to successfully perform SQL queries using also geodesic function like `ST_Area(geometry, true)`.

In the Python con

[2021-04-03 16:47] uclaros commented on #42632
#41391 handles this on the add part tool level. We still need to handle saving (or should I say not saving) on the provider level, since there are many other ways that multi geometries can be created like merging or the dangerous avoid overlaps. INSERTing a multipart on a single type layer correctly fails, but UPDATEing an existing feature to a multipart is wrongly accepted.

[2021-04-03 18:29] agiudiceandrea commented on #41857
After installing mingw64-gdal-tools in order to directly access gdal functionality, it seems to me the issue is more likely in mingw64-gdal.
In fact, neither `gdalinfo --formats` nor `ogrinfo --formats` lists the GPKG driver among the available drivers:
[code]

while, with the same gdal version shipped by OSGeo4W testing, both `gdalinfo --formats` and `ogrinfo --formats` list the GPKG driver:
[cod

[2021-04-03 19:16] #41785 closed

[2021-04-03 19:17] gioman commented on #42310
@kannes is a duplicate of #40467 ?

[2021-04-03 19:28] gioman commented on #42643
@jaspermowatt please test with the all in one installer https://qgis.org/downloads/macos/qgis-macos-ltr.dmg

[2021-04-03 19:33] gioman commented on #42632
As far as I can see on the latest master the case I reported is now fixed > selecting the "add part" tool will result in a "Add part: Could not add part. This layer does not support multipart geometries." and drawing a geometry will not even work.

[2021-04-03 19:33] #42632 closed

[2021-04-03 20:40] #42579 closed

[2021-04-04 05:11] api2001 commented on #42327
Okay sorry, not using qgis too often so time passes by quickly 😉

[2021-04-04 05:11] #42327 closed

[2021-04-04 06:19] jaspermowatt commented on #42643
@gioman thanks, the version in the link works but when I try to activate the semi-automatic classification pluguin, it says "Semi-Automatic Classification Plugin: Error. Check Python Matplotlib installation for the Semi-Automatic Classification Plugin"
Which was why I was trying kyngchaos version so that I can be sure python is set up correctly.

[2021-04-04 09:15] tombrennan06 commented on #42612
Thanks @nyalldawson - the second approach above works great. [The first one results in an empty variable(?)]

[2021-04-04 13:08] kannes commented on #42310
It sounds like it is at least very closely related but I do not know the internals of those dialogs. For a developer it would make sense to work on both at once I think.

[2021-04-04 14:01] wmeinolf opened #42651 "QGIS crashes when saving project after script execution"
## User Feedback

Reproducable Crash once Script has been executes once.and project shall be saved.
Attached scripts deletes layers and reloades them from GPKG

How to reproduce:
Load Project 210404 Meinotest.qgs
Execute Script
Press Save Project button.

[temp.zip](https://github.com/qgis/QGIS/files/6254666/temp.zip)

## Report Details

**Crash ID**: [2da58aef0f995baef6133b8f01c3a726eb06f654](htt

[2021-04-04 16:05] roya0045 commented on #42651
So your script breaks the project and causes crash when saving? Also that's a lot of duplicate code, you could easily remove 60 to 80% of your script by just iterating.

[2021-04-04 17:56] wmeinolf commented on #42651
True, however also with duplicate code it should not crash. It also does not crash after script execution. It crash, when save button is clicked.

[2021-04-04 18:06] gioman commented on #42643
@jaspermowatt good, as that is official macos installer, as far as I know.

pip install matplotlib ?

[2021-04-04 18:26] gioman commented on #42651
@wmeinolf on QGIS master/Ubuntu 20.04 it crashes when running the script, however you should first ask in the developers mailing list of your script is correct, as you can always end up crashing QGIS if misusing its API.

[2021-04-04 18:36] gioman commented on #42578
@agiudiceandrea just tested on 3.16.5 on Windows and cannot replicate.

[2021-04-04 18:49] roya0045 commented on #42651
The script removes layers but they are somewhat still in the project. Then when saving the project the lingering layers now have invalid parameters and that causes the crash. Now either some cleanup step is missing or the removal doesn't work. I recall this was reported also if I recall.

[2021-04-04 19:29] nyalldawson commented on #21845
This is implemented

[2021-04-04 19:29] #21845 closed

[2021-04-05 02:27] vcloarec commented on #42626
hmm, I don't know where it come from, but you can used the new digitizing curve tool:

![curves](https://user-images.githubusercontent.com/7416892/113530742-c18eed00-9594-11eb-9f44-fef3caefc23c.gif)

I think it could work better than before.

[2021-04-05 02:31] nyalldawson commented on #42626
@vcloarec we should remove the broken tool in my opinion

[2021-04-05 02:43] vcloarec commented on #42626
but kipping "Add circular string by radius" ? The new one can't do that for now...

[2021-04-05 06:53] agiudiceandrea commented on #42578
Really strange... The issue also occurs for me on another different system with Windows 10

System Info
CPU Type: x86_64
Kernel Type: winnt
Kernel Version: 10.0.18362

[2021-04-05 09:27] gioman commented on #42578
@agiudiceandrea clean QGIS profiles?

[2021-04-05 10:01] wmeinolf commented on #42651
The script shall remove some existing layers and reload them with different layername. I split the script im (1) removing layers and (2) reloading layers. Following result:
(a) Start QGIS and run (1) deletes the layers, Project can be saved w/o crash. Exit QGIS normally.
(b) Start QGIS again (Layers gone, as deletet in previous step) and run (2). Layers are loaded, Project can be saved w/o crash.

[2021-04-05 10:11] agiudiceandrea commented on #42578
Yes, off course, on both systems.

[2021-04-05 13:12] jgrocha commented on #42651
Debugging the script is out of scope of QGIS issues. If there is a problem in QGIS, you need to isolate it and make it replicable with the minimal code possible. IMHO this issue should be closed as it is, but please open it again, if you are able to find an issue in QGIS.

[2021-04-05 14:48] agiudiceandrea commented on #42578
Debug log:
[code]

[2021-04-05 15:05] jmonticolo commented on #42324
@nirvn:

- I think I sticked to round numbers in this new version ;
- Head and line widths are harmonized now ;
- I removed all the c**l**ock references.

I added an "automatic" icon, but I'm not 100% satisfied with this one, how can I improve this one ? (and other obviously if they need to).

[mIcon_wise_2.zip](https://github.com/qgis/QGIS/files/6258784/mIcon_wise_2.zip)

[2021-04-05 15:36] simogeo commented on #42626
@sigmoe != @simogeo but thanks for letting me know about the new feature :-)

[2021-04-05 15:37] sigmoe commented on #42626
Ok thank your the trick with the new feature

[2021-04-05 15:47] sigmoe commented on #42626
@vcloarec Just one remark about the new digitizing curve tool: there are too many keys for the keyboard shortcut. Why not use just one keyboard key, C for example, like T for tracing or S for snapping ?

[2021-04-05 15:51] denevers opened #42660 "QGIS ignores field inherited from parent feature type in WFS 2.0 services"
When loading data from a WFS 2.0 service, the list of fields is missing gml:name and gml:description. It looks like it only considers the fields explicitly provided in the DescribeFeatureType but does not include the field from the parent feature type.

eg: British Columbia Geological Survey WFS

http://apps.empr.gov.bc.ca/geoserver/cgi/ows?SERVICE=WFS

1. Go to Layer/Add WFS Layer
2. Click [New]

[2021-04-05 16:41] wmeinolf commented on #42651
I changed the logic of my script today to avoid deleting and reloading layers from same Geopackage in one shot. As I'm still convinced, that it's a bug, I'll work shortterm on a simple scenario to reproduce the crash and open new case as @jgrocha proposed.

[2021-04-05 16:41] #42651 closed

[2021-04-05 16:46] AndreasRabe opened #42661 "message bar is not using the default timeout when pushing a warning"
**Describe the bug**

When using QgsMessageBar::pushWarning the default timeout is not correctly applied. The warning stays visible and has to be closed manually.

Can be reproduced in the QGIS Python console:

`>>>iface.messageBar().pushWarning('Warning', 'hello world')`

![image](https://user-images.githubusercontent.com/45030715/113599600-2272ff80-963f-11eb-830c-dcfb5f912944.png)

**QGIS and OS

[2021-04-05 16:53] IngeKu opened #42662 "“QGIS” can’t be opened because Apple cannot check it for malicious software."
I have tried to download QGIS on my Macbook and for

1. Download for MacOS
2. Latest release (richest on features) 3.18 AND
Long term release (most stable) 3.16

Once installed I want to open and receive message: “QGIS” can’t be opened because Apple cannot check it for malicious software.

[2021-04-05 17:07] gioman commented on #42662
@IngeKu go in macOS security panel and allow the application to run. There are many other tickets about this.

[2021-04-05 17:07] #42662 closed

[2021-04-05 17:54] antoniolocandro opened #42663 "Possibility to turn grid on/off in layout"
Usually you may have pre-configured grids in templates but when you open in another extent the scale may be too small and the rendering takes forever of the grid. Also sometimes you may want to hide the grid but not remove it

Basically add a checkbox before the grid name to toggle the visibility on/off

![image](https://user-images.githubusercontent.com/4627073/113606706-985a7500-9605-11eb-8974-0

[2021-04-05 18:01] fiddlersfan commented on #42663
With just one click more you already have this possibilty:

click on "Modify Grid...

![Screenshot 2021-04-05 200012](https://user-images.githubusercontent.com/18557959/113607526-95817380-9649-11eb-9734-eda80c1fae3d.jpg)

[2021-04-05 18:07] jgrocha commented on #42651
@wmeinolf Sorry for asking you to do so, but it helps a lot the developers. Thank you for your cooperation.

[2021-04-05 18:11] antoniolocandro commented on #42663
Well sure, but that's an extra click and yes I missed it initially.

From an user friendly perspective it would be nice if the toggle on/off would be visible in the first panel directly. I can have 3-4 grids in the same map enabled for different reasons and that would be easier to do than click on modify to access the setting

[2021-04-05 18:13] ATL-Flaneur commented on #42402
I created a new virtual machine with a fresh install of Ubuntu 20.04 and installed QGIS with this line in my ```/etc/apt/sources.list```:

[code]

This gives me revision https://github.com/qgis/QGIS/commit/202f1bf7e5.

The crash when bringing up a 3D viewing window remains 😕

[2021-04-05 18:44] fiddlersfan commented on #42661
I can reproduce the behavior in 3.18.1 but not in 3.16.5 (LTR). The responsible function is this one:

https://github.com/qgis/QGIS/blob/b6de378090e35fc362d746ca215d9dbc42e8468e/src/gui/qgsmessagebar.cpp#L215-L233

The changed behavior, if the function is not corrected, should be documented in any case. The description in the documentation is currently not correct:
https://qgis.org/pyqgis/3.18/gui

[2021-04-05 19:21] cmber opened #42665 "QGIS 3.18.1-3 georef still not working on Windows 10 Pro"
I just re-installed QGIS 3.18.1-3.msi on Win 10 and georeferer still hangs and the only option is to kill the process. Any sugestions?

Thanks
CM

[2021-04-05 20:04] vcloarec commented on #42626
@sigmoe
You can change the shortcut in settings if you want.

[2021-04-05 21:09] nyalldawson commented on #42661
@fiddlersfan just to confirm that the changed behaviour IS by design -- warnings and alerts should not be auto-dismissed

[2021-04-05 21:43] roya0045 commented on #42665
Hangs when you hit run?

[2021-04-05 21:53] cmber commented on #42665
correct, after hitting run it just doesn't do anything. Thought it was related to the progress bar issue mentioned somewhere else here but after waiting for about 4 hours I decided to kill the process.

[2021-04-05 21:53] cmber commented on #42665
It does work well in QGIS 3.16.4-1

[2021-04-05 22:44] roya0045 commented on #42665
@gioman Gio when you have some extra time, could you do a test on windows? I tried with masted on linux, works fine but I get weird results, I'll try to investigate if there is an issue.

[2021-04-05 23:06] aydin-gis opened #42668 "Point Pattern Fill - "Bad Allocation" with Meters at Scale"
Bad allocation error message when using the point pattern fill with a marker set to Meters At Scale.
have tested on two machines, 3.16 and 3.18.1.

Steps to reproduce:
New project, on a new user profile.
New scratch layer, polygon.
Layer styling, set to the pattern dot default , for example, Pattern Dot Black.
Navigate to Point Pattern Fill, and change the default Millimetres to "Meters at Scale".

[2021-04-05 23:26] roya0045 commented on #42668
Confirmed on master on linux.

[2021-04-05 23:31] aydin-gis commented on #42668
Can I use Map Units as a work around?
I'm using EPSG:2193, which I believe is based on meters...
Have not been able to find much documentation on this for symbology in QGIS.

[2021-04-06 03:42] UROwLImP opened #42669 "Continuous crashes 3.18.1 with Google Terrain Hybrid"
When using XYZ tiles to bring in cover for Fiji from Google Terrain Hybrid dataset, the program crashes within a minute or so of entering the Print Layout composer.

Seems to be ok if I have the Google Terrain Hybrid layer turned off.

Crash ID: 83948bb4810251935d1e7605be6321862d2570d7

Stack Trace

memcpy memcpy.asm:445
QgsWmsProvider::readBlock qgswmsprovider.cpp:1018
QgsRasterDataProvider::bloc

[2021-04-06 05:02] asgharibraheembaloch opened #42670 "Need a Visual Change in Select Feature by Value"
it is very difficult for me sometime to track a field name and it's input box when there are more fields, i want a visual change with line or something indicating field name and its input box

![image](https://user-images.githubusercontent.com/46741864/113660799-56413a00-96be-11eb-9da8-64d491425ebe.png)

[2021-04-06 05:15] nyalldawson commented on #42670
Which QGIS version is this? The dialog looks quite different in current versions...

[2021-04-06 05:23] asgharibraheembaloch commented on #42670
QGIS 3.8.2 Zanzibar

[2021-04-06 05:26] nyalldawson commented on #42670
Can you please test on a newer release?

[2021-04-06 05:31] asgharibraheembaloch commented on #42670
ok i have QGIS 3.14 Pi is this ok or i have to install 3.18 latest

[2021-04-06 05:42] AndreasRabe commented on #42661
Alright, thanks for the clarification.

[2021-04-06 05:42] #42661 closed

[2021-04-06 05:56] nyalldawson commented on #42670
Is the issue resolved on 3.14?

[2021-04-06 06:31] asgharibraheembaloch commented on #42670
i have found something explained in two steps
step 1: when i go into Layer properties>Attribute form>Autogenerate
it open like this
![image](https://user-images.githubusercontent.com/46741864/113668234-5e53a680-96cb-11eb-8fb8-3661a3cb8da6.png)

step 2: when i go into Layer properties>Attribute form>Drag and Drop Designer
it open like this
![image](https://user-images.githubusercontent.com/46741864

[2021-04-06 06:54] asgharibraheembaloch commented on #42670
I have also checked on latest QGIS 3.18.1 Zurich same issue persist

[2021-04-06 07:07] IngMonardiLuca opened #42671 "Changing the order of rendering of symbol layers in "symbol levels" causes QGIS to crash when saving a symbol"
## User Feedback

I was saving a new symbol for a better rendering of sterets on a map

## Report Details

**Crash ID**: [7cd20fb20c733abc26bc897c9837b66adf099cca](https://github.com/qgis/QGIS/search?q=7cd20fb20c733abc26bc897c9837b66adf099cca&type=Issues)

**Stack Trace**
<pre>
QgsSymbolsListWidget::saveSymbol qgssymbolslistwidget.cpp:221
QMetaObject::activate :
QMetaObject::activate :
QAbstractBu

[2021-04-06 07:15] gioman commented on #42669
@UROwLImP please try with a new QGIS profile, if the problem persist add the exact series of steps that lead to the crash, eventually attaching a sample project with data.

[2021-04-06 07:16] gioman commented on #42671
@IngMonardiLuca please try with a new QGIS profile, if the problem persist add the exact series of steps that lead to the crash, eventually attaching a sample project with data.

[2021-04-06 07:18] michel-56 opened #42672 "Legend: regression in column assignment when changing symbol spacing"
Hello,

I made a map that I update regularly with Qgis and I just noticed that with the latest versions of the software there is a change in presentation if I change the space between the symbols in the legend.

I have a caption on two columns and if the value between the symbols goes from 3 to 4 mm some of the text shifts to the right.

**********************************************
Bonjour,

J'a

[2021-04-06 07:20] IngMonardiLuca commented on #42671
I was using the 3.16 version with GRASS.  By changing version (3.16 Hannover LTR) the problem disappeared,

[2021-04-06 07:20] IngMonardiLuca commented on #42671
Thank you for your fast reply

[2021-04-06 07:21] gioman commented on #42671
@IngMonardiLuca this means that if launch QGIS using the "with GRASS" shortcut you can replicate this bug, while if you use the "normal" shortcut it works ok?

[2021-04-06 07:24] gioman commented on #42672
@michel-56 can you attach a screencast that shows the issue? Also what do you mean with "latest", 3.18? and what is the version where you don't see this issue? also on what platform have you seen this problem?

[2021-04-06 07:26] gioman commented on #42670
@asgharibraheembaloch yes, but as soon as you group the attributes in a tab (as is expected when using the drag and drop designer) you gets what you expects.

[2021-04-06 07:35] asgharibraheembaloch commented on #42670
@gioman but I think something has to be done so that UI experience is not effected, user doesn't think from developer perspective he works on UI and develop his understanding on tools based on how easy to use it

[2021-04-06 07:40] gioman commented on #42670
@asgharibraheembaloch organizing the fields in tabs using the D&D designer is not something a developer does, is something the user does when this mode is used. Is not supposed to use the D&D designer of then you are not organizing the fiels in tabs and groups.

[2021-04-06 07:45] gioman commented on #42665
@roya0045 @cmber tested on Windows 10 pro and QGIS 3.18.1 > no issues here.

[2021-04-06 07:46] gioman commented on #42665
@cmber attach/link the data you are trying to georeference and the GCPs.

[2021-04-06 07:47] asgharibraheembaloch commented on #42670
@gioman UI is changed that is issue, makes difficult for me or someone to understand, don't know what happened at backend, that's why I say something need to change so that understanding is easy

[2021-04-06 07:48] gioman commented on #42670
@asgharibraheembaloch the user is not supposed to use the D&D designer if then is not grouping/tabbing the fields. If he/she does it there is no issue.

[2021-04-06 07:53] asgharibraheembaloch commented on #42670
@gioman but sometime there is need when I have to work on less fields and I don't want to use so many fields, and I want my form to be concise I think that's why QGIS also added this feature if there is no need than QGIS have to remove this feature

[2021-04-06 07:55] gioman commented on #42670
@asgharibraheembaloch sure, but you should tab/group them anyway.

[2021-04-06 08:00] asgharibraheembaloch commented on #42670
in my organization there are fields which are for the database team and when digitizer digitize map he has no concern with db team fields then he want his concerning fields

[2021-04-06 08:03] gioman commented on #42670
@asgharibraheembaloch at a project/table level field can be hidden without the need to use the d&d designer.

[2021-04-06 08:12] asgharibraheembaloch commented on #42670
@gioman digitizer needs a work on canvas level for example take selection on the canvas and then remove this feature based on that field that's why he use 'Select Feature by Value' i know digitizer work other way but that's the easiest way

[2021-04-06 08:16] sigmoe commented on #42626
@vcloarec I knew for the shortcut modification, but it was just a suggestion for the default shortcut.

[2021-04-06 08:52] uclaros commented on #42670
@gioman I agree with @asgharibraheembaloch , this is clearly a bug. Using the d&d does not necessarily mean using containers. I have used it plenty of times just to easily hide fields when digitizing.
I cannot think of a reason why not to have a proper layout on the default d&d form. It would also fix the vertical spacing between entries!

[2021-04-06 09:11] asgharibraheembaloch commented on #42670
thanks @gioman for changing issues title and label

[2021-04-06 10:12] EllieLa opened #42673 "print layouts improvements"
Hi everyone,
I would like to report a couple of improvements I thought about with my colleagues. I don't know if many others asked for this, but we would **LOVE** to be able to insert some italic words in the legends of the layouts, we know it's possible to have all the legend in italic but we haven't been able to use it only with some words (we tried html but it doesn't work).
Also, we've found i

[2021-04-06 10:17] roya0045 commented on #42665
Thanks @gioman  this confirms what I was thinking, the install was not clean and may be using broken dll from 3.18 and not 3.18.1.

[2021-04-06 10:18] gioman commented on #42673
@EllieLa Hi, please 1 feature request/bug per ticket. Also if your organization needs this improvements you can consider funding the necessary work to implement them.

[2021-04-06 10:18] roya0045 commented on #42669
You seem to be running out of ressource, local issue unless the composer provide a reliable crash.

[2021-04-06 11:05] IngMonardiLuca commented on #42671
I have just newly tried, but it works with GRASS as well. I do not know why!?!?!?
This morning, when I saved a new symbol, I wanted to add it also as favorite. Maybe it was this action which caused the "crash"?

[2021-04-06 11:06] IngMonardiLuca commented on #42671
This morning I tried two times, and for two times I was "thrown out" by QGIS...

[2021-04-06 11:51] michel-56 commented on #42672
<div style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">‌Attached is a PNG preview and a Qgis example.<br>
<br>
I noticed the problem on version 3.18 but it existed before by looking at old PDF exports</div>
&nbsp;

<div class="gl_quote" style="margin-top: 20px; padding-top: 5px;">De : "Giovanni Manghi"<br>
A : "qgis/QGIS" ,"michel-56" ,"Mention"<br>
Envoyé: mardi 6 Avril 2021 09:24

[2021-04-06 12:10] joeberkovitz commented on #36847
@roya0045 I'm not claiming this is truly critical — I can see it would be a bunch of work, have too many other things to do, and can make do with magnifying the map ~6x to simulate 600 dpi output. However... setting the output resolution to 96 dpi i not a solution. It downgrades the printed output to look the same as the coarse-resolution screen display. So you get consistency without the quality

[2021-04-06 12:18] roya0045 commented on #36847
If you want consistent quality the best option is to download the data, set up the symbology and not rely on external services, or less.

[2021-04-06 12:26] roya0045 commented on #42628
Seems like a local issue, possibly lack of space as you're trying to import a tiff in a geopackage. The title doesn't mention tiff/raster geocpackage export.

[2021-04-06 12:38] gioman commented on #42672
@michel-56 there is no attachment, please use the github page to reply and attach files, do not reply by email.

[2021-04-06 12:38] gioman commented on #42671
@IngMonardiLuca describe the **detailed** series of steps that lead to the crash, eventually attaching a sample project with data.

[2021-04-06 12:56] joeberkovitz commented on #36847
That's a very useful suggestion. Note that there is another wrinkle in the picture that I don't think has come up: the external service I'm using (like many other tile-based services) provides quite divergent views at different resolutions, as it's based on scans of different sets of maps that were designed for use at specific scales. So part of previewing is not just seeing things at the desired

[2021-04-06 13:12] IngMonardiLuca commented on #42671
I copied and attached the bug report, for I thought was enough.
All i can do is attaching the file where the problem arose and write a little description about how the problem arise.
Open the roads layer and activate symbology. Amongst all favourite symbols there is one called "strade bordate".
If I want to add a new line in central position (starting from "strade bordate"), when I save the new sy

[2021-04-06 13:35] timlinux opened #42677 "Feature: support dropping geometry columns in browser"
**Feature description.**

@elpaso I love all the work you have been doing to expose fields and generally manage tables and databases in browser. I still have one use case that I cannot do in QGIS which would be great to support. Would it be possible to allow the deletion of existing geometry columns from a GeoPackage (and other providers?)? Currently to do it we need to do something like this:

ht

[2021-04-06 13:39] michel-56 commented on #42672
I have attached the document

[TEST Espace entre les symboles.zip](https://github.com/qgis/QGIS/files/6265028/TEST.Espace.entre.les.symboles.zip)

[2021-04-06 14:14] DeMelkor commented on #42402
I have also tried again with a new profile, but unfortunately the crash remains.

[2021-04-06 15:52] ungvarizs opened #42679 "Update on Raster>Polygonize"
**This function creates polygon from raster pixels with attribute.
I used it to vectorize a geotiff picture, with two pixel values 0 and 1. I kept only the polygon with attribute value 1.
**The problem is, the result contains invalid geometries. This should be corrected, that the result have to be correct geometrically. **

Detailed description of my work.
I have an SRTM model for an hilly area (i

[2021-04-06 15:53] #42679 closed

[2021-04-06 15:58] ungvarizs opened #42680 "An Update needed on Raster>Polygonize"
**This function creates polygon from raster pixels with attribute.
I used it to vectorize a geotiff picture, with two pixel values 0 and 1. I kept only the polygon with attribute value 1.
**The problem is, the result contains invalid geometries. This should be corrected, that the result have to be correct geometrically. **

Detailed description of my work.
I have an SRTM model for an hilly area (i

[2021-04-06 16:16] roya0045 commented on #42680
You can use the fix geometries tool, that would be a good cleanup step.

Though I'm not sure what is the intent of this ticket.

[2021-04-06 16:16] IngMonardiLuca commented on #42671
Hi Giovanni
No "strada bordate" is a new custom symbol I created during my daily exercise session. I downloaded QGIS last week and I am doing exercises using the on-line training manual.
I was trying to create several symbols to represent streets on a map in different ways.
So, first, I created a test-symbol named "strada bordate" (and saving it as favourite) and then, second, I modified it by add

[2021-04-06 17:04] ungvarizs commented on #42680
Thanks for the tip. fix geometry worked. But some questions I came up:
why is it not implemented into the polygonize?
why do I got wrong (~invalid) geometry?
Why have to run another processes to get a geometrically valid result?
Or  a warning would be enough in somewhere in the Polygonize menu: "You may use fix geometry to get valid geometry output" or something like this.
**If I redefine the prob

[2021-04-06 17:19] gioman commented on #42680
@ungvarizs the tool you mention is a wrapper around

https://gdal.org/programs/gdal_polygonize.html#gdal-polygonize

if this tool creates wrong geometries you must report the problem to the GDAL project, not here.

You may want to try the "raster pixels to polygon" tool, which is a QGIS native one.

You have also the opportunity to try r.to.vect (GRASS) and "vectorizing grid classes" (SAGA), all o

[2021-04-06 17:19] #42680 closed

[2021-04-06 17:27] gioman commented on #42671
@IngMonardiLuca settings > user profiles > new profile

no

no, if the symbol is a custom one you must attach it too. You can export it from QGIS style manager.

Anyway please first try with a new QGIS profile.

[2021-04-06 20:54] IngMonardiLuca commented on #42671
Hi Giovanni
I recorded a video where you can see what I do.
https://youtu.be/1jPaBZg7ovg
I have the crash also after the creation of a new profile

[2021-04-06 21:44] IngMonardiLuca commented on #42671
Hi Giovanni
Another strange behaviour.
In the attached file you find the XML file for the new symbol just created.
I add a video where you can see what happened and what I did.

https://youtu.be/6_oFyHWR6D8

[BUG.zip](https://github.com/qgis/QGIS/files/6267695/BUG.zip)

[2021-04-06 22:03] gioman commented on #42671
@IngMonardiLuca I have been able to replicate the crash on both Linux and Windows, on QGIS >= 3.16 including master.

What does triggers the crash when saving the symbol is some change in the order of rendering of a symbol layers in the "symbol levels" dialog.

[2021-04-06 22:03] cmber commented on #42665
thank you both, @gioman and @roya0045. I does work now. I had to do a clean reinstall as suggested, removing any leftovers in the registry. After does, works perfectly. Thanks again

[2021-04-06 22:03] #42665 closed

[2021-04-06 22:08] roya0045 commented on #42665
@cmber glad to know it was a false positive.

[2021-04-06 22:14] IngMonardiLuca commented on #42671
I am glad to have been helpfull. I hope this problem could be fixed.

[2021-04-07 05:33] nicogodet commented on #42280
Linked/duplicates #37804 #38031 ?

[2021-04-07 06:46] ArlenPoort commented on #32247
I have the same problem with Sophos.
Where can I find the OSGeo4W-NG install?
I tried the standalone installer (3.18) and the network installer, but they both give the same problem with nircmdc.exe.

[2021-04-07 06:59] cesarcorreo opened #42689 "Error in TIN interpolation with null values"
**Describe the bug**
When doing a tin interpolation on a layer that has fields with data and null values, the null values are considered as having a value of 0 instead of not being considered for the interpolation.
I have made several tests with versions 3.18.1, 3.16.5 and 3.10.12 that I have installed and it has only worked correctly in version 3.10.12.

![TIN interpolation](https://user-images.g

[2021-04-07 06:59] cesarcorreo commented on #42689
[Prueba-tin.zip](https://github.com/qgis/QGIS/files/6269575/Prueba-tin.zip)

[2021-04-07 08:19] Pahcixam opened #42691 "Feature request - Organize layouts in a tree with folders"
**Feature description.**
On big projects with a lot of layouts, it would be great to be able to organize those a layout in a tree structure with folders.

**Additional context**
Add folders on "Layout Manager" and "Layouts..." menu.

[2021-04-07 08:24] jef-n commented on #32247
https://qgis.org/de/site/forusers/download.html and scroll down to "QGIS in OSGeo4W testing"

[2021-04-07 08:52] ArlenPoort commented on #32247
Thanks, jef-n!

[2021-04-07 10:11] pathmapper opened #42694 "Add option to disable more descriptive legends for multiband rasters for use with QGIS Server"
**Feature description.**
Add option to disable more descriptive legends for multiband rasters to be able to restore behavior before #40620 for use with QGIS Server.

In other words:
Add option to show only the title for multiband rasters in the legend.

**Additional context**
This was raised before in https://lists.osgeo.org/pipermail/qgis-developer/2021-April/063444.html .

https://github.com/qgi

[2021-04-07 12:37] JeltoBuurman opened #42696 "QGIS hangs loading pointcloud dataset when it has no SRS defined"
Hallo,

I'm Using QGIS 3.18.1
QGIS-Codeversion: 202f1bf7e5

Since 3.18.1 I can open big Pointclouds form ept. Now I try to generate a big Pointcloud >1.000.000 Points with entwine direct and QGIS hangs when I open the ept.json. When I build a subset with ca 500.000 Point the same happens. The Pointcoud from entwine.io "red rocks" can be opened in QGIS. The amount of data is very big. If wanted, pl

[2021-04-07 12:46] gioman commented on #42696
@JeltoBuurman you can't upload it here, use something like Google Drive, Dropbox, etc and then link the dataset here.

[2021-04-07 13:05] Benb73 opened #42698 "Layer rendering opacity is not taken into account when exporting a layout to PDF"
With QGIS 3.16.5, cannot export a PDF with transparency on vector polygons. For this to work, the transparency must be applied to the syombology of the elements and not to the layer rendering

QGIS 3.16.5 and windows 10

[2021-04-07 13:06] gioman commented on #42698
@Benb73 please add the requested info:

**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

[2021-04-07 13:19] gioman commented on #42698
@Benb73 no I'm sorry, it is always needed a precise description (it does not need to be very verbose).

For instance: you are not saying if you are exporting the PDF from the main QGIS window or from the QGIS print composer.

[2021-04-07 13:31] gioman commented on #42698
@Benb73 did it worked as expected in a previous QGIS release?

[2021-04-07 13:37] Benb73 commented on #42698
yes of course, QGIS 3.4 in particular for me

[2021-04-07 13:50] Brent-Edwards opened #42699 "Feature request - Drape (set Z value from mesh)"
It would be great to provide the same functionality as the QGIS core "Drape (set Z value from raster)" processing tool using a mesh as a surface instead of a raster. The "Export mesh on grid" code could likely be adapted to enable point inputs instead of a regular grid. The QGIS core tool could also be modified to support mesh inputs.

Initially submitted as a feature request for the Crayfish plug

[2021-04-07 13:50] cesarcorreo commented on #42698
Tested for me in 3.16.5 and 3.18.1. in W10
Exporting as a PDF and it's working properly.
![image](https://user-images.githubusercontent.com/25932761/113877390-f2e80280-97b8-11eb-9568-08dd58b65712.png)

[2021-04-07 14:07] JeltoBuurman commented on #42696
Hallo, is it possible to transfer the data, withount making them public?

[2021-04-07 14:13] LeahOnuoha opened #42700 "Compile issues trying to install QGIzs 3.16.3 in RHEL8"
Trying to install QGIS in a RHEL8 server environment. Ran into compiling issues we haven't been able to resolve:

 Error: Unable to find a match: qt5-qttools-static python3-qt5-devel python3-qscintilla-devel
spatialindex-devel python3-OWSLib qwt-devel sip-devel exiv2-devel
 sudo dnf install qt5-qtbase-private-devel qt5-qtwebkit-devel qt5-qtlocation-devel qt5-qttools-
static qca-qt5-devel qca-qt5

[2021-04-07 14:19] Benb73 commented on #42698
@cesarcorreo where is your transparency managed?

[2021-04-07 14:25] roya0045 commented on #42700
I fail to see how this is a qgis issue.

[2021-04-07 14:33] LeahOnuoha commented on #42700
Should we not be able to install QGIS in RHEL8? That is currently limiting federal use of qgis

[2021-04-07 14:39] cesarcorreo commented on #42698
![image](https://user-images.githubusercontent.com/25932761/113885101-d9968480-97bf-11eb-852d-f1c087fa2f96.png)

[2021-04-07 14:41] Benb73 commented on #42698
@cesarcorreo test here please  :

![113872365-19f00580-97b4-11eb-8a54-d88087efb88c](https://user-images.githubusercontent.com/65361648/113885436-1ebab680-97c0-11eb-9204-6a4f9df0b53b.PNG)

[2021-04-07 14:42] roya0045 commented on #42700
I thought you were trying to self compile. Does Red Hat even has all the required dependencies available?

[2021-04-07 14:56] roya0045 commented on #41857
@agiudiceandrea  maybe it was compiled with the libspatialite and not libsqlite3?

[2021-04-07 15:19] LeahOnuoha commented on #42700
No, not trying to self compile. Redhat seems to be missing the standard C libraries QGIS requires. Looking for help fixing this issue.

[2021-04-07 15:26] mjohenneken opened #42703 "Wrong max value extracted from tif file on grayscale"
**Describe the bug**

I want to load a GeoTIFF file that has 4 distinct values with a maximum value of 4 but the max value of the grayscale is only 2. I would expect that QGIS shows the whole value range by default.
Setting the value range manually works fine.

**How to Reproduce**

1. Use the provided sample tif file
1. Load tif by doubclicking in the browser
2. Observe that the min and max are 1

[2021-04-07 15:38] roya0045 commented on #42700
Have you tried http://elgis.argeo.org/ ? This seems to be the only installation listed for redhat, not sure if its maintained much.

[2021-04-07 15:51] gioman commented on #42703
@mjohenneken this depends on the "accuracy" setting in the raster symbology dialog (under min/max value settings): by default is set to "estimate", and if you change it to "actual" and click "apply" you get the real min and max (that by the way seems to be 8 not 4). And as far as I remember there is no option to change that default (if confirmed is really annoying).

[2021-04-07 15:57] gioman commented on #42698
@Benb73 works fine here on master, could you give it a try?

[2021-04-07 15:59] phidrho opened #42704 "Copy and paste bugs and weird behavior between two QGIS instances"
**Describe the bug**

Since QGIS has no ability to open two projects inside same instance, there is a need to fix some behavior which has impact on copying and pasting values between instances which lead to data change/loss.

We have 3 options in Options > Data Sources > Copy features as:
    - Plain Text, WKT Geometry
    - Plain Text, No Geometry
    - GeoJSON

This setting should affect only pa

[2021-04-07 15:59] gioman commented on #42696
@JeltoBuurman you can surely make private a download on google drive or dropbox. Let's see if some dev is available to see the dataset (so you can give him/her access to it privately).

[2021-04-07 16:20] generic-user-name-1 opened #42705 "Form view shows wrong image attachments when scrolling through features"
**Describe the bug**

When scrolling through features in form view sometimes it shows the wrong image attachments if there is no entry in the column instead of no image. I have attached a project where you can reproduce the problem.
**How to Reproduce**

1. Open the attached project
2. Open attribute table of point layer
3. Switch to form view
4. Click several times on "navigate to next feature" o

[2021-04-07 18:05] fran2a opened #42707 "processing extension error when starting qgis zurich on m1 mac os"
Here the error message when launching qgis 3.18.1 on a m1 mac  (all is fine with 3.16 version):

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 195: ordinal not in range(128)
Traceback (most recent call last):
  File "/Applications/QGIS.app/Contents/MacOS/../Resources/python/qgis/utils.py", line 335, in _startPlugin
    plugins[packageName] = package.classFactory(iface)
  Fil

[2021-04-07 19:15] mjohenneken commented on #42703
Okay, that makes sense. If I use the option actual it will set the correct max value (which is 8 in the example, indeed).
I'm still a bit puzzled why this estimate only fails in this one example out of 20.
My current use case is to open up files generated by a python script and inspect whether the file contains a binary mask or multiple values. If the max value is estimated to be 2 a tif with mult

[2021-04-07 19:15] #42703 closed

[2021-04-07 19:28] agiudiceandrea opened #42708 "Missing incon of Geometry Checker core plugin"
**Describe the bug**

The Geometry Checker core plugin icon is missing in the vector menu.
![image](https://user-images.githubusercontent.com/16253859/113920507-28a2e080-97e5-11eb-85e7-314d5a4f1b05.png)

**How to Reproduce**

1. enable the Geometry Checker core plugin
2. open the Vector menu

**QGIS and OS versions**

OS: Windows 7 SP1 64 bit
QGIS 3.16.5 (Qt 5.11.2 - OSGeo4W) - QGIS 3.18.1 (Qt 5.1

[2021-04-07 19:57] MrXsquared opened #42709 "Expression to get data from a given URL"
**An expression to get data as JSON from a given URL**

Recently I noticed some users of QGIS (including myself) require to get data from an online source with a given URL, for example:

- https://gis.stackexchange.com/questions/393126/how-to-capture-real-time-weather-data-of-points-using-openweathermap
- https://gis.stackexchange.com/questions/393227/reformatting-api-call-results-in-an-atlas-nomi

[2021-04-07 21:17] gioman commented on #42703
@mjohenneken can you spot any difference with gdalinfo?

[2021-04-07 21:22] agiudiceandrea opened #42710 "Geometry Checker core plugin: it is not possible to set and display the default error resolutions settings"
**Describe the bug**

The default error resolutions settings for the Geometry Checker core plugin are not correctly displayed and it is not possible to correctly set them in the Set Error Resolutions windows.

![image](https://user-images.githubusercontent.com/16253859/113929541-7cff8d80-97f0-11eb-9587-c9357f42d911.png)

The selected error resolutions options are not properly saved and retained, s

[2021-04-07 21:25] roya0045 opened #42711 "[Expression] Multipart geometry to geometry array"
**Feature description.**
We currently have a way to gather multiple geometries to a single one but no way to do the opposite.

The test case that I had was when using a geometry generator to convert vertex of a feature to distinct geometries. In order to do this I had to change the geometry to wtk, sanitize the string, then split it to an array. Then use array_get based on the vertex id but that's

[2021-04-07 21:57] UROwLImP commented on #42669
Thank you all. Running on a higher spec machine with more resources has resolved

From: Alex ***@***.***>
Sent: Tuesday, 6 April 2021 8:19 PM
To: qgis/QGIS ***@***.***>
Cc: UROwLImP ***@***.***>; Mention ***@***.***>
Subject: Re: [qgis/QGIS] Continuous crashes 3.18.1 with Google Terrain Hybrid (#42669)

You seem to be running out of ressource, local issue unless the composer provide a reliable cra

[2021-04-07 21:59] roya0045 commented on #42669
@UROwLImP Glad to hear this was indeed the case.

[2021-04-07 22:04] #42669 closed

[2021-04-07 23:56] #42626 closed

[2021-04-08 02:21] TurboGraphxBeige commented on #42246
Not stale

[2021-04-08 05:34] Mickeler commented on #42625
I managed to avoid a qgis crash with the following change where I changed the line width from millimeters to map units. Make sense? There is also some examples as attached file
[line_definition.zip](https://github.com/qgis/QGIS/files/6276274/line_definition.zip)

[2021-04-08 05:38] chau-intl opened #42716 "QGIS doesn't release datasources when cancelling loading of feature class"
**Describe the bug**
Normally when loading layers from a FileGDB in QGIS the files corresponding to the loaded layers are locked for access. When the layers are removed from QGIS the file locks disappears.

When dragging a FileGDB with multiple feature classes into QGIS, a layer selection dialog appear and you can choose which layers to load. If you decide not to load anything and just click cance

[2021-04-08 07:55] MrChebur opened #42717 "The maximum "Cumulative count cut" value should be reset to 100, not 0."
**Feature description.**
At the moment, when resetting the value of "Cumulative count cut" (see raster "Layer Styling" tab), the value of this field is set to 0, which does not meet user expectations because the user expects a reset to 100, as this is the maximum value of the parameter, not the minimum.

![HkUxyXhHlH](https://user-images.githubusercontent.com/20655102/113989083-85e07580-9869-11eb-

[2021-04-08 09:14] nicogodet opened #42718 "If parameter name contains single quote, exported model to python is broken"
**Describe the bug**

In french (at least), it's common to use the apostrophe in a parameter name.
Ex : `Tableau d'assemblage`, `Hauteur d'eau`, etc...

In a model, you can set a parameter name with an apostrophe and run the model without issue.
But if you export this model to Python, you can not run the script immediately, you have to convert single-quoted string to double-quoted string when the

[2021-04-08 09:37] JeltoBuurman commented on #42696
Hallo, I found a  reason for the issue:
My LAZ files have no srs included, so I added it while the build with entwine with:
{
    "input": "inputdir",

    "reprojection": {
        "in": "EPSG:25832",
        "out": "EPSG:25832" },

    "output": "outputdir"
}
The resulting structure could be converted by entwine  and pdal to tif, but not be read by QGIS (hangs). If I add the SRS to to laz data b

[2021-04-08 09:43] MrChebur opened #42719 "The option to automatically disable Overview in Print Composer when the mini-map is turned off"
At the moment, when you turn off the mini-map, the outline showing its location on the overview map is still visible.

It would be convenient to create an option allowing to automatically hide the mini-map outline on the overview map when mini-map is turned off.

![6RpaLUtql4](https://user-images.githubusercontent.com/20655102/114004890-816f8900-9878-11eb-965b-81771a3af659.gif)

[2021-04-08 11:49] roya0045 commented on #41857
@agiudiceandrea Do you consider this as resolved with the latest changes?

[2021-04-08 11:58] agiudiceandrea commented on #41857
The mingw-gdal-3.2.2-2 will only fix the GeoPackage issue.

The Spatialite issue still partially occurs even with gdal-3.2.2-2:

[2021-04-08 12:10] roya0045 commented on #41857
And do you think those are entirely dependent on the gdal library or possibly on something else?

[2021-04-08 12:20] agiudiceandrea commented on #41857
@roya0045 I don't know.

[2021-04-08 13:02] roya0045 commented on #42718
This would require adding some logic to escape ' and " in variable names. Though the best option is to use anything other than those.

[2021-04-08 13:07] roya0045 commented on #42707
Do you have any custom styles that may contain special characters?

[2021-04-08 13:31] nicogodet commented on #42718
I was thinking about...
- if string only contains `'` use double-quoted string
- if string only contains `"` use single-quoted string
- if string contains both, it is probably a complex name and the solution could be to warn the user that he has to fix it before running.

[2021-04-08 13:32] roya0045 commented on #42718
Just escaping them would be fine.

[2021-04-08 13:33] nicogodet commented on #42718
Yes, it would be but it decreases readability.
I escape them only when I have no choice.

[2021-04-08 13:49] tombrennan06 opened #42724 "GDAL Raster Calculator in the Processing Toolbox producing some incorrect results"
**Describe the bug**
The GDAL Raster Calculator in the Processing Toolbox is producing incorrect results for certain calculations.

For example, when a raster with data from 1 to 255 has the formula A>128 applied via the GDAL Raster Calculator, you would expect data points greater than 128 to get the value 1 and those less than or equal to 128 to be 0. Instead, the output is much the same as the i

[2021-04-08 15:09] gioman commented on #42724
@tombrennan06 works fine here on QGIS master/linux

![Screenshot_20210408_160908](https://user-images.githubusercontent.com/1951107/114051173-c5688b00-9884-11eb-95c2-83770d3299b8.png)

[2021-04-08 15:14] nicogodet commented on #42724
I can confirm the bug on 3.18.1 with "A>128", output format does not matter.
Works fine with greater(A, 128).

Works fine on 3.16.5

Gdal 3.2.2 on OSGeo4W Testing Win10

[2021-04-08 15:15] gioman commented on #42724
@nicogodet can you test master?

[2021-04-08 15:28] roya0045 commented on #42724
@gioman I tried with the mingw artefact, can't get the gdal file to perform, but the native calculator works fine. Were your tests on the gdal variant?

[2021-04-08 15:30] gioman commented on #42724
@roya0045 yes sure, I used the GDAL raster calc.

[2021-04-08 15:46] nicogodet commented on #42724
@gioman bug on master too.

[2021-04-08 16:05] roya0045 commented on #42501
Are you sure your path is not just malformed? There are plenty of things that uses this internally and they have no issues with network path. The error is probably in your code.

[2021-04-08 16:08] roya0045 commented on #42397
Should this remain open?

[2021-04-08 19:21] gioman commented on #42724
@nicogodet same correct result for me on 3.18.1 on Windows 10

![Screenshot_20210408_202048](https://user-images.githubusercontent.com/1951107/114084340-fa3a0980-98a7-11eb-8273-9215fa712a83.png)

[2021-04-08 20:11] magnusnil commented on #37364
The idea is to allow the user to add comments that are not strictly related to a specific model component.

[2021-04-08 20:26] Bananastand-Money commented on #42463
I've been getting a similar error to:
https://github.com/qgis/QGIS/issues/41834
https://github.com/qgis/QGIS/issues/41837

I load in the geotiff in my default profile with various plugins but upon selecting "Properties" QGIS would hard crash with no error codes or stack traces.

I opened a new profile and was able to correctly open properties and began adding my plugins one by one and attempting t

[2021-04-08 20:39] fran2a commented on #42707
The issue appears when launching qgis prior opening any qgis document or style.

[2021-04-08 20:49] roya0045 commented on #42707
The crash occur when styles are being loaded by RenderingStyles.py. This would indicate that one of the style available has non-ascii characters that causes the crash.

[2021-04-08 20:54] fran2a commented on #42707
Ok but why Long term qgis version (3.16) doesn't crash?

[2021-04-08 21:05] roya0045 commented on #42707
You could try to move the processing folder /Applications/QGIS.app/Contents/MacOS/../Resources/python/plugins/processing/ elsewhere to see if this is the issue. I'm not sure what may be the issue as RenderingStyle itself hasen't changed.

[2021-04-08 21:48] roya0045 commented on #28146
Is this still valid with the recent changes to the goereferencer?

[2021-04-08 21:52] roya0045 commented on #29608
Can anyone eplicate? Are they generated baed on the symbol itself?

[2021-04-08 21:55] roya0045 commented on #30762
What is the symbology? Curious to know if this is solved my the new feature to limite the size of features.

[2021-04-09 02:18] geemont opened #42728 "Dockable mirror map"
Can to support the multi-window comparison function similar to the Mapinfo？
Now the function of Add New Map in the QGIS menu can only to show the different part of the same layer.
I want the function which can show the different layer in the different windows.

[2021-04-09 02:29] geemont commented on #42728
- [ ]

- [ ]

[2021-04-09 03:47] firmanghazali25 opened #42729 "Crashed while opening raster layer properties"
Hi. Everyone,
Recently, I am using QGIS 3.18.1 and often to get the error message (attached picture) while opening the raster layer properties. How to fix it?. Thank you.

![image](https://user-images.githubusercontent.com/77722849/114125453-b46d5780-9920-11eb-87a5-afd37ed27a80.png)

[2021-04-09 03:51] nirvn commented on #42729
@firmanghazali25 , this is likely caused by a plugin, try disabling your plugins one by one and open the raster properties window, hopefully you'll identify the problematic plugin.

[2021-04-09 04:58] MrChebur commented on #33874
@m-kuhn When implementing this function, was it intentionally made so that when you press the spacebar on the layer that is in the group - the group layer does not become visible (the same actions, but using the mouse leads to a different result). https://github.com/qgis/QGIS/issues/38259#issue-678305405

[2021-04-09 05:40] firmanghazali25 commented on #42729
@nirvn, thank you for your valuable reply. I tried to disable some of the problematic plugins but, it does not work. The QGIS 1.18.1 is still crashed. I decided to re-install the previous version of 1.16.0 and the issue fixed. The raster properties window can be opened properly.

[2021-04-09 06:41] nicogodet commented on #42724
I installed 3.18.1 with the new standalone installer (.msi) to compare.

On OSGeo4W :

[code]
See GDAL command output is empty !

On standalone install:
[code]

With greater(A, 128) on both install:
[code]

If I print the value of `ba` and `ba.decode()`
[code]
Locale issue

ping @nyalldawson as you implemented this in https://github.com/qgis/QGIS/pull/40897

[2021-04-09 07:06] nicogodet commented on #42724
https://github.com/qgis/QGIS/blob/3ee49a60a382b7fc8e97e5cf7796620efb950ef6/python/plugins/processing/algs/gdal/GdalUtils.py#L141
It seems to break the command.
Output is:
`['gdal_calc.bat', '--overwrite', '--calc', 'A>128', '--format', 'GTiff', '--type', 'Float32', '-A', 'D:/raster_calc_sample.tif', '--A_band', '1', '--outfile', 'C:/Users/GODET/AppData/Local/Temp/processing_hZjELV/1c1ad78c8ada4284

[2021-04-09 07:55] gioman commented on #42728
@geemont if you want it you may want to consider supporting the work to implement the functionality. Look at "commercial support" in QGIS's web site.

[2021-04-09 08:06] spatialthoughts opened #42734 "QGIS crashes when viewing LAZ file in 3D in QGIS 3.18.1 on Mac"
I am trying to load and view a public domain LAZ file from [DEFRA Data Platform](https://environment.data.gov.uk/DefraDataDownload/?Mode=survey) in QGIS 3.18.1 on Mac. The file loads fine in 2D but when trying to open in a 3D view, QGIS crashes.

This is a mac specific issue. Crash doesn't happen on linux/windows.

The test LAZ is at https://drive.google.com/file/d/1dqBHL-gjwHgHIqyzKHNzK3r0WHFOX7N

[2021-04-09 08:07] gioman commented on #42729
@firmanghazali25 disabling them is sometimes not enough, we had cases of 3rd party plugins that caused QGIS to crash even if disabled. You must try with a new QGIS profile.

[2021-04-09 08:08] klakar commented on #37473
Re-tested on 3.18.1 and the problem is still present. (same system as initial bug report)

[2021-04-09 08:08] gioman commented on #42724
@nicogodet so if you use the official Windows installer (the ones linked on QGIS's we site) no issue?

[2021-04-09 08:25] aroche commented on #42615
This is a standard installation of Geoserver on a Linux server, with Apache to handle SSL connections and redirect them to Geoserver. The SSL certificate is valid for the local network, but QGIS doesn't seem to recognize it, so we have to ignore the SSL errors for the service to work.

[2021-04-09 08:38] klakar commented on #37473
There has been an improvement for newly created styles and projects, where only a map update (pan, zoom) is required to reset the masks. In some older projects with masking this does not work as well. One issue is found when a project with masks is saved, closed and then opened again. This will remove some mask settings in the "masked" layer.
Creating a new simple line layer with mixed (simple) la

[2021-04-09 08:42] nicogodet commented on #42724
@jef-n The unquoted `A>128` is the output of https://github.com/qgis/QGIS/blob/3ee49a60a382b7fc8e97e5cf7796620efb950ef6/python/plugins/processing/algs/gdal/GdalUtils.py#L141

@gioman Same issue on Official Windows installer
But the refused access is caused by the console trying to create 128 in a folder that require an admin right.

[2021-04-09 09:01] klakar commented on #37473
I also created a small project with data from an old problematic project.

[masking_test_old_styles.zip](https://github.com/qgis/QGIS/files/6284460/masking_test_old_styles.zip)

It has a contour line layer with style categories that should have masks enabled for all parts.
There's also a label layer with masks activated, that should be used as masking layer for the lines.

Even if masks are enable

[2021-04-09 09:08] firmanghazali25 commented on #42729
@gioman The new QGIS profile means another version of QGIS?

[2021-04-09 09:09] gioman commented on #42729
@firmanghazali25

settings > user profiles > new profile

[2021-04-09 09:21] gioman commented on #42724
@nicogodet so it not clear to me why I can't replicate on my machine.

[2021-04-09 09:31] firmanghazali25 commented on #42729
Ok. I will try. Thank you.

[2021-04-09 09:41] jef-n commented on #42724
That output has the quotes.   But I was referring to what you entered into the shell and that was missing the quotes.    Running that with quotes might show what in the output might causes the hickup.

[2021-04-09 09:50] nicogodet commented on #42724
@jef-n Look at the output of `QgsRunProcess.splitCommand(fused_command)` and you will see that quotes are missing in the list of arguments.
This list of arguments is then throw in
https://github.com/qgis/QGIS/blob/3ee49a60a382b7fc8e97e5cf7796620efb950ef6/python/plugins/processing/algs/gdal/GdalUtils.py#L142

[2021-04-09 09:57] m-kuhn commented on #41233
The banner would always be shown as long as there are failing (hard) constraints? That sounds like a transparent and feasible approach :+1:
Only thing, I would prefer orange or yellow over red (it's more a warning than an error)

[2021-04-09 10:03] agiudiceandrea commented on #41855
It seems to me the issue is not yet fixed and still occurs also after #42634:

[code]

[2021-04-09 10:06] jef-n commented on #42724
I'm not sure what your point is.   I commented on what you ran manually.  I'm interested in it's output, but with the quotes.  AFAICT the command is run fine, but the "old" standalone can't parse it's output, while the "new" one can.

[2021-04-09 11:03] nicogodet commented on #42724
The output with quotes is not the actual command executed.

Of course if I execute manually the command with quotes everything runs correctly.

But.
The command with quotes is sent to QgsRunProcess.splitCommand() then QgsBlockingProcess().
The problem is that splitCommand() removes quotes.
That's the purpose of my previous comments.

[2021-04-09 11:07] jef-n commented on #42724
And it outputs?

[2021-04-09 11:14] nicogodet commented on #42724
Outputs are corrects.

[2021-04-09 11:44] roya0045 commented on #42728
I have no clue what is being requested.

[2021-04-09 12:12] firmanghazali25 commented on #42729
@gioman, thank you for your suggestion, Its works.

[2021-04-09 12:12] nicogodet commented on #42724
If I run avec `A > 128` output is correct
[code]

`A>128` incorrect

[2021-04-09 12:17] #42729 closed

[2021-04-09 12:17] gioman commented on #42729
@firmanghazali25 you may want to install one by one the plugins in the new profile and find the offending one.

[2021-04-09 12:23] firmanghazali25 commented on #42729
@gioman Ya, I did it. I have to reinstall all the required plugins. But, what is the significant function of using QGIS in default and new profile?

[2021-04-09 12:31] gioman commented on #42729
@firmanghazali25 to start QGIS without anything (old configurations, 3rd party plugins, 3rd party scripts, etc.) that could cause the program to behave in a wrong way.

[2021-04-09 12:35] firmanghazali25 commented on #42729
@gioman Oh I see.

[2021-04-09 12:57] nicogodet commented on #42724
@tombrennan06 could you test with `A > 128` (space around `>`) instead of `A>128` ?

[2021-04-09 13:30] gioman commented on #42724
@nicogodet for what is worth... correct results on 3.18.1 on both Ubuntu and Windows (using the official installer).

[2021-04-09 13:36] antoniolocandro commented on #42663
Got this image from a colleague who swears this option was possible in 3.4 , I still believe the tick on/off would be better besides the grid
![image](https://user-images.githubusercontent.com/4627073/114188234-2b492700-9906-11eb-8d5c-c61b3769cd67.png)

[2021-04-09 13:54] NyakudyaA opened #42737 "Allow embbed layers to be selected from projects saved in geopackage / PostgreSQL"
# Problem

QGIS allows saving projects to
* File system as `.qgs` or `.qgz`
* Geopackage
* PostgreSQL

When trying to embed layers and groups coming from another project on the file-based QGIS projects can be selected. It will be nice if the QGIS projects would be selectable from the two other sources

[2021-04-09 13:55] roya0045 commented on #42728
I feel like the overview panel is being requested here, see https://docs.qgis.org/3.16/en/docs/user_manual/introduction/general_tools.html?highlight=overview%20panel#overview-panel

[2021-04-09 13:59] Bananastand-Money commented on #42729
I've been getting a similar error to:
https://github.com/qgis/QGIS/issues/41834
https://github.com/qgis/QGIS/issues/41837

I load in the geotiff in my default profile with various plugins but upon selecting "Properties" QGIS would hard crash with no error codes or stack traces.

I opened a new profile and was able to correctly open properties and began adding my plugins one by one and attempting t

[2021-04-09 14:09] arx-it commented on #42095
If its is OK for the community, the workaround with the option (disabling attributes popup) is OK for me

[2021-04-09 14:09] arx-it commented on #42095
Can I close ?

[2021-04-09 14:11] #42095 closed

[2021-04-09 14:24] nicogodet commented on #42724
@gioman Even without spaces around `>`

[2021-04-09 14:26] gioman commented on #42724
@nicogodet yes.

[2021-04-09 14:27] gioman commented on #42724
@nicogodet why you say that the image is incorrect: if you change the project background to something different from white you'll se that the left part of the output is white (1) and the right part is black (0).

[2021-04-09 14:54] nicogodet commented on #42724
@gioman No. With `A>128` without spaces the command executed is `gdal_calc.bat --overwrite --calc A>128 --format GTiff --type Float32 -A D:/raster_calc_sample.tif --A_band 1 --outfile D:/raster_calc_sample_truc.tif` so in a shell, `gdal_calc.bat --overwrite --calc A` redirected to `128`.

![image](https://user-images.githubusercontent.com/39594821/114199015-375bd580-9954-11eb-9bf6-4d21b51b987b.png

[2021-04-09 15:14] iiepdev opened #42740 "Refactor fields does not recognize valid QGIS expression when run as Processing Plugin"
**Summary: A QGIS expression within Refactor fields that works perfectly in the Graphical modeler and in QGIS desktop does not work when transformed to work within a Processing Plugin (again, using Refactor fields).**

I have a Graphical model that performs some calculations based on two custom integers provided by the user: the starting age for secondary education in a country, and its duration.

[2021-04-09 15:16] gioman commented on #42740
@iiepdev is this a question or a bug report?

[2021-04-09 15:37] iiepdev commented on #42740
Sorry @gioman
This is a bug report. This is my first ticket, so wasn't quite able to add the tags.
I'm available for any additional information you might need.
Thank you!

[2021-04-09 17:11] TimDax opened #42741 "QGIS do not answer with internet active"
Hello
All versions of Qgis don't answer when Internet is active.
When I cut internet, it works normally.

Os: W10
Qgis : 3.14, 3,16 and 3.18 tested.

I have test with a new profile
I have install and uninstall Qgis.
I have disable Norton AV, all programs it would be the problem but it's all the time do not answer et then, crash .

I'm blocqued !
Thank you for help. If someone know the problem ...

[2021-04-09 17:23] roya0045 commented on #42741
This is clearly a local issue that we cannot help with. I'd suggest reformatting your system.

[2021-04-09 17:25] baswein commented on #42728
@geemont - If I understand your request correctly what you want may already be possible. You can set the second map to follow a layer "Theme" that controls what layers are visible and see them both at once.
![2021-04-09_13-23-05](https://user-images.githubusercontent.com/15817745/114218058-f1dcdf80-9936-11eb-9ba2-46b392dc2d52.gif)

[2021-04-09 17:36] TimDax commented on #42741
Ok thank you

[2021-04-09 17:36] #42741 closed

[2021-04-09 17:51] Gusapno opened #42742 "Transparency does not work in Diagrams"
Hey there, i have the following issue: while working with diagrams (pie chart) i can't set opacity to 0%.

Actually, the option to set opacity to 0% in diagram options exists:

![image](https://user-images.githubusercontent.com/58537560/114213225-58a6cc80-9928-11eb-9230-7d5f4cfc0f58.png)

although , when the changes are applied nothing happens to the layer. For example, i set two parts of the pie

[2021-04-09 18:16] justinbb opened #42743 "print layout does not take into account temporal settings"
Print layout uses the current layer visibility settings of the project window. Thus the expectation is that the map as displayed in the project is what will be used as the basis for printing.

However, if there is a temporal layer and temporal navigation is activated, the temporal settings are *not* used by print layout. Instead, the temporal layer is shown as if temporal navigation were inactive.

[2021-04-09 19:29] roya0045 commented on #42740
This would be easier to just do this in python directly, instead of just presenting a front for refactor field.

[2021-04-09 19:50] gioman commented on #42743
@justinbb but Time Manager is/was a 3rd party plugin, so this seems a missing feature rather than a bug.

[2021-04-09 21:47] nyalldawson commented on #42743
Actually it's already possible -- scroll down to the "temporal" settings in the print layout map item properties and set the desired filter range there. It's possible to set a different range for each map in the layout, and you can data-define the ranges too so they work nicely with atlases :+1:

[2021-04-09 22:23] GregCocks-NOAA opened #42746 "Loading large (2 * 250Mb) NetCDF point files"
**Describe the bug**

Loading large (2 * 250Mb) NetCDF point files
**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

## User Feedback

Loading some large NetCDF files

## Report Details

**Crash ID**: [bc69e9c2e14772692dec80f4af6b94849ac57840](https://github.com/qgis/QGIS/search?q=bc69e9c2e14772692de

[2021-04-09 22:37] roya0045 commented on #42746
3.10.5 is too outdated. Please try on something recent to validate if the issue is even valid anymore.

[2021-04-09 22:38] GregCocks-NOAA opened #42747 "trying to export large NetCDF points to CSV from browser window"
**Describe the bug**

trying to export large NetCDF points to CSV from browser window

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

## User Feedback

trying to export lrage NetCDF points file to CSV from browser window

## Report Details

**Crash ID**: [b943d9e161fc5841442f6effdb3fa7195460746d](

[2021-04-09 22:41] justinbb commented on #42743
@nyalldawson  Ah!!! That does indeed cover the issue entirely. :-)

I wonder if it would be reasonable to have an option (on by default) to link this value in the print layout to the settings of the current map display, and to reinitialize it when the "Refresh view" toolbar button is pressed. That would make it "just work" for simple layouts and less experienced users, while still making it possib

[2021-04-09 22:47] roya0045 commented on #42747
Please see my comment on your other ticket.

[2021-04-09 23:01] DogmaT2 commented on #34923
I have the same issue (QGIS version 3.16.0). Attaching shapefile.

STEPS
1 add vector layer GAR-1
2 open attributes table
3 open field calculator
4 add Geometry feature: $area (decimal valued feature)
5 confirm Preview area shows a numerical value
6 click OK

Here one of two things happens. Either I get the following message box:
ERROR: Could not add the new field to the provider.

Or the Field Ca

[2021-04-10 08:29] #42743 closed

[2021-04-10 08:33] gioman commented on #42746
@GregCocks-NOAA and if the problem persist with 3.16 or 3.18 please also try with a new QGIS profile. If the problem again please attach/link sample data.

[2021-04-10 08:35] gioman commented on #42747
@GregCocks-NOAA and if the problem persist with 3.16 or 3.18 please also try with a new QGIS profile. If the problem again please attach/link sample data.

[2021-04-10 08:45] gioman commented on #34923
Closing for lack of feedback.

@DogmaT2 too old, update to the latest 3.16 or 3.18.

Not replicable on the latest 3.16 or 3.18  on both Linux and Windows.

[2021-04-10 08:45] #34923 closed

[2021-04-10 09:23] geoxluca opened #42751 "dxf in/out Print Layout"
Hi Gorup
I use QGIS for topographic field, and we usually delivery our work in one o more layouts. So, in the Layout we have put a template like in image. The template usually is in DXF format.
Would be beautiful can import a DXF direcly in Layout, so to preserve the exact dimension and the other specifics
And more, when we export the work, we delivery in dxf format (no tonly pdf or other image fo

[2021-04-10 10:27] jgrocha commented on #42737
I think we need to create a new enhanced `QgsProjectWidget` widget that can be used to open any kind of project (file based or stored on the provider). This could replace the simple `QgsFileWidget` that we use in these dialogues.

In the short time, two buttons could be used to implement this on the GUI side.

![embed from all source](https://user-images.githubusercontent.com/163681/114266710-9ae7

[2021-04-10 10:42] roya0045 commented on #42751
If this feature is important to your organisation you can also consider funding its developpment.

[2021-04-10 13:05] ChrisWGeorge commented on #42507
Turned out to be a problem with file permissions.

[2021-04-10 13:05] #42507 closed

[2021-04-10 15:14] miladaz opened #42752 ""Check for updates on startup" doesn't do anything"
**Describe the bug**
Plugins setting "Check for updates on startup" doesn't seem to do anything.

**How to Reproduce**

In Plugins Settings (Plugins > Manage and Install Plugins) > Setting > The option "Check for updates on startup" as it says: "If this function is enabled, QGIS will inform you whenever a new plugin or plugin update is available."
I'm using my own repository. With this option enab

[2021-04-10 15:32] fiddlersfan commented on #42752
You'll be notified of new updates when they're available, but not via a big notification box you might expect. It is just a simple icon in the bottom right corner:

![Screenshot 2021-04-10 172905](https://user-images.githubusercontent.com/18557959/114275366-9be56600-9a22-11eb-84fe-2b791b378ef4.jpg)

[2021-04-10 15:40] Pooooooooooooh opened #42753 "Can't load AequilibraE"
When I plugin the AequilibraE, I can't load it and showed "Couldn't load plugin 'AequilibraE' due to an error when calling its classFactory() method See message log (Python Error) for more details." How can I solve it?

IMPORTANT:

If the issue concerns a third party plugin (downloaded with the plugin manager) then it can't be fixed by the QGIS team.
Please raise your issue in the dedicated bug tr

[2021-04-10 15:42] #42753 closed

[2021-04-10 15:42] gioman commented on #42753
You must ask to the plugins author/s.

[2021-04-10 16:02] fiddlersfan commented on #42619
Fixed in #42745 for the default custom expression function _my_sum()_

As of version 3.16 it seems to be necessary to set the parameter _referenced_columns=[]_ in order to execute custom functions without reference to a feature without an error.

[2021-04-10 16:02] #42619 closed

[2021-04-10 23:28] davidjohnson11 opened #42755 "Drape (set Z value from mesh) not working"
**Describe the bug**

The Drape tool under 'Vector geometry' isn't working.  It doesn't change existing Z values nor does it create new Z values from the raster as it is supposed to.  It apparently does nothing.

**How to Reproduce**

Here is how I am running it:

![image](https://user-images.githubusercontent.com/64212883/114286922-1d87c480-9a20-11eb-8456-1162996ee24a.png)

The layer Lines contai

[2021-04-10 23:41] gioman commented on #42755
@davidjohnson11 way too old, you must test in 3.16.5 or 3.18.1

[2021-04-10 23:56] davidjohnson11 commented on #42755
Just downloaded latest long-term QGIS 3.16.5 and re-ran.  Exactly the same result.

[2021-04-11 00:00] gioman commented on #42755
@davidjohnson11 works fine here (3.18.1 and master on Linux), Please attach sample data.

[2021-04-11 00:10] davidjohnson11 commented on #42755
Here are the files I am working with.  You will need to set the raster CRS to the vector CRS.  Vector is shapefile.  Raster is Geosoft GXF.

[GL200177_DEM_ft AZ_State_Plane_East_NAD27_ft.zip](https://github.com/qgis/QGIS/files/6290957/GL200177_DEM_ft.AZ_State_Plane_East_NAD27_ft.zip)
[CMD_district_deposits_ln.zip](https://github.com/qgis/QGIS/files/6290958/CMD_district_deposits_ln.zip)

[2021-04-11 00:31] gioman commented on #42755
@davidjohnson11 works if you save your raster as geotiff.

[2021-04-11 00:33] davidjohnson11 commented on #42755
OK.  I wouldn't have thought that the provenance of the raster would matter once it was imported.  But here we are.  Thanks for the workaround.

[2021-04-11 04:36] geemont commented on #42728
This is I want, thks

[2021-04-11 05:31] ralfkoenig opened #42756 ""Add Multipoint Feature"-Button"
As far as I know QGIS can handle multipoint-features. In QGIS they are only results of expressions ....

But the user can only add single points in point/multipoint-datasets. The attribute form ist opend after every point. Even if they are digitized in a multipoint-dataset.

It will be great and a lot more efficient, if (especially on desktop (and fieldwork) usage) its possible to digitize multipo

[2021-04-11 05:32] #42756 closed

[2021-04-11 05:36] ralfkoenig opened #42757 "Missing "Add multipoint-feature-button""
As far as I know QGIS can handle multipoint-features. In QGIS real multipoint-features with more than one vertice are only results of expressions ....

The user can only add single points in point/multipoint-datasets. The attribute form ist opend after every point. Even if they are digitized in a multipoint-dataset.

It will be great and a lot more efficient, if (especially on desktop (and fieldwo

[2021-04-11 07:07] uclaros commented on #42757
You can achieve the same results using the Add Part tool in advanced digitizing toolbar.

[2021-04-11 08:08] gioman commented on #42755
@davidjohnson11 it should, but given the very rare nature of the format "Geosoft GXF" I'm not sure if this would be ever considered for a fix (given the easy workaround).

[2021-04-11 08:09] gioman commented on #42728
@geemont so closing?

[2021-04-11 08:10] gioman commented on #42757
@ralfkoenig and this is exactly how you do it, since always in QGIS.

[2021-04-11 08:11] #42728 closed

[2021-04-11 08:11] geemont commented on #42728
Yes, thks

[2021-04-11 10:37] roya0045 commented on #42755
If the format as a read-only driver, I'd vote to close this as nothing else can be done.

[2021-04-11 12:50] roya0045 commented on #42501
@gioman simple ping, if you can please add the feedback tag when you get a moment. Thanks!

[2021-04-11 12:50] gioman commented on #42501
@roya0045 done

[2021-04-11 12:53] tombrennan06 commented on #42724
@nicogodet - same result as you.

With A>128 (no spaces), I get the same error as I originally described.

With A > 128 (spaces), I get the expected (correct) output (half white/half black).

FWIW, I am using the official installer for 3.18.1

[2021-04-11 13:03] roya0045 commented on #25785
Is this still valid with the recent changes to this area of the code?

[2021-04-11 13:08] roya0045 commented on #26601
I don't recall having that issue. Is the form tag appropriate or are we talking about a normal join?

[2021-04-11 13:14] roya0045 commented on #27055
Seems like a local issue dependent on connection speed.

[2021-04-11 13:23] mjohenneken commented on #42703
I compared it to the other files and cannot spot a difference. I think one aspect is that the tif files don't have embedded statistics. So, QGIS has to calculate its own values.

The python script essentially just copies these tif files for another dir. I noticed that in the source dir of the file the is not working is the only of the 20 that has an associated .aux.xml sidecar file. Though, the ot

[2021-04-11 13:28] roya0045 commented on #28405
Layer names are independent from datasource once loaded. This is not a bug IMO.

[2021-04-11 13:34] davidjohnson11 commented on #42755
If it only works for GeoTIFF rasters, that should be noted in the documentation, if only to save others the trouble of attempting to use non-compliant raster formats.

[2021-04-11 13:36] gioman commented on #42755
@davidjohnson1it must be tested (with formats other than geotiff and the not working one you posted), if works only for geotiff it should clearly be documented at least.

[2021-04-11 13:54] roya0045 commented on #42755
See https://gdal.org/drivers/raster/index.html for supported formats.

[2021-04-11 13:56] gioman commented on #42755
@roya0045 Hi Alex, but this tool do not create a raster or write new values in a raster, it adds raster values to the Z of the vertexes of a polygon (that in origin can be even 2d, the output will be 3d).

[2021-04-11 14:13] roya0045 commented on #42755
@gioman yes but it must read the raster. GXF are supported. So I'm not sure why the values are not applied, other than it need some othr capabilities.

[2021-04-11 16:26] gioman opened #42760 "Metasearch show password when opening connection properties dialog"
In Metasearch the password is shown when editing a connection options

![Screenshot_20210411_172414](https://user-images.githubusercontent.com/1951107/114312575-f813bd00-9aea-11eb-943c-fe977577d93c.png)

in other clients (wms, wfs, etc.) this is hidden

![Screenshot_20210411_172451](https://user-images.githubusercontent.com/1951107/114312600-15488b80-9aeb-11eb-8b75-5184b70ce363.png)

[2021-04-11 16:29] gioman opened #42761 "The Geonode client do not show the "WCS" node"
![Screenshot_20210411_172749](https://user-images.githubusercontent.com/1951107/114312669-580a6380-9aeb-11eb-9082-31bce151fc59.png)

It only show WMS and WFS even if the endpoint has some layers published as WCS too.

[2021-04-11 16:47] ralfkoenig commented on #42757
Thank you for your comments. I love QGIS and its enormous tools too and like to work with it every day.

Digitizing features is one of the core-tasks of using a GIS-application. Therefore I made this suggestion to achieve maximum efficiency at this point.

My idea was to make the process a little bit more efficient than using the "Add Part tool" - which makes indeed sense with multipolygons and mu

[2021-04-11 17:43] albertograva commented on #38074
I have the same errore on 3.16.3 with ubuntu 18.04

[2021-04-11 23:06] kgjenkins opened #42762 "Fastest path error, depending on project CRS"
**Describe the bug**

When using the "Shortest path (point to point)" to calculate the "fastest" path, the result "cost" is in hours, but this value is incorrect if the project CRS is not in meters.

Calculating the fastest path with the exact same inputs, with the only difference being the project CRS, gives the following results:

| CRS | CRS units | cost (hours) |
|-|-|-|
| WGS 84 / UTM Zone 12

[2021-04-11 23:09] timlinux commented on #42761
Yeah in the original scope of work we focussed on WMS and WFS only. @Samweli can you drop in WCS too? @gioman we are busy with a brand new client for GeoNode though that makes it a bit uncertain if we want to spend more time on the old implementation. See https://github.com/kartoza/qgis_geonode and cc @ricardogsilva

[2021-04-11 23:48] davered00 opened #42763 "Supporting "set role" when connecting to a postgres database"
**Feature description.**
QGIS would better if there was an option for the role to use when connecting to a postgres database

**Additional context**
I'm working within a postgres database that requires running a 'set role <role>' command before creating/deleting tables within a certain schema. This causes qgis's "Save to Postgresql" feature to always fail. If QGIS could support a "role" input box

[2021-04-11 23:52] roya0045 commented on #42761
@timlinux out of curiosity: does that mean QGIS will have a suboptimal provider in core, will the provider be replaced, or removed from core and delegated to the plugin?

[2021-04-12 00:01] roya0045 commented on #42763
¯\_(ツ)_/¯

[2021-04-12 00:17] davered00 commented on #42763
Sorry, issue was commented out, lol. First time making a github issue

[2021-04-12 06:06] Samweli commented on #42761
Sure @timlinux,

Something like this @gioman @timlinux?
![wcs_geonode_qgis_support](https://user-images.githubusercontent.com/2663775/114347756-25557f00-9b6e-11eb-9c77-5020233535ff.gif)

[2021-04-12 07:31] gioman commented on #42761
@timlinux @Samweli @ricardogsilva well then it is up to you! Thanks for the effort around this client!

[2021-04-12 08:21] timlinux commented on #42761
Just a semantic note that it is not actually a provider, it uses the existing OGC service providers in QGIS.

We are developing a new implementation which will be a huge improvment on the current. Our developers preferred to make it in Python. Once the work is complete, we will discuss with the community options for integrating the work which would be between:

1. Keep the existing work in C++, pr

[2021-04-12 08:23] timlinux commented on #42761
Yah perfect thanks @samweli, will you make a PR?

[2021-04-12 08:49] uclaros commented on #42711
If you don't specifically need it to be an array for some reason, you can use `num_geometries()` function to get the part count and `geometry_n()` to iterate the parts

[2021-04-12 09:06] GisUsers commented on #38074
Installed QGIS 3.18.1 on Debian buster from official repo. OWSLib is 0.17.1 and still receiving the error when attempting to search a CSW.

[2021-04-12 09:33] DavidBAZIN opened #42765 "[QGIS 3.16-5] Issue with PDF export : transparency not taken into account"
**Describe the bug**

When I'm exporting my map in the Composer to a .pdf file, the transparency in my principal vector layer is not taken into account in my final .pdf file, whereas all is good when I'm exporting it to an image file.

**QGIS and OS versions**

QGIS version | 3.16.5-Hannover
OS version | Windows 10 (10.0)

[2021-04-12 09:43] gioman commented on #42765
@DavidBAZIN duplicate of https://github.com/qgis/QGIS/issues/42698 ?

[2021-04-12 09:52] DavidBAZIN commented on #42765
Yes thank you, I'm closing the topic

[2021-04-12 10:00] DavidBAZIN commented on #42765
I saw #42698 but in my case I manage the transparency in the layer rendering, not the symbol, but it's still not working

[2021-04-12 10:02] #42765 closed

[2021-04-12 10:02] ricardogsilva commented on #42761
@roya0045 @gioman

As @timlinux is saying, this is pretty much a work-in-progress. We are working on a new GeoNode client for QGIS, which is being developed as a Python plugin. You can find it here:

https://kartoza.github.io/qgis_geonode/

We've setup a private plugin registry for it that you can use to get it installed in QGIS if you are keen to test it out - any feedback will be much appreciate

[2021-04-12 10:18] timlinux commented on #42760
Can you look at this @tomkralidis  (assuming you are still maintaining metasearch)?

[2021-04-12 10:21] timlinux opened #42766 "TIN Interpolation from vector to raster fails with unknown error"
I am trying to create a DEM from contours using the TIN interpolation tool.

QGIS version: 3.19.0-Master
QGIS code revision: 6df122bd19
Qt version: 5.14.2
GDAL version: 3.1.3
GEOS version: 3.8.1-CAPI-1.13.3
PROJ version: Rel. 7.1.0, August 1st, 2020

[code]
I can see it started writing the output file and then failed:
[code]

At worst we should get a meaningful error message, otherwise it would be

[2021-04-12 10:23] gioman commented on #42766
@timlinux can you attach a sample dataset?

[2021-04-12 10:26] aimdev commented on #26186
This is still apparent on the latest release, Zurich.
As a comparison there are no issues accessing the same database using UMN mapserver and OpenLayers, or DBeaver.
I have added extra indexes on the most usual predicates, such as the spatial type column.

In addition if there is a database connection defined in the project where the database is not available, recognising this takes a very long ti

[2021-04-12 10:32] tomkralidis commented on #42760
thanks, will do.

[2021-04-12 10:32] timlinux commented on #42766
@gioman Its quite big, I will see if I can replicate with a smaller one

[2021-04-12 10:45] gioman commented on #26186
@aimdev there have been some patches recently that should have been improved the situation, can you test master?

Are you or your organization a contributor (code, funds, etc.)?

[2021-04-12 10:54] gioman commented on #42761
Nice!

@ricardogsilva hopefully you won't regret giving me the link, I'm a bug magnet ;) Jokes apart I will be happy to test the plugin!

[2021-04-12 10:58] gioman commented on #42761
@ricardogsilva the geonode client as it is now do not support authentication (as the other clients WMS, WFS, etc.), the plugin support it?

[2021-04-12 11:05] tomkralidis commented on #42760
Pull request in #42767.  Will this be auto-backported or should I open dedicated PRs?

[2021-04-12 11:06] ricardogsilva commented on #42761
Yes, that is one of the improvements we are delivering with the plugin.

For new GeoNode versions (v3.0 and up I believe) we are using OAuth2 authentication and for older GeoNode deployments we are relying on the session-based auth. Both are implemented in the plugin and seem to be working good.

As it currently stands we are working on read support, i.e. being able to search and load GeoNode reso

[2021-04-12 11:10] gioman commented on #42761
@ricardogsilva GN >= 3.0 do not support (session-based auth) basic http auth? actually I'm struggling with it while testing geonode services (wms,wfs) with the credential of a geonode user. I tried oauth2 and works but it is not really an option for most of the users.

this is really cool!

[2021-04-12 11:22] ricardogsilva commented on #42761
@gioman

AFAIK GeoNode does not really support HTTP basic auth at all.

GeoNode is based on the django project and uses two types of authentication:

- For browser clients, it uses the standard django auth, coupled with sessions. This uses some CSRF protection mechanisms to improve security. Logging in via the browser involves performing a series of HTTP requests in sequence, using some form param

[2021-04-12 12:00] roya0045 commented on #42711
@uclaros Thanks! That's a good alt, sometimes searching expressions doesn't give the proper result, and I must have overlooked geometry_n when looking through all functions.

[2021-04-12 12:22] cupain opened #42768 "Data corrupted when deleting field in a (specific) geopackage layer"
Saving modifications after deleting a field of a geopackage layer also deletes entitie's geometry

**How to Reproduce**

1. Open a new QGIS project
2. Import a new geopackage layer (as [this one](https://ouvrir.passages.cnrs.fr/tutoqgis/donnees/TutoQGIS_07_Champs.zip))
3. Enter in edit mode
4. Open attributes table
5. Delete a field
6. Exit from edit mode, saving modifications
--> entities disappe

[2021-04-12 12:34] Samweli commented on #42761
will do @timlinux

[2021-04-12 13:22] aroche commented on #42615
I solved the issue by manually adding the proper certificate in options/Authentication/manage certificates/Authorities, and removing the certificate exception.

So it seems that this bug occurs when using a https WFS server and an exception is set to ignore SSL errors.

[2021-04-12 13:28] gioman commented on #42615
@aroche good. Could you edit the title and description to better describe your findings?

[2021-04-12 15:17] timlinux commented on #42766
I am not sure if this is a good test dataset, I will test with it at home....

![image](https://user-images.githubusercontent.com/178003/114414190-8305bd80-9ba6-11eb-9424-44787867d265.png)

[contours.zip](https://github.com/qgis/QGIS/files/6297641/contours.zip)

[2021-04-12 16:18] frchalaoux opened #42776 "Raster calculator seems buggy under MacOS but not under Windows"
**Describe the bug**
- Open my project attached to this file and relink with images in the archive if there is a problem
- If you create a new NDVI raster layer with the raster calculator in MacOS GQIS the image width is half from individual bands used to create it and distorted. There is no problem with Windows to create a correct NDVI

**How to Reproduce**

1. Unzip sentinel-2.zip
2. Startup GQI

[2021-04-12 16:21] agiudiceandrea commented on #42768
I can confirm the data corruption (but not any crash) using the provided geopackage with QGIS 3.18.1 (GDAL 3.1.4), 3.18.1 (GDAL 3.2.2), 3.16.5 (GDAL 3.1.4), 3.10.14 (GDAL 3.1.4), and 3.4.5 (GDAL 2.4.0) on Windows 7.
The issue doesn't occur with QGIS 2.18.23 (GDAL 2.2.4).

[2021-04-12 16:37] cupain commented on #42768
My mistake, indeed it's not a crash, but data corruption. Let me correct the issue's title and description tomorrow

-------- Message d'origine --------
Le 12 avr. 2021 à 18:21, Andrea Giudiceandrea a écrit :

[2021-04-12 16:38] roya0045 commented on #42768
And with master on win10. Resulting data cannot be read and crs is lost.

[2021-04-12 17:19] agiudiceandrea commented on #42768
Anyway the issue seems related to this particular geopackage file. If you export the layer as a new geopackage and import it in QGIS, then there is no issue deleting fields.

[2021-04-12 18:47] DrewFrance opened #42777 "Print Composer crashing"
## User Feedback

Just trying to resize a map in the Composer.

## Report Details

**Crash ID**: [afa0a1d4359eff83cc60efa7a0f084ed10976b34](https://github.com/qgis/QGIS/search?q=afa0a1d4359eff83cc60efa7a0f084ed10976b34&type=Issues)

**Stack Trace**
<pre>
GEOSEquals_r :
GEOSEquals_r :
QgsGeos::shortestLine qgsgeos.cpp:2274
QgsGeometry::shortestLine qgsgeometry.cpp:636
<lambda_098e6f315b0c35646bc666

[2021-04-12 18:50] gioman commented on #42777
@DrewFrance please try with a new QGIS profile. Also update to 3.16.5, if the problem persist please attach/link the project (with the composer and the necessary data).

[2021-04-12 18:55] gioman commented on #42766
@timlinux is the ticket about TIN or IDW? I tested your dataset with IDW (as seen in the screenshot) and trying to create a 1m raster output is just horribly slow, but no crash. A 10m output was created in a few seconds.

The attached dataset has no CRS, but I figured it was 2006 and created a new copy with the proper CRS.

[2021-04-12 18:55] gioman commented on #42766
I'm also on master on Ubuntu 20.04.

[2021-04-12 19:01] gioman commented on #42768
seems a very edge case, it is really worth keeping this open?

[2021-04-12 19:03] gioman commented on #42776
@frchalaoux have you used the raster calculator from the "raster" menu or from the processing toolbox? if you used the one in Processing, which one you used (as there is the QGIS native one and as well the GRASS and SAGA ones)?

[2021-04-12 19:17] frchalaoux commented on #42776
I used the calculator from the raster menu

[2021-04-12 19:21] PitGraebel opened #42778 "Postgresql tables with intarray fields as primary key causes problems in python scripts"
**Describe the bug**
Using a Postgres layer based on a table with a intarray field (_int8) as primary key seems to be possible in QGIS desktop application. Features are visible and with the identify feature tool a list of all attributes can be shown. But if you try to retrieve information about those features in python scripts or plugins, it fails! Asking `feature['fieldname']` is answered with a

[2021-04-12 19:51] jsmoreau opened #42779 "Unable to tilt in a 3D view of a point cloud dataset"
**Describe the bug**
I am not able to tilt the 3D view on a point cloud dataset. On the demo I saw, the hand can "grab" the map by clicking on it and then tilt by moving up or down. In my case, I can translate de map but can't tilt it. I run on windows.

**How to Reproduce**

1.Open a las/laz file
2. Zoom on a specific area
3. View -> New 3D map view
4. Click in the view using the hand and try to

[2021-04-12 19:58] #42779 closed

[2021-04-12 19:58] agiudiceandrea commented on #42768
I think that if an older version of QGIS/GDAL created a faulty GeoPackage, then it should be desirable and fair if a newer version of QGIS/GDAL would automatically fix the faulty GeoPackage or inform the user about the issue when the layer is edited and/or not allow the user to delete a field in order to avoid data corruption/loss.

[2021-04-12 21:28] DogmaT2 commented on #34923
I upgraded QGIS to 3.18.1-Zürich.
Still getting this error when attempting to add area value to a layer using the attribute table.

[2021-04-12 21:56] andremano commented on #42333
I am now closing this bug report as I can confirm this problem does not ocur in the contex of processing model provided you use the correct variables. Thank you for taking the time to look at it.

[2021-04-12 21:56] #42333 closed

[2021-04-12 22:06] andremano commented on #42593
There is a nice workaround for this. One can use the `Basic Statistics for fields` algorithm - Thanks @nyalldawson for this hint. I am therefore closing this feature request as theres a way to do this already.

[2021-04-12 22:06] #42593 closed

[2021-04-13 08:15] koenigherford commented on #41233
I think this will be a acceptable solution

[2021-04-13 10:20] jgrocha commented on #42763
To make things clear, you are asking something like pgAdmin has: using one role just to connect and then assume the privileges of another role. The limitations (from pgAdmin documentation) are:

_Use the Role field to specify the name of a role that has privileges that will be conveyed to the client after authentication with the server. This selection allows you to connect as one role, and then as

[2021-04-13 10:39] jgrocha commented on #42752
I think you can automate your workflow with a simple `startup.py` script. Check the [startup file documentation](https://docs.qgis.org/testing/en/docs/pyqgis_developer_cookbook/intro.html#the-startup-py-file).

Create this script and install it on all your clients.

You just need to right something like (replace `QuickOSM` with your awesome plugin key):

[code]

A simple message is added to the me

[2021-04-13 10:47] gioman commented on #42776
@frchalaoux tested on 3.18.1 on macOS Catalina, results are ok.

![IMG_20210413_114600_1](https://user-images.githubusercontent.com/1951107/114540929-02020100-9c4e-11eb-9fcf-6888e09155f3.jpg)

[2021-04-13 11:27] mkoenigb commented on #42757
May I suggest to use a Hotkey instead of clicking different digitize-buttons? So for example when adding Points of a MultiPoint-Feature, just hold, for example, "Shift" while adding points to the same feature. If you release the hotkey, the fill attributes form pops up (if choosen) you can then confirm.

[2021-04-13 13:13] ar-siddiqui opened #42786 "QGIS Failing to Transform and Display Layer"
**Describe the bug**
Sometimes if I have two layers in two different CRS. One of them won't show up or show up at an incorrect location if the Project CRS is different than the layer CRS. I can look at each layer at the correct location if I change the project CRS to the layer CRS, so my assumption is that it has something to do with projection on the fly.

**How to Reproduce**

It happens randoml

[2021-04-13 13:14] davered00 commented on #42763
That is correct.

This is a postgres feature that is useful for automatic permission
management. If the base login user has no permissions to create a
table/view/function/etc, but can promote themselves to a role called
"admin" to create them (done using the noinherit setting), it will be
created under an owner of "admin," and all other users who can promote
themselves to that role will be able to

[2021-04-13 13:17] #42752 closed

[2021-04-13 13:41] Sneeci commented on #14070
I have currently the same issue using it on my builder : https://gis.stackexchange.com/questions/393228/qgis-using-split-lines-with-lines-makes-unwanted-cut-on-self-overlapping-lines
Anyone managed to avoid this problem?

[2021-04-13 15:22] EnzoBaldini commented on #42148
@agiudiceandrea Hey Andrea, I tried with German GUI and the problem keeps coming back. Me and my students deal with this bug already almost one year.

[2021-04-13 16:02] baswein commented on #42766
Don't know of this is helpful but it worked for me:
QGIS version: 3.18.1-Zürich
QGIS code revision: 202f1bf7e5
Qt version: 5.11.2
GDAL version: 3.1.4
GEOS version: 3.8.1-CAPI-1.13.3
PROJ version: Rel. 6.3.2, May 1st, 2020
Processing algorithm…
Algorithm 'TIN interpolation' starting…
Input parameters:
{ 'EXTENT' : '504546.390000000,506000.000000000,1543000.000000000,1544153.450000000 [EPSG:2006]',

[2021-04-13 16:42] roya0045 commented on #42777
@gioman I'd suggest closing this, duplicate of #41968 and fixed already.

[2021-04-13 17:38] #42777 closed

[2021-04-13 17:40] gioman commented on #42148
@EnzoBaldini are you able to screencast the whole process, from "new project" to wrong reprojection?

[2021-04-13 17:41] gioman commented on #42786
@ar-siddiqui reopen the ticket if/when you are able to replicate the problem in a consistent and clear way.

[2021-04-13 17:41] #42786 closed

[2021-04-13 17:49] EnzoBaldini commented on #42148
@gioman  I will try to do that in the coming weeks. Not easy to find the right moment for the "CRS behaviour switch" though... Sometimes it comes after a few moments, sometimes after several hours. Nevertheless I will give it a try

[2021-04-13 19:25] dr-jts commented on #41696
This is now fixed in JTS and GEOS main.

[2021-04-13 20:31] #25390 closed

[2021-04-14 02:38] pgnan commented on #42050
@GGaeke Hello GGaeke, I'm struggling with the same problem. Could I ask how did you fix it? deleting the ~/AppData/Roaming/QGIS directory worked?

[2021-04-14 06:36] fran2a commented on #42707
Multiple errors when moving this folder.

[2021-04-14 06:44] nicogodet opened #42787 "Import DXF as PointZ instead of Point"
**Feature description.**

It follows #28003

Now PointZ layer exists, DXF layer that contains 3D points should be imported as a PointZ layer.
Currently, the imported layer is Point with a derived Z value.

I don't have on hand a DXF with 3D polylines or polygones but this feature request could be extended to polylines and polygones.

**Additional context**

[2021-04-14 08:54] rduivenvoorde commented on #42746
I do load netcdf files of 1Gb without issues in QGIS (as mesh layer).
It looks like you try to load it as a raster (then it uses GDAL)? Can you confirm?

Can you make the data available somewhere?  Then we can try to reproduce it and see if it is GDAL related or QGIS related.
Note that for loading (more dimensional) netcdf files, the mesh provider is better suited.

And please eliminate the option

[2021-04-14 10:28] dr1542 commented on #42022
I tested latest night builds and bug still remained.
So I created own workaround.

`
#this startup script for qgis 3.16+ prevents attempts saving float values
#to integer fields when committing a PostgreSQL data source
#(c) dr_gis at mail.ru. 2021

from qgis.core import QgsProject
from qgis.utils import iface

def filterPostgreSQL(l):
    if l and l.type()==0 and l.dataProvider().storageType().sta

[2021-04-14 11:36] pathmapper commented on #31580
Yep, looks like this issue can be closed.

[2021-04-14 11:46] pathmapper commented on #26644
Can't reproduce on Windows 10 with QGIS 3.18.1

[2021-04-14 16:17] #31580 closed

[2021-04-14 16:48] jerstlouis opened #42794 "Not able to visualize GeoTIFF with 2 64-bit bands"
**Describe the bug**
A GeoTIFF with 2 64-bit bands do not display properly.
It seems that one band might always be used as an alpha channel, regardess of the visualization setting (e.g. assigning the first band to the red channel and the second to the green channel).

**How to Reproduce**
Open the attached GeoTIFF and try different visualization options, including Multiband color.

**QGIS and OS v

[2021-04-14 21:19] neteler opened #42797 ""About QGIS" lacks GRASS GIS version entry"
**Feature description.**

To better support users when running GRASS GIS algorithms from QGIS it would be very helpful to tell them "Go to `About QGIS` and check the actually installed GRASS GIS version".
This is currently hard to impossible for most users.

Please add an entry also for GRASS GIS under

![image](https://user-images.githubusercontent.com/1295172/114780507-c8c5b000-9d77-11eb-8081-78

[2021-04-14 21:25] lukas-hribik opened #42798 "Attribute table: missing features when copying/pasting from scratch layer"
Watch video:
http://www.icsp.sk/20210414_230713.mp4

Steps:
1. Open new project
2. Create new shapefile (polygon)
3. Draw 3 features
4. Create new temporary scratch layer
5. Draw 1 features, select it and press CTRL-C
6. Select shapefile layer and open Attribute table
7. Focus on Attribute table and press CTRL-V
8. Save layer (there are 4 features in table)
9. Delete one feature (not last one)
10.

[2021-04-14 21:32] neteler commented on #35344
Shouldn't this instead point to

/home/XXXXX/username/Mounts/grass/ETRS_33N/g_xxxxx/mymap/head

(as it works for OGR, see https://gdal.org/drivers/vector/grass.html#datasource-name)
?

Yes, this follows how GDAL expects it for raster maps: https://gdal.org/drivers/raster/grass.html

[2021-04-15 06:04] uclaros commented on #41696
Thanks!
Since it's also backported to GEOS 3.8 and 3.9 the fix should soon land on a qgis release. Should we close this?

[2021-04-15 06:10] pathmapper opened #42800 "WFS layer filter - pre-fill Colums and Table(s) fields in SQL Query Composer"
**Feature description.**

WFS layer filter (_Layer contextmenu -> Filter..._ ) - pre-fill Colums and Table(s) fields in SQL Query Composer like in its select source:

Columns -> *
Table(s) -> layer table

<img src="https://user-images.githubusercontent.com/20856381/114824636-7c08c600-9dc5-11eb-950a-ed51aae492bc.png" width="400">

<img src="https://user-images.githubusercontent.com/20856381/1148193

[2021-04-15 06:44] joaquinmunoz opened #42803 "Filter expression from relation reference widget on attributes form, not working properly"
**Describe the bug**

Filter expression from relation reference widget on attributes form, not working properly when closing project and opening it again.

**How to Reproduce**

1. On Layer Properties/Attibutes Form, set up a 'Relation Reference' Widget Type, tick on 'Filters'
Write a condition on 'Filter expression'.
Apply and OK
2. Add a new feature in that layer by using the form
Check that sub

[2021-04-15 07:01] pathmapper commented on #22122
Looks like this is now the case since https://github.com/qgis/QGIS/pull/40071, see also https://github.com/qgis/QGIS/issues/42800.

[2021-04-15 07:11] tschmetzer commented on #41696
Depends on how issue closing is handled within QGIS. In the automotive area the author has to test and confirm the successful implementation but here I don't know.

[2021-04-15 07:36] #41696 closed

[2021-04-15 08:13] webgis147 opened #42805 "Connect to MSSQL from Ubuntu"
I try to connect to a SQL Server database running on Windows server from an ubuntu bionic server
I installed msodbcsql17 and msodbcsql17 on the ubuntu machine

I configured the .ini files

    odbcinst.ini:

[SQL Server]
Description=Microsoft ODBC Driver 17 for SQL Server
Driver=/opt/microsoft/msodbcsql17/lib64/libmsodbcsql-17.7.so.2.1
UsageCount=1<br/>

    and odbc.ini :

[kplus]
Driver =SQL Ser

[2021-04-15 10:30] Houska1 opened #42806 "format() expression function incorrect results"
3.18.1, OSGeo4W release build.

The `format()` expression function provides incorrect results when not all of the %1,%2,... arguments are used

`format('%2',1,2)` returns 1 rather than 2.

However, `format('%2 %1',1,2)` correctly returns 2 1.

(I am encountering this in defining a complex symbology where multiple feature measurements are rendered using a font marker symbol layer. For ease of modif

[2021-04-15 10:51] elpaso commented on #42806
I don't think this is a bug, the number after the `%` is meant for ordering the arguments, you could in theory have: `format('%99 %11', 1, 2)` that would yield `2 1`.

At least, this is how it works in Qt: https://doc.qt.io/qt-5/qstring.html#arg

[2021-04-15 11:11] Houska1 commented on #42806
I guess if Qt does it that way by design, it's not quite a bug.

However, it is a shame. It would be helpful if `format(@label_fmt,"Distance","Bearing")` generated (as it does) `100m 45°` if `@label_fmt` is `'%1m %2°'`, but also just  `45°` if `@label_fmt` is `'%2°`. It feels like that is more intuitive and helpful than the use case of a lazy format string of `%32 %77` being equivalent to `%1 %2`.

[2021-04-15 11:14] nitinpeshwani commented on #34455
Can anyone give the solution regarding this issue.

[2021-04-15 11:32] SrNetoChan opened #42811 "Unable to overwrite the default style of a geopackage layer"
**Describe the bug**

Using a layer from a geopackage, you can define a default style and save it in the data source. Nevertheless, if a layer already has a default style, replacing it by trying to save a new default won't work.

**How to Reproduce**

1. Load a layer from a geopackage source
2. Set some easy to recognize style
3. In properties or the styling panel, click on save as default. Save i

[2021-04-15 12:08] gioman commented on #42811
Confirmed also on master.

[2021-04-15 13:06] willemhoffmans commented on #40642
Hello Jeroen and others,

Indeed, something very strange happens. I imported a CBS dataset **gemeenten2020** from a geopackage. Did it by ogr2ogr, so NOT in DB Manager itself. But the Table View ends up with a complete mess, as this short movie shows. A whole lot of rows change into something different if you scroll downward en upward in the table view!

https://user-images.githubusercontent.com/2

[2021-04-15 13:29] gioman commented on #42805
@webgis147 why not using the native MS SQL provider in QGIS (I'm assuming your are using ODBC instead)?

this seems something related to using such driver on Ubuntu, not QGIS itself.

[2021-04-15 15:01] rbovard opened #42813 "Use a read-only line edit instead of combobox in relation reference doesn't allow to add a child from the parent"
**Describe the bug**
Use a read-only line edit instead of combobox in relation reference doesn't allow to add a child from the parent

**How to Reproduce**

1. Consider having 2 tables (`parent` and `child`)
2. Create a relation between them (Project - Propreties - Relations)
3. Open propreties of `child` layer and go to the *Attributes Form* panel
4. Set the widget type as *Relation Reference*
5.

[2021-04-15 15:50] sigmoe opened #42814 "Unable to change the labels properties on non-editable layer"
**Describe the bug**
When you try to change the labels properties on a non-editable layer (MapInfo layer for example), the message "Cannot change "xxx" - the layer "XXX" could not be editable" appears

**How to Reproduce**
1. See the video attached
2. On a non-editable layer with labels, click on the Cahnge label properties icon, and try to modify some properties of a label
3. The error appears

*

[2021-04-15 18:23] Houska1 commented on #42806
OK, no one seems to feel this is Wrong, so closing it. In case anyone else ever has this issue, I used python-style format as a workaround with a custom expression function, which behaves as expected:

[code]

[2021-04-15 18:23] #42806 closed

[2021-04-15 20:27] Brent-Edwards opened #42815 "Feature request - Rasterize mesh dataset tool: output data type and nodata value options"
The tool defaults to Float64 data type and NaN for nodata. It would be useful to provide the possibility to modify these defaults.

Previously posted as a feature request when the tool was part of the Crayfish plugin - [https://github.com/lutraconsulting/qgis-crayfish-plugin/issues/411](url)

[2021-04-16 00:03] stratiform commented on #42066
Also experiencing this problem in 3.16.5

[2021-04-16 01:02] zacwang89 commented on #42066
I can confirm the issue in 3.16.5 as well. But not in 3.10.14 or 3.14.16

[2021-04-16 01:13] Houska1 commented on #42806
Since we're not going to change it, at least added guidance in help for the format function to point user to Qt's QString::arg description, which is in general a good idea given the number of different formatting functions out there.

[2021-04-16 04:21] frchalaoux commented on #42776
@gioman and @all, thanks for the test ! Now, what is the road to follow to help ? Should I investigate others things ?

Cheers

[2021-04-16 05:26] akypar opened #42818 "Raster shift"
I think it would be very useful if anyone could develop a tool like "Vector geometry/Translate" for rasters, i.e. capable to move a raster layer by offsetting with a specified x and y displacement.
Thanks!!

[2021-04-16 05:46] chkaval commented on #42818
I would certainly agree. There is no straight way to shift a raster in Q but this is an ultimate need. Freehand Raster Georeference is an option but it is working somehow manually and you can't shift multiple rasters at an exactly same offset.

[2021-04-16 05:51] webgis147 commented on #42805
Hi Giovanni,
How do I use the native provider? If I try it similar to Win10, I also receive the "Driver not loaded message". Is it possible to establish a Qgis  connection directly from Linux to an MSSQL Server running on Windows at all? Or do I miss some important requirements.
many thanks for your help!
Johannes
![Screenshot 2021-04-16 072827](https://user-images.githubusercontent.com/11421740/1

[2021-04-16 08:03] janhec opened #42819 "crash after loading renamed gml"
## User Feedback

loading an xml with gml content after renaming it to .gml

## Report Details

**Crash ID**: [7949289ebb8e3fe148837904e387c6c4b8a7901f](https://github.com/qgis/QGIS/search?q=7949289ebb8e3fe148837904e387c6c4b8a7901f&type=Issues)

**Stack Trace**
<pre>
QBitArray::QBitArray :
QgsVirtualLayerDefinition::query qgsproperty.h:164
QgsRuleBasedRenderer::convertFromRenderer qgsrulebasedrend

[2021-04-16 08:05] rherasm opened #42820 "accessing to PrestoDB through a ODBC driver"
**Describe the bug**
Unable to load data from a Database PrestoDB v0.227 (AWS) through ODBC driver (Simba ODBC Driver).

**How to Reproduce**
Adding a new layer from a database through ODBC. It crashed after a few minutes.

**QGIS and OS versions**
QGIS 3.18
Windows 10 x64

**Additional context**

Crash ID: 06185e4f55750f7d778aea3693e2e4be9daec2b3

Stack Trace

memcpy_repmovs memcpy.asm:114
CPLODB

[2021-04-16 09:45] y-vasyunin opened #42821 "Change Data Source tool deletes existing layer metadata"
**Describe the bug**

Changing a data source of a vector layer cleans out its metadata.

**How to Reproduce**

1. Check out that your layer has some filled metadata, such as Abstract and Contact information, in **Layer Properties** -> **Metadata**.
2. Right click on the vector layer in the **Layers Panel** and then **Change Data Source...**
3. Select a new datasource in an appeared popup window. Y

[2021-04-16 10:16] Forna73 opened #42822 "Labels along perimeter"
It should be nice to have some more control on labels along perimeter option, for instance:

- If you are on a polygon perimeter the option to get it "inside" or "outside" the polygon. At the momnent the options "right of the line" or "left of the line" can give you alternate positions for the same polygon; also the option "dependant from line orientation" gives you different layouts cause you cou

[2021-04-16 10:16] jakimowb commented on #42818
Just because I had to do so yesterday, you could use´this python script to shift an image (in coordinate system units).

[code]

[2021-04-16 10:33] akypar commented on #42818
Thank you jakimowb!

This is a solution indeed, but for non python users would be rather
complicated...

I thouht that such a simple task would be easily developed as a QGIS
tool assesible for simple end users, since there is already a similar
tool for vectors.

On 16-Apr-21 13:17, jakimowb wrote:

[2021-04-16 10:35] chkaval commented on #42818
Καλά του τα πες

Κομπιουτεράκηδες

Προσπαθώ κι εγώ να τρέξω python……

Δρ. Χρήστος Καβαλάρης

ΕΔΙΠ

Τμήμα Γεωπονίας, Φυτικής Παραγωγής

& Αγροτικού Περιβάλλοντος

ΠΑΝΕΠΙΣΤΗΜΙΟ ΘΕΣΣΑΛΙΑΣ

Τηλ +30-242-109-3244

Κιν. +30-694-769-1520

Email  ***@***.***> ***@***.***, Skype chkaval

Οδός Φυτόκου, 38446 Βόλος

 <https://www.linkedin.com/feed/?trk=nav_back_to_linkedin>    <https://www.facebook.com/hacaco

[2021-04-16 12:03] roya0045 commented on #42066
Add an else symbol/category and display it when you select/edit, that usually solves this.

[2021-04-16 12:31] gioman commented on #42818
@akypar you may want to consider porting to QGIS 3 this plugin https://github.com/geodrinx/rasmover

[2021-04-16 12:33] gioman commented on #42066
@roya0045 and yet I think that this very counter intuitive for common user, especially of this worked previously without this trick. What do you think?

[2021-04-16 12:35] gioman commented on #42776
@frchalaoux try on a different machine, to exclude local issues.

[2021-04-16 12:36] gioman commented on #42820
@rherasm can you give us a PrestoDB endpoint we can try?

[2021-04-16 12:37] gioman commented on #42819
@janhec please attach the file.

[2021-04-16 12:39] gioman commented on #42805
@webgis147 you are assuming that this is a bug but probably is just a missing library on Linux. You should ask in the users or developers mailing lists, not here.

[2021-04-16 12:54] rherasm commented on #42820
Sorry @gioman , I can't provide you it at this time, my current instance is within AWS with not direct access to Internet.
But maybe I could prepare you a testint end-point in the coming days if that could be useful for you in order helping you to fix that bug. I would depend of your availability and period of time needed.
Please confirm it and in such case I'd contact my operations department in

[2021-04-16 14:32] roya0045 commented on #42066
@gioman I'm not sure if it worked previously. I tried to debug this summarily but it's something deep having an issue with the symbology evaluation. Rendering with expression can be wacky at times.

[2021-04-16 14:49] Brent-Edwards opened #42823 "Rasterize mesh dataset tool: python error when running it in batch mode"
When running the said tool in batch mode (Right click>Execute as Batch Process) with several hundred processes (100s of lines), the tool crashes intermittently after successfully generating several, but not all of the output rasters. The batch processes are populated by a JSON file via the Open (Batch) button in the tool dialog. I am able to rerun the batch iteratively starting from the last succe

[2021-04-16 15:54] akypar commented on #42818
I have tried that, but the pluggin cannot be installed in QGIS 3.xx:

Couldn't load plugin 'rasmover-master' due to an error when calling its
classFactory() method

*This plugin is incompatible with this version of QGIS*
Plugin designed for QGIS 2.0 - 2.99

On 16-Apr-21 15:31, Giovanni Manghi wrote:

[2021-04-16 15:55] roya0045 commented on #42818
[Gdal move](https://gdal.org/programs/gdalmove.html) exists but is not a tool.

[2021-04-16 16:52] luipir opened #42825 "[processing] Raster calculator in embedded model can't refer to embedded model input"
**Describe the bug**
I've a WORKING processing model that contain native Raster Calculator.
If I embed thsi model in another model, the raster calculator cant find the linked variable

**How to Reproduce**
Load the two model in the following zip file
[raster_calculator_issue.zip](https://github.com/qgis/QGIS/files/6326646/raster_calculator_issue.zip)

_tests_rastetr_calculator_issue.model3_ is the

[2021-04-16 17:06] uclaros commented on #42595
@gioman Yes, that would make sense for me!

[2021-04-16 21:35] sb4 opened #42827 "export bbox wrong when feature crosses anti-prime-meridion (180 deg)"
**Describe the bug**

I am exporting a layer (CRS: EPSG:4269-NAD83) that only contains the US State of Alaska (highly simplified for this report) with "WRITE_BBOX" set to "True".   The bug is that the bbox array in the JSON output file has "wrong" / unusable longitude values.  I believe the cause is that the "Alaska" feature crosses the antimeridion of 180 deg, and the largest positive longitudes

[2021-04-16 23:24] patriciout opened #42829 "Crash whilte editing legend"
## User Feedback

I was editing the legend in the map template and accidentally hit the DELETE key when the legend box was selected.
![Captura](https://user-images.githubusercontent.com/82684604/115093777-67255300-9ee9-11eb-8e92-c9a1fc117198.PNG)

## Report Details

**Crash ID**: [697d5b7e89a3daa369ece5b483b5d4dfe097a0a9](https://github.com/qgis/QGIS/search?q=697d5b7e89a3daa369ece5b483b5d4dfe097a0

[2021-04-17 00:45] naf140230 commented on #38036
I have a similar problem. I do not want any workarounds. I want this issue to be solved. It is still occurring in QGIS 3.16 and QGIS 3.18

[2021-04-17 11:04] LucySaluki commented on #42595
Ok thanks, I understand, and yes a warning message would be helpful. Feel free to close the issue if you need to.

[2021-04-17 11:14] jaspermowatt opened #42830 "Crash when viewing point cloud"
Qgis Crashes when point cloud (34mb) is loaded as a .laz file and I try to rotate in the 3D viewer. Initally works for a few seconds, then freezes and crashes. Repeatable.

Dropbox file containing the data: https://www.dropbox.com/sh/wypm2l8ihkonuup/AAC0LEKvbcIB7GhQi9zMspdka?dl=0

Steps to reproduce:

New QGIS
Navigate to: odm_georeferencing --> select odm_georeferenced_model.laz and drag and drop

[2021-04-17 13:01] klakar commented on #37473
I think I'm on to a possible identified problem.
If the value that the style is based on contains a "comma", then masking will be dropped when reopening a saved project.
In the "masking_test_old_styles.zip" file the styles that fail to keep the masking settings contains a comma in the attribute table.
If all commas are replaced with "nothing" and the table saved, then masking settings will work ev

[2021-04-17 13:41] #42760 closed

[2021-04-17 16:45] sb4 commented on #42827
I would like to update my bug report.  I realize that this is probably not a "bug" but perhaps a matter of interpretation of a bounding box on a sphere with a particular coordinate system.  I believe I'm looking for the "tightest" bounding box, and using prime meridian based -180 to 180 coordinates does not do that for the US State of Alaska because it creates a bounding box that stretches around

[2021-04-17 17:16] gioman commented on #42818
@roya0045 seems different. The above suggested plugins allowed to shift a raster without changing its CRS.

[2021-04-17 17:17] gioman commented on #42818
@akypar in fact I said you could consider porting it to QGIS 3, as it does what you need.

[2021-04-17 17:19] gioman commented on #42829
@patriciout please test on a new QGIS profile, is the problem persist attach a sample project+data to allow us replicate.

[2021-04-17 17:23] gioman commented on #42820
@rherasm there is no guarantee that anyone will have a look at this problem, even if you provide the endpoint, in its free time or during the bug fixing campaigns, but without the endpoint the chance is basically zero. If you and your organization need a quick fix for this then you should look for commercial support on the qgis.org's web site.

[2021-04-17 17:24] gioman commented on #38036
@naf140230 if you "want" a fix then look here https://qgis.org/en/site/forusers/commercial_support.html

[2021-04-17 17:42] CoryAlbrecht opened #42832 "Ambiguous JSON errors"
**Describe the bug**

I get a crap tonne of these whenever I open a certain project with PostGIS layers that have JSON columns.

`Warning: Logged warning: Cannot parse json ([json.exception.parse_error.101] parse error at line 1, column 1: syntax error while parsing value - unexpected end of input; expected '[', '{', or a literal):
Warning: Logged warning: Cannot parse json ([json.exception.parse_

[2021-04-17 17:48] dario955i opened #42833 "Crash on zoom-in"
Crash ID: 38dfb627cb1973ee90f669124d0cf7c501d37f30

Stack Trace

GEOSEquals_r :
GEOSEquals_r :
QgsGeos::shortestLine :
QgsGeometry::shortestLine :
QgsCallout::QgsCalloutContext::operator= :
QgsSimpleLineCallout::draw :
QgsCallout::render :
QgsVectorLayerLabelProvider::drawCallout :
QgsVectorLayerLabelProvider::drawLabelBackground :
QgsLabelingEngine::drawLabels :
QgsDefaultLabelingEngine::run :
Qg

[2021-04-17 17:50] gioman commented on #42833
@dario955i please try with a new QGIS profile, no 3rd party plugins installed. If the problem persist please add detailed steps to replicate and as well a sample project with data.

[2021-04-17 17:57] gioman commented on #42830
On master/linux I could not replicate the crash, but CPU usage rocketed.

[2021-04-17 18:15] CoryAlbrecht commented on #41564
Did this ever get worked on and figured out why PostGIS was trying to write NULLs to files where json data had been entered into the fields?

[2021-04-17 18:24] frchalaoux commented on #42776
@gioman, Or on a different account on the same machine. I will to it. Keep in touch

[2021-04-17 18:44] roya0045 commented on #42833
@gioman I'm pretty sure the issues with QgsGeos::shortestLine : are fixed in the latest versions already. I propose closing this.

[2021-04-17 19:12] bjornharrtell opened #42834 "Exporting FlatGeobuf allow other than UTF-8 encoding"
FlatGeobuf only supports UTF-8 encoding and the encoding selection should be grayed out as with fx. GeoPackage.

I've as of yet failed to locate what logic controls this.

[2021-04-17 19:15] gioman commented on #42798
Seen the same also on master/linux.

[2021-04-17 19:33] gioman commented on #42761
@ricardogsilva thanks for the info! but weird, I was really sure that in a WMS/WFS client was possible to use geonode credentials (basic http auth) to authenticate in a geonode/geoserver endpoint and so access layer that are protected trough the geonode permissions. Am I wrong?

[2021-04-17 20:01] JohnMaps opened #42835 "Raster calculator does not create/store statistics for output rasters"
Apparent bug in QGIS raster calculator: The raster calculator produces incorrect results.

Steps to reproduce:
Context - I'm trying to normalise a population density map - e.g. to get the range of values to go between 0 and 255.
Step 1 - Import https://data.worldpop.org/GIS/Population_Density/Global_2000_2020_1km/2020/GBR/gbr_pd_2020_1km.tif
Step 2 - Note that it has a maximum value of 27500.1
Ste

[2021-04-17 20:21] gioman commented on #42835
@JohnMaps you have to enter raster properties > symbology > min/max values settings and change "accuracy" to "actual" and then click "apply" and you'll see that the values are the same...

[2021-04-17 20:46] lukas-hribik commented on #42798
Same problem when copying/pasting from another shapefile or mysql layer (maybe any type of layer is affected).

[2021-04-17 21:01] JohnMaps commented on #42835
Hi - thanks very much. I have changed that, but it still returns the same results. Any further advice appreciated!

[2021-04-17 21:57] naf140230 commented on #38036
From a brief glance of the URL, I can see that there are many groups who contributed to QGIS. I will take a more thorough look soon.  In the meantime, do you have any recommendations on which specific ones might have the solution I need or at least whom I could inform of the problem?

[2021-04-17 23:26] #42761 closed

[2021-04-18 08:38] agiudiceandrea commented on #42835
@JohnMaps could you please try again?

You need to

for the raster layer which is the result of the Raster calculator tool.

[2021-04-18 09:01] MG977 commented on #42729
Hi, I had the same issue.
In my case, the crash was caused by the EnMAP-Box 3 plugin (v.3.7).

[2021-04-18 09:09] JohnMaps commented on #42835
@agiudiceandrea ah perfect - that works. I was making the change on the original layer. Thanks very much. If only they flagged in the raster calculator the fact that it by default does it only roughly (or at least said so in the manual on the raster calculator). Anyway, thanks very much.

[2021-04-18 09:18] Bananastand-Money commented on #42729
Outstanding, that fixed it and it looks like you've already let the devs at EnMap Box know about the issue.

[2021-04-18 10:32] fiddlersfan commented on #42821
I can reproduce the bug on my end as well. The bug occurs not only when the user actively wants to change the data source, but also when a data source is no longer available at startup ("Handle Unavailable Layers" dialog). Especially in the case it is annoying for the user, because this is not a conscious action...

[2021-04-18 13:34] gioman commented on #42835
@JohnMaps fun fact, "they" includes also you. Feel free to submit a patch against QGIS documentation.

[2021-04-18 16:03] simogeo opened #42847 "Add a warning to raster layer (on layer panel) when max value is estimated and not accurate"
When rescaling a raster, the new created raster is displayed with estimated max value which appears to be wrong output.

It would be nice to select maximum accuracy by default or **at least to add a warning / symbol to tell user when max value is estimated** only.

To understand better, see following Q&A :
https://gis.stackexchange.com/questions/394114/note-qgis-raster-calculator-defaults-to-not-b

[2021-04-18 16:07] gioman commented on #42847
Agree.

[2021-04-18 23:19] #42834 closed

[2021-04-19 05:59] bjornharrtell commented on #42834
Thanks @nyalldawson! ❤️

[2021-04-19 07:03] elpaso commented on #42835
Just a note: this has nothing to do with raster calculator, it is caused by the way the raster renderer calculates min and max values based on a sample.

[2021-04-19 09:21] agiudiceandrea commented on #42835
Hi @elpaso I think the issue is also in how the Raster Calculator creates the output raster: it seems it "forgets" to calculate and save new statistics for the output raster layer.

The provided gbr_pd_2020_1km.tif raster GeoTIFF contains the <GDALMetadata> tags with the statistics for that raster, so when opened in QGIS it displays correctly also with the "Estimate (faster)" accuracy statistics o

[2021-04-19 09:26] elpaso commented on #42835
@agiudiceandrea fair point, let's reopen then.

[2021-04-19 09:37] agiudiceandrea commented on #42847
See https://github.com/qgis/QGIS/issues/42835#issuecomment-822315928

[2021-04-19 10:08] thadeirugambwa opened #42856 "Can't find Raster extraction option"

[2021-04-19 10:21] Gustry commented on #42856
Do you have the "Processing" plugin enabled ?

You need to give more context, please fill the required bug report template.

[2021-04-19 10:25] simogeo commented on #42835
I Would also say that it should be enabled by default.

[2021-04-19 10:27] uclaros opened #42857 "Crash when loading Oracle layers"
**Describe the bug**

After rebuilding a recent master (b6e354f) I can no longer add Oracle layers without crashing.
My previously working master build was bcfe020

**How to Reproduce**
Loading any Oracle layer, with or without geometry, causes a crash.
[code]

**QGIS and OS versions**

QGIS version | 3.19.0-Master | QGIS code revision | b6e354f46f
-- | -- | -- | --
Compiled against Qt | 5.15.2 |

[2021-04-19 11:28] elpaso commented on #42835
@simogeo I would say no option and just create the statistics every time: I can't see a use when the statistics are unwanted.

[2021-04-19 11:32] ThorstenLWK opened #42858 "QGIS SAGA-Toolbox Simple Filter"
**Describe the bug**
Using the process <Simple Filter> from the SAGA-toolbox on a raster dataset results in edge pixels showing out of range data.

**How to Reproduce**

1. Go to 'Processing Toolbox SAGA>Raster Filter'
2. Click on 'Simple Filter'>Search Mode "Square">Filter "Smooth">Radius "2"
3. Check the result (Filtered Grid).

**QGIS and OS versions**

QGIS version
3.16.4-Hannover
QGIS code re

[2021-04-19 11:38] simogeo commented on #42835
@elpa :+1:

[2021-04-19 11:38] agiudiceandrea commented on #42835
Probably creating the raster statistics is time consuming and the user could choose to only create them at the end of an algorithm/model which applies multiple tools to the raster layer.

[2021-04-19 11:46] simogeo commented on #42835
@agiudiceandrea : I suppose that's why the estimation approach exists, indeed.

I have no idea of the amount of time it takes to process stats. Most of the time, it is probably shorter than opening Properties tab and change max stats rendering in dialog box ....
By the way, end user is always willing to wait when processing data.

**Reliable data / display of data first** !

[2021-04-19 12:38] Jean-Roc commented on #38606
hi @andreasneumann did you find a workaround ? The most curious part is that it is seems to have a sane maximum size when a single symbol is used but not when you use a category.

![symbol_datadefined_mapunit_1](https://user-images.githubusercontent.com/736212/115237187-8e179b00-a11c-11eb-9db1-0272be993d95.JPG)

![symbol_datadefined_mapunit_2](https://user-images.githubusercontent.com/736212/11523

[2021-04-19 13:15] alexbruy commented on #42858
Does it produce different output when you run the same tool with the same input and parameters using SAGA command line tools?

[2021-04-19 13:36] ThorstenLWK commented on #42858
Yes, when we use SAGA as a stand-alone Programm with the same dataset the Edge Pixels are not produced.

[2021-04-19 13:43] alexbruy commented on #42710
Duplicates #42489

[2021-04-19 13:43] #42710 closed

[2021-04-19 13:49] gioman commented on #42858
@ThorstenLWK you sure you used the same SAGA version used by QGIS and the very same command generated by QGIS? can you post here the command used?

[2021-04-19 14:29] uclaros commented on #42833
Probably already fixed by #41986

[2021-04-19 14:36] gioman commented on #42835
@elpaso @agiudiceandrea agree. But please note that this do not only happen (in QGIS) with rasters created within QGIS, it happens also with layers created in other programs/packages. This leads very often to confusion and it can also lead to serious mistakes if a user overlooks this aspect of QGIS handling min/max values by default. So I think that if we don't want an new option for it we should

[2021-04-19 14:38] ThorstenLWK commented on #42858
We use SAGA GIS Ver. 7.7. Simple Filter and compare it to the results we get with QGIS 3.16 SAGA-Toolbox Simple Filter.
Please find attached the SAGA 7.7 information for Simple Filter.
![SAGA_7_7_Simple_Filter](https://user-images.githubusercontent.com/82802670/115254191-65e46800-a12d-11eb-9eac-9c6eaefb823a.png)

[2021-04-19 14:41] gioman commented on #42858
@ThorstenLWK if you are on Windows then QGIS still uses a very old SAGA release (2.something if I'm not wrong). You should check from the CLI with the same SAGA version.

[2021-04-19 14:42] elpaso commented on #42835
@gioman this may actually be doable with the raster calculator because it generates new values and we are able to gather max/min while generating the (whole) output raster without additional I/O.

For many other uses, the default approximated statistics method is of course much faster that retrieving all the values from the source.

[2021-04-19 14:48] gioman commented on #42835
@elpaso yes I understand it. I was just saying that we miss a clear warning (when loading rasters) that the mix/max values that are shown may be not the real ones (see https://github.com/qgis/QGIS/issues/42847) and this leads to real confusion (for which we get often reports/complains) and ultimately can lead to very wrong, real life, decisions in case a user overlooks this detail.

[2021-04-19 14:58] webgis147 commented on #42805
Hi Giovanni,
Thanks for your feedback, i raised this issue on gis.stackexchange.com more than a year ago without a result. I will post is now on the developers an user mailing list.

br
Johannes

[2021-04-19 14:58] #42805 closed

[2021-04-19 15:13] ThorstenLWK commented on #42858
Thanks! You are right: QGIS 3.16 (Windows 10) uses SAGA Version: 2.3.2 (64 bit). Can you substitute the SAGA 2.3.2 Simple Filter command with the command of the current SAGA Version for the upcoming QGIS-versions? Thanks again!

[2021-04-19 15:14] gioman commented on #42858
@ThorstenLWK so we close this?

the next generation of installers for windows will come with support for SAGA 7.*

[2021-04-19 15:17] ThorstenLWK commented on #42858
Thanks again!

[2021-04-19 15:17] #42858 closed

[2021-04-19 15:23] agiudiceandrea commented on #42858
@ThorstenLWK the new Windows MSI installers ship SAGA GIS 7.8.2 and you can already download them from the QGIS download page at https://qgis.org/en/site/forusers/download.html
![image](https://user-images.githubusercontent.com/16253859/115261321-ce364800-a133-11eb-8870-41f62876b48c.png)

[2021-04-19 15:25] ThorstenLWK commented on #42858
That´s great! Thank you so much for this information. I will try it tomorrow!

[2021-04-19 15:54] uclaros commented on #42834
No problem @bjornharrtell ! :)

[2021-04-19 16:18] luipir commented on #40425
yes please... just faced now this problem

[2021-04-19 16:37] guisamor opened #42861 "When I export a shp it loses the CRS"
Hello!
I am using QGIS 3.18.1 on Windows 10,
Whenever I export data to a new shapefile (for example only selected features), it doesn't save the .prj file. I need to assign the CRS again.
Thank you.

[2021-04-19 17:31] agiudiceandrea commented on #41855
@gioman could you please reopen this issue report?
Despite of the PR #42634 merged in master by @nyalldawson, the issue keep occurring in the latest QGIS 3.19-master 9655b710.

[2021-04-19 17:44] bjornharrtell commented on #42834
Oops sorry @uclaros I now see you are the kind author. :) So thank you, too!

[2021-04-19 18:20] gioman commented on #42861
@guisamor weird, can't confirm here. Please try with a new QGIS profile.

[2021-04-20 00:28] antoniolocandro commented on #41199
I think this is an edge case. There are already too many dialogs and panels.  I don't see the advantage of doing this within QGIS itself

[2021-04-20 00:52] gunterrds commented on #36333
By defaulting to the 'LIVE' workspace it means edits cannot be made to any features which are oracle workspace enabled as the default 'LIVE' workspace is locked.

[2021-04-20 05:23] lls88 opened #42864 "QGIS Server "Layer(s) not valid" accessing Oracle datasources layer"
Similar to the [issue](https://github.com/qgis/QGIS/issues/37525) , under
1. Windows 10  64bit
2. QGIS Server set up: OSGeo4W64
3. Http Apache Server

The qgis-oracle-provider is also installed. But i'm still getting the error in qgis_server.log:
...
WARNING Oracle[12712]: Connection to database failed
CRITICAL Server[12712]: Error, Layer(s) OO_LEITUNGEN_e7f18fd3_2de4_4f2d_8c29_3266abb28a14 not va

[2021-04-20 07:51] gioman commented on #42864
@lls88 how did you set up the authentication in the QGIS project?

[2021-04-20 07:58] elpaso commented on #42864
This is not a bug, we are using Oracle in production without issues and I believe it is a configuration/setup issue and that this is not the right place to handle it.

[2021-04-20 10:33] rpispico opened #42866 "FastVersion Plugin broken url"
The FastVersion plugin has broken urls to the homepage, the bug tracker and the code repository.

https://plugins.qgis.org/plugins/FastVersion/

Thanks
Rocco

[2021-04-20 10:38] #42866 closed

[2021-04-20 10:39] gioman commented on #42866
Not a problem in QGIS code.

[2021-04-20 11:57] Ales1289 opened #42867 "Default menu-Vector-issue 3.10-3.16"
Hello everyone,
during the work I´m not to be able open a vector tab in the menu.
Update from 3.10 to 3.16 and still same problem.

Any advice please?

[2021-04-20 13:02] oskarlin opened #42868 "Label mask settings gets dropped when attribute value contains a comma"
**Describe the bug**

Each time I reopen a QGIS file with masking all the categories that has a comma in the attribute name such as "Järnväg med enkelspår, ej elektrifierad" gets dropped.

**How to Reproduce**

1. Style a line layer Categorized based on attributes where it contains a comma.
2. Mask that layer
3. Close QGIS file
4. Reopen
5. Mask is gone for each layer that has comma in the name

*

[2021-04-20 13:09] #42867 closed

[2021-04-20 13:09] gioman commented on #42867
check if you have the Processing extension enabled.

[2021-04-20 13:46] jratike80 opened #42870 "Cloud optimized GeoTIFF (COG) layer does not use proxy"
As discussed on the mailing list https://lists.osgeo.org/pipermail/qgis-user/2021-April/048665.html QGIS does not use the proxy that is configured in general settings when adding a raster file either with "Add raster layer - Protocol - URI" or with "Add raster layer - File - /vsicurl/URI"

Connection through a proxy does succeed if the environment variable `GDAL_HTTP_PROXY ` is set.

Even when the

[2021-04-20 14:02] iiepdev opened #42871 "GDAL Raster calculator giving incorrect results when confronted with certain Raster layers"
**Describe the bug**

I am using GDAL Raster calculator to automatically reclassify Raster layers so that regardless of their initial values, they are transformed to be between 0 and 1 (or 0 and 100, as needed).

Since this needs to happen within a Graphical model, the algorithm needs to be able to automatically detect the minimum and maximum values within each Raster, and then make the following

[2021-04-20 14:03] gioman commented on #42871
@iiepdev you must try the same operation/command from the command line: do you get the same results? be sure you are using the same GDAL version/installation being used by QGIS.

[2021-04-20 14:18] iiepdev commented on #42871
Thank you @gioman

I have never used GDAL from the command line. I imagine you mean to run this command from the OSGeo4W Shell or from the Command prompt, using the GDAL/OGR console call command (which for this case is: gdal_calc --calc "(A - amin(A))/(amax(A) - amin(A))*100" --format GTiff --type Float32 -A "C:/Users/g.vargas/BOX/IIEP_MyProjects/MP_01000298_RND_SDA/WorkFiles_Experts/298-Issue-Pap

[2021-04-20 14:44] strk commented on #39938
Confirmed, the problem is terrible, lines are basically MODIFIED so what you see is NOT what those geometries are.
This problem is not there if you select "simple lines". It gets worst is you make the arrow symbol "curved".

[2021-04-20 14:45] strk commented on #39938
For the record, I'm experiencing this as of 4f79ba83352 aka 3.19.0-Master

[2021-04-20 14:48] ThorstenLWK commented on #42858
Thanks @ all. The MSI-Version of QGIS 3.18 works for us!

Issue solved.

[2021-04-20 14:49] gioman commented on #42871
@iiepdev yes the command is the one you refer, you must change it a little to be able to run it from the CLI manually, example:

`gdal_calc --calc "(A - amin(A))/(amax(A) - amin(A))*100" --format GTiff --type Float32 -A "C:/Users/g.vargas/BOX/IIEP_MyProjects/MP_01000298_RND_SDA/WorkFiles_Experts/298-Issue-Papers/298-Issue-Paper-UNOSAT/Geospatial Data - Part A/Part A/Raster Data/Hazard_Volcano_Aceh

[2021-04-20 15:07] uclaros commented on #42857
I rebuilt the previously working commit and the problem persists. I found in my logs that in the meantime qt5 was upgraded to 5.15.2 so this is probably where the culprit is.

[2021-04-20 15:15] jakimowb opened #42872 "Qt Assistant help file (qgis.qch) style issues"
### Description

The QGIS C++ API documentation can be downloaded as Qt Help file (`qgis.qch`) from https://qgis.org/api
Added to the Qt Assistant, this allows to browse and search the API docs very fast.

Since QGIS 3.18, the `qgis.qch` seems to have some broken styles affecting hyperlinks and table (?) elements, which makes it pretty unreadable:
![image](https://user-images.githubusercontent.com

[2021-04-20 16:33] roya0045 commented on #42868
@gioman This seems to be the same as #37473 despite the title.

[2021-04-20 16:34] gioman commented on #42868
@roya0045 possibly yes, but can't test right now.

[2021-04-20 17:05] jerstlouis commented on #42794
Confirming that the following diff works around the problem:

[code]

[2021-04-20 17:08] gioman commented on #42794
@jerstlouis can you create a pull request?

[2021-04-20 17:15] rouault commented on #42794
not with the proposed patch hopefully :-) The real fix would address why colorInterpretation() wrongly returns AlphaBand

[2021-04-20 17:29] jerstlouis commented on #42794
@gioman @rouault right, it was only a temporary work-around to identify the whereabout of the problem ;)
Thanks @rouault for clarifying this further.

I imagine this means there is still a data provider class in-between GDAL and QGIS where this `colorInterpretation()` is implemented, since you mentioned it's not a GDAL issue?

[2021-04-20 17:32] rouault commented on #42794
yep: https://github.com/qgis/QGIS/blob/7715a1291675c4402f95b93622fcc343683fcbee/src/core/providers/gdal/qgsgdalprovider.cpp#L1593

[2021-04-20 17:42] jerstlouis commented on #42794
So with this checks at the top:

[code]

the fact that there are exactly two bands seems to trigger this to be recognized as Alpha, because `mMaskBandExposedAsAlpha` is also set to true?

That is set per:
[code]

Not sure how QGIS can know whether a band is intended as alpha or not, ideally users would have control on that in the styling instead, just like they can chose to assign to the Red or Gr

[2021-04-20 17:50] roya0045 commented on #28954
Might be a local issue or hard to replicate. Is it still valid at least?

[2021-04-20 18:32] rouault commented on #42794
Actually, given the testOutput.tif.zip you include, QGIS behaviour is correct since the 2nd band is an alpha one:
[code]
This comes from the content of TIFF tags:
[code]

[2021-04-20 19:02] jerstlouis commented on #42794
Thanks for pointing this out this @rouault -- sorry for all the troubles.
It might be worthwhile for QGIS to consider allowing styles to override default the alpha band interpretation (e.g. allowing to map any band to the alpha channel).
Would it make sense to re-cast this issue into a feature request for that, or maybe to open a new one?

[2021-04-20 19:29] jerstlouis commented on #42794
NOTE: The original issue turned out to be a wrong assumption of the GDAL OGCAPI driver, which was limited to byte in
https://github.com/OSGeo/gdal/commit/b75f14ab12155c6b6f4544a9894c41f2f9a7d241

But this illustrates that there is a need to override a default wrong assumption (having 2 byte bands where neither represents alpha seems like a perfectly valid scenario).

[2021-04-20 20:55] roya0045 commented on #42872
what is the qt version of the assistant and your qgis installs? The files should be generated by qt and a mismatch may be the cause of those issues.

[2021-04-20 21:54] Akshiswdc opened #42874 "QGIS crashing unexpectedly"
Crash ID: f2661c87822a2222edf3ebe10235342019bdec73

Stack Trace

QBitArray::QBitArray :
QAction::text :
QgsShortcutsManager::actionByName qgsshortcutsmanager.cpp:295
QgsShortcutsManager::registerAction qgsshortcutsmanager.cpp:89
QgisApp::activateDeactivateLayerRelatedActions qgisapp.cpp:13660
QtPrivate::FunctorCall,QtPrivate::List,void,void (__cdecl QgisApp::*)(QgsMapLayer * __ptr64) __ptr64>::cal

[2021-04-20 22:15] #41855 closed

[2021-04-20 23:18] roya0045 commented on #42874
@gioman This is clearly a very old custom build or weekly build. I doubt there is anything to do with this..

[2021-04-21 01:59] SrNetoChan commented on #41839
@gioman @nyalldawson This still needs to be backported to the LTR branch, which seems to still suffer from this issue.

[2021-04-21 04:53] agiudiceandrea commented on #41839
@SrNetoChan the merging of the fix for 3.16 branch (https://github.com/qgis/QGIS/pull/42408) was postponed and it will be available in 3.16.7.

[2021-04-21 06:13] jakimowb commented on #42872
Qt Assistant & QGIS are compiled against:
OSGeo4W testing (QGIS 3.19): Qt 5.15.2
Conda environment (QGIS 3.18.1): Qt 5.12.9

[2021-04-21 06:45] SrNetoChan commented on #41839
Ah, great. Thanks!

[2021-04-21 07:31] DR-azery opened #42881 "data source manager not opening with correct sub menu for point cloud datasources"
**Describe the bug**

if you select Layer -> Add Layer -> Add Point Cloud Layer  the data source manager opens, but not necessarily with the Point Cloud menu selected. It will open with the menu used the last time the data source manager was used. For all other layer types, the data source manager directly opens with the correct menu.

**How to Reproduce**

- Open Qgis
- Open new project
- select

[2021-04-21 07:34] Yurii101 opened #42882 "Hello! I am using QGIS 3.16.3 on Windows 10, Not displayed the bin grid Shapefile in Qgis. What is the problem."
Hello!
I am using QGIS 3.16.3 on Windows 10,
Not displayed the bin grid Shapefile in Qgis. What is the problem.

this Shapefile is here
[bin_grid.zip](https://github.com/qgis/QGIS/files/6348887/bin_grid.zip)

[2021-04-21 08:54] cjpascoa opened #42883 "QGIS crashes while in 3D"
Hello,

    QGIS crashes when viewing a layer in 3D.
    I went to "New 3D Map view" and I setup the terrain type "online", vertical scale 1, tile res 16px and Skirt height 10 map units.
    It goes really well untill I turn on the labels or OSM and it indicates that it is loading 400 plus tiles.
    At some time, after working for a while, it stucks loading tiles and the program crashes.

    I t

[2021-04-21 09:49] DelazJ opened #42884 "@element variable is not working in print layout context"
In a print layout label property dialog, testing the following expression in 3.10 returns valid results
![image](https://user-images.githubusercontent.com/7983394/115533089-b1feec00-a296-11eb-9ee1-f91b46f95299.png)
The same in 3.16 fails
![image](https://user-images.githubusercontent.com/7983394/115533388-f8544b00-a296-11eb-820a-d41d39ed4784.png)
But the same expression in 3.16 in a select by expr

[2021-04-21 09:59] lls88 commented on #42864
I set up a basic authentication for the WMS URL, using the oracle database username and password. Is it right?

[2021-04-21 10:00] lls88 commented on #42864
Yes, you are right, i must have configured something wrong. Do you have any documentation/guide for me to follow?

[2021-04-21 10:22] elpaso commented on #42864
Not for windows, sorry.

For Linux:

About authentication: https://docs.qgis.org/3.16/en/docs/user_manual/auth_system/auth_workflows.html#qgis-server-support

This is our working container recipe: https://github.com/g3w-suite/g3w-suite-docker/blob/dev/Dockerfile.qgis-server-oracle.dockerfile
note that you need to download the SDK from oracle and unzip it before building the container, see: https:/

[2021-04-21 10:33] DelazJ commented on #42884
Same happens with an expression like `with_variable('ma_somme', 1 + 2 + 3, @ma_somme * 2 + @ma_somme * 5)`, meaning that custom variables use in print layout is quite impossible afaict.

[2021-04-21 10:42] NyakudyaA opened #42885 "Enable calendar widget in temporal range properties in Map composer"
# Problem

It would be nice to have the calendar widget open up for selecting the date for the temporal range controller in map composer.

This would make it easy for people to add standard datetime

![Screenshot 2021-04-21 at 12 39 22](https://user-images.githubusercontent.com/2510900/115540973-e8406980-a29e-11eb-818c-c899431ec5f1.png)

[2021-04-21 10:43] nyalldawson commented on #42884
I believe it's an issue just with the expression builder preview. Does the expression actually work after you accept it?

[2021-04-21 10:44] roya0045 commented on #42884
The ok doesn't seem grayed out. But I agree that the preview shouldn't require feature for standalone expressions.

[2021-04-21 10:51] DelazJ commented on #42884
Stupid I am. I was so focused on the expression dialog preview that I forgot I could write the expression directly in the text field. Yep it worked but as @roya0045 pointed out, impossible to press OK in the dialog.
Thanks @nyalldawson

[2021-04-21 10:57] david4est opened #42886 "user profile issue"
having installed QGIS 3.16, the top level menu still shows as for 3.4, with no geoprocessing toolbox and several default plugins not loaded (eg, no Vector tools).
Eventually I was able to find my user profile and remove that, so restarting the programme as a totally new user seems to have solved the problem, but clearly would be an issue for anyone with an existing profile.

[2021-04-21 12:44] gioman commented on #42886
@david4est I fail to understand where is the issue (or how to replicate it): you clearly had a profile with issues, the right move is to use a new one or reset/delete the old one.

[2021-04-21 12:46] gioman commented on #42884
@DelazJ so this must stay open or can be closed? or it does need a different title/description?

[2021-04-21 12:48] gioman commented on #42883
@cjpascoa please try with a new QGIS profile, if the problem persist please attach a sample project+sample data.

[2021-04-21 12:49] gioman commented on #42874
@Akshiswdc agree, this is way too old. Test again with the latest master, and reopen if the problem persist.

[2021-04-21 12:49] #42874 closed

[2021-04-21 12:57] david4est commented on #42886
Dear Giovanni
The point is that things worked perfectly well in QGIS 3.4. Updating to 3.16, the core seemed to work fine, but when I went on to do some more advanced tasks the tools were not available to me and their did not seem to be any simple way to install them.

I appreciate this is an issue with the user profile, which seems to have been retained from 3.4, but if you update a system it is r

[2021-04-21 13:00] gioman commented on #42886
@david4est I understand, but this do not seems to be a general issue. Is probably something related to your specific old profile, and so seems there is not much we can do (unless this is replicable in a consistent way, which I don't think it is).

[2021-04-21 13:01] gioman commented on #42882
@Yurii101 as a start, the DBF file is empty.

[2021-04-21 13:01] #42882 closed

[2021-04-21 13:02] gioman commented on #42881
@DR-azery works as expected here on QGIS master on Linux.