[2021-11-09 11:28] DelazJ opened #45959 "Ease the identification of extra dataset groups in the Source tab, using a background color"
### Feature description

In a mesh layer properties dialog, source tab, available datasets group, you can have:
* datasets groups  that are within the mesh layer
* extra datasets coming from a file that you can assign
* virtual datasets groups

The virtual groups are easily identifiable; they have a green background. It could be nice to have the extra datasets with another background color, to eas

[2021-11-09 11:37] ThomJea opened #45960 "pySimpleGuiQt.main() results in QGIS 3.16.13 crashing"
### What is the bug or the crash?

Ok so I have a script I try to run on QGIS. There are several gui and I made them with pySimpleGUIQt, I installed PySimpleGUIQt through OsGeo4W shell with py3_env. The script run in osgeo4w, then I launch Qgis and the script crashes

[code]

### Steps to reproduce the issue

- Open osgeo4w shell, type `py3_env` to setup the python environment
- Type `python -m pi

[2021-11-09 11:51] PhiliusMaximus commented on #45657
Posted to https://trac.osgeo.org/osgeo4w/ticket/702#no1 for further investigations.
Again, thank you to @gioman for the help!

[2021-11-09 11:56] Kaemer1645 opened #45961 "Changing units in symbology is not applied to all properties"
### What is the bug or the crash?

When I change symbology unit to meters in scale or others... Not all the symbol attributes change their units.
![1](https://user-images.githubusercontent.com/62249638/140914226-84bef6f7-d705-43db-a053-ece48a3e66a2.png)
![2](https://user-images.githubusercontent.com/62249638/140914233-b09dc7f0-d588-42f2-a02f-36d09c102900.png)

### Steps to reproduce the issue

1#

[2021-11-09 12:00] gioman commented on #45961
@Kaemer1645 please 1 report per ticket. So file separate ones, and give each one a meaningful (so to understand quickly what the issue is about) title.

[2021-11-09 12:20] gioman commented on #45960
3.22.0 and 3.16.13

![image](https://user-images.githubusercontent.com/1951107/140923199-7240cb5e-ef30-45e6-9f3a-53d1ab8c7b55.png)

[2021-11-09 12:24] geoyee commented on #45956
Is 3.22  a version of QGIS?
The first snippet given can work on my QGIS:
[code]
But the code below doesn't work:
[code]
`feat.geometry().get()` can't be received by a variable`mypoint`.

[2021-11-09 12:24] gioman commented on #45957
possibly yes, you are right, I will have a look at it.

[2021-11-09 12:43] ThomJea commented on #45960
Arf...Thank you for the feedback. so it seems that it was bothering everyone for nothing... so I will look into my personal setup...

[2021-11-09 13:16] Kaemer1645 commented on #45961
So i need to close this report?

[2021-11-09 13:28] roya0045 commented on #45940
@nyalldawson was one of the available keyword/options in the expression parser able to achieved this? I was under the impression that yes but I may be mistaken.

I'm also not sure if this is the intended behaviour or not...

[2021-11-09 13:39] gioman commented on #45961
@Kaemer1645 you can edit title and description of this one in order to match one of the reports.

[2021-11-09 13:58] coefficient1900 commented on #45939
I tested it on a complete different windows machine which has never seen any QGIS before and used the standalone .msi installer for that. It occured the same issue. When loading a shape layer the CRS is not detected correctly. Here the result when I export the example layer from above with the version 3.16.13. When you look at the .prj you see that for wgs84 (EPSG: 4326) it is not set correctly. [

[2021-11-09 14:05] ThomJea commented on #45960
Ok, I upgraded to 3.16.13 and now PySimpleGUIQt is loading but Qgis crashes when launching the test `PySimpleGUIQt.main()` which sould display this image https://warehouse-camo.ingress.cmh1.psfhosted.org/bc46cb51bd5cfa472dbee237a8f148202c14b6cd/68747470733a2f2f757365722d696d616765732e67697468756275736572636f6e74656e742e636f6d2f34363136333535352f37313432313835322d37633661643430302d323634622d3131656

[2021-11-09 14:15] ThomJea commented on #45960
report given by QGIS
## User Feedback

Crash du to the use of PySimpleGUIQt.main() inside the console

## Report Details

**Crash ID**: [251d613e68f4e2c9927f2b7343a679de2891701e](https://github.com/qgis/QGIS/search?q=251d613e68f4e2c9927f2b7343a679de2891701e&type=Issues)

**Stack Trace**
<pre>
MakeQAppWrapper :
SbkQAppTpNew :
PyEval_EvalFrameDefault :
PyEval_EvalFrameDefault :
PyObject_GC_Del :
PyE

[2021-11-09 14:46] alpinfra opened #45963 "Export MBTiles to QField"
### What is the bug or the crash?

QGIS 3.22.0 crashes when exporting a project containing MBTiles to QField.
Does not happen with version 3.16.4, here the export finishes successfully

### Steps to reproduce the issue

1. Install Plugin QFieldSync
2. create or load MBTiles file
3. Choose Package Project for QField
4. Click on Create
5. QGIS crashes, but not immediately

### Versions

3.22.0

###

[2021-11-09 14:47] gioman commented on #45963
@alpinfra must be reported in the qfield sync plugin tracker, not here.

[2021-11-09 14:47] #45963 closed

[2021-11-09 15:13] T3xtM4rk3r opened #45965 "Raster layer exported to GeoPackage with the character 'ß' in the name is not immediately loaded in the project"
### What is the bug or the crash?

Hi Everyone,

there seems to be an issue with the encoding of the special character ß when exporting a raster layer to a geopackage.
Exporting vectors layer with an ß in it's name works just fine.

Any help with this is really appreciated

### Steps to reproduce the issue

1. Open QGIS 3.16.13
2. Drop raster.zip into Layers Panel
[raster.zip](https://github.com/q

[2021-11-09 16:06] gioman commented on #45965
@T3xtM4rk3r everything is fine here on 3.22.0, would you mind give it a try? Thanks.

[2021-11-09 16:11] coefficient1900 commented on #45939
@gioman, @agiudiceandrea thanks for your replies. I tested it also on a virtual ubuntu machine and the layer loading behaves as expected, but the GDAL and PROJ version is not the same as on windows either.

![ubuntu](https://user-images.githubusercontent.com/86417466/140961143-8413c04a-c24f-4ae3-ae62-ea90ec9714a5.PNG)

[2021-11-09 17:03] cath222ou opened #45968 "WMS data - checkable features and group of data"
### Feature description

When using WMS data, we would like to see the data like in ArcMap where each class of the WMS service is checkable and the groups are preserved.

For example, in ArcMap, I get this with my WMS service:
![image](https://user-images.githubusercontent.com/30536406/140968013-5e163bb3-9733-45fc-ae89-752db0d48cad.png)

But, with QGIS, I obtain this:
![image](https://user-images.

[2021-11-09 17:14] gioman commented on #45968
@cath222ou can you share the URL?

[2021-11-09 17:53] cath222ou commented on #45968
@gioman Unfortunately, I can't share the URL because it is a private URL. However, I can share with you another WMS URL that has the same result as my WMS service in ArcMap and QGIS.

https://geoegl.msp.gouv.qc.ca/ws/mffpecofor.fcgi

Example:

In ArcMap:

![image](https://user-images.githubusercontent.com/30536406/140977832-317ba176-51ff-4b93-ad4e-bc54dd303ba3.png)

In QGIS:
![image](https://user-

[2021-11-09 19:33] T3xtM4rk3r commented on #45965
Hi gioman

i just tried with a freshly installed 3.22.0.

The raster layer itself seems to be saved correctly and add layer to project is working.

![image](https://user-images.githubusercontent.com/92782306/140991731-c000f99a-f15c-4ecb-a475-ebeea95a976d.png)

But during the export I still got several messages in the Log Panel

![image](https://user-images.githubusercontent.com/92782306/140991604-

[2021-11-09 19:54] Brent-Edwards opened #45969 "DB Manager - PostGIS - Import Layer/File - Support for specifying tablespace other than default"
### Feature description

As of QGIS 3.22, the Import Layer/File tool does not provide an option for specifying the the tablespace for the layer/table to be imported into. The user is thus forced to move the table/index to the desired, non default tablespace through SQL.

### Additional context

_No response_

[2021-11-09 20:57] hay216 commented on #45945
Thanks Giovanni – much appreciated

K

 T +61 3 62325260
GPO Box 1538, Hobart, Tasmania, 7001
http://people.csiro.au/H/K/Keith-Hayes
https://au.linkedin.com/in/keith-hayes-2a799714
https://scholar.google.com.au/citations?user=_aNBKvyrGigC&hl=en
CSIRO acknowledges the Traditional Owners of the lands that we live and work on across Australia and pays its respect to Elders past and present.

From: Gi

[2021-11-09 21:03] nyalldawson commented on #45960
This is not supported. You must use PyQt for development in QGIS, not other qt python libraries. If it worked in previous versions it was purely by luck.

[2021-11-09 21:03] #45960 closed

[2021-11-09 21:04] nyalldawson commented on #45956
It's caused by the python garbage collector prematurely cleaning up objects.

Store a reference to the geometry in a variable first and it will work as expected:

    geom = f.geometry()
    geom.get().....

[2021-11-09 21:04] #45956 closed

[2021-11-09 21:06] #45957 closed

[2021-11-09 21:40] gioman commented on #45968
@cath222ou I agree, that would be immensely useful. I edited the title to better reflect the request.

[2021-11-09 21:54] gioman commented on #45965
this is a warning, not error

this is an error, and it seems it the cause why the layer is not added automatically in the project after the export. But then adding it manually or via browser is ok.

[2021-11-09 22:54] gioman commented on #45939
@coefficient1900 @agiudiceandrea confirmed on the standalone installer, but not the osgeo4w. Very worrying issue.

[2021-11-10 00:50] geoyee commented on #45956
THX, I'll look at python garbage collection~

[2021-11-10 00:59] arojas314 opened #45973 "QGIS 3.16.13 does not read .prj file when importing shapefiles"
### What is the bug or the crash?

.prj files not being read by the new qgis 3.16.13 standalone install.

No issues with other versions. After complete uninstall and reinstalling, still getting the same issue.

### Steps to reproduce the issue

Import a shapefile, and there will be no associated CRS.

### Versions

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/s

[2021-11-10 02:40] #45301 closed

[2021-11-10 02:40] #45288 closed

[2021-11-10 02:41] zenchemical commented on #30587
I don't know if you noticed this, but the one in 3.22 at least outputs tile sets that are out of bounds of the actual TMS tiles. For example, in google tiles it will output negative numbers, and for TMS it will output tiles like 1/1/12.png, which is out of scope for TMS since level 1 only contains 1/0/0 1/0/1 1/1/0 and 1/1/1.

It looks like it's spending a lot of time iterating and generating tile

[2021-11-10 04:24] coefficient1900 commented on #45973
Seems to be the same as issue #45939 .

[2021-11-10 05:48] alexbruy commented on #45973
Looks like a duplicate of #45939

[2021-11-10 05:49] alexbruy commented on #45973
Duplicates #45939

[2021-11-10 05:49] #45973 closed

[2021-11-10 06:05] geoyee opened #45974 "[Crash] The same code in editor"
### What is the bug or the crash?

When I use some code on the console, QGIS returns the correct results for me, but the same code running in editor, **QGIS APP CRASH!**. The difference is:
-  `d4()` is not used in console, and the code is entered line by line
-  `d4()` is used in .py file

CODE:
[code]

On the previous issue, some code crashes QGIS but not display some error or warning. (Maybe a

[2021-11-10 06:05] pathmapper commented on #45939
Confirmed on Windows 10 with standalone installer (https://qgis.org/downloads/QGIS-OSGeo4W-3.16.13-1.msi).

[2021-11-10 06:58] agiudiceandrea commented on #45939
Confirmed on Windows 10 with the latest available OSGeo4W v2 MSI Standalone Installer QGIS-OSGeo4W-3.16.13-1.msi

![image](https://user-images.githubusercontent.com/16253859/141064783-3058e7d1-94ea-45fd-87d3-2d6ff4da7f50.png)

[2021-11-10 07:25] sigeal commented on #45939
Same issue here with gpkg layers : default project CRS is assigned to layer, wether it is loaded by drag'n drop or through datasource manager.

[2021-11-10 10:26] Forna73 commented on #45961
About the first bug, it's not present in 3.16.6 in which it works as assumed.

[2021-11-10 11:00] P-SLISSE opened #45978 "3D rendering scene limited by a Bounding Volume"
### Feature description

Hello,
I use the 3D cartographic scene with GIS data that cover 320 km² : elevation raster for terrain, vector data for 3D features (building, trees, city furniture).
In all my usecases, i need a 3D scene only covering a small area (a few km²).
I think it would be helpful to be able in the 3D cartographic scene settings to **set a bounding volume** in order to limit the re

[2021-11-10 13:54] fgodoyf opened #45980 "I can't find the folder "https://qgis.org/ubuntu/dists/focal/main/binary-i386/""
### What is the bug or the crash?

Missing repository for Ubuntu focal 20.04.3 architecture i386.

### Steps to reproduce the issue

sudo apt update
N: Skipping acquire of configured file 'main/binary-i386/Packages' as repository 'https://qgis.org/ubuntu focal InRelease' doesn't support architecture 'i386'

### Versions

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-ht

[2021-11-10 14:09] jef-n commented on #45980
i386 is not supported on ubuntu focal anymore. See also [focal release notes](https://wiki.ubuntu.com/FocalFossa/ReleaseNotes#Upgrades_on_i386)

[2021-11-10 14:09] #45980 closed

[2021-11-10 14:17] mirandadam commented on #35383
Hi, I know this is an old issue, but I am still seeing this on QGIS release candidate version 3.22.0-Białowieża, QGIS code revision d9022691f1 freshly installed from "https://qgis.org/debian focal". @jef-n is correct in that qgis eventually recovers from the error, but in my machine it takes a good 40 seconds or more for qgis to unfreeze.
By the way, the error message when invoking qgis from the c

[2021-11-10 14:45] jef-n commented on #35383
the "recovery" doesn't take any significant amount of time - if qgis starts slowly on you machine it's most likely something else.

[2021-11-10 14:51] roya0045 commented on #45940
Another option would be to make `with_variable` with a feature mode, where the value would be changed once for each feature evaluated instead of being static the whole time.

[2021-11-10 15:08] #45936 closed

[2021-11-10 15:14] kairom13 commented on #45749
@gioman It doesn't seem to be an issue with 3.22. I was originally on 3.20 (before 3.22 was released) and was having other issues where QGIS was crashing randomly, so I went back to the LTR. I'm back on 3.22 and hopefully I can avoid the random crashes (or report them when they show up)

[2021-11-10 15:17] gioman commented on #45749
@kairom13 if it happens please test with a new QGIS profile **before** reporting.

[2021-11-10 15:36] kairom13 commented on #45749
@gioman Ok, I figured that the LTR was a different branch from the latest release, so I made sure I was on the latest version of the LTR rather than the latest release overall.

[2021-11-10 15:38] celmi opened #45981 "QGIS doesn't handle changes in external spreadsheet / doesn't update VRT-file"
### What is the bug or the crash?

**Expected behaviour**

When a layer is connected to an external spreadsheet-table, and this table gets modified (eg. deletion of columns), QGIS should realize that something's changed (runtime or at least at startup) and either automatically or optionally recreate the VRT-file, so the connected layer retains data-connection and display all relevant data ).

**Cu

[2021-11-10 15:49] agiudiceandrea commented on #45940
@roya0045, if I understand correctly, you can use an expression like: `eval( 'sum( value, Name, instance<=' || instance || ' )' )`

[2021-11-10 15:54] gioman commented on #45981
@celmi are you using the Spreadsheet Layers plugin?

[2021-11-10 15:58] gioman commented on #45981
I have tested the workflow up to this point but **not** using any 3rd party plugin, and at this point the table in QGIS shows just ok, without the column removed with MS/Libre Office.

[2021-11-10 16:07] gioman commented on #45981
The VRT is something generated by the spreadsheet layers plugins, you must report this to the author/s, not here.

[2021-11-10 16:07] #45981 closed

[2021-11-10 16:38] gioman commented on #30587
@zenchemical is not fixed, otherwise this would have been closed (but sometime something gets fixed indirectly, but your comment seems to suggest is not the case). If you are interested in fixing this you can hire a developer, see the commercial support page in QGIS site.

[2021-11-10 16:42] gioman commented on #45974
On 3.22.0/Win 10 too.

[2021-11-10 19:00] kbjshop commented on #40278
I understand this ticket has been marked as closed, but I have been seeing the symptoms of the Font button crashing QGIS.

Today I found a clue as to why it is happening on my system.. I used a program a while back called "**Font Menu Cleaner**" which allows you to remove the "Supplemental Fonts", so that you don't see a lot of superfluous fonts in the menu lists.

Today, on a hunch, I had Font Me

[2021-11-10 19:23] ccmorin commented on #43373
Looks like this is closed, but wanted to confirm I have the same issue on an intel Mac running Big Sur, it is not apple silicon dependent

[2021-11-10 21:13] roya0045 commented on #45940
That seems janky and not-intuitive, but a decent workaround, I'll give it a try! Thanks, I would have not thought of separating evaluation that way.

[2021-11-10 21:34] DelazJ opened #45983 "Data defined size legend dialog preview is broken"
### What is the bug or the crash?

Symbols in the data-defined size legend assistant dialog are misaligned and do not render correctly in the Layers panel.

![ddassistantlegend](https://user-images.githubusercontent.com/7983394/141199769-0575d491-3389-43f9-8714-958a6d1338af.gif)

### Steps to reproduce the issue

1. Point layer properties dialog, single symbol
2. link the size property to a field

[2021-11-10 21:46] DelazJ opened #45984 "No automatic symbols in Data defined size legend dialog preview"
### What is the bug or the crash?

Nothing is rendered in the data-defined size legend preview widget unless you add manual entries

### Steps to reproduce the issue

1. Point layer properties dialog, single symbol
2. link the size property to a field
3. In the "Advanced" drop down menu at the bottom, select Data-defined size legend
4. Switch the radio button option to the collapsed or separate le

[2021-11-11 01:23] nyalldawson commented on #45974
this line

    _= [mp.addGeometry(p)for p in l]

should be

    _= [mp.addGeometry(p.clone()) for p in l]

The rationale is a little tricky, and has to do with ownership of c++ objects. But the linestring has ownership of the point, and you can't then directly add it to the multigeometry.

[2021-11-11 01:23] #45974 closed

[2021-11-11 02:05] geoyee commented on #45974
![C9TBWA3DIEYVZRQ5BM {579](https://user-images.githubusercontent.com/71769312/141224108-fa6ea7a9-f059-4b3f-adb7-8ff577ff560d.png)

[2021-11-11 02:13] KayarBlue opened #45985 "join csv file to vector layer does not work"
### What is the bug or the crash?

According to this video tutorial https://www.youtube.com/watch?v=Fv2lF2B8ygg, creating a join between a vector layer and a CSV file with attributes, should be a simple matter of using Properties --> Joins --> + (to add join), followed by clicking OK when done. This does nothing in QGIS 3.22. After I close the Properties window, the join just disappears. It does n

[2021-11-11 02:15] geoyee commented on #45974
@nyalldawson QGIS crashes too (in the editor), but this works on the python console. I feel puzzled.

[2021-11-11 02:28] LeneFischer opened #45986 "WCS Raster Export gives wrong raster values"
### What is the bug or the crash?

2 issues- same case:
When exporting a raster from a WCS service (https://api.dataforsyningen.dk/service?servicename=dhm_wcs_DAF&token=753ac5eb07a84ee1c7e38e85ef4a4dbc)

1: The pixel size gets smaller than the original. In the above service pixel should be 0.4 m *0.4 but could be ex 0.3943034482734470436,-0.4058142857226942346
If I calculate the c
oordinates so I

[2021-11-11 02:40] #44185 closed

[2021-11-11 02:40] #35627 closed

[2021-11-11 06:44] rduivenvoorde commented on #45986
I'll do some checks later, but this:
https://geodata.nationaalgeoregister.nl/ahn1/wcs?request=GetCapabilities&service=WCS
is a public WCS service for testing. Will do later today.

(Maybe) totally unrelated, but yesterday somebody reported something about rounding "errors" (according to that user) on
IRC/Matrix:

[code]

[2021-11-11 07:00] celmi commented on #45981
Hello Gioman
Many thanks for taking your time to examine my report. So sorry, I hadn't realized that this functionality is provided by the plugin.
Can you please help me one last time? HOW did you manage to follow my workflow without this plugin? When I deactivate the plugin, I cannot find an option to add a spreadsheet as a layer. I'd like to learn doing so without the plugin.
Best regards

[2021-11-11 07:54] gioman commented on #45985
@KayarBlue works fine here, Please attach your data.

[2021-11-11 08:26] gioman commented on #45984
This has been reported a few times in the past, but can't find those tickets now.

[2021-11-11 08:27] gioman commented on #45981
just drag and drop the xls in QGIS.

[2021-11-11 08:32] gioman commented on #45983
@DelazJ looks fine here

![image](https://user-images.githubusercontent.com/1951107/141264778-7bf77ed5-3b99-4258-a012-a93661ffc21d.png)

[2021-11-11 08:46] gioman commented on #45986
@LeneFischer Hi Lene, I'm probably missing something here. https://github.com/qgis/QGIS/issues/43915 is not implemented yet as far as I can see (3.22), so is normal that when exporting a raster with "map canvas extent" you get some level of pixel size/value approximation.

[2021-11-11 09:06] DelazJ opened #45993 "GUI issues in the data-defined size legend dialog"
### What is the bug or the crash?

Some GUI issues in the data-defined size legend dialog:
- we should either grey out or hide the "Options" section if "collapsed" mode is not selected. And remove the "collapse only" mention from the title. I don't think there's any place we do this
- The Symbol legend is greyed out. I think it's a fix because in some earlier versions it was possible to change the

[2021-11-11 09:13] DelazJ opened #45994 "Missing Cancel (and help) button in the data-defined size legend dialog"
### What is the bug or the crash?

Couldn't find how to fix this so here the report: the data-defined size legend dialog needs a Cancel and a help button for a better UX
FYI, the help link to use is https://docs.qgis.org/3.22/en/docs/user_manual/working_with_vector/vector_properties.html#data-defined-size-legend
![image](https://user-images.githubusercontent.com/7983394/141269871-1e2e0972-b045-431

[2021-11-11 09:27] rduivenvoorde commented on #45986
@lene I'm trying to follow you instructions, but it is not fully clear what you are exactly trying to check with the centroids (or on what layer you want the field calculator to operate).
Are you trying to prove that the grid is not exactly aligned? Or is it that the values of your (secondary) grid has other values then the original underlaying cells?

But after a partial export of the raster, tel

[2021-11-11 09:37] gloriamacia commented on #34018
I managed to download 3.22 but the app once installed on Mac will not open :(

[2021-11-11 09:54] LeneFischer commented on #45986
Hi Giovanni,
Correct #43915<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fqgis%2FQGIS%2Fissues%2F43915&data=04%7C01%7Clfi%40ign.ku.dk%7C5e60adf079f747b1e50608d9a4efd959%7Ca3927f91cda14696af898c9f1ceffa91%7C0%7C0%7C637722172312341072%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=q9J8nJBIXwF7j%2FtV78S7sqfEf0hL

[2021-11-11 09:56] rduivenvoorde commented on #45986
Mmm, better do this on github :-)

[2021-11-11 10:00] LeneFischer commented on #45986
Hi Richard
See my comments in italic
Regards
Lene

@lene<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Flene&data=04%7C01%7Clfi%40ign.ku.dk%7C65fb3d3d946b4795ceee08d9a4f57966%7Ca3927f91cda14696af898c9f1ceffa91%7C0%7C0%7C637722196493213967%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=YDxVl6q%2BlNL3wKVtPwQpfJ%

[2021-11-11 10:00] LeneFischer commented on #45986
Yes ☺

Med venlig hilsen

Lene Fischer
Lektor

Københavns Universitet
Det Natur- og Biovidenskabelige Fakultet
Skovskolen
Nødebovej 77a
3480 Fredensborg

MOB 40115084
***@***.******@***.***>

[Title: SD_Logo]

Fra: Richard Duivenvoorde ***@***.***>
Sendt: 11. november 2021 10:57
Til: qgis/QGIS ***@***.***>
Cc: Lene Fischer ***@***.***>; Mention ***@***.***>
Emne: Re: [qgis/QGIS] WCS Raster Export

[2021-11-11 12:47] #43900 closed

[2021-11-11 13:19] lindacamathias opened #45997 "Completer in value relation widget does not work when allow NULL value is enabled"
### What is the bug or the crash?

 No drop down list is shown anymore in the attribute table with this widget configuration: -> value relation, "use completer" enabled" and "allow NULL value" enabled.

![image](https://user-images.githubusercontent.com/77726342/141298844-b8abdb98-bfb5-4f66-bb7a-ecd10fa67c7f.png)

a value relation with the very same relation table is ok when completer is used but

[2021-11-11 13:58] martabevilacqua30 opened #45998 "I don't see any vector commands, and I only see three raster commands"
### Feature description

for a week the 3.16 version, downloaded with excellence and fully functional, no longer works well. I don't see the vector commands anymore and the raster commands are only three, and the extrusion command, essential for my work, does not appear at all. I have already restarted the application several times, I have tried to uninstall and reinstall it, I have tried both in

[2021-11-11 14:02] elpaso commented on #45998
Try enabling the processing plugin.

[2021-11-11 14:09] gis-nis-ibw opened #45999 "Crash within Saving a GPKG-Layer after deleting some columns (Textattributes)"
### What is the bug or the crash?

## User Feedback

It crashes each time after some columns (Textattributes) from a Geopackage-Layer where deleted.
The crash occurs within the process of saving the Layer after deleting.

## Report Details

**Crash ID**: [fde07fc695f88a4ea009b0f69dd4cde595fb17a0](https://github.com/qgis/QGIS/search?q=fde07fc695f88a4ea009b0f69dd4cde595fb17a0&type=Issues)

### Steps

[2021-11-11 14:11] gioman commented on #45999
@gis-nis-ibw

1) upgrade to 3.16.13

2) you must test with a new QGIS profile, no 3rd party plugins installed

[2021-11-11 14:17] gioman commented on #45998
@martabevilacqua30 processings algs are native, but if the Processing plugin is not active you won't see them in that menus. Please check if Processing is active in QGIS plugin manager.

[2021-11-11 14:28] martabevilacqua30 commented on #45998
Perfect i solved the problem, it was not active, now it works again. thank
you very much for your availability and kindness. with regards, Marta
Bevilacqua

Il giorno gio 11 nov 2021 alle ore 15:17 Giovanni Manghi <
***@***.***> ha scritto:

[2021-11-11 14:30] jumkiel opened #46000 "Crash after repositioning of annotation bubbles"
### What is the bug or the crash?

Crash ID: 7a1aefcec4b6d5b8154e18fd30378d378135192c

Stack Trace

QgsTemplatedLineSymbolLayerBase::renderPolygonStroke qgslinesymbollayer.cpp:1266
QgsFillSymbol::renderPolygonUsingLayer qgssymbol.cpp:2333
QgsFillSymbol::renderPolygon qgssymbol.cpp:2273
QgsSymbol::renderFeature qgssymbol.cpp:1234
QgsFeatureRenderer::renderFeatureWithSymbol qgsrenderer.cpp:134
QgsRu

[2021-11-11 14:33] #45998 closed

[2021-11-11 14:34] gioman commented on #46000
@jumkiel plase try with a new QGIS profile, no 3rd party plugins installed.

[2021-11-11 14:45] gioman commented on #45997
@lindacamathias opening the attached project shows missing layers, also the layer/table that are not missing are completely empty, meaning that they have no attributes at all (no column whatsoever).

![image](https://user-images.githubusercontent.com/1951107/141317430-f69de3c7-f44c-425f-98a0-7e3a2d7c53f7.png)

[2021-11-11 14:58] lindacamathias commented on #45997
no, the behavior is the same whether using QGIS 3.16 or 3.22

[2021-11-11 15:06] celmi commented on #45981
Thank you for your help, much appreciated.

If there is a drag-and-drop option to add spreadsheets as layers, shouldn't there be a corresponding menu-command for people (similar to the one introduced by the obsolete plugin)? Do you think I should file a feature-request for this?

[2021-11-11 15:08] gioman commented on #45981
You use the "add vector" menu. Or if you use CSVs you can use the "add delimited text layer" menu. Or the browser (double click).

[2021-11-11 15:08] lindacamathias commented on #45997
sth went wrong in the zipping-process of the folder where the gpkg seems to have been lost. sorry for that inconveniences.
Here i embedded the qgis project into the .gpkg before zipping:
[ta_test.zip](https://github.com/qgis/QGIS/files/7521309/ta_test.zip)en
ow

[2021-11-11 15:57] Spartacus1 opened #46001 "Layout Grid offset"
### What is the bug or the crash?

The X and Y offset fields in the Print Layout Grid edition features seem not to be working . Changing values have no effect.

### Steps to reproduce the issue

In Print layout create a coordinate Grid and define the X and Y spacing. After try to change the X and Y offset values and no changes occur.

### Versions

QGIS 3.18 and newer versions.

### Supported QGIS

[2021-11-11 16:26] dario955i opened #46002 "Crash exporting report"
### What is the bug or the crash?

Hi, I have a Qgis file with a report.
If I open this report and press export to pdf without entering first in any section, qgis crashes.

If I enter in a group section of the report and then I press export pdf everything goes well.

I have 3.16.12 standalone version and 3.16.13 network version. Crash happens in both versions.

Thanks in advance.

### Steps to rep

[2021-11-11 17:10] gioman commented on #46002
@dario955i please try with a new QGIS profile, no 3rd party plugins installed.

[2021-11-11 17:19] dario955i commented on #46002
What's the workflow?
Create new  profile > open file?

That's all?

Or I have to uncheck all my plugins?

Il Gio 11 Nov 2021, 18:10 Giovanni Manghi ***@***.***> ha
scritto:

[2021-11-11 17:33] gioman commented on #46002
@dario955i

settings > user profiles > new profile

it not enough, we the need the users to test with a new QGIS profile.

[2021-11-11 18:13] dario955i commented on #46002
new profile, no plugins. same result: Qgis crashes
thanks

Il giorno gio 11 nov 2021 alle ore 18:34 Giovanni Manghi <
***@***.***> ha scritto:

[2021-11-11 18:22] gioman commented on #46002
Confirmed with this very simple steps. Also on 3.22.0.

[2021-11-11 18:25] gioman commented on #46002
This is a regression, it works fine on previous QGIS releases, probably the break happened when moving from osgeo42 v1 to v2.

[2021-11-11 18:32] gioman commented on #46001
@Spartacus1 Cannot confirm on 3.22.0 and 3.16.3

[2021-11-11 18:44] #18433 closed

[2021-11-11 19:31] dario955i commented on #46002
Please note that of I edit a group of this report and then I press export to pdf, everything works well

I’m not using 3.22, but 3.16.13

I can try also with 3.22

_

Il giorno 11 nov 2021, alle ore 19:25, Giovanni Manghi ***@***.***> ha scritto:

﻿
This is a regression, it works fine on previous QGIS releases, probably the break happened when moving from osgeo42 v1 to v2.

—
You are receiving thi

[2021-11-11 20:29] dario955i commented on #46002
update: 3.22 crashes as well

Il giorno gio 11 nov 2021 alle ore 20:31 Dario ***@***.***> ha
scritto:

[2021-11-11 21:09] gioman commented on #45986
@LeneFischer I'm probably dumb, but you lost me here. Without than (snap to grid) option there is always a good chance that the resulting locally saved raster has a different resolution because the original resolution won't fit exactly the canvas extent.

[2021-11-11 22:04] gioman commented on #45986
Ok, so maybe I understand what you mean. The coordinates in your screenshot are not the one of the canvas, but are manually entered in order to coincide with the pixels of the original layer. And surely if the input resolution is 0.4 then also output should be 0.4 and there should not be any difference in values.

[2021-11-11 22:04] gioman commented on #45986
@LeneFischer is this limited to WCS inputs?

[2021-11-11 22:14] jef-n commented on #46002
hm, 3.16.13 crashes also on osgeo4w v1 and master on Linux on exporting a fresh empty report.

[2021-11-11 22:16] gioman commented on #46002
ok, I didn't had at hand a v1 install of 3.16, only 3.4 and 3.10.

[2021-11-12 00:31] Spartacus1 commented on #46001
Hi gioman, are you able to use the X and Y offset without any problems? Does the values change the grid? In my case nothing happens.

[2021-11-12 02:01] KayarBlue commented on #45985
[Marine Ecoregions of the World GEN.zip](https://github.com/qgis/QGIS/files/7524357/Marine.Ecoregions.of.the.World.GEN.zip)
[EcoprovPairsRisks_ToVisualise_53.csv](https://github.com/qgis/QGIS/files/7524361/EcoprovPairsRisks_ToVisualise_53.csv)

There's a shapefile buried in the first zip file (sorry about all the clicking, that's how it was when I downloaded it). The link I was trying to join them

[2021-11-12 02:40] #45342 closed

[2021-11-12 02:40] #45333 closed

[2021-11-12 02:40] #45324 closed

[2021-11-12 05:18] janhow opened #46008 "Crash ID: 446c06492f0086acdb2c1bad430a814856643bc8"
### What is the bug or the crash?

Crash ID: 446c06492f0086acdb2c1bad430a814856643bc8

### Steps to reproduce the issue

I press the CRS button it crashes. I add a new layer it ceashes.

### Versions

QGIS version
3.16.13-Hannover
QGIS code revision
a8618a94
Compiled against Qt
5.15.2
Running against Qt
5.15.2
Compiled against GDAL/OGR
3.3.3
Running against GDAL/OGR
3.3.3
Compiled against GEOS
3.1

[2021-11-12 09:12] #45617 closed

[2021-11-12 11:41] gioman commented on #46008
@janhow please try with a new QGIS profile, no 3rd party plugins installed.

[2021-11-12 11:42] gioman commented on #46001
@Spartacus1 yes

what is your value for spacing and for offest?

[2021-11-12 11:45] gioman commented on #45985
@KayarBlue using "Dest" as target field it works just fine.

[2021-11-12 11:45] #45985 closed

[2021-11-12 14:32] Spartacus1 commented on #46001
I have 10X10 for X and Y spacing for a Projected Grid (meters). For practical reasons, I want an offset of 1 meter in X. Input the value, nothing happens.

[2021-11-12 14:35] PierreGravelRNCAN opened #46011 "Vector Field in Modeler"
### What is the bug or the crash?

I want to use an attribute as parameter to provide buffer values to the "variable distance buffer" algorithm.
I tried "Vector Field" input in the modeler but it doesn't work. The attribute is present upstream in my workflow in modeler but the attribute is not detected. When I run the modeler, I can not identify or select the layer where the attribute is.
![image]

[2021-11-12 14:39] gioman commented on #46011
@PierreGravelRNCAN they are both way too old. Please test on 3.16.3 and/or 3.22.0

[2021-11-12 14:43] PierreGravelRNCAN commented on #46011
I will. I'm waiting for my IT team install 3.22.0 on my workstation.
Thanks

[2021-11-12 15:09] roya0045 commented on #46011
Just write the name manually, the modeler has no way to know which field will be present in the output of the previous tool and in every  execution. I'm not sure why the field input didn't work though, I assume you did link it to the input of the model and its parent layer?

[2021-11-12 15:16] gioman commented on #46001
works here.

[2021-11-12 15:43] agiudiceandrea commented on #46001
@Spartacus1 maybe better to share a project in which the issue occurs and a screencast that show the issue.

[2021-11-12 16:29] Spartacus1 commented on #46001
nice idea agiudiceandrea. Here it goes. In the example, for instance, the offset is useful to drag the 0,0 (axis origin) to the lower left corner. As you can see, does not work at all.

https://u.pcloud.link/publink/show?code=XZRlqUXZr70INARotDjMeCkuiICqkmKB1FRV

[2021-11-12 17:33] #46001 closed

[2021-11-12 17:42] beilic opened #46014 "Crash ID: 53c326f8381be00e27f895b68a8609a04554d418"
### What is the bug or the crash?

Crash ID: 53c326f8381be00e27f895b68a8609a04554d418

Stack Trace

operatoroperatorQMetaType::save :
QVariant::save :
operatorQSettings::value :
QSettings::value :
QSettings::sync :
QThreadPool::maxThreadCount :
QSettings::~QSettings :
QgsSettings::~QgsSettings :
QgsSettings::~QgsSettings :
QgsNewsFeedParser::onFetch :
QObject::event :
QApplicationPrivate::notify_h

[2021-11-12 17:42] pathmapper commented on #46011
To illustrate what I think @roya0045 meant:

<img src="https://user-images.githubusercontent.com/20856381/141510533-33275f15-784a-427c-b1dc-6b01029e7f6f.png" width="500px">

[2021-11-12 17:45] gioman commented on #46014
@beilic too old and unsupported. Update to 3.16.13 or 3.22.0, use a new QGIS profile and try again.

[2021-11-12 17:57] PierreGravelRNCAN commented on #46011
Oh. Many thanks for the tip pathmapper !

[2021-11-12 17:57] #46011 closed

[2021-11-12 18:28] agiudiceandrea commented on #46014
@beilic you can add `--profile `, followed by the name of a new profile you want create, in the Windows Shortcut link you use to launch QGIS. See https://docs.qgis.org/3.10/en/docs/user_manual/introduction/qgis_configuration.html#command-line-and-environment-variables
Otherwise you could rename the user profile folder so QGIS will create a new one. See https://docs.qgis.org/3.10/en/docs/user_manua

[2021-11-12 22:13] phidrho opened #46017 "Intersection of polygons creates features from edges when coordinates are rounded to 2 decimal places"
### What is the bug or the crash?

My source data (polygons) is always rounded to 2 decimal places.
I was doing some intersections today and got some weird intersected polygons for result - their geometry is an edge between two polygons.

I then tried to randomly draw two polygons in two "New scratch layers" which touch each other and tried to intersect them but there was nothing intersected as ex

[2021-11-12 22:27] phidrho commented on #46017
possibly related to #35670

[2021-11-12 22:53] timlinux opened #46018 "Reclassify by Raster table declaration issues"
### What is the bug or the crash?

It does not seem possible to define the table for the processing tools "Reclassify by Raster"

### Steps to reproduce the issue

1. Load a raster layer
2. Invoke the Reclassify by Raster table processing tool
3. Attempt to establish a classification scheme using the embedded editor
4. Run the alg
5. I get an error even though the table is correct from what I can

[2021-11-12 22:55] timlinux commented on #46018
You can see additionally that the table exhibits some strange behaviour, first not displaying the range minima then displaying them.

[2021-11-12 23:06] timlinux commented on #46018
Ah additionally I just realised the dialog opens with a narrow width and hides the fact that there are actually three columns

![image](https://user-images.githubusercontent.com/178003/141593408-1b2a7577-608f-4cf3-b64e-4ebebcdd9330.png)

instead of

![image](https://user-images.githubusercontent.com/178003/141593440-f8aea4b1-8273-4182-868a-40b1b284ade4.png)

Once seeing that I can set the paramete

[2021-11-12 23:27] nyalldawson commented on #46018
@timlinux so no bug here?

[2021-11-13 03:16] Tom-2 commented on #45939
I have the same issue.

QGIS 3.16.13 msi installer (proj 8.2.0) has the problem.
QGIS 3.16.10 msi installer (proj 8.1.0) doesn't have the problem.

There's strange thing. CRS code(? I don't know what its called) is different between QGIS 3.16.13 and 3.16.10.

Here's QGIS 3.16.13(proj 8.2.0)'s EPSG 5174 code, which causes wrong projection.

You'll see lots of "unknown".

WKT
PROJCRS["unknown",

[2021-11-13 03:23] atlight opened #46021 "Random Marker Fill symbology fails to render certain polygons"
### What is the bug or the crash?

The Random Marker Fill symbology type fails to render polygons in which two rings touch, even though these polygons are valid geometries.

### Steps to reproduce the issue

1. Paste the following WKT as a temporary scratch layer:
[code]
2. Zoom to the pasted layer
3. Set the symbology to "Random Marker Fill"
4. Notice that the polygon is not rendered
5. Notice th

[2021-11-13 08:45] DavidHernandezLopez opened #46023 "MSI windows compilation"
### What is the issue about the documentation?

Is there a document for MSI-style compilation on windows (vstudio 2015)?
I have followed the current documentation but am getting errors
C:\OSGeo4W\bin\py3_env.bat
C:\OSGeo4W\bin\qt5_env.bat
...

[2021-11-13 10:29] timlinux commented on #46018
@nyalldawson Well I think there is a usability issue I think the column headers should be stretched to fit the available space so that users can at least see there are three columns when the dialog first opens in its default narrow state.

[2021-11-13 13:15] roya0045 commented on #46023
This isn't the right place for questions, ask on the user or dev mailing list.

[2021-11-13 16:04] uclaros commented on #46017
This is not a bug, this is most probably your data, though I cannot check them at the moment.
You have to make sure your data is properly noded, ie polygon *e* should have a vertex where *A* and *b* intersect, and *b* should have a vertex where *A* touches it.
You can use *Snap features to layer* algorithm to achieve that, whose performance has been greatly improved in the last releases.

[2021-11-13 17:51] Callahan1 opened #46024 "Print Composer issue around 180 degrees"
### What is the bug or the crash?

While raster layers are displayed fine in my projection, any attempt to print an area that crosses WGS84 at 180 degree does either crash QGIS, or produce white/partially white output prints.
I use the Lambert conical for south asia and try to print a map of the area between Wake and Hawaii.

The map was shown fine in the print composer preview, but after several

[2021-11-14 01:30] wfletcher commented on #45939
I have software which generates shapefiles and some of my users are reporting issues loading the shapefiles in QGIS too. For all of my CRS functionality I use proj6.1 and output my WKT in 2018 WKT2 format (PJ_WKT_TYPE::PJ_WKT2_2018); however QGIS does not seem to load the prj file.

Using the ne_10m_populated_places_simple.shp uploaded in this issue I have tried using the WKT generated by proj6 us

[2021-11-14 02:40] #45355 closed

[2021-11-14 04:06] LorenAmelang commented on #45731
I've installed a fresh QGIS 3.22.0 standalone alongside the 3.2 version, and created new projects that don't use Postgre. The server is disabled. I just tried opening one of the old Postgre projects:

![2021-11-13](https://user-images.githubusercontent.com/1297090/141666879-80179ddf-c7eb-43bc-b9c2-71685aa2875b.png)

That dialog re-appears a few seconds after Cancel, OK, or the Close 'X'. The QGIS

[2021-11-14 10:00] gioman commented on #45939
@wfletcher made them downgrade to 3.16.11 standalone or install 3.16.13 with the network installer  until this is not sorted out.

[2021-11-14 10:08] gioman commented on #46024
@Callahan1 as far as I understand Wake island if on the opposite site of the international date line compared to Hawaii.

So I think you should better transform your data into 0-360 maps.

For a vector: use the "add virtual layer" QGIS functionality and use this SQL statement

`SELECT col1, col2, col3..., ST_Shift_Longitude(geometry) AS geometry FROM yourlayer;`

For rasters:

`gdalwarp -s_srs "+p

[2021-11-14 10:21] gioman opened #46025 "DB Manager: geometry column is a no show in virtual layers"
### What is the bug or the crash?

QGIS 3.22.0 and 3.16.13 OSgeo4W v2, Windows 10
Geometry column is a no show when querying a project layer in DB Manager within "Virtual Layers":

![image](https://user-images.githubusercontent.com/1951107/141676795-ef0d2517-5675-4eeb-9225-b8c0ac768305.png)

On earlier QGIS versions:

![image](https://user-images.githubusercontent.com/1951107/141676865-5a5fec31-ae

[2021-11-14 10:26] Bud8600 commented on #42805
Hi, I seem to have the same issue. Did you find any solution yet?

[2021-11-14 10:27] gioman commented on #45731
@LorenAmelang if clicking "cancel" the dialog is show several time for each broken/inaccessible layer. If you want to can click on "ignore for 10 seconds" (that you can change to "ignore for session") and have QGIS bring you directly to the "handle unaccessible layers" dialog.

[2021-11-14 11:13] Bilou020285 opened #46026 "Attribute form mode : click/drop mode - Possibility to add pages to forms"
### Feature description

For now, only tab and container are possible to organize forms in click and drop conception mode. It would be very appreciated to be able to add pages.
In the layout window, this option already appears in objects properties to navigate in many successive options. It is already possible to get back to the previous page of option.
Like so :
![image](https://user-images.githu

[2021-11-14 11:34] nicogodet commented on #46025
Can you try on master ?
Few fixes recently but I don't know if they affect this

[2021-11-14 11:56] ivn951 opened #46027 "Some labelling options have disappeared"
####  Some options have disappeared - see comparison with the same dialog box as in version 3.16.12
**1 - QGIS 3.22.0**

![QGIS_3 22 0_macOS](https://user-images.githubusercontent.com/9998772/141679600-2bfdc0aa-a6cf-4d48-8681-b2531a538597.png)

**2 - 3.16.12 LTR**

![QGIS_3 16 12_macOS](https://user-images.githubusercontent.com/9998772/141679606-49b651e8-1d46-4d49-b1ff-655af5628823.png)

[2021-11-14 12:46] roya0045 commented on #46027
They became the first element.... This is clearly not a bug but just a way to tidy up the UI.

[2021-11-14 12:52] #46027 closed

[2021-11-14 12:58] gioman commented on #46025
@nicogodet no changes on the latest master available on osgeo4w v2.

[2021-11-14 13:50] phidrho commented on #46017
Hi @uclaros,
please check the example that I attached. All data is properly connected to 2 decimal places as I noted above.
One layer comes from ACAD Map where I did topology checking and then exported to shp, other one comes from gml export where all data comes rounded to 2 decimal places which I then converted to gpkg.
The only thing I can do is to install the newest version of QGIS and then try

[2021-11-14 13:58] gioman commented on #46017
@phidrho

your layer1 have a vertex that is not identical to the correspondent in layer 2

[code]

The results you get are similar to the ones you get by creating a virtual layer (the collectionextaction part is necessary because the straight intersection generates also a point):

[code]

or PostGIS:

[code]

and ogr2ogr:

[code]

[2021-11-14 14:46] boxerab opened #46029 "10 bit TIFF/PPM not displayed correctly"
### What is the bug or the crash?

I have decompressed a HiRISE RGB JP2 image
https://hirise.lpl.arizona.edu/ESP_011359_1695

Here is a section of the original JP2:
[ESP_011359_1695-317x91-4.jp2.zip](https://github.com/qgis/QGIS/files/7533986/ESP_011359_1695-317x91-4.jp2.zip)
which displays correctly in QGIS.

Here are three images decompressed from the origin HiRISE:
[grk.zip](https://github.com/

[2021-11-14 14:51] phidrho commented on #46017
Hi @gioman,

how did you get raw coordinates from data, I tried to get coordinates with geom_to_wkt in the expression editor and got all coordinates rounded to 2 decimal places.

from gpkg:
[code]

from shp:
[code]

[2021-11-14 15:08] nicogodet commented on #46025
https://github.com/qgis/QGIS/blob/637e5ca748dbd68eb9ce5c3aa7370916274865e4/python/plugins/db_manager/db_plugins/vlayers/connector.py#L59

Returns `False` when, I believed, it should not.

[code]

[2021-11-14 15:12] nirvn commented on #45939
I've confirmed this on my end too, it's a rather dramatically bad regression here. We likely need to remove 3.16.3 from qgis.org until we figure this one out.

[2021-11-14 15:15] gioman commented on #45939
@nirvn this has been raised on both the developers and psc lists, with not much feedback (other than Nyall asking someone to tackle this) I'm afraid.

[2021-11-14 15:48] nicogodet commented on #46025
Something seems to fail during `fromUrl()` method.

[code]

[2021-11-14 16:22] gioman commented on #46017
@phidrho plugin "get wkt".

The above test (postgis, ogr) seems to show clearly that the issue in the data, not QGIS.

[2021-11-14 16:51] phidrho commented on #46017
@gioman
Thanks, it seems I'll have to run `snap points to grid` before running intersection to get identical floating-point presentation of coordinates in all layers.

Coordinates should have been identical, but it seems that software which generated floating-point presentation (AutoCAD Map and GeomFromGML from spatialite in my case) have different algorithms to store coordinates as floating-point

[2021-11-14 16:51] #46017 closed

[2021-11-14 18:13] pathmapper commented on #45939
Maybe postpone 3.16.14, which is scheduled next Friday (2021-11-19) if this issue is not resolved. Otherwise we would have three LTR releases in a row for the msi standalone installer which are having a concerning regression.

As this issues appears only with QGIS 3.16.13 msi standalone installer and not with network installer, what are the possible causes for this regression?

- different depende

[2021-11-14 18:39] gioman commented on #46029
@boxerab I would have look at what gdalinfo and gdal_translate return as QGIS uses GDAL to load that formats.

[2021-11-14 18:51] boxerab commented on #46029
@gioman thanks. So, GQIS uses gdal to load a TIFF file ?

[2021-11-14 18:52] gioman commented on #46029
@boxerab yes.

[2021-11-14 19:15] agiudiceandrea commented on #45939
At time on which the QGIS-OSGeo4W-3.16.13-1.msi was made available (05 Nov), the OSGeo4W v2 repository also shipped the same GDAL 3.3.3 (3.3.3-2) package along with QGIS 3.16.13 (3.16.13-2). I'm using such version which doesn't suffers of the reported issue.
Only three days ago the GDAL package was upgraded to 3.4.0 version.

[2021-11-14 19:32] jef-n commented on #45722
3.22 is built with MSVC2019.

[2021-11-14 19:32] #45722 closed

[2021-11-14 20:10] LorenAmelang commented on #45731
So I tried "ignore for session". No visible change in behavior. No way to access QGIS to figure out how many Postgre layers it might be looking for. The Messages panel happened to be visible, no clues there. Took 24 clicks of OK or Cancel to get past this dialog! So much for bringing you directly to the "handle unaccessible layers" dialog...

Do OK and Cancel have different effects? Seems to me Ca

[2021-11-14 20:12] gioman commented on #45731
@LorenAmelang all

[2021-11-14 20:16] LorenAmelang commented on #45731
So why did I have to click the dialog 23 more times after selecting ignore?

[2021-11-14 20:43] rduivenvoorde opened #46031 "Warnings when starting QGIS (on linux)"
### What is the bug or the crash?

When starting (self compiled) QGIS master OR 3.22 I get the following warning in my terminal:

`Info: Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATFORM=wayland to run on Wayland anyway.`

From https://forum.qt.io/topic/126731/what-is-this-warning I concluded that I had to change my start script and added:

[code]
Which 'solved' it. I'm not

[2021-11-14 20:51] boxerab commented on #46029
@gioman do you have any sample 10 bit TIFF images that are known to display correctly in QGIS ?
Are there 10 bit TIFF is the test suite, for example ?

[2021-11-14 20:56] gioman commented on #46029
@boxerab not sure. Can't you create one with gdal_translate and the NBITS creation option? https://gdal.org/drivers/raster/gtiff.html

[2021-11-14 21:00] boxerab commented on #46029
@gioman nope, it rejects NBITS=10

[2021-11-14 21:00] nyalldawson commented on #46031
I wouldn't recommend running qgis under a Wayland session at all. Qt 5 doesn't have great support for Wayland sessions.

[2021-11-14 21:08] boxerab commented on #46029
@gioman if there are no 10 bit test images, how do you test for 10 bit support ?

[2021-11-15 01:09] gioman commented on #45731
@LorenAmelang

project with 2 postgis layers, no connection to the server

https://user-images.githubusercontent.com/1951107/141707171-a2239eee-c7cf-440d-aad5-3a77fe5ceda3.mp4

[2021-11-15 02:10] LorenAmelang commented on #45731
OK, Thank you, I guess...  If I choose the "ignore for session" dropdown and then click _the dropdown again_ instead of Ok or Cancel, I can avoid the other 23 clicks. How are we supposed to know that?

Surely any normal user would expect Ok to perform the "ignore for session" operation, and Cancel to abort the entire dialog?

[2021-11-15 04:12] ivn951 commented on #46027
Sorry, but personally I haven't talked about bug, just about missing parts. For the fill and stroke color and stroke width, the features are missing "Expression String Builder".

[2021-11-15 04:17] ivn951 commented on #46027
Sorry, but personally I didn't mention bugs, just missing parts. For the fill and stroke color and stroke width, the "Expression String Builder" functionality is missing.

[2021-11-15 07:05] rduivenvoorde commented on #46031
Are you sure? https://doc.qt.io/qt-5/wayland-and-qt.html does not mention that we should not, and in most Distro's I think Wayland/Gnome is more or less mainstream?

[code]

[2021-11-15 07:13] nyalldawson commented on #46031
Yep -- there's a lot of unsolved issues, even on current Qt versions. Just scroll through https://pointieststick.com/category/this-week-in-kde/ and you'll see that KDE is STILL working to a usable version under Wayland, and a lot of the issues they work on are upstream.

[2021-11-15 07:34] gioman commented on #45731
@LorenAmelang as a start you can use the tooltips:

![Screenshot 2021-11-15 072757](https://user-images.githubusercontent.com/1951107/141740201-6444e461-8f2d-4d38-9945-00dfce704aa8.png)

![Screenshot 2021-11-15 072839](https://user-images.githubusercontent.com/1951107/141740207-58bcda9c-b43d-4ed9-8e2d-0adf4f589818.png)

and if the functionality is not documented (haven't checked) you can consider

[2021-11-15 07:42] gioman commented on #46027
@ivn951 if it was missing would be a bug.

it just moved place:

https://user-images.githubusercontent.com/1951107/141741494-8e1bdb18-7425-4fdb-9fd5-a6f2e82b01e1.mp4

[2021-11-15 08:44] IsotoCedex opened #46036 "Qgis last a lot in each operation"
### What is the bug or the crash?

QGIS takes a long time for each operation. It does not matter what operation it is. For instance:
- load vector layer
- Open GPK
- Open an attribute table.

In the last session they gave me the following error report:

Crash ID: 89ad75993d2a88c50a623a1f839e980721ff807c

Stack Trace

QgsAnnotation::appearanceChanged :
QgsCoordinateTransform::transformPolygon :
pro

[2021-11-15 08:45] gioman commented on #46036
@IsotoCedex have you really tested with a new QGIS profile?

Settings > user profiles > new profile

[2021-11-15 08:58] IsotoCedex commented on #46036
Hi Giovanni,

I have made a new profile “Isoto”, and  have the same problems tan “Deault” profile.

***@***.***

Un saludo.

Ignacio Soto Molina
Contratado I+D+i / Área de Ruido Ambiental
Centro de Estudios de Técnicas Aplicadas (CETA)

Tel. 91 335 72 68
Ext. 7268
Email: ***@***.***

    [LOGOTIPO_CORREO_ELECTRONICO]

De: Giovanni Manghi ***@***.***
Enviado el: lunes, 15 de noviembre de 2021 9:46

[2021-11-15 09:00] gioman commented on #46036
@IsotoCedex then it looks like a local issue, not a general one. Does it happen regardless of the datasources you load?

[2021-11-15 09:09] IsotoCedex commented on #46036
Indeed, it is independent of the source.

It happens with SHP, GPK, WMS ...

Even when the layer is loaded, opening the attribute table or zooming, QGIS get "thinking" for a while.

Un saludo.

Ignacio Soto Molina
Contratado I+D+i / Área de Ruido Ambiental
Centro de Estudios de Técnicas Aplicadas (CETA)

Tel. 91 335 72 68
Ext. 7268
Email: ***@***.***

    [LOGOTIPO_CORREO_ELECTRONICO]

De: Giovann

[2021-11-15 09:10] IsotoCedex commented on #46036
It also gives me this error whenever I close the program

***@***.***

Un saludo.

Ignacio Soto Molina
Contratado I+D+i / Área de Ruido Ambiental
Centro de Estudios de Técnicas Aplicadas (CETA)

Tel. 91 335 72 68
Ext. 7268
Email: ***@***.***

    [LOGOTIPO_CORREO_ELECTRONICO]

De: Giovanni Manghi ***@***.***
Enviado el: lunes, 15 de noviembre de 2021 10:00
Para: qgis/QGIS ***@***.***>
CC: Ignacio

[2021-11-15 10:08] Asfgl opened #46038 "Labeling: Size type, meters at scale"
### What is the bug or the crash?

QGIS 3.16.13 Seems to not be able to render the label if set too meters at scale.
Points does not have the same issue. This issue was not there on version 3.16.3 and 3.16.11.
![image](https://user-images.githubusercontent.com/60916625/141762105-5857c4a0-4839-43ef-98ea-b0495ac1c709.png)

### Steps to reproduce the issue

When layer is loaded and label is styled wi

[2021-11-15 11:05] gioman commented on #46038
@Asfgl seems ok here on 3.16.13

![image](https://user-images.githubusercontent.com/1951107/141771441-b82183ea-5614-4ebe-bcf5-3b586fb58036.png)

[2021-11-15 11:10] Asfgl commented on #46038
With it set to points
![image](https://user-images.githubusercontent.com/60916625/141772019-bcc0d8b4-8bb1-49ea-b423-388d19545b2b.png)

This set to meters at scale
![image](https://user-images.githubusercontent.com/60916625/141772128-87d33a8f-3111-4f30-9dd0-464ef4e7338b.png)

[2021-11-15 11:12] gioman commented on #46038
@Asfgl what is the CRS of your project?

[2021-11-15 11:14] Asfgl commented on #46038
WGS 84 EPSG:4326

[2021-11-15 11:15] gioman commented on #46038
@Asfgl see https://github.com/qgis/QGIS/issues/26749#issuecomment-926362086

[2021-11-15 11:15] gioman commented on #46038
Closing?

[2021-11-15 11:16] raymondnijssen opened #46039 "Reducing GUI Icon Size does not work for Icons with menu buttons"
### What is the bug or the crash?

Reducing the Icon Size in the settings makes the icons smaller. But the icons having a drop down menu, will still take up the old large space, cause the dropd  down "thingy" will keep the same height. This is easily visible, cause they make the entire tool bar(s) too high as well.

### Steps to reproduce the issue

- Open QGIS
- Settings > Options...
- In Tab "Ge

[2021-11-15 11:19] m-kuhn opened #46040 "Automatically generate compiled landing page files via cmake"
### Feature description

Process is described here:
https://github.com/qgis/QGIS/tree/master/resources/server/src/landingpage

See also https://github.com/qgis/QGIS/pull/45802

### Additional context

_No response_

[2021-11-15 11:32] ivn951 commented on #46027
@gioman Thanks

[2021-11-15 11:37] Asfgl commented on #46038
Thank you, I read the comment thread now and if the CRS is the issue, using an different build like QGIS 3.16.11 should give the same issue but it does not.
We use the the same project file with set CRS and the same postgres db.
My current solution is to roll-back to previous version. Should I close the issue?

[2021-11-15 11:45] domdoom4 opened #46041 "QGIS 3.16.13 crashing when opening projects"
### What is the bug or the crash?

## User Feedback

QGIS 3.16.13 crashing when opening previously saved projects.

## Report Details

**Crash ID**: [724063997240b04afd1c202c620215b87ebb6a7b](https://github.com/qgis/QGIS/search?q=724063997240b04afd1c202c620215b87ebb6a7b&type=Issues)

**Stack Trace**
<pre>
QCoreApplication::translate :
QCoreApplication::translate :
QCoreApplication::translate :
QCo

[2021-11-15 11:46] #46038 closed

[2021-11-15 11:48] gioman commented on #46041
@domdoom4 please try with a new QGIS profile.

Settings > user profiles > new profile

and do not install any 3rd party plugins.

[2021-11-15 12:19] maxf33 opened #46044 "QGIS 3.16.0 crashes when trying to edit/create features"
### What is the bug or the crash?

Under QGIS 3.16.0, the software crashes when trying to edit features. Disabling all snapping options solves the issue. But a specific layer needs to be selected as a "snappable" layer. This is the one that will make QGIS crash.

Creating a new profile does't solve the issue.

### Steps to reproduce the issue

REPORT DETAILS:

Crash ID: 2de7d5831a2a5afe592739bdcad

[2021-11-15 12:21] gioman commented on #46044
@maxf33 way too old and unsupported. Plese try again with 3.16.11 (do not install 3.16.13 as is bugged) and if the problem persist reopen the ticket.

[2021-11-15 12:21] #46044 closed

[2021-11-15 12:22] gioman commented on #46044
@maxf33 you must also try with a new QGIS profile with no 3rd party plugins.

Settings > user profiles > new profile

[2021-11-15 12:47] roya0045 commented on #46036
Are all of your files on your local storage or a connected server or other such things?

[2021-11-15 13:26] domdoom4 commented on #46041
I have tried with a new profile and that caused all sorts of other issues so I fully uninstalled and reinstalled 3.16.13 and again have crashes when opening projects, along with crashes when trying to open the CRS dialog box using the button at the bottom right of the screen.

Crash report when opening a projet:

## User Feedback

Crash with fresh installation when opening projects

## Report Deta

[2021-11-15 13:29] gioman commented on #46041
@domdoom4 like?

If the problem is caused by a bad plugin (likely) re-installing won't help. You need to remove the 3rd party plugins, or more easily use a new QGIS profile.

[2021-11-15 13:31] domdoom4 commented on #46041
Other issues included error messages that it was unable to reproject layers etc. These are my installed plugins:
![image](https://user-images.githubusercontent.com/94366918/141790388-549e3a09-5ae7-45d2-ba81-94b062a3bb3e.png)

[2021-11-15 13:33] gioman commented on #46041
@domdoom4 does it happen only with a specific project or any project?

cool, this way we can be sure that the problems are caused by a 3rd party plugin.

[2021-11-15 13:35] domdoom4 commented on #46041
It seems to be happening with some, but not all, projects that I try to open. Clicking the CRS button to crash QGIS is happening with a blank unsaved project.

[2021-11-15 13:36] gioman commented on #46041
@domdoom4 please try downgrade to 3.16.11

[2021-11-15 13:58] lwschwizer commented on #45705
I have upgraded to 3.20.3 and the issue has resolved. Thanks!

[2021-11-15 13:59] #45705 closed

[2021-11-15 14:02] jvdkwast opened #46045 "GDAL Polygonize syntax error"
### What is the bug or the crash?

Polygonize (Raster to Vector) gives an error related to a change in the syntax of gdal_polygonize.py.

### Steps to reproduce the issue

1. Go in the main menu to Raster | Conversion | Polygonize (Raster to Vector) or use the tool from the Processing Toolbox
2. Add an input raster, keep the defaults, choose an output filename (tested on shapefile and GeoPackage,

[2021-11-15 14:12] gioman commented on #46045
@jvdkwast can you say in what gdal version tue change happened?

[2021-11-15 14:16] jvdkwast commented on #46045
@gioman Hard to tell. In the last course we have used the old dependencies with QGIS 3.16.11 (due to the SAGA upslope tool issue), which has GDAL 3.1.4. Then it still worked.

[2021-11-15 14:17] alexbruy commented on #46045
Hmm, according to the docs, it does accept destination file name.

[2021-11-15 14:21] gioman commented on #46045
Then maybe is a bug in the tool itself.

[2021-11-15 14:22] jvdkwast commented on #46045
You're right. I have overlooked the <out_file> argument. It also seems to work when I insert the out name before the [layer] argument as in the docs:
![image](https://user-images.githubusercontent.com/1172662/141797649-8d9d30c1-5902-4e2e-9146-cd9a040e29b1.png)

But it doesn't work if it's at the position where QGIS adds it.

[2021-11-15 14:27] gioman commented on #46045
Position should not matter, but may be it does in this case.

[2021-11-15 14:35] domdoom4 commented on #46041
@gioman thanks - I have installed 3.16.11 and it is working as expected therefore the issue for me is confined to 3.16.13

[2021-11-15 14:36] gioman commented on #46041
@domdoom4 we know is a buggy release and there are already reports about it.

[2021-11-15 14:36] #46041 closed

[2021-11-15 15:03] boxerab commented on #46029
@gioman here is some feedback
I took the 10 bit image `grk.tif` and ran :

`gdal_translate -of GTiff -ot Byte -scale 0 1023 0 255 grk.tif  grk_8.tif`

This gives me the correct colours for the 8 bit TIFF

10 bit

![Screenshot from 2021-11-15 10-02-14](https://user-images.githubusercontent.com/95393/141804352-0a8d7fa0-6984-4c8d-886f-d204aed1664e.png)

8 bit

![Screenshot from 2021-11-15 10-02-29](h

[2021-11-15 15:16] IsotoCedex commented on #46036
I have them on an external HHD. But I have already tried to work from local with SSD, and it gives me the same problems.

Un saludo.

Ignacio Soto Molina
Contratado I+D+i del Área de Ruido Ambiental
Centro de Estudios de Técnicas Aplicadas (CETA)

Tel. 91 335 72 68
Ext. 7268
Email: ***@***.******@***.***>

[cid:271653ab-c43c-4224-84b7-0dc185330a17]

________________________________
De: Alex ***@**

[2021-11-15 15:59] mrnapop opened #46050 "SHP defined CRS doesn't work ("
### What is the bug or the crash?

Exporting to SHP file with a defined CRS does not stay in the file, as in once removed and imported back, or being imported to another GIS system, the layer is of 'unknown' CRS when exporting to CRS 2039, or doesn't change if exported to 3857, even after using 'Reproject layer'/'Assign projection'/'Define Shapefile projection'.

The problem is solved by exporting

[2021-11-15 16:01] gioman commented on #46050
@mrnapop 3.16.13 has a very bad regression about projections, use 3.16.11 instead until further notice.

[2021-11-15 16:01] #46050 closed

[2021-11-15 16:14] gioman opened #46051 "DB Manager: RuntimeError: wrapped C/C++ object of type PGDatabase has been deleted"
### What is the bug or the crash?

I have been using DB Manager on QGIS 3.22 on Windows, and while mosving in between tabs, inclusing the SQL console, I have been getting very often the following error

[code]

### Steps to reproduce the issue

Unclear what the exact steps are. I have seen many times this error while using DB Manager and moving between its tabs, inclusing the SQL console where I w

[2021-11-15 16:17] gioman opened #46052 "Error message when GRASS tools cannot be run is (now) wrong"
### What is the bug or the crash?

If for any reason a GRASS tool cannot be run in Processing the message that is returned is:

[code]

The message made sense qhen in Processing configs we had the option to manually set the path for GRASS binaries. This is no longer the case since long now.

### Steps to reproduce the issue

For example: install QGIS with osgeo4w but do not install GRASS.

### Ver

[2021-11-15 17:32] jlph92 opened #46053 "Application crashed when add new raster layer"
### What is the bug or the crash?

Crash ID: db51e9ad745873d9d782da12389adc062f6c7b69

Stack Trace

QCoreApplication::translate :
QCoreApplication::translate :
QCoreApplication::translate :
QCoreApplication::translate :
QRegularExpressionMatchIterator::regularExpression :
QRegularExpressionMatch::capturedView :
QRegularExpression::match :
QgsOgrProviderUtils::databaseDrivers :
QgsProjectStorage::Q

[2021-11-15 17:36] gioman commented on #46053
@jlph92 please try if downgrading to 3.16.11 solves. 3.16.13 has a nasty regression that may be the cause of this issue.

[2021-11-15 19:23] Houska1 opened #46055 "3D map camera altitude and vertical scale unexpected interaction"
### What is the bug or the crash?

When a 3D map is open, and its vertical scale is changed, then camera appears to move higher or lower over terrain (can even go below terrain) and the field of view changes.

Hypothesis is that the vertical scale change does not adjust the absolute camera altitude. Therefore suppose  e.g. a point at 100m actual altitude, with camera at 300m (hypothetical) and ver

[2021-11-15 19:50] jlph92 commented on #46053
The issue solved with 3.16.11 version.

[2021-11-15 19:50] #46053 closed

[2021-11-15 20:12] #46045 closed

[2021-11-15 21:15] LorenAmelang commented on #45731
`as a start you can use the tooltips`

If the tooltips said, "Click this dropdown again to abandon opening this connection; do not click Ok or Cancel" that would work.

`if the functionality is not documented (haven't checked) you can consider contributing the QGIS user manual with a paragraph about it`

I just did about a dozen searches, and even knowing exactly what my issue is and how the dialo

[2021-11-16 01:45] alliejo1015 opened #46060 "scale bar not drawing"
### What is the bug or the crash?

All of the scale bars on my print layouts have disappeared, even though they show up in the item menu. I try drawing new scale bars and nothing shows up.

### Steps to reproduce the issue

In Layouts, trying to 'add a scale bar' to the map doesn't work or show up.

### Versions

QGIS version
3.22.0-Białowieża
QGIS code revision
d9022691f1
Qt version
5.15.2
Python

[2021-11-16 02:40] #45387 closed

[2021-11-16 02:40] #45383 closed

[2021-11-16 02:40] #44927 closed

[2021-11-16 07:47] gioman commented on #46060
@alliejo1015 can't confirm here, on QGIS 3.22.0 and Win 10. Have you tried on a new QGIS profile?

[2021-11-16 07:48] m-kuhn commented on #19117
Some further analysis on this.

The Qt printing API does not allow generating links through public API.

What existing Qt classes use to deal with this:

- `QTextDocument` uses a purely internal, private implementation (`QTextItemInt`) which is understood by the pdf exporter code
- `QWebView` uses a dedicated printing function which very likely cannot easily be mixed with other generic painting co

[2021-11-16 08:13] jkr-wrk commented on #42800
Any possibility to add the sample values function as well? In the query builder it a query on the complete WFS dataset, this was somewhat time-consuming. But a sample of the current viewable dataset could be an option?

For most users the current implementation went from 6 intuitive mouse clicks to 16 not at all intuitive mouse clicks, where it actualy is inpossible to not touch the keyboard.

Cur

[2021-11-16 08:25] #46021 closed

[2021-11-16 08:37] elpaso commented on #45731
First, QGIS isn't @gioman 's program but is is **our** program (meaning that it's yours too) and you are actually helping: thank you for pointing out what is clearly a usability issue.

When I designed this feature I thought it was clear that the "Ignore for session" was a button (it is a "variable" button like many others we have in QGIS, usually in the form of an icon in the toolbar) and it was

[2021-11-16 08:44] ssuelvesacisa opened #46063 "Export to DXF crash on fresh install of QGIS. No plugins installed"
### What is the bug or the crash?

Go to Project, click on Import/Export, and click on Export project to DXF.

Then QGIS begin for 2 o 3 seconds and crash before show Export to DXF dialog.

It happen to me allways.

QGIS Version 3.22.0_Bialowieza, Windows version 21H1 19043.1348.

## User Feedback

When I press the option Project->Import/Export->Export project to DXF, QGIS Desktop crash before it

[2021-11-16 08:48] pathmapper commented on #42800
@rduivenvoorde started recently a discussion on the dev mailing list about this topic, see https://lists.osgeo.org/pipermail/qgis-developer/2021-October/064180.html and the replies to his post.

[2021-11-16 09:07] gioman commented on #46063
@ssuelvesacisa not crashing here with some random data. Can you attach here some dataset that makes your QGIS crash? Thanks.

[2021-11-16 09:47] javiergasan opened #46065 "Georeferences doen't show pdf files"
### What is the bug or the crash?

If you add a PDF as raster on the georeferencer, it doesn't show the image, version 3.22.

If you do the same at 3.16 it works

### Steps to reproduce the issue

go to georeferencer
add raster
select a PDF file

It doesn't show  anything

### Versions

3.22

### Supported QGIS version

- [X] I'm running a supported QGIS version according to the roadmap.

### New

[2021-11-16 09:50] gioman commented on #46065
@javiergasan on what operating system?

[2021-11-16 09:51] gioman commented on #46065
@javiergasan just tested here on 3.22.0 on Windows 10 and works as expected. Please attach a sample pdf that does not work for you,

[2021-11-16 09:53] javiergasan commented on #46065
Windows 10

[2021-11-16 09:54] javiergasan commented on #46065
[4153_FICHA_GORXAL_24102011_plano.pdf](https://github.com/qgis/QGIS/files/7545280/4153_FICHA_GORXAL_24102011_plano.pdf)

[2021-11-16 10:02] gioman commented on #46065
It affects also 3.16.13/OSGeo4w. It needs to be tested if it works on an installer based on the old dependencies.

[2021-11-16 10:10] gioman commented on #46065
it does work on 3.16.6, so this is a regression on installer based on osgeo4w v2.

[2021-11-16 10:14] javiergasan commented on #46065
Works on 3.16.3

[2021-11-16 10:17] gioman commented on #46065
@javiergasan yes, that is an installer based on old dependencies, unlike the latest 3.16.13

[2021-11-16 10:18] ssuelvesacisa commented on #46063
More or less I discovered what it's the problem.

My project was create with QGIS 2.18 (Las Palmas), and I opened with the new QGIS 3.22.

I'd been removing layers to discover that QGIS crash in Export to DXF when I have include Google Satellite or Google Road layers. Its properties are:

Title:	Google Satellite
Credit:	Map data ©2015 Google
URL:	https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}

[2021-11-16 10:20] ThomasHuxhorn opened #46066 "2dm layer saves absolute path when project in relative path mode"
### What is the bug or the crash?

When saving a project with 'Save paths' set to 'relative', the paths for 2dm layers are saved as absolute '2DM:/...' paths in the project file.

### Steps to reproduce the issue

Create new project and make sure  'Save paths' is set to 'relative'
Add a 2dm file from a subfolder e.g. ~/qgistest/mesh.2dm
Save the project
Inspect the produced .qgz file with zgrep

(

[2021-11-16 10:24] gioman commented on #46063
@ssuelvesacisa those layer were added with a plugin I guess?

[2021-11-16 11:18] ssuelvesacisa commented on #46063
Yes, but I'm not sure if was added with "QuickMapServices" or "OpenLayer Plugin", three years ago.

[2021-11-16 12:00] gioman commented on #46063
@ssuelvesacisa you should remove those layers, and re-add them in QGIS 3 using both plugins, then text the export.

[2021-11-16 13:20] NooshinHadidian opened #46070 "Uncaught NameError: name 'QgsRasterLayer' is not defined"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.10.14-A Coruña on Windows 10

[2021-11-16 13:21] NooshinHadidian opened #46071 "Uncaught RuntimeError: wrapped C/C++ object of type QgsProcessingToolboxTreeView has been deleted"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.10.14-A Coruña on Windows 10

[2021-11-16 13:22] NooshinHadidian opened #46072 "Uncaught RuntimeError: wrapped C/C++ object of type QgsProcessingToolboxTreeView has been deleted"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.10.14-A Coruña on Windows 10

[2021-11-16 13:22] gioman commented on #46070
@NooshinHadidian you must report this to the script/plugin author/s not here.

[2021-11-16 13:22] #46070 closed

[2021-11-16 13:24] gioman commented on #46071
@NooshinHadidian too old, please updgrade to 3.16.11 and test again, on a new QGIS profile

settings > user profiles > new profile

with no 3rd party plugins installed.

[2021-11-16 13:25] gioman commented on #46072
see https://github.com/qgis/QGIS/issues/46071

[2021-11-16 13:25] #46072 closed

[2021-11-16 13:26] NooshinHadidian opened #46073 "Uncaught RuntimeError: wrapped C/C++ object of type QgsProcessingToolboxTreeView has been deleted"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.10.14-A Coruña on Windows 10

[2021-11-16 13:28] gioman commented on #46073
same as https://github.com/qgis/QGIS/issues/46073

[2021-11-16 13:28] #46073 closed

[2021-11-16 14:04] larsop opened #46074 "QGIS uses very long to start up connecting database with around 7000 geometry table and 6000 other tables"
### What is the bug or the crash?

In the original query [here](https://explain.depesz.com/s/R7ea) and it us using 1,769,178.092 ms.

The problem seems to be related number rows in geometry_columns

If replace the line

`AND (n.nspname,c.relname,a.attname) NOT IN (SELECT f_table_schema,f_table_name,f_geometry_column FROM geometry_columns)
`
with

`AND NOT EXISTS (SELECT 1 FROM geometry_columns WHE

[2021-11-16 14:53] Dukestep opened #46075 "Error displaying grib2 files on Apple Sillicon Macbook Pro"
### What is the bug or the crash?

On a Macbook Pro with Apple M1 Pro sillicon, QGIS cannot read some `.grib2` files with gdal.

Seems like the reading of the file is fine (the metadata is properly read via gdal and via a `gdalinfo`) but QGIS reports the following error when dragging and dropping the file onto the canvas:

[code]

These files are displayed correctly with the same version of QGIS/G

[2021-11-16 14:54] NooshinHadidian opened #46076 "Uncaught NameError: name 'QgsRasterLayer' is not defined"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.16.11-Hannover on Windows 10

[2021-11-16 14:56] gioman commented on #46076
Same as https://github.com/qgis/QGIS/issues/46070

@NooshinHadidian please stop posting the same issues over and over.

[2021-11-16 14:56] #46076 closed

[2021-11-16 15:15] gioman commented on #46075
@Dukestep can you gdalinfo/gdal_translate them from the command line?

[2021-11-16 15:21] gioman opened #46077 "Attachment widget: "default path" is completely ignored"
### What is the bug or the crash?

The "default path" in the attachment widget (maybe also others) is said to:

`"When not empty, always open the file selector at the root of this path for searching new files. If empty, the last used path of this editor widget will be used. If this editor widget has never been used by the user, the project path will be used."`

but nothing of the above happens, an

[2021-11-16 15:23] gioman commented on #46074
@larsop can you submit a patch?

[2021-11-16 15:30] Dukestep commented on #46075
@gioman, yes I confirm that I can use both gdalinfo/gdal_translate via the command line (even pointing to the binaries in `/Applications/QGIS.app/Contents/MacOS/bin/`!). That's why I decided to open the issue here rather than in the GDAL repository.

[2021-11-16 16:26] jef-n commented on #46065
Duplicate of #44522

[2021-11-16 16:26] #46065 closed

[2021-11-16 16:31] jef-n commented on #45657
Duplicate of #44522

[2021-11-16 16:31] #45657 closed

[2021-11-16 16:32] jef-n commented on #44522
Thought #45657 was a duplicate of #46065, but this one is even - much - older.

[2021-11-16 16:49] alliejo1015 commented on #46060
I just tried that and I get the same result :/
However, if I export the image I get two lines and a 0 on the map even though a month or so ago it was perfect. Haven't changed any of the settings on the scale bar either.

[2021-11-16 16:50] gioman commented on #46060
@alliejo1015 attach a sample project with data and a layout.

[2021-11-16 16:58] gioman commented on #46075
@Dukestep opens fine on Win and Linux, so possibly a macOS only issue.

[2021-11-16 17:36] alliejo1015 commented on #46060
[Sweden_overview_share.zip](https://github.com/qgis/QGIS/files/7548593/Sweden_overview_share.zip)
lmk if that doesn't work - never tried to share a project before.

[2021-11-16 18:30] gioman commented on #46060
@alliejo1015 you missed the data, but it doesn't matter the project is enough to understand that the issue arises from the custom CRS of the project. If you use a standard one, like 32634 then the scale is ok.

[2021-11-16 18:45] larsop commented on #46074
I can try.

[2021-11-16 18:46] gioman commented on #46074
that would be very nice!

[2021-11-16 19:19] Dukestep commented on #46075
Yes, no issues detected on those OSes. Figure this may be linked to the arm64 arch of the new Apple silicon Macs and the emulation via Rosetta 2. Curious to see if those on Intel-based Macs are able to load the above grib2 files without any issues.

[2021-11-16 19:31] alliejo1015 commented on #46060
ah thanks! but now my DEM doesn't line up with the shapefile and is in the wrong place.
![image](https://user-images.githubusercontent.com/87393701/142052940-920a2d18-3a34-459f-9b68-80d12b8c4a41.png)
am I missing something else here?

[2021-11-16 19:35] gioman commented on #46060
I can't say the project you attached has no data. But it is likely that some of your data has a missing CRS or wrong CRS.

[2021-11-16 20:39] alliejo1015 commented on #46060
I changed the overall project to the projection you suggested and that seemed to work! so strange. thanks for your help!

[2021-11-16 23:21] larsop commented on #46074
Sorry  I was not able build qgis on my mac running 12.0.1.

I end with this error. "ld: library not found for -lSystem"

I may try brew upgrade and check if that helps

[2021-11-17 02:22] LorenAmelang commented on #45731
@elpaso Thank You! I'm totally in favor of helping with Open Source.

My first impulse was to Cancel - which I assumed would cancel all attempts to login to Postgre. It never occurred to me to press Cancel another 23 times because of the other Postgre layers. If it showed a layer name in the dialog, maybe I'd have understood. But if I've given up on one layer, seems that means giving up on all of

[2021-11-17 02:40] #45398 closed

[2021-11-17 02:40] #45371 closed

[2021-11-17 02:40] #44542 closed

[2021-11-17 02:40] #42379 closed

[2021-11-17 02:40] #36698 closed

[2021-11-17 07:20] IsotoCedex commented on #46036
Good morning again,

I think the problem is neither the profile, nor the data sources, nor plugins.

I have done a complete uninstall of the system, removing all the QGIS log files, and reinstalling. The clean program (without plugins), keeps giving the same problems.

I have installed QGIS version 3.22, and it also gives the same problems.

I think it may be something from my operating system: Wi

[2021-11-17 07:29] dkicwnp opened #46080 "Regarding MBtiles and Geopackage"
### Feature description

Mbtiles not copying to Geopackage in qgis 3.22.Please help

### Additional context

_No response_

[2021-11-17 08:08] gioman commented on #46080
@dkicwnp if this is an issue report please file it with the correct page

https://github.com/qgis/QGIS/issues/new?assignees=&labels=Bug&template=10_bug_report.yml

and filling all the requested infos.

[2021-11-17 08:08] #46080 closed

[2021-11-17 08:10] elpaso commented on #45731
@LorenAmelang here is the original PR and some more information about it: https://github.com/qgis/QGIS/pull/32546

[2021-11-17 08:43] romainbh commented on #46002
Same bug, happens on QGIS 3.16, 3.18, 3.20, 3.22. Works fine on 3.10.
(tested on W10x64 with OSGeo4W, the old one and the new one)

[2021-11-17 08:57] cesarargul opened #46081 "Random crashes using split features tool"
### What is the bug or the crash?

Using the split features tool QGIS randomly crashes just at the moment of cutting the feature.

Screenshot of the crash report:
![imagen](https://user-images.githubusercontent.com/593293/142165600-f3f2cecb-843e-4c7b-8fd7-e9d72b358cb7.png)

### Steps to reproduce the issue

1. Start editing a layer.
2. Select a feature.
3. Activate the split features tool.
4. Draw

[2021-11-17 09:01] gioman commented on #46081
@cesarargul you checked that you tried with a new QGIS profile, but the above plugin list says you didn't really. You must try with a new QGIS profile and no 3rd party plugins installed.

[2021-11-17 09:16] agiudiceandrea commented on #46002
@romainbh thanks for checking.
Anyway, this issue should have been already fixed in master, 3.16 and 3.22 branches by https://github.com/qgis/QGIS/commit/4690ed07f0a1c143f0c9c275a939d1e2ffb05f8c, https://github.com/qgis/QGIS/commit/3d236b0b06cce51f4c622e732bbfe6d3fece50c6, https://github.com/qgis/QGIS/commit/11ff1fabf4b47a025fb5bfe7025f56831fb369be.
Could you test using the latest qgis-dev, or qgi

[2021-11-17 09:16] cesarargul commented on #46081
Yes, we tried with a new profile.

In one of the machines we make a clean install, with no plugins. After that we only add a postgis connection.

[2021-11-17 09:21] gioman commented on #46081
@cesarargul does it happen only with a specific layer?

[2021-11-17 09:44] rbovard opened #46083 "Use the option to set the default project file format (qgs/qgz) also for `Save as`"
### Feature description

Make #33872 (done by @3nids) also working for `Save as` (and not only `Save`)

### Additional context

_No response_

[2021-11-17 10:02] gioman commented on #46081
@cesarargul can you attach here the dump (of a portion) of one of this layers? thanks.

[2021-11-17 10:17] romainbh commented on #46002
@agiudiceandrea thanks for your response.
I've checked with qgis-dev on OSGeo4W v2 and it works! Thank you!
For info, I get however to error messages in the main QGIS window (don't now if it's important):
![image](https://user-images.githubusercontent.com/18001925/142178540-b781c065-9c40-48cc-8ec7-bcb0e96c1606.png)
![image](https://user-images.githubusercontent.com/18001925/142178571-0bd8e234-d79a

[2021-11-17 10:18] gioman commented on #46002
@romainbh no it is not, is normal stuff in the master/devs builds.

[2021-11-17 10:18] #46002 closed

[2021-11-17 12:09] Tomaj105 opened #46085 "Both versions of MAC download wouldn'topen"
### What is the bug or the crash?

I downloaded the newest and the older version of Mac software due to an apparent security issue.
 "Apple can't check it for malicious software" Contact developer for more information.
Please advise. Thx and rgds JCL

### Steps to reproduce the issue

download and sart the software on a Mac with the latets iOS

### Versions

22 and 16

### Supported QGIS version

[2021-11-17 12:11] gioman commented on #46085
@Tomaj105

https://github.com/qgis/QGIS/issues/34018#issuecomment-578186707

[2021-11-17 12:11] #46085 closed

[2021-11-17 13:12] gioman opened #46088 "WMS client: add option to force look for WMTS capabilities"
### Feature description

Scenario:

you have a WMS and WMTS service based on QGIS Server (or else I guess) and the address is:

https://myserver/cgi-bin/qgis_mapserv.fcgi?map=/path/to/project.qgs

Then if you use the above address in QGIS WMS client it will always return the WMS layers, and will never switch to the "tileset" tab of the WMTS service.

The only way to have QGIS WMS client to look fo

[2021-11-17 14:00] Gustry commented on #34018
@elpaso and @nyalldawson, we pinned this issue, because it's a very common bug report, so we would expect that people can see this ticket before creating a new one. (even if I might change nothing)

It would be nice I think to update the website indeed when clicking on the link to download the mac package.

[2021-11-17 14:15] Tomaj105 commented on #46085
Grazie, Giovanni :-) Adesso funziona.
Gentili saluti dal Carso

Jurij Clemenz, dr. med.

IDEJE, KONCEPTI IN ZGODBE
Tomaj 105, 6221 Dutovlje, Slovenija
+386 41 635 106
www.ikz.si <https://www.ikz.si/>; ***@***.*** ***@***.***>

To sporočilo in vsi pripeti dokumenti so zaupni in namenjeni izključno naslovniku. Kakršnakoli objava, prenos ali uporaba s strani tretje osebe je prepovedana. Če ste dobili

[2021-11-17 14:35] agiudiceandrea commented on #46083
This seems an inconsistency bug to me.

[2021-11-17 17:17] rkalasek commented on #45760
concerning compressed vs uncompresed issue: have created a new (file)gdb in arcgis pro, populated that gdb with various FCs of different overall-size => no problem to open. tried to open an existing QGIS project (v. 3.14 with corresponding libs) which references existing gdbs => no problem. finally I took those two gdbs which caused crashes (when using my just recently installed version 3.22 and 3

[2021-11-17 17:23] NooshinHadidian opened #46092 "Uncaught NameError: name 'QgsRasterLayer' is not defined"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.16.11-Hannover on Windows 10

[2021-11-17 17:23] #46083 closed

[2021-11-17 17:34] NooshinHadidian opened #46094 "Uncaught NameError: name 'QgsRasterLayer' is not defined"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
processing 2.12.99, QGIS 3.22.0-Białowieża on Windows 10

[2021-11-17 17:36] alexbruy commented on #46092
Same as #46070

@NooshinHadidian please stop posting the same issues over and over.

[2021-11-17 17:36] #46092 closed

[2021-11-17 17:36] gioman commented on #46094
same as https://github.com/qgis/QGIS/issues/46092

[2021-11-17 17:36] #46094 closed

[2021-11-17 17:36] alexbruy commented on #46094
Same as #46070

@NooshinHadidian please stop posting the same issues over and over.

[2021-11-17 17:57] NooshinHadidian commented on #46092
Hi. The problem is going on even if i had reinstall QGIS several times.
Your messages can not help to solve this problems.

[2021-11-17 17:59] NooshinHadidian commented on #46092
I just had gotten these messages Stop...
Nice solution!!!!!!!!!!!!!!!!!!!!!

[2021-11-17 18:00] Gustry commented on #46092
@NooshinHadidian
The problem is due to "FwDET_QGIS" plugin.

You must report the issue to the plugin author and remove this plugin "FwDET_QGIS".

Open your profile and remove it.

https://docs.qgis.org/testing/en/docs/user_manual/introduction/qgis_configuration.html#working-with-user-profiles

[2021-11-17 18:12] NooshinHadidian commented on #46092
@Gustry
Many thanks for your polite and helpful response. I did it.
I hope again I don't face with same repeating problems.
Stay safe and healthy.

[2021-11-17 18:24] alexbruy commented on #46092
@NooshinHadidian you were told to so in the one of the first tickets you have opened. But for some reason you ignored that recommendation and continued to spam bugtracker.

[2021-11-17 18:29] Gustry commented on #46071
Let's close this one, as you have created a new profile in another ticket.

[2021-11-17 18:29] #46071 closed

[2021-11-17 18:44] NooshinHadidian commented on #46092
I didn't see the solution in first ticket, I just got emails with "STOP" responses.
@alexbruy

[2021-11-17 19:50] Dukestep commented on #46075
I have update the issue title to reflect that a fellow user has reported the same error with the identical QGIS/GDAL versions on an Intel-based computer running macOS. This would seem to indicate that the problem affects macOS users in general.

[2021-11-17 19:51] tlduong opened #46096 "Vector tile from elastic search not showing polygon"
### What is the bug or the crash?

When reading vector tile from elastic search endpoint, point and circle are showing up. However polygons are not. I've decoded the vector tile binary and it has the polygon in it. I've used openstreet map and mapbox component and the polygon does show up. When elastic search return vector tile data, it comes in 3 layers. The Layer we want to display the shapes is

[2021-11-17 21:45] LorenAmelang commented on #45731
@elpaso Ah, I see it is complicated! So choosing "Ignore for session" would ignore later calls to open new additional layers that weren't in the saved project? Not just the current batch from the project I just tried to open? That seems like it could be really confusing...  I guess that's why the 10 second option is default.

Is there any way to put a link to a "help" explanation of all this into

[2021-11-17 22:20] antoniolocandro commented on #43141
I tried this today and cant reproduce, is this still the case?
![image](https://user-images.githubusercontent.com/4627073/142291784-5d80b78d-0db7-4ae9-87fe-8ba89e03c69b.png)

[2021-11-17 22:32] antoniolocandro commented on #43141
Ah spoke too soon, once you enable the mask the issue is noticeable, it seems they can't be used together

[2021-11-18 03:22] cndnflyr opened #46102 "Dual Monitor with different Scaling causes some elements to be enlarged"
### What is the bug or the crash?

I have two monitors, both set to 1920x1080 resolution.  However, my primary monitor has scaling set to 125%. QGIS has been maximized on the secondary monitor (100% scaling).  Some of the elements in QGIS are displaying at 125% scaling, even though it is on the 100% scaled monitor.  Specifically the File Save Dialog and the Symbology Panel symbol selection (both c

[2021-11-18 04:06] cndnflyr commented on #46102
This has been reported by another user here: https://gis.stackexchange.com/questions/416619/qgis-dialogs-change-size-on-multi-monitor-setup

[2021-11-18 06:59] gimoya opened #46106 ""Reshape Feature" tool ignores "Avoid Overlap" setting from "Project Snapping Options""
### What is the bug or the crash?

If you reshape a polygon with the reshape tool (from the main menu), with "avoid overlap" option set for the layer, that you are editing, the newly produced polygon would still have overlap, if you digitize the one feature over the other feature's area.

### Steps to reproduce the issue

1. Produce sample polygon layer with 2 features
2. Set "Project Settings" to

[2021-11-18 07:10] gimoya opened #46107 "Trying to open "Properties" of a TMS layer from the layers tree will cause QGIS "Bad Allocation" error.."
### What is the bug or the crash?

Open a TMS Layers Properties dialogue will cause an error "bad allocation"...

### Steps to reproduce the issue

1. Add TMS Layer to Project Layer Tree
2. Right click TMS in Layer Tree
3. Try to open "Properties"

### Versions

QGIS version
3.12.3-București
QGIS code revision
8234261527
Compiled against Qt
5.11.2
Running against Qt
5.11.2
Compiled against GDAL/OG

[2021-11-18 07:22] gioman commented on #46102
@cndnflyr what operating system?

[2021-11-18 07:22] gioman commented on #46106
@gimoya please also test on a supported version, like 3.6.11 or 3.22.0

[2021-11-18 07:23] gioman commented on #46107
@gimoya please also test on a supported version, like 3.6.11 or 3.22.0

[2021-11-18 07:53] cndnflyr commented on #46102
windows 10, 21H1 I think. I'll have to check tomorrow.

[2021-11-18 08:40] Koyaani commented on #31269
@SrNetoChan This work for me:
[code]
But I have no idea if this is the best or cleanest solution.

[2021-11-18 10:11] DelazJ commented on #46106
And I'd add: in a new profile (ie without all these third-party plugins)

[2021-11-18 10:52] yairlevy opened #46110 "Raster calculator crash"
### What is the bug or the crash?

## User Feedback

Raster calculator: subtraction between two simple rasters. This is the second time QGIS crashes during this process.

## Report Details

**Crash ID**: [f646874e2a51be67a18f6de95fa8d6a4c520b53e](https://github.com/qgis/QGIS/search?q=f646874e2a51be67a18f6de95fa8d6a4c520b53e&type=Issues)

**Stack Trace**
<pre>
QgsRasterCalculator::processCalculatio

[2021-11-18 11:08] vcloarec commented on #45938
Should be fixed by #46034

[2021-11-18 11:08] #45938 closed

[2021-11-18 11:13] kobusburger opened #46113 "QGIS 3.22 hangs or exits"
### What is the bug or the crash?

QGIS 3.22 hangs or exits

### Steps to reproduce the issue

QGIS 3.22 hangs or exits when I work on my project (see bug report). 3.20 was stable

### Versions

QGIS version
3.22.0-Białowieża
QGIS code revision
d9022691f1
Qt version
5.15.2
Python version
3.9.5
GDAL/OGR version
3.4.0
PROJ version
8.2.0
EPSG Registry database version
v10.038 (2021-10-21)
GEOS versio

[2021-11-18 11:14] pathmapper commented on #45939
Fixed according to https://trac.osgeo.org/osgeo4w/ticket/703

[2021-11-18 11:24] agiudiceandrea commented on #45939
and to https://github.com/qgis/QGIS-Website/pull/949#issuecomment-971340648 and https://github.com/qgis/QGIS-Website/pull/949#issuecomment-972262558

[2021-11-18 13:17] MartinMartin1975 opened #46115 "QGIS crashes at startup when opening a project"
### What is the bug or the crash?

QGIS 3.22.0-3 crashes at startup when opening a project

### Steps to reproduce the issue

Crash ID: 4c56e11bb7dc7222bd9cf0a3320d54bd746eb7da

Stack Trace

QTextCodec::toUnicode :
providerMetadataFactory :
providerMetadataFactory :
providerMetadataFactory :
QgsVectorLayer::setDataProvider :
QgsVectorLayer::readXml :
QgsMapLayer::readLayerXml :
QgsProject::addLaye

[2021-11-18 14:06] gioman commented on #46110
@yairlevy try 3.22.0 (3.20.3 is EOL) and a new QGIS profile (with no 3rd party plugins installed), if the problem persist attach a sample dataset.

[2021-11-18 14:07] gioman commented on #46113
@kobusburger have you tried with a new QGIS profile and no 3rd party plugins installed?

[2021-11-18 14:07] gioman commented on #46115
@MartinMartin1975 create a new QGIS profile (with no 3rd party plugins in it) and try again.

[2021-11-18 14:27] Koyaani opened #46116 ""Create virtual layer" is broken"
### What is the bug or the crash?

I can't open the dialog to create a new Virtual Layer.

### Steps to reproduce the issue

Layer > Create Layer > New Virtual Layer.... See error dialog

### Versions

QGIS version | 3.23.0-Master | QGIS code revision | c80ec66ce7
-- | -- | -- | --
Qt version | 5.15.2
Python version | 3.9.5
GDAL/OGR version | 3.2.2
PROJ version | 7.2.1
EPSG Registry database versi

[2021-11-18 14:56] MartinMartin1975 commented on #46115
Cause of QGIS crashing during project opening discovered.

The problem is caused by large files, e.g. GeoJPG **23000px x 25000px** or GeoJPG **8000px x 15000px**.
QGIS 3.20 Odense opens it, QGIS 3.22 Bialowieza not.

The error is certainly NOT in my project, but in some QGIS 3.22 library.

[2021-11-18 14:57] MartinMartin1975 commented on #46115
**Hopefully this bug will be fixed in QGIS 4.00.**

[2021-11-18 14:59] gioman commented on #46115
@MartinMartin1975 can you share/attach one of those?

[2021-11-18 15:00] gioman commented on #46115
@MartinMartin1975 there will be a lot of other QGIS 3.* before 4. If is a regression it should be fixed quickly.

[2021-11-18 15:02] aroche opened #46117 "Opening CSV with CSVT file: file types not recognized"
### What is the bug or the crash?

If the file types in the .csvt file are written with an upper-case first letter, [as prescribed by the OGR](https://gdal.org/drivers/vector/csv.html) driver, QGIS fails to correctly assign file types.

If all is written in lower case in .csvt file, it works fine.

When directly dropping a CSV file with correct CSVT type definition into QGIS, field types are corre

[2021-11-18 15:23] MartinMartin1975 commented on #46115
👍
It's 150 MB and costumer data.
I try it with blank file, sorry. EPSG: 102067, Czech Republic

The problem is not the GeoJPG structure, but purely the size in pixels. A smaller or resampled GeoJPG opens 3.22 without any problem
[_005_006_009_010_GRF_02__GEOJPG.zip](https://github.com/qgis/QGIS/files/7563871/_005_006_009_010_GRF_02__GEOJPG.zip)

[2021-11-18 16:31] Kaemer1645 commented on #45961
I update the issue.

[2021-11-18 16:36] Kaemer1645 opened #46118 "Reposition label in print layout and atlas - bug"
### What is the bug or the crash?

This bug is with print layouts and atlas.
The problem is when I set the position of a label and it's not refreshing.

My code look's like that:
[code]

And when i paste this code to expression then it's write the correct position but it's not refreshable. In atlas, when the page is changed, the position stays from previous page.

Screens below.
![3](https://user-

[2021-11-18 17:50] roya0045 commented on #46118
The expression is unreadable. Just proposing a minor cleanup, though I may have broke it, it could be improved further:
[code]

[2021-11-18 18:07] lorenzogrv opened #46119 "Server: Can't enable WFS3 API update endpoint (PUT/PATCH) on layers without geometry"
### What is the bug or the crash?

When setting up the WFS capabilities for a project served through qgis-server, It's not posible to enable WFS Update on layers not having a geometry field.

This feels like a bug because It's possible to enable both "Insert" and "Delete" operations.

### Steps to reproduce the issue

1. Open a project having both layers with and without geometry
2. Go to 'Project

[2021-11-18 19:14] tschmetzer opened #46120 "Bad allocation when trying to import NetCDF file"
### What is the bug or the crash?

QGIS throws a bad allocation error when trying to load a layer of a NetCDF file from a public source

### Steps to reproduce the issue

1. Download the gridded population file _PBL_IMAGE_SSP2_population_density_5min.nc_ or _PBL_IMAGE_SSP2_SPA2_RCP_2.6_population_density_5min.nc_ from https://dataplatform.knmi.nl/dataset/ssps-gpopd-v17 and drag it into the layers

[2021-11-18 19:15] SrNetoChan commented on #31269
Thank @Koyaani I will give it a try.

[2021-11-18 20:01] gioman commented on #46120
@tschmetzer I can't see a download link, just an API address which is not very convenient for who wants to do a quick test. Can you attach here the dataset?

[2021-11-18 20:02] gioman commented on #46120
@tschmetzer disregard, I see the download links now.

[2021-11-18 20:15] gioman commented on #46115
@MartinMartin1975 tested here, no crash.

[2021-11-18 20:19] gioman commented on #46120
@tschmetzer here the behaviour seems different: adding the dataset with d&d and choosing the mesh layer (the middle one) it brings immediately QGIS to a freeze.

[2021-11-19 00:16] spara commented on #31279
This is still broken on QGIS-LTR and 3.22 on macOS 11.6.

[2021-11-19 02:40] #45424 closed

[2021-11-19 06:04] Samweli commented on #45259
yes @gioman

[2021-11-19 07:52] tschmetzer commented on #46120
I forgot to mention that you need to press "Toggle browser" underneath the "Broswe dataset" heading.
Great you found it yourself

[2021-11-19 08:45] 9ls1 commented on #45935
I encountered the same issue (bug?).
grass_vsplittest.py
[code]
The grass_vsplittest.py is called from grass_vsplittest.bat:
[code]
The listin the output looks like this:
QGIS (3D):tessellate --> Tessellate
GDAL:aspect --> Aspect
GDAL:assignprojection --> Assign projection
GDAL:buffervectors --> Buffer vectors
...
GDAL:viewshed --> Viewshed
GDAL:warpreproject --> Warp (reproject)
: -->
: -->
: -->

[2021-11-19 09:45] tschmetzer commented on #46120
Closing several other applications, closing other QGIS instances and restarting QGIS the layer is displayed.
Yet even with only one instance but several other layers already loaded there is a crash or mem alloc exception. Same bahaviour with several instances but loading only the NetCDF file into a new project.

[2021-11-19 10:02] Callahan1 commented on #46024
@gioman Thanks for your answer!

This seems to work for the raster layers.
One layer is still causing issues. The layer of XYZ tiles that is shown below the raster layers.
It is a real time import of data from:
http://server.arcgisonline.com/arcgis/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}
Loading of these tiles does still cause crashes, freezes or a white screen in the vicinty of

[2021-11-19 10:32] MartinMartin1975 commented on #46115
I see, you can load the file into the EMPTY project.

Try loading the file into a **LARGE complex** project in **QGIS 3.20 Odense**, it will be OK.
Then try opening that project in **QGIS 3.22 Bielovieza**. You'll see that QGIS 3.22 will crash.

I've tried loading it multiple times into multiple projects and multiple PC in QGIS 3.20 and then opening it in QGIS 3.22 and it always crashes in 3.22. I

[2021-11-19 11:39] paulolasa opened #46127 "Crash opening 3.16.11"
### What is the bug or the crash?

I updated from version 3.16.8 and now it crashes everytime I open the new version.

### Steps to reproduce the issue

Crash ID: 472ea3512682a3798d2cecc71f612973b1cc7185

Stack Trace

QMetaObject::activate :
QHttpMultiPart::qt_metacast :
QSslKey::operator!= :
QSslKey::operator!= :
QMetaObject::activate :
QAbstractSocket::proxyAuthenticationRequired :
QMetaObject::

[2021-11-19 11:44] gioman commented on #46127
@paulolasa can you try with a new QGIS profile (no 3rd party plugins installed)? If you can't start QGIS (copy/backup and) delete your QGIS user folder.

[2021-11-19 11:48] paulolasa commented on #46127
Hi there @gioman, I don't have any 3rd party plugins. Sory to ask, how do I delete my QGIS user folder?
Thanks.

[2021-11-19 11:48] gioman commented on #46115
@MartinMartin1975 any chance you can put together a shareable minimal project that shows this problem?

[2021-11-19 11:49] gioman commented on #46127
@paulolasa `C:\Users\yourusername\AppData\Roaming\QGIS`

[2021-11-19 11:55] paulolasa commented on #46127
Thanks a lot @gioman :) It worked :) I was getting crazy.

[2021-11-19 12:33] MartinMartin1975 commented on #46115
I'm sorry, but it would be quite complicated. The project is not some kind of test, but quite complex and full of data, and without data it probably wouldn't make sense. On the other hand, there are no on-the-fly transformations, the EPSG system is strictly Cartesian, there are no dependencies on plugins. All versions of QGIS that can open *.QGZ files opens my project.

I'll try to simulate it wit

[2021-11-19 13:48] rswmajor opened #46128 "Advanced digitizing panel options do not work at intersections"
### What is the bug or the crash?

Additional digitizing tools do not work at intersections.
![screenshot-2021-11-19 204652](https://user-images.githubusercontent.com/19249084/142632944-fc1c4d7b-f819-4e4a-bf16-b47bcefd4731.png)
in version 3.18 it works fine

### Steps to reproduce the issue

Additional digitizing tools do not work at intersections

### Versions

3.22

### Supported QGIS version

-

[2021-11-19 13:55] magerlin opened #46129 "Joins defined in Layer properties are never stored"
### What is the bug or the crash?

I have now several times experienced going into Layer properties and defined a join with another layer. I have pressed both "Apply"  and "Close". But when I reopen Joins nothing i stored - all I have entered is disappeared.

But if i right click on the lay and click "Duplicate Layer" I can do the join with no problems on the dublicated version of the layer.

Proj

[2021-11-19 13:59] magerlin opened #46130 "Joins by more than one mutual attribute"
### Feature description

I work a lot with trip matrices and often need to join two matrices by both "From" and "To" (under Layer Properties, Joins).

I usually use the work-around to create a new attribute as "From||'-'||"To" but it would be nice to avoid that.

### Additional context

_No response_

[2021-11-19 14:07] magerlin opened #46131 "Use the same layer more than once when defining a join"
### Feature description

In current versions of QGIS a layer is omitted from selection box in "LAyer Properties, Join" if it has already once been joined on the current layer.

I could have a situation with a table defining lines going from point A to point B and I have a separate layer/table with point coordinates.

To add point coordinates to both A and B column in current QGIS I need to load th

[2021-11-19 14:50] #46127 closed

[2021-11-19 14:56] gioman commented on #46024
@Callahan1 what do you mean with "real time"?

Can you attach a project (with all the necessary data, local or remote) that makes QGIS crashes when you use it around the inetrnational date line? thanks.

[2021-11-19 17:07] vcloarec commented on #46120
Trying with 3.22.0 under ubuntu, I can open it but... consume a lot of memory. I think the freeze come from the size of the mesh (more than 9 millions faces) and the time needed to load it. And the eventual crash could come form not enough RAM for this mesh. On my side, I need nearly 10 GBytes to open it. @tschmetzer, can you monitor your RAM when loading the file with the Resource Monitor?

[2021-11-19 17:44] tschmetzer commented on #46120
Thank you @vcloarec. You seem to be right.
- On the machine with a lot of memory it's not a problem to open several instances with one instance loading the mesh data. The mesh adds 7.1 GB memory which sums up to 8.5 GB for that mesh holding QGIS instance.
- On the machine with only 8 GB and other applications and instances already consuming 5-7 GB of the memory GIS crashes and even makes several (

[2021-11-19 19:16] kobusburger commented on #46113
I tried with a new profile with no plugins and QGIS does not hang or exit.
Maybe the previous profile only works on previous versions.
But QGIS still does not recognise two ecw layers, even if I reselect the
ecw files (the other versions do recognise the ecw layers). QGIS 3.22 does
find the ecw files if I click on the path but it still does not load the
files.

On Thu, 18 Nov 2021 at 16:07, Giovan

[2021-11-19 19:21] gioman commented on #46113
@kobusburger this could be a separate issue that would need a separate ticket. If you will open it please say how you installed QGIS, with the standalone or network install, and if you used the latter if you did install the gdal-ecw library.

[2021-11-19 19:21] #46113 closed

[2021-11-19 19:23] gioman commented on #46128
@rswmajor can you please expand on  the concept of "Additional digitizing tools do not work at intersections" and tell us what are the steps to replicate the issue? thanks.

[2021-11-19 21:37] patrickharvey333 commented on #45034
So, to add to the above...

I have continued to have issues on and off with moving away from QGIS then, when coming back to it, it will hang for a minute or two, or while constructing a layout it will hang with every function I perform. This has been very irritating to say the least but I have persevered and will continue to use QGIS into the future as it is such a versatile and useful program. By

[2021-11-19 22:56] BathoryPeter opened #46135 "TypeError in MetaSearch when adding WFS data"
### What is the bug or the crash?

[code]

### Steps to reproduce the issue

1. Open MetaSearch
2. Search for a dataset where Add data button is active
3. In Add data dropdown select Add WFS
4. In New WFS layer from a server dialog select any item from the list
5. Click to Add button
6. A Python error dialog appears

### Versions

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org

[2021-11-20 08:44] kannes commented on #44019
Are you sure the color ramp is not already included in http://soliton.vm.bytemark.co.uk/pub/cpt-city/ ?

Currently color ramps in QGIS do not have a way to specify the values at which they should be applied from what I know. I am not sure that would be easy to add (after all some weird parts of the world use data not measured in meters etc.). So to get the color scale into QGIS at all, one easy wa

[2021-11-20 08:54] kannes opened #46136 "Inconsistent behaviour for embedded color palette in raster datasets"
### What is the bug or the crash?

When using a raster dataset that has an embedded color palette, QGIS will be default load and assign those colors, using the "Paletted/Unique Values" mode.

However there are two problems, they are closely related so I combined them in this issue:
1) The color ramp dropdown displays "Random colors" even though the embedded palette was chosen
![image](https://user

[2021-11-20 09:43] rswmajor commented on #46128
Create two lines that intersect. Turn on snapping to intersections. Create another line, the first point is anywhere, the second is at the intersection, the third point needs to be placed at an angle or parallel to the previous segment, and the gusset stops working

[2021-11-20 10:06] Callahan1 commented on #46024
"real time" means the XYZ tiles displayed in the project are downloaded from a server on demand. The layer artwork is not stored at this computer, and seemingly cannot be be downloaded for local use.
The server is:
http://server.arcgisonline.com/arcgis/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}
And you will need to setup this server on the left side under "XYZ Tiles"
![QGIS layer](h

[2021-11-20 10:39] Callahan1 commented on #46024
Upon trying to export the XYZ tiles layer as GeoTIF, I just got a short message "bad allocation" and then QGIS crashed to desktop before I could screenshot it.
But I have a screenshot of some other error message that appears on printing/exporting the XYZ Tiles layer.
It sounds like QGIS requested a miscalculated image size from the server.

To me it seems, as soon as 1 edge point of the image is a

[2021-11-20 10:47] kannes commented on #46117
It is fine for OGR so looks like it is indeed QGIS-side:
[code]

[2021-11-20 11:41] agiudiceandrea commented on #46117
@kannes the bug occurs using the "Delimited Text" importing functionality, which is handled internally by the  QgsDelimitedTextProvider QGIS provider and not through the GDAL/OGR library.

[2021-11-20 12:26] gioman commented on #46024
@Callahan1 if you set the project CRS to the same CRS as xyz layer you woon't get any issue. The problem seems to arise from the reprojection to the 102030 CRS. I'll update the title and description.

About saving a xyz "real time" layer into a 0-360 map, I guess you could try save it in mbtiles format then out it in 0-360 as suggested for TIFFs (never tried that).

[2021-11-20 12:36] gioman commented on #46135
@BathoryPeter confirmed also on Win10. Does not happen on 3.16.13, regression.

[2021-11-20 12:40] gioman commented on #46136
@kannes I see only methods to download that require a login or just a bundle of all data (120gb). Can you link (google drive, dropbox, etc.) a more accessible sample? thanks.

[2021-11-20 12:52] gioman commented on #46129
@magerlin I updated the title to reflect the source of the problem (which is confirmed also on 3.16.13).

[2021-11-20 12:57] DelazJ opened #46138 "Unable to see relations properties in layer properties "Attributes form" tab"
### What is the bug or the crash?

Having a relation set in a project and going to the parent layer properties dialog > "Attributes form" tab, I can see  the relation but i'm unable to see its properties, getting either a blank panel or a message to set it in the drag-and-drop panel (which neither shows the settings anyway)

### Steps to reproduce the issue

![Peek 19-11-2021 07-30](https://user-i

[2021-11-20 13:13] gioman commented on #46128
@rswmajor I edited the title. Seems also to me that with snapping on intersection the advanced digitizing panel options are not working on 3.22.

[2021-11-20 14:12] kannes commented on #46136
The AWS access is possible without an account, it is really nice! But you are right, it's not obvious, you need to install a tool and I should have provided a sample. :)

I attached a file to this comment, the license is **© ESA WorldCover project 2020 / Contains modified Copernicus Sentinel data (2020) processed by ESA WorldCover consortium’**:
[ESA_WorldCover_10m_2020_v100_N00E006_Map.tif.gz](ht

[2021-11-20 14:14] gioman opened #46139 "WMS client shows wrong number os available CRSs for a lyer"
### What is the bug or the crash?

This is on 3.16.13 as on 3.22 the list is **completely** wrong (see https://github.com/qgis/QGIS/issues/45918)

Available 5 --> but they are 4

![Screenshot 2021-11-20 140652](https://user-images.githubusercontent.com/1951107/142729408-499a9892-e879-490c-ade6-9e507ece8dca.png)

### Steps to reproduce the issue

Use the WMS client to connect to a WMS service that

[2021-11-20 14:15] gioman commented on #46136
@kannes thanks!

[2021-11-20 15:00] gioman opened #46140 "Exluding a print layout in project propteries -> server do not avoid that a GetPrint request can be done for that layout"
### What is the bug or the crash?

According to the docs https://docs.qgis.org/3.22/en/docs/server_manual/getting_started.html#wms-capabilities

_" If you want to exclude any print layout from being published by the WMS, check checkbox Exclude layouts and click the signPlus button below. Then, select a print layout from the Select print layout dialog in order to add it to the excluded layouts list

[2021-11-20 15:03] rswmajor commented on #46128
@gioman , ok, thanks. I noticed that snapping in the case of intersecting lines works from the point with coordinates 0,0, and not from the point of intersection

[2021-11-20 15:03] agiudiceandrea commented on #46117
The attached WinZip archive [testcsv.zip](https://github.com/qgis/QGIS/files/7574682/testcsv.zip) contains the testcsv.csv ad testcsv.csvt files as described in the bug report.

With QGIS 3.16.5 on Windows (OSGeo4W v1) the testcsv layer has the following fields (from Layer Properties -> Fields)

- if imported using the drag and drop from the Browser Panel or from the Windows Explorer / File Explor

[2021-11-20 16:24] agiudiceandrea commented on #46117
@elpaso I think I've managed to fix the issue. See https://github.com/qgis/QGIS/pull/46141.

[2021-11-20 17:01] jgrocha commented on #46139
Hi @gioman

I've done two tests and both worked as expected. One against Geoserver and another using MapProxy. I was not able to reproduce this issue with current master. Does not seems to be a client error.

**Example**

These are the CRS reported by the WMS Server (MapProxy in this case):

[code]

When I connect to this service, 5 CRS are reported.
![Screenshot from 2021-11-20 16-54-22](https://

[2021-11-20 17:20] uclaros commented on #46131
This could almost be classified as a bug!

[2021-11-20 17:27] magerlin commented on #46129
Ah ok - right I had some quite complex joins between layers in my project 👍

Best regards/Med venlig hilsen

Morten Agerlin Petersen
________________________________
From: Giovanni Manghi ***@***.***>
Sent: Saturday, November 20, 2021 1:52:35 PM
To: qgis/QGIS ***@***.***>
Cc: Morten Agerlin Petersen ***@***.***>; Mention ***@***.***>
Subject: Re: [qgis/QGIS] If a join between layer A and B exists,

[2021-11-20 17:33] gioman commented on #46139
@jgrocha it seems weird to me you were not able to reproduce with master considered this https://github.com/qgis/QGIS/issues/45918 (which I also tested against Mapserver).

[2021-11-20 17:36] gioman commented on #46139
@jgrocha this is what the GetCapabilities/GetProjectInfo shows
[code]

I don't know where that `<CRS>CRS:84</CRS>` comes from considered how the project is set up:

![image](https://user-images.githubusercontent.com/1951107/142735926-b1c97614-866f-4388-901a-2351abd84944.png)

I agree that this seems more a server issue.

[2021-11-20 17:44] ReghardNell commented on #45938
Thanks :+1 :)

[2021-11-20 18:33] jgrocha commented on #46139
Right now, the `<CRS>CRS:84</CRS>` is added unconditionally to the output.

https://github.com/qgis/QGIS/blob/1d1d59d7fb069b90f0498d98f7c74708b8f841e3/src/server/services/wms/qgswmsgetcapabilities.cpp#L1407

As far as understand, **it is not mandatory**. From the [WMS 1.3.0 specification](https://portal.ogc.org/files/?artifact_id=14416):

_A WMS must support at least one CRS, and maps from multipl

[2021-11-20 18:35] gioman commented on #46139
@jgrocha for the casual user (and also for who set up a service) is **annoying** and **confusing**.

[2021-11-20 18:45] gioman opened #46142 "Wrong GetPrint result when printing more than one map object"
### What is the bug or the crash?

This is the scenario:

I have a project with 2 vector layers:

caop2019_sma (polygon)
caminhosflorestais_sma (lines)

one raster layer:

tinras_sma (a digital elevation model)

and one xyz baselayer that is not really important in this case.

I have one print layout with two map objects, map0 and map1 (more on the map objects ids in GetProjectSettings VS print co

[2021-11-20 19:14] gioman opened #46143 "Name/id of map objects in GetProjectSettings follows an order that is the inverse of the order used to add the map objects in a layout"
### What is the bug or the crash?

I'm not rally sure if any of the following is by design, if it is then it is really confusing and I would question this choice.

Create a project with a layout, and add a map object in it. In the context of the composer this map object has an automatic ID that is "Map 1".

Now publish the project with QGIS Server and do a GetProjectSettings request:

First confus

[2021-11-20 22:15] roya0045 commented on #46131
I'm pretty sure this was intentional. These types of relationship really seem like an edge case and even a data management issue (why not just have a field that contain both as a unique key, otherwise for 1:n join use the alg).

[2021-11-21 01:48] earthvandy opened #46145 "Style Manager Problems/Symbology"
### What is the bug or the crash?

Hi!
I need to do the symbology of my project but the **style manager** doesn't display the items styles. I tried to import them but it’s like they are downloaded but I can’t see them nor use them.

### Steps to reproduce the issue

![image](https://user-images.githubusercontent.com/94769218/142745907-af2f7669-c377-4778-ac3c-61cc87fd598c.png)
![image](https://user

[2021-11-21 04:08] #45919 closed

[2021-11-21 09:10] gioman commented on #46145
@earthvandy can you please try with a new QGIS profile?

[2021-11-21 09:31] magerlin commented on #46131
I do no see it as an edge problem, I often face the problem.

Just as one example: I often use data from the public Danish Transport Surveys. Here a respondent could have replied I live in this municipality and I performed a trip from municipality A to B.

Probably to reduce file size municipalities are coded by their 3-digit number, not their name.

But when presenting results I want of course to

[2021-11-21 09:31] Callahan1 commented on #46024
Unfortunately I am bound to the CRS my team mates use for this project. The CRS are all Lambert Conic CRS of some type.
I'll try to fetch the layer's tiles as mbtiles, thanks for this advice!

[2021-11-21 09:48] uclaros commented on #46131
This is not about using multiple fields for the join, this is about joining again the same layer based on a different key this time.
I agree it is most probably on purpose as it is now though.

[2021-11-21 10:19] aetherman21 opened #46147 "QGIS crashes with combination of marker line and simple line"
### What is the bug or the crash?

Hi,

Qgis is crashing everytime i combine a simple line and a marker line (with markers on central point of segments or on every vertex) in the symbology option. It happens with different vectorial databases.
This problem doesnt happens when i only put marker line (without simple line)

## Report Details

**Crash ID**: [edd74f6208274aabd76d490c68ce098a9d3a52ac](h

[2021-11-21 10:29] gioman commented on #46147
@aetherman21 no crash here on QGIS 3.16.13 on Win10 with the above steps. Have you really tested on a new QGIS profile (with no 3rd party plugins)? If yes then please share a vector that in your case makes QGIS crash.

[2021-11-21 10:35] yiusinglau opened #46148 "Crash when pressed "create new spatialite layer""
### What is the bug or the crash?

The program crashes when I hit the "create new spatialite layer" button.
`Warning: QObject::connect(QgsProviderMetadata, QgsProviderConnectionModel): invalid null parameter
Warning: QObject::connect(QgsProviderMetadata, QgsProviderConnectionModel): invalid null parameter
QGIS died on signal 11Could not attach to process.  If your uid matches the uid of the target

[2021-11-21 11:10] gioman commented on #46148
@yiusinglau can't replicate on QGIS 3.22 (installed from QGIS.org's repos) and Linux Mint 20.2.

[2021-11-21 11:33] magerlin commented on #46131
@roya0045 I have seen value maps as something you use when coding data - not when analysing existing data but yes it should be possible to add new columns based on a value map

[2021-11-21 11:54] aetherman21 commented on #46147
Hello,
Yes, i have tested with a new Qgis Profile, I've also made a new installation of 3.16 without any plugin.
There is my shapefile.

[data.zip](https://github.com/qgis/QGIS/files/7576183/data.zip)

[2021-11-21 11:55] #45939 closed

[2021-11-21 11:59] gioman commented on #46147
@aetherman21 still no crash here. You may want to add a screencast of the steps you are following, there may be some subtle detail in play.

[2021-11-21 13:01] pigreco commented on #35597
here's where to use it!
![image](https://user-images.githubusercontent.com/7631137/142762901-40dc5059-3c8e-432c-baf9-c7a2b604c6f3.png)

[2021-11-22 00:49] dkelsey commented on #45914
Closing.  I'm satisfied.

[2021-11-22 00:49] #45914 closed

[2021-11-22 02:40] #43100 closed

[2021-11-22 04:44] thayeray opened #46151 "Closing "Measure Bearing" or "Measure Angle" results dialog causes crash"
### What is the bug or the crash?

Using the "close" button on either the Measure Angle or Measure Bearing results dialog causes QGIS to crash. The close button for the Measure Bearing tool seems to always cause a crash. The Measure Angle tool may close correctly once or twice but the third time usually causes a crash. Note that the "red circle x" button does not cause a crash.****

### Steps to r

[2021-11-22 04:46] thayeray commented on #46151
Not sure if this is related to the closed issue: Closing "measure angle" causes crash on multiple displays #23504

[2021-11-22 05:17] thayeray commented on #46151
I also tried with a new user profile and see the same problems. Sorry for forgetting this step initially.

[2021-11-22 06:13] Apis49 opened #46152 "QGIS crash when opening old project."
### What is the bug or the crash?

Crash ID: d1f7afe8399d52daab504182ca4d3f9b8b3ed3c1

Stack Trace

QTextCodec::toUnicode :
providerMetadataFactory :
providerMetadataFactory :
providerMetadataFactory :
QgsVectorLayer::setDataProvider :
QgsVectorLayer::readXml :
QgsMapLayer::readLayerXml :
QgsProject::addLayer :
QgsProject::_getMapLayers :
QgsProject::readProjectFile :
QgsProject::unzip :
QgsProjec

[2021-11-22 06:20] MrChebur opened #46153 "Add multiple selection with mouse in the `Add Vector join` dialog."
### Feature description

In the `Layer Properties` => `Joins` => `Add Vector Join`
At the moment, there is no possibility of multiple selection of fields when joining them from another layer.
It would be nice to be able to select multiple fields with the mouse (using the Shift key) and press the space bar to select them.

For example, if I have 200 fields and I want to add 199 of them - it's tortu

[2021-11-22 06:29] MrChebur commented on #46153
Duplicate: https://github.com/qgis/QGIS/issues/20141

[2021-11-22 06:29] #46153 closed

[2021-11-22 08:27] gioman commented on #46152
@Apis49 please try wit a new QGIS profile.

[2021-11-22 08:31] gioman commented on #46151
@thayeray tried many times, but I wasn't able to make QGIS crash. This may be related to some other detail, like the project CRS.

[2021-11-22 08:32] gioman commented on #46151
@thayeray do you use multiple displays?

[2021-11-22 08:32] uclaros commented on #46151
Can you also attach the crash's stack trace?

[2021-11-22 08:34] Apis49 commented on #46152
I already try. It's normally opens in QGIS 3.18 but it crashes when I try to open in 3.22.1, it was the same in 3.22.0. Before I was using 3.20 without problems.

[2021-11-22 08:36] gioman commented on #46152
@Apis49 can you attach the project file?

[2021-11-22 08:43] Apis49 commented on #46152
Here is the project file.

Thanks for the help.

[2021_03_23_Varstveni_sloji_PUN.zip](https://github.com/qgis/QGIS/files/7579363/2021_03_23_Varstveni_sloji_PUN.zip)

[2021-11-22 08:55] gioman commented on #46152
@Apis49 without the data it opens fine here

![image](https://user-images.githubusercontent.com/1951107/142831511-dbfc85a4-99ab-4a7c-b1d0-4c2544b8613d.png)

[2021-11-22 08:59] Apis49 commented on #46152
I try to remove the data where the loading stops. But then it stops when loading another layer. I will try on another comp.

Thank you.

[2021-11-22 10:04] gioman commented on #42627
Still true as per 3.22.1

[2021-11-22 11:04] #46117 closed

[2021-11-22 11:41] gioman commented on #46116
This is also confirmed in 3.22.1 now.

[2021-11-22 11:50] gioman opened #46157 ""Add virtual layer" do not open the correct dialog"
### What is the bug or the crash?

Instead it opens:

![image](https://user-images.githubusercontent.com/1951107/142856835-9f38b5b2-61f8-4fcf-8ad5-0c818ce0a912.png)

### Steps to reproduce the issue

See above.

### Versions

QGIS 3.22.1

### Supported QGIS version

- [X] I'm running a supported QGIS version according to the roadmap.

### New profile

- [X] I tried with a new QGIS profile

### Add

[2021-11-22 13:21] thayeray commented on #46151
Thanks for your attention to this. @gioman I am not using multiple displays, but the issue seems to be the same/similar. For most of my testing I have been either measuring on a blank canvas which usually results in 'NaN' for the measurements, or adding OSM Standard from QuickMapServices so the project CRS is 4326 or 3857. For the older version 3.14 I added a layer in 2893 to a blank canvas. My sy

[2021-11-22 13:23] roya0045 commented on #46157
Isn't this a duplicate ?

[2021-11-22 13:24] gioman commented on #46157
@roya0045 of what other ticket?

[2021-11-22 13:31] roya0045 commented on #46157
#46116

[2021-11-22 13:51] gioman commented on #46157
@roya0045 no, is a different issue.

[2021-11-22 13:53] andreasneumann opened #46158 "Populating a column of type PostgreSQL array and list widget with an expression fails if "Apply default value on update" is enabled"
### What is the bug or the crash?

The setup contains a PostgreSQL table where one or more columns are of type array (array of int4 or array of string).

[code]
The associated widget should be a "list widget" and the list should be populated with an "overlay_intersects()" expression function as a default value:

![image](https://user-images.githubusercontent.com/884476/142872410-47a1be3b-1202-4243

[2021-11-22 14:00] grassu opened #46159 "notify signal from postgresql not working?"
### What is the bug or the crash?

SELECT pg_notify('qgis', 'xyz');
in Postgresql db is not refreshing the corresponding QGIS Layer.

### Steps to reproduce the issue

- add postgis-Layer to qgis-project
- activate "refresh layer on notify" checkbox on layer
- add renderer on column xyz
- Executing UPDATE value ... in postgres for column xyz
- execute "SELECT pg_notify('qgis', '');"
--> unfortunat

[2021-11-22 14:21] bernspi commented on #36264
Still open with 3.16.6 and 3.20.0rc. When adding WMTS from Browser Panel the Parameter "&tileDimensions=" is missing. So it won't show the layer in the canvas. If adding the layer from within Panel (Menu) "Add Layer" or "Add Datasource" the Parameter "&tileDimensions=" is not missing.

[2021-11-22 14:49] gioman commented on #46151
So this is probably a macOS only issue (I cannot replicate on Windows or Linux).

[2021-11-22 14:50] gioman commented on #46151
Weird, a blank canvas still has a CRS and it still shows a measurement on Windows and Linux.

[2021-11-22 14:52] kannes opened #46160 "Add a "copy to clipboard" function for preview values of expression evaluations"
### Feature description

The expression dialogs (e. g. the Field Calculator) show a preview of the result value of an entered expression at the bottom. When the stringified value uses many characters, it gets abbreviated after about ~60 characters.

For development/debugging purposes or even just more insight in general, it would be useful to be able to get the full value of the evaluated expressi

[2021-11-22 15:00] kannes opened #46161 "referenced_columns parameter of Python expression function decorator is not properly documented"
### What is the issue about the documentation?

https://docs.qgis.org/3.22/en/docs/user_manual/expressions/expression.html#function-editor mentions the optional keyword argument "referenced_columns" to the `@qgsfunction` decorator.

It says

The actual purpose of the parameter is unclear. Access to attributes that are not referenced in this list will actually work or not depending on the provider.

[2021-11-22 15:03] kannes opened #46162 "Template for Python expression function should omit the optional referenced_columns parameter"
### What is the bug or the crash?

https://docs.qgis.org/3.22/en/docs/user_manual/expressions/expression.html#function-editor mentions the optional keyword argument "referenced_columns" to the `@qgsfunction` decorator.

The default code from the function template (used when the user creates a new function in the GUI) includes the parameter in its decorator as an empty list: `@qgsfunction(args='aut

[2021-11-22 15:35] m-kuhn commented on #46040
See also https://blog.joeyandres.com/2019/03/07/avoid-re-running-npm-yarn-in-cmake-targets/

CC @elpaso

[2021-11-22 17:02] gioman commented on #42142
Fixed by https://github.com/qgis/QGIS/pull/46164

[2021-11-22 17:24] m-kuhn commented on #46158
Interestingly, this works for me with QGIS master, the postgis layer (created with the SQL in the issue description) and a simple scratch layer that corresponds to `hoheitsgrenzen_gemeindegrenze`.
This works if the data type of the field is int or string (with string the provider doesn't let me save the edits but the expression works and the widget is filled nonetheless).

Attached you find a [gpk

[2021-11-22 17:38] gioman commented on #46159
@grassu this https://kartoza.com/en/blog/using-pgnotify-to-automatically-refresh-layers-in-qgis/ works for me on 3.22.1 and 3.16.14

[2021-11-22 17:39] murdocha commented on #42805
@Bud8600
I don't believe that there _is_ a "native" MSSQL QGIS "provider" for Linux, but only on Windows QGIS.

I was able to do something similar (accessing MS SQL data in a python QGIS script running on Docker Linux with the qgis/qgis image from Docker hub) using the default MS SQL ODBC driver that comes built-in with the QGIS provided version of GDAL/OGR.
You might be able to do that and then c

[2021-11-22 17:43] andreasneumann commented on #46158
Confirmed - with your project it works, with my project not.

Now I have to dig in to find what the differences are ...

Let's keep the ticket open until it also works in my projects. I will add more info.

[2021-11-22 17:54] andreasneumann commented on #46158
Ok - this is really weird.

If you rename the attribute "x" in layer "array_test" it starts failing. It would still display in the "Identify Results" panel correctly, but not in the list widgets.

Perhaps QGIS doesn't like it if both layers have the same attribute name?

[2021-11-22 18:02] andreasneumann commented on #46158
Oh no - it is some completely different issue. Not the naming issue.

It starts failing if you enable the "Apply default value on update"

![image](https://user-images.githubusercontent.com/884476/142912111-045fd729-7843-480c-a929-f0358afb94e2.png)

It has nothing to do with the column names.

[2021-11-22 18:09] arer01 opened #46165 "I want the Atlas-export to pdf (on the right) to tolerate ":" in the autonaming-field like the normal export to pdf (on the left)"
### Feature description

The atlas export-function isn’t working properly. I would guess that the problem is the ":" in the name

When using the left "export to pdf" Qgis is correctly naming the files and replacing : with _ so "Kalmare 1:40" is called "Kalmare 1_40.pdf"

but the right "export to pdf" is creating a file that is called "Kalmare 1" with no size

In Sweden nearly all realestate/proper

[2021-11-22 18:09] Koyaani commented on #46116
@nirvn Do you think this could be related to the PR #45737?

[2021-11-22 19:13] ar-siddiqui opened #46166 "Add ways to assign group and style to layer outputs from processing algorithm"
### Feature description

Currently the QgsProcessingContext.LayerDetails() and context.addLayerToLoadOnCompletion() are used to add a layer to the map on completion of a processing algorithm. Currently, QgsProcessingContext.LayerDetails() only takes display names. Some processing algorithms want to return all output layers in a group and with styles. It would be nice if there is a way to pass styl

[2021-11-22 19:53] matthew-law commented on #31172
This still appears to be an issue in QGIS 3.22.0

[2021-11-22 20:53] #42142 closed

[2021-11-22 22:05] gioman opened #46168 ""TIN interpolation" in modeller, multiple python errors"
### What is the bug or the crash?

When using the TIN interpolation tool in the Modeller, it returns a few different python errors.

### Steps to reproduce the issue

1) add a point or line layer in the project

2) open the modeller, add the TIN interpolation tool

3) set the input with the project layer, set the extent, set the output, press OK

4) not right click "TIn interpolation" in the model

[2021-11-22 22:24] jonnyforestGIS commented on #46168
I try the same workflows in a fresh install and I can report the same behavior.

[2021-11-22 22:43] jonnyforestGIS commented on #46157
I can confirm this behavior:

![addvirtualLayer](https://user-images.githubusercontent.com/4480601/142945857-a4ccd6c7-0419-404a-85ba-cd814b334294.gif)

[2021-11-22 22:51] jonnyforestGIS commented on #46135
I can confirm this behaviour in a QGIS fresh install.

[2021-11-22 23:55] stevage opened #46170 "Increase default icon size on UHD screens"
### Feature description

I just installed QGIS on WIndows 10, on a 27" 4K monitor (3840x2160) with Windows scaling set at 125%.

The default icon size (16px) is very small, and made the UI almost unusable. By googling for a way to make QGIS respect Windows scaling, I came across the option to increase the icon size. 32px looks right, but even 48px would be fine.

I suggest making the default bigge

[2021-11-23 01:49] JCBerger commented on #45749
I'm not sure if this is helpful at this point, but I have experienced similar issues with v3.16.13 on macOS 12.0.1, as well. Based on the tab experience, I was hoping there was a way to configure QGIS to open everything in a new window, but so far I have not found such a setting for the time being. (Am I missing it, or is it not an option at this point?)

[2021-11-23 04:44] alexbruy commented on #46166
There is a "Set style" algorithm which can be used to assign style to the layer. Also in the Processing options you can configure which layer tree group should be used for output layers.

[2021-11-23 04:47] alexbruy commented on #46168
This was already reported multiple times, see #30029, #33406, #38139, #38717, #42484, #45077.

The root of the issue is that TIN interpolation tool uses custom parameter type which does not have modeler wrapper implemented. Moreover this parameter type implementation also needs some love, but it can't be done without breaking API. It is in my TODO.

[2021-11-23 04:47] #46168 closed

[2021-11-23 04:49] nirvn commented on #46157
On it.

[2021-11-23 05:28] ReghardNell commented on #45938
Tested the latest QGIS 3.22. DXF imports as expected as linestringz.

Thanks :)

[2021-11-23 07:05] m-kuhn commented on #46158
Fix pending in #46172

FYI, the default value expression needs to return an array (not a string representation of an array), the fix is in the update of the default value on the attribute dialog, specific for "apply on update" and will work for any datatype that is not trivially convertible to string and back (like arrays here, but could also be geometry, date, ...).

[2021-11-23 07:18] Apis49 commented on #46152
I managed to open the project in QGIS 3.22.1.
First I changed the name of the source map with the layers.
Then I opened the project. Of course the QGIS didn't find the layers. Then I choose AUTO-FIND layers. QGIS found layers and layers with issues were in red. So then I choose remove unavailable layers and the project opened.

It is funny, because those layers are not corrupted. And project norma

[2021-11-23 09:02] kannes opened #46174 "HTML/String-ish QByteArray as result of expression function breaks expression preview display"
### What is the bug or the crash?

**Warning: This will wreck the Field Calculator dialog for your current profile.** It will become bigger than your screen and you can not resize it. Do not try this on a QGIS profile you cherish! If you mess up, you can remove the line `QgsFieldCalculatorBase\geometry=@ByteArray(...)` from your qgis.ini to reset it.

This will make your Field Calculator very tall

[2021-11-23 09:28] FelisPimeja opened #46175 "Passwords cannot be saved into keychain on macOS"
### What is the bug or the crash?

The issue is similar to https://github.com/qgis/QGIS/issues/40541
On MacOS 12.0.1 Monterey QGIS (3.22.0-Białowieża and 3.16.14-Hannover) can not use keychain to store passwords when connecting to Postgresql 14.

### Steps to reproduce the issue

In QGIS with new clean profile:
1. Create new connection to PostgreSQL 14 database
2. Enter user/password
3. Click "Con

[2021-11-23 09:37] FlorianTimm opened #46176 "Attribute-based rotation of symbols in DXF"
### What is the bug or the crash?

When exporting layers with symbols with attribute-based rotation the rotation is interpreted counterclockwise instead of clockwise, like it is interpreted in QGIS itself. To get the correct rotation you have to use (360 - rotation) as value.

### Steps to reproduce the issue

1. Create point layer with rotation directions as attribute
2. Visualize them using attr

[2021-11-23 10:22] kannes opened #46177 "context parameter of Python expression functions is not properly documented"
### What is the issue about the documentation?

https://docs.qgis.org/3.22/en/docs/user_manual/expressions/expression.html is missing documentation on the optional `context` parameter that allows access to e. g. the expression variables.

The function template includes a description:
https://github.com/qgis/QGIS/blob/b38d2b4ba9cc8eb4e42949128b51b3683dd5b871/src/gui/qgsexpressionbuilderwidget.cpp#L

[2021-11-23 10:27] #46157 closed

[2021-11-23 10:57] #46116 closed

[2021-11-23 13:40] gioman commented on #46176
@FlorianTimm did you used the "export project to DXF" functionality or did you just "save as..." your vector?

[2021-11-23 14:19] ar-siddiqui commented on #46166
The set style is a whole different algorithm, per my understanding through different posts on StackExchange, people discouraged such solutions and said the correct way to deal with layer details is the post-processor interface. (Correct me if my understanding is wrong please).

For the group option in settings, it groups everything the same way for each processing algorithm, and this is a setting

[2021-11-23 15:07] kannes commented on #46161
Oops, this should also go to https://github.com/qgis/QGIS-Documentation/issues I presume!

[2021-11-23 15:08] kannes commented on #46161
Note to self, related https://github.com/qgis/QGIS/issues/46162

[2021-11-23 15:15] gioman commented on #46175
@FelisPimeja Just tested on QGIS 3.22 on macOS catalina + pgsql 14: works fine. My macmini can't update do Big Sur or Catalina, so I cannot say if this is confirmed on the latest iteration of Apple OS.

[2021-11-23 17:04] FlorianTimm commented on #46176
I used "export project to DXF" with "symbol layer symbology"

[2021-11-23 18:39] gandlar opened #46181 "3.22 dem all messed up"
### What is the bug or the crash?

ive just installed 3.22 on osx 10.13.6. Opened one of my project files, and realised that almost all DEM layers are messed up; im just seeing them as scattered points/pixels. In fact, the problem is in band rendering/classification - it is done in manner of randomly scattered pixels. This also goes for eg. aspect data.

### Steps to reproduce the issue

<img widt

[2021-11-23 18:45] gioman commented on #46181
@gandlar can you please make a copy of your project with just one raster layer and attach it here (project and data)? thanks.

[2021-11-23 21:24] gandlar commented on #46181
Should I also send you the raster file next to QGIS file?

[2021-11-23 21:25] gioman commented on #46181
@gandlar yes please.

[2021-11-23 21:37] gandlar commented on #46181
[test.zip](https://github.com/qgis/QGIS/files/7591155/test.zip)
tried with 3.16. LTR also, it has the same problem

[2021-11-24 02:40] #45494 closed

[2021-11-24 05:45] larsop commented on #46074
Thanks for merge and back port, then I close it.

[2021-11-24 05:45] #46074 closed

[2021-11-24 07:12] m-kuhn commented on #46161
Defaults to
[QgsFeatureRequest.ALL_ATTRIBUTES].

Something like that?

[2021-11-24 07:59] #46158 closed

[2021-11-24 08:26] gioman commented on #46181
@gandlar Confirmed also here. It is wrong in QGIS >= 3.16 and ok on QGIS < 3.16.

[2021-11-24 08:40] gioman commented on #46181
3.16/22

![image](https://user-images.githubusercontent.com/1951107/143203598-3159587e-ce29-433a-8bdd-98bb856c11e7.png)

3.14

![image](https://user-images.githubusercontent.com/1951107/143203696-918958f9-912d-4283-8cc6-b416fd9068f2.png)

[2021-11-24 09:21] nyalldawson commented on #46181
I don't understand this ticket -- why is a continuous dem being stored using unique values? (Or is that what the bug is?)

[2021-11-24 09:28] gioman commented on #46181
@nyalldawson

QGIS < 3.16

![image](https://user-images.githubusercontent.com/1951107/143211351-5f6445fb-703b-42a1-bacd-55c74844a68a.png)

QGIS >= 3.16

![image](https://user-images.githubusercontent.com/1951107/143211434-9021737e-2999-4041-bf96-7feeb220c40e.png)

[2021-11-24 09:29] jhpoosthoek opened #46186 "DB Manager in QGIS 3.22 not able to open psql table without geometry"
### What is the bug or the crash?

In the QGIS 3.22 Standalone for Windows version the DB Manager cannot add PostGIS geometry less tables anymore to the Canvas. In QGIS 3.20 this works.

An Python Error window opens with the error: 'PGTable' object has no attribute 'geometryType'

### Steps to reproduce the issue

Go to DB Manager
Double click on the PostGIS provider.
Open a PostGIS server (which

[2021-11-24 09:30] nyalldawson commented on #46181
Does it work if you use psuedo color renderer?

[2021-11-24 09:31] gioman commented on #46181
@nyalldawson yes

[2021-11-24 09:31] nyalldawson commented on #46186
Update to 3.22.1 - this is fixed

[2021-11-24 09:32] gioman commented on #46181
@nyalldawson the problem arises at opening a previously saved project, as also at applying a color ramp as "palletted" instead of "pseudocolor".

[2021-11-24 09:33] elpaso commented on #46181
It may be caused by the limit when collecting unique values (from gdal stats IIRC).

[2021-11-24 09:33] nyalldawson commented on #46181
So I question if this is a bug... At least, the bug was in 3.14 incorrectly rounding the double values to ints

[2021-11-24 09:59] sharon92 opened #46187 "Exporting and Importing CSV files with system default Delimiter"
### Feature description

Importing CSV file in Data Source Manager --> Vector layer or Delimited Text always assumes the delimited to be comma, and decimal separator as point.

It ignores the system defaults in the options menu.

Also exporting CSV from inbuilt tools (eg. Mesh > Export cross section data values on line from mesh) always defaults to comma separated values instead of system default

[2021-11-24 10:04] gioman commented on #46181
@nyalldawson so this means that QGIS < 3.16 only shown the full symbology by mistake and that anyway the correct way is to use the pseudocolor renderer? Question: why applying a color ramp in palletted mode works partially?

[2021-11-24 10:05] sharon92 opened #46188 "Issue warning when Saving/Overwriting imported Mesh"
### What is the bug or the crash?

When a 2dm Mesh file is imported and saved, the file loses its Model Parameters.
The output 2dm file only consists of the mesh data.

Here a warning is necessary that should warn the user that the Model Parameters are going to be deleted and overwritten. And an option to backup the original file should be provided.

### Steps to reproduce the issue

1. Import 2dm

[2021-11-24 10:09] gioman commented on #46187
@sharon92 adding a CSV from "add vector" (or by the browser) assumes that is comma separated, with point as decimal. But the "add delimited text" provider has plenty of options for separators, decimal separator, etc. They are two different things.

[2021-11-24 10:10] gioman commented on #46181
I guess the answer is "It may be caused by the limit when collecting unique values (from gdal stats IIRC).".

[2021-11-24 10:14] sharon92 commented on #46187
@gioman if I want to import a csv file with semicolon separated values in "add delimited text", I will have to define it every time in custom delimiters. If the csv reader/writer honors the system default, I can save this extra step.

[2021-11-24 10:17] elpaso commented on #46181
Let's say it another way: using unique values/paletted for continuous rasters does not generally make much sense, except when you know that your raster contains a limited (low) number of possible values (that probably means it is not really a continuous raster), in that case using unique values/paletted would be an options and it is supported by QGIS since https://github.com/qgis/QGIS/pull/39088,

[2021-11-24 10:20] gioman commented on #46181
@elpaso ok, so it was working by incident, this is the conclusion, right?

[2021-11-24 10:21] elpaso commented on #46181
@gioman I'd say so.

[2021-11-24 11:00] romain-jault commented on #45872
@gioman, Hello, sorry for the late answer, no problem for me specially if it can help to improve    @##QGIS.

[2021-11-24 11:09] gioman commented on #46181
@elpaso then I guess we should close this.

[2021-11-24 11:49] nicogodet commented on #46188
You do not have this popup when you edit your file ?
![image](https://user-images.githubusercontent.com/39594821/143233073-e9cc028d-146e-490d-915b-7fc275d340b4.png)

try upgrade to 3.22.1 also

[2021-11-24 12:18] Gustry opened #46191 "Default action provided about the click is not totally correct : "clicked_x" versus "click_x""
### What is the bug or the crash?

Actions using the click is not 100% correct.

With the click, in the default example, it's `click_x` and `click_y`, but in the expression builder, expressions are `clicked_x` and `clicked_y` and in the tooltip as well.

This one works, the one provided by default:
![Capture d’écran de 2021-11-24 13-05-14](https://user-images.githubusercontent.com/1609292/14323594

[2021-11-24 12:56] sharon92 commented on #46188
@nicogodet where can I install 3.22.1 from?

[2021-11-24 12:57] gioman commented on #46188
@sharon92 https://qgis.org/downloads/QGIS-OSGeo4W-3.22.1-1.msi

[2021-11-24 12:59] vcloarec commented on #46188
@sharon92 , you should have this message with 3.22.0.

[2021-11-24 13:02] sharon92 commented on #46188
@vcloarec you are right, this message pops up when I import the file. Saving the changes don't pop another warning, which is okay I think.

[2021-11-24 13:07] nicogodet commented on #46188
Correct behavior should be:

- Import : no warning
- Press edit button : warning
- Press save button : no warning as you have already been warned

Is this what you have ?

[2021-11-24 13:12] sharon92 commented on #46188
@nicogodet yes this is the current behaviour. I edited the mesh and after a while I forgot about the fact that I deleted the model datasets and saved it. So I need to remember this for the next time.

[2021-11-24 13:12] #46188 closed

[2021-11-24 16:06] gandlar commented on #46181
thank you all for considering this problem..but, can you help me understand the conclusion - is it bug or not?

[2021-11-24 16:09] gioman commented on #46181
@gandlar no it is not. It worked on QGIS < 3.16 by chance. For rasters with a lot of unique values you must use the "pseudocolor" renderer and not the "palletted" one.

[2021-11-24 16:22] Mayraldana opened #46196 "Crash when I open add vectorial data / explorer"
### What is the bug or the crash?

Crash when I open administrator of data source and I click on explorer

### Steps to reproduce the issue

1. New project
2. layer
3. add layer
4.  add vectorial layer
5. source
6. click on explorer
7. crash

### Versions

3.22

### Supported QGIS version

- [X] I'm running a supported QGIS version according to the roadmap.

### New profile

- [ ] I tried with a n

[2021-11-24 16:23] gioman commented on #46196
@Mayraldana you must try with a new QGIS profile. Thanks.

[2021-11-24 16:32] Mayraldana commented on #46196
Yes, I created a new one, but when I try the following path layer/add
layer/add vectorial layer/source/explore, the program closed immediately.

El mié, 24 nov 2021 a las 12:23, Giovanni Manghi ***@***.***>)
escribió:

--
Saludos

*Mayra Aldana*
+58 (0412)-5655057

[2021-11-24 16:40] gioman commented on #46196
@Mayraldana we need more details: Operating System (and version)? Does it happens on 3.16.14?

[2021-11-24 18:10] roya0045 opened #46197 "Parallels line rotation display issue"
### What is the bug or the crash?

When using the map angle to control the angle of lines in a line fille, the lines can vanish at specific angle.

Using a formula such as "x - @map_angle" the lines always stop rendering when the angle of the map is around x ± 0.3 or around that range.

### Steps to reproduce the issue

[test_line_rotation.zip](https://github.com/qgis/QGIS/files/7597878/test_line_

[2021-11-24 18:55] kannes commented on #46161
I will steal that with a little change
[code]
![image](https://user-images.githubusercontent.com/7661092/143297871-1ad8dd72-69cd-470a-9417-39b2793a5c28.png)

[2021-11-24 19:03] gandlar commented on #46181
ok, thanks

[2021-11-24 19:09] sfreeborne opened #46199 "Screen Resolution Problem"
### What is the bug or the crash?

Upon opening QGIS for the first time on a new laptop, the application appears to be very zoomed in and I am unable to change it.
![Capture](https://user-images.githubusercontent.com/94992906/143299318-faff7eec-ed5c-49aa-9644-c48edc66d8e4.PNG)
![Capture](https://user-images.githubusercontent.com/94992906/143299338-bdccbbb2-2468-4473-b377-d111259ec8d5.PNG)

### Ste

[2021-11-24 19:38] roya0045 commented on #46199
Settings - Options - General : Application

You can change the font size there.

[2021-11-24 20:09] agiudiceandrea commented on #45935
@9ls1 do you experience the same issue with the SAGA algorithms?

[2021-11-24 21:32] m-kuhn commented on #46161
Bring it on!

[2021-11-25 01:15] Mayraldana commented on #46196
Windows 10, with 3.16 it's the same.

El mié, 24 nov 2021 a las 12:40, Giovanni Manghi ***@***.***>)
escribió:

--
Saludos

*Mayra Aldana*
+58 (0412)-5655057

[2021-11-25 01:29] dingausmwald commented on #45237
It's really sad nobody of your team seems to test qgis on windows mashines. You would get a heart stroke. Infinite loading screens, freezing all over the place. Recent bugs in releases underlines this ones more. I'd say more than 50% of the speed/response bugs in this tracker are from windows users. I'd also say most of the qgis users are windows users. But still, since the developers are mostly,

[2021-11-25 05:18] kairom13 opened #46203 "Application crashes when attempting to delete orphaned line segments with vertex tool"
### What is the bug or the crash?

After merging two features together, sometimes small snippets of the previous border remain as orphaned polygons that are effectively line segments. When I attempt to delete the points of the polygon to remove the orphans, the application sometimes crashes.

This is the stack trace for the crashed thread that Apple reported, if that helps to identify where the is

[2021-11-25 05:22] gioman commented on #46203
@kairom13 can you attach a sample? thanks.

[2021-11-25 05:32] kairom13 commented on #46203
@gioman Can you clarify what you mean by sample?

[2021-11-25 05:35] gioman commented on #46203
@kairom13 the layer (or part of it) with the orphaned polygon, so we can try replicate on our machines.

[2021-11-25 05:44] kairom13 commented on #46203
@gioman what file type are you expecting? I'm can't seem to be able to attach either shapefile or geopackage files.

[2021-11-25 05:52] gioman commented on #46203
@kairom13 you can attach zip files here. Zip your layer.

[2021-11-25 05:54] gioman commented on #45237
@vlebert can you please share again the project? the link has expired.

[2021-11-25 05:57] kairom13 commented on #46203
@gioman Ahh ok. Thanks. Here's the zip of the geopackage. The orphaned polygon is FID 3. I'm sorry it's not really replicable, but it's the only common thread I've noticed when the crash occurs.

[orphaned polygon test.gpkg.zip](https://github.com/qgis/QGIS/files/7600541/orphaned.polygon.test.gpkg.zip)

[2021-11-25 05:57] gioman commented on #46196
@Mayraldana this do not seems to be a general issue, but rather a local one. In the new QGIS profile you did re-install any 3rd party plugin or it was free of 3rd party plugins?

[2021-11-25 05:57] arno974 opened #46204 "Using "pan map" tool after measure tool add a new (wrong) measure point"
### What is the bug or the crash?

When using the measuring tool, it is sometimes necessary to move and therefore to use the moving tool. After moving and reactivating the measurement tool, a measurement point corresponding to the click of the move button is added to the measure line and then produce a false measure result.

https://user-images.githubusercontent.com/425243/143387635-8be65152-1e75-

[2021-11-25 06:03] gioman commented on #46204
@arno974 have you tried use the spacebar (keeping it pressed) to move/pan the map without needing to select the move/pan tool?

[2021-11-25 06:06] gioman commented on #46203
@kairom13 can't replicate. Have you really tried with a new QGIS profile with no 3rd party plugins installed?

[2021-11-25 06:07] arno974 opened #46205 "Add an option to do not add group label in the map composer legend"
### Feature description

I give many trainings on QGIS and very often the same feature request comes up.This feature is about the possibility to do not display the layer group name in the map composer legend. Of course they could switch the map composer legend to the "manual" mode and remove the layer group name. But would it be possible to add an option "Do not display the group name in the map c

[2021-11-25 06:13] arno974 commented on #46204
Hi @gioman,

I didn't know this shortcut thanks ! Indeed using the spacebar no additional point is added. While your solution works, it does not resolve the problem. Tell me if I'm wrong, but activating a button (move, zoom) should not add an "artificial" point to the measure line. Forgot to mention that this happens with all buttons (move, zoom).
For people with a laptop and no mouse, this can be

[2021-11-25 08:15] 9ls1 commented on #45935
@agiudiceandrea No, I have not tried SAGA algorithms in pyQGIS. However, both SAGA and GRASS algorithms are available and working within QGIS 3.22 (through OSGE4W v2 installation). My original script worked in QGIS 3.16. Thanks for the tip regarding qgis-developer mailing list. I've asked there about this matter.

[2021-11-25 08:41] FelisPimeja opened #46206 "Font “Dingbats” not available on system on project open"
### What is the bug or the crash?

When adding a Font marker style to point layer QGIS uses Dingbats font by default even if it's not available in the system. This leads to error `Font “Dingbats” not available on system` when you save and reopen the project. This may be a little confusing.

### Steps to reproduce the issue

1. Start New project
2. Add Point layer
3. Go to Styling panel and set Fon

[2021-11-25 08:52] Mario211125 opened #46207 "Crash when open a project saved with older version"
### What is the bug or the crash?

Crash ID: d1f7afe8399d52daab504182ca4d3f9b8b3ed3c1

Stack Trace

QTextCodec::toUnicode :
providerMetadataFactory :
providerMetadataFactory :
providerMetadataFactory :
QgsVectorLayer::setDataProvider :
QgsVectorLayer::readXml :
QgsMapLayer::readLayerXml :
QgsProject::addLayer :
QgsProject::_getMapLayers :
QgsProject::readProjectFile :
QgsProject::unzip :
QgsProjec

[2021-11-25 09:17] gioman commented on #46207
@Mario211125 same as https://github.com/qgis/QGIS/issues/46152 ?

[2021-11-25 10:04] peauc commented on #42567
Hello @kannes, thank you for taking the time to answer.
As @ngodber said, my issue is exactly the same as them.
It works perfectly fine on my linux, but not on the different windows machines of my team.

My guess is that the spacial index file(.qix) is not deleted properly on windows. I've seen on Linux, that if I add a spacial index file (qix), then add a new feature, the index file is deleted. H

[2021-11-25 11:32] kannes commented on #12023
I just realised this issue had been closed back then but it still exists and is still a major rendering issue. Please re-open, I think it was only closed by accident.

[2021-11-25 11:52] NvBgm opened #46210 "QGIS crash afther reload project"
### What is the bug or the crash?

QGIS crash

### Steps to reproduce the issue

Reload a project

### Versions

QGIS-versie
3.22.1-Białowieża
QGIS code revisie
663dcf8fb9
Qt versie
5.15.2
Python versie
3.9.5
GDAL/OGR versie
3.4.0
PROJ versie
8.2.0
EPSG-register databaseversie
v10.038 (2021-10-21)
GEOS versie
3.10.0-CAPI-1.16.0
SQLite versie
3.35.2
PDAL versie
2.3.0
PostgreSQL client versie
13.0
S

[2021-11-25 12:10] gioman commented on #46210
@NvBgm same as https://github.com/qgis/QGIS/issues/46207 ?

[2021-11-25 12:52] NvBgm commented on #46210
@Gioman  No this is not only with older version projects but also with projects just made in last version

[2021-11-25 13:03] elpaso commented on #46210
@NvBgm we need a way to reproduce the issue (and/or a stack trace).

Can you attach a small project with data that shows the issue?

[2021-11-25 13:03] elpaso commented on #46210
@NvBgm ... and of course try first with a new profile as mentioned in the issue template.

[2021-11-25 13:10] Koyaani commented on #39754
Also with the `unjoinable_features` output, if we set the `Mandatory` option then remove it, the output will have the same options as the others.

[2021-11-25 13:13] Mayraldana commented on #46196
It is free of 3rd party plugins, I do the installation on other laptop and
indeed the problem is local. When the program needs to open the file
explore in any command, it stops and shutdown. I don't know if can be any
permission error due to IT restrictions.

El jue, 25 nov 2021 a las 1:57, Giovanni Manghi ***@***.***>)
escribió:

--
Saludos

*Mayra Aldana*
+58 (0412)-5655057

[2021-11-25 13:21] Sergey-Kl commented on #38472
I think I found the root of the issue. Pyuic defines a hardcoded set of classes for built-in widgets and needs to somehow get info on any external types. To add new classes to the converter, there is a `widget-plugins` mechanism. If one goes to `PyQt5/uic/widget-plugins` and adds the following file to it:
[code]
this will allow for pyuic to correctly compile the ui. There are some caveats however:

[2021-11-25 13:24] NvBgm commented on #46210
@Elpaso  I think my problem is solved.
I have made a new profile and i don't get any crashes nou
I hoop it wil stay that way..
Thanks all.

[2021-11-25 13:24] #46210 closed

[2021-11-25 13:49] gioman commented on #46196
@Mayraldana as is a local issue is hard to say what is the cause. Sure, QGIS should not crash, but without a way to replicate the problem it would also be hard to fix.

[2021-11-25 13:56] gioman commented on #12023
@kannes but it should still be an upstream issue in QT, as far as I understand.

[2021-11-25 14:01] Ducarouge opened #46213 "Use of the character '%' in Expression"
### What is the bug or the crash?

If i follow the doc of the LIKE operator :
'1%' LIKE '1\\%' → 1

But when i execute it return 0

### Steps to reproduce the issue

go to 'Select features using an expression' and run the code :  '1%' LIKE '1\\%'

### Versions

test in 3.16 and 3.22

### Supported QGIS version

- [X] I'm running a supported QGIS version according to the roadmap.

### New profile

[2021-11-25 14:03] gioman commented on #46213
@Ducarouge returns 1 here.

[2021-11-25 14:59] kannes commented on #12023
Once/if upstream fixes this, it might require some changes in QGIS I think or maybe a workaround can be found to fix the issue in another way. Having it open with that tag seems like a good setup to me, thank you!

Maybe even that silly workaround could be integrated (cue Clippy asking "It seems like you want to disable outlines for polygons, this will lead to visible boundaries between neighborin

[2021-11-25 15:27] ChristianBeer opened #46216 "Strange authentication behaviour on startup using proxy"
### What is the bug or the crash?

We are using a webproxy to access the Internet. I configured QGIS to use the proxy and saved the authentication Info (username/password) into the auth database. There are two other authentication settings for external WFS content that is only reachable through the Internet (via said proxy) in the auth database.
Whenever QGIS starts it asks for a username and pass

[2021-11-25 15:29] gioman commented on #46216
@ChristianBeer better write also in the developers mailing list.

[2021-11-25 15:45] jef-n commented on #45935
Did you try running your script with ``python-qgis.bat``?

[2021-11-25 16:24] andywicht opened #46218 "During vertex indexing QGIS crashes when using tool that utilizes indexed vertices"
### What is the bug or the crash?

During vertex indexing QGIS crashes when using tool that utilizes indexed vertices such as Vertex Tool or Move Feature especially on larger layers (reproducible on e.g. US blockgroups, part of this zip file: https://www2.census.gov/geo/tiger/TGRGDB21/tlgdb_2021_a_us_substategeo.gdb.zip -> convert e.g. to gpkg)

This is especially dangerous when editing in a remot

[2021-11-25 17:00] troopa81 commented on #46213
it returns 0 in master

the thing is when you write your ticket @Ducarouge the backslashs have been removed, you have to had another one
So '1%' LIKE '1\\%' → 1 do return 0 instead of 1

[2021-11-25 17:05] rasmusewehag1 commented on #31192
Hi,
Thanks for the nice rewrite above!

The rewrite seem to work, and I can verify my pgserivcefile connection on postgresql using psql.
But how can I verify the postgres connection with qgis_mapserv.fcgi?
How do I verify that qgis_mapserv.fcgi reads the project file from the database?

My GetCapabilities response does not contain any layernames even though its there in the qgs project (stored in

[2021-11-25 18:05] #46139 closed

[2021-11-25 18:22] Mariones42 opened #46219 "QGIS crashed opening projects with csv files and "System" encoding"
### What is the bug or the crash?

## User Feedback

Hello,

I found the following problem: I have a fairly complex project that involves various sources of information (gpkg, shp, csv). When I try to open it, QGIS gives an error and closes.

I debugged the project by opening it by segments until I found where the error was and apparently it is associated with the encoding of the csv files: in my

[2021-11-25 19:02] gioman commented on #46219
@Mariones42 can you please share/attach a minimal project with the CSV file that is causing the crash? thanks.

[2021-11-25 19:14] gioman commented on #46218
@andywicht I tried this workflow using the "block_group" layer, as it is the largest in the geodatabase you linked, and cannot replicate. The indexing operation started and finished in a matter of a couple of seconds (on a 10 years old laptop with a pedestrian SSD) leaving basically no time to do any operation while it was running. QGIS 3.16.14 on Windows 10.

[2021-11-25 19:36] Mariones42 commented on #46219
Hi,
Please find below a zip file with the example.
[QGIS_debugging.zip](https://github.com/qgis/QGIS/files/7604978/QGIS_debugging.zip)

[2021-11-25 19:49] Gustry commented on #46219
Same crash ID as #46207 and #46152

[2021-11-25 19:50] Gustry commented on #46207
Same crash ID as #46152 and #46219

[2021-11-25 19:53] gioman commented on #46219
@Gustry  correct, but this seems to be the incriminating report. I confirm the crash, but as a fact if the QGS file is manually edited and for the CSV the encoding is changed from System to UTF-8 (note that my system is in English, so for me System should mean UTF-8) then the crash is gone.

[2021-11-25 19:55] gioman commented on #46219
And also confirmed no crash on 3.16.14.

[2021-11-26 01:21] jevick opened #46223 "crash when using expression"
### What is the bug or the crash?

Clicking on Expression builder for custom labelling causes crash

### Steps to reproduce the issue

NA

### Versions

3.10

### Supported QGIS version

- [ ] I'm running a supported QGIS version according to the roadmap.

### New profile

- [X] I tried with a new QGIS profile

### Additional context

It was working well before, this suddenly happened. Restarting

[2021-11-26 01:38] nyalldawson commented on #46223
3.10 is very old, and no longer supported. Please try in 3.22 or 3.16.

[2021-11-26 04:31] PinQ235 opened #46224 "QGIS Importing Geospatial PDF Without Background Image"
### What is the bug or the crash?

When dragging a geospatial PDF into QGIS, the background image is not shown. This happens to versions 3.22.0, 3.22.1, and 3.16.14.

### Steps to reproduce the issue

Just try the attached file, by dragging it into QGIS.
[sub.pdf](https://github.com/qgis/QGIS/files/7606280/sub.pdf)

### Versions

Happens on versions 3.22.0, 3.22.1, and 3.16.14. However, in version

[2021-11-26 06:31] antmaury opened #46225 "projection EPSG 2975"
### Feature description

Je n'arrive pas à faire valider les dossiers fin travaux de l'OPERATEUR TELECOM ORANGE voici le code erreur d'orange

Retour GEORESO en erreur (30 : Le système de projection de bpe.shp n'est pas correct.)
30 : Le système de projection de bpe.shp n'est pas correct

VOICI LE CAHIER DES CHARGES ORANGE

 Le système attendu est le RGR92_UTM_zone_40S  et non le RGR_1992_UTM_zone

[2021-11-26 06:31] #46225 closed

[2021-11-26 07:33] #45999 closed

[2021-11-26 07:34] agiudiceandrea commented on #45999
@gis-nis-ibw, was the issue fixed someway?

[2021-11-26 07:58] gis-nis-ibw commented on #45999
Hi,

I didn’t have time to test it yet.

Best regards

Sascha

Von: Andrea Giudiceandrea ***@***.***>
Gesendet: Freitag, 26. November 2021 08:35
An: qgis/QGIS ***@***.***>
Cc: vonArx Sascha ***@***.***>; Mention ***@***.***>
Betreff: Re: [qgis/QGIS] Crash within Saving a GPKG-Layer after deleting some columns (Textattributes) (Issue #45999)

@gis-nis-ibw<https://github.com/gis-nis-ibw>, was the is

[2021-11-26 08:21] gioman commented on #46224
Duplicate of https://github.com/qgis/QGIS/issues/44522

[2021-11-26 08:21] #46224 closed

[2021-11-26 08:40] vlebert commented on #45237
@gioman
I guess this was the poject shared
https://www.dropbox.com/t/DYwVRMonj9Aw9uBi

[2021-11-26 08:50] ebrudler opened #46227 "PCRaster plugin leads to crash of QGIS"
### What is the bug or the crash?

applying teool create ldd leads to crash
a573919ad860cbb9df0bd4bce11551b46e72585b

### Steps to reproduce the issue

   aerhth

### Versions

3.16.14

### Supported QGIS version

- [ ] I'm running a supported QGIS version according to the roadmap.

### New profile

- [ ] I tried with a new QGIS profile

### Additional context

_No response_

[2021-11-26 08:51] Gustry commented on #46227
You must open the issue on the plugin repository.
The QGIS project can't do anything about it.

And you must describe the issue, how to replicate etc.

[2021-11-26 08:51] #46227 closed

[2021-11-26 08:51] gioman commented on #46227
@ebrudler you must report this to the plugins author/s, not here.

[2021-11-26 08:52] ebrudler opened #46228 "PCRaster Plugin leads to crash"
### What is the bug or the crash?

applying the PCRaster "create LDD"

### Steps to reproduce the issue

a573919ad860cbb9df0bd4bce11551b46e72585b

### Versions

3.16.14

### Supported QGIS version

- [ ] I'm running a supported QGIS version according to the roadmap.

### New profile

- [ ] I tried with a new QGIS profile

### Additional context

_No response_

[2021-11-26 08:53] alexbruy commented on #46228
Please report this issue in the plugin bugtracker.

[2021-11-26 08:53] #46228 closed

[2021-11-26 09:07] gioman commented on #45237
@vlebert thanks! still slow on Windows.

[2021-11-26 09:46] rugg01 opened #46229 "QGIS crash with PCRaster"
### What is the bug or the crash?

## User Feedback

While running the lookup tool from PCRaster in QGIS 3.16

## Report Details

**Crash ID**: [a573919ad860cbb9df0bd4bce11551b46e72585b](https://github.com/qgis/QGIS/search?q=a573919ad860cbb9df0bd4bce11551b46e72585b&type=Issues)

**Stack Trace**
<pre>
calc::PosException::operator= :
calc::PosException::operator= :
calc::DataValue::operator= :
calc:

[2021-11-26 09:52] #46229 closed

[2021-11-26 10:19] m-kuhn opened #46230 "Make minimum and maximum available in aggregate"
The other issue I see your PR raise is why the aggregate function doesn't have minimum and maximum as aggregate parameter (all the other parameters name matches an existing aggregate function) instead of min and max.

_Originally posted by @DelazJ in https://github.com/qgis/QGIS/issues/46211#issuecomment-979800050_

[2021-11-26 10:21] m-kuhn commented on #46230
Should be added as aliases for consistency.

[2021-11-26 10:57] tudorbarascu opened #46231 "Forms break when upgrading from 3.16 to 3.22/Master for Virtual fields"
### What is the bug or the crash?

![problem](https://user-images.githubusercontent.com/3179646/143569034-7bb95e8f-a8ec-4439-abad-f673af719784.gif)

I upgraded a project that I use and the form doesn't behave well (e.g. The id doesn't get the default value - 9999) but gets the value of a virtual field?

I attached a project to reproduce as in the above screenie.

[data.zip](https://github.com/qgis

[2021-11-26 11:10] gioman commented on #46231
@domi4484 ping

[2021-11-26 11:24] 9ls1 commented on #45935
@jef-n Thanks for your suggestion. I included the three lines, but, no success. Still grass7:v.split not found and : -->.

[2021-11-26 11:35] janhec opened #46232 "Crash setting elevation layer in 3d view"
### What is the bug or the crash?

## User Feedback

View -> 3d view setting the elevation layer to AHN2_5.
Layers: AHN2_5 (WCS, PDOK)
Opentopo (PDOK)
(that's all).

## Report Details

**Crash ID**: [3f900df900945e8a2e21945f317ab5b65e551a87](https://github.com/qgis/QGIS/search?q=3f900df900945e8a2e21945f317ab5b65e551a87&type=Issues)

**Stack Trace**
<pre>
OGRSpatialReference::GetWGS84SRS :
OGRSpati

[2021-11-26 11:37] Koyaani commented on #46039
It seems that the "Enable Tracing" button is the only one with the right behavior.

After increasing the icon size:
![Screenshot_20211126_122917](https://user-images.githubusercontent.com/37629967/143575012-ddc8234b-c859-4f26-be2e-32e78b3bad01.png)

After decreasing the icon size:
![Screenshot_20211126_123144](https://user-images.githubusercontent.com/37629967/143575015-c5208dad-1d27-450c-b63f-ac2

[2021-11-26 11:43] gioman commented on #46232
@janhec

1) try with a new QGIS profile, no 3rd party plugins installed

2) if the problem persist attach/link a project (with data)

[2021-11-26 11:59] pathmapper commented on #41691
Fixed by @rduivenvoorde in https://github.com/qgis/QGIS/pull/41832 / https://github.com/qgis/QGIS/pull/41953

[2021-11-26 12:02] gioman commented on #41691
@rduivenvoorde @pathmapper so can we close this?

[2021-11-26 12:04] pathmapper commented on #41691
@gioman yep

[2021-11-26 12:05] ValPinnaSardinia opened #46233 "The icon cursor freezes if both the spacebar and the mouse wheel are pressed while panning"
### What is the bug or the crash?

I have realised that if, while you are using the space bar for pan in the map canvas,  you press the mouse wheel, the mouse cursor icon freezes to the "closed hand" and also if a new tool is selected, the icon keeps this aspect.

The only way to resolve the issue is to restart the software.

The issue was confirmed in several PCs and in different QGIS versions.

[2021-11-26 12:06] #41691 closed

[2021-11-26 12:13] skampus commented on #46233
hi, I confirm this issue on Windows 10:
- QGIS 3.22.1-Białowieża - Revisione codice QGIS 663dcf8fb9
-  QGIS 3.16.14-Hannover - Revisione codice QGIS 42791986

[2021-11-26 12:21] wonder-sk opened #46234 "Extra bytes attributes get loaded but QGIS parses values as zeros"
### What is the bug or the crash?

The following file contains a couple of "extra bytes" attributes - Amplitude, Reflectance, Deviance. The file gets correctly indexed by untwine and the extra attributes can be selected for rendering, but all values from those attributes are read as zero (I have verified in CloudCompare they are not zeros):
https://filkassen.statens-it.dk/u/zUxXZINMV3_fTFdm/1km_62

[2021-11-26 12:51] pigreco commented on #46233
I also confirm on OSGeo4W v2

[2021-11-26 13:33] roya0045 commented on #46232
This seems to be an online dataset, I'm not sure if qgis is made to handle big online datasets in the 3d viewer as opposed to a file source.

[2021-11-26 13:41] gioman commented on #46232
yeah, but also should not crash :)

[2021-11-26 13:58] Mario211125 commented on #46207
First: sorry about my poor english!
only crash when opening the complete project.
If I open the files seperatly in 3.22.1 no problem.
When QGis is opening the project and reading the layers/data it crashes for example at the layer xyz5 but reading the layer xyz1 to xyz4. You will see the loading bar stopping at layer xyz5 and then crash.
The layer xyz5 is a csv-file. After deleting xyz5 in QGis 3.

[2021-11-26 13:59] gioman commented on #46207
@Mario211125 see https://github.com/qgis/QGIS/issues/46219

[2021-11-26 14:22] Koyaani commented on #46039
@Jean-Roc Didn't you already have this problem?

[2021-11-26 14:46] DelazJ commented on #46205
@arno974 You would see the option:
* as part of the group item properties in the Layers panel (meaning that you'd need to check it for all the groups if you don't want any in the legend, but gives flexibility to choose which group to show) - And if you want to show them in one layout but not in another...?
* or as an option in the print layout legend item properties (check once and all groups entr

[2021-11-26 15:17] komima opened #46240 "QGIS Python module type stubs broken by empty enums and reserved name"
### What is the bug or the crash?

QGIS Python module type stub .pyi files have errors, and types are not available in IDE/mypy/pyright contexts.

1. Empty enums are output from [QgsProcessingContext](https://github.com/qgis/QGIS/blob/master/src/core/processing/qgsprocessingcontext.h#L51) and [QgsModelComponentGraphicItem](https://github.com/qgis/QGIS/blob/master/src/gui/processing/models/qgsmodel

[2021-11-26 15:44] wonder-sk commented on #45903
Looks like upstream bug in untwine - https://github.com/hobu/untwine/issues/93

[2021-11-26 16:20] arno974 commented on #46205
Hi @DelazJ ,

While I was writing this feature, I was thinking of the same options you propose.
But regarding the discussion I have with users who have suggested this feature, your first option is the one they are looking for. It is more flexible as you can decide which group label to display or not.
But I don't know the complexity of this feature. If your second option (a checkbox in the legend i

[2021-11-26 16:24] Pedro-Murteira commented on #23113
This bug no longer occurs on versions 3.16.14 and 3.22.1. (Tested on both Linux UBUNTU 20.04 and windows 10).

[2021-11-26 16:30] #46213 closed

[2021-11-26 16:52] Pedro-Murteira commented on #31182
@lbell I can't replicate on QGIS versions 3.16.14 and 3.22.1. (Tested on both Linux UBUNTU 20.04 and windows 10).

[2021-11-26 16:56] Pedro-Murteira commented on #28879
@littlezaide I can't replicate on QGIS versions 3.16.13 and 3.22.0. (Tested on both Linux UBUNTU 20.04 and windows 10).

[2021-11-26 18:08] gioman commented on #46230
@m-kuhn is this a bug report?

[2021-11-26 18:08] andywicht commented on #46218
@gioman
here a screencast of the behavior, maybe that makes my description more clear:
![qgis_crash](https://user-images.githubusercontent.com/21099522/143617963-51c104c6-b053-482a-9c40-2f4f95d6beb7.gif)

This is on a not even 3 year old Dell i7-8665U 16GB RAM with SSD laptop.
QGIS crashes the moment you see the popup in the lower right corner that it finished indexing.

I observe this instability

[2021-11-26 18:21] gioman commented on #46218
@andywicht for some reason today I can replicate.

[2021-11-26 18:26] gioman commented on #46218
It is something that was introduced in 3.12 as it works well up to 3.10.

[2021-11-26 18:37] andreasneumann commented on #46218
@andywicht  Is it specific to this particular geometry, or does it happen with other data sets as well?

[2021-11-26 18:52] andywicht commented on #46218
@andreasneumann I randomly zoomed somewhere. That happens with any geometry.

@gioman glad you could replicate the behaviour. I was starting to fear that it was something even more obscure and specific to my machine.

[2021-11-26 18:59] gioman commented on #46218
@andywicht but also with other layers?

[2021-11-26 20:20] m-kuhn commented on #46230
A nice to have with low effort. On the edge :-)

[2021-11-26 20:20] andywicht commented on #46218
@gioman yes. I think as soon as the layer is sufficiently large and the indexing takes some time, this occurs. This block group layer was just the first large open data layer that came to my mind.

[2021-11-26 21:06] gioman opened #46241 "Make "basic statistics for fields" output as table as does "statistics by categories""
### Feature description

Processing "statistics by categories" outputs a nice table that is added in the TOC. On the other hand "basic statistics for fields" outputs only html. For the latter is would be nice to have an option to output as table too.

### Additional context

_No response_

[2021-11-26 23:15] 3R1N commented on #46203
I have also had this occur frequently in the last few weeks, producing the same stack trace. I have not been able to replicate this bug in a clean profile, however. For whatever it's worth, here's the shapefile that I was working in the most recent time it happened:

[Archive.zip](https://github.com/qgis/QGIS/files/7610881/Archive.zip)

[2021-11-27 00:16] gasato commented on #44019
I think some of the color ramps available at http://soliton.vm.bytemark.co.uk/pub/cpt-city/ for elevation models can be used to color DEM data following Imhoff's criteria. Some of them are really good.

But the feature request here is not about a specific color ramp type. The topic here is about a mapping technique that can give DEMs a more professional aspect and representative. It is about conne

[2021-11-27 01:48] #46191 closed

[2021-11-27 02:21] brccabral commented on #45935
I am not sure why, but need to `initialize()` first

[code]

[2021-11-27 05:51] kairom13 opened #46244 "Ongoing issues with vertex tool"
### What is the bug or the crash?

I have experienced a variety of issues while using the vertex tool. I haven't found a specific way to reproduce the issues and crashes I have experienced, but they're always while I'm using the tool. Some examples of issues I've had:

- disappearing vertices (in the image the line segment is highlighted but the vertices are not)
![image](https://user-images.githu

[2021-11-27 09:25] gioman commented on #46241
Eventually even adding the possibility to choose multiple fields (and have the basic stats computed for each one and placed by raw in the resulting table).

[2021-11-27 09:29] gioman commented on #46203
@3R1N maybe when it happens you are working on a profile with 3rd party plugins installed? and maybe one of them adds some kind of digitizing functionality?

[2021-11-27 09:34] gioman commented on #46244
@kairom13 the question is the same as in https://github.com/qgis/QGIS/issues/46203#issuecomment-978867209

Have you really tried with a new QGIS profile and no 3rd party plugins?

It does not work like that, especially if there is no clear way to replicate it it is unlikely that any dev will have a look at this. If we find a clear path to replicate (on profile that has no 3rd party plugins, thus e

[2021-11-27 10:39] kannes commented on #44019
How would you envision this being implemented in QGIS from a user's perspective? Where would they find this feature, what would they have to do, what exactly would it do?

[2021-11-27 13:40] dario955i opened #46245 "Crash exporting dxf using "Symbol layer symbology""
[Crash.zip](https://github.com/qgis/QGIS/files/7685281/Crash.zip)
### What is the bug or the crash?

I'm trying exporting dxf. If I do with a small vieport size (200mx200m) everything goes well. If I try with a bigger size (2km by 2km) qgis crashes and the dxf has been created is corrupt and you cannot open.

I see that if I export a big data Qgis can have some problem, but alert on exporting, lik

[2021-11-27 13:44] gioman commented on #46245
@dario955i this is with project > export > export project as DXF or with another method?

Does it happens always, regardless the project and data?

[2021-11-27 13:47] nsauzay opened #46246 "Crash when loading or saving project with MySQL layer with empty geometries"
### What is the bug or the crash?

The project loads fine on 3.10.14, and save works also
The project can be loaded on 3.16.14 but any attempt to save it leads to a crash (even without any change)
The project can not be loaded on 3.22.1, it leads to the crash also
I manage to change layer encoding to remove th 'system's one but the behaviour is the same.

### Steps to reproduce the issue

0e460833

[2021-11-27 13:50] gioman commented on #46246
@nsauzay can you share the project (with the data)? or maybe create a minimal shareable version that shows the same behavior?

[2021-11-27 15:29] Jeroen-GroeneBij commented on #44463
I have found similar behaviour in using aggregate in Attribute form to get a value form a field of the polygon layer my point is in, using the same function as TS.
Writing the expression immediately lead to slow response. Also left clicking the field which has the aggregate function in the Layer properties > attribute forms tab leads to a slow response in opening the attribute form every single ti

[2021-11-27 15:34] nsauzay commented on #46246
I manage to isolate the layer that leads to the crash. The definition file is attached.
It's a layer based on a mysql database on a server with geographical information.
when I start with a new project and I import the layer from the joined definition file the behaviour is reproduced :
    on 3.16 crashes  on saving the project after import
        3.22 crashes on importing the layer.
[couche cras

[2021-11-27 15:52] lbell commented on #31182
@Pedro-Murteira Howdy! To be fair, haven't noticed the behavior in recent usage, and couldn't replicate on the current version (3.22.1) so looks like an updated must have fixed this.

Thanks!

[2021-11-27 15:52] #31182 closed

[2021-11-27 16:05] gioman opened #46247 "Debugging/development tools panel do not record any requests/traffic from Metasearch"
### What is the bug or the crash?

Subject say it all.

Requests from other services are recorded, but nothing shows when using Metasearch.

### Steps to reproduce the issue

Open the Debugging/development tools panel

Start recording

Use metasearch

### Versions

3.16.14
3.22.1

### Supported QGIS version

- [X] I'm running a supported QGIS version according to the roadmap.

### New profile

- [

[2021-11-27 16:26] gioman commented on #46246
@nsauzay I cannot replicate. Using 3.16.14 and 3.22.1 on Win 10, after having added your layer definition file.

[2021-11-27 16:33] nsauzay commented on #46246
I basically mentionned the layer point to a mysql database, when the link is cut to the database server, the application does not crash. How can I provide you more infos ?

[2021-11-27 16:55] kairom13 commented on #46244
@gioman Yes. I'm using a new profile with no 3rd party plugins (which I don't use anyways). I've update the reproducibility to reflect that I always have this issue after a while of editing geometries, even if there's not an exact method for reproducing the specific issues I have experienced.

I do wonder how much of the issue has to do with the size of the layer I'm editing? I have nearly 600 fea

[2021-11-27 17:01] gioman commented on #46246
@nsauzay your description is unclear: do you get the crashes when the connection to this mysql layer is working, or when is not working?

[2021-11-27 17:03] dario955i commented on #46245
Hi,
yes, procedure is
Project > export > export project as DXF

probably I solved choosing "Feature symbology" under symbology mode instead
of "Symbol layer symbology". Now I'm able to export a very large portion of
the city at the time.

In any case, in the previous mode my Qgis crashes.

Il giorno sab 27 nov 2021 alle ore 14:44 Giovanni Manghi <
***@***.***> ha scritto:

[2021-11-27 17:11] gioman commented on #46245
@dario955i with any project/data or just a specific one? Can you attach a sample project + data that shows the issue?

[2021-11-27 17:16] nsauzay commented on #46246
when the connection is working i get the crashes.
When the connection is not working I'm able to load and save the projects.

[2021-11-27 17:37] nsauzay commented on #46246
When I try to add this single layer directly in a new project in QGis 3.22 from mysql, i get the application to crash ...

[2021-11-27 17:46] nsauzay commented on #46246
by the way mysql server is on ubuntu server  and has version 5.6.44

[2021-11-27 22:17] nsauzay commented on #46246
Looking forward, I notice I had in the fetched mysql table one line with a null geometry. This seems to lead to a crash of QGis. Removing the null geometry lines in the database solved the trouble

[2021-11-28 01:01] adaongithub commented on #41633
I would find this valuable when I'm debugging, say, a virtual layer spatial JOIN and need to quickly see for subsets of features if the (very spatially distributed) spatial match was done correctly.  Without this I have to Flash each individual feature of a selection (painfully slow with virtual JOINs) before going on to check the next set of features.

[2021-11-28 08:07] dario955i commented on #46245
It crashes with this big file. If I try with small portion or other small file it doesn't. I can check layer by layer if there is one in particular causing the crash.

[2021-11-28 08:35] nsauzay commented on #46246
The problem occurs when the mysql datatable contains a line with null geometry. When the line is filtered or removed from the table, the application does not crash anymore

[2021-11-28 09:31] Gustry commented on #46247
Duplicate of #24214

[2021-11-28 09:31] #46247 closed

[2021-11-28 10:23] 3R1N commented on #46203
HAH!!!!! It took several hours of work in a clean profile sans plug-ins, but I was finally able to reproduce the crash!

I'm still not sure what specific steps I took to cause it; the most I can tell you is I had just found a sliver polygon, merged it with its neighbor polygon, and had just clicked the vertex editing tool when the crash occurred; I hadn't even touched a single vertex. However, as

[2021-11-28 11:16] 9ls1 commented on #45935
@brccabral Thanks for your code. I thought I was initializing in my code with
[code]
Anyway, I ran your code and still no grass7-algorithms are showing up. I'm running QGIS 3.22.1 and changed the path accordingly to "C:/OSGeo4W/apps/qgis". Only QGIS and GDAL - even when including
[code]
Perhaps this is not the way to add grass7-algorithms?

[2021-11-28 11:20] 9ls1 commented on #45935
Thanks for your code in your e-mail and on
https://github.com/qgis/QGIS/issues/45935.

I thought I was initializing in my code with

from processing.core.Processing import Processing
Processing.initialize()

Anyway, I tried both your codes, and still no grass7-algorithms are showing
up. I'm running QGIS 3.22.1 and changed the path accordingly to
"C:/OSGeo4W/apps/qgis". Only QGIS and GDAL - even wh

[2021-11-28 12:49] aghezz commented on #45743
problema resta immutato, con versione Odense tutto ok, salva in vari formati, ma usando ultima versione 3.22.0-Białowieża tutti i file esportati dal layout di stampa assumono estensione png anche se imposto jpg. Allo stesso modo, anche i file progetto NON si salvano in formato qgz, ma solo qgs
![da la](https://user-images.githubusercontent.com/25877030/143768439-9343e201-7ca8-4860-84d3-ac513d9ae49

[2021-11-28 13:28] kannes commented on #45743
Huh, weird!
Does the same happen in a fresh profile and a completely new project?

[2021-11-28 13:30] aghezz commented on #45743
succede con profilo vecchio e anche con profilo nuovo... :(

[2021-11-28 14:46] lagniappist opened #46253 "Possible bug in 3.20/3.22 with vector symbol levels"
### What is the bug or the crash?

The "Advanced" pulldown on the Symbology tab seems not to be active in a standard vector layer (SHP, classified with about two dozen features) in 3.20 and 3.22.  Same functionality works in 3.16.  Have reverted to 3.16 but can replicate the behavior between the two versions.

### Steps to reproduce the issue

1. Load test QGZ file (or any vector shapefile with ov

[2021-11-28 15:31] brccabral commented on #45935
I was looking for "native" only. When you run
[code]
What do you get?

[2021-11-28 16:40] 9ls1 commented on #45935
I get all GDAL:, QGIS (native C++): and QGIS: algorithms (the ones I'm partly listing in my original post). But I need to get hold of v.split from GRASS (grass7:v.split).

[2021-11-28 16:52] gioman commented on #46245
@dario955i thanks, then if you can attach it here.

[2021-11-28 17:04] gioman commented on #46203
@3R1N @kairom13 any chance you can try on a different platform?

[2021-11-28 17:06] gioman commented on #45743
@aghezz please post in English. This is likely to be a local issue (as clearly is not a general one), probably at a desktop manager level. Can you test on a different machine?

[2021-11-28 18:00] gioman commented on #46253
@lagniappist confirmed on macOS but not on Windows and Linux.

[2021-11-28 18:04] gioman commented on #46253
@lagniappist sure it does makes sense:

single symbol, no symbol levels

![image](https://user-images.githubusercontent.com/1951107/143780210-30114898-4069-444f-b4f5-898f4e77890c.png)

single symbol. with symbol levels

![image](https://user-images.githubusercontent.com/1951107/143780234-cd6bbff9-7683-4697-9f08-c0d2b4dfccf4.png)

[2021-11-28 21:33] andskog opened #46254 "Reprojecting -180 to 180 dg raster to polar projection bilinear/cubic blurry"
### What is the bug or the crash?

Reprojecting a raster with a -180 to 180 degrees longitudal extent, to a polar projection, using the Warp tool, and with e.g. bilinear or cubic rather than nearest neighbour resampling method, creates blurry/stretched segments around the 180dg meridian. In the attached screenshots, the upper result is 3995 nearest neighbour, which is all good, followed by buggy 3

[2021-11-28 22:11] MartinMartin1975 commented on #46115
QGIS 3.22.1 the same. I'm waiting for QGIS 4 :-)

[2021-11-28 22:38] nyalldawson commented on #46253
Does it work through the style dock?

[2021-11-28 22:38] nyalldawson commented on #46246
Can you share a sql dump of a mysql database which can be used to reproduce this issue?

[2021-11-28 22:39] nyalldawson commented on #46246
(This is an upstream (GDAL) bug by the way, but I'm happy to look into it if you can provide a reproducible data set)

[2021-11-28 23:20] lagniappist commented on #46253
indeed it does!  the behavior only seems to happen when layer properties are opened in a dialog window.

<img width="631" alt="Screen Shot 2021-11-28 at 6 19 22 PM" src="https://user-images.githubusercontent.com/55245689/143790374-5406a210-633d-4dfc-92d5-9228ec46c10e.png">

[2021-11-29 01:14] #46223 closed

[2021-11-29 01:54] #46240 closed

[2021-11-29 05:40] Multihuntr opened #46262 "Rotated rasters duplicate and offset pixels; possible quantisation error."
### What is the bug or the crash?

I noticed some weird lines in my TIF files where the pixels didn't seem to line up. When rendering a TIF in QGIS with a small rotation in the geotransform, sections of the raster data are duplicated and offset from where they should be. In an effort to understand what is happening, exactly, I have created some test images which create a checkerboard pattern of 0s

[2021-11-29 06:15] #46206 closed

[2021-11-29 06:15] #46233 closed

[2021-11-29 06:16] nyalldawson commented on #45935
This is indeed a bug -- Processing.initialize() should include the SAGA and GRASS providers

[2021-11-29 06:37] beilic commented on #46014
I had to delete the log folder in "AppData\Local\QGIS\QGIS3\crashes". After, qgis started normally.
Thanks for help

[2021-11-29 09:22] lorenzogrv commented on #46119
Hi again!

I would like to share a bit more research I've done. After fiddling within project's xml source, I've found the section `<WFSTLayers>`, which seems to specify which operations are allowed. An excerpt:

[code]

I've tried to manually edit here the `<Update>` and set the layer ids, but edit operations stay disabled.

I will save some time to create a Project with a reproducible example, a

[2021-11-29 09:41] nsauzay commented on #46246
Hello please find a database dump in order to reproduce the crash.
As mentionned, the mysql server is on ubuntu and has version 5.6.44
Regards
[basecrash.sql.zip](https://github.com/qgis/QGIS/files/7617182/basecrash.sql.zip)

[2021-11-29 10:26] Pedro-Murteira commented on #28237
@NicolasCadieux I can no longer replicate this bug on QGIS 3.16.14 and 3.22.1.

[2021-11-29 10:31] Pedro-Murteira commented on #29787
I can no longer replicate this bug on QGIS 3.16.14 and 3.22.1, the check/uncheck box no longer gets the colored with the selection, only the layer itself.

[2021-11-29 10:40] Pedro-Murteira commented on #42308
@kannes I can no longer replicate this bug on QGIS 3.16.14 and 3.22.1, the opacity changes with the dialog and the sliding bar, as it is originally intended.

[2021-11-29 11:20] Pedro-Murteira commented on #33528
@DelazJ I can no longer replicate this situation on QGIS 3.16.14 and 3.22.1.

[2021-11-29 11:22] Pedro-Murteira commented on #31913
@jonathan-geoseer I can no longer replicate this bug on versions QGIS 3.16.14 and 3.22.1.

[2021-11-29 11:36] Pedro-Murteira commented on #29348
@saberraz I can no longer reproduce this situation on QGIS 3.16.14 and 3.22.1.

[2021-11-29 11:59] Pedro-Murteira commented on #28884
I can no longer reproduce this bug on versions 3.16.14 and 3.22.1.

[2021-11-29 12:15] #29348 closed

[2021-11-29 12:31] gioman commented on #46115
@MartinMartin1975 does the project have CSV files in it?

[2021-11-29 12:47] Pedro-Murteira commented on #29909
I can no longer replicate this bug on QGIS 3.16.14 and 3.22.1.

[2021-11-29 12:48] #46014 closed

[2021-11-29 12:53] Pedro-Murteira commented on #31136
@Charmatzis I can no longer reproduce this bug on QGIS 3.16.14 and 3.22.1.

[2021-11-29 12:54] gioman commented on #46254
@andskog The GDAL based tools in the Processing toolbox are "just" a GUI for the equivalent GDAL command line based tools. If with the same set of options you get the same results in the CLI then is something you may want to report to GDAL, not here.

[2021-11-29 13:01] Pedro-Murteira commented on #36794
I can no longer replicate this bug on QGIS 3.16.14 and 3.22.1 (Tested on Windows 10 and UBUNTU 20.04).

[2021-11-29 14:29] Pedro-Murteira commented on #41714
@ar-siddiqui This situation is still present on versions 3.16.14 and 3.22.1,although it can be considered a feature request instead of a bug, since there's is an alternative way to complete this process.

[2021-11-29 15:04] Pedro-Murteira commented on #28005
Still an issue on QGIS 3.16.14 and 3.22.1.

[2021-11-29 17:27] agiudiceandrea commented on #45935
@brccabral are you using QGIS 3.16 or QGIS 3.22? From your path variable it seem you are using QGIS 3.16, while the issue is about QGIS 3.22, as far as I understand.