[2020-12-21 09:05] benjaminh opened #40701 "Case sensitive field calculator (using graphical modeler)"
**Feature description.**
At the moment, Field Calculator does not seem to be case sensitive when creating a new field. Therefore, it is not possible to simply rename a field for which you can't decide a name (e.g. `Distance` to `distance` created with `Distance matrix`)
It would be great to be able to do such action without having to overburden the model (see below).

**Additional context**
There

[2020-12-21 09:06] agiudiceandrea commented on #40665
On windows, the issue doesn't occur with QGIS 3.4.15.
It seems to occur from version 3.6.0 onward and also with QGIS 3.14.0, which contain the patch provided by https://github.com/qgis/QGIS/pull/36738 to solve https://github.com/qgis/QGIS/issues/31630.
So probably https://github.com/qgis/QGIS/issues/31630 didn't fix the issue.

[2020-12-21 12:08] gioman commented on #40512
the dataset has no CRS

[code]

when you add it in QGIS you must specify the correct CRS manually (in the layer properties, not the project ones).

[2020-12-21 12:08] #40512 closed

[2020-12-21 14:47] gioman commented on #13172
Views are now handled correctly (tested on 3.16).

[2020-12-21 14:47] #13172 closed

[2020-12-21 15:25] gioman commented on #21907
There is a very clear tooltip now.

[2020-12-21 15:25] #21907 closed

[2020-12-21 15:25] fuzzysolutions opened #40704 "Layers in a custom projection are not refreshed when the projection definition is changed"
**Describe the bug**
When I have a layer in a custom projection and I change the projection definition, e.g. edit the false easting parameter, there is no repaint triggered for the existing layer. I need to close and reload the project to get the layer displayed according to the new projection definition.

**How to Reproduce**

1. Create a custom projection, e.g. by taking thedefinition of a UTM z

[2020-12-21 15:36] nicogodet opened #40705 "Batch processing "Select files..." in Autofill raise python error with QgsProcessingParameterFile"
**Describe the bug**

[code]

QgsProcessingParameterFile does not inherite from QgsFileFilterGenerator according to [this](https://qgis.org/api/classQgsProcessingParameterFile.html)

As I setup the type to File, I would except the autofill feature to work properly with a file filter set to the file filter choosen in the parameter definition.

Bug ? Missing feature ? Oversight ?

**How to Reproduce

[2020-12-21 15:52] gioman commented on #22726
Closing for lack of further feedback.

[2020-12-21 15:52] #22726 closed

[2020-12-21 15:59] gioman commented on #26772
Closing for lack of feedback.

[2020-12-21 15:59] #26772 closed

[2020-12-21 16:05] gioman commented on #32053
Closing for lack of further feedback.

[2020-12-21 16:05] #32053 closed

[2020-12-21 16:06] gioman commented on #30791
Closing for lack of further feedback.

[2020-12-21 16:06] #30791 closed

[2020-12-21 16:34] gioman commented on #40319
So you are arguing that should open in EN, ok. Before assuming that this a bug this should be discussed, or at least asked in the developers mailing list. If turns out that this is bug we can reopen this ticket.

[2020-12-21 16:37] gioman commented on #40704
@fuzzysolutions can you attach a sample layer, thanks.

[2020-12-21 16:55] nicogodet commented on #40705
@gioman It's not specific to modeller.
I use the modeller to reproduce the bug and fill this issue ;)

[2020-12-21 16:59] gioman commented on #24918
done

[2020-12-21 16:59] #24918 closed

[2020-12-21 17:00] gioman commented on #29116
Closing for lack of further feedback.

[2020-12-21 17:00] #29116 closed

[2020-12-21 17:10] gioman commented on #23709
@nirvn closing or this is still an issue for you?

[2020-12-21 17:25] roya0045 commented on #40704
I'm not sure this is a bug as people are not expected to change crs definition. This might be more of a feature request. I'd guess that one definition change you'd have to go through and the layer using this crs and replace it with the new definition. Otherwise the layers still use their internal 'outdated' definition.

[2020-12-21 18:02] HQJaTu commented on #40319
If it would do as expected, I wouldn't waste everybody's time here.

[2020-12-21 18:06] gioman commented on #40319
? As far as I remember you are the only one complaining about the actual behavior.

[2020-12-21 18:13] HQJaTu commented on #40319
How many failures is needed to get one report? 1000? 10000?
There exists a proven, typical Windows, bug, but it won't affect all users enough to report it.

Those who have English UI and English regional settings wouldn't see this problem at all (that would be a whole lot of QGIS users). Some of those who have English UI and non-English regional settings get QGIS in their chosen non-English locale

[2020-12-21 18:29] gioman commented on #24328
Does not seems to be an issue anymore.

[2020-12-21 18:29] #24328 closed

[2020-12-21 18:31] gioman commented on #40319
And I think that for most of the users this is expected, anyway I won't argue anymore, after all I may be wrong.

[2020-12-21 18:33] gioman commented on #25621
Closing for lack of further feedback.

[2020-12-21 18:33] #25621 closed

[2020-12-21 18:34] gioman commented on #24389
Closing for lack of further feedback.

[2020-12-21 18:34] #24389 closed

[2020-12-21 18:37] gioman commented on #32932
Closing for lack of further feedback.

[2020-12-21 18:37] #32932 closed

[2020-12-21 18:53] gioman commented on #34891
Closing as not a general issue.

[2020-12-21 18:53] #34891 closed

[2020-12-21 18:57] #39532 closed

[2020-12-21 18:58] gioman commented on #34505
closing then.

[2020-12-21 18:58] #34505 closed

[2020-12-21 18:59] gioman commented on #35374
Closing for lack of further feedback.

[2020-12-21 18:59] #35374 closed

[2020-12-21 19:17] gioman commented on #26600
agree

[2020-12-21 19:17] #26600 closed

[2020-12-21 19:18] gioman commented on #28265
Closing for lack of further feedback.

[2020-12-21 19:18] #28265 closed

[2020-12-21 19:35] gioman commented on #31082
Seems ok to me on 3.16.1. Reopen if necessary.

[2020-12-21 19:35] #31082 closed

[2020-12-21 19:37] gioman commented on #30948
@pigreco still true?

[2020-12-21 20:08] djackan commented on #40549
Just to add some information about this I saved a record to the parent table without filling anything out for a child table. I then went back in to edit the record and then filled out a child table and everything saved. As the error said the parent table must exist first before you can save the child table.

[2020-12-21 20:26] #40694 closed

[2020-12-21 20:28] #38473 closed

[2020-12-21 21:49] pjshelton commented on #33915
This can be closed out now as North Road have implemented this in their addition to 3.16.
https://north-road.com/2020/09/03/line-label-placement-our-gift-to-the-qgis-community/

To control the position along the perimeter of a polygon, you will need to use geometry generator and use the function exterior_ring(  $geometry ) to get a Linestring that mimics the perimeter of the polygon.

[2020-12-21 21:51] #33915 closed

[2020-12-21 22:19] pjshelton commented on #28666
This can be closed out as the North Road update to QGIS 3.16 adds this functionality.
https://north-road.com/2020/09/03/line-label-placement-our-gift-to-the-qgis-community/

[2020-12-21 22:22] #28666 closed

[2020-12-21 23:03] roya0045 commented on #12950
@gioman do you feel that the patch that closed #39314 should also close this?

[2020-12-21 23:53] roya0045 opened #40709 "[Modeler] Add Feature as they are generated"
**Feature description.**
I'm not sure if this is the good place or should be a Discussion.

Currently the processing pipeline with modelers hoards all outputs in the temporary store and then uses the normal pipeline to output the layers.

This has the effect that some algorithms won't work since the layers are not created (set style, rename, etc)

Now I'm not sure what would be best, to have a spe

[2020-12-22 01:02] roya0045 commented on #40709
Gave it another look and from the qgsprocessingcontext doc it would seem that moving out a layer before any dependent has had the chance to use may be a bad idea. If this is the case we would either need to reput it in the context after adding to the project or treat it as an existing layer from the start (if it is an output) to make this possible...

[2020-12-22 02:34] zhiyongxiao commented on #37962
I have tried to reinstall QGIS 3.10 LTS version and new QT5, based on Python 3.7, the problem disappears. However, I believe

[2020-12-22 02:34] #37962 closed

[2020-12-22 02:42] baswein commented on #37864
Hello friendly closing robot I would like to plead my case to your tinny ears that this fine issue deserves to live to see satisfaction as it is a valid issue with a very hacky work around.

[2020-12-22 02:45] pjshelton commented on #24418
This can be closed out now.  The North Road updates to QGIS 3.16 answers this.
https://north-road.com/2020/09/03/line-label-placement-our-gift-to-the-qgis-community/

To do this for polygons requires using geometry generators and the funciton exterior_ring(  $geometry )

[2020-12-22 02:46] #24418 closed

[2020-12-22 03:20] pjshelton commented on #20563
The ability to control the position of the label on the line has been implemented in the North Road update to QGIS 3.16.

 The move label tool does not keep the label on the line.

[2020-12-22 03:47] #40486 closed

[2020-12-22 04:42] PeterReyne commented on #34970
Hi,

I also came across this issue a month or so ago while doing some other testing with QGIS and ArcGIS Server 10.7.1

**The root cause:** ArcGIS Server doesn't apply the configured query feature limit to requests that have "returnIdsOnly=true" param set and the response is quite slow for large datasets.

**The potential fix:** QGIS could use "resultRecordCount" and "resultRecordOffset" params to

[2020-12-22 04:43] #39117 closed

[2020-12-22 05:27] #39401 closed

[2020-12-22 06:52] jakimowb commented on #40238
So far nobody I never got response via the mailing list

[2020-12-22 07:02] landryb commented on #40421
oh no, not those stupid bots again.

[2020-12-22 07:07] cesarcorreo commented on #37618
It seems that not any answer in the Profile tool repository.
I'm still consider that include the Profile tool in the atlas let you prepare automated profiles.
Thanks

[2020-12-22 07:10] MMR100 commented on #40416
@m-kuhn sorry to bother you, I received a notification that my feature request might be "stale". I think there is a mix up between Features Requests and Pull Requests, isn't it?
I though it could be related to [https://github.com/qgis/QGIS/pull/40597](url)

[2020-12-22 07:20] m-kuhn commented on #40416
Sorry for that, this was a typo in the script indeed. Fixed now.

[2020-12-22 07:43] kikislater opened #40714 "[Modeler] Regression : no hand tool in 3.16.1"
**Describe the bug**
In 3.10.3 we can navigate in modeler.
In 3.16.1 select tool is enable by default and we could not navigate in model making navigation in complex model difficult

**How to Reproduce**

1. Go to 'Processing => Model > Right click > edit model'
2. Try to navigate in modeler

3.16.1 : Select tool by default and no hand tool in bar navigation
![image](https://user-images.githubuser

[2020-12-22 07:51] Gustry commented on #37511
There is now a plugin to print qr code : https://plugins.qgis.org/plugins/qrbarcodeitem/

[2020-12-22 07:51] #37511 closed

[2020-12-22 07:53] uclaros commented on #37984
I don't think there's need for more feedback on this. The title should be adjusted to reflect that tables that cannot be modified are not owned by the user.

[2020-12-22 07:55] m-kuhn commented on #13012
Is this still an issue?

[2020-12-22 07:56] alexhass commented on #37800
Go away bot.

[2020-12-22 08:00] gioman commented on #37984
@uclaros done

[2020-12-22 08:04] gioman commented on #40421
@landryb why? it was not activated to bother people, but to try keep our bug queue clean. If the issue in not stale we will remove the feedback label, as in this case.

[2020-12-22 08:11] gioman commented on #37864
@baswein I'll leave to a developer (@nyalldawson)  to choose if this must be closed (as issue) and instead be documented.

[2020-12-22 08:12] landryb commented on #40421
from experience, bugs marked as stale tend to be closed, while here i think it *is* a bug, whether or not someone replies on it...

from my understanding the feedback flag is for devs only who can comment on issues, so i cant remove it myself. thanks for removing it !

[2020-12-22 08:14] gioman commented on #40421
@landryb we will be watching the stale tickets, and acts when necessary to remove this label as also the feedback one.

[2020-12-22 08:16] gioman commented on #37121
@ghellerwagner still an issue?

[2020-12-22 08:20] gioman commented on #12950
@roya0045 will check.

[2020-12-22 08:39] nyalldawson commented on #40709
Actually I think the fix here requires us to make layers from other stores available for certain functionality which is currently only available for layers loaded in a project - eg expressions which utilise layer retrieval

[2020-12-22 08:58] gioman commented on #38356
@AlisterH were you able to create a sample project?

[2020-12-22 09:08] bladnor opened #40715 "Activate 'Move selection to top' in attribute table by default"
When an attribute table is opened I would like to have 'Move selection to top' activated by default. This should be configurable similar to 'Open new attribute tables as docked windows' in Options -> Data Sources

[2020-12-22 09:27] gioman commented on #37479
@FERRATON do you mean create the pull request?

[2020-12-22 09:53] fuzzysolutions commented on #40704
@gioman
Here is a test layer with some railway points in a UTM 32 coordinate system with a local offset. That is my use case, such local coordinate systems are common for engineering projects in order to keep the number coordinate digits low (that is not for data size reasons, but in order to have more human-reading-friendly coordinates, so I easily see whether to points are 1m or 100m away from e

[2020-12-22 10:01] fuzzysolutions commented on #40704
@roya0045: Yes, while creating the example layer, I better understood to use the "Test" widget below the custom CRS definition. So the importance is not high. Still, I think *not* updating the layer is a kind of unexpected behavior, so to me it is a bug.
But I'd leave that decision to the community. Priority can be set to low, anyway.

I think it's already valuable for others that the behavior is

[2020-12-22 10:14] MartinHinz commented on #40164
I am a co-worker of Caroline. We currently kind of 'solved' it by using the Installer provided by KyngChaos for MacOS, but I have the feeling that this should also be fixed in the official repository, since it claims to be compatible to 10.13+. If there are any further information that might help you fixing the issue, we would be more than happy to assist.

[2020-12-22 10:18] gioman commented on #40164
@MartinHinz I will check if I can replicate on my mac mini with Catalina.

[2020-12-22 10:20] uclaros commented on #40324
Is this reproducible on a real machine (not a VM)? It sounds like an issue between VM and OpenGL.

[2020-12-22 10:21] MartinHinz commented on #40164
Thank you very much, much appreciated!

[2020-12-22 10:25] gioman commented on #40324
will check this.

[2020-12-22 10:26] gioman commented on #40324
@uclaros seems the answer is in the description

[2020-12-22 10:35] gioman commented on #40714
@kikislater agree, this seems a step back in usability.

[2020-12-22 10:37] uclaros commented on #40324
Wanted to make sure.
Braking it down:
- On a machine without a dedicated GPU
- On a VM with win10 as guest os
- 3d view is black on 3.16.0 and 3.16.1
- 3d view works ok with 3.10.12

Missing info that could affect:
- host os
- hypervisor sw
- qt versions for working vs non working builds

[2020-12-22 10:42] gioman commented on #40324
in my case:

host: ubuntu 20.04
hyp: virtualbox
qt: using qgis installed with osgeo4w in the vm

[2020-12-22 10:51] gioman opened #40717 "re-enable the "use min covering extent from input layers" option in Processing"
Was available in 3.10 and disappeared in 3.16.

[2020-12-22 11:14] gioman commented on #12950
@roya0045 yes, I think so. Please reopen if necessary.

[2020-12-22 11:14] #12950 closed

[2020-12-22 12:01] e42mercury commented on #40278
@DelazJ this very much sounds like it could be the problem. I was not able to find other parts of QGIS that rely on the OS font dialogue, so I couldn't test this further. Not sure what to try next. Generally speaking, it might be time to change QGIS so it only uses its own font dialogue throughout (should this be a separate feature request?). This might prevent any future conflicts with the OS dia

[2020-12-22 12:03] roya0045 commented on #40704
@fuzzysolutions 100% agreed

[2020-12-22 12:05] roya0045 commented on #40324
host: win, I would assume
Hyp: citrix
qt: osgeo version, can't recall

[2020-12-22 12:06] roya0045 commented on #40278
@e42mercury can you update your os to 10.15 and see if the issue is still present?

[2020-12-22 12:09] e42mercury commented on #40278
No, my mac is too old to update (it's from early 2011).

[2020-12-22 12:09] uclaros commented on #40715
As a workaround, you can use shift+f6 to open attribute table with *show selected features* mode enabled.

[2020-12-22 12:11] uclaros commented on #40324
working vs non-working qt3d version might be useful

[2020-12-22 12:12] roya0045 commented on #40238
@jakimowb what if you do things the normal way and create scope as disting variable and append it. Some things might be going out of scope your way.

[2020-12-22 12:15] roya0045 commented on #40324
@uclaros i think its more about recent changes that are no longer feasible on some hardware (textures, etc) rather than simple dependencies issue.

[2020-12-22 12:18] MorriganR opened #40720 "Vertex Tool uses old cached data resulting in corrupted data in db"
**Description of the bug**

Vertex Tool uses old cached data resulting in corrupted data in db. This issue is very similar to closed one:
New node tool snapping index out of sync for transaction groups (and triggers in the DB) #25142 (Oct 4, 2017)

**Scenario in order to reproduce the issue with video timestamps:**

1. Create PostGIS layer with simple LineString geometry. (00:00)
2. Start QGIS twi

[2020-12-22 12:23] roya0045 commented on #40709
@nyalldawson I'm not sure how stores interact with eachother (if they are nested or distinct) I guess a store manager would be needed to properly fix such thing?
Though it feels strange that simply adding a layer too soon may impede other alg, though it should have the same id and could be retrievable.

[2020-12-22 12:55] FERRATON commented on #37479
Yes if it's possible. I don't have the experience to do it myself yet.

[2020-12-22 13:00] Gustry commented on #37479
If it's short, you can edit straight from GitHub website, it will create the commit and PR for you.
There is a pen on each files.

[2020-12-22 14:16] vcloarec commented on #40324
As the GL_VERSION is quite low, indeed, I think it is a new feature that does not work with old opengl. But which one? No idea for now.

[2020-12-22 14:20] uclaros commented on #40324
Comparing the working vs non-working qt versions won't hurt anyway.
I have similar black stuff on my taskbar after a recent qt upgrade:
![Screenshot_2020-12-22_16-13-22](https://user-images.githubusercontent.com/11358178/102897554-dbd30e00-4470-11eb-8ea7-6fa4eec2b2c6.png)

[2020-12-22 14:34] roya0045 commented on #40324
@vcloarec once I'm back from vacation I could try 3.12 and 3.14 to see.

[2020-12-22 15:08] gioman commented on #32753
This should have been closed by https://github.com/qgis/QGIS/pull/33601

[2020-12-22 15:21] luipir opened #40724 "crash in graphical modeler due to QList index invalidation"
**Describe the bug**
crash in Processing Graphical Modeler due to index invalidation

@nyalldawson Found another race condition that was fixed in:

https://github.com/qgis/QGIS/pull/39200
and
https://github.com/qgis/QGIS/pull/39009

**How to Reproduce**

I will attach comlex model that generate the issue btw seems the issue happen when

1. create a main model using another sub-model linking all in

[2020-12-22 15:25] gioman commented on #29694
Closing for lack of further feedback.

[2020-12-22 15:25] #29694 closed

[2020-12-22 15:25] gioman commented on #29928
Closing for lack of further feedback.

[2020-12-22 15:25] #29928 closed

[2020-12-22 15:49] HQJaTu commented on #40319
Nobody expects application to open in a random UI-language. Everybody expects to see applications using the **same** UI-language as operating system.

[2020-12-22 15:51] FERRATON commented on #37479
All right, thank you.
I see that the proposed change has already been pushed in the master and in version 3.16.
I have proposed a PR for 3.10

[2020-12-22 16:10] elpaso commented on #40319
Random? I think you mentioned that it opens in your regional settings (whatever that means).

QGIS uses QT libraries for locale/translation settings, you might want to have a look to that docs: https://doc.qt.io/qt-5/qlocale.html#details.

All I can tell is that it works as expected on Linux, I've no idea about how Windows manages locales but I haven't seen any problem so far (and I'm using italia

[2020-12-22 16:23] HQJaTu commented on #40319
In Windows, there is regional settings. Google it.

This is low priority for those who know how to change the UI-language. I don't. Most newbies to QGIS don't. Maybe on intial launch QGIS should indicate something in fashion of: "_We detected your UI-language to be Swahili. If you would like to use a different one, choose one from this drop-down._"

[2020-12-22 16:25] uclaros commented on #40720
Could you check if snapping works for the correct updated line or for the wrong outdated line? ie. after moving and saving from window2 go to window1 and create a new line, trying to snap on the new and old existing lines.
The vertex tool uses `QgsPointLocator` for point selection which is basically how snapping is also handled.

[2020-12-22 16:27] HanwGeek opened #40730 "Install QGIS with libogdi"
**Describe the bug**

I install `QGIS` in Ubuntu18.04, but it says:
[code]
And when I install `libogdi3.2`, then install `QGIS`. It removes `libogdi3.2` and install `libogdi4.1`
[code]
But then it requires me `libogdi3.2` again. What should I do to fix this? Thanks!
**How to Reproduce**

`sudo apt-get install QGIS`

**QGIS and OS versions**
OS: Ubuntu18.04

**Additional context**

[2020-12-22 16:39] MattiBorchers opened #40731 "Very rare python-error on startup"
Hello everyone,

sometimes when I start QGIS I get the following error message. It occurs less than 1 in 1000 times, however, I want to open qgis via a batch file and run a script, but sometimes it fails.

[code]

[2020-12-22 16:42] luipir commented on #40724
crypted model for nyall to replicate the issue

open
Models->EPyRIS severity map->Severity map and perimeter generation => crash

crash started after added a new input (fire perimeter) to a sub-model:
Models->EPyRIS indexes->EPyRIS severity

from that point started to crash editing main model

[epyris.zip](https://github.com/qgis/QGIS/files/5731013/epyris.zip)

[2020-12-22 16:47] roya0045 commented on #37566
@esnyder-rve if you have the chance, try with an increase dpi to see if that slows enough the map render to allow the legend rendering before exporting

[2020-12-22 16:58] roya0045 commented on #40731
Why not just use QGIS process instead of the whole application if you just want to run a script?

Also you'll need to update to see if the error is present to validate this, is might also be an issue with another python install.

[2020-12-22 17:08] esnyder-rve commented on #37566
@roya0045 This is what I tried:
Test 01 - **Failed**:
* Export Resolution: 600 dpi
* Always export as vector
* Export Atlas as PDF

Test 02 - **Failed**:
* Export Resolution: 600 dpi
* Print as raster
* Export Atlas as PDF

Test 03 - **Failed**:
* Export Resolution: 600 dpi
* Print as raster
* Export Atlas as images (png)

Attempting to print to 1200 dpi crashes, so 600 was used instead (It's a 24

[2020-12-22 17:11] MattiBorchers commented on #40731
All I can say at the moment is thats it's also happening in 3.14.0. I will try the new 3.16.1 version, but it might take some time to get this error again.

[2020-12-22 18:27] gioman commented on #26439
Closing for lack of further feedback.

[2020-12-22 18:27] #26439 closed

[2020-12-22 18:31] luipir commented on #40724
@nyalldawson I wouñd make safer QgsModelChildAlgorithmGraphicItem::linkPointText checking index valid range before apply to at() method.
Obviously shouldn't arrive any invalid index in the method => check value and return empty string or rise exception, but crash IMHO is not a good result.

[2020-12-22 18:33] luipir commented on #40724
same crash as in: https://github.com/qgis/QGIS/issues/39260

[2020-12-22 18:39] luipir commented on #40724
crash in my case is in line:
https://github.com/qgis/QGIS/blob/master/src/gui/processing/models/qgsmodelcomponentgraphicitem.cpp#L992

but could potencially crash also in: https://github.com/qgis/QGIS/blob/master/src/gui/processing/models/qgsmodelcomponentgraphicitem.cpp#L1011

Woudl you like I prepare a PR limited to make at least safer linkPointText method?

[2020-12-22 19:03] gioman commented on #29400
This needs to be checked again when QGIS will ship with the new GEOS.

[2020-12-22 19:34] MorriganR commented on #40720
I am using QGIS only for a few days, so I am new to it. But i believe that this is what you wanted.

https://user-images.githubusercontent.com/31573086/102926293-66316700-449d-11eb-8ef8-d6b12d039df8.mp4

[2020-12-22 19:34] gioman commented on #29598
Works all fine for me on QGIS 3.16.2 on Windows.

[2020-12-22 20:03] gioman commented on #18596
It is still an issue on proj6 based builds, but GRASS/Processing is not a 3rd party application, not until it will move out form core QGIS.

[2020-12-22 20:04] gioman commented on #31397
This is duplicate of https://github.com/qgis/QGIS/issues/18596 that has been closed (but should have not).

[2020-12-22 21:14] jfbourdon commented on #38036
As a follow-up, I'm still unable to call any `processing.run(gdal: )` in a standalone script, however since 3.14, we can call directly processing tools, including processing plugins, in CLI with `qgis_process` which allow me to completely replace my standalone scripts and avoid any issue of the sort. So the original issue persists, but there is now a workaround which is even better.

[2020-12-22 21:37] nyalldawson commented on #18596
@gioman it's coming straight from the grass executable - how is that not an upstream issue?

[2020-12-22 21:48] gioman commented on #18596
Just to be sure I just tested (with a dem) in native GRASS:

r.in.gdal
r.slope.aspect
r.out.gdal

and the output (geotiff) as its CRS correctly read by QGIS (as the original input). Running the same tool (as any other Processing/GRASS tool for rasters) in Processing strips the mentioned parameters from the output CRS.

[2020-12-22 21:48] gioman commented on #18596
As far as I can see this do not seems to affect vector  GRASS/Processing tools.

[2020-12-22 22:22] uclaros commented on #40720
Yes, indeed, snapping also misbehaves.
So the problem is that the layer's `QgsPointLocator` is only aware of changes made to the layer itself and completely unaware of changes made to the datasource but not to the layer (ie other layer, database trigger etc)

You could resync things by changing the project CRS in order to force a rebuild to all layers' locators, but this is hacky as hell!

[2020-12-22 22:25] nyalldawson commented on #40720
This is exactly the situation that the notify support added for postgres a few years back was designed to help with.

See
https://oslandia.com/en/2017/10/07/refresh-your-maps-from-postgresql/
https://kartoza.com/en/blog/using-pgnotify-to-automatically-refresh-layers-in-qgis/

[2020-12-22 22:28] nyalldawson commented on #18596
Hmm in that case it must be something in the "r.out.gdal" command that processing creates which causes this. Are you able to see what should change in the command which QGIS generates to fix this?

Look in the log in processing for r.out.gdal, and specifically check out the createopt/metaopt parameters if they are present...

[2020-12-22 22:36] uclaros commented on #40720
I don't think so, notify is only to avoid having to refresh the map manually.
The locator snapping index though has no way to be refreshed manually, it is only updated by signals on the layer (featureAdded, featureDeleted, geometryChanged).

I have hit another related bug where the layer's locator thinks the layer is empty, and it is stuck like this, unable to snap on the layer or use vertex tool,

[2020-12-22 22:46] nyalldawson commented on #40720
Hm - are you sure about that? I believe handling multi-user snapping was one of the main drivers behind the notify work.

In any case, I think it's the correct approach to handle this situation. Maybe we are just missing the code to invalidate the snapping cache when notified by postgres.

[2020-12-22 23:03] uclaros commented on #40720
This is not a postgres thing, it's provider independent.
I think what we need is a way for the snapping cache to be always in sync with the data, just like the map canvas is. We already do the expensive procedure of getFeatureRequesting on canvas update, so we already have the updated geometries. We could fire a signal after a successful getFeatureRequest (that does not skip geometry ofc) and conn

[2020-12-22 23:12] nyalldawson commented on #40720
You probably want to check with @wonder-sk there. That was the approach really old qgis versions used before @wonder-sk reworked snapping, and it didn't work well in practice.

[2020-12-22 23:29] nyalldawson commented on #40714
#40733 fixes this, but note that you can always use the middle mouse button or holding down the space key to also pan the model (just like canvas/ layout designer)

[2020-12-23 01:52] #40673 closed

[2020-12-23 03:40] Llaves commented on #36113
Sorry - this slipped between the cracks. The issue is fixed in 3.16.2. Possibly fixed in something earlier - I didn't try to narrow it down.

[2020-12-23 03:40] #36113 closed

[2020-12-23 03:42] #40714 closed

[2020-12-23 03:57] sdieters commented on #37121
We have partial work-arounds. But this still causes us problems.
Stefan

Stefan Dieters   |   Spatial Information Officer
Geodata Services   |   Land Tasmania

Mostly Back in the office:
T :03 6165 3191

Department of Primary Industries, Parks, Water and Environment
Level 9, Lands Building
134 Macquarie Street Hobart TAS 7000
GPO Box 44 Hobart TAS 7001

T: 03 6165 3191  |   M:    |   E: stefan.die

[2020-12-23 04:09] sdieters commented on #37121
This still causes our group trouble. We have some partial work-arounds, but these are very much a kludge. Will review again in new year.

[2020-12-23 04:39] ghellerwagner commented on #37121
Hi Giovanni,

No matter how many ways i loaded/installed the program or versions or
profiles i tried helped in anyway.  The current work around is to open the
authentication tab in settings as soon as the program loads and clear the
network authentication caches. This seems to  work for the types of jobs
that i am completing however it does not feel like a permanent solution and
does not allow the

[2020-12-23 04:43] kikislater commented on #40714
Thank you for PR (I was looking on it and found that it should be same logic as layout manager. I understand it better now thanks)

Middle click and space key could have some different behaviour depending on desktop environment. For example : only space + middle click is working on mate desktop without compositor (3d effects such as marco or compiz). Then if you want to exit from this pan mode, it

[2020-12-23 05:55] lbartoletti commented on #30933
Done!

Grazie totò

[2020-12-23 05:55] #30933 closed

[2020-12-23 06:23] pjshelton commented on #39263
Hi,
To create these using extra layers, I add extra vertices to the road, extract vertices to points, then use the M value on the points as the displayed value.
Doing the above without the extra layer, requires adding the extra vertices to the road, then using the geometry generator to create a multipoint object (thus getting a point at each required distance), but then, instead of displaying an a

[2020-12-23 09:12] pjshelton commented on #39263
Also, sometimes roads are made up of more than one feature.  So I would like to ask for the ability to add an offset along the line for the first mark that is not a multiple of the hashing interval.

[2020-12-23 09:30] nicknn commented on #34792
Update and close:
Since raising the issue I have upgrade the OS to Xubuntu 20.04.1 (fresh install, not an in-place upgrade) and QGIS to 3.10.13 LTR.
With this setup I have not encountered problems with CRS reprojection-conversions to OSGB1936 or any other CRS. QuickMapServices layers are also stable in this setup.
Thanks for the help and continued good work on QGIS.

[2020-12-23 09:30] #34792 closed

[2020-12-23 10:02] pathmapper opened #40736 "WMS title and abstract is not displayed for WMS provided by QGIS Server"
**Describe the bug**
WMS title is not displayed in QGIS browser for WMS provided by QGIS Server.

**How to Reproduce**

1. Create a new WMS connection using the URL: http://168.119.115.196/cgi-bin/missing_title/qgis_mapserv.fcgi
2. Open the connection in QGIS browser
3. See error --> Title is not displayed:

<img src="https://user-images.githubusercontent.com/20856381/102983507-76ccf600-450c-11eb-

[2020-12-23 10:37] gioman commented on #37121
@ghellerwagner would you mind edit the title to something more descriptive of your problem?

it seems you are hitting  a problem related to a very specific scenario, you should raise your issue on the developers mailing list.

[2020-12-23 10:48] gioman commented on #25876
Duplicate of https://github.com/qgis/QGIS/issues/35383

[2020-12-23 10:48] #25876 closed

[2020-12-23 11:00] luipir commented on #40724
crash with master too

[2020-12-23 11:15] ghellerwagner commented on #37121
Yep no problems, I’ll edit it tomorrow.

Sent from my iPhone

[2020-12-23 11:29] gioman commented on #34826
Work fine with the latest QGIS 3.10 server on Ubuntu 20.04.

[2020-12-23 11:32] MMR100 commented on #14070
@ainthek  as a workaround:

- I create a buffer of my polylines,

- cut the buffer where needed

- then dissolve the lines based on a unique attribute in the buffer layer.

[2020-12-23 11:33] gioman commented on #40736
It is not a Browser only issue, "title" and "abstract" also do not show in the "add WMS layer" dialog when establishing a connection.

[2020-12-23 12:03] luipir commented on #40724
probably there is some not correct calculation of index in QgsModelGraphicsScene::linkSourcesForParameterValue

[2020-12-23 12:21] gioman commented on #18596
@nyalldawson I remember (in the early days of Processing) to have tried to look into this problem with no success. I also assumed that was a difference in the import/export parameters but that was not the case, and still seems to be so. Anyway I think I may have found a lead... but the problem seems to have changed.

In QGIS:

[code]

The output CRS **has the +towgs params**

`+proj=tmerc +lat_0=3

[2020-12-23 13:11] pigreco commented on #30948
@gioman
I just did a test in QGIS 3.16.2 Hannover, everything seems ok!
thanks!

[2020-12-23 13:13] #30948 closed

[2020-12-23 13:23] pathmapper commented on #40736
Good find @gioman, added also **Abstract** and **Short name** to the sample project:

[sample_project_title_abstract.zip](https://github.com/qgis/QGIS/files/5735048/sample_project_title_abstract.zip)

<img src="https://user-images.githubusercontent.com/20856381/102995420-46438700-4521-11eb-9c44-576ec261bff6.png" width="400">

http://168.119.115.196/cgi-bin/missing_title/qgis_mapserv.fcgi?service=W

[2020-12-23 13:27] Fuad59 opened #40740 "Abnormal hanging and Python error"
IMPORTANT:

If the issue concerns a third party plugin (downloaded with the plugin manager) then it can't be fixed by the QGIS team.
Please raise your issue in the dedicated bug tracker for that specific plugin (as listed in the plugin's description)

Tickets created here will be closed.
I have installed some plugin from the dedicated "plugins" option. After that getting Python error messages. (i.

[2020-12-23 13:33] gioman commented on #40740
Error is from a 3rd party plugin, not QGIS. Contact the authors.

[2020-12-23 13:33] #40740 closed

[2020-12-23 14:09] MorriganR commented on #40720
This issue is a duplicate of #31251

[2020-12-23 14:26] baswein commented on #37864
Would an appropriate resolution be to document the current behavior and make this a feature request for a scale factor in the HTML Source properties?

[2020-12-23 14:48] gioman commented on #37864
@baswein document it https://github.com/qgis/QGIS/issues/37864#issuecomment-661546361

[2020-12-23 15:08] Fuad59 commented on #40740
Thanks for the feedback

[2020-12-23 15:30] roya0045 commented on #15055
Isn't this what the crash logs are now?

[2020-12-23 18:20] nyalldawson commented on #18596
Unfortunately that's a red herring - we auto add and remove this term when needed, it should have no impact

[2020-12-23 18:21] nyalldawson commented on #18596
Doesn't you findings confirm that this is an upstream issue? (Or at least, a question to ask upstream)

[2020-12-23 19:18] jscarto opened #40746 "Add 'Average' resampling to raster symbology"
**Feature description.**
QGIS versions 3.14 and prior had 'average' resampling as an option when zoomed out. Apparently some changes to the drop-down text removed that and now calls it bilinear.

It would be fantastic to have true 'average' resampling added (back) to this menu.

**Additional context**
There must have been more than just a text change, as the current (QGIS 3.16) bilinear resampling

[2020-12-23 20:46] jakimowb commented on #40238
Thanks @roya0045, indeed it the volatile scope variable. Changing the Generator solved it:

[code]

[2020-12-23 20:46] #40238 closed

[2020-12-23 20:50] roya0045 commented on #40238
@jakimowb I'm glad this helped!

[2020-12-23 23:03] pjshelton commented on #39263
Actually, to be a "Chainage" in Australia, all the numbers except the 95 need to be turned around in that first image.

[2020-12-24 02:53] ashleysommer commented on #34569
I believe this is still a bug and still needs to be addressed.

[2020-12-24 05:22] pathmapper commented on #40736
After taking a closer look at the [OpenGIS Web Map Service (WMS) Implementation Specification](http://portal.opengeospatial.org/files/?artifact_id=14416) it's getting clearer what's happening here:

1.
QGIS **Desktop** doesn't show _Title_ and _Abstract_ of the `<Service>` element (spec 7.2.4.3. General service metadata) for QGIS Browser and the "add WMS layer" dialogue at all. Instead it is showi

[2020-12-24 06:01] DelazJ commented on #37864
Is this really a documentation(-only?) issue? According to the description, it looks hard to get the imports scale at 100% without doing some math (and nothing obviously informs/helps in the GUI).

[2020-12-24 06:11] zirneklitis opened #40748 "Bizarre behavior of Decorations/Scale Bar"
**Describe the bug**
Decoration -> Scale Bar uses a misleading planimetric measurement. 'Zoom last' corrects the measurement.

Zooming or panning does not change the incorrectness of the measurement. 'Zoom last' does.

**How to Reproduce**

1. Open the attached project (Scale_Bar.zip).
2. Try to Zoom or/and pan the canvas.
3. -> Wrong planimetric measurement.
4. Try to use Zoom history.
5. -> The

[2020-12-24 09:14] kannes commented on #33861
Still an open feature request for a feature I consider very useful for complex styling.

[2020-12-24 10:48] gioman commented on #18596
@nyalldawson can you elaborate? the example here above seems to suggest that if there is "+type=crs" the CRS do not match the equivalent CRS as recognized by QGIS and so it shows "unkown".

it seems so, but honestly I'm not totally sure. Just thinking out load here below:

I tried to import (in native GRASS) my sample data in the temp mapset/location created by QGIS when running GRASS tools from p

[2020-12-24 10:50] pjshelton commented on #20699
![image](https://user-images.githubusercontent.com/39154868/103082882-d91a1980-4626-11eb-9455-bb40189e6f8b.png)

We could probably close out this request as there is now various ways to locate the bottom of all diagrams.

[2020-12-24 10:53] #20699 closed

[2020-12-24 11:54] Pescher-sia commented on #36165
I have the same problem, any solution?

[2020-12-24 13:07] roya0045 commented on #40272
So not a bug, just inefficient operation.

[2020-12-24 14:59] cesaregal commented on #40472
Then @gioman, @PeterPetrik and @semiautomaticgit I confirm, as mentioned by others in other posts referenced above, that, when I'm working in QGIS Version 3.16.1 with Semiautomatic Classification Plugin Version 7, QGIS open multiple new windows and it becomes even impossible to stop the work indefinitely in progress; you have to turn off the computer.
I enclose a screenshot showing the opening of

[2020-12-24 15:43] semiautomaticgit commented on #40472
Hello @cesaregal , I have included a multiprocess test in the plugin that doesn't required input data.
Please click the button "Test dependencies" in the tab Debug (https://semiautomaticclassificationmanual.readthedocs.io/en/latest/faq.html#how-can-i-report-an-error) and check if you get the same issue.

[2020-12-24 15:46] jzhou0222 commented on #40472
@cesaregal Hey Cesare, I think @semiautomaticgit Luca is right, it is the issue of multiprocessing. I installed windows via boot camp and test the windows version of QGIS, everything runs smoothly. If you have enough spaces on your mac system, prob considers installing windows just in case. I guess not a lot of people using QGIS on MacOS, so it cannot be properly tested.

[2020-12-24 16:17] cesaregal commented on #40472
Hello @semiautomaticgit , I've clicked the button "Test dependencies" in the tab Debug and I had the same error.
Three new QGIS windows have opened and the system is no longer responding.
![Schermata 2020-12-24 alle 17 02 18](https://user-images.githubusercontent.com/36958216/103098665-e4138080-460b-11eb-922b-594aab6aff8b.png)

[2020-12-24 16:26] semiautomaticgit commented on #40472
Thank you very much.
If @PeterPetrik could be so kind to test it, maybe he can say if it is a QGIS issue or something that I can fix in the plugin.

[2020-12-24 16:36] gioman commented on #40730
@HanwGeek no problems whatsoever on a clean 18.04 machine using qgis.org repos.

[2020-12-24 16:50] gioman commented on #36165
@Pescher-sia unfortunately no, the situation is still very sub-optimal given also that db manager is going to be replaced by the data source manager, so there are not many incentives in working on it. See this ticket for a discussion about this matter https://github.com/qgis/QGIS/issues/26804

[2020-12-24 17:26] baswein commented on #37864
@DelazJ I agree with you that it is not a documentation only issue but it really doesn't require math for most purposes. If you want the want the font size to be imperceptibly close (.05mm over 100mm) to what is says in the HTML code all you need to do is set the layout export resolution to 272dpi when creating the HTML frame and then switch it back to your desired export resolution when finished.

[2020-12-24 18:44] nbaghm commented on #40044
Still this issue exist in the new updated version.

[2020-12-24 20:22] CoryAlbrecht opened #40751 "Error on QGIS start: Qt: Attribute Qt::AA_EnableHighDpiScaling must be set before QCoreApplication is created."
**Describe the bug**

The error message `Qt: Attribute Qt::AA_EnableHighDpiScaling must be set before QCoreApplication is created.` shows up wen starting QGIS.

![image](https://user-images.githubusercontent.com/8172909/103105276-ba9e2900-45fa-11eb-946d-0bbaedb63ce3.png)

Full console output
[code]

**How to Reproduce**

Run QGIS on a 4k dispkay.

**QGIS and OS versions**

QGIS version | 3.17.0-Ma

[2020-12-24 23:46] faridcher opened #40752 "Unique Values widget with predefined index"
Following #39179, unlike a value map widget, unique values widget withholds the user from adding a predefined index. It only shows the already populated values in the corresponding field. I closed #39179 in the favor of this feature request.

[2020-12-24 23:47] #39179 closed

[2020-12-25 00:56] uclaros opened #40753 "Remember terrain settings in 3d views"
**Feature description.**
It would be great if we could avoid having to re-define the terrain type and settings every time we re-open a 3d map view.

[2020-12-25 06:08] pjshelton commented on #13833
![image](https://user-images.githubusercontent.com/39154868/103122222-1932d800-46cb-11eb-99d6-fce5700fc2ca.png)

This can be closed now as QGIS now stops and allows you to chose which attribute to use if the attribute named  in the qml does not exist.

[2020-12-25 12:26] agiudiceandrea commented on #40748
I can confirm the regression. The Scale Bar map decoration correctly works up to QGIS 3.12.3. The issue occurs since QGIS 3.14.0.

[2020-12-25 12:56] roya0045 commented on #33581
Now that support for qt 5.15 exists, I'm not sure if this is still an issue.

[2020-12-25 14:52] zeddock commented on #33581
I notice no one has posted it is solved though.
I plan to check later, but I recently got into an issue with QT on my
system.

Can someone from a past post confirm if it is solved please?

Thanx!

On Fri, Dec 25, 2020 at 7:57 AM Alex <notifications@github.com> wrote:

--
... sent from my iPad with Siri making sure it corrects just enough to
confuse you.... please forgive typos ...

[2020-12-25 16:22] meridsa commented on #38074
@johtoblan Could you explain the steps taken to manually upgrade owslib with pip3?

[2020-12-25 16:46] leojth commented on #34826
Still doesn't work in QGIS 3.16 server on Windows

[2020-12-25 19:16] Abelon38 commented on #34826
Nop! I just tried on windows server with QGIS server 3.16 and the problem still remains.

Best regards!
Abel

[2020-12-25 22:03] uclaros opened #40760 "Vertex tool ortho mode. Feedback needed"
**Feature description.**
A useful addition to the vertex tool would be a way to be able to snap the selected vertex on the line connecting its previous and next vertices. Right now this can be achieved by workarounds like deleting the vertex and then re-creating it with shift+click, which is troublesome in situations of topological editing, or by adding construction points to the advanced digitizi

[2020-12-26 09:05] mvdsvnit opened #40762 "Sorry :( It looks something unexpected happened that we didn't handle and QGIS ended unexpectedly."
Crash ID: ca44fc1770ff62f76b908ae8ab2f255b15b2cc4f

Stack Trace

QgsExpression::evaluate qgsexpression.cpp:360
QgsGraduatedSymbolRenderer::valueForFeature qgsgraduatedsymbolrenderer.cpp:138
QgsGraduatedSymbolRenderer::originalSymbolForFeature qgsgraduatedsymbolrenderer.cpp:150
QgsFeatureRenderer::willRenderFeature qgsrenderer.cpp:366
QgsMapTip::fetchFeature qgsmaptip.cpp:243
QgsMapTip::showMapTip

[2020-12-26 09:15] yuvrajsunger opened #40763 "Field Calculator in Processing toolbox crashes QGIS when checking the "selected features only""
**Bug Description**
QGIS Crashes upon selecting the "Selected features only" option for Input layer of the Field Calculator Algorithm.

**How to Reproduce**

1. Go to 'Processing Toolbox' and open 'Field Calculator' Algorithm.
2. Click on "Selected features only" option for Input layer.
3. QGIS stops responding and crashes after sometime.

![image](https://user-images.githubusercontent.com/5269375

[2020-12-26 12:56] roya0045 commented on #40762
Can you share the data or the symbology/project that crashes? Is it consistent and did you try with a new profile to ensue no plugins interfere?

[2020-12-26 13:10] roya0045 commented on #40763
Confirmed crash on win 10 @suricactus do you have any clues what might cause this? I assume its related to QgsProcessingFeatureSource

[2020-12-26 16:57] ainthek opened #40764 "polygonize fails with No module named '_gdal', 3.16.1-Hannover, on OSX"
**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

[2020-12-26 21:11] pnorman commented on #34813
Just to follow up on this, the changes have had a noticeable reduction in load from qgis users on OSM servers.

[2020-12-26 21:21] pjshelton commented on #13833
@gioman  this is now complete

[2020-12-26 21:38] pjshelton commented on #14676
In QGIS 3.16 the font marker now does everything that this feature request asks for except
for adding a buffer.

I found the character map to be quite responsive, and able to display all printable char.

We can select fonts,
font style,
color
rotate
use the standard 9 point anchor grid for location around the point
invert
add a phrase, or even make it data dependent.
I have also tested with a font

[2020-12-26 22:23] pjshelton commented on #15425
Between Catalog: cpt-city and Catalog: ColorBrewer most of the ColorBrewer colour ramps are already in QGIS.

However, if there is a colour ramp you want that is not in the pre-configured set, you can create a new colour ramp using the
Gradient ramp and edit it as you want.  it will save in the default list.

@gioman this can be closed as complete

[2020-12-27 07:01] pjshelton commented on #17273
![image](https://user-images.githubusercontent.com/39154868/103165522-c2610600-4864-11eb-993d-e4c963173b7b.png)

This can now be be closed as the offset can be data defined as well as the stroke width.  This works very well except for a couple of edge cases.

@NathanW2, @gioman

[2020-12-27 10:09] #17273 closed

[2020-12-27 10:22] gioman commented on #40760
@uclaros better raise the matter in the developers mailing list?

[2020-12-27 10:28] #40764 closed

[2020-12-27 10:29] #13833 closed

[2020-12-27 10:32] #15425 closed

[2020-12-27 10:33] gioman commented on #40762
@mvdsvnit please add:

**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

[2020-12-27 10:37] mvdsvnit commented on #40762
Now I am using QGIS 3.10 stable version. No issues in it.

Thanks

On Sun, 27 Dec 2020, 16:04 Giovanni Manghi, <notifications@github.com>
wrote:

[2020-12-27 10:38] #40762 closed

[2020-12-27 10:46] gioman commented on #40763
Confirmed also on 3.16.2 on Ubuntu 20.04.

[2020-12-27 10:48] gioman commented on #40751
@CoryAlbrecht I think that on QGIS master those verbose log messages are expected.

[2020-12-27 10:48] softempire opened #40765 "Where I can get the development kit (headers, libs, bins) for QGis 3.4.10 x64?"
IMPORTANT:

Do NOT use GitHub to post any questions or support requests!
They will be closed immediately and ignored.
Questions should go to the qgis-user mailing list at https://lists.osgeo.org/mailman/listinfo/qgis-user
or other support forums such as https://gis.stackexchange.com/.

GitHub issues are for bug reports and suggestions for new features.

[2020-12-27 10:50] gioman commented on #40765
@softempire questions are to be asked in the users/developers mailing lists.

[2020-12-27 10:50] #40765 closed

[2020-12-27 11:03] gioman commented on #37479
@FERRATON closing then?

[2020-12-27 11:45] roya0045 commented on #40762
@gioman This may be a regression if 3.10 is fine and 3.16.1 crashes. It should be investigated.

[2020-12-27 11:47] gioman commented on #40762
@mvdsvnit please describe how to replicate the crash, and if necessary attach a sample project with data.

[2020-12-27 14:10] spillner opened #40766 "Crash bugs when adjusting 3D view settings"
I'm running QGis 3.16.2 from the qgis.org/debian repository, on a standard Ubuntu Focal (x86_64) installation.  OpenGL is provided by version 455.38 of the NVidia proprietary driver , and I don't have any issues with 3D in other applications.

The 2D features in QGis seem to work just fine, but when I open the 3D preview pane I see nothing but a white canvas (even though can successfully build and

[2020-12-27 15:58] jmonticolo opened #40767 "Extend Temporal controller with all numeric data types"
**Feature description**
Temporal controller was a huge new feature for QGIS for see spatial data through time. But imagine a vector layer with a numeric depth / height field (or any kind of numerical data type) that we could vary with the slider control ? The request is for extend the slider not just for time data, but for all numerical fields.

**Additional context**
As temporal controller, in th

[2020-12-27 17:02] roya0045 commented on #40766
Did you try with another version other than 3.16.2? I noticed some issues on 3.16.1 but 3.10(ltr) worked fine.

[2020-12-27 17:03] gioman commented on #40766
Crash confirmed (same QGIS version and OS) also with a much smaller dataset, like the one attached (and happens also when choosing other CRS for the project other than the described one).

[clip1.zip](https://github.com/qgis/QGIS/files/5744830/clip1.zip)

[2020-12-27 17:03] gioman commented on #40766
@roya0045 is a regression then.

[2020-12-27 17:07] roya0045 commented on #40766
I was referencing the black screen on windows VMs, I wanted to validate if it was indeed a regression. Did you try it out ?

[2020-12-27 17:11] gioman commented on #40766
@roya0045 there is no black screen here, if fact is... white.I think that hoping to ha the 3d view to handle (quickly at least) a dataset that as the whole world extension, and that is being reprojected on the fly is a little bit too optimistic. Clipping that layer to a more reasonable geographic extension works just fine.

[2020-12-27 18:36] CoryAlbrecht commented on #39107
Yeah, if the "Frame:" header line in the panel were an editable control so I could put in timestamp ${X} and the canvas would show  ${X}+${StepSize}, that would be great.

[2020-12-27 19:15] CoryAlbrecht opened #40768 "Attribute table does not take into account the temporal controller range"
**Describe the bug**

When opening the attribute table on a layer that is used the new temporal controller, it shows all objects from the layer regard less of temporal data, instead of just what the temporal controller is letting show on the canvas.

**How to Reproduce**

1. Create a layer with features with temporal values
2. The the temporal controller on for that later with start and end dates

[2020-12-27 19:42] gioman commented on #40768
@CoryAlbrecht same as https://github.com/qgis/QGIS/issues/39076 ?

[2020-12-27 19:48] pjshelton commented on #18627
The only way I could find, in version 3.16, to create a circle was as a simple marker or a SVG marker.  Both these methods now only give you the diameter as the "size".  This can be a data driven expression.

@gioman I think this one can be closed,

[2020-12-27 19:49] #18627 closed

[2020-12-27 20:03] pjshelton commented on #18720
I am assuming that this is for graduated Symbology.

Pretty Breaks is still there as a mode.  And once you classify, you can double click on the Values and a dialog box opens where you can change the lower and upper values of the class to what ever you want.

And there is also the ability to add new classes.  Even though they land at the front of the list on creation they can be dragged to any loc

[2020-12-27 20:20] pjshelton commented on #18433
![image](https://user-images.githubusercontent.com/39154868/103178916-f70ba680-48d2-11eb-868d-b8b0e9c81d1b.png)

Because we can create multi-symbols (?) by adding multiple marker lines in the symbology, you don't have to use duplicate layers, you just add two, or more, Marker Line's to the symbology and use a different radio button on each Marker Line.

@anitagraser, @gioman I think we can close t

[2020-12-27 20:36] pjshelton commented on #19454
This is a subset of the original question in #14676 and so long as the font you are using has a Bold face type you can set Bold text.

Not all fonts have a bold typeface.

@gioman this can be closed.

[2020-12-27 20:49] CoryAlbrecht commented on #29601
This still happens. As a result, there is nothing in the created layer for the fixed geometries.

I just tried the Check validity tool, and it has a similar problem where it does  not add any features to the valid and invalid layers it creates, but it creates the errors points layer that shows where the invalidities are.

Array data has been a persistent problem since the switch from 2.x to 3.x.

[2020-12-27 20:51] CoryAlbrecht commented on #29601
[code]

[2020-12-27 21:05] pjshelton commented on #38205
Giving this more thought, and referencing the network supplied in #28628 it would be nice if there was also a way to list exceptions.  links that touch, have the same attribute but you don't want merged.

[2020-12-27 21:20] CoryAlbrecht commented on #39146
@SebastienPeillet Can you comment on this difference?

[2020-12-27 21:20] guncha commented on #33778
Same issue here - I had a disconnected network drive and QGIS would freeze for about 15 seconds on every action. Getting rid of the network drive fixed it. Clearly QGIS is doing file operations in the UI thread, or at least it's getting blocked by them, which is.. not ideal. I don't know enough C++ to try to fix it, but let me know if I can help in some other way.

[2020-12-27 21:48] CoryAlbrecht commented on #40768
When set to "Show Features Visible on Map", some times it isn't even correct as to what gets listed in the attribute table. A syou can see, there is no "New Spain" feature showing, and "Quebec" i snot listed in the table.

![image](https://user-images.githubusercontent.com/8172909/103180337-e3c0f280-4862-11eb-8b60-fd1eb6077b5c.png)

[2020-12-27 21:52] uclaros opened #40769 "Symmetrical difference wrong output"
**Describe the bug**
I met a case where applying symmetrical difference on identical layers gives incorrect output instead of empty.

**How to Reproduce**
1. load https://github.com/qgis/QGIS/blob/master/python/plugins/processing/tests/testdata/expected/points_to_path_grouped.gml and https://github.com/qgis/QGIS/blob/master/python/plugins/processing/tests/testdata/expected/points_to_path_grouped2.

[2020-12-27 21:59] CoryAlbrecht commented on #40768
@gioman
I would guess so, assuming that this other error I found doesn't change that.

[2020-12-27 23:58] jonorthwash commented on #35649
I believe the packaging (or compiling?) bug is with qgis and not the dependency, so probably this issue should be reported to whoever does the packaging before it's closed.  Anyone have thoughs about who that might be?

[2020-12-27 23:59] ainthek commented on #40764
@gioman sorry, now I see that the text of bug report is missing. I will resend again ?

[2020-12-28 01:19] spillner commented on #40766
I actually started with 3.10 from the main Ubuntu repository, had nothing but white in the 3D pane, and upgraded to 3.16 hoping the 3D support was better.  I will try some more versions tonight to try to bisect the crash behavior.

I'm not sure it's "unreasonable" to render the whole world dataset in 3D--- 30 arc-second resolution * 180 degrees in each axis = at most 466.56M grid points in view (o

[2020-12-28 01:32] weixiaojun2020 opened #40770 "QGIS unexpectly ended"
QGIS always crashed when i start it, i don know why. Below are the crash infomation.

Crash ID: ccaa86226c1c7e7c84b4af34d882fbbb30464718

Stack Trace

QRingBuffer::reserve :
QSslEllipticCurve::shortName :
QMetaObject::activate :
QAbstractSocket::disconnected :
QAbstractSocket::canReadLine :
QObject::event :
QApplicationPrivate::notify_helper :
QApplication::notify :
QgsApplication::notify qgsappli

[2020-12-28 01:54] spillner opened #40771 "Near-Sided CRS projections fail (attempted forward projection from (inf, inf))"
After giving up on 3D mode for a while (https://github.com/qgis/QGIS/issues/40766), I tried to simulate what I need with the Near-Sided projection family supported by proj4.  However, both of the Near-Sided projections distributed with QGIS (ESRI:53049 and ESRI:54049) generate an "Exception" dialog with the error message

    forward transform of (inf, inf)
    Error: Fallback transform failed

St

[2020-12-28 02:20] nyalldawson commented on #40771
This is an upstream proj issue -- it's fixed in newer proj versions

[2020-12-28 02:20] #40771 closed

[2020-12-28 03:16] Macowe opened #40773 "Can't calculate area..."
when I do the area calculation,
some of the features' area are null, why?

[2020-12-28 03:28] #33727 closed

[2020-12-28 03:32] Macowe commented on #40773
I set field type to integer 64bit, and the problem is solved.

[2020-12-28 03:32] #40773 closed

[2020-12-28 07:37] Pescher-sia commented on #36165
so we have to wait a new version of QGIS to solve this problem?

[2020-12-28 08:12] gioman commented on #40768
@CoryAlbrecht I would say that the description of this ticket is duplicate of https://github.com/qgis/QGIS/issues/39076 and that

is a different issue you must file in a separate ticket. Closing?

[2020-12-28 08:14] gioman commented on #29601
@CoryAlbrecht does not seems to be a issue of just the "fix geometries" tool, but rather a general one, correct?

[2020-12-28 08:19] gioman commented on #35649
@jonorthwash here is the right place. But the point is that there are no issues at all installing QGIS 3.10/16 on Ubuntu 20.04 machines using qgis.org repos.

[2020-12-28 08:21] gioman commented on #40770
@weixiaojun2020 try removing manually the QGIS profiles folders (if you have important things in there, make a backup first) and try again.

`AppData\Roaming\QGIS\QGIS3\profiles\`

[2020-12-28 08:22] gioman commented on #36165
@Pescher-sia wait, or fix the bug (if you have the necessary skills) or make it fix by hiring a developer that can do that.

[2020-12-28 08:24] #19454 closed

[2020-12-28 08:33] gioman commented on #32923
@EsmH seems the basis to implement this has already been added: https://github.com/qgis/QGIS/pull/40233

[2020-12-28 09:02] gioman commented on #40766
@spillner then why are you enabling the 3D view in the first place?
that DEM raster works perfectly in 2D view, you can hillshade (or whatever other operation you need) it and use it as a base for your other layers.

![Screenshot_20201228_084452](https://user-images.githubusercontent.com/1951107/103201946-1b727d80-48e9-11eb-98ac-5fcb6656297f.png)

yes, this is the real issue here (reported in this

[2020-12-28 09:13] m-kuhn commented on #40752
Did you try to configure a "default value" for this field?

[2020-12-28 09:35] FelisPimeja commented on #29601
Correct. That's a general one.

[2020-12-28 09:51] anitagraser commented on #18433
@pjshelton I still stand by my original request. As stated originally, it would be nice not to have to duplicate the **symbol layer**.

[2020-12-28 11:14] gioman commented on #26291
Whatever the issue was this seems long fixed now. Please reopen if necessary.

[2020-12-28 11:14] #26291 closed

[2020-12-28 11:21] #40730 closed

[2020-12-28 11:26] gioman commented on #26117
Seems fixed in 3.16.2

[2020-12-28 11:26] #26117 closed

[2020-12-28 11:41] m-kuhn commented on #40762
@mvdsvnit if you have any chance to submit a sample project here that would be great. I have fixed a potential issue and it would be great if I could verify it with your project.

[2020-12-28 11:48] gioman commented on #23661
The extent shown is the same reported by OGR, so I guess this is an upstream problem, not QGIS's.

[2020-12-28 12:15] rduivenvoorde opened #40777 "Temporal Controller ends with a Frame with Step size == zero"
The last frame in the (visual) Temporal Controller ends with a 'Frame' of size zero:

![Screenshot-20201228130853-788x150](https://user-images.githubusercontent.com/731673/103213445-f8a69000-490d-11eb-802e-b68d12978625.png)

As you see, my (hourly test) data goes from 01:00 till 07:00 (max end time).
If you load such data in QGIS the range is filled (rightly) with the Range you see in the screensh

[2020-12-28 12:49] gioman commented on #26982
@lukehutch not really sure how you were able to get this geopackage from the WKT in the CSV (I wasn't able, as the WKT is invalid, and this is the reason of all of the problems you describe). Anyway the GPKG poses an interesting case:

1) it is an invalid geometry, as reported by the "topology checker" and the "check validity" tools

2) it makes the "check geometries" tool crash QGIS

3) the "fix

[2020-12-28 12:54] uclaros commented on #40752
A default value won't help here. The rationale is to have *unique values* with *editable* enabled functionality (autocomplete free text) even on an empty layer.

[2020-12-28 12:59] m-kuhn commented on #40752
Ah, "predefined index" corresponds to "prepopulated options"? Sorry, I understood predefined selection index.

[2020-12-28 14:19] Pescher-sia commented on #36165
I can't fix a bug so I will wait
Thanks

[2020-12-28 19:22] gioman commented on #26343
Closing in favor of https://github.com/qgis/QGIS/issues/29721 where there have been a lengthy discussion.

[2020-12-28 19:22] #26343 closed

[2020-12-28 19:33] agiudiceandrea opened #40778 "MetaSearch: "Could not create crs: urn:ogc:def:crs:OGC:1.3:CRS84" error when a bounding box is specified"
**Describe the bug**

When a bounding box is specified (i.e. setting Xmin, Xmax, Ymin, Ymax different from -180, 180,
-90, 90) in the "Search" tab of the MetaSearch Catalog Client plugin, with almost all the CSW default Catalog Services the search request gets no result and they throw an error similar to the following one:

`Search error: 'Raised exception while searching metadata : org.fao.geonet

[2020-12-28 19:38] gioman commented on #32394
This should have been closed.

[2020-12-28 19:43] gioman commented on #23522
See also https://github.com/qgis/QGIS/issues/40642

[2020-12-28 19:43] gioman commented on #40642
See also https://github.com/qgis/QGIS/issues/23522

[2020-12-28 19:49] nyalldawson commented on #32394
It's still an issue - the original PR was never merged (Due to issues)

[2020-12-28 19:57] gioman commented on #32394
@nyalldawson  Can't replicate on 3.16.2

[2020-12-28 20:27] roya0045 commented on #40778
So you're suggesting that a conversion step to wgs84 should always be done for the bounding box?

[2020-12-28 21:35] pjshelton commented on #21642
I would like this to also be able to have a second option that allows for considering marker line direction.  Pease see #38205 for the discussion.

[2020-12-28 21:49] pjshelton commented on #39263
On reading #21642 I realised that this could be a marker line type.  All you need to to do is expose either the distance along the line for each maker, or its maker number (where each marker id is the count along the line) and then using the function line_interpolate_point(), line_interpolate_angle(), and m() everything you need can be calculated and displayed using Marker line with Font Marker.

[2020-12-28 21:57] agiudiceandrea commented on #40778
@roya0045 the issue is due to the fact that the string "urn:ogc:def:crs:OGC:1.3:CRS84" used as crs identifier is not recognised by most of the default CSW servers.

[2020-12-28 22:26] pjshelton commented on #21642
#17943 raises the possibility that some lines would be "connected", for only part of their length.  This request would ideally also have the ability, (option), to match those parts of lines that are the "same" and render that part of those lines as only one line.

[2020-12-28 22:28] pjshelton commented on #21642
This and #17943 and #27540 are all requesting a general Merge connected objects for symbology.

[2020-12-28 22:30] nyalldawson commented on #21642
@pjshelton I'd propose a new "merged features" renderer, which acts a little like the existing inverted polygon renderer "merge polygons before rendering" option, but which works for both polygon and line layers (and doesn't invert!).

[2020-12-28 22:42] pjshelton commented on #21642
@nyalldawson is that as simple as opening a new Feature Request with the title "Merged features" renderer and a summary of what it should and should not be able to do?  (The summary would in part be taken from the three existing requests, and then, close the existing request?)

[2020-12-28 22:52] nyalldawson commented on #21642
@pjshelton actually i started work on this a few months back already :laughing: see https://github.com/nyalldawson/QGIS/commits/merge_renderer . Hoping to finish it this holiday season...

[2020-12-28 23:00] pjshelton commented on #27540
This and #17943 and #21642 are all requesting a general Merge connected objects for symbology.

[2020-12-28 23:03] #39688 closed

[2020-12-28 23:08] pjshelton commented on #21642
@nyalldawson I wait with anticipation to see your new renderer finished.

[2020-12-28 23:30] gioman commented on #26246
The error message is clearer now

`ERROR: column name "xmin" conflicts with a system column name`

as "xmin" is a reserved column name in pgsql https://www.postgresql.org/docs/12/ddl-system-columns.html

[2020-12-28 23:30] #26246 closed

[2020-12-28 23:43] gioman commented on #30932
Does not seems to be the case anymore on 3.16.2

[2020-12-28 23:43] #30932 closed

[2020-12-29 00:10] gioman commented on #30392
Re-tested on 3.16.2 and seems ok the me now.

[2020-12-29 00:10] #30392 closed

[2020-12-29 00:12] gioman commented on #26348
Support for PostGIS rasters has been rewritten for QGIS 3.16, this is likely to be not valid anymore. Reopen if necessary.

[2020-12-29 00:12] #26348 closed

[2020-12-29 00:19] gioman commented on #36610
Works fine on 3.16.2, reopen if necessary.

[2020-12-29 00:19] #36610 closed

[2020-12-29 00:30] galmala commented on #30392
Sorry I cant be of more help on this stuff all - but thank you very much
for your hard work!

Chris

On 2020-12-28 5:10 p.m., Giovanni Manghi wrote:

--

[2020-12-29 03:19] #38176 closed

[2020-12-29 03:19] #38784 closed

[2020-12-29 04:17] AdeSupriyadi opened #40782 "Ubuntu 20.04 Couldn't load SIP module. Python support will be disabled."
Everytime start QGIS always appeare popup error message:

Couldn't load SIP module.
Python support will be disabled.

Traceback (most recent call last):
  File "", line 1, in
ModuleNotFoundError: No module named 'qgis'

Python version:
3.8.5 (default, Jul 28 2020, 12:59:40)
[GCC 9.3.0]

QGIS version:
3.16.2-Hannover 'Hannover', f1660f9da5

Python path:
['/usr/share/qgis/python', '/home/ade/.local/

[2020-12-29 05:58] AdeSupriyadi commented on #33407
is it solved?

I have same error

QGIS 3.16.2
Ubuntu 20.04
python 3.8.5

[2020-12-29 08:10] gulab402 opened #40783 "QGIS crashes when removing vertex of a multipart geometry in qgis 3.16"
The crash occurs when removing vertices of a multipart geometry.
The multipart geometry was created with the Merge selected features tool.

Crash ID: cbbdf4dc1d1c76df53148e01cc03c42d5832a57c

Stack Trace
QgsGeometryValidator::checkRingIntersections :
QgsGeometryValidator::validatePolygon :
QgsGeometryValidator::run :
QThread::start :
BaseThreadInitThunk :
RtlUserThreadStart :

QGIS Info
QGIS Versi

[2020-12-29 10:45] nyalldawson commented on #40783
Upgrade to 3.16.2 - this is fixed already

[2020-12-29 10:45] #40783 closed

[2020-12-29 10:46] nyalldawson commented on #26982
I think we should at least fix the crash -- that shouldn't happen

[2020-12-29 10:47] nyalldawson commented on #26982
(I'll take a look at that when I get a chance)

[2020-12-29 10:48] nyalldawson commented on #37864
What about if we add a dedicated property for each html item to allow the dpi to be set for the item?

[2020-12-29 11:11] esohkevin commented on #40782
Just an idea that worked for me, not sure if it will for you - try deactivating all virtual python environments before starting qgis

[2020-12-29 11:15] yuvalutilis commented on #33164
Issue is still happening both on 3.16.1 & 3.16.2 .  i don't want to hide the paths because when i work in the office i would like it to be available. so issue is occurring when working from home not on the office network. it solved when operating my VPN to the office.

[2020-12-29 11:18] olivierdalang opened #40784 "CadTools : allow to use with geographic (unprojected) coordinaes"
**Describe the bug**

Currently, CadTools are disabled when the project CRS is not projected (wgs84).
I guess the rationale behind this was to avoid beginners to mistakenly enter what they think are real distances/angles. However, there are valid cases where CadTools can still be useful with unprojected coordinates.

![image](https://user-images.githubusercontent.com/1894106/103280056-b2b20080-49c

[2020-12-29 12:39] roya0045 commented on #40782
Possible  local dependencies conflict/issues.

[2020-12-29 12:40] roya0045 commented on #40784
@olivierdalang feature request instead of bug?

[2020-12-29 13:24] gioman commented on #40782
@AdeSupriyadi this is certainly a local issue. QGIS installs with no issues on Ubuntu 20.04 using the qgis.org repos (and not having other libraries installed manually so they can conflict with the official packages).

[2020-12-29 13:29] gioman commented on #21642
@nyalldawson this is great!

[2020-12-29 14:26] rduivenvoorde opened #40786 "WMS-T freezing up QGIS for long time when switching to TimeStep of seconds"
Really don't know what is going on, but if I load a WMS-T layer in QGIS, for example this rain radar service:

http://geoservices.knmi.nl/cgi-bin/RADNL_OPER_R___25PCPRR_L3.cgi

All is fine: starting the temporal controller, and setting the timestep to one hour or 1 day (it is actually a 5 minute service), all is fine: you can see (network logger) QGIS requesting the images etc etc.

![Screenshot-2

[2020-12-29 14:39] rduivenvoorde commented on #40786
Reproducable in master and 3.16 on Windows and Linux

[2020-12-29 15:04] pigreco commented on #33302
https://github.com/qgis/QGIS/pull/40364

[2020-12-29 15:18] baswein commented on #37864
That sounds like a fine solution to me.
However I think a Scale property would be clearer than a dpi property.
The dpi relationship is still confusing to me and I assume would be confusing to other users.
I would rather see a dedicated property that was the scale of the html item so that 100% would make a font that is set at 11pt by the html code be the same size as a font set to 11pt in a label r

[2020-12-29 17:38] a0wunsch opened #40788 "QGIS crashes upon starting"
## User Feedback

Don't really know what the issue is... crashes upon starting. Did a fresh install of QGIS LTR, still same issue.

## Report Details

**Crash ID**: [6919c7f2870d7e5daee3df68cd629847de045ccb](https://github.com/qgis/QGIS/search?q=6919c7f2870d7e5daee3df68cd629847de045ccb&type=Issues)

**Stack Trace**
<pre>
RaiseException :
_CxxThrowException throw.cpp:75
qBadAlloc :
QString::QString

[2020-12-29 17:40] a0wunsch commented on #40788
Nevermind, re-installation did resolve the issue.

[2020-12-29 17:40] #40788 closed

[2020-12-29 20:25] CoryAlbrecht opened #40789 "Tracing does not take into account the temporal controller"
**Describe the bug**
When drawing a feature with tracing turned on to follow edges/lines while using the temporal controller, features that are not displayed due to being out of temporal scope are still used to determine the tracing path.

![image](https://user-images.githubusercontent.com/8172909/103311652-e8afae80-49e8-11eb-801b-f8ffa917558e.png)
![image](https://user-images.githubusercontent.co

[2020-12-29 21:38] CoryAlbrecht opened #40790 "Vertex Tool does not respect temporal controller scope"
**Describe the bug**
When using the vertex editor tool in a layer where the temporal controller is enabled, the vertex editor selects features as if the temporal controller were not active. This means that if a the visible feature you want to select and work on is below another feature that is not displayed due to being out of temporal scope, you cannot do so.

https://user-images.githubuserconten

[2020-12-29 21:50] roya0045 commented on #40790
This is not about temporal filtering only, rule based and simply not rendering things are still highlighted and displayed as interactive with the topo editor. I'm pretty sure there are opened ticket to this effect already.

[2020-12-29 21:56] #40768 closed

[2020-12-29 22:12] CoryAlbrecht opened #40791 "Show map tips does not respect temporal controller filtering"
**Describe the bug**
If you have "Show Map Tips" toggled while the temporal controller is turned on for a layer, the tooltips displayed is as if the temporal controller was not being used. Instead of the visible feature having it;'s tooltip displayed, as expected, the top feature
 of the unfiltered features underneath the cursor has it's tooltip displayed instead.

https://user-images.githubuserco

[2020-12-29 22:25] #40778 closed

[2020-12-29 22:49] kgjenkins opened #40792 "setting #RRGGBBAA color via data-defined override"
**Describe the bug**
When using an expression to set a feature's color using a data-defined override, it appears to be interpretting the order of color components incorrectly when using an 8-digit hex code.  The expression help mentions a "#RRGGBBAA" format:

![image](https://user-images.githubusercontent.com/3355358/103318178-8d3aec00-49fb-11eb-98ca-4e645730a43f.png)

But it appears to be incorre

[2020-12-29 22:56] pjshelton commented on #21867
From what I gather the point stacker rendering in Geoserver is, Point Displacement and  Point Cluster are the equivalent in qgis.

![image](https://user-images.githubusercontent.com/39154868/103319110-5fe25280-4a7c-11eb-86ac-e871d7a2a3f9.png)

@gioman I think this can be closed.

[2020-12-30 00:55] weixiaojun2020 commented on #40770
Thanks a lot! I will try. -------- 原始邮件 --------发件人： Giovanni Manghi <notifications@github.com>日期： 2020年12月28日周一 02:21收件人： qgis/QGIS <QGIS@noreply.github.com>抄送： weixiaojun2020 <15653820425@163.com>, Mention <mention@noreply.github.com>主    题： Re: [qgis/QGIS] QGIS unexpectly ended (#40770)
@weixiaojun2020 try removing manually the QGIS profiles folders (if you have important things in there, make

[2020-12-30 01:02] weixiaojun2020 commented on #40770
Sorry. but I did not find this folder. could you please tell me where is it? -------- 原始邮件 --------发件人： Giovanni Manghi <notifications@github.com>日期： 2020年12月28日周一 02:21收件人： qgis/QGIS <QGIS@noreply.github.com>抄送： weixiaojun2020 <15653820425@163.com>, Mention <mention@noreply.github.com>主    题： Re: [qgis/QGIS] QGIS unexpectly ended (#40770)
@weixiaojun2020 try removing manually the QGIS profiles fo

[2020-12-30 03:40] jfbourdon opened #40796 "Loss of M values when spliting features"
**Describe the bug**
Spliting a feature containing M values results in the loss of the all the M values of this feature. If the feature contains Z values, those will remain.

**How to Reproduce**
 I initially saw the issue when using `QgsVectorLayer.splitFeatures()` then I reproduce the issue in the GUI with the Split Features button. I end up trying `QgsGeometry.splitGeometry()` as below.

[code]

[2020-12-30 03:44] nyalldawson commented on #40796
While this is a valid QGIS bug report, it's actually an upstream (GEOS) limitation. QGIS uses GEOS to handle all geometry operations like splitting, and GEOS currently has no support for m values. Until that's resolved this bug report is unfixable in QGIS itself...

[2020-12-30 04:05] spillner commented on #40771
Can confirm these projections work after building QGIS against Proj 7.2, thanks!

[2020-12-30 04:15] jfbourdon commented on #40796
So I suppose the only solution for now is to "manually" do the splitting by finding where the split occur, copying the current geometry, removing all vertices before the split point on the original geometry and then removing all vertices after the split point on the copied geometry.

Could this be a patch in QGIS until M values are supported in GEOS? I know that this kind of patch for special case

[2020-12-30 04:17] spillner commented on #40766
Thanks, that technique plus the Tilted Perspective projections give me what I need for now.  I recommend leaving the bug open until there's at least a warning message for too much data in view, instead of the crash, and ideally until there's a filtering algorithm in place to sample the data at reduced resolution when wide areas are selected.  I should have some time to attack that in a couple of w

[2020-12-30 06:01] lljy1027 opened #40797 "my qgis can't open any system in vector(o), what is the problem? My qgis version is 31.6"
IMPORTANT:

Do NOT use GitHub to post any questions or support requests!
They will be closed immediately and ignored.
Questions should go to the qgis-user mailing list at https://lists.osgeo.org/mailman/listinfo/qgis-user
or other support forums such as https://gis.stackexchange.com/.

GitHub issues are for bug reports and suggestions for new features.

[2020-12-30 06:14] Gustry commented on #40797
They will be closed immediately and ignored.

As written above.

[2020-12-30 06:14] #40797 closed

[2020-12-30 06:15] m-kuhn commented on #33302
this shortens the list to the following ones:

- array_avg
- array_count
- array_lambda
- array_minority
- array_prioritize
- array_replace

[2020-12-30 06:18] m-kuhn commented on #31967
Is this still an issue with the latest QGIS release?

[2020-12-30 06:19] lljy1027 commented on #40797
I'm so sorry about that.
I'm a newbie in github and qgis, can you teach me where to post the problem?

Étienne Trimaille <notifications@github.com> 于 2020年12月30日周三 下午2:14写道：

[2020-12-30 06:22] Gustry commented on #40797
Everything is written in your first post.
gis.stackexchange.com is a good place.

[2020-12-30 06:32] lljy1027 commented on #40797
Ok, I'll check it out.
Thank you

Étienne Trimaille <notifications@github.com> 于 2020年12月30日周三 下午2:22写道：

[2020-12-30 06:37] nyalldawson commented on #33302
Some of these already exist, just with different names:
- array_lambda: array_foreach
- array_count: array_length
- array_avg: array_mean

[2020-12-30 06:47] m-kuhn commented on #33302
Well then, we are left with

-  array_minority
-  array_prioritize
-  array_replace

[2020-12-30 07:14] meyerlor commented on #37656
as it is still not working, do you have a workaround? how do you fill in an autoincremented ID-like number to your new items? i'm glad for any hints!

[2020-12-30 09:54] gioman commented on #31967
I think we can safely assume this is duplicate of https://github.com/qgis/QGIS/issues/31310. Please reopen if necessary.

[2020-12-30 09:54] #31967 closed

[2020-12-30 09:57] gioman commented on #40770
@weixiaojun2020 it is in your Windows user folder:

c:\users\**yourusername**\AppData\Roaming\QGIS\QGIS3\profiles\

[2020-12-30 09:58] gioman commented on #40609
Closing for lack of feedback.

[2020-12-30 09:58] #40609 closed

[2020-12-30 09:59] gioman commented on #40606
Closing for lack of feedback.

[2020-12-30 09:59] #40606 closed

[2020-12-30 10:06] gioman commented on #40766
it is not the extent of the data that makes QGIS crash, is the option "Show bounding boxes" that does, regardless of the data. The fact that the 3D view shows nothing if the data has a very large extent could be another issue, or could by design @PeterPetrik any idea?

[2020-12-30 10:26] uclaros commented on #40796
A warning sounds very reasonable!

[2020-12-30 10:38] #21867 closed

[2020-12-30 11:10] gioman commented on #37656
@meyerlor on second thoughts... this has never worked (as one would expect: the point is that "$id" > "Returns the feature id of the current row." and the row you are creating do not exist before saving edits). The expression you mus use is

`maximum("yourfieldname") + 1`

[2020-12-30 11:15] gioman commented on #29414
Unable to replicate on 3.16.2 on Ubuntu 20.04.

[2020-12-30 12:20] gioman commented on #30623
@briangmaddox can you please re-attach/link the dump? thanks.

[2020-12-30 12:20] gioman commented on #37121
@ghellerwagner ping

[2020-12-30 12:21] jakimowb commented on #36706
@nyalldawson do you think this means that it is generally impossible to specify a new `QgsProcessingParameterDefinition `in python?
I have noticed that the `NotImplementedError` error dissapears when keeping a python reference to a `QgsProcessingParameterDefinition`. However, closing the parameter definition widget in the graphical modeler will then raise a `wrapped C/C++ object ... has been delet

[2020-12-30 12:56] jdlom commented on #40769
It does not seem implemented yet
https://github.com/qgis/QGIS/blob/48d587e9c23b0e4649eccb9b856bf50e52d0a5f4/src/core/processing/qgsprocessingutils.cpp#L936

[2020-12-30 13:04] uclaros commented on #40769
Just download the files locally first

[2020-12-30 13:52] roya0045 commented on #40796
@jfbourdon If you patch one operation using geos, you'll end up needing to patch everything using geos. And at that point it would be better to do it at the source. You could make a feature request in geos for m value support. Though I'm not sure how much code rework is needed to support operations with one more attribute.

[2020-12-30 13:53] roya0045 commented on #40792
related to #35308

[2020-12-30 13:54] neteler commented on #18596
@gioman Testing it with GRASS GIS 7.8 (Fedora 33, for library versions see below) it looks as expected to me:

[code]

[2020-12-30 14:05] gioman commented on #40792
So it is a "won't fix" here too I guess.

[2020-12-30 14:10] gioman commented on #18596
@neteler I have no doubts is correct. As you can see in my comments above replicating the whole import/process/export in native GRASS results in a layer that has no CRS issues when opened in QGIS. The same process in GRASS/Processing (using the same modules used in native GRASS, with basically the same parameters) creates an output that has a CRS that is correct but has a proj string that is sligh

[2020-12-30 14:16] roya0045 commented on #40792
@gioman here the bug report state that the widget help/doc is wrong, the related ticket just provides context.

[2020-12-30 14:28] neteler commented on #18596
Well, since PROJ is undergoing dramatic changes, I believe that valid comparisons can only be done with identical PROJ versions. In your post I don't see which PROJ 6.y.z version you use (that may matter).

[2020-12-30 14:58] gioman commented on #18596
@neteler

QGIS version | 3.16.2-Hannover | QGIS code revision | f1660f9da5
-- | -- | -- | --
Compiled against Qt | 5.12.8 | Running against Qt | 5.12.8
Compiled against GDAL/OGR | 3.0.4 | Running against GDAL/OGR | 3.0.4
Compiled against GEOS | 3.8.0-CAPI-1.13.1 | Running against GEOS | 3.8.0-CAPI-1.13.1
Compiled against SQLite | 3.31.1 | Running against SQLite | 3.31.1
PostgreSQL Client Version |

[2020-12-30 15:30] neteler commented on #18596
Now we need to know the differences between proj=6.3.1 (yours) and proj=6.3.2 (mine)...

- PROJ 6.3.2 release notes: https://github.com/OSGeo/PROJ/releases/tag/6.3.2
- Code differences: https://github.com/OSGeo/PROJ/compare/6.3.1...6.3.2

I do not spot anything relevant there (not an expert, though).

BUT: you also use an oldish GRASS GIS Version (7.8.2 from 2019), missing some PROJ 6+ related fix

[2020-12-30 15:49] gioman commented on #18596
I updated my GRASS:
[code]

The result is the same. From within GRASS/Processing the outputs CRS reads as

`+proj=tmerc +lat_0=39.6682583333333 +lon_0=-8.13310833333333 +k=1 +x_0=0 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs +type=crs`

out of native GRASS the same output has a CRS that reads as

`+proj=tmerc +lat_0=39.6682583333333 +lon_0=-8.13310833333333 +k=1 +x_0=0 +y_0=0 +ell

[2020-12-30 16:33] ChrisWGeorge opened #40801 "gdal polygonize fails with "No module named '_gdal'. message"
**Describe the bug**

Running Raster -> Conversion -> Polygonize fails.  The log contains the exception  ModuleNotFoundError with message "No module named 'osgeo._gdal'"
Handling this exception produces another with message "No module named '_gdal'.

**How to Reproduce**

Load a raster.
Use menu Raster -> Conversion -> Polygonize
Choose raster as input layer and click Run

**QGIS and OS versions**

[2020-12-30 16:45] roya0045 commented on #40801
duplicate of #40764 ?

[2020-12-30 17:02] ChrisWGeorge commented on #40801
#40764 is a different OS as well as a different version of QGIS.  It reports a message that is only a secondary consequence of my first message.  So it may be related, but I don't know.

[2020-12-30 17:04] roya0045 commented on #40801
Root cause may still be the same regardless of platform and version. If it's a dependency issue it's the same thing.

[2020-12-30 17:33] gioman commented on #40801
@ChrisWGeorge I cannot replicate on my testing machines (clean Windows 10 machines), both with the osgeo4w installers or the standalone ones. The OS in in English, with the latest 3.10 and 3.16.

Can you test on a different machine?

[2020-12-30 17:44] neteler commented on #18596
I don't really know what's right, maybe @rouault could enlighten us?

[2020-12-30 17:44] roya0045 commented on #40801
I don't think the c++ port was in 3.10, from the sound of it its the python version and its simply a dependency conflict with your other python environments. @gioman you won't be able to replicate it as its a local issue.

[2020-12-30 17:47] gioman commented on #40801
If is a local issue we will close this @ChrisWGeorge for this is necessary to test on a different machine.

[2020-12-30 17:48] ChrisWGeorge commented on #40801
Tried on another machine and the error disappeared.  Please close it and accept my apologies.

[2020-12-30 17:50] gioman commented on #40801
@ChrisWGeorge
none needed. There are many factors in play... sometimes is QGIS fault, other is not.

[2020-12-30 17:50] #40801 closed

[2020-12-30 19:05] kgjenkins commented on #40792
Thanks, I hadn't seen that other issue #35308.  I guess it makes sense not to break existing projects.

Can we at least update the help text, though?  I'm not entirely sure, but I think this is where it is set:
https://github.com/qgis/QGIS/blob/f32725658f205af4ac9718d3a3b74f13eaa98d3e/src/core/qgsproperty.cpp#L91

(It looks like the help for the color picker is specified [elsewhere](https://github

[2020-12-30 20:47] roya0045 commented on #40792
@kgjenkins You can make a PR with the text correction. I don't think it should be problematic.

[2020-12-30 21:17] pjshelton commented on #14953
This is a special case of #27540.
This and #17943 and #27540 and #21642 are all requesting a general Merge connected objects for symbology.

[2020-12-30 21:22] roya0045 commented on #40717
Is that for extent parameters or something else that I can't recall?

[2020-12-30 21:28] pjshelton commented on #21642
#14953  is a special case of #27540.

[2020-12-30 21:30] nyalldawson commented on #40717
Really all it did was set the parameter value as "none" - ie the same as if the parameter was made optional and left unspecified.

@gioman I think this should be closed, and replaced with specific tickets for algorithms were the extent is non optional yet should be optional...

[2020-12-30 22:17] arcataroger opened #40805 "geoJSON feature IDs: Saved as a property instead of ID"
**Describe the bug**
When exporting vector layers to geoJSON, feature IDs get saved in the `properties` of the feature instead of a top-level `id`, [as described in the geoJSON spec](https://tools.ietf.org/html/rfc7946#section-3.2).

Expected output:
[code]

Actual output:
[code]

**How to Reproduce**

1. Create new empty project
2. Create new shapefile layer of type Point, with the default `id` i

[2020-12-31 00:08] weixiaojun2020 commented on #40770
ok. thanks a lot!发自我的华为手机-------- 原始邮件 --------发件人： Giovanni Manghi <notifications@github.com>日期： 2020年12月30日周三 03:57收件人： qgis/QGIS <QGIS@noreply.github.com>抄送： weixiaojun2020 <15653820425@163.com>, Mention <mention@noreply.github.com>主    题： Re: [qgis/QGIS] QGIS unexpectly ended (#40770)

Sorry. but I did not find this folder. could you please tell me where is it?

@weixiaojun2020 it is in your W

[2020-12-31 03:42] DanielFlaum opened #40808 "Crash when opening file browser to add second layer or choose an image for georeferencing"
**Describe the bug**
QGIS crashes, seemingly when it tries to open a standard system file browser. The crash happens so far in two situations:

* When adding a second vector data source through the Data Source Manager dialog after a first vector data source has already been added.
* When opening a raster in the Georeferencer dialog.

Both crashes behave very similarly. The program hangs for a few

[2020-12-31 09:03] tjukanovt commented on #40442
+1 for this.

I would also like an option where by default only layers which are visible on canvas would be added to the print composer legend. I've had many cases where I have zillion layers in my project but only a few visible and then when I go to print layout and click add legend QGIS freezes. So I would prefer a workflow where the legend would be minimal by default and more layers could be ad

[2020-12-31 11:21] roya0045 commented on #40808
Ah the good old QFileDialog crashes, though we got report on windows I'm not sure if they are still the same as here, probably.

Did you try other qgis version? I had a potential fix somewhere, to alleviate this, that could be tested.

[2020-12-31 14:18] rouault commented on #18596
I'm afraid I'm a bit lost in this thread. What is the question exactly ? " +type=crs" is added by PROJ >= 6 when exporting objects that are CRS. This is to distinguish from transformation pipelines.

[2020-12-31 15:58] roya0045 commented on #40767
You could convert the numeric field to a date + the field value as offset.

[2020-12-31 16:27] grzmak commented on #40625
Closing browser panel helps me. I had disconnected remote disk on windows and it is a problem, because Qgis try to connect it all time.

[2020-12-31 16:29] BeFrankly commented on #33407
Dear AdeSuproyadi,
there is nothing that could be solved. My "solution" was, to install a brand new system, because I was not able to repair mine. Might be that a person with more expertise could fix it, i did not.
Did you get the problems, because you build python from source on your system and did a "sudo make install" instead of "sudo make altinstall"?

[2020-12-31 16:29] #40625 closed

[2020-12-31 20:20] uclaros commented on #40808
You can directly drag-drop zip files on your bug report!

I cannot replicate the crashes on master (a92c8825) on debian testing (qt 5.15.2).
They seem related to your setup and `libqgnomeplatform.so`

[2020-12-31 23:16] pjshelton commented on #29027
![image](https://user-images.githubusercontent.com/39154868/103430545-ff384e80-4c10-11eb-966c-3d1abbcca4db.png)
For the linear version of the dot density fill, this can be created using data defined interval,  the formula for the interval is rand(min, max),

Or is this about a single marker at a random location on the line?

[2021-01-01 06:45] jmonticolo commented on #40767
@roya0045 : yes, you are totally right, I have thought about this possibility but this feature request is for make things more clear and less tricky for the user.

[2021-01-01 14:17] PeterPetrik commented on #40472
I can see the problem, 3 new QGIS instances and if I close one others are spawning.

I see errors like

[code]

in the console.

[2021-01-01 14:25] PeterPetrik commented on #40472
I am sorry, to find if it is QGIS core/packaging or your plugin/python multiprocessing issue, it would take me a significant time (day(s)) due to quite complex plugin and all the dependancies all the way

to solve the issue, I would need a simplest possible pure-python code that I can copy-paste to QGIS python console that triggers the problem.

if you can create such python-code that shows the pr

[2021-01-01 15:33] neteler commented on #18596
Another test, again with proj=6.3.2, GRASS GIS 7.8.6dev, build_date=2020-12-27:

[code]

The expected `+type=crs` is there. I have no idea where it get's lost in QGIS/Processing...

[2021-01-01 16:00] erpas opened #40814 "Exterior type input for TIN Mesh Creation processing alg"
Currently TIN Mesh Creation has two types of vector input data:
* vertices
* breaklines

It would be beneficial to have a possibility to define an exterior polygon(s) for the new mesh, so it would be only created in required area(s).

[2021-01-01 16:47] gioman commented on #18596
@rouault I'll make here a resume (as noted above the issue changed slightly since this was filed).

In QGIS GRASS/Processing when we run some tool the output gets a CRS that is correct but that does not match 100% the one of the input layers, so QGIS shows "unknown" instead of showing exactly the CRS of the input (as far as I have understand this happens only when the input CRS has some towgs84 pa

[2021-01-01 16:49] gioman commented on #18596
@neteler it the other way... the original data CRS has not `+type=crs` while the output from GRASS/Processing has it. The output from native GRASS, following the same commands used in GRASS/Processing has not `+type=crs`.

[2021-01-01 18:29] rouault commented on #18596
I don't believe the presence/absence of +type=crs is the issue.
Looking at PROJ strings is not the best way to figure out the CRS as they are a lossy representation of it. Better look at the WKT representation as output by gdalinfo.
I would suspect that the issue might be that "+ellps=GRS80 +towgs84=0,0,0,0,0,0,0" must be used somewhere to instanciate a CRS, and this losses the fact the the datum

[2021-01-01 18:53] semiautomaticgit commented on #40472
Thank you very much @PeterPetrik .

I've tried to create a simple script that at least shows you how the multiprocess is triggered in the plugin.

[code]

Unfortunately if I run the script in a QGIS console it trows the following error:

[code]

I don't know if there is a proper way to call multiprocessing through the QGIS console, but I think it is different from the plugin version where it works

[2021-01-01 20:20] #40763 closed

[2021-01-01 22:05] pjshelton commented on #25403
@Xeenych
![image](https://user-images.githubusercontent.com/39154868/103446829-abd90580-4ccf-11eb-82d0-848484d66f7e.png)

As of at least 3.16 and earlier, this has been achievable.   To produce most of the effects you will have to use LinestringM.

There is geometry generator option for symbology and you can use the functions  tapered_buffer( $geometry, start_width, end_width) or  buffer_by_m( $ge

[2021-01-01 23:18] CoryAlbrecht opened #40818 "Selection tool is not time aware"
**Describe the bug**
When selecting a feature in a layer for which the new temporal controller (NTC) is activated, the selection tool selects all possible features in the chosen area including features which were filtered out by the NTC and are not visible on the map. It should only be selecting the visible feature.

Initial layer with temporal objects:
![image](https://user-images.githubuserconte

[2021-01-01 23:22] pjshelton commented on #39263
![image](https://user-images.githubusercontent.com/39154868/103447747-180d3680-4cdb-11eb-9505-f6ea73f5e08b.png)
What is missing, and would be a solution for this request, is a new 'with interval' measure that knows about the m values on the line object.

[2021-01-02 00:03] CoryAlbrecht commented on #40818
If you're pasting back to the layer that is new temporal controller (NTC) enabled, you won't see all of them. You'll only see that single object you expected to singularly selected and none of the others. They are still there, though, and will get saved as duplicate objects when you save that layer.

So because of this bug, I now have who knows how many unnecessarily reduplicated objects that were

[2021-01-02 00:54] roya0045 commented on #40818
Tool interaction with unrendered layer are not  always related to the time controller. the behavior may be specific to each tool. The time control aspect also behave distinctly than symbology, which may also change things, mostly for selection. From what I recall the time controller is mostly aimed as a display tool and not as much for data manipulation/management.

[2021-01-02 01:27] mfstanton opened #40820 "Crashes when going into 3D mode and configuring QGIS"
Crash ID: ee9144da3509e262e6a8e1a8e244fd24af6225c6

Stack Trace

QgsTilingScheme::tileToExtent :
QgsTerrainDownloader::dataSource :
QgsDemTerrainGenerator::writeXml :
QgsDemTerrainGenerator::createChunkLoader :
QgsWindow3DEngine::window :
QgsWindow3DEngine::window :
Qgs3DMapScene::updateScene :
Qgs3DMapScene::onCameraChanged :
QMetaObject::activate :
QgsCameraController::setLookingAtPoint :
QgsMes

[2021-01-02 01:29] mfstanton commented on #40820
I have been struggling with this for a week. The New Map 3D projection software does not work and i can't even get the image to rotate properly on the screen. I am running a PNY Nvidia P400 card but even with the card disabled I get the error but cannot find log info ANYWHERE on my system

[2021-01-02 02:04] roya0045 commented on #40820
first update to the latest LTR to see if that has been solved yet.

[2021-01-02 13:22] florisvdh opened #40822 "Cannot install qgis-plugin-grass (using GRASS 7.8.5 from ubuntugis-unstable PPA)"
On the ubuntugis-unstable PPA, `grass` recently upgraded to 7.8.5. `qgis-plugin-grass` (current version: `1:3.16.2+28bionic-ubuntugis`) refers to `grass784`, which unfortunately causes a conflict. The same is seen in Focal (upgrading `grass` would force the removal of `qgis-plugin-grass`).

<details><summary><strong>Output from apt policy and apt install</strong></summary>

[code]
</details>

[2021-01-02 13:51] rduivenvoorde commented on #40818
@CoryAlbrecht I'll sent an mail to the list too. But can you maybe add a small testing dataset in this case? So just easier to check for others?
In general I think the 'evolution' of QGIS/software features behaves like this: somebody has a use case or feature, a developer creates a fix for it as fast as possible. Other trys to use that fix and see that it does not fit their usecase, o back to repo

[2021-01-02 14:14] gioman commented on #40822
Also true for Focal.

[2021-01-02 14:17] gioman commented on #40820
@mfstanton

1) update to the latest 3.10 or 3.16

2) try with a new QGIS profile

3) check if is a duplicate of other reports, i.e. https://github.com/qgis/QGIS/issues/40766

4) add **exact** steps to replicate, and if necessary sample data

[2021-01-02 14:18] gioman commented on #25403
@pjshelton thanks for checking all this (old) feature requests!

[2021-01-02 14:18] #25403 closed

[2021-01-02 14:26] gioman commented on #40805
@arcataroger how? using the "export as..." dialog? using a tool (i.e "concert format") in Processing toolbox? have you tried the conversoin with ogr2ogr? if yes, how about the result? if no, can you test it?

[2021-01-02 14:37] gioman commented on #18596
@rouault thanks for the feedback.

result of gdalinfo on output from the GRASS

[code]

result of gdalinfo on output from the Processing/GRASS:

[code]

[2021-01-02 14:46] rouault commented on #18596
slope_qgis_grass.tif has lost the information on the ETRS89 datum. I suspect GRASS must store the PROJ.4 string (which doesn't contain the ETRS89 datum information) and use it to set the CRS information on the final TIFF.

[2021-01-02 15:29] klainkaliber commented on #39263
Yes, you can define a lateral offset - see second screenshot of "Layer Properties".

[2021-01-02 16:43] gioman commented on #18596
@rouault thanks for the pointer

@nyalldawson so the problem seems to be here

https://github.com/qgis/QGIS/blob/master/python/plugins/processing/algs/grass7/Grass7Algorithm.py#L1036
https://github.com/qgis/QGIS/blob/master/python/plugins/processing/algs/grass7/Grass7Algorithm.py#L1048

where  we set the projection for the temp GRASS location/mapset using a PROJ string. We should use a WKT represe

[2021-01-02 17:32] gioman commented on #40717
@nyalldawson not sure if I explained well the request. In 3.10 the "use min covering extent from input layers" option appears in any Processing module that has the "extent" parameter and multiple rasters as input, like the QGIS raster calculator. But this option actually does not work (which I guess configures as a bug)... if the option was removed as bugged then this ticket should be left open, a

[2021-01-02 17:34] semiautomaticgit commented on #40472
I've done a little research (unfortunately I don't have a Mac for testing).
Possibly the issue could be related to the fact that sys.executable returns the path to QGIS and multiprocessing uses this path instead of Python path ([see this](https://gis.stackexchange.com/questions/314942/find-out-which-python-executable-qgis-is-using-on-mac-os)). This could explain the new QGIS instances.

I've updat

[2021-01-02 17:44] jzhou0222 commented on #40472
@semiautomaticgit Howdy Luca! I just tested quick, still, some fails appear. I'm running the latest 3.16.2. The good thing is QGIS won't restart with multiple windows. I've attached a screenshot of the error below.
<img width="700" alt="Screen Shot 2021-01-02 at 9 41 03 AM" src="https://user-images.githubusercontent.com/62951392/103463136-fd3cc100-4cde-11eb-8990-55be4401964e.png">

[2021-01-02 17:45] gioman commented on #35642
@rduivenvoorde Ĩ modified the title: the filter option works on title, name and abstract only for WMS connections. For WFS and Arc* ones works only for titles (didn't checked WCS).

[2021-01-02 17:49] gioman commented on #35650
What is the status of this report?

[2021-01-02 18:05] semiautomaticgit commented on #40472
Thank you @jzhou0222 , I think we are on the right path.
If so, I think it is not a QGIS issue but something I can solve on the plugin side.

Could you please open the QGIS Python console and run the following script returning the output?

[code]

It should show information about Python path.

[2021-01-02 18:11] jzhou0222 commented on #40472
@semiautomaticgit That's what I got ⬇️
<img width="1039" alt="Screen Shot 2021-01-02 at 10 10 49 AM" src="https://user-images.githubusercontent.com/62951392/103463661-da141080-4ce2-11eb-96b1-c4f0ff1c65f2.png">

[2021-01-02 18:15] gioman commented on #35596
@BC-Consulting can you attach a sample project? I cannot replicate on 3.16.2

[2021-01-02 18:17] semiautomaticgit commented on #40472
Thank you very much!
It seems that the path to Python is correctly found.
About the fail I would need the SCP log file.
I think we can continue this here https://github.com/semiautomaticgit/SemiAutomaticClassificationPlugin/issues/144
In the meantime many thanks to @PeterPetrik

[2021-01-02 18:35] gioman commented on #34602
@jakimowb has a patch/pull request been submitted?

[2021-01-02 18:41] CoryAlbrecht commented on #40818
I get that QGIS is open source and that volunteers work on stuff that interests them without a team working on a priority list, but I don't think that should also be the excuse for adding features that go and break a bunch of other stuff inside it. When new features are added, there needs to be some level of testing and validation to make sure that doesn't happen.

I wouldn't be quite so frustrate

[2021-01-02 19:05] gioman commented on #37861
@mikhailov-sergey have you ever submitted a patch/pull request?

[2021-01-02 19:23] #38173 closed

[2021-01-02 20:21] nyalldawson commented on #40717
@gioman the explanatory text  in 3.10 also shows my findings -- the setting is identical to having the parameter value as "not set". So the issue is in one or more particular algorithms (and probably has always been the case for those algorithms). If you can identify them then I can check...

[2021-01-03 00:04] TurboGraphxBeige opened #40824 "Layer name is not updated in the legend (layout) after changing the layer name in the layer tree (main window)"
After changing the name of a layer in the layer tree in the main window, the legend item label for this layer still displays the old name. After changing the layer name in the layer tree then updating the map preview in the layout, the legend properties are updated showing the new name of the layer (unless manually changing "Label" before). However, this change is not drawn on the legend item in t

[2021-01-03 06:28] symbioquine opened #40826 "WFS QgsVectorLayer doesn't honor restrictToRequestBBOX setting"
**Describe the bug**

The documentation at https://qgis.org/pyqgis/master/core/QgsVectorLayer.html#qgis.core.QgsVectorLayer.selectedFeatures seems to indicate pretty clearly that passing `restrictToRequestBBOX=1` in the parameters should enable BBOX filtering for the layer.

![image](https://user-images.githubusercontent.com/30754460/103472299-e3cc6100-4d40-11eb-8af4-8f55ed7c73ba.png)

Unfortunate

[2021-01-03 10:35] pjshelton commented on #39034
It also does this for lines.

![image](https://user-images.githubusercontent.com/39154868/103476326-4c2e4780-4e00-11eb-9b7e-ea2da553e005.png)

I thing this should be a feature request.

in the image above, I have four symbology for the lines layer. and the first and third symbology have offsets.  and are rendered with much more space than the other two symbologys.  The requester would like the lay

[2021-01-03 10:37] roya0045 commented on #40826
If you provide a PR for an existing it would be appreciated! We just need to make sure that other server users can confirm the sam thing or if this issue is still present in the latest version.

[2021-01-03 10:42] roya0045 commented on #39034
@pjshelton I'm pretty sure this is now addressed thanks to Mathieu, though I think its only in master and eventually 3.18. see #39777

[2021-01-03 14:10] Sud04 opened #40828 "While doing Strahler order task: Issue: The following layers were not correctly generated.<ul><li>C:/Sudhanshu Drive/Narmada/DEM/st.sdat</li></ul>You can check the 'Log Messages Panel' in QGIS main window to find more information about the execution of the algorithm."
IMPORTANT:

Do NOT use GitHub to post any questions or support requests!
They will be closed immediately and ignored.
Questions should go to the qgis-user mailing list at https://lists.osgeo.org/mailman/listinfo/qgis-user
or other support forums such as https://gis.stackexchange.com/.

GitHub issues are for bug reports and suggestions for new features.

[2021-01-03 14:17] Sud04 commented on #29346
Same error : The following layers were not correctly generated.<ul><li>C:/Sudhanshu Drive/Narmada/DEM/st.sdat</li></ul>You can check the 'Log Messages Panel' in QGIS main window to find more information about the execution of the algorithm.
Please provide solution. QGIS 3.1 version

[2021-01-03 15:35] symbioquine commented on #40826
Thanks for the quick reply @roya0045!

I may be misunderstanding but if you're referring to QGIS Server, I think that may not be relevant. The issue here affects QGIS acting as a WFS client.

Here's a one-liner to demonstrate the problem in a docker container;

**qgis/qgis:release-3_16;**

[code]

**qgis/qgis:latest (Digest: sha256:a54dcc064dfa8a9d58fe14e4c53d63eb9299a542740f0b337d2df2582816ebf7);

[2021-01-03 15:47] roya0045 commented on #40826
@symbioquine sorry I badly expressed myself regarding the server.

[2021-01-03 16:30] DanielFlaum commented on #40808
Hm. I'll try reproducing on some other machines I have handy as soon as I get a chance.

I don't know why this didn't occur to me. Good lord.

[2021-01-03 17:44] #39756 closed

[2021-01-03 17:47] #40828 closed

[2021-01-03 18:10] gioman commented on #26622
Not replicable anymore, reopen if necessary.

[2021-01-03 18:10] #26622 closed

[2021-01-03 18:11] gioman commented on #26588
Closing for lack of feedback.

[2021-01-03 18:11] #26588 closed

[2021-01-03 18:16] gioman commented on #28328
Does not seems a general issue to me, not anymore at least.

[2021-01-03 18:27] gioman commented on #40717
@nyalldawson for now only found it in QGIS raster calc and GRASS r.mapcalc.simple

[2021-01-03 18:38] gioman commented on #27061
seems fine to me on 3.16.2, reopen if necessary.

[2021-01-03 18:38] #27061 closed

[2021-01-03 18:39] mfstanton commented on #40820
Thank you, I did upgrade to 3.16. I can reproduce it with 8 DSM and Ortho Tiffs.  Part of the problem is that it has not been consistent in where it crashes but it has been in the 3D configuration scripts. I will get a precise set of data for you.

From: Giovanni Manghi <notifications@github.com>
Sent: Saturday, January 2, 2021 8:18 AM
To: qgis/QGIS <QGIS@noreply.github.com>
Cc: mfstanton <mfstant

[2021-01-03 18:50] gioman commented on #27232
Does not seems to be the case anymore, reopen if necessary.

[2021-01-03 18:50] #27232 closed

[2021-01-03 18:55] pathmapper commented on #39756
@gioman is this fixed?

[2021-01-03 20:18] nyalldawson commented on #40717
@gioman qgis raster calc looks fine to me -- if the extent is not set then it is calculated using all input layers. Are you able to provide a sample where this fails?

[2021-01-03 21:03] jedfrechette commented on #40530
Plus one for rotating around the position of the cursor when the tumble operation was initiated. Currently, rotation seems to occur around the center of the viewport. That means that if you want to rotate around a specific point you first need to move that point to the center of the viewport, which is inevitably imprecise, then initiate the tumble. Rotating around the cursor position would decreas

[2021-01-03 22:02] pjshelton commented on #21652
Using the supplied data, I have the following comments to make.

NAME_LEN is count data.  it counts the number of characters in the name.  This, by definition, is integer.

The histogram shows two things, it is colour coded by the classes, and the count of data points per histogram bin.
Concentrating on the histogram bins, they are created to as to fit the requested number of bins between the extr

[2021-01-04 02:02] #40459 closed

[2021-01-04 02:22] nyalldawson commented on #40786
There's two things happening here:

1. The freeze: caused by iterating over seconds from 2012-2020, within QgsTemporalNavigationObject::findBestFrameNumberForFrameStart -- there's a LOT of calculations happening here! We're probably best off optimising that function by doing some kind of initial guess at the frame based on the overall time range, and then refining from there (instead of starting a

[2021-01-04 02:50] #40701 closed

[2021-01-04 03:52] #21642 closed

[2021-01-04 03:52] #27540 closed

[2021-01-04 04:03] vcloarec opened #40836 "infinite loop with mssql provider"
an infinite loop appears here : https://github.com/qgis/QGIS/blob/72065310f53ae2b02de4efe6a0430a63d6b9d599/src/core/qgsabstractdatabaseproviderconnection.cpp#L449

To reproduce:
expand a MSSQL layer in the browser
or
run the test : https://github.com/qgis/QGIS/blob/master/tests/src/python/test_qgsproviderconnection_mssql.py

Version : master

The issue seems to appear with this PR (@elpaso ): http

[2021-01-04 04:38] #40791 closed

[2021-01-04 04:38] #40818 closed

[2021-01-04 05:57] #40792 closed

[2021-01-04 06:08] #32653 closed

[2021-01-04 07:30] simogeo commented on #32653
:+1:  thanks you !

[2021-01-04 08:45] elpaso commented on #40836
@vcloarec the test passes for me.

Honestly I cannot see an error in that piece of code (that has been completely rewritten in my queued PR  https://github.com/qgis/QGIS/pull/40750 btw): the loop will eventually exit because the iterator will return an empty row.

[2021-01-04 08:59] rduivenvoorde commented on #40786
Thanks @nyalldawson, for diving into this.

For point 1. calculation optimalisation would be nice, but in the case of this service, there IS data from 2012 till 2020 per 5 minutes, so the data extent IS huge. So only thing I can come up with is: IF service has a PM5 (=5Minutes) TimeExtent in it's capabilities, then (maybe?) disable the seconds/milliseconds part in the dropdown? (not preferable tho

[2021-01-04 09:06] gioman commented on #39756
@pathmapper I don't think there is anything to fix, you can't create connections with "OpenStreeMap" as identifier. Eventually this can be documented (if not already).

[2021-01-04 09:37] jakimowb commented on #34602
@gioman so far no patch/PR has been submitted. I can try to create a patch. (Unfortunatelly, I am just a python programmer who, so it might take some time to get it run in C++)

[2021-01-04 09:48] gioman commented on #40645
Closing for lack of feedback.

[2021-01-04 09:48] #40645 closed

[2021-01-04 09:48] gioman commented on #40559
Closing for lack of feedback.

[2021-01-04 09:48] #40559 closed

[2021-01-04 09:48] gioman commented on #40539
Closing for lack of feedback.

[2021-01-04 09:48] #40539 closed

[2021-01-04 09:49] gioman commented on #40579
Closing for lack of feedback.

[2021-01-04 09:49] #40579 closed

[2021-01-04 09:49] gioman commented on #40527
Closing for lack of feedback.

[2021-01-04 09:49] #40527 closed

[2021-01-04 09:50] gioman commented on #40499
Closing for lack of further feedback.

[2021-01-04 09:50] #40499 closed

[2021-01-04 09:50] gioman commented on #40448
Closing for lack of feedback.

[2021-01-04 09:50] #40448 closed

[2021-01-04 09:51] gioman commented on #40430
Closing for lack of feedback.

[2021-01-04 09:51] #40430 closed

[2021-01-04 09:53] gioman commented on #40123
Closing for lack of further feedback.

[2021-01-04 09:53] #40123 closed

[2021-01-04 10:10] Gustry commented on #40123
@gioman You don't want to let the bot do his job ? ;-)

[2021-01-04 10:16] gioman commented on #40123
@Gustry sure :) but anyway is usually clear if a ticket will get the necessary/requested feedback, so while I'm doing some other bug queue maintenance tasks I can close those ones.

[2021-01-04 10:23] kannes commented on #21652
Ha, that makes a lot of sense. Thank you so much!

Sadly I do not remember what dataset I used for the other example. Your explanation matches what we see for `name_len` but the `BEVENT` example still seems worth investigating. Might be a similarly logical explanation but the gaps in a normal-ish distributon like that surprised me.

[2021-01-04 10:27] gioman commented on #21652
@kannes closing?

[2021-01-04 10:49] kannes commented on #21652
Let me generate some synthetic data and test first.

[2021-01-04 11:24] cxcandid commented on #35650
From my perspective, I can live with a simple workaround using a custom Python plugin:

[code]
But for the majority of users it would be nice to have an inbuild mechanism for storing relative GPKG project layers, that won't get lost after a GPKG project file rename.

[2021-01-04 11:27] kannes commented on #21652
Yes, any gaps I see even with float data can be explained logically.
- I created 1000 float values between 0 and 1000 in a normal distribution
- I looked at the data in the histogram and increased the number of classes until there was a gap
![image](https://user-images.githubusercontent.com/7661092/103530473-c9e96600-4e87-11eb-9a11-2845fd82957d.png)
- I looked at the breaks around that gap and at

[2021-01-04 11:50] #21652 closed

[2021-01-04 12:11] rduivenvoorde commented on #40826
@symbioquine nice analysis! Thanks for diving into this!

But, myself I cannot reproduce the issue in QGIS itself:

- if you create a WFS server in QGIS, with https://demo.mapserver.org/cgi-bin/wfs as server, and make sure you tick the 'Only request features overlapping the view extent' checkbox.
Then:
1) zooming in on some area you will see the BBOX param in the networklogger
2) hovering over the

[2021-01-04 12:26] rduivenvoorde commented on #40808
@DanielFlaum another thing to test: do you maybe have the Browser Panel open/visible? I know there have been issues before with some network-drives being scanned... If I'm corrent if the browser panel is closed this is not being done.

(I'm also on Debian testing, and do not have this issue, I'm also not able to reproduce it on a Windooz/OSGeo4W box I have here)

[2021-01-04 12:44] pathmapper commented on #39756
@gioman thanks, you're right about the current situation. @jgrocha wrote in https://github.com/qgis/QGIS/issues/39756#issuecomment-721152095:

So maybe _fixed_ was the wrong wording but I assumed this issue would stay open to track the improvement.
But if you think it's better to close here, that's fine with me.

[2021-01-04 12:55] gioman opened #40841 "Add support for translated projects in QGIS Server"
See:
https://github.com/qgis/QGIS-Enhancement-Proposals/issues/90
https://www.opengis.ch/2018/09/11/qgis-speaks-a-lot-of-languages/

Maybe with a new custom parameter for getmap/getfeature/etc requests(?).

[2021-01-04 13:08] vcloarec commented on #40836
thanks @elpaso, so maybe it comes from my database... I've tried with your PR #40750, and QGIS crashed...

[2021-01-04 13:16] elpaso commented on #40836
If you have a stacktrace can you please attach it to the #40750 PR?

[2021-01-04 13:54] gioman commented on #40717
@nyalldawson I probably always interpreted the wrong way how this option works. Sorry for the noise.

Note: in QGIS raster calc the parameter "output extent" is not really optional (it is in fact mandatory as the output cellsize and output CRS, never fully understand why they show as "optional" in their labels), so leaving it to "not set" does not allow the tool to run... and there is no option to

[2021-01-04 13:54] #40717 closed

[2021-01-04 15:33] gioman commented on #23523
Select/identify on virtual layers is ok (I think it has been fixed), while the issue with SL/GPKG views is duplicate of

https://github.com/qgis/QGIS/issues/36291

[2021-01-04 15:33] #23523 closed

[2021-01-04 15:35] gioman commented on #36291
@rduivenvoorde should we change the title of this ticket to something along the lines "warn users if loading a SL/GPKG view with no unique values in the first column"?

[2021-01-04 15:47] arcataroger commented on #40805
@gioman Thanks for checking in, and happy new year :)

Yes, using the Export As dialog. It happens with ogr2ogr as well, both by default and using the `preserve_fid` flag. **However, using `-lco id_field=id` results in a successful, correct output.** But that's a lot of hoops to jump through, and also breaks the ability to natively edit/save geoJSON in QGIS. In our workflow, for example, we commit

[2021-01-04 16:13] jmlsiqueira opened #40843 "Problem to generate watershed with the Fill sinks (wang & liu) comand"
Hello guys, a happy 2021 for everyone.

I am trying to use the tool Fill sinks (wang & liu) to trace a watershed from an MDE.tif file.This MDE was generated from meter by meter curves at QGIS

It turns out that the output files are not generated and the following error message appears:

"2021-01-04T13:06:55     INFO    Application state:
             QGIS_PREFIX_PATH env var: C:/PROGRA~1/QGIS 3.10

[2021-01-04 16:18] rduivenvoorde commented on #40786
Found out the this was actually my own faulty code... So tried to fix it :-)

[2021-01-04 16:49] TurboGraphxBeige commented on #40824
I'm pretty sure it used to redraw the legend when clicking on it on previous QGIS versions. Regression?

[2021-01-04 17:19] kgjenkins commented on #40792
Looks like @nyalldawson beat me to it -- thanks!

[2021-01-04 18:15] symbioquine commented on #40826
@rduivenvoorde thanks for the detailed response!

I wondered about that too since the behavior was only appearing when creating vector layers via the Python API.

With your insight I was able to create the following Python snippet which does exhibit the correct BBOX filtering behavior;

[code]

Which produced:

[code]

I think this is the heart of the issue since (as far as I can tell) it doesn't

[2021-01-04 18:18] #40736 closed

[2021-01-04 18:29] gioman commented on #40805
@arcataroger the "help" button in the "save vector layer as..." dialog point to

https://docs.qgis.org/3.16/en/docs/user_manual/managing_data_source/create_layers.html#vector-specific-parameters

were you can find this paragraph:
`
Datasource Options, Layer Options or Custom Options which allow you to configure advanced parameters depending on the output format. Some are described in Exploring Dat

[2021-01-04 18:34] PeterPetrik commented on #40766
no idea

[2021-01-04 18:48] gioman commented on #40843
@jmlsiqueira works fine here on 3.16 and on both Linux and Windows

[filled.tar.gz](https://github.com/qgis/QGIS/files/5766269/filled.tar.gz)

[flow.tar.gz](https://github.com/qgis/QGIS/files/5766271/flow.tar.gz)

[ws.tar.gz](https://github.com/qgis/QGIS/files/5766272/ws.tar.gz)

[2021-01-04 18:49] gioman commented on #40824
@TurboGraphxBeige if give me an idea on what version it used to work I can give it a try.

[2021-01-04 20:02] MorriganR opened #40845 "QgsPointLocator - unexpected behaviour"
For the last few days I have been playing with indexing strategy as described by @wonder-sk in here https://github.com/qgis/QGIS/pull/8862#issuecomment-455507948
And I have encountered some unexpected behaviour in class QgsPointLocator.
It is possible to access QgsPointLocator from Python console. The test project has only one Postgis layer with several geometries.

    MyLayerLocator = iface.mapC

[2021-01-04 20:26] arcataroger commented on #40805
Great, thanks for that tip! Super helpful as a workaround.

Probably should still keep this open as a bug, though? The geoJSON spec is pretty clear that the ID should be a member, not part of `properties`. As it stands, the QGIS export output is not to spec, and it took me a while to figure out why my geoJSON files weren't working with other software (OpenLayers) until I tracked down this bug. Oth

[2021-01-04 20:48] CoryAlbrecht commented on #40818
And I just found out that this bug also resulted in me having **unknowingly deleted features** that were hidden because of the temporal filtering but invisibly selected anyways. Hypothetically I could use either the weekly PostgreSQL backups or the ZFS snapshots to get them back, but practically that's impossible as I don't know when they would have gotten deleted.

Data loss makes me angry.

[2021-01-04 21:07] Samweli commented on #40786
@rduivenvoorde you can also look at https://github.com/qgis/QGIS/pull/35749 it contains an approach that avoids looping over list of datetimes to search for a desired datetime, given the datetimes interval is constant and known.

[2021-01-04 21:47] pjshelton commented on #21655
I noticed this too, while experimenting answering #21652.   (version 3.16.1 revision b381a90dca)
I don't know how many classification ranges you are using in your image, but for me, this only happened when the number of histogram bins was less then the number of classification bins by at least one, when the classification classes were of even width, and for uneven classification classes, the histo

[2021-01-04 22:32] #40705 closed

[2021-01-04 23:37] #35834 closed

[2021-01-05 04:50] pjshelton commented on #39263
The function that would do the new measure would be the Postgres ST_LocateAlong() which apparently interpolates if the required measure is not on a vertex.

[2021-01-05 04:55] DanielFlaum commented on #40808
Closing the Browser Panel in the left-hand sidebar made no change, @rduivenvoorde, sorry.

[2021-01-05 04:58] DanielFlaum commented on #40808
I tried reproducing the issue on a different laptop also running Fedora 33, and got the same results.

QGIS version | 3.16.2-Hannover | QGIS code branch | Release 3.16
-- | -- | -- | --
Compiled against Qt | 5.15.2 | Running against Qt | 5.15.2
Compiled against GDAL/OGR | 3.1.4 | Running against GDAL/OGR | 3.1.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
C

[2021-01-05 05:00] pjshelton commented on #39263
My marker line solution has a current problem in that the font maker can not be offset from the line properly.  the line that gets used for measuring is the offset line, not the original.  And the offset label x and y do not work the way I would like them to for this use case.

[2021-01-05 05:04] pjshelton commented on #39263
I also tried using the hashed line type and using a font marker on the hash line, but the @geometry_point_num is tied to the hash line not the line being hashed.

[2021-01-05 05:07] DanielFlaum commented on #40808
I tried QGIS 3.14, and still reproduced the issue.

QGIS version | 3.14.16-Pi | QGIS code branch | Release 3.14
-- | -- | -- | --
Compiled against Qt | 5.15.2 | Running against Qt | 5.15.2
Compiled against GDAL/OGR | 3.1.4 | Running against GDAL/OGR | 3.1.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running against GEOS | 3.8.1-CAPI-1.13.3
Compiled against SQLite | 3.33.0 | Running against SQLite

[2021-01-05 05:13] pjshelton commented on #28174
Is #28386 asking for a similar solution?

[2021-01-05 05:19] DanielFlaum commented on #40808
So it looks like `libqgnomeplatform.so` is part of the Fedora Linux distribution. So I'll try spinning up some previous versions of Fedora in a virtual machine and see if I can still reproduce.

[2021-01-05 06:10] pjshelton commented on #20563
please see #33374 for why we want to keep the current behaviour even if it has to be renamed "detach label from curve"

[2021-01-05 06:14] pjshelton commented on #33374
#20563 is a feature request for this functionality.

[2021-01-05 06:17] DanielFlaum commented on #40808
OK, the issue disappeared for me on Fedora 32 in a virtual machine. So we have the first variable on my end that toggles the issue.

QGIS version | 3.16.2-Hannover | QGIS code branch | Release 3.16
-- | -- | -- | --
Compiled against Qt | 5.14.2 | Running against Qt | 5.14.2
Compiled against GDAL/OGR | 3.0.4 | Running against GDAL/OGR | 3.0.4
Compiled against GEOS | 3.8.1-CAPI-1.13.3 | Running agai

[2021-01-05 06:18] pjshelton commented on #21444
This should also be available for labeling lines.

[2021-01-05 06:54] lajunek opened #40849 "Field Calculator: Rember last entered expression"
**Feature description.**

**Additional context**

[2021-01-05 06:59] lajunek opened #40850 "Field Calculator storing last entered expression"
**Feature description.**

[2021-01-05 07:01] #40849 closed

[2021-01-05 07:02] lajunek commented on #40849
deleted double feature request

[2021-01-05 08:24] #39115 closed

[2021-01-05 08:29] jmonticolo commented on #40850
Isn't that what you are looking for : [https://docs.qgis.org/3.16/en/docs/user_manual/working_with_vector/functions_list.html?highlight=recent#recent-functions](https://docs.qgis.org/3.16/en/docs/user_manual/working_with_vector/functions_list.html?highlight=recent#recent-functions) ?

[2021-01-05 08:57] Xeenych commented on #28174
Yes, this would solve my problem.
Also, locking labels will help to improve rendering speed.
Every label could be precomputed once with high number of tries in placement engine. Then, adding a single label will result in recomputing only adjacent labels in a small portion of map.

[2021-01-05 09:55] lamebird opened #40852 "Can't export as image in print composer"
**Checklist before submitting**

- [✓ ] Search through existing issue reports and gis.stackexchange.com to check whether the issue already exists
- [✓ ] Test with a [clean new user profile](https://docs.qgis.org/testing/en/docs/user_manual/introduction/qgis_configuration.html?highlight=profile#working-with-user-profiles).
- [✓ ] Create a light and self-contained sample dataset and project file whi

[2021-01-05 10:11] nyalldawson commented on #40852
Hmm - I can confirm. It's specific to Fedora 33 though (or maybe just Qt 5.15?) -- seems like the Qt file picker dialog functionality is broken. :scream:

[2021-01-05 10:58] roya0045 commented on #40850
It's already a thing, please look harder.

[2021-01-05 11:00] roya0045 commented on #40852
@nyalldawson  #40665 also

[2021-01-05 11:06] roya0045 commented on #40852
And also #40808

[2021-01-05 12:08] #40850 closed

[2021-01-05 12:10] gioman commented on #40808
Possibly a QT 5.15 thing, see also https://github.com/qgis/QGIS/issues/40852

[2021-01-05 12:16] gioman commented on #40805
@arcataroger I don't agree is a workaround nor a bug, at best it is a feature request asking to improve the GUI of the dialog in case the geojson format is selected (in a way that "forces" the user to select the column for the "id_field" LCO.

[2021-01-05 12:19] legrostdg opened #40853 "Add ability to load layers from .7z files"
**Feature description.**
The ability to load layers from .zip files is great, it would be nice to be able to do the same from .7z files, too.

**Additional context**
The French IGN just released a lot of their data in open data. Most of their files are compressed with 7z, and the format seems to be used a lot by other GIS providers. I guess QGIS is not supposed to be able to load data from whateve

[2021-01-05 12:21] gioman commented on #40853
@legrostdg you have to file it in the GDAL tracker, as it was done here https://trac.osgeo.org/gdal/ticket/7068

[2021-01-05 12:23] gioman commented on #26797
Still true?

[2021-01-05 12:29] uclaros commented on #40852
@nyalldawson Debian works fine with the same qt version. If you look at the stacktrace in #40808 it seems related to `/usr/lib64/qt5/plugins/platformthemes/libqgnomeplatform.so` that fedora is using.

[2021-01-05 12:32] legrostdg commented on #40853
https://github.com/OSGeo/gdal/issues/3344
Done, thanks.

[2021-01-05 13:15] TurboGraphxBeige commented on #40824
It's more or less helpful since the range is quite large, but it's between 3.0 and 3.10. And I'm not even 100% sure the behavior existed!

[2021-01-05 13:22] jmlsiqueira commented on #40843
Thanks Giovanni.

Em 04/01/2021 15:48, Giovanni Manghi escreveu:

---

--
Abraços
João Marcelo Lopes

Keep Playing
http://www.boardgamegeek.com/collection/user/jmlsiqueira?own=1&subtype=boardgame&ff=1
[7]

Links:
------
[1] https://github.com/jmlsiqueira
[2] https://github.com/qgis/QGIS/files/5766269/filled.tar.gz
[3] https://github.com/qgis/QGIS/files/5766271/flow.tar.gz
[4] https://github.com/qg

[2021-01-05 14:25] timlinux opened #40856 "Unable to right click GeoPackage table from browser"
When I try to delete a table from any geopackage in browser, I get an error 'wrong number of columns returned by query'. This happens immediately when I right click on the table entry.

![image](https://user-images.githubusercontent.com/178003/103657211-84996700-4f61-11eb-988f-cf2e484f9f2f.png)

QGIS version | 3.17.0-Master | QGIS code revision | d11d28ca3e
-- | -- | -- | --
Compiled against Qt |

[2021-01-05 17:22] drf5n commented on #40704
My workaround after a CRS edit is to set the layer's CRS to something else, then back to the edited CRS.  You do not have to close and reload the whole project in that case.

It might be nice if you could just click on the greyed-out current CRS under `Layer CRS` and have it refresh/reapply without the doubly re-assigning it.

[2021-01-05 17:37] roya0045 commented on #40856
Master only?

[2021-01-05 17:53] arcataroger commented on #40805
@gioman Are there situations where a user might want to export geoJSON that's not to spec? If not, why wouldn't the exporter want to conform to the spec by default?

IMO, the bug isn't that the `id_field` isn't preselected, but that QGIS/GDAL by default creates invalid geoJSON no matter where you specify the ID. It's not a UI problem as much as a (reasonable, I believe?) belief that:

- Given the

[2021-01-05 18:01] gioman commented on #40805
@arcataroger if I'm not wrong even ogr2ogr do not use this LCO by default, correct? if yes QGIS behaves coherently I guess. Also: how QGIS would know what is the column to choose for "id_field", there is no garauntee that a "id", "fid", etc. column exist, and in general a user could want to use a column with a generic name, correct? Anyway I have no problem leave this open as bug, I personally jus

[2021-01-05 18:13] arcataroger commented on #40805
Sorry, I've never used ogr2ogr before this bug (downloaded it because you
said so) -- am I to understand that ogr2ogr is what QGIS uses behind the
scenes, and so I should file this over in their project instead of here?

When I create a new shapefile, the `id` column is automatically added... is
that not a default? It's possible I set a setting somewhere and forgot
about it...
[image: image.png]

[2021-01-05 18:15] arcataroger commented on #40805
Sorry, I've never used ogr2ogr before this bug (downloaded it because you
said so) -- am I to understand that ogr2ogr is what QGIS uses behind the
scenes, and so I should file this over in their project instead of here?

When I create a new shapefile, the `id` column is automatically added... is
that not a default? It's possible I set a setting somewhere and forgot
about it...

![image](https://us

[2021-01-05 18:19] arcataroger commented on #40805
Hmm, it seems like the `id` field is only a default for shapefiles. Geopackages and spatialite fields don't have any fields added by default, at least on my computer. My mistake!

In that case, what you said makes sense... not all layers can be assumed to have an `id` field for exporting, and QGIS doesn't automatically know which field to use.

I think the dropdown would still be an easy fix, but

[2021-01-05 18:22] gioman commented on #40805
@arcataroger yes, but I'm pretty sure you'll get a similar answer... it is up to the user to apply this LCO because there is no way to automatically the proper column. See below

even for shapefiles... QGIS GUI adds a "id" column just for user convenience, but is not mandatory (or it could have a completely different name).

If in your workflow you always have shapefiles with an "id" column with a

[2021-01-05 18:45] #40836 closed

[2021-01-05 20:04] TurboGraphxBeige commented on #40824
Nevertheless, I think it would be a good thing to trigger a redraw on a focus on the legend widget. Labels have a similar behavior and we can easily see it when it contains a dynamic expression. Simply focusing on the label will update it with the current values. Though I don't know exactly on which signal the redraw is triggered. Seems to be on focus.

[2021-01-05 20:12] gioman commented on #40856
@roya0045 @timlinux it is ok on master on Windows, and as well on 3.16.2 This may be a Linux only thing (I can replicate on master on Ubuntu 20.04).

[2021-01-05 20:35] MorriganR commented on #40845
Sorry, the behaviour of QgsPointLocator was unexpected for me, but it works according to its idea.

[2021-01-05 20:35] #40845 closed

[2021-01-05 21:56] #38668 closed

[2021-01-05 22:02] pjshelton commented on #20166
#39263 has a much fuller description of what is being asked for.

@fitoprincipe, Be aware that (as of 3.16.1) a marker line does not guarantee that measure will start from the beginning of the feature, it depends entirely on whether the start of the line is visible.  You are only guaranteed that the marks you do see are that far apart.

[2021-01-05 22:03] arcataroger commented on #40805
That works only for the first conversion from the shapefile to geoJSON, not for subsequently working with the geoJSON as a layer directly. It would be nice to be able to add/edit geometries in geoJSON layers without losing the IDs with subsequent saves.

For example, if you have a geoJSON like this:
[code]

This is how QGIS reads it:
![image](https://user-images.githubusercontent.com/11964962/1037

[2021-01-05 22:08] pjshelton commented on #39263
#20166 is a duplicate.

Just realised that the marker line only guarantees that the marks are that far apart, and are not measured from the beginning of the feature.

[2021-01-05 22:32] Bastien250 opened #40859 "Error of tool Fill Sink (wang & liu)"
Hello,

I was trying to use the plugin Fill Sink (SAGA) with the LTR QGIS 3.10.5

But I have an error. And the error is the same with all components of SAGA

I tried to reinstall the version but the same. I saw others topics here (GDAL204.dll, ... but the same error).

Could you help me please ?

Thanks in advance

[2021-01-05 22:34] Bastien250 commented on #40859
My version:

Version de QGIS : 3.10.5-A Coruña
Révision du code : 984615fe1e
Version de Qt : 5.11.2
Version de GDAL : 3.0.4
Version de GEOS : 3.8.1-CAPI-1.13.3
Version de Proj : Rel. 6.3.1, February 10th, 2020

And I have enough memory on my PC

[2021-01-05 22:46] wonder-sk opened #40860 "Split geometry takes long on layers with many features"
**Describe the bug**

Split feature tool sometimes takes very long time (it can be tens of seconds) when splitting features in a vector layer with many features - even if the split only involves a couple of geometries.

This has been originally reported on pull request #37295 (which addressed slow split of complex polygons), but this issue is reproducible with both line and polygon layers, so not

[2021-01-05 22:55] wonder-sk commented on #34326
I am going to close this ticket because there are at least two issues mixed up here. One issue was with split of a complex polygon (already fixed in #37295) and another one when layer contains lots of features - I have raised a new ticket for it: #40860.

[2021-01-05 22:55] #34326 closed

[2021-01-05 23:17] roya0045 commented on #40860
The operation seems simple enough, create a feature list containing a single feature with the provided geometry and the  feature attributes. Could the attribute fetching be the bottleneck on large datasets?

[2021-01-06 04:16] skualos opened #40864 "GeoPackage layer name truncated when filename contains more that one dot"
When saving a GeoPackage having one or more dots in the filename, the layer name gets truncated at the first dot.

**How to Reproduce**
Try to save a GeoPackage as this.is.my.file.gpkg
The layer named will fill out as 'this'

[2021-01-06 04:18] pjshelton commented on #34974
QGIS 3.16 has the m(geometry), but it seems not work with a non-point geometry,
and m_max and m_min.

$m() is just m($geometry) so has a workaround, and m_at()  will need to know how far along the object we are looking for.

What would be very nice is a function that returned the co-ords or percent along line for an arbitrary m, where m was in the inclusive interval m_max and m_min.  if the M valu

[2021-01-06 05:04] pjshelton commented on #39064
The file name that was supplied as an example is 110 characters long.  This is before adding the directory path or file extension.  Up to Windows 10 v1607 the hard limit for fully qualified path file names was 260 characters. This included directory separators, file extensions and drive names.   Windows 10 v1607 was the first windows update that allowed for more than 260 characters in the name.  B

[2021-01-06 07:47] rduivenvoorde commented on #40826
@symbioquine if you ask my personal opinion:

1) doc updates: YES please do! not only in the source-docs, but also (a new) part in the QGIS pyqgis cookbook

2) accept those params in the url: I would not do that, as we are mixing up two concepts of uri/url's here from 2 different worlds.
Another argument not to do it is that I think(!) that the logic to take in the start/capabilities url tries to

[2021-01-06 08:55] gioman commented on #20166
Duplicate of https://github.com/qgis/QGIS/issues/39263

[2021-01-06 08:55] #20166 closed

[2021-01-06 08:58] rduivenvoorde opened #40867 "(small) csv file VERY slow, and throwing a lot of warnings/stacktraces"
Busy with the temporal controller, I thought to get the csv dataset of one of Anita's blogposts:
https://anitagraser.com/2016/09/24/how-to-visualize-bird-migration-data-with-qgis-timemanager/
A csv with (just 128) positions of tracked birds in time:

[Migratory connectivity of purple martins (data from Fraser et al. 2016).zip](https://github.com/qgis/QGIS/files/5774738/Migratory.connectivity.of.pu

[2021-01-06 08:59] gioman commented on #40859
See also https://github.com/qgis/QGIS/issues/40843

Closing this as anyway it is not filed with all the requested infos, in this case:

1) error message

2) sample data

Anyway if all your SAGA tools are failing then you have an installation/local issue.

Please all note that since a a while now there is an error message at the end of the run of any SAGA tool, but this can be ingored (in fact outp

[2021-01-06 08:59] #40859 closed

[2021-01-06 09:06] gioman commented on #40867
@rduivenvoorde I add the CSV with the delimited text provider, and it behaves ok here. Master on Ubuntu 20.04

QGIS version | 3.17.0-Master | QGIS code revision | 1dd80e93f1
-- | -- | -- | --
Compiled against Qt | 5.12.8 | Running against Qt | 5.12.8
Compiled against GDAL/OGR | 3.0.4 | Running against GDAL/OGR | 3.0.4
Compiled against GEOS | 3.8.0-CAPI-1.13.1 | Running against GEOS | 3.8.0-CAPI-1.

[2021-01-06 09:08] gioman commented on #40867
@rduivenvoorde I install master from qgis.org repos, no warnings here in the console

[2021-01-06 09:09] rduivenvoorde commented on #40867
@gioman thanks for testing. See if somebody with Qt 5.15 can confirm?

[2021-01-06 09:13] Samweli opened #40868 "Temporal controller widget sets a wrong frame as animation start point."
During editing the animation temporal range start in the temporal controller widget, the animation start frame is incorrectly set to a randomly selected(at least from my findings) frame. This happens on QGIS master only.

Expected behaviour
![temporal_controller_expected_behaviour](https://user-images.githubusercontent.com/2663775/103750820-63478200-5018-11eb-9471-fe3be956ea62.gif)

Current behavi

[2021-01-06 09:18] andreasneumann commented on #40867
No issues here either. Works fine, not console debug output - but I also don't have Qt 5.15, but 5.12.8

QGIS version | 3.17.0-Master | QGIS code revision | 3fa49314e7
-- | -- | -- | --
Compiled against Qt | 5.12.8 | Running against Qt | 5.12.8
Compiled against GDAL/OGR | 3.1.0 | Running against GDAL/OGR | 3.1.0
Compiled against GEOS | 3.9.0dev-CAPI-1.14.0 | Running against GEOS | 3.9.0-CAPI-1.16.

[2021-01-06 09:21] elpaso commented on #40625
This issue is hitting many people, I'm no Windows developer by I'm wondering if there is a way to know when a network disk is connected and prevent QGIS brower to scan it.

[2021-01-06 09:27] mercergeoinfo commented on #39064
Thank you. I had already considered this (I'm an old hand at ArcMap) but
this was not the problem. This issue seems to have been resolved with the
latest update and could even be resolved by going back to an older version.

On Wed, 6 Jan 2021 at 06:04, Phillip Shelton <notifications@github.com>
wrote:

--

Andrew, PhD att döda

[2021-01-06 09:49] nyalldawson commented on #40625
@elpaso there's win (not qt) API which we could use to determine if a drive is remote. I wonder if we should skip the auto scanning of any non-local drives to help with this...

[2021-01-06 09:52] gioman commented on #39064
@mercergeoinfo so closing?

[2021-01-06 10:02] rduivenvoorde commented on #37829
@Samweli @nyalldawson are we sure this is to be closed? In my test here with the url of the original issuer:

https://geo.weather.gc.ca/geomet?LAYER=CANSIPS.MEM.ETA_TT.10

Things work initially great. You start on the first of the month and you step through all 'firsts' of the upcoming months.

But it get heary when you set the timestep to 1 day, go to some day (like the 23th), then change to 30 d

[2021-01-06 10:04] gioman commented on #40805
@arcataroger this seems anyway a different issue from the one initially reported in this ticket. I suggest filing a new one (if you find multiple issue is 1 issue per ticket). Please note that the messages you are getting are from OGR, you should check first if you get the same problems using ogr2ogr to translate/edit this datasources, if yes the is likely to be an OGR issue, not qgis's.

[2021-01-06 10:05] uclaros commented on #40625
The same solution could also be applied to reading recent projects. Recent projects in an unreachable drive can cause huge startup times

[2021-01-06 10:12] gioman commented on #40805
@arcataroger as you can see GQIS seems coherent with OGR:

[code]

[2021-01-06 10:18] Samweli commented on #37829
@rduivenvoorde  I confirm this on master and QGIS 3.16

I think this is closed, we may need to open another ticket to address the timestep setting issue.

[2021-01-06 11:03] Bastien250 commented on #40859
Hello thanks for your answer.
I will check.

[2021-01-06 11:27] rduivenvoorde commented on #37829
Sure? so 2 tickets?

- one which is actually the same as this one? As we cannot use the geomet-service after some fiddling? Should we not keep this one?

- one which addresses the 'guessing' behavior ( I think it is this: https://github.com/qgis/QGIS/blob/master/src/gui/qgstemporalcontrollerwidget.cpp#L541 ?)

[2021-01-06 11:56] rduivenvoorde opened #40871 "Temporal controller widget skips to end of Range when switching UP in units(ize)"
Some time ago we added functionality to 'remember' current position on the TimeSlider when changing Step or StepSize in the Temporal Controller Widget.

But recent commits seem to break this?

To test, load the following 6 points as commaseparated file:
[6dots.zip](https://github.com/qgis/QGIS/files/5775560/6dots.zip)

- Enable the layer 'temporal' with "t_start" as Start field and "t_end" as End

[2021-01-06 12:36] tmcgill26 commented on #39799
I am not sure if I should post here or somewhere else since this issue has been closed, but I have experienced the same problem (the current version is 3.16.2).

I do not know if the change in behavior that occurred after 3.10 (I skipped 3.12 and went straight to 3.14) was intentional or accidental, but I much prefer the older behavior. If the change was intentional, I would like to convert this i

[2021-01-06 13:40] mercergeoinfo commented on #39064
For now I suppose. I will keep an eye on it.

On Wed, 6 Jan 2021 at 10:53, Giovanni Manghi <notifications@github.com>
wrote:

--

Andrew, PhD att döda

[2021-01-06 15:42] arcataroger commented on #40805
Right, but is "coherence with OGR" really the underlying objective here, as opposed to "being able to edit geoJSON in-place without destroying IDs"? The command-line tools have a different use case than QGIS, don't they? For the command-line tools, it totally makes sense to specify flags and parameters. They were built for transformations (is there even an "open, modify, and save in place" workflo

[2021-01-06 15:56] symbioquine commented on #40826
@rduivenvoorde thanks for the response!

My impression is that you're making an argument that there would be a potential functionality downside to also accepting these parameters as URL parameters, but I'm not quite following it. Can you please elaborate?

There already seems to be [precedent for taking a bunch of parameters](https://github.com/qgis/QGIS/blob/82dd4fcbbc92ad6b1f1527aae1a6ce6437f565

[2021-01-06 16:00] gioman commented on #40805
@arcataroger this seems reasonable to me, it is anyway a feature request, not a bug. Feel free to open one. Also you may know (or not)... this is open source, so if for your organization workflow this is really important you have the power to make it happen sooner than later.

[2021-01-06 16:02] arcataroger commented on #40805
@gioman I will open a new feature request and link it back to this one, closing this one in the meantime. Thank you!

I'm a relatively new dev in general, and haven't touch C++ in a decade, but I would love to help contribute if I can. I'll look into what it would take to add that option. Thanks again for all the tips.

[2021-01-06 16:02] #40805 closed

[2021-01-06 16:05] gioman commented on #40805
@arcataroger on qgis.org there is a page about commercial support, there are plenty of individuals and companies that can get you where you need.

[2021-01-06 16:07] rduivenvoorde commented on #40826
I think the average QGIS user does not even know how WFS requests/parameters look like :-)
They 'just use it as a dataprovider'.... preferably not even knowing the url's...

So I think we are talking about a hypothetical WFS-PyQGIS user here, which (I think) should be able to read api/code and find out that there should be option params.
Here https://qgis.org/pyqgis/master/core/QgsVectorLayer.html

[2021-01-06 16:22] arcataroger opened #40876 "Saving geoJSON: Specify and remember ID field"
### Feature description
**When saving geoJSON, can we allow the user to select a specific field to use as the geoJSON feature ID member?**

Having geoJSON features saved with proper IDs would allow other software, like OpenLayers, to use them properly.

Currently, when a geoJSON layer is edited and saved, all its fields gets saved into the `properties` member of the feature, like so:

[code]

Howe

[2021-01-06 16:36] #39064 closed

[2021-01-06 16:41] arcataroger commented on #40805
@gioman Sadly, the nonprofit I work for has no money to sponsor something like this. However, I do appreciate all the work the community has put into QGIS, so I donated some personal funds just now as a small token of gratitude. Thanks again for taking the time to walk me through this.

[2021-01-06 16:46] Samweli commented on #37829
no , only one ticket.

this is the only ticket that should be opened, a fix for this should also fix other problems as this issue is the root of the other misbehaviour.

[2021-01-06 16:50] gioman commented on #39799
@gafzgarrr file a new ticket attaching sample data.

[2021-01-06 17:37] gioman commented on #40856
@timlinux this affects also DB Manager

[code]

[2021-01-06 17:58] DelazJ opened #40877 "QGIS fails to display the content of a layout map item added at position other than (0,0) using PyQGIS"
Let's take a project with some layers visible and run the following commands:

1. Let's create the print layout (or you can use an existing one)
[code]
1. Let's add a map item at coord(5,5)
[code]
1. Let's add another map item but at coord(0,0)
[code]
The first map item should fail to render the canvas while the second one displays it correctly.
If you then move map2 to coord(5,5), it still displa

[2021-01-06 18:03] kannes opened #40878 "Please force geometry_overlay_ parameters "expression" and "filter" to be strings"
Trying to figure out how the `expression` parameter of the new `geometry_overlay_` expression functions works I realised that you can pass some things (I still haven't figured it out yet) as verbatim expression, not as a string that gets then evaluated on the resulting "result" feature.

So for example in a Geometry Generator that makes a line from the centroids of each feature on layerA to the ce

[2021-01-06 19:28] lieti opened #40879 "Print layout label - ability to have same text rendering options like in map labels"
Hi, many times I´m facing to cartographical issue with text elements in the print layout.
When I need to put text informations directly to the map area, like credits, reference system etc., problem is that I cannot distinguish them from the background with using of halo, drop shadow etc.
I will really appreciate to have same rendering options like in case of map labels.

I know workarounds like GI

[2021-01-06 19:38] willgoerzen opened #40880 "NSIS - Silent upgrade hangs scripted installs"
**Describe the bug**

When upgrading QGIS to a newer version with the silent switch it calls the uninstall.exe without silent switches. This shows the uninstall GUI and causes scripted installations (and Config Manager) to hang as it's waiting for user input. For admins, a workaround is to uninstall software manually first. Tested with 3.10.12 → 3.10.13 but the NSIS .nsi script seems to be the sam

[2021-01-06 20:03] #40860 closed

[2021-01-06 20:37] andreasneumann commented on #40879
@lieti - transparent backgrounds and blend modes are already possible in QGIS layouts:

Other effects like drop-shadows not yet.

Also: if you draw shapes separately behind your text, you can use all style options like in QGIS symbology, including draw effects like drop-shadows.

Can you clarify what exactly you are missing?

[2021-01-06 21:06] glw commented on #30133
I would like to see updates on the advanced digitizer as well. possibly angle options such as setting the 0 deg direction, allowing other angle options such as bearing (DMS). Maybe even allowing for entering a list of point coordinates.

[2021-01-06 22:10] lieti commented on #40879
Hi, sorry for confusion.
I want to have this possibility, text with halo:
![obrázok](https://user-images.githubusercontent.com/34206797/103823704-e269a400-5072-11eb-8348-132ba47282cf.png)

But with text (layout labels) items I have no option to set halo, or dropp shadow:
![obrázok](https://user-images.githubusercontent.com/34206797/103824048-76d40680-5073-11eb-8fa7-71bfb7811ddc.png)

I can partial

[2021-01-06 22:26] uclaros commented on #40867
@rduivenvoorde I can confirm on a pretty similar setup:

QGIS version | 3.17.0-Master | QGIS code revision | 486ae1086c
-- | -- | -- | --
Compiled against Qt | 5.15.2 | Running against Qt | 5.15.2
Compiled against GDAL/OGR | 3.2.0 | Running against GDAL/OGR | 3.2.0
Compiled against GEOS | 3.10.0dev-CAPI-1.15.0 | Running against GEOS | 3.9.0-CAPI-1.16.2
Compiled against SQLite | 3.34.0 | Running ag

[2021-01-07 04:39] stragu opened #40884 "Add a "Layer Styling panel" button to (empty?) Vector toolbar."
**Feature description.**

Given how useful the Layer Styling panel is, it would be great to add to the default toolbars a "Layer styling panel" button** that opens the Layer Styling panel, with the most recently used tab opened.

This would make it more discoverable, and more easily accessible than when using the menu (View > Panels > Layer Styling Panel)

**Additional context**

The default toolb

[2021-01-07 09:08] jratike80 opened #40888 "Make ellipsoidal area ($area) consistent with Proj and PostGIS"
See mailing list discussion https://lists.osgeo.org/pipermail/qgis-user/2021-January/047638.html.

Main points about the test environment:

- QGIS 3.17-dev
- QGIS project and layer are in EPSG:4326
- The ellipsoid for the measurements set into WGS 84 (EPSG:7030)

![image](https://user-images.githubusercontent.com/1751612/103879705-e3391f00-50e0-11eb-91b6-06a67c7200bf.png)

SQL query that is used a

[2021-01-07 09:47] nyalldawson commented on #40888
As requested on the mailing list thread, can you please check and confirm that both tests are using identical ellipsoid parameters? Can you post the semi major and semi minor axis used by both please?

[2021-01-07 09:59] jratike80 commented on #40888
Sorry, I thought that the axis were known by the name of the Spheroid.

Semi major and semi minor axis are the same. Verified with command `proj -le` from the OSGeo4W shell (my QGIS is installed with the same OSGeo4W).

` WGS84 a=6378137.0      rf=298.257223563 WGS 84
`
[code]

[2021-01-07 10:04] nyalldawson commented on #40888
Can you check the parameters shown in QGIS project properties though?

[2021-01-07 10:04] jerome-colin commented on #40808
Hi,
I have the exact same issue with QGIS 3.12 on a Fedora 32. I used QGIS on this Fedora smoothly in the past months, and I can't remember if that correlates with a recent system update (I use the QGIS from the Fedora repo). But obviously I didn't got this issue last November.

Version de QGIS | 3.12.1-București | Branche de code de QGIS | Release Branche de code de QGIS.3
-- | -- | -- | --
Compi

[2021-01-07 10:08] jratike80 commented on #40888
Screen capture added to the issue text. I also included the main points from the mail thread.

[2021-01-07 12:11] jmonticolo commented on #40884
Two remarks :
- Why Vector Toolbar because layer styling panel works for raster layers too ?
- There is already a very handy shortcut on top of [the layer panel](https://docs.qgis.org/3.16/en/docs/user_manual/introduction/general_tools.html#layers-panel) : ![symbology icon](https://docs.qgis.org/3.16/en/_images/symbology.png)

[2021-01-07 12:14] albertodeluca commented on #40860
Thanks a bunch @wonder-sk

[2021-01-07 12:16] Samweli commented on #37829
ping @rduivenvoorde

[2021-01-07 12:46] roya0045 commented on #40808
@jerome-colin please try with a recent version 3.12 is outdate and we need to make sure this is not another issue that has been solved already.

[2021-01-07 12:49] timlinux commented on #31192
Hi @jgrocha I'm running into a similar issue here. I am just wondering if you came up with a solution? I guess a workaround would be to do some url rewrite magic on nginx / apache to insert the map= string?

[2021-01-07 12:51] rduivenvoorde commented on #40871
Also see https://github.com/qgis/QGIS/issues/37829 which (later problem) probably is rooted in the same issue

[2021-01-07 12:51] rduivenvoorde commented on #37829
@Samweli I created: https://github.com/qgis/QGIS/issues/40871 yesterday

[2021-01-07 13:06] jgrocha commented on #31192
I'm encoding the project (_service_, _schema_ and _project name_) on the URL and then use a rewrite rule (apache) to set the environment variable:

[code]

Apache rewrite rule:
[code]

This one is for postgresql stored projects, using services.

[2021-01-07 13:08] timlinux commented on #31192
Thanks!

[2021-01-07 13:13] agiudiceandrea commented on #40888
Hi @jratike80, PostGIS uses GeographicLib for geodesic area calculation on ellipsoid/spheroid.
SpatiaLite 5.0.0 uses the rttopo library, while SpatiaLite 4.3.0 uses lwgeom lib (that AFAIK is the same of GeographicLib for geodesic area calc).
In the mailing list you reported a slight difference between PostGIS and SpatiaLite values:
PotGIS: 251199344354.4308
SpatiaLite 5: 251195856999.549927

but u

[2021-01-07 13:43] jratike80 commented on #40888
Thanks a lot @agiudiceandrea! Do you think that this https://docs.qgis.org/3.16/en/docs/user_manual/working_with_vector/functions_list.html#area is the best place to mention that the GRASS algorithm is used?

[2021-01-07 14:07] agiudiceandrea commented on #40888
@jratike80 Please see also these thread in grass-dev ml http://osgeo-org.1560.x6.nabble.com/area-calculations-in-several-GIS-td5379541.html and in qgis-dev ml http://osgeo-org.1560.x6.nabble.com/area-calculations-in-several-GIS-td5379541.html

[2021-01-07 14:19] jratike80 commented on #40888
So nothing new on this *area*. I jumped in just because my now retired colleague from the National Land Survey of Finland asked me why he can't get accurate results from QGIS. He counts on GeographicLib and his own formulas as reference.

[2021-01-07 17:48] roya0045 commented on #40888
5% difference is quite considerable. Good move on raising this issue!

[2021-01-07 17:51] jratike80 commented on #40888
The difference is not that big, only 0.654% with that test geometry.

[2021-01-07 17:59] roya0045 commented on #40888
My bad, just had a quick glance, I just checked the first two digit. That's 10 times less.

[2021-01-07 18:42] Samweli commented on #37829
I see @rduivenvoorde, but I think  https://github.com/qgis/QGIS/issues/40871 is about another issue, let me open the issue about the 'guessing' stuff.

[2021-01-07 18:52] Samweli opened #40894 "Temporal controller widget overwrite timestep and timestep unit for some input values."
As mention by @rduivenvoorde  here https://github.com/qgis/QGIS/issues/37829#issuecomment-755205663

The temporal controller widget timestep and timestep unit input get changed when user input some values.
Example: setting 30 timestep and days as timestep unit will automatically be changed to 1 timestep and months as the timestep
unit and setting 7 timestep and days as timestep unit will also be c

[2021-01-07 18:52] Samweli commented on #37829
@rduivenvoorde see https://github.com/qgis/QGIS/issues/40894

[2021-01-07 18:58] TurboGraphxBeige opened #40895 "Crash when indexing features"
## User Feedback

I think the QGIS project can be considered a "big project" with a 4-5 vector layers with >100k or >1M features. The crash happened apparently when indexing. I switched to a different window in Windows and it crashed a few seconds later.

## Report Details

**Crash ID**: [5d6e6219ad5befb2e14175ad9dc170123a31f5a5](https://github.com/qgis/QGIS/search?q=5d6e6219ad5befb2e14175ad9dc170

[2021-01-07 19:02] gioman commented on #40895
@TurboGraphxBeige way too old, you must upgrade to the latest 3.16 and test again.

[2021-01-07 19:03] gioman commented on #40895
Also try with a new QGIS profile.

[2021-01-07 19:12] m-kuhn commented on #40878
This is the same for aggregates (for a long time). The advantage is syntax highlighting. It's a question of the "context". We can't change it without breaking a lot of things.
To build strings with logic you can already use `eval`.
I think this is a won't fix.

[2021-01-07 19:14] m-kuhn commented on #40878
What could be done is improving the editor with context sensitivity for tooltips and autocompletion (different attribute names). That's not an easy task I suspect.

[2021-01-07 19:14] TurboGraphxBeige commented on #40895
I think it's time to update to 3.16 indeed.

[2021-01-07 19:17] m-kuhn commented on #40841
What defines the languafe to use? The server language or the connected user?
I am pretty sure if it's set in settings.ini it works already.

[2021-01-07 20:03] roya0045 commented on #40895
Might be an out of memory error also.

[2021-01-07 20:20] nyalldawson commented on #40878
I think strings would be a general step back -- you'd end up with a nightmare situation trying to handle escaping and a less usable result all round. And there's precedent here anyway -- in SQL you don't put subclauses and join constraints as string expressions

So if anything this is a documentation request....

[2021-01-07 20:21] LaredoEnergy opened #40896 "Crash While Editing"
## User Feedback

Stopped editing and saved edits to a shapefile and tried to start editing another.  Shapefile that I was editing is on network file server, not local computer.

## Report Details

**Crash ID**: [b4a272e4424ebb0b885c9badecdde7877148cbba]('https://github.com/qgis/QGIS/search?q=b4a272e4424ebb0b885c9badecdde7877148cbba&type=Issues')

**Stack Trace**
<pre>
osgeo::proj::datum::Datum::c

[2021-01-07 20:25] roya0045 commented on #40896
Before creating a ticket update to a recent version and validate if the crash still occur.

[2021-01-07 20:25] TurboGraphxBeige commented on #40895
Is there some way to trigger a re-index? I'll take a closer look at memory usage.

[2021-01-07 21:10] kannes commented on #40878
Oh I see. Thanks! If this was used before then changing it would break a lot of existing projects.

Expressions are such a weird mixture of functional(?) programming and other things. :)

Feel free to close if it makes no sense. I want to try improve the documentation for these functions anyways and would try to add a note there then.

[2021-01-07 22:43] nyalldawson commented on #40808
Likely fixed by https://bugzilla.redhat.com/show_bug.cgi?id=1911365 -- can you update and test please?

[2021-01-07 22:46] nyalldawson commented on #40852
Fixed in fedora by https://bodhi.fedoraproject.org/updates/FEDORA-2021-c8bf9e1d53

[2021-01-07 22:46] #40852 closed

[2021-01-07 23:55] nyalldawson commented on #40888
For reference: while there's clearly justification for the values currently calculated by QGIS, I still think this is still a valid feature request and agree that it **would** be preferable at some stage to switch from the grass algorithm to instead of Geographic lib for these calculations.

[2021-01-08 00:08] stragu commented on #40884
Ah yes, sorry, my bad! I never noticed that button. Closing now, and thanks for the reply!

[2021-01-08 00:08] #40884 closed

[2021-01-08 06:19] m-kuhn commented on #40878
Thank you in advance

[2021-01-08 06:19] #40878 closed

[2021-01-08 08:11] rduivenvoorde opened #40900 "Processing (densify) cannot use/see attributes, when used in model"
I'm not very experienced with creating Processing models, but I encountered the following:

- create a simple line layer in a real world projection (say epsg:28992), make sure to also add a 'number'  attribute of type integer !
- draw a super simple line, and use "10" as attribute value for 'number'
- now in processing search for 'densify' and choose the algorithm 'Densify by count'
- a popup will

[2021-01-08 08:16] rduivenvoorde commented on #40900
Just also tested on Windows master (and earlier on Linux master and 3.16)

[2021-01-08 08:18] nyalldawson commented on #40900
It's a known limitation of models -- we don't know what the actual input layers will be, so there's no way to know what fields will be available at different stages of the model. It will still work correctly if you manually type the field names.

[2021-01-08 08:25] elpaso commented on #40841
@m-kuhn a dynamic argument would require changes in the capabilities cache `QgsCapabilitiesCache` too, and `QgsConfigCache` of course.

[2021-01-08 08:31] rduivenvoorde commented on #40900
@nyalldawson the dialog seems to indicate to know what the input is (as it is one of the variables you have to set in it)? But I accept your word off course, probably a limitation of (re)using the algorithm dialogs?

You are right: if I use the attribute name in the expression box ( so use "number" in the case above) the layer is created with the right amount of vertices.

It ends though with this

[2021-01-08 09:36] jhpoosthoek opened #40905 "QGIS3 with GDAL LVBAG driver support"
**QGIS3 with GDAL LVBAG driver support**
When will QGIS3 support GDAL 3.2? I ask this because I would like to use the LVBAG driver which was added to GDAL 3.2: https://gdal.org/drivers/vector/lvbag.html

[2021-01-08 09:39] rduivenvoorde opened #40906 "In case of Geotiff/rasters show all band's in the Layers panel (like in Identify Results)"
I'm not a real Raster-man but, currently fighting transparency-bands in geotiffs...

When loading a 4 band raster/aerial in QGIS, you ONLY see the RGB channels/bands.
But some (most?) aerials actually have 4 bands (the alpha channel)?
And to me it seems nice to be able to distinguish (in QGIS) between 2 tiff's in the Layers Panel that one has 4 bands and another has 3?
The Identify Results panels

[2021-01-08 09:59] rduivenvoorde opened #40907 "TypeError: createProcessingParameters() got an unexpected keyword argument 'include_default'"
See also:
https://github.com/qgis/QGIS/issues/40900

When using the 'Densify' algorithms (like by count or by interval) **in a model**, the following Python error shows up:

[code]

![Screenshot-20210108105741-1128x343](https://user-images.githubusercontent.com/731673/104001718-5b1a4e80-51a0-11eb-8cfb-8f65709316c9.png)

To Reproduce:

Create a fresh model, add the algorithm with a valid layer as i

[2021-01-08 10:14] jef-n commented on #40905
QGIS does support GDAL 3.2

[2021-01-08 10:14] #40905 closed

[2021-01-08 10:29] gioman commented on #40900
@rduivenvoorde closing as known issue? changing it to feature request?

[2021-01-08 10:31] gioman commented on #40896
@LaredoEnergy upgrade to the latest 3.10 or 3.16

try with a new QGIS profile, no 3rd party plugins installed

if the problem persist attach a sample project with data.

[2021-01-08 10:41] gioman commented on #40841
@m-kuhn the use case is simple:

have a QGIS server based WebGIS application with a language switcher.

Normally the switcher would change only the language of the interface, with a QGIS server parameter we could have also the language **content** switched...

[2021-01-08 10:44] Gustry commented on #40841
You mean to change the language on the fly the language inside a given project ? (according to the language in the web browser)

[2021-01-08 10:45] rduivenvoorde commented on #40900
@gioman dunno, not sure if it is feasible to make such things work...

I happily accept a 'close as known limitation' if dev's tell's me that it would add to many complexities.

[2021-01-08 10:49] gioman commented on #40841
@Gustry I mean picking a particular project translation as described

qgis/QGIS-Enhancement-Proposals#90
https://www.opengis.ch/2018/09/11/qgis-speaks-a-lot-of-languages/

by default could be the browser language, but the language switcher would allow the user to override the default and see **both** the application interface **and** the layers/groups/metadata/etc. in a different language.

[2021-01-08 10:58] m-kuhn commented on #40841
The point I was trying to figure out: is a (GET) parameter the way to go.
I think for webapps you'll want to store the language in the session, not the browser.
But since session handling is normally not a concern of the qgis server directly, the answer can very well be that a proxy in front will do the session handling and translate it to a GET parameter.

[2021-01-08 11:23] elpaso commented on #40841
Communication with the server is done through HTTP stateless calls, if you want per-request dynamically localized content from the server I see no other option than to add a query string URL parameter (GET or POST doesnt's really matter).

What stateful web apps do is not generally our concern, except for the landingpage module, which embeds also a web application.

[2021-01-08 12:01] roya0045 commented on #40900
@rduivenvoorde the stack trace should not occur... I'll try to see what's causing this.

[2021-01-08 12:46] jhpoosthoek commented on #40905
I was not specific enough, to rephrase my question: when will QGIS3 support the GDAL LVBAG driver? I currently use the QGIS Standalone Installer Version 3.16 (64 bit) for Windows which uses GDAL 3.1.4, released 2020/10/20.

[2021-01-08 12:47] rduivenvoorde commented on #40894
@Samweli I'm building your pr now and will report back. But I was wondering, are we now removing the whole 'guessing and try to make better' part? I mean: I'm ok with that, but I'm wondering if others have an opinion on this..:-)

[2021-01-08 13:24] pvgenuchten commented on #40778
hi @agiudiceandrea, thanks for reporting. many of the catalogues you mention are based on geonetwork. the [issue](https://github.com/geonetwork/core-geonetwork/pull/4488) in older version of geotools was reported a while back and has been resolved and will be released in the upcoming 3.12 release

[2021-01-08 13:41] rduivenvoorde commented on #40894
Ok, now the unit dropdown does not change to new units (so does not switch automagically to a week if you clicked 7 days....). Which is fine with me, but I wonder if it is ok with the original author.

What is still broken (no related to this I think but on the earlier refactoring), is that IF you change the unit that you always go back to step 0 (zero). While earlier we try to guess what the best

[2021-01-08 14:13] Sallagispo opened #40910 "Filtering attributes does not work when editing multiple features at the same time"
**Describe the bug:**
When I create a filter expression in Properties >  Attributes Form, the filter works correctly when I edit my data through the Attribute table (see fig. 1). It also works when I create a new feature and Attribute form pops (fig. 2). However, when I choose multiple features from the map and use form for editing, the filtering does not work (see fig. 3). Instead, all the values

[2021-01-08 14:22] MorriganR commented on #40720
I have this problem's solution for my data set. I've made simple plugin which makes indexing strategy IndexExtent and connects some signals together.
https://github.com/MorriganR/index_updater/commit/53e5ccf3c1d03372abe6b1e803e7df9b44d03362
Maybe it will be useful for someone.

[2021-01-08 14:28] gioman commented on #40910
@Sallagispo just a hunch: probably it was never implemented in the multi-tool. Maybe a dev can give a answer, not sure but I think that @m-kuhn worked on it, or am I wrong?

[2021-01-08 15:29] HanwGeek opened #40911 "QGIS3.16 crash when it starts up."
**Describe the bug**

**How to Reproduce**

1. Open QGIS

**QGIS and OS versions**

QGIS: 3.16
OS: Ubuntu18.04
Qt: 5.14

**Additional context**

[code]
QGIS crashed after showing logo. Where can I get more error log and fix this? Thanks!

[2021-01-08 15:56] pathmapper commented on #39756
@gioman it turns out that you **can** create a XYZ connection with "OpenStreetMap" as identifier if you do it manually with
`New Connection...`.

So the issue here is that `Import Connections...` fails for a connection with "OpenStreetMap" as identifier.

https://user-images.githubusercontent.com/20856381/104034133-c845d800-51d0-11eb-8eed-45f348f8c233.mp4

[2021-01-08 16:00] m-kuhn commented on #40910
I am pretty sure in the multi edit form the context was never adjusted to reflect the current state of the form.

I think @elpaso integrated this feature for single feature attribute forms and probably knows better if multi editing was ever on the radar for this.

[2021-01-08 16:06] gioman commented on #40911
@HanwGeek how did you installed QGIS on ubuntu? using qgis.org repos? self compiling the code?

[2021-01-08 16:07] roya0045 opened #40912 "[Feature request][Temporal controller] Use temporal controller in Virtual Layer based on Temporal Table"
**Feature description.**

As we are in the Temporal Controller Saga and I'm about to migrate some data in temporal tables in MSSQL for some testing, I was wondering if there was a way to properly use the virtual controller with virtual layer more directly.

The optimal way to do this would be to have the values of the controller exposed somehow in the query, either by adding expression support to

[2021-01-08 16:07] elpaso commented on #40910
@m-kuhn well, it's been a while but IIRC it was never implemented for multi feature editing. I can have a quick look if this is an easy fix but I can't make any promise.

[2021-01-08 16:08] roya0045 commented on #40912
If anyone wants to rename or focus the request I have no issues, I just wanted to lay the groundwork.

[2021-01-08 16:09] gioman commented on #40910
@elpaso moving to feature request?

[2021-01-08 16:16] HanwGeek commented on #40911
@gioman I installed QGIS from qgis.org repos.

[2021-01-08 16:18] gioman commented on #40911
@HanwGeek you likely have a local issue, on clean machines there are no installation issue. Suggestion: remove any geos,proj,qgis,gdal related packages, and try again.

[2021-01-08 16:22] HanwGeek commented on #40911
I install & use QGIS3.4 from ubuntugis for a while. And it works great. At present, I want to upgrade QGIS to 3.16 to use some python api. Meanwhile, I have a self-compiled gdal3.1.3, so I am still working on it to find the causes.

[2021-01-08 16:23] gioman commented on #40911
@HanwGeek have you used the specific qgis.org repo that make use of ubuntugis dependencies?

[2021-01-08 16:26] HanwGeek commented on #40911
Sorry, I haven't figure it out whether qgis.org repo use any of ubuntugis dependencies. For now I am removing all packages may relate to QGIS.

[2021-01-08 16:28] gioman commented on #40911
@HanwGeek https://qgis.org/ubuntugis/

[2021-01-08 16:32] HanwGeek commented on #40911
I just use the ubuntugis repo, not that one under qgis.org for my QGIS3.4. Is there any difference?

[2021-01-08 16:34] gioman commented on #40911
if you are having trouble with qgis packages coming from the ubuntugis repo then you should ask to them. Anyway I suggest you to use the official ones. You can choose to use the one that needs also the ubuntugis repo, or the one that do not need it.

[2021-01-08 16:34] #40911 closed

[2021-01-08 16:35] HanwGeek commented on #40911
Sorry, for now I install QGIS3.16 from qgis.org repo. And that's the problem i encontered.

[2021-01-08 16:36] gioman commented on #40911
@HanwGeek again: you are using the ubuntugis repo, then you must use https://qgis.org/ubuntugis/

[2021-01-08 16:38] gioman commented on #40911
@HanwGeek if you are not using anymore the ubuntugis repo, but you used previously, then you must clean all the dependencies (geos,gdal,proj, etc) and use https://qgis.org/ubuntu

[2021-01-08 16:46] HanwGeek commented on #40911
@gioman Thanks! I removed all dependencies and install QGIS from qgis.org. I can start QGIS now. but the gdal from qgis.org shows a problem
[code]
Can I fix this?

[2021-01-08 16:49] gioman commented on #40911
@HanwGeek when/where this shows?

[2021-01-08 16:53] HanwGeek commented on #40911
When it shows `restoring loaded plugins` under the logo. In fact, when I try to `from osgeo import gdal` at python3.6. It tells me the same error. So I think it may a problem with `gdal`.

[2021-01-08 17:11] gioman commented on #40911
@HanwGeek maybe coming from a 3rd party plugin? go in plugin manager and disable all plugins, then restart QGIS.

[2021-01-08 17:28] HanwGeek commented on #40911
It should be a problem with GDAL. Anyway, I have achieved a great progress! Thanks a lot!

[2021-01-08 21:22] ragnarheidar opened #40916 "Vector field markers do not respect map rotation"
**Description**
When showing point displacement with vector field marker using arrows, the arrows do not rotate when the map is rotated.

Example:
Say you are monitoring slope movement by periodically surveying benchmarks points on the slope. As the slope moves the benchmarks move and you want to show the rate and direction of that movement on a map. One way to achieve this is using arrows where t

[2021-01-08 22:05] roya0045 commented on #40900
I'm confused, you can run alg as standalong without the whole model? I'm assuming this is not in 3.16 or what I could do in my build branch, Or maybe I'm misreading things.

[2021-01-09 03:08] zeddock commented on #33581
I cannot check it right now.
*     Jim*Garner  *304-933-9858*
*   www.Ground*Scouts.com

On Fri, Jan 8, 2021 at 9:37 PM github-actions[bot] <notifications@github.com>
wrote:

[2021-01-09 03:12] Samweli commented on #40894
@vcloarec what do you think?

same to me, I can't reproduce it on the current master branch.

[2021-01-09 04:07] vcloarec commented on #40894
I have commented the PR

[2021-01-09 06:06] HanwGeek commented on #40911
It's about the gdal from qgis.org, even after I clean all gdal libs.

[2021-01-09 07:40] envirosolutionspl opened #40922 "Cannot enter attributes and save edits on PostGIS table when user has only the INSERT privilige"
**New description**

When a user has only INSERT privileges on a PostGIS table then he/she cannot save edits because the feature form that pop up after digitizing the geometry does not allow any data entry.

If the table has some defaults set up (like for example the one for the unique PK field) so that mandatory fields are auto-filled then saving edits is possible, clearly demonstrating is not a

[2021-01-09 13:00] GSavelev-VSEGEI opened #40924 "Python module statsmodels not importing in Python console"
Python module statsmodels not importing in Python console:
[code]
I have checked via `pip list`, and it's there.
pandas module and numpy, for example are imported without any problem
[code]

I have tried restarting Windows and QGIS, clean profile and LTR version

same problem with sklearn

**QGIS and OS versions**

QGIS version
3.16.2-Hannover
QGIS code revision
f1660f9da5
Compiled against Qt
5.11

[2021-01-09 13:02] Emeli21 opened #40925 "Erro ao utilizar google maps"
Bom dia,
Estou tendo um erro ao tentar utilizar o google maps dentro do Qgis, com as novas atualizações ele começo a dar um erro no código phyton. Simplesmente ele não me permite usar o google maps sem quelas pequenas letras na imagem e dizendo que a mesma foi mal carregada.
Haveria alguma solução?
Agradeço a atenção.

Emeli Susane

[2021-01-09 13:18] roya0045 commented on #40925
1) english 2) is this a question? If so please post on the mailing list and not in the issues/feature requests.

[2021-01-09 13:23] roya0045 commented on #40924
@gioman are external imports out of scopes, just like plugin support?

@GSavelev-VSEGEI Is pip even reading from the right environment?

[2021-01-09 15:01] rduivenvoorde commented on #40900
@roya0045 what I mean 'outside of a model' running is that you just run that one algorithm on a layer, that is the 'normal' use of all the algorithm's isn't it? Well to me it is :-)

[2021-01-09 15:08] roya0045 commented on #40900
@rduivenvoorde ah right, I was confused by your comment as I though the standalone alg was using the modeler dialog and caused the error.

[2021-01-09 15:21] Haraoka599 opened #40926 "GRASS r.resamp.interp tool on qgis3.16.2 on Windows10 fails but works on qgis3.16.1."
GRASS r.resamp.interp tool on qgis3.16.2 on Windows 10 is not working, but working on qgis3.16.1.

Is there  any tips to fix it ?

**Describe the bug**

**How to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error -->

**QGIS and OS versions**

**Additional context**

[2021-01-09 16:30] roya0045 commented on #40926
Need more info about execution and error at least.

[2021-01-09 16:38] Haraoka599 commented on #40926
Hi Alex

Many thanks for your reply.

The output tif is not created.

It is created on 3.16.1 or 3.14.12 with the same parameters but not on
3.16.2.

Regards.

MH

2021年1月10日(日) 1:30 Alex <notifications@github.com>:

--
Mitsuru Haraoka
Senior Principle Engineer    PE jp
Global Business Dept.
RENOVA inc.
18F Kyobashi Edogrand,  2-2-1 Kyobashi,  Chuo,  Tokyo 104-0031 JAPAN
Mobile : +81-80-6840-2505

[2021-01-09 16:46] gioman commented on #40926
@Haraoka599 report is still incomplete, anyway this is already fixed just download the very latest installer for Windows.

[2021-01-09 16:46] #40926 closed

[2021-01-09 16:47] gioman commented on #40911
@HanwGeek qgis.org repos do not ship any gdal version.

[2021-01-09 16:50] gioman commented on #40925
@Emeli21 as stated here

https://github.com/qgis/QGIS/issues/new/choose

this facility is not for questions.

Issues reports must be written in English and add all the requested info as per

https://github.com/qgis/QGIS/issues/new?assignees=&labels=Bug&template=10_bug_report.md&title=

 Your issue is anyway likely a local issue or an issue with a 3rd party plugin (if is the latter you must report

[2021-01-09 16:50] #40925 closed

[2021-01-09 16:53] gioman commented on #40924
@GSavelev-VSEGEI works fine on QGIS 3.16.2 on Ubuntu 20.04.

[2021-01-09 17:02] roya0045 commented on #40924
@gioman path resolution work differently on windows. Now there was recently a fix for external imports, we'll have to see if it helps.

[2021-01-09 17:29] gioman commented on #40924
@roya0045 @GSavelev-VSEGEI I installed statsmodels with pip3 on the osgeo4w console, and after that it imports fine on QGIS 3.16.2 on Windows too.

[2021-01-09 18:38] Algarius opened #40927 "World_times Projection does not woerk"
Hello

Im new on QGIS, and i have a question. I downloaded the Natural Earth TIFF
https://www.naturalearthdata.com/downloads/10m-raster-data/
I import this Tiff in Qgis Version 3.16.2
Then i change the KBS ( I think in english its the name CRS) to
World_times (ESRI: 54048) or to Sphere_times (ESRI: 53048)
but when i do this, the Map disappear and i have a white blank screen instead of the Map.

Ha

[2021-01-09 18:44] gioman commented on #40927
@Algarius Hi,

this is not the place for questions, as stated clearly here https://github.com/qgis/QGIS/issues/new/choose

If you want to reproject on the fly a layer in another CRS you must change the CRS of the project, not the one of the layer. The CRS that shows in a layer properties must be the one of the datasource. It is possible to manually change the layer CRS because there are cases wher

[2021-01-09 18:44] #40927 closed

[2021-01-09 18:56] uclaros commented on #40906
This is normal. Those are not the bands in the raster, they are the colors used by the renderer and their associated raster band. In your 4 band case, only the 3 bands are used by the renderer, and this widget hints you which band is assigned to which color.
You can also use a single band renderer with a multi band raster, then you will only see a single band in the layer panel, the band that is d

[2021-01-09 20:46] rduivenvoorde commented on #40906
@uclaros but the 4th band IS used for rendering (determines opacity/transparency.
These aerials (available for most cities in NL) are purely visuals, but 'sold' per city, that is why they 'cut out' those parts...

![Screenshot-20210109213928-1036x388](https://user-images.githubusercontent.com/731673/104108243-47b3d400-52c3-11eb-843a-9005959aab4e.png)
):

My issue is that to use those images as wms

[2021-01-09 21:32] nyalldawson commented on #40927
For reference: this is fixed in newer versions of the proj library, so it will work in qgis as soon as the proj library version is updated

[2021-01-10 07:36] GSavelev-VSEGEI commented on #40924
Thanks to everybody!

I'm sorry, I didn't know QGIS sets up its own python on Windows.

The easiest way is step-by-step (well there're three of them) described [here](https://gis.stackexchange.com/a/359002/155670).

This worked, of course, for me also:

[2021-01-10 07:36] #40924 closed

[2021-01-10 08:15] uclaros commented on #40906
It seems I missed that you can assign a band for transparency in the transparency properties tab > custom transparency options!
So yes, **if** a band is assigned to transparency then it should be displayed on the widget, I agree!

[2021-01-10 11:05] gioman commented on #40922
@envirosolutionspl I extensively edited your title and description to make the problem clearer.

[2021-01-10 11:17] gioman commented on #37131
@erikthysell can you please clarify what dialog are you referring to? even better if you add attach a short video with the steps to reproduce the issue, thanks.

[2021-01-10 18:20] Schwaeble opened #40931 "crash of QGIS"

[2021-01-10 18:24] Schwaeble commented on #40931
## User Feedback

Each time I load a particular file, and want to close it again or quit the program, the program. crashes. I removed all layers from the file and rebuild it, the file still crashes

## Report Details

**Crash ID**: [56f27d44bbafb5194f016810bfadc15d1d840442](https://github.com/qgis/QGIS/search?q=56f27d44bbafb5194f016810bfadc15d1d840442&type=Issues)

**Stack Trace**
<pre>
QgisApp::p

[2021-01-10 18:24] #40931 closed

[2021-01-10 18:26] Schwaeble opened #40932 "qgis crashes when closing file or quitting"
User Feedback
Each time I load a particular file, and want to close it again or quit the program, the program. crashes. I removed all layers from the file and rebuild it, the file still crashes

Report Details
Crash ID: 56f27d44bbafb5194f016810bfadc15d1d840442

Stack Trace

QgisApp::projectTemporalRangeChanged :
QMetaObject::activate :
QgsProject::clear :
QgisApp::closeProject :
QgisApp::fileNew :

[2021-01-10 18:37] mlennert opened #40933 "WMTS Simple profile support"
**Feature description.**

As far as I can tell, QGIS Server only implements the WMTS version 1.0.0 standard, but not the WMTS [Simple profile](https://docs.opengeospatial.org/is/13-082r2/13-082r2.html) which allows calling the tiles using an XYZ URL:

http://mycompany.com/wmts/1.0.0/tiles/oceans/default/smerc/{TileMatrix}/{TileCol}/{TileRow}.png

[If I'm mistaken about this, please point me to the

[2021-01-10 19:26] m-kuhn commented on #40932
Can you repeat the test with the latest QGIS 3.16 (3.14 is EOL)?
If it still happens, are you able to share this particular file?

[2021-01-10 21:10] renevandervelde opened #40934 "3.16.2-Hannover Max OSX Font dialog box bug"
Clicking the font dialog box in the layout manager causes Qgis 3.16.2 to quit without displaying an errormessage.

OS: Mac OSX 10.13.6

[2021-01-10 21:12] renevandervelde commented on #40934
Similarity with https://github.com/qgis/QGIS/issues/40278 but bug is also happening in Title box font dialog in Legenda.

[2021-01-10 22:47] #40894 closed

[2021-01-11 00:04] roya0045 commented on #40934
As stated in the other ticket, can you update to 10.15?

[2021-01-11 00:17] Schwaeble commented on #40932
That was a strange trip. It started that I had 3.16 installed just recently. Through this incident, I noticed that I unbeknown was still running 3.14. Now I’m running 3.16 is which is listed as Hannover in the installed programs list. But it comes up as 3.2 Bonn and it fixed the problem.

Thank you guys for what you are doing for us. It is such a tremendous service.

Jake

From: Matthias Kuhn
Sent

[2021-01-11 00:58] ismailsunni commented on #36584
I think the comment from @rouault (https://github.com/qgis/QGIS/issues/36584#issuecomment-634572392) has enough information for the issue.

[2021-01-11 02:06] DanielFlaum commented on #40808
It's fixed now for me! Other people experiencing this problem with QGIS 3.16 on Fedora 33 should be able to run `sudo dnf update` to get things working. Should work on Fedora 32 as well.

[2021-01-11 02:29] #40808 closed

[2021-01-11 06:21] #40932 closed

[2021-01-11 06:53] Samweli commented on #40871
@rduivenvoorde I confirmed this issue few days ago, but recently I can't reproduce it in master, everything seems to work as expected, do you still find this issue on QGIS master?

[2021-01-11 06:55] Samweli commented on #40868
Hi @rduivenvoorde, I now wonder if this is an issue or the expected behavior from the finding best frame logic?

[2021-01-11 11:07] gioman commented on #40934
closing as duplicate, eventually add your notes in the other ticker.

[2021-01-11 11:07] #40934 closed

[2021-01-11 12:34] jerr0328 commented on #32167
I want to point out that users on corporate Macs with MDM might not be able to open QGIS without notarization. I've faced this issue, the ctrl-click (right click) and "Open" trick does not work in this case, and there's no option for opening it in the security settings.

I'm hoping it's not too much to work to get this through the CI process. I'd be happy to help where I can.

[2021-01-11 12:44] PeterPetrik commented on #32167
since notarization also requires a bunch of other (stricter) security rules for shared libraries, it may or may not be difficult. I think the task to make notarization happen could be anything between 2 days to 2 weeks of work

[2021-01-11 14:11] renevandervelde commented on #40934
No... other software requirements prevent me from currently updating
towards 10.5

Op ma 11 jan. 2021 om 01:05 schreef Alex <notifications@github.com>:

[2021-01-11 17:25] gioman opened #40943 "DB Manager python error on master"
try expand a PostGIS connection

[code]

QGIS master on Ubuntu 20.04.

[2021-01-11 18:04] gioman commented on #40943
I updated master and the error went away...

[2021-01-11 20:20] juneeighteen commented on #40541
👁️ Also seeing the same issue.
macOS Big Sur 11.1
QGIS 3.16

[2021-01-12 03:38] #40907 closed

[2021-01-12 03:47] #18596 closed

[2021-01-12 09:55] vincentschut opened #40954 "qgis minimizes panel width when I have panels at both sides"
**Describe the bug**
When using panels at both sides of the screen (e.g. browser and layers left, value tool and layer styling right side), qgis miminizes the panel widths at each new startup.
Instead I'd like qgis to retain the exact panel widths that I had when I closed qgis.

**How to Reproduce**
Start qgis with new profile, put browser and layer panel at the left side of the window, put layer

[2021-01-12 10:00] drugstorer-172 opened #40955 "Errormessage gpx export QGIS 3.16.2 Hannover German"
I have a simple shapefile with 2 fields: ID and Name.
When I try to export it into a gpx file, I always get this message:
Export in Vektordatei schlug fehl.
Fehler: Erzeugung des Felds id gescheitert (OGR-Fehler: Field of name 'id' is not supported in GPX schema. Use GPX_USE_EXTENSIONS creation option to allow use of the element.)
The file is created but empty.
I filled the ID-field with numbers b

[2021-01-12 10:09] nyalldawson commented on #40954
It's a qt 5.15 bug unfortunately. Remains to be seen if we can workaround this in QGIS...

[2021-01-12 10:11] nirvn commented on #40954
It's a huge PITA.

[2021-01-12 10:12] nirvn commented on #40954
We'll likely suffer from it for a long time now that Qt won't release any more 5.15 LTRs unless a workaround is found. :cry:

[2021-01-12 10:36] rduivenvoorde commented on #40871
@Samweli confirmed here, I think this is fixed now. Thanks! Will close.

[2021-01-12 10:36] #40871 closed

[2021-01-12 10:38] MrChebur opened #40956 "Add "Delete all rings" tool in Advanced Digitizing tools panel"
**Feature description.**
The current interactive workflow of rings removing from a polygon can be very time consuming. You have to either click on each ring (since the selection of several rings is not supported), or use the vertex editing to remove unnecessary rings, which is also not very convenient (see animation).

To simplify this work, I suggest adding a new tool to the Advanced Digitizing T

[2021-01-12 10:40] rduivenvoorde commented on #40868
@Samweli I cannot exactly see what you are doing in the screencasts. But to me the 'finding best frame' (when switching units) seems to be ok again.
The most important thing to note, is that (I think) in the 'Frame:....' text the start should stay the same, OR go one step back in case you for example go from minutes 1:30 to hours: should go to 1:00 then (I think)...
The issue with having the slide

[2021-01-12 10:43] MrChebur commented on #40956
The [Delete holes](https://docs.qgis.org/3.16/en/docs/user_manual/processing_algs/qgis/vectorgeometry.html#qgisdeleteholes) tool does not suit me because some of the rings need to be retained, which is why the removal process is interactive.

[2021-01-12 11:36] vincentschut commented on #40954
Ah, good to know, thanks for the info. Shall I close this bug report then? Or would you like to leave it open?

[2021-01-12 11:39] stevem1983 opened #40958 "crash and frequent not responding"
## User Feedback

Crash while saving, but continually not responding when trying to do various task. Have uninstalled both versions and reinstalled both versions and still happening.

[2021-01-12 11:56] vincentschut commented on #40954
Related question then: is qgis already compatible (and usable) with qt6? Or does it depend on any of the modules that are planned only to appear in 6.1 or even 6.2?

[2021-01-12 12:37] gioman commented on #40958
@stevem1983 report largely incomplete. Try with a new QGIS profile, no 3rd party plugins installed. Update to the latest 3.10 or 3.16. If the problem persist file a new ticket with all the requested details https://github.com/qgis/QGIS/issues/new?assignees=&labels=Bug&template=10_bug_report.md&title=

[2021-01-12 12:37] #40958 closed

[2021-01-12 12:40] uclaros commented on #40956
Select the polygons you want to retain their rings > invert selection > run *Delete holes* in *edit in-place* mode > Done!
Only selected features take place in the algorithm, the unselected will retain their holes!

[2021-01-12 12:42] Samweli commented on #40868
For me, it now only happens when using the Temporal controller for the first time after restarting QGIS.

1 . Open QGIS for first time.
2.  Enable "Animated temporal navigation" . This should show the Temporal controller widget with the temporal extents having exactly the same start and end range.
3.  Edit start range of the temporal extents to an earlier date than of the end range.  The slider wi

[2021-01-12 12:46] gioman commented on #40955
@drugstorer-172

https://gdal.org/drivers/vector/gpx.html

`GPX_USE_EXTENSIONS: By default, the GPX driver will discard attribute fields that do not match the GPX XML definition (name, cmt, etc…). If GPX_USE_EXTENSIONS=YES is specified, extra fields will be written inside the<extensions> tag.`

In other words: if you want to write a GPX that contains column names that are not part of the specifica

[2021-01-12 12:46] #40955 closed

[2021-01-12 12:49] rduivenvoorde commented on #40868
Ah, I see what you mean now.
But I think that is expected behaviour.
As the start timeframe (in my case now): 2021-01-12 00:00:00 - 2021-01-12 00:00:00
So START==2021-01-12 00:00:00
Now if you try to change the starting point (or the end point of the Range), the guide will try to stick to the old starting point.
Which in this case IS 2021-01-12 00:00:00
So although maybe not intuitive, I think it

[2021-01-12 12:51] MrChebur commented on #40956
@uclaros OMG, didn't know about this mode!